/* -----------------------------------
Template:  Theme Name

NOTE: This is Footer style file. All footer related style included in this file.

--------------------------------------*/
.footer-area{}
.footer > h3 {
  color: #ffffff;
  font-weight: 500;
}
.footer-wrapper span {
  font-size: 60px;
  margin: 0 30px;
  font-family:"Kaushan Script",cursive;
}
.footer-menu ul {
    text-align: center;
}
.footer-menu ul li {
    display: inline-block;
}
.footer-menu ul li a {
    color: #ffffff;
    font-weight: 700;
    margin: 0 10px;
}
.footer-menu ul li:hover a{
	color:#ff6666
} 
.copyright > p {
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 0;
}
.copyright p a{font-weight:600}
.copyright p a:hover{
	color:#fff;
}
