/* -----------------------------------
Template:  Theme Name

NOTE: This is gallery style file. All gallery related style included in this file.

--------------------------------------*/
.single-gallery-col {
  float: left;
  padding: 5px;
  width: 25%;
}
.single-gallery-row{
	margin-left:-5px;
	margin-right:-5px;
}
.single-gallery-col{}
.single-gallery-img{
	overflow:hidden;
}
.single-gallery-img a{
	position:relative;
	display:inline-block;
}
.single-gallery-img a img{}

.single-gallery-img a::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 100%;
	opacity:0;
}
.single-gallery-img a:hover::before {
    opacity: 0.5;
}
.single-gallery-img a::after {
  color: #ffffff;
  content: "\f275";
  font-family: Material-Design-Iconic-Font;
  font-size: 50px;
  font-weight: 700;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 40%;
  transform: scale(3);
  transition: all 0.4s ease 0s;
  display:inline-block;
}
.single-gallery-img a:hover:after {
  opacity: 1;
  transform: scale(1);
  z-index: 11;
}