/* -----------------------------------
Template:  Theme Name

NOTE: This is others-page style file. All others-page lated style included in this file.
1.contact-page
--------------------------------------*/
/*------------------ 
 1.contact-page
 ------------------- */
/* .breadcrumbs-start*/
.breadcrumbs-area {
  background: rgba(0, 0, 0, 0) url("img/contact/bg.jpg") no-repeat scroll center center / cover ;
  height: 300px;
}
.breadcrumbs ul li {
  color: #ffffff;
  display: inline-block;
  margin-right: 3px;
  text-transform: capitalize;
}
.breadcrumbs ul li a {
  color: #ffffff;
  margin-right: 7px;
  text-transform: capitalize;
}
.breadcrumbs ul li a:hover{
	color:#ff6666;
}
.contact-information {
  padding: 40px;
  transition: all 0.3s ease 0s;
}
.contact-information:hover{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease 0s;	
}
.information-title h3 {
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
  color: #000;
}
.information-title h3::before {
  background: #ff6666 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 50px;
  bottom: 0;
}

.information-place {
}
.information-place ul li {
    font-size: 20px;
    margin: 14px 0;
}
.information-place ul li i {
  color: #333333;
  float: left;
  margin-top: 7px;
  margin-right: 10px;
}
.information-place ul li span {
    display: inline-block;
    font-size: 16px;
}
.information-place ul li .zmdi.zmdi-pin.zmdi-hc-fw {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  text-align: left;
}
.contact-us-area .information-form .wish-search .information-btn {
  background: #ff6666 none repeat scroll 0 0;
  border: 1px solid #ff6666;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  width: 140px;
  transition:all .3s;
}
.contact-us-area .information-form .wish-search .information-btn:hover{
	background:#fff;
	color:#ff6666;
}
.contact-map{
	transition: all 0.4s ease 0s;
	padding:20px;
}
.contact-map:hover{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease 0s;		
}
.contact-map #googleMap {
  height: 620px;
  padding:20px;
}
.gallery-btn {
  border: 1px solid#ff6666;
  padding:  8px 30px;
  display: inline-block;
  margin-top: 25px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
}

/* ----------------------
	404-page
------------------------- */
.not-found-area {
  padding: 250px 0;
}
.not-found{}
.not-found-img{
	position:relative;
}
.not-found-img > h3 {
  bottom: 44%;
  display: inline-block;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
.not-found-content{}
.not-found-btn {
  border: 1px solid #ff5555;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 30px;
  font-weight:700;
  font-size:16px;
}








