/*

Template:  
Author: 
Version: 1
Design and Developed by: 

Note: This is Short code style file. All Short code related style included in this file. 

*/

@import url("default.css");
@import url("header.css");
@import url("slider.css");
@import url("cauple.css");
@import url("timeline.css");
@import url("gallery.css");
@import url("event.css");
@import url("about.css");
@import url("send-wish.css");
@import url("latest-blog.css");
@import url("attend.css");
@import url("footer.css");
@import url("others-page.css");