/* -----------------------------------
Template:  Theme Name

NOTE: This is Slider style file. All Slider related style included in this file.

--------------------------------------*/
.slider-area{}
.single-slider{
	position:relative;
}
.slider-img{
	position:relative;
}
.slider-img::before {
  background: #000000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  z-index:1;
}
.slider-content {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index:2;
}
.slider-content h2 {
  font-size: 90px;
  font-family: 'Kaushan Script', cursive;
}
.slider-content p {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.slider-btn{
  border: 2px solid #ff6666;
  border-radius: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 30px;
  color:#fff;
}
.slider-btn:hover{
	background:#ff6666;
	color:#fff;
}
.dotted-style-1 .owl-carousel .owl-controls .owl-dots {
    bottom: 20px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
.dotted-style-1 .owl-carousel .owl-controls .owl-dots .owl-dot {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(246, 249, 250, 0.45);
  display: inline-block;
  height: 10px;
  margin: 0 9px;
  width: 10px;
}
.dotted-style-1 .owl-carousel .owl-controls .owl-dots .owl-dot.active{
	background:#ff6666;
}
