@import "../variables";
@import "../mixins";
/*----------------------
    Blog Details 
------------------------*/

.blog__quote {
    margin-top: 40px;
    h4 {
        color: #333333;
        font-family: Lato;
        font-size: 18px;
        margin-bottom: 19px;
    }
    p {
        margin-bottom: 11px;
    }
    blockquote {
        color: #999999;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 28px;
        margin-top: 26px;
        padding-left: 24px;
        padding-right: 13%;
        position: relative;
        &::after {
            background: #81ad7b none repeat scroll 0 0;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 4px;
        }
    }
    .blog__img {
        display: flex;
        flex-wrap: wrap;
        list-style: outside none none;
        margin: 50px -15px 42px;
        padding: 0;
        li {
            flex-basis: 50%;
            padding: 0 15px;
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
    .bl__dtl__meta {
        align-items: center;
        border-bottom: 1px solid #ebebeb;
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        margin-top: 64px;
        padding-bottom: 13px;
        .tag {
            align-items: center;
            display: flex;
            span {
                color: #999999;
                font-size: 13px;
                margin-right: 12px;
                text-transform: uppercase;
            }
            ul {
                display: flex;
                list-style: outside none none;
                margin: 0;
                padding: 0 0 0 12px;
                li {
                    margin-right: 10px;
                    a {
                        background: #f7f7f7 none repeat scroll 0 0;
                        color: #666666;
                        display: block;
                        font-size: 13px;
                        height: 35px;
                        line-height: 35px;
                        padding: 0 15px;
                        transition: all 0.3s ease 0s;
                        &:hover {
                            background: $theme-color none repeat scroll 0 0;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .share {
            display: flex;
            p {
                color: #999999;
                font-size: 13px;
                margin-right: 12px;
                padding-right: 12px;
                position: relative;
                text-transform: uppercase;
                &::before {
                    background: #ebebeb none repeat scroll 0 0;
                    content: "";
                    height: 9px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    width: 1px;
                }
            }
            ul {
                display: flex;
                list-style: outside none none;
                margin: 0;
                padding: 0;
                li {
                    a {
                        i {
                            background: #f7f7f7 none repeat scroll 0 0;
                            border-radius: 100%;
                            color: #353535;
                            font-size: 12px;
                            height: 26px;
                            line-height: 26px;
                            text-align: center;
                            width: 26px;
                            transition: 0.3s;
                            &:hover {
                                background: $theme-color none repeat scroll 0 0;
                                color: #fff;
                            }
                        }
                    }
                    &+li {
                        margin-left: 12px;
                    }
                }
            }
        }
        .comment {
            p {
                margin: 0;
                i {
                    color: #252525;
                    font-size: 18px;
                    margin-right: 10px;
                }
                a {
                    color: #999999;
                    font-size: 12px;
                    margin: 0;
                    span {
                        margin-left: 12px;
                        padding-left: 12px;
                        position: relative;
                        &::before {
                            background: #e1e1e1 none repeat scroll 0 0;
                            content: "";
                            height: 10px;
                            left: 0;
                            position: absolute;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);
                            width: 1px;
                        }
                    }
                }
            }
        }
    }
}

.panora__author {
    align-items: center;
    display: flex;
    margin-bottom: 57px;
    .thumb {
        margin-right: 20px;
        width: 156px;
        img {
            width: 100%;
        }
    }
    .content {
        h3 {
            color: #333333;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 13px;
        }
        p {
            color: #666666;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        ul {
            list-style: outside none none;
            padding: 0;
            li {
                a {
                    i {
                        background: #f7f7f7 none repeat scroll 0 0;
                        border-radius: 100%;
                        color: #353535;
                        font-size: 12px;
                        height: 26px;
                        line-height: 26px;
                        text-align: center;
                        width: 26px;
                        transition: 0.3s;
                        &:hover {
                            background: $theme-color none repeat scroll 0 0;
                            color: #fff;
                        }
                    }
                }
                &+li {
                    margin-left: 12px;
                }
            }
        }
    }
}

.popular__post {
    h2 {
        color: #333333;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 30px;
        padding-left: 32px;
        position: relative;
        text-transform: uppercase;
        &::before {
            background: #81ad7b none repeat scroll 0 0;
            content: "";
            height: 13px;
            left: 0;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 15px;
        }
        &::after {
            background: #81ad7b none repeat scroll 0 0;
            content: "";
            height: 13px;
            left: 18px;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 2px;
        }
    }
}

.popular__post__active {
    .popular__post {
        .content {
            padding-top: 30px;
            h3 {
                margin-bottom: 4px;
                a {
                    color: #424242;
                    font-size: 13px;
                    text-transform: uppercase;
                    display: block;
                    transition: 0.3s;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            span {
                color: #999999;
                font-size: 12px;
                font-style: italic;
            }
        }
    }
}

.panora__comment {
    margin-top: 70px;
    h2 {
        border-bottom: 1px solid #e1e1e1;
        color: #333333;
        font-size: 13px;
        margin-bottom: 39px;
        padding-bottom: 13px;
        text-transform: uppercase;
    }
    .comment {
        align-items: center;
        display: flex;
        .title {
            display: flex;
            justify-content: space-between;
            h4 {
                color: #333333;
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 0;
                text-transform: uppercase;
            }
            a {
                background: #ebebeb none repeat scroll 0 0;
                color: #424242;
                font-size: 13px;
                height: 24px;
                padding: 0 13px;
                text-transform: capitalize;
                transition: 0.3s;
                &:hover {
                    background: $theme-color none repeat scroll 0 0;
                    color: #fff;
                }
            }
        }
        .thumb {
            flex-basis: 8%;
            padding-right: 14px;
            img {
                width: 100%;
            }
        }
        .content {
            flex-basis: 92%;
            span {
                color: #949494;
                font-style: italic;
            }
            p {
                color: #424242;
                margin: 2px 0 0;
            }
        }
        &.comment__reply {
            margin-bottom: 40px;
            margin-left: 70px;
            margin-top: 40px;
        }
    }
}

.comment__form {
    margin-top: 80px;
    h2 {
        color: #333333;
        font-size: 13px;
        text-transform: uppercase;
    }
    .input__box {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        .box__single {
            flex-basis: 50%;
            padding: 0 15px;
            input {
                background: #f2f2f2 none repeat scroll 0 0;
                border: 0 none;
                color: #b4b4b4;
                height: 55px;
                margin-top: 20px;
                padding: 0 20px;
                width: 100%;
                outline: none;
            }
            textarea {
                border: 1px solid #e2e2e2;
                margin-top: 20px;
                min-height: 204px;
                resize: none;
                width: 100%;
                padding: 20px;
                outline: none;
            }
        }
    }
    a {
        &.pr__btn {
            margin-top: 30px;
        }
    }
}

.owl-theme .owl-nav {
    margin-top: 0;
}

.popular__post__active .owl-nav div {
    left: -15px;
    position: absolute;
    top: 26%;
}

.popular__post__active .owl-nav div.owl-next {
    left: auto;
    right: -15px;
}

.popular__post__active.owl-theme .owl-nav [class*="owl-"] {
    background: #f7f7f7 none repeat scroll 0 0;
    border-radius: 5px;
    color: #adadad;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    line-height: 27px;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
    width: 30px;
}

.popular__post__active.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #81ad7b none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}

/* Responsive Css*/

@media #{$xx-layout} {}

@media #{$xlg-layout} {}

@media #{$lg-layout} {}

@media #{$md-layout} {
    .panora__comment .comment .thumb {
        flex-basis: 16%;
    }
}

@media #{$sm-layout} {
    .panora__author {
        align-items: flex-start;
    }
    .panora__author .content p {
        margin-bottom: 12px;
    }
    .panora__author .content h3 {
        margin-bottom: 4px;
    }
    .blog__quote .bl__dtl__meta {
        display: block;
    }
    .blog__quote .bl__dtl__meta .comment {
        margin: 11px 0;
    }
    .panora__comment .comment .thumb {
        flex-basis: 25%;
    }
}

@media #{$xs-layout} {}

@media #{$xxs-layout} {
    .panora__comment .comment .thumb {
        flex-basis: 44%;
    }
    .panora__comment .comment.comment__reply {
        margin-left: 0;
    }
    .comment__form .input__box {
        display: block;
    }
}