/* Laptop Device :1400 */
@media (min-width: 1340px) and (max-width: 2300px){
 

    
}
/* Laptop Device :1200 */
@media (min-width: 1200px) and (max-width: 1339px){
    
.main-img > img {
  height: 500px;
}
   
    
}


/* Normal desktop :992px */
@media (min-width: 992px) and (max-width: 1199px) {

.main-menu-area ul > li > a {
  padding: 40px 10px;
}  
.slider-text-info {
  padding: 140px 0;
}  
.slider-wrapper {
  height: 610px;
  align-items: center;
  background-position: center center;
  background-size: cover;
  display: flex;
}
.right-blok-box {
  margin-top: 34px;
}   
.provide-title {
  font-size: 48px;
}
.provide-section {
  padding-bottom: 100px;
  padding-top: 90px;
} 
.main-img > img {
  height: 500px;
}   
.weekly-main-wrap .main-content {
  padding: 40px 20px;
}    
.weekly-main-wrap .main-content h2 {
  margin-bottom: 8px;
}   
.weekly-main-wrap .main-content h4 {
  margin-bottom: 8px;
}  
.aritcles-content > a {
  font-size: 15px;
}  
.sidebar_widget_wrapper {
  padding-right: 0px;
}  
    
    
    
}
/* Tablet desktop :768px */
@media (min-width: 768px) and (max-width: 991px) { 
    
    
.header-main-content {
  justify-content: flex-end;
}
 
.slider-wrapper {
  height: 540px;
}  
.slider-text-info {
  padding: 100px 0;
}
.slider-text-info h1 {
  font-size: 268%;
  line-height: 46px;
}    
.slider-text-info p {
  line-height: 24px;
}   
    
    
.weekly-main-wrap .main-content {
  height: inherit;
  left: inherit;
  margin-top: inherit;
  padding: 50px 0 0;
  position: inherit;
  top: inherit;
  transform: inherit;
  width: inherit;
}
.mobile-menu-area {
  margin-top: 10px;
} 
.header-area {
  padding-bottom: 20px;
}   
.boxed-layout .slider-wrapper {
  height: 500px;
}   
.boxed-layout .slider-text-info {
  padding: 112px 0;
}
.boxed-layout .weekly-main-wrap .main-content {
  height: inherit;
  left: inherit;
  margin-top: inherit;
  padding: 50px 0 0;
  position: inherit;
  top: inherit;
  transform: inherit;
  width: inherit;
}     
.dashboard-upper-info {
  border-bottom: medium none;
  border-top: medium none;
}    
 
.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
  border-right: medium none;
  padding: 0 0 20px;
}   
.tab-content.dashboard-content {
  margin-top: 100px;
}  
    
    
    
    
    
    
    
    
    
    
    
    

} 
/* small mobile :320px */
@media (max-width: 767px) {
.container {width:100%}
    
.r-pt-40 {padding-top: 40px;} 
.mobile-menu-area {
  margin-top: 10px;
} 
.header-area {
  padding-bottom: 20px;
}
.logo {
  text-align: center;
}
.header-main-content {
  justify-content: center;
}
.right-blok-box {
  margin-bottom: 10px;
  margin-top: 15px;
}
.slider-active .owl-nav button {
  display: none;
} 
.slider-text-info h1 {
  font-size: 188%;
  line-height: 36px;
}  
.slider-text-info p {
  line-height: 22px;
  padding-right: 0;
}   
.right-blok-box .blog-search.active {
  top: 60px;
} 
.mine-cart-box {
  position: inherit;
}
.mine-cart-box ul.mini-cart {
  left: 0;
  margin: auto;
  right: 0;
   width: 290px;
}
.mini-cart-btns .cart-btns a {
  padding: 0 20px;
}
.slider-text-info .slier-btn a {
  font-size: 14px;
  font-weight: 400;
  height: 41px;
  line-height: 41px;
  padding: 0 25px;
} 
.slider-wrapper {
  height: 460px;
}  
.slider-text-info {
  padding: 70px 0;
}   
.section-title h2 {
  font-size: 20px;
}    
.provide-title {
  font-size: 29px;
  line-height: 39px;
}
.product-tabs-list li a {
  border: medium none;
  padding: 12px;
}   
.count_products {
  right: 12px;
  top: 0px;
}    
    
.weekly-flash-inner {
  margin: 70px 0;
  padding: 0 5px;
}
    
.weekly-main-wrap .main-content {
  height: inherit;
  left: inherit;
  margin-top: inherit;
  padding: 50px 0 0;
  position: inherit;
  top: inherit;
  transform: inherit;
  width: inherit;
}
.weekly-main-wrap .main-content h2 {
  font-size: 22px;
  margin-bottom: 15px;
}
    
.collection-shoing a {
  margin: 10px 10px 0;
}    
.product-area.ptb-100 {
  padding: 70px 0;
}
.provide-section {
  padding-bottom: 100px;
  padding-top: 90px;
}   
.ptb-100 {
  padding: 70px 0;
}   
.footer-top {
  padding-bottom: 70px;
  padding-top: 30px;
}   
.boxed-layout .site-content {
  padding: 0 10px;
}  
.boxed-layout .slider-wrapper {
  height: 420px;
}   
.boxed-layout .weekly-main-wrap .main-content {
  height: inherit;
  left: inherit;
  margin-top: inherit;
  padding: 50px 0 0;
  position: inherit;
  top: inherit;
  transform: inherit;
  width: inherit;
}    
.product-layout-list .product-info h3 {
  margin-top: 20px;
}
.result-count {
  text-align: center;
}    
.page-numbers {
  margin-bottom: 10px;
  text-align: center;
}
.main-content-wrapper.pt-100 {
  padding-top: 70px;
}   
.checkout-coupon .button-apply-coupon {
  margin-left: 5px;
} 
.checkout-review-order.mt-30 {
  margin-top: 70px;
}  
.footer-area.pt-100 {
  padding-top: 70px;
} 
.page-title-inner {
  padding: 50px 0;
} 
.checkbox-form .single-form-row {
  margin: 0 0 20px;
}    
.cart-table .coupon-all input.button {
  padding: 0 15px;
}
.cart-table .coupon2 {
  float: inherit;
  margin-top: 60px;
}    
.cart-table .coupon-all {
  margin-top: 50px;
  overflow: hidden;
}  
.product-info-detailed.mt-100 {
  margin-top: 70px;
}   
.single-product-page-content {
  margin-top: 30px;
}  
.discription-tab-menu li {
  margin-right: 15px;
}  
.discription-tab-menu li a {
  padding: 0 10px;
}
.sidebar_widget_wrapper.pt-100 {
  padding-top: 70px;
}
.sidebar_widget_wrapper {
  padding-right: 0px;
  padding-left: 0;
}  
.blog-post-wrapper.pt-100 {
  padding-top: 70px;
}   
.single-comment {
  display: inherit;
}  
.comment_meta {
  margin-left: 0;
  margin-top: 20px;
}  
.children-comments {
  padding-left: 0;
} 
.input_half {
  width: 100%;
}
.input_half.right {
  padding-left: 0;
}
.input_half.left {
  padding-right: 0;
}  
.blog-details-area .post-title {
  font-size: 26px;
  line-height: 38px;
}  
blockquote {
  margin: 30px 0 30px 20px;
}
.comments-area .comment-title, .comment-respond .comment-reply-title {
  font-size: 18px;
  line-height: 26px;
}  
.contact-form-area {
  padding: 25px;
}   
    
.welcome-area p {
  max-width: 100%;
}  
.welcome-area h2 {
  font-size: 24px;
}
.welcome-area {
  margin-bottom: 40px;
}  
.main-content-wrapper.pb-70 {
  padding-bottom: 40px;
}
.prepare-title h2 {
  font-size: 22px;
}  
.prepare-title p {
  font-size: 16px;
}
.ptb-area {
  padding: 120px 0;
}
.prepare-area {
  margin-top: -180px;
}
.prepare-area.pb-80 {
  padding-bottom: 70px;
}
.project-count-area.pt-100 {
  padding-top: 70px;
}
.project-count-area.pb-70 {
  padding-bottom: 40px;
} 
.single-count h2 {
  font-size: 28px;
} 
.single-count span {
  margin-top: 15px;
  font-size: 16px;
}  
.related-products.pt-100 {
  padding-top: 70px;
}   
.dashboard-upper-info {
  border-bottom: medium none;
  border-top: medium none;
}    
.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
  border-right: medium none;
  padding: 0 0 20px;
}   
.tab-content.dashboard-content {
  margin-top: 70px;
}  
.dashboard-upper-info {
  margin-bottom: 70px;
}  
.dashboard-content #downloads .table-responsive .table > tbody > tr > td {
  min-width: 273px;
}  
.login-form-container {
  padding: 0;
}
.dashboard-content {
  padding: 15px;
}   
.account-login-form {
  padding: 20px;
}   
.account-login-form label {
  font-size: 14px;
} 
.dashboard-content .table-responsive .table > tbody > tr > td {
  min-width: 130px;
} 
.shop-top-bar.pt-100 {
  padding-top: 70px;
} 
.blog-page .sidebar_widget_wrapper {
  padding-left: 0;
}    
    
    
    
} 
/* Large Mobile :480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px} 

}









