/*--
    - Section Title Css
-------------------------------*/


.section-title{
    margin-bottom: 20px;
    text-align: center;
    h2 {
        font-size: 30px;
        margin-top: -5px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}