/*-------------------------- 
	Funfact Style
--------------------------*/
.funfact-area {
  background: rgba(0, 0, 0, 0) url("../../img/section-bg/funfact.jpg") no-repeat scroll center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.single-facts{}
.single-facts i {
  display: inline-block;
  font-size: 48px;
  margin-bottom: 14px;
}
.single-facts h1 {
  display: block;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 28px;
  padding-bottom: 17px;
  position: relative;
}
.single-facts h1::before {
  background-color: #222222;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}
.single-facts h1.plus::after {
  content: "+";
}
.single-facts p {
  font-size: 13px;
  font-weight: bold;
  line-height: 12px;
  text-transform: uppercase;
}