<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie" lang="en">
<![endif]-->
<html lang="en">

<head>
    <!-- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>TRICON</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,600,700" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Animated CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Prettyphoto Css -->
    <link rel="stylesheet" href="css/prettyPhoto.css">
    <!-- Theme CSS-->
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#scroll-menu" data-offset="65">
    <!-- Preloader -->
    <div class="preloader-wrap">
        <div class="preloader-inside">
            <div class="spinner spinner-1">
                <img src="img/logo.png" alt="responsive img">
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Scroll Top Button -->
    <a href="#home" class="smoothscroll">
        <div class="scroll-top"><i class="fa fa-angle-up"></i></div>
    </a>
    <!-- End Scroll Top Button -->
    <!-- Nav Section -->
    <header>
        <!-- Nav Section -->
        <nav class="navbar navbar-default navbar-fixed-top nav-area" id="scroll-menu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="responsive img"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home Style 1</a></li>
                                <li><a href="index-2.html">Home Style 2</a></li>
                                <li><a href="index-3.html">Home Style 3</a></li>
                            </ul>
                        </li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Service</a>
                            <ul class="dropdown-menu">
                                <li><a href="service-1.html">Service Light Color</a></li>
                                <li class="active"><a href="service-2.html">Service Persian Color</a></li>
                                <li><a href="single-service.html">Single Service</a></li>
                            </ul>
                        </li>
                        <li class="dropdown mega-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mega menu</a>
                            <div class="dropdown-menu mega-dropdown-menu row">
                                <div class="col-xs-12 col-sm-4">
                                    <ul>
                                        <li class="dropdown-header">Mega menu 1</li>
                                        <li class="divider"></li>
                                        <li><a href="#">Mega menu</a></li>
                                        <li><a href="#">Mega menu</a></li>
                                        <li><a href="#">Mega menu</a></li>
                                        <li><a href="#">Mega menu</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <ul>
                                        <li class="dropdown-header">Mega menu 2</li>
                                        <li class="divider"></li>
                                        <li><a href="#">Mega menu</a></li>
                                        <li><a href="#">Mega menu</a></li>
                                        <li><a href="#">Mega menu</a></li>
                                        <li><a href="#">Mega menu</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <ul>
                                        <li class="dropdown-header">Mega menu 3</li>
                                        <li class="divider"></li>
                                        <li><a href="#">Mega menu</a></li>
                                        <li><a href="#">Mega menu</a></li>
                                        <li><a href="#">Mega menu</a></li>
                                        <li><a href="#">Mega menu</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">portfolio</a>
                            <ul class="dropdown-menu">
                                <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                                <li><a href="portfolio-masonary.html">Portfolio Masonary</a></li>
                                <li><a href="portfolio-3.html">Portfolio + 3 Column</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="about-us.html">About</a></li>
                                <li><a href="feature.html">Feature</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="single-project.html">Single Project</a></li>
                                <li><a href="pricing-table.html">Pricing Table</a></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sub Menu</a>
                                    <ul class="dropdown-menu sub-menu">
                                        <li><a href="#">Sub Menu 1</a></li>
                                        <li><a href="#">Sub Menu 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-masonry.html"> Blog Masonry</a></li>
                                <li><a href="blog-left.html"> Blog Left Sidebar</a></li>
                                <li><a href="blog-right.html"> Blog Right Sidebar</a></li>
                                <li><a href="blog-single.html"> Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <div class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                        <form action="#" method="POST">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" placeholder="Search...." class="form-control placeholder" id="text-mail2">
                                    <span class="input-group-btn">
                                                    <a href="#" class="btn btn-default btn-search"><i class="fa fa-search"></i></a>
                                                </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </header>
    <!-- End Nav Section -->
    <!-- Hero Section -->
    <div class="page-header" id="home">
        <div class="header-caption">
            <div class="header-caption-contant">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="header-caption-inner">
                                <h1>Services</h1>
                                <p><a href="#">Home </a> > Services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!-- We Provide Section -->
    <div class="provide-area inner-padding4">
        <div class="provide-area-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-title-area-4 foo" data-sr='enter'>
                            <h2 class="section-title">WE PROVIDE QUALITY</h2>
                            <p>Lorem provide best service consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lor gna aliqua. Ut minim </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-1">
                        <div class="provide-massage">
                            <p><span class="text-bold">Tricon</span> provides the best services for elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud exercitation oris nisi ut aliquip exa</p>
                            <p>Lorem is a dummy text do eiusmod tempor dolor sit amet, onsectetur adip iscing elit, sed do por incididunt ut labore et lorna aliqua Ut enim onsectetur </p>
                            <div class="provide-short">
                                <img src="img/signature.png" alt="responsive img">
                                <h4 class="provide-designation">CEO Company</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="provide-img">
                            <img src="img/provide-img.png" alt="responsive img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End We Provide Section -->
    <!-- Service Section -->
    <div class="service-area inner-padding">
        <div class="container">
            <div class="row">
                <div class="tab-item">
                    <div class="col-xs-12 col-sm-6 col-md-3 foo" data-sr='enter'>
                        <div data-target="#tab-1" data-toggle="tab" class="service-item-tab">
                            <div class="service-tab-icon">
                                <img src="img/research-white.png" alt="responsive img">
                            </div>
                            <h4>Research</h4>
                            <p>Sed do eiusmod tempor olor sit amet, consectetur dicing</p>
                            <a href="#" class="btn btn-default btn-readmore-2" role="button">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 foo" data-sr='enter'>
                        <div data-target="#tab-2" data-toggle="tab" class="service-item-tab active">
                            <div class="service-tab-icon">
                                <img src="img/design-white.png" alt="responsive img">
                            </div>
                            <h4>Design</h4>
                            <p>Sed do eiusmod tempor olor sit amet, consectetur dicing</p>
                            <a href="#" class="btn btn-default btn-readmore-2" role="button">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 foo" data-sr='enter'>
                        <div data-target="#tab-3" data-toggle="tab" class="service-item-tab">
                            <div class="service-tab-icon">
                                <img src="img/developing-white.png" alt="responsive img">
                            </div>
                            <h4>Developing</h4>
                            <p>Sed do eiusmod tempor olor sit amet, consectetur dicing</p>
                            <a href="#" class="btn btn-default btn-readmore-2" role="button">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 foo" data-sr='enter'>
                        <div data-target="#tab-4" data-toggle="tab" class="service-item-tab">
                            <div class="service-tab-icon">
                                <img src="img/marketing-white.png" alt="responsive img">
                            </div>
                            <h4>Marketing</h4>
                            <p>Sed do eiusmod tempor olor sit amet, consectetur dicing</p>
                            <a href="#" class="btn btn-default btn-readmore-2" role="button">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="service-sublist-tab tab-content foo" data-sr='enter'>
                        <div class="tab-pane fade in" id="tab-1">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-paper-plane"></i>
                                        <h4 class="service-subtitle"><a href="#">Digital Innovation</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-tablet"></i>
                                        <h4 class="service-subtitle"><a href="#">Smart Device</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-bar-chart"></i>
                                        <h4 class="service-subtitle"><a href="#">Social Media Analytics</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-rocket"></i>
                                        <h4 class="service-subtitle"><a href="#">Modern Technology</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-shield"></i>
                                        <h4 class="service-subtitle"><a href="#">Security</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-paper-plane"></i>
                                        <h4 class="service-subtitle"><a href="#">Digital Innovation</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in active" id="tab-2">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-paint-brush"></i>
                                        <h4 class="service-subtitle"><a href="#">Graphic Design</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-pencil-square-o"></i>
                                        <h4 class="service-subtitle"><a href="#">UX Design</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-laptop"></i>
                                        <h4 class="service-subtitle"><a href="#">UI Design</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-magic"></i>
                                        <h4 class="service-subtitle"><a href="#">Print Design</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-desktop"></i>
                                        <h4 class="service-subtitle"><a href="#">Web design</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-mobile"></i>
                                        <h4 class="service-subtitle"><a href="#">Apps Design</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="tab-3">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-cog"></i>
                                        <h4 class="service-subtitle"><a href="#">CMS Development</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-plug"></i>
                                        <h4 class="service-subtitle"><a href="#">Plugin Development</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-file-code-o"></i>
                                        <h4 class="service-subtitle"><a href="#">Many shortcodes</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-laptop"></i>
                                        <h4 class="service-subtitle"><a href="#">Web Development</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-wrench"></i>
                                        <h4 class="service-subtitle"><a href="#">Theme Development</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-tablet"></i>
                                        <h4 class="service-subtitle"><a href="#">Responsive Layout</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="tab-4">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-cog"></i>
                                        <h4 class="service-subtitle"><a href="#">S.E.O</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-facebook"></i>
                                        <h4 class="service-subtitle"><a href="#">Facebook ads</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-bullhorn"></i>
                                        <h4 class="service-subtitle"><a href="#">Branding</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-diamond"></i>
                                        <h4 class="service-subtitle"><a href="#">Brand Communication</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-life-ring"></i>
                                        <h4 class="service-subtitle"><a href="#">Free Support</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="service-sublist-item">
                                        <i class="fa fa-mobile"></i>
                                        <h4 class="service-subtitle"><a href="#">SME</a></h4>
                                        <p>Sed do eiusmod tempor dolor sit amet, consectetur adipiscing elitse</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Service Section -->
    <!-- Call To Action Section -->
    <div class="action-area inner-padding">
        <div class="action-area-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="action-caption foo" data-sr='enter'>
                            <h2>WANT TO PURCHASE OUR TEMPLATE ?</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse</p>
                            <a href="#" class="btn btn-default btn-sm-outline" role="button">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Call To Action Section -->
    <!-- Pricing Section -->
    <div class="pricing-area inner-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title-area-4 foo" data-sr='enter'>
                        <h2 class="section-title">CHOOSE YOUR PACKAGE</h2>
                        <p>Lorem provide best service consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lor gna aliqua. Ut minim </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="pricing-package foo" data-sr='enter'>
                        <div class="pricing-header">
                            <div class="pricing-tag">30
                                <p>monthly</p>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <h2 class="pricing-title">BASIC</h2>
                            <ul class="package">
                                <li><span>250 Mb Storage</span></li>
                                <li><span>100 Email Accounts</span></li>
                                <li><span>5 My Sql Database</span></li>
                                <li><span>100 Email Forwards</span></li>
                                <li><span>24/7  Support</span></li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="btn btn-default btn-sm" role="button">TRY IT NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="pricing-package recommended foo" data-sr='enter'>
                        <div class="pricing-header">
                            <div class="pricing-tag">50
                                <p>monthly</p>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <h2 class="pricing-title">BUSINESS</h2>
                            <ul class="package">
                                <li><span>500 Mb Storage</span></li>
                                <li><span>200 Email Accounts</span></li>
                                <li><span>15 My Sql Database</span></li>
                                <li><span>200 Email Forwards</span></li>
                                <li><span>24/7  Support</span></li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="btn btn-default btn-sm" role="button">TRY IT NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="pricing-package foo" data-sr='enter'>
                        <div class="pricing-header">
                            <div class="pricing-tag">70
                                <p>monthly</p>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <h2 class="pricing-title">PREMIUM</h2>
                            <ul class="package">
                                <li><span>1 Gb Storage</span></li>
                                <li><span>500 Email Accounts</span></li>
                                <li><span>25 My Sql Database</span></li>
                                <li><span>500 Email Forwards</span></li>
                                <li><span>24/7  Support</span></li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="btn btn-default btn-sm" role="button">TRY IT NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="pricing-package foo" data-sr='enter'>
                        <div class="pricing-header">
                            <div class="pricing-tag">90
                                <p>monthly</p>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <h2 class="pricing-title">ULTIMATE</h2>
                            <ul class="package">
                                <li><span>20 Gb Storage</span></li>
                                <li><span>1000 Email Accounts</span></li>
                                <li><span>Unlimited My Sql Database</span></li>
                                <li><span>Unlimited Email Forwards</span></li>
                                <li><span>24/7  Support</span></li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="btn btn-default btn-sm" role="button">TRY IT NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pricing Section -->
    <!-- Testimonials Section -->
    <div class="testimonials-area inner-padding2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title-area-4 foo" data-sr='enter'>
                        <h2 class="section-title">CLIENT SPEECH</h2>
                        <p>Lorem provide best service consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lor gna aliqua. Ut minim </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 foo" data-sr='enter'>
                    <div id="testimonial-slider" class="owl-carousel owl-theme testimonial-carousel">
                        <div class="item">
                            <div class="client-img">
                                <img src="img/client-1.png" alt="responsive img">
                            </div>
                            <div class="client-details">
                                <h5 class="client-name">Zasica Luci, <span class="text-thin">CEO</span></h5>
                                <p>Lorem provide best service consectetur adipisc ing elit, sed do eiusmod tempor dolo sit amet cetur adipiscing elit sed do eiusm </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-img">
                                <img src="img/client-2.png" alt="responsive img">
                            </div>
                            <div class="client-details">
                                <h5 class="client-name">Ricardo Martin, <span class="text-thin">CEO</span></h5>
                                <p>Lorem provide best service consectetur adipisc ing elit, sed do eiusmod tempor dolo sit amet cetur adipiscing elit sed do eiusm </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-img">
                                <img src="img/client-3.png" alt="responsive img">
                            </div>
                            <div class="client-details">
                                <h5 class="client-name">Michael Lee, <span class="text-thin">CEO</span></h5>
                                <p>Lorem provide best service consectetur adipisc ing elit, sed do eiusmod tempor dolo sit amet cetur adipiscing elit sed do eiusm </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-img">
                                <img src="img/client-4.png" alt="responsive img">
                            </div>
                            <div class="client-details">
                                <h5 class="client-name">Aeardo Martin, <span class="text-thin">CEO</span></h5>
                                <p>Lorem provide best service consectetur adipisc ing elit, sed do eiusmod tempor dolo sit amet cetur adipiscing elit sed do eiusm </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="client-img">
                                <img src="img/client-5.png" alt="responsive img">
                            </div>
                            <div class="client-details">
                                <h5 class="client-name">Mdecardo Martin, <span class="text-thin">CEO</span></h5>
                                <p>Lorem provide best service consectetur adipisc ing elit, sed do eiusmod tempor dolo sit amet cetur adipiscing elit sed do eiusm </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->
    <!-- Clients Section -->
    <div class="client-area inner-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 foo" data-sr='enter'>
                    <div id="clients-slider" class="owl-carousel owl-theme clients-carousel">
                        <div class="item">
                            <img src="img/client-logo-1.png" alt="responsive img">
                        </div>
                        <div class="item">
                            <img src="img/client-logo-2.png" alt="responsive img">
                        </div>
                        <div class="item">
                            <img src="img/client-logo-3.png" alt="responsive img">
                        </div>
                        <div class="item">
                            <img src="img/client-logo-4.png" alt="responsive img">
                        </div>
                        <div class="item">
                            <img src="img/client-logo-5.png" alt="responsive img">
                        </div>
                        <div class="item">
                            <img src="img/client-logo-6.png" alt="responsive img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clients Section -->
    <!-- Footer Section -->
    <footer>
        <div class="footer-area foo" data-sr='bottom'>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="footer-content">
                            <img src="img/logo.png" alt="responsive img">
                            <ul class="address-list">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <div class="address-content">
                                        <p>8901 Marmora Raod, Glasgow, D04 89GR</p>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <div class="address-content">
                                        <p>Telephone : (801) 4256 9856</</p>
                                            <p>Telephone : (801) 4256 9658</p>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-globe"></i>
                                    <div class="address-content">
                                        <p>Email : info@tricon.com</p>
                                        <p>Web : www.tricon.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="footer-content">
                            <h5>OUR FEATURES</h5>
                            <ul class="feature-list">
                                <li>
                                    <a href="#">100 % Responsive design</a>
                                </li>
                                <li>
                                    <a href="#">Retina Display</a>
                                </li>
                                <li>
                                    <a href="#">PIxel Perfect</a>
                                </li>
                                <li>
                                    <a href="#">Modern Design</a>
                                </li>
                                <li>
                                    <a href="#">Clean Code</a>
                                </li>
                                <li>
                                    <a href="#">Awesome Slider</a>
                                </li>
                                <li>
                                    <a href="#">Multipurpose Theme</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="footer-content">
                            <h5>FROM INSTAGRAM</h5>
                            <ul class="instagram-list">
                                <li>
                                    <a href="#"><img src="img/instagram-img-1.png" alt="responsive img"></a>
                                    <a class="instagram-link" href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/instagram-img-2.png" alt="responsive img">
                                    </a>
                                    <a class="instagram-link" href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/instagram-img-3.png" alt="responsive img">
                                    </a>
                                    <a class="instagram-link" href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/instagram-img-4.png" alt="responsive img">
                                    </a>
                                    <a class="instagram-link" href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/instagram-img-5.png" alt="responsive img">
                                    </a>
                                    <a class="instagram-link" href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><img src="img/instagram-img-6.png" alt="responsive img">
                                    </a>
                                    <a class="instagram-link" href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1">
                        <div class="footer-content">
                            <h5>QUICK CONTACT</h5>
                            <div class="footer-form">
                                <p>Lorem ipsum dolor sit amet, consectetur acinglit sed do eiusmod tempor inciidunt ut labore</p>
                                <form action="#" method="POST">
                                    <div class="form-group">
                                        <label for="fname">Your E-mail address ...</label>
                                        <div class="input-group">
                                            <input type="text" placeholder="Type your E-mail address ..." class="form-control" id="text-mail3">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fname">Write here ...</label>
                                        <div class="input-group">
                                            <textarea class="form-control form-message" placeholder="Write here ... " id="InputComment" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-btn">
                                        <button type="submit" class="btn btn-default btn-submit">SEND</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Ends Footer Section -->
    <!-- Copyright Section -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="footer-copyright">Copyright © 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Ends Copyright Section -->
    <!-- Scripts -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <!-- Isotope Js -->
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/isotope_custom.js"></script>
    <!-- Masonary Js -->
    <script src="js/masonry.pkgd.min.js"></script>
    <!-- Prettyphoto js -->
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>
