/* Normal desktop :1366px. */
@media (min-width: 1170px) and (max-width: 1366px) {

.mainmenu ul li a {
  padding: 55px 10px;
}
/* Slider-1 */
.slider-content .layer-1 {
  margin-left: 16%;
  width: 41%;
}
.layer-1 h5, .layer-2 h5 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}
.layer-1 h2, .layer-2 h2 {
  font-size: 52px;
  line-height: 60px;
  margin-bottom: 25px;
}
.layer-1 a, .layer-2 a {
  margin-top: 35px;
}
/* Home-2 */
.upcomming-about {
  right: 185px;
  width: 400px;
}
.upcomming-product.upcomming-product-2 .upcomming-about {
  left: 185px;
}
.upcomming-about h2 {
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 15px;
}
.upcomming-about p {
  margin-bottom: 25px;
}
.page-banner-area.style-2 .page-banner-brief h2 {
  margin: 0 0 0 6%;
}



}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {

.cart-total {
  margin-left: 30px;
  width: 180px;
}
.mainmenu ul li a {
  padding: 55px 10px;
}
/* Slider */
.slider-content .layer-1 {
  margin-left: 160px;
  width: 390px;
}
.layer-1 h5, .layer-2 h5 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}
.layer-1 h2, .layer-2 h2 {
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 15px;
}
.layer-1 a, .layer-2 a {
  padding: 10px 30px;
  margin-top: 25px;
}
/* content */
.single-category h2 {
  font-size: 20px;
}
.single-category span .shop-now {
  width: 110px;
}
.fashion-details {
  margin-top: 105px;
}
.banner-brief h2 {
  font-size: 36px;
  line-height: 42px;
}
.banner-brief {
  top: 30px;
}
.footer-top {
  padding: 70px 160px;
}
/* Home-2 */
/* Banner */
.product-banner.banner-5 .banner-brief h2 {
  font-size: 24px;
  line-height: 30px;
}
.banner-brief p {
  font-size: 14px;
  line-height: 20px;
}
.banner-brief .shop-now {
  margin-top: 20px;
}
/* Upcomming */
.upcomming-about h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
}
.upcomming-about p {
  display: none;
}
.upcomming-about {
  right: 160px;
  width: 295px;
}
.upcomming-product.upcomming-product-2 .upcomming-about {
  left: 160px;
}
/* Shop Page */
.page-banner-area.style-2 {
  background-position: 48% 50%;
}
.page-banner-area.style-2 .page-banner-brief h2 {
  font-size: 46px;
  margin: 0 0 0 20%;
}
.price_slider_amount > input[type="text"] {
  margin-left: 0;
  width: 100px;
}
.size ul li {
  display: inline-block;
  margin: 5px 1px;
}
.size ul li a {
  padding: 0 8px;
}
.widget-area .widget {
  margin: 10px 0;
  padding: 10px 20px;
}
/* Single-Product */
.product-description-tab li a {
  padding: 0 10px 6px;
}




}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
ul.top-menu li a {
  padding: 18px 5px;
}
.slider-content .layer-1 {
  margin-left: 110px;
  width: 295px;
}	
.layer-1 h5, .layer-2 h5 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}
.layer-1 h2, .layer-2 h2 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0;
}	
.layer-1 p, .layer-2 p {
  display: none;
}	
.layer-1 a, .layer-2 a {
  font-size: 16px;
  margin-top: 25px;
  padding: 8px 30px 5px;
}	
/* Content */
.single-category h2 {
  font-size: 16px;
}	
.single-category span .shop-now {
  font-size: 12px;
  width: 100px;
}
.fashion-details {
  margin-top: 42px;
}	
.fashion-details h2 {
  margin-bottom: 10px;
}	
.fashion-details p {
  margin-bottom: 25px;
}
/* Banner */	
.banner-brief {
  right: 20px;
  top: 15px;
}	
.banner-brief h2 {
  font-size: 30px;
  line-height: 35px;
}	
.banner-brief .shop-now {
  margin-top: 20px;
  width: 125px;
}
.action-btn {
  font-size: 13px;
}
.new-arrival-area .action-btn {
  font-size: 12px;
}
.new-arrival-area .pro-name-price h4 {
  margin-bottom: 0;
}
.single-testimonial {
  padding: 0 95px;
}
/* Blog Post */
.post-thumbnail {
  padding-right: 50px;
}	
.post-meta {
  right: 5px;
}
.post-meta .date {
  font-size: 16px;
  padding-top: 6px;
}
.post-meta .date span {
  line-height: 15px;
}
.post-meta .like, .post-meta .comments {
  font-size: 18px;
  line-height: 73px;
}
.post-meta .single-meta {
  height: 58px;
  margin: 10px 0 0;
  width: 90px;
}
.post-meta .single-meta .post-like {
  padding: 0;
}
.post-meta .single-meta sup {
  font-size: 13px;
}
.post-meta .single-meta i {
  font-size: 35px;
}
/* Footer */
.footer-top {
  padding: 70px 45px;
}
.footer-about ul li i {
  font-size: 20px;
  line-height: 50px;
  margin-right: 10px;
  width: 25px;
}
/* Home-2 */
.slider-area.style-2 .nivo-directionNav a {
  font-size: 18px;
  width: 70px;
}
/* Banner */
.banner-5 .banner-brief {
  right: 15px;
}
.product-banner.banner-5 .banner-brief h2 {
  font-size: 14px;
  line-height: 20px;
}
.banner-5 .banner-brief > p {
  font-size: 12px;
  line-height: 18px;
}
.banner-5 .banner-brief .shop-now {
  font-size: 13px;
  height: 30px;
  line-height: 28px;
  width: 100px;
}
.shop-now i {
  display: none;
}
.product-banner.banner-4 .banner-brief .shop-now {
  margin-top: 0;
}
.banner-4 .shop-now i {
  display: block;
  font-size: 16px;
}
/* Blog-Post */
.upcomming-about {
  right: 110px;
  width: 230px;
}
.upcomming-product.upcomming-product-2 .upcomming-about {
  left: 120px;
}
.upcomming-about h2 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 15px;
}
.upcomming-about p {
  display: none;
}



/* Countdown */
.count-down .timer {
  width: 150px;
}
.cdown {
  font-size: 30px;
  height: 75px;
  line-height: 22px;
}
.cdown p {
  font-size: 18px;
  line-height: 30px;
}
/* About */
.about-us-description .col-md-4:nth-child(3) {
  margin-top: 30px;
}
/* Shop Page */
.page-banner-area.style-2 {
  background-position: 45% 20%;
  background-size:  185%;
}
.page-banner-area.style-2 .page-banner-brief {
  padding: 100px 0;
}
.page-banner-area.style-2 .page-banner-brief h2 {
  font-size: 36px;
  margin: 0 0 0 28%;
}
.widget-area {
  float: left;
  margin: 0 3% 40px;
  width: 44%;
}
.widget-area .widget {
  margin: 10px 0;
  padding: 10px 20px;
}
.listview .description p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 10px;
}
.listview .product-name a {
  line-height: 20px;
  margin-bottom: 2px;
}
.listview .rating-review, .listview .stock > a {
  margin-bottom: 10px;
}
/* Contact */
.message-box {
  width: 340px;
}
/* Checkbox */
.checkbox label {
  font-size: 14px;
  margin-right: 10px;
}
.custom-submit {
  font-size: 13px;
}
.shopping-cart-breif img {
  float: left;
  margin: 0 10px 0 5px;
}
/* Single-Product */
.view-large-photo {
  width: 50%;
}
.simpleLens-lens-element {
	width: 95%;
}
.single-product-details {
  margin-top: 30px;
  padding-left: 0;
}
/* ============= */
.featured-products-area, .new-arrival-area, .blog-post-area, .our-teams, .blog-details-brief {
  margin-top: 70px;
}
.fashion-collection-area, .testimonials-area, .shop-page .product-banner-area, .product-banner-area, .brands-logo-area, .style-2 .product-banner-area, .upcomming-product-area, .margin-70, .google-map-message-box {
  margin-top: 50px;
}
.style-2 .featured-products-area, .style-2 .new-arrival-area, .style-2 .blog-post-area {
  margin-top: 45px;
}
.about-briefing > p:last-child {
  margin-bottom: 0;
}
.shop-category-menu {
  margin: 30px 0 40px;
}
.shipping-discount-details {
  margin-top: 15px;
}
.margin-65 {
  margin-top: 45px;
}
.brands-logo-area {
  padding: 50px 0;
}
.footer-top {
  padding: 50px 45px;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-top p {
  margin-bottom: 25px;
}
.footer-middle-area {
  padding: 65px 0 40px;
}
.copyright {
  padding: 26px 0 0;
}
.payment {
  padding: 25px 0 20px;
}
.error-title {
  padding: 35px 0 7px;
}


}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.logo {
  text-align: center;
}
.cart-total {
  border: 1px solid #eee;
  float: none;
  margin: 0 auto 30px;
  width: 215px;
}
.cart-total > ul > li > a {
  padding: 10px 10px 2px 0;
}
.cart-icon sup {
  font-size: 16px;
  left: -4px;
  top: -1.1em;
}
.cart-total ul li a span {
  display: inline-block;
}
.cart-total ul li .mini-cart-content {
  right: -40px;
  width: 300px;
}
/* Slider */
.slider-content .layer-1 {
  margin-left: 30px;
  width: 235px;
}	
.slider-content .layer-1.layer-2 {
  margin-right: 5%;
}
.layer-1 h5, .layer-2 h5 {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 2px;
}	
.layer-1 h2, .layer-2 h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.layer-1 a, .layer-2 a {
  font-size: 12px;
  line-height: 12px;
  margin-top: 10px;
  padding: 8px 20px 6px;
}
.layer-1 p, .layer-2 p, .slider-content .custom-slider::before, .nivo-controlNav {
  display: none;
}
.slider-area.style-2 .nivo-directionNav {
  display: none;
}
/* Content */
.single-category {
  width: 50%;
}
.single-category h2 {
  font-size: 16px;
}	
.single-category span .shop-now {
  font-size: 12px;
  width: 100px;
}
.single-category:last-child {
  display: none;
}
.fashion-photo {
  float: none;
  width: 100%;
}
.fashion-details {
  float: none;
  margin-left: 0;
  margin-top: 30px;
  width: 100%;
}
.fashion-details h2 {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 8px;
}
.color-white {
  color: #32c4d1;
}
.fashion-details p {
  margin-bottom: 20px;
}
.fashion-details > a {
  border: 1px solid #32c4d1;
  color: #32c4d1;
  font-size: 18px;
  padding: 10px 14px;
}
.area-title h2 {
  font-size: 18px;
}
/* Banner */	
.banner-brief {
  right: 20px;
  top: 15px;
}	
.banner-brief h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}	
.banner-brief .shop-now {
  margin-top: 10px;
  width: 120px;
}
.banner-brief p {
  display: none;
}
.product-banner.banner-2 {
  margin-top: 30px;
}
.arrival-1 {
  width: 100%;
}
.arrival-2 {
  width: 100%;
}
.single-testimonial {
  padding: 0 20px;
}
.single-testimonial p {
  text-align: left;
}
/* Blog Post */
.post-thumbnail {
  padding-right: 50px;
}	
.post-meta {
  right: 5px;
}
.post-meta .date {
  font-size: 16px;
  padding-top: 6px;
}
.post-meta .date span {
  line-height: 15px;
}
.post-meta .like, .post-meta .comments {
  font-size: 18px;
  line-height: 73px;
}
.post-meta .single-meta {
  height: 58px;
  margin: 10px 0 0;
  width: 90px;
}
.post-meta .single-meta .post-like {
  padding: 0;
}
.post-meta .single-meta sup {
  font-size: 13px;
}
.post-meta .single-meta i {
  font-size: 35px;
}
/* Footer */
.footer-top {
  padding: 50px 10px;
}
.single-footer {
  margin-top: 30px;
  padding-top: 30px;
}
.single-footer.footer-about {
  margin-top: 0px;
  padding-top: 0px;
}
.instagram-thumb a {
  width: 46%;
}
.copyright {
  padding: 20px 0 5px;
  text-align: center;
}
.copyright p {
  font-size: 12px;
}
.payment {
  padding: 25px 0 20px;
  text-align: center;
}
/* Modal */
.modal-product .product-images {
  float: none;
  margin: 30px 0;
  overflow: hidden;
  width: 100%;
}
.modal-product .product-info {
  float: none;
  padding-left: 0;
  width: 100%;
}
/* Modal */
.quick-add-to-cart .single_add_to_cart_button {
  padding: 0 20px;
}
.modal-product .widget .social-icons li .social-icon {
  width: 36px;
}
.modal-product .product-info .quick-desc {
  margin: 0 0 10px;
}
.modal-product .product-info .quick-add-to-cart {
  padding: 0 0 25px;
}
.modal-product .product-info .see-all {
  margin-bottom: 20px;
}
.s-price-box {
  line-height: 1;
}
.modal-product .widget .social-icons {
  margin: 0 0 15px;
}
/* Home-2 */
.product-banner.banner-5 .banner-brief h2 {
  font-size: 24px;
  line-height: 30px;
}
.upcomming-about {
  display: none;
}
.style-2 .testimonials-area .single-testimonial {
  text-align: center;
}
.author-photo {
  float: none;
  margin: 0 auto 30px;
}
/* About */
.page-banner-brief {
  padding: 30px 0;
}
.page-banner-brief h2 {
  font-size: 30px;
  line-height: 36px;
}
.page-banner-brief ul li a {
  font-size: 16px;
}
.about-photo {
  margin-bottom: 30px;
}
.about-us-description .col-md-4:nth-child(3) {
  margin-top: 30px;
}
/* Shop Page */
.shop-menu ul li a {
  font-size: 14px;
  line-height: 20px;
  padding: 5px 0;
}
.widget-area .widget {
  margin: 5px 0;
  padding: 10px 20px;
}
.listview .single-product::before {
  width: 90%;
}
.product-img {
  margin-bottom: 20px;
}
.size ul li {
  margin: 5px 1px;
}
.size ul li a {
  padding: 0 10px;
}
.tab-menu ul li {
  margin: 0 7px;
}
.short, .limit {
  display: none;
}
.page-banner-area.style-2 {
  background-position: 37% 50%;
  background-size:  auto 102%;

}
.page-banner-area.style-2 .page-banner-brief {
  padding: 50px 0;
}
.page-banner-area.style-2 .page-banner-brief h2 {
  margin: 0;
}
/* Blog */
.single-latest-blog .title-3 {
  margin: 20px 0 0;
}
.title-3 {
  font-size: 15px;
  margin-bottom: 20px;
}
.small-meta {
  margin-top: 5px;
}
.small-meta a {
  font-size: 12px;
}
.small-meta > a + a::before {
  padding: 0 5px;
}
.tag {
  float: left;
}
/* Contact */
.message-box {
  padding: 20px 20px;
  width: 100%;
}
.contact-brief.contact-brief-2 {
  padding-left: 0;
}
.contact-brief {
  padding-left: 0;
  padding-top: 20px;
}
.contact-brief li {
  padding: 0 0 20px;
}
.single-contact:nth-child(3) {
  margin-top: 30px;
}
.contact-photo img {
  width: 100%;
}
/* Cart */
.shopping-cart-breif {
  margin: 0 auto;
  text-align: center;
}
.shopping-cart-breif img {
  float: none;
  margin: 0 0 10px;
}
.cart-plus-minus {
  min-width: 105px;
}
.shipping-discount-details .col-sm-4 {
  margin-top: 20px;
  overflow: hidden;
}
.shipping-discount-details .col-sm-4:first-child {
  margin-top: 0px;
}
.shipping-discount-details .custom-submit-2 {
  margin-top: 0;
}
.checkbox label {
  font-size: 14px;
  margin-right: 10px;
}
.registered {
  padding: 20px;
}
.my-account-area .panel-group:first-child {
  margin-bottom: 5px;
}
/* 404 */
.eror-brief h2 {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 22px;
}
.eror-brief h3 {
  font-size: 12px;
  line-height: 18px;
}
.eror-form input {
  margin-bottom: 20px;
  width: 100%;
}
.eror-form button {
  margin-left: 0;
  width: 100%;
}
.back-home a {
  margin-top: 20px;
}
.eror-form p, .eror-form span {
  font-size: 15px;
  line-height: 20px;
}
/* Single-Product */
.simpleLens-lens-element {
  display: none;
}
.single-product-details {
  margin-top: 25px;
  padding-left: 0;
}
.listview .product-name a {
  font-size: 16px;
  line-height: 22px;
}
.add-review {
  display: none;
}
.single-product-details.listview .description > p {
  margin-bottom: 14px;
  margin-top: 0;
}
.choose-title {
  font-size: 14px;
  width: 60px;
}
.single-reviews::before, .reviews-details.reviews-child::before {
  display: none;
}
.reviewer-photo {
  float: none;
}
.reviews-details.reviews-child {
  padding-left: 0;
}
.size ul li {
  margin: 5px 1px;
}
.size ul li a {
  padding: 0 7px;
}
.color-choose {
  margin-bottom: 10px;
}
.product-description-tab li a {
  margin-bottom: 5px;
  padding: 0 0 5px;
}
/* ============= */
.featured-products-area, .new-arrival-area, .blog-post-area, .our-teams, .blog-details-brief {
  margin-top: 70px;
}
.fashion-collection-area, .testimonials-area, .shop-page .product-banner-area, .product-banner-area, .brands-logo-area, .style-2 .product-banner-area, .upcomming-product-area, .margin-70, .google-map-message-box {
  margin-top: 50px;
}
.style-2 .featured-products-area, .style-2 .new-arrival-area, .style-2 .blog-post-area {
  margin-top: 45px;
}
.about-briefing > p:last-child {
  margin-bottom: 0;
}
.shop-category-menu {
  margin: 30px 0 40px;
}
.shipping-discount-details {
  margin-top: 15px;
}
.margin-65 {
  margin-top: 45px;
}
.brands-logo-area {
  padding: 50px 0;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-top p {
  margin-bottom: 25px;
}
.footer-middle-area {
  padding: 65px 0 40px;
}
.copyright {
  padding: 26px 0 0;
}
.payment {
  padding: 25px 0 20px;
}
.error-title {
  padding: 35px 0 7px;
}

 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}

.mobile-menu-area {display: block;}	
/* Slider */
.slider-content .layer-1 {
  margin-left: 30px;
  width: 235px;
}	
.layer-1 h5, .layer-2 h5 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 2px;
}
.layer-1 h1, .layer-2 h1 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0;
}	
.layer-1 p, .layer-2 p {
  display: none;
}	
.layer-1 a, .layer-2 a {
  font-size: 12px;
  line-height: 12px;
  margin-top: 20px;
  padding: 12px 20px 8px;
}
.nivo-controlNav {
  padding: 0;
}
/* Home-2 */
.banner-brief h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.product-banner.banner-5 .banner-brief h2 {
  font-size: 30px;
  line-height: 38px;
}
.listview .single-product::before {
  width: 93%;
}
/* Single-Product */
.product-description-tab li a {
  padding: 0 10px 5px;
}
.page-banner-area.style-2 .page-banner-brief {
  padding: 80px 0;
}


 
}
 
