/* large desktop :1366px. */
@media (min-width: 1200px) and (max-width: 1366px) {

    
.gallery-active .gallery-slider-img.slick-center {
  transform: rotate(4deg) scale(1.13) translate(-10%, -4%);
}    
    
    
    
    
    
    
    
    
    
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

.slider-text p {
  width: 68%;
}    
.single-service {
  padding: 0 15px;
}    
.video-info {
  padding: 31px 0 0 30px;
}    
.video-info.another-text {
  padding: 31px 30px 0 0;
}    
.help-services {
  margin-top: 0;
}    
.instra-img {
  margin-bottom: 10px;
  margin-right: 6px;
}    
.action-text > h3 {
  font-size: 32px;
}
.slick-slide img {
  margin: 0 84px;
}    
.testi-text > p {
  font-size: 20px;
}    
.testi-text {
  padding: 52px 27px 61px 250px;
}    
.main-menu.menu-style-4 > nav > ul > li > a {
  padding: 33px 12px 35px;
}   
.header-button.search-2 {
  margin-left: 12px;
}    
.upcoming .cdown {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  float: left;
  margin-right: 20px;
  padding: 33px 55px 54px;
  text-align: center;
}    
.upcoming.text-center > div {
  padding-left: 110px;
}    
.upcoming-text {
  padding-left: 0;
}    
.event-img-info > img {
  width: 100%;
}
.event-info {
  left: 20px;
}    
 .event-time-date > span {
  margin-right: 9px;
}   
.event-time-date > span i {
  margin-right: 5px;
}    
.blog-video-text > h3 {
  font-size: 14px;
}   
.blog-video-text {
  padding-left: 104px;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

 
 .search-bar-button {
  padding-left: 10px;
}   
.slider-text h1 {
  font-size: 50px;
}    
.slider-text p {
  width: 86%;
}
.single-service {
  padding: 0 10px;
}    
.doller-target.f-right {
  float: left;
  margin-top: 5px;
}    
.causes-info {
  padding: 30px 20px;
}    
.video-info {
  padding: 0;
}  
.video-info.another-text {
  padding: 0;
}    
.help-services .single-service {
  padding: 0 42px;
}    
.blog-info > h3 {
  font-size: 18px;
}    
.footer-social {
  margin-top: 5px;
}    
.main-menu > nav > ul > li > a {
  padding: 33px 8px 35px;
}    
.action-text > h3 {
  font-size: 23px;
  margin: 10px 0 0;
}
.section-title p.section-2 {
  width: 92%;
}    
.pt-240 {
  padding-top: 200px;
}    
.pb-340 {
  padding-bottom: 200px;
}    
 .slider-text.slider-text-2 p, .slider-text.slider-text-3 p {
  width: 82%;
}   
.about-img.pl-40 {
  margin-top: 50px;
  padding-left: 0;
}    
.about-content-info .single-service {
  padding: 0 40px;
}    
.grow-img {
  margin-top: 50px;
  padding-left: 0;
}    
.video-img {
  margin-top: 50px;
}    
.slick-slide img {
  margin: 0 168px;
}    
.testi-text > p {
  font-size: 17px;
  line-height: 25px;
}    
.testi-text {
  padding: 52px 30px 61px 252px;
}    
.header-button.search-2 {
  display: none;
}     
.pb-320 {
  padding-bottom: 220px;
}    
.pt-330 {
  padding-top: 230px;
}    
.upcoming .cdown {
  margin-right: 18px;
  padding: 23px 45px 44px;
}
.upcoming.text-center > div {
  padding-left: 25px;
}
    
.up-button {
  margin-left: 24px;
}    
.up-button a.button {
  font-size: 14px;
  padding: 10px 25px;
}    
.up-text > h2 {
  font-size: 24px;
}    
 .upcoming-text {
  padding-left: 0;
}   
.event-img-info > img {
  width: 100%;
}    
.main-menu > nav > ul > li > ul {
  padding: 20px 13px;
  width: 160px;
}    
.event-map-info {
  margin-top: 40px;
}    
.join-form {
  margin-top: 50px;
}    
    .blog-mrg-res{
        margin-bottom: 50px;
    }    
    
    
    
    
    

}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
 
    
.header-info {
  text-align: center;
}
.header-info ul li {
  margin-bottom: 5px;
  margin-right: 0;
}    

.header-info ul li:last-child {
  margin-bottom: 0px;
}    
.search-menu {
  display: none;
}
.slider-text p {
  width: 88%;
}    
.slider-text h1 {
  font-size: 30px;
  line-height: 40px;
}    
.pb-340 {
  padding-bottom: 200px;
}    
.pt-240 {
  padding-top: 100px;
}    
.icon-img::after, .icon-img::before {
  width: 60px;
}    
.single-service {
  padding: 0 18px;
}    
.pb-90 {
  padding-bottom: 40px;
}    
.pt-120 {
  padding-top: 70px;
}    
.ptb-120 {
  padding: 70px 0;
}
.video-info {
  padding: 30px 0 0;
}    
.video-info.another-text {
  padding: 0px 0 30px;
}    
.video-part-1.pb-100 {
  padding-bottom: 30px;
}    
h2.counter {
  margin-bottom: 10px;
}    
.section-title > h2 {
  font-size: 30px;
}    
    .mrg-30{
        margin-bottom: 30px;
    }    
    
.mb-65 {
  margin-bottom: 30px;
}    
.mb-75 {
  margin-bottom: 50px;
}    
.pb-55 {
  padding-bottom: 20px;
}    
.logo {
  padding-bottom: 20px;
  padding-top: 20px;
}    
.causes-info {
  padding: 30px 12px;
}    
.slider-text.slider-text-2 p, .slider-text.slider-text-3 p {
  width: 100%;
}    
.pb-260 {
  padding-bottom: 100px;
}    
.pt-340 {
  padding-top: 237px;
}    
.section-title p.section-2 {
  width: 100%;
}    
.action-text > h3 {
  font-size: 22px;
  line-height: 32px;
  margin: 0 0 20px;
}    
.action-button.f-right {
  float: left;
}    
.slider-style-3.pb-340 {
  padding-bottom: 100px;
}    
.about-tab > li {
  margin-bottom: 5px;
  padding: 0 5px;
}
.about-tab > li::after {
  content: inherit;
}    
.about-tab > li a {
  font-size: 21px;
}    
.about-menu-box.mb-60 {
  margin-bottom: 20px;
}    
.about-img.pl-40 {
  margin-top: 40px;
  padding-left: 0;
}    
.single-grow {
  padding-right: 0;
}    
.grow-img {
  margin-top: 40px;
  padding-left: 0;
}    
.video-img {
  margin-top: 30px;
}    
.slick-slide img {
  margin: 0 47px;
}   
 .gallery-active .slick-list {
  padding: 17px 0 15px !important;
}   
.slick-dots {
  margin-top: 35px;
}   
.volunteer-text {
  padding: 50px 18px;
}    
.testi-img {
  display: block;
  float: inherit;
  margin-top: 0;
}    
.testi-text {
  margin-left: 0;
  padding: 20px 15px 20px;
}    
.testi-text > p {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}    
.pb-320 {
  padding-bottom: 84px;
}    
.pt-330 {
  padding-top: 170px;
}    
.slider-text h2 {
  font-size: 25px;
}    
.upcoming .cdown {
  margin-right: 10px;
  padding: 13px 32px 34px;
  margin-bottom: 10px;
}    
.upcoming.text-center > div {
  padding-left: 0;
}    
.upcoming-text {
  margin-top: 45px;
  padding-left: 0;
}
.up-text > h2 {
  font-size: 23px;
  line-height: 35px;
}    
.upcoming-text {
  margin-top: 20px;
  padding-left: 0;
}    
.up-button {
  margin-left: 0;
  margin-top: 20px;
}    
.event-info {
  bottom: 10px;
  left: 10px;
}    
.time-count {
  font-size: 40px;
}    
.breadcrumb-area.pt-240 {
  padding-top: 240px;
}    
.pb-120 {
  padding-bottom: 70px;
}    
.page-pagintion.mt-20 {
  margin-top: 0;
}    
.ptb-100 {
  padding: 70px 0;
}    
.event-text > h3 {
  font-size: 24px;
  line-height: 36px;
}    
.event-map-info {
  margin-top: 40px;
}    
.breadcrumb-text > h2 {
  font-size: 30px;
}    
.causes-price > h4 {
  font-size: 26px; 
}    
.share-icon > ul {
  margin-left: 12px;
}    
.share-icon ul li {
  margin-right: 6px;
}    
.join-form {
  margin-top: 40px;
}     
.blog-mrg-res{
    margin-bottom: 30px;
}    
.single-blog-text blockquote {
  font-size: 19px;
  padding: 30px 15px 37px;
}    
.single-comment > img {
  display: block;
  float: inherit;
}    
.blog-img-details {
  margin-top: 20px;
  padding-left: 0;
}    
.single-comment.middle-comment {
  margin: 63px 0;
}
.slider-area .owl-nav {
  display: none;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
    
    
    
    
    
    
    
 
}
