/**
 * Button
 */

// Slider Video Play
.yu2fvl {
    z-index: 9999;
    top: 0;
}

.yu2fvl-iframe {
    display: block;
    height: 100%;
    width: 100%;
    border: 0;
}

.yu2fvl-overlay {
    z-index: 9998;
    background: #000;
    opacity: 0.8;
}

.yu2fvl-close {
    position: absolute;
    top: 1px;
    left: 100%;
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #f10 !important;
    background-color: #f10 !important;
    color: #ffffff;
    border: 0;
    background: none;
    cursor: pointer;
}

@media #{$md-layout} {
    .yu2fvl-close {
        left: auto;
        right: 0;
        top: auto;
        bottom: 100%;
    }
}

@media #{$sm-layout} {
    .yu2fvl-close {
        left: auto;
        right: 0;
        top: auto;
        bottom: 100%;
    }
    .video {
        h2 {
            color: #ffffff;
            font-size: 32px;
        }
        h4 {
            font-size: 22px;
            line-height: 32px;
        }
    }
}