<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Potongo - Pest Control Services HTML Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
		
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/slinky.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/headline.css">
        <link rel="stylesheet" href="assets/css/jquery-ui.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <link rel="stylesheet" href="assets/css/Pe-icon-7-stroke.css">
        <link rel="stylesheet" href="assets/css/bundle.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
		<header>
		<!-- header-top-area-start -->
		<div class="header-top-area blue-bg ptb-15 ">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<div class="header-left-wrapper">
							<ul class="header-left-text hidden-xs">
								<li><i class="fa fa-headphones"></i>+968 573979 894</li>
								<li><i class="fa fa-envelope-open"></i>Username@gmail.com </li>
							</ul>
							<div class="header-logo">
								<a href="index.html"><img src="assets/img/logo/1.png" alt="" /></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm hidden-xs">
						<div class="header-icon floatright">
							<a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
							<a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
							<a href="https://www.google-plus.com"><i class="fa fa-google-plus"></i></a>
							<a href="https://www.pinterest.com"><i class="fa fa-pinterest-p"></i></a>
							<a href="https://www.youtube.com"><i class="fa fa-youtube-play"></i></a>
							<a href="https://www.dribbble.com"><i class="fa fa-vimeo"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- header-top-area-end -->
		<!-- main-menu-area-start -->
		<div id="header-sticky" class="main-menu-area">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<div class="main-menu">
							<nav>
								<ul>
									<li class="active"><a href="index.html">Home</a>
										<ul class="sub-menu">
											<li><a href="index.html">Home 01</a></li>
											<li><a href="index-2.html">Home 02</a></li>
											<li><a href="index-box.html">Home box</a></li>
										</ul>
									</li>                                                         
									<li><a href="about.html">About</a></li>
									<li><a href="#">pages</a>
										<ul class="sub-menu">
											<li><a href="wishlist.html">wishlist</a></li>
											<li><a href="checkout.html">checkout</a></li>
											<li><a href="cart.html">cart</a></li>
											<li><a href="faq.html">faq</a></li>
											<li><a href="product-details.html">product-details</a></li>
											<li><a href="services-details.html">services-details</a></li>
										</ul>
									</li>
									<li><a href="appointment.html">Appointment</a></li>
									<li><a href="services.html">services</a>
										<ul class="sub-menu">
											<li><a href="services-details.html">services-details</a></li>
										</ul>
									</li>
									<li><a href="blog-2-column.html">Blog</a>
										<ul class="sub-menu">
											<li><a href="blog-2-column.html">blog-2-column</a></li>
											<li><a href="blog-3-column.html">blog-3-column</a></li>
											<li><a href="blog-left-sidebar.html">blog-left-sidebar</a></li>
											<li><a href="blog-right-sidebar.html">blog-right-sidebar</a></li>
											<li><a href="blog-details.html">blog-details</a></li>
										</ul>
									</li>
									<li><a href="shop.html">shop</a>
										<ul class="sub-menu">
											<li><a href="shop-listview.html">shop-listview</a></li>
											<li><a href="shop-right-sidebar.html">shop-right-sidebar</a></li>
											<li><a href="shop-no-sidebar.html">shop-no-sidebar</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="shop-wrapper">
							<div class="shop-cart">
								<div class="cart-img">
									<a href="cart.html"><img src="assets/img/shop/1.png" alt="" /></a>
									<span>3</span>
								</div>
							</div>
							<div class="serch-container">
								<i class="fa fa-search"></i>
								<div class="icon-form">
									<form action="#">
										<input placeholder="search" type="text">
										<button class="search"><i class="fa fa-search"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12"><div class="mobile-menu"></div></div>
				</div>
			</div>
		</div>
		<!-- main-menu-area-end -->
		</header>
		<!-- page-title-area-start -->
		<div class="page-title-area ptb-200" style="background-image:url(assets/img/bg/8.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="page-title-text">
							<h2>appointment</h2>
							<img src="assets/img/bg/line.png" alt="" />
							<p>Pellentesque habitant morbi tristique senectus et netusmalesuadfames ac turegestas. Cras consectetur magna luctus.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- page-title-area-end -->
		<!-- working-categories-start -->
		<div class="working-categories-area pt-170 pb-140" style="background-image:url(assets/img/bg/5.jpg)">
			<div class="container">
				<div class="section-title text-center white-text mb-70">
					<h1>Our Working Categories</h1>
					<img src="assets/img/bg/line.png" alt="" />
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus nisi id dui pretium pharetra. Cras suscipit laoreet hendrerit. </p>
				</div>
				<div class="row">
					<div class="working-categories-active owl-carousel">
						<div class="col-md-12">
							<div class="working-categories-wrapper working">
								<div class="working-categories-img">
									<img src="assets/img/categorie/1.jpg" alt="" />
									<div class="working-categories-content">
										<h4>Ant Control</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="working-categories-wrapper working">
								<div class="working-categories-img">
									<img src="assets/img/categorie/2.jpg" alt="" />
									<div class="working-categories-content">
										<h4>Cockroach Control</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="working-categories-wrapper working">
								<div class="working-categories-img">
									<img src="assets/img/categorie/3.jpg" alt="" />
									<div class="working-categories-content">
										<h4>Mosquito Control</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="working-categories-wrapper working">
								<div class="working-categories-img">
									<img src="assets/img/categorie/1.jpg" alt="" />
									<div class="working-categories-content">
										<h4>Ant Control</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="working-categories-wrapper working">
								<div class="working-categories-img">
									<img src="assets/img/categorie/2.jpg" alt="" />
									<div class="working-categories-content">
										<h4>Cockroach Control</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="working-categories-wrapper working">
								<div class="working-categories-img">
									<img src="assets/img/categorie/3.jpg" alt="" />
									<div class="working-categories-content">
										<h4>Mosquito Control</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="working-categories-wrapper working">
								<div class="working-categories-img">
									<img src="assets/img/categorie/1.jpg" alt="" />
									<div class="working-categories-content">
										<h4>Ant Control</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="working-categories-wrapper working">
								<div class="working-categories-img">
									<img src="assets/img/categorie/2.jpg" alt="" />
									<div class="working-categories-content">
										<h4>Cockroach Control</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="working-categories-wrapper working">
								<div class="working-categories-img">
									<img src="assets/img/categorie/3.jpg" alt="" />
									<div class="working-categories-content">
										<h4>Mosquito Control</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- working-categories-end -->
		<!-- ready-appointment-area-start -->
		<div class="ready-appointment-area ptb-100">
			<div class="container">
				<div class="appointment pt-60 pb-30" style="background-image:url(assets/img/bg/4.jpg)">
					<div class="row">
						<div class="col-md-5 col-sm-5">
							<div class="ready-to-appointment-wrapper mb-30">
								<div class="ready-content">
									<h4> Ready To Appointment</h4>
									<p>Lorem ipsum dolor sit amet, consadipiscing elit. Aenean et laoreet tellus, at ornare felis. Suspendisse quis ipsum.</p>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="appointment-top-wrapper mb-30">
								<div class="row">
									<form action="assets/mail.php" id="appointment-top-form" method="POST">
										<div class="col-md-6">
											<input name="name" type="text" placeholder="name">
										</div>
										<div class="col-md-6">
											<input name="email" type="email" placeholder="email">
										</div>
										<div class="col-md-6">
										<div class="calender__custom">
											<input class="date__cus" id="datepicker" name="name" type="text" value="Date" placeholder="date">
										</div>
										</div>
										<div class="col-md-6">
											<input name="name" type="text" placeholder="phone number">
										</div>	
										<div class="col-md-12">
											<input name="name" type="text" placeholder="address">
										</div>						
										<button class="appointment-btn" type="submit">Send Now</button>
									</form>
									<p class="form-message"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ready-appointment-area-end -->		
		<footer>
			<!-- footer-top-area-start -->
			<div class="footer-top-area pt-150 pb-120 gray-bg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="footer-wrapper mb-30">
								<div class="footer-section">
									<h4>About us</h4>
								</div>
								<div class="footer-content">
									<p>Lorem ipsum dolor sit ame consectetur adipiscing eliCras tincidunt rho tortor, ut iaculis mifaucibus eu. aliq eleifend neque eget dapibu vestibulsum, justo a molestie fringills, felis lorem ipsum dolor sit ame.</p>
									<span>Our Website: <a href="#">https://hastech.company</a></span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="footer-wrapper mb-30">
								<div class="footer-section">
									<h4>Tweet Post</h4>
								</div>
								<div class="footer-text">
									<div class="footer-img">
										<img src="assets/img/footer/1.png" alt="" />
									</div>
									<div class="footer-info">
										<p>#UI #UX #Lorem Ipsum DesignLorem ipsu dolor sit ame consectetur adipiscing.</p>
										<p><a href="#">@https://themeforest.net/item/moto-multipurpose-landing-page-template/20342375?s_rank=1.</a></p>
                                        <div class="footer-icon-link">
                                            <span><a href="#"><i class="fa fa-heart"></i>848</a></span>
                                            <span><a href="#"><i class="fa fa-comments"></i>848</a></span>
                                            <span><a href="#"><i class="fa fa-reply"></i></a></span>
                                        </div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="footer-wrapper mb-30">
								<div class="footer-section">
									<h4>Contact Information</h4>
								</div>
								<ul class="footer-link">
									<li><i class="fa fa-headphones"></i> +968 573979 894</li>
									<li><i class="fa fa-envelope-open"></i>Username@gmail.com</li>
									<li><i class="fa fa-home"></i> House No 08, Din Bari, Dhaka, Bangladesh</li>
								</ul>
								<div class="footer-icon">
									<a class="blue" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
									<a class="green" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
									<a class="pink" href="https://www.dribbble.com"><i class="fa fa-dribbble"></i></a>
									<a class="red" href="https://www.google-plus.com"><i class="fa fa-google-plus"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="footer-wrapper mb-30">
								<div class="footer-section">
									<h4>Instagram</h4>
								</div>
								<ul class="footer-img-link">
									<li>
										<a href="#"><img src="assets/img/Instagram/1.jpg" alt="" /></a>
									</li>
									<li>
										<a href="#"><img src="assets/img/Instagram/2.jpg" alt="" /></a>
									</li>
									<li>
										<a href="#"><img src="assets/img/Instagram/3.jpg" alt="" /></a>
									</li>
									<li>
										<a href="#"><img src="assets/img/Instagram/4.jpg" alt="" /></a>
									</li>
									<li>
										<a href="#"><img src="assets/img/Instagram/5.jpg" alt="" /></a>
									</li>
									<li>
										<a href="#"><img src="assets/img/Instagram/6.jpg" alt="" /></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-top-area-end -->
			<!-- footer-bottom-area-start -->
			<div class="footer-bottom-area ptb-20">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copyright text-center">
								<p>Copyright © 2017 <a href="http://devitems.com/">Hastech.</a> All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-bottom-area-end -->
		</footer>
		
		<!-- all js here -->
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/headline.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/jquery.scrollUp.min.js"></script>
        <script src="assets/js/jquery.easypiechart.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/jquery.parallax-1.1.3.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/slinky.min.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
