<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Potongo - Pest Control Services HTML Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
		
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/headline.css">
        <link rel="stylesheet" href="assets/css/jquery-ui.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <link rel="stylesheet" href="assets/css/Pe-icon-7-stroke.css">
        <link rel="stylesheet" href="assets/css/bundle.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
		<header>
		<!-- header-top-area-start -->
		<div class="header-top-area blue-bg ptb-15 ">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<div class="header-left-wrapper">
							<ul class="header-left-text hidden-xs">
								<li><i class="fa fa-headphones"></i>+968 573979 894</li>
								<li><i class="fa fa-envelope-open"></i>Username@gmail.com </li>
							</ul>
							<div class="header-logo">
								<a href="index.html"><img src="assets/img/logo/1.png" alt="" /></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm hidden-xs">
						<div class="header-icon floatright">
							<a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
							<a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
							<a href="https://www.google-plus.com"><i class="fa fa-google-plus"></i></a>
							<a href="https://www.pinterest.com"><i class="fa fa-pinterest-p"></i></a>
							<a href="https://www.youtube.com"><i class="fa fa-youtube-play"></i></a>
							<a href="https://www.dribbble.com"><i class="fa fa-vimeo"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- header-top-area-end -->
		<!-- main-menu-area-start -->
		<div id="header-sticky" class="main-menu-area">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<div class="main-menu">
							<nav>
								<ul>
									<li class="active"><a href="index.html">Home</a>
										<ul class="sub-menu">
											<li><a href="index.html">Home 01</a></li>
											<li><a href="index-2.html">Home 02</a></li>
											<li><a href="index-box.html">Home box</a></li>
										</ul>
									</li>                                                         
									<li><a href="about.html">About</a></li>
									<li><a href="#">pages</a>
										<ul class="sub-menu">
											<li><a href="wishlist.html">wishlist</a></li>
											<li><a href="checkout.html">checkout</a></li>
											<li><a href="cart.html">cart</a></li>
											<li><a href="faq.html">faq</a></li>
											<li><a href="product-details.html">product-details</a></li>
											<li><a href="services-details.html">services-details</a></li>
										</ul>
									</li>
									<li><a href="appointment.html">Appointment</a></li>
									<li><a href="services.html">services</a>
										<ul class="sub-menu">
											<li><a href="services-details.html">services-details</a></li>
										</ul>
									</li>
									<li><a href="blog-2-column.html">Blog</a>
										<ul class="sub-menu">
											<li><a href="blog-2-column.html">blog-2-column</a></li>
											<li><a href="blog-3-column.html">blog-3-column</a></li>
											<li><a href="blog-left-sidebar.html">blog-left-sidebar</a></li>
											<li><a href="blog-right-sidebar.html">blog-right-sidebar</a></li>
											<li><a href="blog-details.html">blog-details</a></li>
										</ul>
									</li>
									<li><a href="shop.html">shop</a>
										<ul class="sub-menu">
											<li><a href="shop-listview.html">shop-listview</a></li>
											<li><a href="shop-right-sidebar.html">shop-right-sidebar</a></li>
											<li><a href="shop-no-sidebar.html">shop-no-sidebar</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="shop-wrapper">
							<div class="shop-cart">
								<div class="cart-img">
									<a href="cart.html"><img src="assets/img/shop/1.png" alt="" /></a>
									<span>3</span>
								</div>
							</div>
							<div class="serch-container">
								<i class="fa fa-search"></i>
								<div class="icon-form">
									<form action="#">
										<input placeholder="search" type="text">
										<button class="search"><i class="fa fa-search"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12"><div class="mobile-menu"></div></div>
				</div>
			</div>
		</div>
		<!-- main-menu-area-end -->
		</header>
		<!-- page-title-area-start -->
		<div class="page-title-area ptb-200" style="background-image:url(assets/img/bg/banner.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="page-title-text">
							<h2>shop no sidebar</h2>
							<img src="assets/img/bg/line.png" alt="" />
							<p>Pellentesque habitant morbi tristique senectus et netusmalesuadfames ac turegestas. Cras consectetur magna luctus.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- page-title-area-end -->
		<!-- shop page area start -->
        <div class="shop-page-wrapper pt-145 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop-product-wrapper">
                            <div class="shop-bar pb-30">
                                <div class="shop-found-selector">
                                    <div class="shop-found">
                                        <p><span>23</span> Product Found of <span>50</span></p>
                                    </div>
                                    <div class="shop-selector">
                                        <label>Sort By : </label>
                                        <select name="select">
                                            <option value="">Default</option>
                                            <option value="">A to Z</option>
                                            <option value=""> Z to A</option>
                                            <option value="">In stock</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="shop-filter-tab">
                                    <div class="shop-tab nav" role=tablist>
                                        <ul>
											<li class="active">
												<a href="#grid-sidebar1" data-toggle="tab" role="tab" aria-selected="false">
													<i class="ion-android-apps"></i>
												</a>
											</li>
											<li>
												<a href="#grid-sidebar2" data-toggle="tab" role="tab" aria-selected="true">
													<i class="ion-android-menu"></i>
												</a>
											</li>
										</ul>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-product-content tab-content">
                                <div id="grid-sidebar1" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-product mb-30">
                                                <div class="product-img">
                                                    <a href="product-details.html"><img src="assets/img/product/1.jpg" alt=""></a>
                                                    <span>sale</span>
                                                    <div class="product-action">
                                                        <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title-price">
                                                        <div class="product-title">
                                                            <h4><a href="product-details.html"> Super Sprayer D223</a></h4>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>$110.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-cart-categori">
                                                        <div class="product-cart">
                                                            <span>Bug</span>
                                                        </div>
                                                        <div class="product-categori">
                                                            <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-product mb-30">
                                                <div class="product-img">
                                                    <a href="product-details.html"><img src="assets/img/product/2.jpg" alt=""></a>
                                                    <div class="product-action">
                                                        <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title-price">
                                                        <div class="product-title">
                                                            <h4><a href="product-details.html"> Super Sprayer D223</a></h4>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>$110.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-cart-categori">
                                                        <div class="product-cart">
                                                            <span>Bug</span>
                                                        </div>
                                                        <div class="product-categori">
                                                            <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-product mb-30">
                                                <div class="product-img">
                                                    <a href="product-details.html"><img src="assets/img/product/3.jpg" alt=""></a>
                                                    <span>sale</span>
                                                    <div class="product-action">
                                                        <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title-price">
                                                        <div class="product-title">
                                                            <h4><a href="product-details.html"> Super Sprayer D223</a></h4>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>$110.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-cart-categori">
                                                        <div class="product-cart">
                                                            <span>Bug</span>
                                                        </div>
                                                        <div class="product-categori">
                                                            <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-product mb-30">
                                                <div class="product-img">
                                                    <a href="product-details.html"><img src="assets/img/product/4.jpg" alt=""></a>
                                                    <div class="product-action">
                                                        <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title-price">
                                                        <div class="product-title">
                                                            <h4><a href="product-details.html"> Super Sprayer D223</a></h4>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>$110.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-cart-categori">
                                                        <div class="product-cart">
                                                            <span>Insect</span>
                                                        </div>
                                                        <div class="product-categori">
                                                            <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-product mb-30">
                                                <div class="product-img">
                                                    <a href="product-details.html"><img src="assets/img/product/5.jpg" alt=""></a>
                                                    <span>sale</span>
                                                    <div class="product-action">
                                                        <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title-price">
                                                        <div class="product-title">
                                                            <h4><a href="product-details.html"> Super Sprayer D223</a></h4>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>$110.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-cart-categori">
                                                        <div class="product-cart">
                                                            <span>Insect</span>
                                                        </div>
                                                        <div class="product-categori">
                                                            <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-product mb-30">
                                                <div class="product-img">
                                                    <a href="product-details.html"><img src="assets/img/product/6.jpg" alt=""></a>
                                                    <div class="product-action">
                                                        <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title-price">
                                                        <div class="product-title">
                                                            <h4><a href="product-details.html"> Super Sprayer D223</a></h4>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>$110.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-cart-categori">
                                                        <div class="product-cart">
                                                            <span>Insect</span>
                                                        </div>
                                                        <div class="product-categori">
                                                            <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-product mb-30">
                                                <div class="product-img">
                                                    <a href="product-details.html"><img src="assets/img/product/7.jpg" alt=""></a>
                                                    <span>sale</span>
                                                    <div class="product-action">
                                                        <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title-price">
                                                        <div class="product-title">
                                                            <h4><a href="product-details.html"> Super Sprayer D223</a></h4>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>$110.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-cart-categori">
                                                        <div class="product-cart">
                                                            <span>Pumper</span>
                                                        </div>
                                                        <div class="product-categori">
                                                            <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="single-product mb-30">
                                                <div class="product-img">
                                                    <a href="product-details.html"><img src="assets/img/product/8.jpg" alt=""></a>
                                                    <div class="product-action">
                                                        <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <div class="product-title-price">
                                                        <div class="product-title">
                                                            <h4><a href="product-details.html"> Super Sprayer D223</a></h4>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>$110.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-cart-categori">
                                                        <div class="product-cart">
                                                            <span>Pumper</span>
                                                        </div>
                                                        <div class="product-categori">
                                                            <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="grid-sidebar2" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="single-product single-product-list product-list-right-pr mb-30">
                                                <div class="product-img list-img-width">
                                                    <a href="product-details.html"><img src="assets/img/product/1.jpg" alt=""></a>
                                                    <div class="product-action">
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content-list">
                                                    <div class="product-list-info">
                                                        <h4><a href="product-details.html"> Super Sprayer D223</a></h4>
                                                        <span>$150.00</span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercl itatio ullamco laboris nisi ut aliquip ex ea commodo consequat Lorem ipsum dolor sit amet, consectetur</p>
                                                    </div>
                                                    <div class="product-list-cart-wishlist">
                                                        <div class="product-list-cart">
                                                            <a class="btn-hover list-btn-style" href="#">add to cart</a>
                                                        </div>
                                                        <div class="product-list-wishlist">
                                                            <a class="btn-hover list-btn-wishlist" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="single-product single-product-list product-list-right-pr mb-30">
                                                <div class="product-img list-img-width">
                                                    <a href="product-details.html"><img src="assets/img/product/2.jpg" alt=""></a>
                                                    <div class="product-action">
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content-list">
                                                    <div class="product-list-info">
                                                        <h4><a href="product-details.html"> Super Sprayer D223</a></h4>
                                                        <span>$150.00</span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercl itatio ullamco laboris nisi ut aliquip ex ea commodo consequat Lorem ipsum dolor sit amet, consectetur</p>
                                                    </div>
                                                    <div class="product-list-cart-wishlist">
                                                        <div class="product-list-cart">
                                                            <a class="btn-hover list-btn-style" href="#">add to cart</a>
                                                        </div>
                                                        <div class="product-list-wishlist">
                                                            <a class="btn-hover list-btn-wishlist" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="single-product single-product-list product-list-right-pr mb-30">
                                                <div class="product-img list-img-width">
                                                    <a href="product-details.html"><img src="assets/img/product/3.jpg" alt=""></a>
                                                    <div class="product-action">
                                                        <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content-list">
                                                    <div class="product-list-info">
                                                        <h4><a href="product-details.html"> Super Sprayer D223</a></h4>
                                                        <span>$150.00</span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercl itatio ullamco laboris nisi ut aliquip ex ea commodo consequat Lorem ipsum dolor sit amet, consectetur</p>
                                                    </div>
                                                    <div class="product-list-cart-wishlist">
                                                        <div class="product-list-cart">
                                                            <a class="btn-hover list-btn-style" href="#">add to cart</a>
                                                        </div>
                                                        <div class="product-list-wishlist">
                                                            <a class="btn-hover list-btn-wishlist" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop page area end -->
		<footer>
			<!-- footer-top-area-start -->
			<div class="footer-top-area pt-150 pb-120 gray-bg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="footer-wrapper mb-30">
								<div class="footer-section">
									<h4>About us</h4>
								</div>
								<div class="footer-content">
									<p>Lorem ipsum dolor sit ame consectetur adipiscing eliCras tincidunt rho tortor, ut iaculis mifaucibus eu. aliq eleifend neque eget dapibu vestibulsum, justo a molestie fringills, felis lorem ipsum dolor sit ame.</p>
									<span>Our Website: <a href="#">https://hastech.company</a></span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="footer-wrapper mb-30">
								<div class="footer-section">
									<h4>Tweet Post</h4>
								</div>
								<div class="footer-text">
									<div class="footer-img">
										<img src="assets/img/footer/1.png" alt="" />
									</div>
									<div class="footer-info">
										<p>#UI #UX #Lorem Ipsum DesignLorem ipsu dolor sit ame consectetur adipiscing.</p>
										<p><a href="#">@https://themeforest.net/item/moto-multipurpose-landing-page-template/20342375?s_rank=1.</a></p>
                                        <div class="footer-icon-link">
                                            <span><a href="#"><i class="fa fa-heart"></i>848</a></span>
                                            <span><a href="#"><i class="fa fa-comments"></i>848</a></span>
                                            <span><a href="#"><i class="fa fa-reply"></i></a></span>
                                        </div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="footer-wrapper mb-30">
								<div class="footer-section">
									<h4>Contact Information</h4>
								</div>
								<ul class="footer-link">
									<li><i class="fa fa-headphones"></i> +968 573979 894</li>
									<li><i class="fa fa-envelope-open"></i>Username@gmail.com</li>
									<li><i class="fa fa-home"></i> House No 08, Din Bari, Dhaka, Bangladesh</li>
								</ul>
								<div class="footer-icon">
									<a class="blue" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
									<a class="green" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
									<a class="pink" href="https://www.dribbble.com"><i class="fa fa-dribbble"></i></a>
									<a class="red" href="https://www.google-plus.com"><i class="fa fa-google-plus"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="footer-wrapper mb-30">
								<div class="footer-section">
									<h4>Instagram</h4>
								</div>
								<ul class="footer-img-link">
									<li>
										<a href="#"><img src="assets/img/Instagram/1.jpg" alt="" />
											<div class="footer-img-icon">
												<span><i class="fa fa-heart"></i>462</span>
												<span><i class="fa fa-comments"></i>259</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#"><img src="assets/img/Instagram/2.jpg" alt="" />
											<div class="footer-img-icon">
												<span><i class="fa fa-heart"></i>462</span>
												<span><i class="fa fa-comments"></i>259</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#"><img src="assets/img/Instagram/3.jpg" alt="" />
											<div class="footer-img-icon">
												<span><i class="fa fa-heart"></i>462</span>
												<span><i class="fa fa-comments"></i>259</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#"><img src="assets/img/Instagram/4.jpg" alt="" />
											<div class="footer-img-icon">
												<span><i class="fa fa-heart"></i>462</span>
												<span><i class="fa fa-comments"></i>259</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#"><img src="assets/img/Instagram/5.jpg" alt="" />
											<div class="footer-img-icon">
												<span><i class="fa fa-heart"></i>462</span>
												<span><i class="fa fa-comments"></i>259</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#"><img src="assets/img/Instagram/6.jpg" alt="" />
											<div class="footer-img-icon">
												<span><i class="fa fa-heart"></i>462</span>
												<span><i class="fa fa-comments"></i>259</span>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-top-area-end -->
			<!-- footer-bottom-area-start -->
			<div class="footer-bottom-area ptb-20">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copyright text-center">
								<p>Copyright © 2018 <a href="http://devitems.com/">Hastech.</a> All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-bottom-area-end -->
		</footer>
		<!-- modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close" aria-hidden="true"></span>
                </button>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="col-lg-5 col-xs-12">
                                <div class="qwick-view-left">
                                    <div class="quick-view-learg-img">
                                        <div class="quick-view-tab-content tab-content">
                                            <div class="tab-pane active" id="modal1" role="tabpanel">
                                                <img src="assets/img/quick-view/l1.jpg" alt="">
                                            </div>
                                            <div class="tab-pane" id="modal2" role="tabpanel">
                                                <img src="assets/img/quick-view/l2.jpg" alt="">
                                            </div>
                                            <div class="tab-pane" id="modal3" role="tabpanel">
                                                <img src="assets/img/quick-view/l3.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="quick-view-list nav" role="tablist">
                                        <a class="active" href="#modal1" data-toggle="tab" role="tab" aria-selected="true">
                                            <img src="assets/img/quick-view/s1.jpg" alt="">
                                        </a>
                                        <a href="#modal2" data-toggle="tab" role="tab" aria-selected="false">
                                            <img src="assets/img/quick-view/s2.jpg" alt="">
                                        </a>
                                        <a href="#modal3" data-toggle="tab" role="tab" aria-selected="false">
                                            <img src="assets/img/quick-view/s3.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xs-12">
                                <div class="qwick-view-right">
                                    <div class="qwick-view-content">
                                        <h3>Handcrafted Supper Mug</h3>
                                        <div class="price">
                                            <span class="new">$90.00</span>
                                            <span class="old">$120.00  </span>
                                        </div>
                                        <div class="rating-number">
                                            <div class="quick-view-rating">
                                                <i class="ion-ios-star red-star"></i>
                                                <i class="ion-ios-star red-star"></i>
                                                <i class="ion-android-star-outline"></i>
                                                <i class="ion-android-star-outline"></i>
                                                <i class="ion-android-star-outline"></i>
                                            </div>
                                            <div class="quick-view-number">
                                                <span>2 Ratting (S)</span>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do tempor incididun ut labore et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                                        <div class="quick-view-select">
                                            <div class="select-option-part">
                                                <label>Size*</label>
                                                <select class="select">
                                                    <option value="">- Please Select -</option>
                                                    <option value="">900</option>
                                                    <option value="">700</option>
                                                </select>
                                            </div>
                                            <div class="select-option-part">
                                                <label>Color*</label>
                                                <select class="select">
                                                    <option value="">- Please Select -</option>
                                                    <option value="">orange</option>
                                                    <option value="">pink</option>
                                                    <option value="">yellow</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="quickview-plus-minus">
                                            <div class="cart-plus-minus">
                                                <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                            </div>
                                            <div class="quickview-btn-cart" title="Add To Cart">
                                                <a class="btn-hover-black" href="#">add to cart</a>
                                            </div>
                                            <div class="quickview-btn-wishlist" title="Wishlist">
                                                <a class="btn-hover" href="#"><i class="ion-ios-heart-outline"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		
		
		<!-- all js here -->
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/headline.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/jquery.scrollUp.min.js"></script>
        <script src="assets/js/jquery.easypiechart.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/jquery.parallax-1.1.3.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/slinky.min.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
