/*****************************
21 - Components - Banner
*****************************/


.banner-box{
	@extend %posrelative;
	overflow: hidden;
	.banner{
		&-image{
			img{
				width: 100%;
			}
		}
		&-paragraph{
			&-1{
				margin-bottom: 0;
				font-size: 14px;
				text-transform: uppercase;
			}
		}
		&-title{
			&-1{
				font-weight: bold;
				font-size: 16px;
			}
			&-2{
				font-size: 36px;
				font-weight: bold;
				line-height: 1.4;
				@include breakpoint(large){
					font-size: 28px;
					line-height: 1.2;
				}
				@include breakpoint(medium){
					font-size: 24px;
					line-height: 1.2;
				}
				@include breakpoint(small){
					font-size: 20px;
					line-height: 1.1;
				}
			}
			&-3{
				font-size: 24px;
				font-weight: bold;
				line-height: 1.4;
				@include breakpoint(medium){
					font-size: 18px;
				}
			}
		}
		&-btn{
			@include breakpoint(medium){
				min-width: 160px;
				min-height: 45px;
				line-height: 45px;
			}
			@include breakpoint(small){
				min-width: 150px;
				min-height: 40px;
				line-height: 40px;
			}
		}
		&-bg-shape{
			@extend %posrelative;
			&:after, 
			&:before{
				@extend %pseudo;
				background-color: rgba(0, 0, 0, 0.3);
				z-index: 1;
				@include transition(all 0.4s);
			}
			&:after{
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
			&:before{
				width: 100%;
				height: 100%;
				left: 50%;
				top: 50%;
				@include transform(translate(-50%, -50%) scale(.94,.91));
			}
			&:hover{
				&:after{
					@include transform(scale(.7));
				}
				&:before{
					@include transform(scale(1) translate(-50%, -50%));
				}
			}
		} 
		&-info{
			@extend %basetransition;
			&-over-img{
				.banner{
					&-info{
						@extend %posabsolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
					}
				}
			}
			&-center{
				.banner{
					&-info{
						@extend %flexbox;
						@extend %align-center;
						@extend %justify-center;
					}
				}
			}
			&-left{
				.banner{
					&-info{
						@extend %flexbox;
						@extend %align-center;
						@extend %justify-start;
					}
				}
			}
			&-right{
				.banner{
					&-info{
						@extend %flexbox;
						@extend %align-center;
						@extend %justify-end;
					}
				}
			}
			&--inner{
				@extend %posrelative;
				z-index: 3;
			}
		}
		&-hover{
			&-1{
				.banner{
					&-image{
						@include transform(scale(1.02));
						@extend %posrelative;
						@extend %basetransition;
						&:after{
							@extend %pseudo;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							background-color: rgba($color-black, .4);
							z-index: 1;
							@extend %invisible;
							@extend %basetransition;
						}
					}
				}
				&:hover{
					.banner{
						&-image{
							@include transform(scale(1));
							&:after{
								@extend %visible;
							}
						}
					}
				}
			}
			&-2{
				.banner{
					&-image{
						@include transform(scale(1.02));
						@extend %basetransition;
						@extend %posrelative;
						&:after{
							@extend %bannergradient;
						}
					}
				}
				&:hover{
					.banner{
						&-image{
							@include transform(scale(1));
							&:after{
								@extend %bannergradienthover;
							}
						}
					}
				}
			}
		}
		&-overlay{
			@extend %posabsolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}
}
.banner{
	&-badge{
		&-wrapper{
			@include circle(141);
			background-color: rgba(255, 255, 255, 0.78);
			@include breakpoint(large){
				@include circle(100);
			}
			@include breakpoint(medium){
				@include circle(80);
			}
			@include breakpoint(small){
				@include circle(70);
			}
			&.abs-center{
			    left: 50%;
			    top: 50%;
			    @extend %posabsolute;
			    @include transform(translate(-50%, -50%));
			    line-height: inherit;
			    z-index: 2;
			}
		}
		@extend %posabsolute;
		@extend %primary-color;
		@include transform(translateY(-50%));
	    font-size: 36px;
	    line-height: 1;
	    z-index: 2;
	    top: 50%;
	    width: 100%;
		display: inline-block;
		text-align: center;
		@include breakpoint(large){
			font-size: 28px;
		}
		@include breakpoint(medium){
			font-size: 24px;
		}
		@include breakpoint(small){
			font-size: 20px;
		}
		span{
			display: block;
			font-weight: bold; 
		}
	}
}
.banner{
	&-item{
		@extend %posrelative;
	}
	&-overlay{
		@extend %posabsolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.671);
		@extend %absFlexCenter;
		&:after{
			@extend %pseudo;
		    width: 82.33%;
		    height: 73%;
			border: 15px solid rgba(183, 183, 183, 0.141);
		}
		.video-popup{
			z-index: 1;
		}
	}
}
.parallax-window{
    min-height: 90rem;
    background: transparent;
}
