/*****************************
27 - Components - Mini Cart
*****************************/
 
.mini-cart{
	position: fixed;
	top: 0;
	width: 420px;
	min-height: 100vh;
	bottom: 0;
	z-index: 99999;
	right: 0;
	@extend %invisible;
	@extend %heading-color;
	@include transition(all 400ms ease-out);
	@include transform(translate(200px, 0));
	@include box-shadow(0px 0px 87px 0px rgba(0, 0, 0, 0.09));
    background-color: #fff;

    @include breakpoint(medium){
    	width: 350px;
    }

	@include breakpoint(xsmall){
		max-width: 100%;
	}
	&.open{
	    @extend %visible;
	    @include transform(translate(0, 0));
	}
	.btn-close{
		font-size: 40px;
		top: 4rem;
		right: 4rem;
		height: 30px;
	}

	&-wrapper{
		padding-top: 5rem;
	}
	&-inner{
		overflow: auto;
		height: 100%;
		overflow: hidden;
		padding: 5rem;
	}

	&__heading{
		font-weight: 400;
		font-size: 24px;
	}
	&__list{
	    max-height: 300px;
	    overflow: auto;
	    margin-right: -70px;
	    padding-right: 70px;
	    margin-bottom: 30px;
	    @include breakpoint(xsmall){
	    	margin-bottom: 20px;
	    }
	}
	&__product{
		@extend %flexbox;
		@extend %posrelative;
		&:not(:last-child){
			margin-bottom: 30px;
		}
		.remove{
		    display: block;
		    font-weight: normal;
		    font-size: 14px;
		    height: 20px;
		    width: 20px;
		    line-height: 17px;
		    overflow: hidden;
		    position: absolute;
		    right: -17px;
		    top: 2px;
		    text-align: right;
		    @extend %heading-color; 
		    &:hover{
		    	@extend %primary-color;
		    }
		}
		&__image{
			@include flex-basis(70px);
			max-width: 70px;
		}
		&__content{
			@include flex-basis(calc(100% - 70px));
			max-width: calc(100% - 70px);
			padding-left: 20px;
			padding-right: 10px;
			@include breakpoint(small){
				@include flex-basis(calc(100% - 90px));
				max-width: calc(100% - 90px);
				padding-left: 10px;
			}
		}
		&__title{
			@extend %heading-color;
			display: block;
			font-size: 14px;
			line-height: normal;
			margin: 0 0 5px;
			&:hover{
				@extend %primary-color;
			}
		}
	}
	&__total{
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
		margin-bottom: 30px;
		span{
			&.ammount{
				font-size: 18px;
			}
		}
	}
}