/*****************************
32 - Components - Social
*****************************/

.social{
	line-height: 1;
	&__item{
		display: inline-block;
		&:not(:last-child){
			margin-right: 5px;
		}
	}
	&__link{
		@extend %flexbox;
		@extend %align-center;
		@extend %justify-start;
		@extend %heading-color;
		font-size: 12px;
		text-transform: capitalize;
		@include breakpoint(xsmall){
			@include justify-content(center);
		}
		span{
			@extend %white-bg-color;
			border: 1px solid $border-color;
			padding: 0 12px;
			height: 22px;
			line-height: 20px;
			@include breakpoint(small){
				display: none;
			}
		}
		i{
			background-color: $primary-color;
			width: 38px;
			height: 24px;
			font-size: 14px; 
			line-height: 24px;
			color: $color-white;
		}
		&.facebook{
			i{
				background-color: $facebook;
			}
		}
		&.google-plus{
			i{
				background-color: $google-plus;
			}
		}
		&.pinterest{
			i{
				background-color: $pinterest;
			}
		}
		&.twitter{
			i{
				background-color: $twitter;
			}
		}
	}
	&-2{
		.social__item{
			display: inline-block;
			@include breakpoint(xsmall){
				display: inline-block;
			}
			&:not(:last-child){
				margin-right: 0;
				margin-bottom: 0;
			}
		}
	}
	&-sharing{
		.social{
			&__item{
				@include breakpoint(xsmall){
					display: inline-block;
				}
			}
			&__link{
				i{
				    width: 38px;
				    height: 30px;
				    line-height: 30px;
				    text-align: center;
				}
			}
		}
	}
	&.color-2{
		.social__link{
			span{
				background-color: #d2d2d2;
			}
		}
	}
}

