/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
	.main-menu ul li {
	  margin: 0 12px;
	}
	.hm-two .main-menu ul li .mega-menu {
	  width: 880px;
	}
	.hm-two .main-menu ul li .mega-menu {
	  left: -386px;
	}
	.hm-two .main-menu ul li .mega-menu-2 {
	  left: -350px !important;
	  width: 700px !important;
	}
	.user-meta ul {
	  width: 165px;
	}
	.hm-two .logo-area {
	  padding: 20px 0 12px 30px;
	}
	.hm-two .slider-1 h2 {
	  font-size: 42px;
	  left: 37.5%;
	}
	.hm-two .slider-1 h3 {
	  font-size: 46px;
	  left: 38.5%;
	}
	.hm-two .slider-3 h2 {
	  font-size: 36px;
	  left: -39%;
	  top: 38px;
	}
	.hm-two .slider-3 h3 {
	  font-size: 28px;
	  left: -39.5%;
	  top: 34px;
	}
	.hm-two .slider-2 h2 {
	  font-size: 36px;
	}
	.header-menu-area {
	  width: 98%;
	}
	.latestblog-content {
	  padding: 50px;
	}
	.mrbtm-40 {
	  margin-bottom: 27px;
	}
	.main-menu ul li .mega-menu {
	  left: -434px;
	  width: 940px;
	}
	.main-menu ul li .mega-menu-2 {
	  left: -425x;
	  width: 800px;
	}
	h2.title5 {
	  font-size: 72px;
	}
	h2.title6 {
	  font-size: 48px;
	  margin: 0 0 45px;
	  line-height:60px;
	}
	.slide-all.slide2 h2.title5 {
	  font-size: 72px;
	}
	.slide-all.slide2 h2.title6 {
	  font-size: 52px;
	  line-height: 50px;
	  margin: 0 0 42px;
	}
	.slide-all.slide2 {
	  margin-right: 18.5%;
	  margin-top: 14%;
	}
	.right-area .primary {
	  margin-bottom: 24px;
	}
	.titel h2 {
	  font-size: 82px;
	}
	.titel h3 {
	  font-size: 78px;
	}
	.left-area figure a:hover::after {
	  height: 95.5%;
	  left: 14.5px;
	  top: 15px;
	  width: 93.5%;
	}
	.right-area .primary > figure:hover::before {
	  height: 90.8%;
	  left: 14.5px;
	  top: 15px;
	  width: 93.5%;
	}
	.featured-left {
	  display: block;
	  overflow: hidden;
	}
	.show-label {
	  padding-left: 238px;
	}
	.price_slider_amount > input[type="submit"] {
	  width: 70px;
	}
	.price_slider_amount > input[type="text"] {
	  width: 108px;
	}
	.price-slider.size-area ul li a {
	  margin-right: 0;
	  padding: 4px 6px;
	}
	.top-seller-details {
	  padding: 20px 0;
	}

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.hm-two .logo-area, .hm-two .header-left, .logo-area {
	  text-align: center;
	}
	.hm-two .main-menu ul li .mega-menu {
	  left: -313px;
	  width: 730px;
	}
	.hm-two .main-menu ul li .mega-menu-2 {
	  left: -388px !important;
	  width: 700px !important;
	}
	.user-meta:hover ul {
	  top: 91%;
	}
	.mini-cart:hover .show-shopping-cart {
	  transform: translateY(-4px);
	}
	.other-page .user-meta:hover ul {
	  top: 100%;
	}
	.mr-10 {
	  margin-bottom: 9px;
	}
	.single-banner .button-two {
	  font-size: 14px;
	  padding: 8px;
	}
	.single-banner .featured-left > a > span.button-three {
	  font-size: 14px;
	  padding: 5px 8px;
	}
	.other-page .mini-cart:hover .show-shopping-cart {
	  transform: translateY(2px);
	}
	.hm-two .slider-1 h2 {
	  font-size: 38px;
	  left: 37.5%;
	}
	.hm-two .slider-1 h3 {
	  font-size: 40px;
	  left: 38.5%;
	}
	.hm-two .slider-3 h2 {
	  font-size: 38px;
	  left: -38%;
	  top: 33px;
	}
	.hm-two .slider-3 h3 {
	  font-size: 26px;
	  left: -38.5%;
	  top: 29px;
	}
	.hm-two .slider-2 h2 {
	  font-size: 32px;
	}
	.hm-two .slider-2 h3 {
	  font-size: 26px;
	}
	.mrbtm-40 {
	  margin-bottom: 16px;
	}
	.product-titel > a {
	  font-size: 14px;
	}
	.content {
	  margin-top: 15px;
	}
	.pro-action ul li a {
	  height: 35px;
	  padding-top: 6px;
	  width: 35px;
	}
	[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
	  font-size: 16px;
	}
	.latestblog-content {
	  padding: 55px 30px 60px;
	}
	.latestblog-content > p {
	  margin-bottom: 40px;
	}
	.header-search {
	  display: none;
	}
	.main-menu ul li .mega-menu {
	  left: -392px;
	  width: 850px;
	}
	.main-menu ul li .mega-menu-2 {
	  left: -381px;
	  width: 682px;
	}
	.slide-all {
	  margin-right: 23.5%;
	}
	h2.title5 {
	  font-size: 56px;
	}
	h2.title6 {
	  font-size: 38px;
	  line-height: 40px;
	  margin: 0 0 35px;
	}
	.header-menu-area {
	  background: #5e5e5e none repeat scroll 0 0;
	  position:unset;
	}
	.header-bg {
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  border-top: medium none;
	}
	.slide-all.slide2 h2.title5 {
	  font-size: 48px;
	}
	.slide-all.slide2 h2.title6 {
	  font-size: 48px;
	  line-height: 60px;
	  margin: 0 0 32px;
	}
	.slide-all.slide2 {
	  margin-right: 22.5%;
	  margin-top: 12%;
	}
	.titel h2, .titel h3 {
	  font-size: 62px;
	}
	.right-area .primary {
	  margin-bottom: 17px;
	}
	.left-area figure a:hover::after {
	  height: 94.5%;
	  left: 13.5px;
	  top: 13.5px;
	  width: 92%;
	}
	.right-area .primary > figure:hover::before {
	  height: 89%;
	  left: 14.5px;
	  top: 13.5px;
	  width: 92%;
	}
	.right-titel {
	  right: 40px;
	  top: 35px;
	}
	.right-titel > h2 {
	  font-size: 32px;
	}
	.featured-left {
	  display: block;
	  overflow: hidden;
	}
	.featured-right .fes-new {
	  display: none;
	}
	.featured-right .single-item:hover .product-action {
	  top: 28%;
	}
	.product-action ul li a {
	  margin-right: 10x;
	}
	.product-action {
	  margin-left: -13px;
	}
	.shipping-area .shipping-single-item h4 {
	  font-size: 15px;
	}
	.shipping-single-item > p {
	  font-size: 12px;
	}
	.post-single-item > p {
	  bottom: 45px;
	  height: 60px;
	  line-height: 60px;
	  right: 30px;
	  width: 60px;
	}
	.post-single-main-area:hover .read-more-overlay {
	  padding: 26px 0;
	}
	.welcome-right > img {
	  width: 100%;
	}
	.compare-products {
	  display: none;
	}
	.shop-single-main {
	  border-bottom: medium none;
	  float: left;
	  width: 50%;
	}
	.show-label {
	  padding-left: 260px;
	}
	.bottoma {
	  margin-left: 8% !important;
	  padding: 10px 25px !important;
	}
	.bottomb {
	  padding: 10px 30px !important;
	}
	.res-mr-btm{margin-bottom:30px;}
	.checkout-left-area {
	  padding-right: 0;
	}
	.wishlist-area {
	  padding: 80px 0;
	}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
	.container {width:300px}
	.mobile-menu-area {
	  display: block;
	}
	.main-menu {
	  display: none;
	}
	.hm-two .logo-area, .header-left, .footer-logo {
	  padding: 12px 0;
	  text-align: center;
	}
	.hm-two .mean-container .mean-bar {
	  padding: 4px 0 10px;
	}
	.hm-two .show-shopping-cart {
	  left: 2px;
	  margin: 0 -180px;
	  right: 0;
	  width: 317px;
	}
	.hm-two .mini-cart:hover .show-shopping-cart {
	  transform: translateY(-4px);
	}
	.show-shopping-cart .list-product .thumb {
	  width: 55px;
	}
	.banner-1, .banner-2 {
	  width: 86%;
	}
	.xs-mr-10{margin-bottom: 12px;}
	.hm-two .user-meta ul {
	  right: 0;
	  top: 120%;
	  width: 180px;
	  left: 0;
	  margin: 0 -64px;
	}
	.user-meta:hover ul {
	  top: 92%;
	}
	.hm-two .preview-1 a.nivo-prevNav {
	  left: 12px;
	}
	.hm-two .preview-1 a.nivo-nextNav {
	  right: 12px;
	}
	.hm-two .slider-3 h2, .hm-two .slider-3 h3 {
	  display: none;
	}
	.hm-two .slider-1 h2 {
	  font-size: 24px;
	  left: 6.5%;
	  top: 17px;
	}
	.hm-two .slider-1 h3 {
	  font-size: 26px;
	  left: 65.5%;
	  top: 13px;
	}
	.nivo-directionNav {
	  display: none;
	}
	.preview-1 .nivo-controlNav {
	  bottom: 30px;
	}
	.hm-two .slider-2 h2 {
	  font-size: 14px;
	  margin-left: 30px;
	  margin-top: 8px;
	}
	.hm-two .slider-2 h3 {
	  font-size: 17px;
	  margin-left: 30px;
	}
	.frs-pro-content > h2 {
	  font-size: 24px;
	}
	.mrbtm-40 {
	  margin-bottom: 20px;
	}
	.popular-middle {
	  margin-bottom: 30px;
	  margin-top: 20px;
	}
	.popular-collection-area .owl-theme .owl-controls .owl-buttons div, .featured-area-two .owl-theme .owl-controls .owl-buttons div {
	  top: 48%;
	}
	.latestblog-content {
	  padding: 40px 30px 35px;
	}
	.ourclient-owl .col-md-12 > img {
	  width: 100%;
	}
	.footer-newsletter input {
	  width: 270px;
	}
	.footer-top-left {
	  margin-bottom: 25px;
	}
	.footer-top-right {
	  margin-bottom: 30px;
	}
	.contact-details ul li a, .contact-details-middle ul li *::before {
	  display: none;
	}
	.contact-social-icon {
	  text-align: center;
	  float:none;
	}
	.footer-bottom-area {
	  line-height: 20px;
	}
	.footer-bottom-titel > p {
	  margin-top: 15px;
	  text-align: center;
	  margin-bottom:15px;
	}
	.footer-bottom-payment {
	  margin-bottom: 15px;
	}
	.social-header {
	  text-align: center;
	}
	.cartlogin-left.pull-right {
	  float: none !important;
	  text-align: center;
	  margin-bottom: 15px;
	}
	.cartlogin-left > ul > li {
	  border: 1px solid #d4d3d3;
	}
	.logo-area {
	  padding: 15px 0;
	  text-align: center;
	}
	.header-bg {
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  border-top: medium none;
	}
	.header-search {
	  display: none;
	}
	.header-menu-area {
	  background: #676767;
	}
	.header-menu-area {
	  position: unset;
	  width: 100%;
	}
	.show-shopping-cart {
	  left: 0;
	  margin: 0 -159px;
	  position: absolute;
	  right: 0;
	  width: 318px;
	}
	.user-meta ul {
	  left: 0;
	  margin: 0 -31px;
	  right: 0;
	  top: 120%;
	  width: 180px;
	}
	h2.title5 {
	  font-size: 22px;
	}
	h2.title6 {
	  font-size: 22px;
	  line-height: 20px;
	}
	.slide-all.slide2 h2.title5 {
	  font-size: 26px;
	}
	.slide-all.slide2 h2.title6 {
	  font-size: 28px;
	  line-height: 25px;
	  margin: 0 0 12px;
	}
	.layer-3 {
	  display: none;
	}
	.slide-all.slide2 {
	  margin-top: 5%;
	}
	.titel h3 {
	  font-size: 46px;
	}
	.titel h2 {
	  font-size: 48px;
	}
	.left-area figure a:hover::after {
	  height: 92.5%;
	  width: 89%;
	}
	.right-area .primary > figure:hover::before {
	  height: 85%;
	  width: 89%;
	}
	.featured-tab li a {
	  font-size: 14px;
	  padding: 5px 10px;
	}
	.featured-left:hover .frs-pro-content {
	  top: 38%;
	}
	.left-area.hover {
	  margin-bottom: 30px;
	}
	.right-titel {
	  right: 30px;
	  top: 25px;
	}
	.right-titel > h2 {
	  font-size: 28px;
	}
	.featured-left {
	  display: block;
	  overflow: hidden;
	}
	.xs-mrbtm{margin-bottom:30px;}
	.frs-left-pro-content {
	  left: 35px;
	}
	.frs-left-pro-content > h4 {
	  font-size: 26px;
	}
	.frs-left-pro-content > h2 {
	  font-size: 22px;
	}
	.frs-left-pro-content a.sp-button {
	  font-size: 14px;
	  padding: 8px;
	}
	.post-single-item > p {
	  bottom: 45px;
	  height: 55px;
	  line-height: 55px;
	  right: 28px;
	  width: 55px;
	}
	.post-single-main-area:hover .read-more-overlay {
	  padding: 25px 0;
	}
	.welcome-area .welcome-heading > h1 {
	  font-size: 24px;
	}
	.blog-area .pagination, .last-cart-con.bd-icon {
	  margin: 0 0 50px;
	}
	.show-label {
	  margin-right: 8px;
	  padding-left: 8px;
	}
	.sort-position {
	  display: none;
	}
	.table-bottom-area .bottom-button > a, .shopingcart-bottom-area a {
	  margin-left: 0;
	}
	.shopingcart-bottom-area .bottom-button, .table-bottom-area .bottom-button {
	  float: none;
	}
	.bottoma {
	  display: block;
	  margin-bottom: 20px !important;
	  margin-left: 0 !important;
	  padding: 10px 60px !important;
	}
	.bottomb {
	  display: block;
	  margin-bottom: 20px;
	  padding: 10px 50px !important;
	}
	.checkout-left-area {
	  padding-right: 0;
	}
	.table-bottom-area > a {
	  display: block;
	  float: none;
	  margin-bottom: 15px;
	}
	.table-bottom-area .bottom-button > a {
	  display: block;
	  margin-bottom: 15px;
	  padding: 10px 65px;
	}
	.wishlist-area {
	  padding: 80px 0;
	}
	.four-zero-four {
	  padding: 150px 0;
	}
	.four-zero-content h2 {
	  font-size: 32px;
	}
	.shop-list-left {
	  float: none;
	  padding-right: 0;
	}
	.shop-list-right {
	  padding: 10px;
	}
	.table-bottom-area .bottom-button > a, .shopingcart-bottom-area a {
	  text-align: center;
	}
	.log-in-left {
	  float: none;
	  margin-right: 0;
	}
	.checkout-left-area {
	  padding-bottom: 30px;
	}
	.modal-product .product-images {
	  width: 100%;
	}
	.modal-product .product-info {
	  margin: 0;
	  padding: 0;
	  width: 100%;
	}
	.quick-add-to-cart .single_add_to_cart_button {
	  font-size: 13px;
	  padding: 0 18px;
	}
	.modal-product .widget .social-icons li {
	  margin-right: 6px;
	}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {width:450px}
	.mobile-menu-area {
	  display: block;
	}
	.main-menu {
	  display: none;
	}
	.popular-left.mrbtm-40 img, .popular-left img, .single-item.fes-bottom img, .single-item img, .single-product img, .shop-list-left img {
	  width: 100%;
	}
	.footer-newsletter input {
	  width: 420px;
	}
	.footer-top-left {
	  margin-bottom: 0;
	}
	.footer-bottom-payment {
	  float: none;
	  text-align: center;
	}
	.frs-left-pro-content {
	  left: 65px;
	}
	.frs-left-pro-content > h4 {
	  font-size: 30px;
	}
	.frs-left-pro-content > h2 {
	  font-size: 26px;
	}
	.frs-left-pro-content a.sp-button {
	  font-size: 16px;
	  padding: 10px;
	}
	.slide-all.slide2 {
	  margin-top: 15%;
	  margin-right: 23.5%;
	}
	.slide-all {
	  margin-right: 25.5%;
	  margin-top: 16%;
	}
	.left-area figure a:hover::after {
	  height: 95.5%;
	  width: 93%;
	  top:15px;
	}
	.right-area .primary > figure:hover::before {
	  height: 91%;
	  width: 93%;
	}
	.shop-list-right {
	  padding: 20px;
	}
	.shoping-cart-area {
	  padding: 80px 0;
	}
}
 
