// main: ../style.scss

// Default Colors Set
$default: #9fa1a4;
$default-light: #f8f9fa;
$default-dark: #0d1e2d;

// Primary Colors Set
$primary: #2d71a1;
$primary-light: #559bcc;
$primary-dark: #1c537a;

// Secondary Colors Set
$secondary: #274685;
$secondary-light: #1391a5;
$secondary-dark: #0d1e2d;

// Link Colors
$links: #777;
$links-hover: #000;

// General Colors
$red: #dc3545;
$green: #28a745;
$blue: #007bff;
$yellow: #ffc107;
$orange: #fd7e14;
$purple: #6f42c1;
$pink: #e83e8c;
$white: #fff;
$gray: #6c757d;
$black: #000000;
$teal: #20c997;
$cyan: #17a2b8;

/// Fonts
$font-default: 'Roboto', sans-serif;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Poppins', sans-serif;
