@font-face {
    font-family: 'BIG_JOHN';
    src: url('fonts/BIG_JOHN.eot');
    src: url('fonts/BIG_JOHN.eot') format('embedded-opentype'),
         url('fonts/BIG_JOHN.woff2') format('woff2'),
         url('fonts/BIG_JOHN.woff') format('woff'),
         url('fonts/BIG_JOHN.ttf') format('truetype'),
         url('fonts/BIG_JOHN.svg#BIG_JOHN') format('svg');
}
