$color-primary: #48abec;
$color-primary-light: #d7ebf8;
$color-primary-dark: #1c81c4;

$color-secondary: #f5f5f5;
$color-secondary-dark: #676767;

$color-text-primary: #4e4e4e;
$color-text-secondary: #1e1e1e;

@import 'style';
