$color-primary: #f0642d;
$color-primary-light: #faded3;
$color-primary-dark: #db4a10;

$color-secondary: #f5f5f5;
$color-secondary-dark: #676767;

$color-text-primary: #4e4e4e;
$color-text-secondary: #1e1e1e;

@import 'style';
