$color-primary: #24b67e;
$color-primary-light: #bbf5df;
$color-primary-dark: #0d9963;

$color-secondary: #f5f5f5;
$color-secondary-dark: #676767;

$color-text-primary: #4e4e4e;
$color-text-secondary: #1e1e1e;

@import 'style';
