$color-primary: #8400ff;
$color-primary-light: #e3c5ff;
$color-primary-dark: #5a03ac;

$color-secondary: #f5f5f5;
$color-secondary-dark: #676767;

$color-text-primary: #4e4e4e;
$color-text-secondary: #1e1e1e;

@import 'style';
