$color-primary: #be3131;
$color-primary-light: #f5dcdc;
$color-primary-dark: #9c0d0d;

$color-secondary: #f5f5f5;
$color-secondary-dark: #676767;

$color-text-primary: #4e4e4e;
$color-text-secondary: #1e1e1e;

@import 'style';
