/*------------------------------------------------------------------------------

Template: Chondo hotel
Author: 
Version: 1
Design and Developed by: 

Note: This core style file includes all external plugins css file.

-------------------------------------------------------------------------------*/

@import url("font-awesome.min.css");
@import url("materialdesignicons.min.css");
@import url("plugins/animate.css");
@import url("plugins/meanmenu.min.css");
@import url("plugins/bootstrap-datepicker3.min.css");
@import url("plugins/bootstrap-select.min.css");
@import url("plugins/owl.carousel.css");
@import url("plugins/owl.theme.css");
@import url("plugins/owl.transitions.css");
@import url("plugins/magnific-popup.css");
@import url("plugins/animated-headlines.css");
@import url("plugins/jquery-ui.min.css");
@import url("shortcode/default.css");