<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ronak - Minimal Portfolio Bootstrap4 Template</title>
        <meta name="description" content="">
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/icons.css">
        <link rel="stylesheet" href="assets/css/plugins.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!-- header start -->
        <header class="header-area transparent-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-5 col-sm-4">
                        <div class="logo mt-25">
                            <a href="index.html">
                                <img alt="" src="assets/img/logo/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-7 col-sm-8">
                        <div class="menu-search-bundle">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li class="top-hover"><a href="index.html">home <i class="ion-chevron-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="index.html">home version 1</a></li>
                                                <li><a href="index-2.html">home version 2</a></li>
                                                <li><a href="index-3.html">home version 3</a></li>
                                                <li><a href="index-4.html">home version 4</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">about</a></li>
                                        <li><a href="portfolio-style-1.html">portfolio</a>
                                            <ul class="submenu">
                                                <li><a href="portfolio-style-1.html">portfolio style 1</a></li>
                                                <li><a href="portfolio-style-2.html">portfolio style 2</a></li>
                                                <li><a href="portfolio-style-3.html">portfolio style 3</a></li>
                                                <li><a href="single-portfolio.html">portfolio details 1</a></li>
                                                <li><a href="single-portfolio-2.html">portfolio details 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages</a>
                                            <ul class="submenu">
                                                <li><a href="about-us.html">about us </a></li>
                                                <li><a href="about-me.html">about me </a></li>
                                                <li><a href="service.html">service style 1</a></li>
                                                <li><a href="service-2.html">service style 2</a></li>
                                                <li><a href="contact.html">contact us</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog.html">blog</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">blog page</a></li>
                                                <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
                                                <li><a href="blog-details.html">blog details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area d-md-block d-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active">
                                <ul class="menu-overflow">
                                    <li><a href="index.html">HOME</a>
                                        <ul>
                                            <li><a href="index.html">home version 1</a></li>
                                            <li><a href="index-2.html">home version 2</a></li>
                                            <li><a href="index-3.html">home version 3</a></li>
                                            <li><a href="index-4.html">home version 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html"> About us </a></li>
                                    <li><a href="portfolio-style-1.html">portfolio</a>
                                        <ul>
                                            <li><a href="portfolio-style-1.html">portfolio style 1</a></li>
                                            <li><a href="portfolio-style-2.html">portfolio style 2</a></li>
                                            <li><a href="portfolio-style-3.html">portfolio style 3</a></li>
                                            <li><a href="single-portfolio.html">portfolio details 1</a></li>
                                            <li><a href="single-portfolio-2.html">portfolio details 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">pages</a>
                                        <ul>
                                            <li><a href="about-us.html">about us </a></li>
                                            <li><a href="about-me.html">about me </a></li>
                                            <li><a href="service.html">service style 1</a></li>
                                            <li><a href="service-2.html">service style 2</a></li>
                                            <li><a href="contact.html">contact us</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">blog</a>
                                        <ul>
                                            <li><a href="blog.html">blog page</a></li>
                                            <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
                                            <li><a href="blog-details.html">blog details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html"> Contact us </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Slider Start -->
        <div class="breadcrumb-area">
            <div class="bg-img ptb-100 slider-overly d-flex align-items-center" style="background-image: url(assets/img/slider/5.jpg);">
                <div class="container">
                    <div class="breadcrumb-text text-center">
                        <h2>about us</h2>
                        <ul>
                            <li>
                                <a class="active" href="index.html">Home</a>
                            </li>
                            <li>about us</li>
                        </ul>
                    </div>
                </div>
                <div id="particles-js" class="particles-js"></div>
            </div>    
        </div>
        <div class="about-us pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="about-dec">
                            <h2 class="about-title">Design Your Dream & Make Difference</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <p class="minim1-btn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                            <div class="about-list">
                                <ul>
                                    <li><span>1.</span> We love products that work perfectly and look beautiful.</li>
                                    <li><span>2.</span> We create base on a deeply analysis of your project.</li>
                                    <li><span>3.</span> We are create design with really high quality standards.</li>
                                    <li><span>4.</span> We love products that work perfectly and look beautiful.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="about-img">
                            <img alt="" src="assets/img/banner/about.jpg">
                            <a class="video-btn video-popup" href="https://www.youtube.com/watch?v=Rp19QD2XIGM">
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-area gray-bg pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center mb-40">
                    <h2>our <span>service</span></h2>
					<img alt="" src="assets/img/icon-img/section-shape-2.png">
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-service text-center mb-30">
                            <div class="single-service-icon">
                                <i class="bi bi-laptop"></i>
                            </div>
                            <div class="single-service-content">
                                <h4>Web Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipising elit. Pellentesque vel volutpat felis, eu condimtum. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-service text-center mb-30">
                            <div class="single-service-icon">
                                <i class="bi bi-pencil"></i>
                            </div>
                            <div class="single-service-content">
                                <h4>Web Development </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipising elit. Pellentesque vel volutpat felis, eu condimtum. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-service text-center mb-30">
                            <div class="single-service-icon">
                                <i class="bi bi-camera"></i>
                            </div>
                            <div class="single-service-content">
                                <h4>Photography</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipising elit. Pellentesque vel volutpat felis, eu condimtum. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-service text-center mb-30">
                            <div class="single-service-icon">
                                <i class="bi bi-steps"></i>
                            </div>
                            <div class="single-service-content">
                                <h4>Branding</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipising elit. Pellentesque vel volutpat felis, eu condimtum. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-service text-center mb-30">
                            <div class="single-service-icon">
                                <i class="bi bi-shutter1"></i>
                            </div>
                            <div class="single-service-content">
                                <h4>Support</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipising elit. Pellentesque vel volutpat felis, eu condimtum. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="single-service text-center mb-30">
                            <div class="single-service-icon">
                                <i class="bi bi-office-bag"></i>
                            </div>
                            <div class="single-service-content">
                                <h4>Marketing</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipising elit. Pellentesque vel volutpat felis, eu condimtum. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-area pt-95 pb-70">
            <div class="container">
                <div class="section-title text-center mb-40">
                    <h2>Great <span>Team</span></h2>
					<img alt="" src="assets/img/icon-img/section-shape-2.png">
                </div>
                <div class="row">
                    <!-- Single Team Start -->
                    <div class="col-sm-6 col-md-4">
                        <div class="single-team mb-30">
                            <div class="team-img hover-team">
                                <img src="assets/img/team/1.jpg" alt="">
                                <div class="social-links st-team">
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-twitter-bird"></i></a>
                                    <a href="#"><i class="bi bi-google"></i></a>
                                    <a href="#"><i class="bi bi-dribbble"></i></a>
                                    <a href="#"><i class="bi bi-youtube"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Shirley West</h3>
                                <h6>CEO</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End -->
                    <!-- Single Team Start -->
                    <div class="col-sm-6 col-md-4">
                        <div class="single-team mb-30">
                            <div class="team-img hover-team">
                                <img src="assets/img/team/2.jpg" alt="">
                                <div class="social-links st-team">
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-twitter-bird"></i></a>
                                    <a href="#"><i class="bi bi-google"></i></a>
                                    <a href="#"><i class="bi bi-dribbble"></i></a>
                                    <a href="#"><i class="bi bi-youtube"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Jacob Meyer</h3>
                                <h6>Chairman</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End -->
                    <!-- Single Team Start -->
                    <div class="col-sm-6 col-md-4">
                        <div class="single-team mb-30">
                            <div class="team-img hover-team">
                                <img src="assets/img/team/3.jpg" alt="">
                                <div class="social-links st-team">
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-twitter-bird"></i></a>
                                    <a href="#"><i class="bi bi-google"></i></a>
                                    <a href="#"><i class="bi bi-dribbble"></i></a>
                                    <a href="#"><i class="bi bi-youtube"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Linda Ferguson</h3>
                                <h6>Manager</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>
            </div>
        </div>
        <div class="skill-area pb-100">
            <div class="container">
                <div class="section-title text-center mb-40">
                    <h2>Our <span>Skill </span> </h2>
					<img alt="" src="assets/img/icon-img/section-shape-2.png">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="abt-content pr-50">
                            <div class="skill-bar">
                                <div class="skill-bar-item">
                                    <span>WEB DESIGN</span>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft" data-progress="80%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                        </div>
                                    </div>
                                    <span class="text-top">80%</span>
                                </div>
                                <div class="skill-bar-item">
                                    <span>PHP &amp; JAVASCRIPT</span>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft" data-progress="90%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                        </div>
                                    </div>
                                    <span class="text-top">90%</span>
                                </div>
                                <div class="skill-bar-item">
                                    <span>HTML5 &amp; CSS3</span>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft" data-progress="70%"  data-wow-duration="1.5s" data-wow-delay="1.2s">
                                        </div>
                                    </div>
                                    <span class="text-top">70%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="abt-content abt-content-mrg-top pr-50">
                            <div class="skill-bar">
                                <div class="skill-bar-item">
                                    <span>WEB DESIGN</span>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft" data-progress="80%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                        </div>
                                    </div>
                                    <span class="text-top">80%</span>
                                </div>
                                <div class="skill-bar-item">
                                    <span>PHP &amp; JAVASCRIPT</span>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft" data-progress="90%" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                        </div>
                                    </div>
                                    <span class="text-top">90%</span>
                                </div>
                                <div class="skill-bar-item">
                                    <span>HTML5 &amp; CSS3</span>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft" data-progress="70%"  data-wow-duration="1.5s" data-wow-delay="1.2s">
                                        </div>
                                    </div>
                                    <span class="text-top">70%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-area gray-bg pt-100 pb-100">
            <div class="container">
                <div class="section-title text-center mb-40">
                    <h2>What <span>clients </span> say?</h2>
					<img alt="" src="assets/img/icon-img/section-shape-2.png">
                </div>
                <div class="testimonial-active owl-carousel">
                    <div class="single-testimonial">
                        <div class="testimonial-img">
                            <img src="assets/img/team/tesi-1.png" alt="">
                        </div>
                        <div class="testimonial-content">
                            <p>“Ronak provide how all this mistaken idea of uncing sure anding pain was born an will give you a letent of the system, and nd the actual teachings eat” </p>
                            <h4>Stuart Broad</h4>
                            <span>CEO, Zimcon Group</span>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="testimonial-img">
                            <img src="assets/img/team/tesi-2.png" alt="">
                        </div>
                        <div class="testimonial-content">
                            <p>“Ronak provide how all this mistaken idea of uncing sure anding pain was born an will give you a letent of the system, and nd the actual teachings eat” </p>
                            <h4>Stuart Broad</h4>
                            <span>CEO, Zimcon Group</span>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="testimonial-img">
                            <img src="assets/img/team/tesi-1.png" alt="">
                        </div>
                        <div class="testimonial-content">
                            <p>“Ronak provide how all this mistaken idea of uncing sure anding pain was born an will give you a letent of the system, and nd the actual teachings eat” </p>
                            <h4>Stuart Broad</h4>
                            <span>CEO, Zimcon Group</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-logo-area ptb-100">
            <div class="container">
                <div class="brand-logo-active owl-carousel">
                    <div class="single-logo">
                        <img alt="" src="assets/img/brand-logo/1.png">
                    </div>
                    <div class="single-logo">
                        <img alt="" src="assets/img/brand-logo/2.png">
                    </div>
                    <div class="single-logo">
                        <img alt="" src="assets/img/brand-logo/3.png">
                    </div>
                    <div class="single-logo">
                        <img alt="" src="assets/img/brand-logo/4.png">
                    </div>
                    <div class="single-logo">
                        <img alt="" src="assets/img/brand-logo/5.png">
                    </div>
                    <div class="single-logo">
                        <img alt="" src="assets/img/brand-logo/2.png">
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-area">
            <div class="footer-top black-bg pt-100 pb-55">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-about text-center mb-40">
                                <a href="index.html">
                                    <img src="assets/img/logo/logo2.png" alt="">
                                </a>
                                <div class="social-icon">
                                    <ul>
                                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="#"><i class="bi bi-twitter-bird"></i></a></li>
                                        <li><a href="#"><i class="bi bi-google"></i></a></li>
                                        <li><a href="#"><i class="bi bi-dribbble"></i></a></li>
                                        <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-info text-center mb-40">
                                <div class="footer-info-icon">
                                    <i class="bi bi-map-pointer"></i>
                                </div>
                                <p> 123 West Street,Melbourne </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-info text-center mb-40">
                                <div class="footer-info-icon">
                                    <i class="bi bi-mobile"></i>
                                </div>
                                <p>+1 234 567 89 00 </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="footer-widget footer-info text-center mb-40">
                                <div class="footer-info-icon">
                                    <i class="bi bi-envelop"></i>
                                </div>
                                <p><a href="#">info@example.com</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom black-bg-2 pt-20 pb-25">
                <div class="container">
                    <div class="copyright text-center">
                        <span>
                            Copyright ©
                            <a href="#"> Ronak</a>
                            . All right reserved.
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        
        
        
        
        
        
		
		<!-- all js here -->
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/particles.js"></script>
        <script src="assets/js/particles-app.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
