// out: false
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: $font-default;
  color: $default;
}

a {
  color: $links;
}

a:hover  {
  color: $links-hover;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: $font-primary;
}

.site-section {
	padding: 7rem 0;
}



// Portfolio
.filters {
	a {
		color: #000;
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 10px;
				right: 10px;
				bottom: 0;
				height: 1px;
				background-color: #000;
			}
		}
		&.active {
			color: #000;
			&:before {
				content: "";
				position: absolute;
				left: 10px;
				right: 10px;
				bottom: 0;
				height: 1px;
				background-color: #000;
			}
		}
	}
	
}

.item { 
  border: none;
  margin-bottom: 30px;
  .item-wrap {
  	display: block;
  	position: relative;
  	overflow: hidden;
  	&:after {
  		z-index: 2;
			position: absolute;
			content: "";
			top: 0; left: 0; right: 0; bottom: 0;
			background: rgba(#000, .4);
			visibility: hidden;
			opacity: 0;
			transition: .3s all ease-in-out;
  	}
  	img {
			transition: .3s transform ease;
			transform: scale(1.0);
  	}
  	> .work-info {
  		position: absolute;
  		top: 50%;
  		width: 100%;
  		text-align: center;
  		z-index: 3;
  		transform: translateY(-50%);
			color: #fff;
			opacity: 0;
			visibility: hidden;
			margin-top: 20px;
			transition: .3s all ease;
			h3 {
				font-size: 20px;
				margin-bottom: 0;
			}
			span {
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: .2rem;
			}
  	}
  	&:hover {
  		text-decoration: none;
			img {
				transform: scale(1.05);
			}
  		&:after {
  			opacity: 1;
  			visibility: visible;
  		}
  		.work-info {
  			margin-top: 0px;
  			opacity: 1;
  			visibility: visible;
  		}
  	}
  }
}

// Testimonials 
.testimonial-wrap {
	padding: 50px 50px 80px 50px;
	background: darken(#f8f9fa, 4%);
	.testimonial {
		text-align: center;
		max-width: 500px;
		margin: 0 auto;
		img {
			border-radius: 50%;
			width: 120px;
			margin: 0 auto 30px auto;
		}
		blockquote {
			p {
				font-size: 20px;
			}
		}
	}
}

.h3 {
	font-size: 20px;
}
.h4 {
	font-size: 16px;
}
.heading {
	font-size: 28px;
}
.readmore {
	display: inline-block;
	border: 1px solid #000;
	padding: 10px 15px;
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
	transition: .2s all ease;
	font-weight: 700;
	&:active, &:focus, &:hover {
		outline: none;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
		background: #000;
	}
}
.testimonial-carousel {
	.owl-dots {
		position: absolute;
		bottom: 40px;
		width: 100%;
		text-align: center;
		.owl-dot {
			display: inline-block;
			> span {
				display: inline-block;
				width: 7px;
				height: 7px;
				background-color: darken(#f8f9fa, 15%);
				border-radius: 50%;
				margin: 5px;
			}
			&.active {
				outline: none;
				> span {
					background: #0d1e2d;
				}
			}
		}
	}
}

.sticky-content {
	position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
}

.list-line {
	li {
		margin-bottom: 10px;
		position: relative;
		padding-left: 30px;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: .7rem;
			width: 10px;
			height: 2px;
			background: #000;
		}
	}
}


.form-control {
	border-radius: 0;
	background: #f8f9fa;
	border: 1px solid transparent;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
	&:hover {

	}
	&:active, &:focus {
		background: darken(#f8f9fa, 3%);
		outline: none;
		box-shadow: none;
		border: 1px solid transparent;
	}
}

.custom-progress {
	height: 7px;
	border-radius: 0;
	.progress-bar {
		background: #000;
	}
}

/* Contact Form */

.php-email-form {

  .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

  .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;

    &:before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin: 0 10px -6px 0;
      border: 3px solid #18d26e;
      border-top-color: #eee;
      animation: animate-loading 1s linear infinite;
    }

  }

}

@keyframes animate-loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
