// out: false

// Default Colors Set
$default: #0d1e2d;
$default-light: #243a4e;
$default-dark: #010407;

// Primary Colors Set
$primary: #007bff;
$primary-light: #96c9ff;
$primary-dark: #024996;

// Secondary Colors Set
$secondary: #1f3548;
$secondary-light: #5c768d;
$secondary-dark: #0d1e2d;

// Link Colors
$links: #777;
$links-hover: #000;

/// Fonts
$font-default: 'Inconsolata', monosapce;
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Raleway', sans-serif;
