<!doctype html>
<html class="" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Beautyhouse | Product Dteials</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="images/apple-touch-icon.png" type="images/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- customizer style css -->
    <link href="#" data-style="styles" rel="stylesheet">
    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  
    
    <div class="wrapper white-bg">
        <!--header section start-->
        <!--header section start-->
        <div class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="header-left">
                                <div class="call-center">
                                    <p><i class="zmdi zmdi-phone"></i>(+880) 01656300176</p>
                                </div>
                                <div class="mail-address">
                                    <p><i class="zmdi zmdi-email"></i>breed@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="social-icons">
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-dribbble"></i></a>
                                <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="mgea-full-width">
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-9">
                                <div class="logo">
                                    <a href="index.html"><img src="images/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <div class="menu">
                                    <nav>
                                        <ul>
                                            <li><a href="index.html">Home</a>
                                                <ul class="dropdown_menu">
                                                    <li><a href="index.html">home page one</a></li>
                                                    <li><a href="index-2.html">home page two</a></li>
                                                    <li><a href="index-3.html">home page three</a></li>
                                                    <li><a href="index-4.html">home page four</a></li>
                                                    <li><a href="index-5.html">home page five</a></li>
                                                    <li><a href="index-box.html">home page six</a></li>
                                                    <li><a href="index-box-fixed.html">home page seven</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-parent item-2"><a href="shop.html">shop</a>
                                               <ul class="mgea-menu">
                                                    <li class="mega-sub"><a href="#">Column one</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="shop.html">shop page</a></li>
                                                            <li><a href="shop.html">shop sidebar</a></li>
                                                            <li><a href="wishlist.html">wishlist</a></li>
                                                            <li><a href="product-details.html">product Details</a></li>
                                                            <li><a href="cart.html">cart</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-sub"><a href="#">Column two</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="checkout.html">checkout</a></li>
                                                            <li><a href="gallery-2.html">Gallery 2</a></li>
                                                            <li><a href="gallery.html">gallery</a></li>
                                                            <li><a href="elements-feature.html">Feature</a></li>
                                                            <li><a href="elements-fun-fact.html">Fun fact</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-sub"><a href="#">Column Three</a>
                                                      <div class="mega-img">
                                                          <img src="images/product/mega.jpg" alt="">
                                                      </div>  
                                                    </li>
                                                </ul> 
                                            </li>
                                            <li><a href="about-us.html">about</a></li>
                                            <li><a href="#">pages</a>
                                                <ul class="dropdown_menu">
                                                    <li><a href="about-us.html">about us</a></li>
                                                    <li><a href="404.html">404</a></li>
                                                    <li><a href="contact-us.html">contact us</a></li>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-details.html">blog Deatils</a></li>
                                                    <li><a href="gallery-2.html">gallery</a></li>
                                                    <li><a href="shop.html">shop pages</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-parent"><a href="#">Feature</a>
                                               <ul class="mgea-menu">
                                                    <li class="mega-sub"><a href="#">Column one</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="elements-accordion.html">Accordion</a></li>
                                                            <li><a href="elements-tab.html">Tab</a></li>
                                                            <li><a href="elements-table.html">table</a></li>
                                                            <li><a href="elements-progessbar.html">progressbar</a></li>
                                                            <li><a href="elements-alerts.html">Alerts</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-sub"><a href="#">Column two</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="elements-audio.html">Audio</a></li>
                                                            <li><a href="elements-video.html">video</a></li>
                                                            <li><a href="elements-gallery.html">gallery one</a></li>
                                                            <li><a href="gallery-2.html">Gallery two</a></li>
                                                            <li><a href="elements-typhograpy.html">typhogrpahy</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-sub"><a href="#">Column Three</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="elements-testimonial.html">Testimonial</a></li>
                                                            <li><a href="elements-brand.html">brand</a></li>
                                                            <li><a href="elements-team.html">Team</a></li>
                                                            <li><a href="elements-button.html">Button</a></li>
                                                            <li><a href="elements-map.html">map</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-sub"><a href="#">Column one</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="elements-pricing.html">Pricing table</a></li>
                                                            <li><a href="elements-fun-fact.html">Fun fact</a></li>
                                                            <li><a href="elements-feature.html">Features</a></li>
                                                            <li><a href="elements-video-2.html">Video section</a></li>
                                                            <li><a href="elements-no-sticky.html">No sticky</a></li>
                                                        </ul>
                                                    </li>
                                                </ul> 
                                            </li>
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a href="contact-us.html">contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-3">
                                <div class="header-action-box">
                                    <div class="mini-cart" >
                                        <div class="cart-icon">
                                            <a href="#"><i class="zmdi zmdi-shopping-cart"></i></a>
                                            <span>2</span>
                                        </div>
                                        <!-- Mini Cart -->
                                        <div class="mini-cart-box right">
                                            <div class="mini-cart-product fix">
                                                <a href="#" class="image"><img src="images/cart/mini-1.jpg" alt="" /></a>
                                                <div class="content fix">
                                                    <a href="#" class="title">wooden furniture</a>
                                                    <p>Color: Black</p>
                                                    <p>Size: SL</p>
                                                    <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                                </div>
                                            </div>
                                            <div class="mini-cart-product fix">
                                                <a href="#" class="image"><img src="images/cart/mini-1.jpg" alt="" /></a>
                                                <div class="content fix">
                                                    <a href="#" class="title">wooden furniture</a>
                                                    <p>Color: Black</p>
                                                    <p>Size: SL</p>
                                                    <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                                </div>
                                            </div>
                                            <div class="mini-cart-product fix">
                                                <a href="#" class="image"><img src="images/cart/mini-1.jpg" alt="" /></a>
                                                <div class="content fix">
                                                    <a href="#" class="title">wooden furniture</a>
                                                    <p>Color: Black</p>
                                                    <p>Size: SL</p>
                                                    <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                                </div>
                                            </div>
                                            <div class="mini-cart-checkout text-center">
                                                <a href="checkout.html">checkout</a>
                                            </div>
                                        </div>
                                        <!--mini cart end-->
                                    </div>
                                    <div class="search">
                                        <a href="#"><i class="zmdi zmdi-search"></i></a>
                                    </div>
                                </div>
                                <div class="search-box">
                                    <div class="search-form">
                                        <form action="#" id="search-form">
                                            <input type="search" name="search" placeholder="Search here...">
                                            <button type="submit">
                                                <span><i class="fa fa-search"></i></span>
                                            </button>
                                        </form>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile menu start -->
                <div class="mobile-menu-area hidden-lg hidden-md">
                    <div class="container">
                        <div class="col-md-12">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="index.html">Home</a>
                                        <ul class="dropdown_menu">
                                            <li><a href="index.html">home page one</a></li>
                                            <li><a href="index-2.html">home page two</a></li>
                                            <li><a href="index-3.html">home page three</a></li>
                                            <li><a href="index-4.html">home page four</a></li>
                                            <li><a href="index-5.html">home page five</a></li>
                                            <li><a href="index-box.html">home page six</a></li>
                                            <li><a href="index-box-fixed.html">home page seven</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.html">shop</a>
                                       <ul class="mgea-menu">
                                            <li class="mega-sub"><a href="#">Column one</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="shop.html">shop page</a></li>
                                                    <li><a href="shop.html">shop sidebar</a></li>
                                                    <li><a href="wishlist.html">wishlist</a></li>
                                                    <li><a href="product-details.html">product Details</a></li>
                                                    <li><a href="cart.html">cart</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-sub"><a href="#">Column two</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="checkout.html">checkout</a></li>
                                                    <li><a href="gallery-2.html">Gallery 2</a></li>
                                                    <li><a href="gallery.html">gallery</a></li>
                                                    <li><a href="elements-feature.html">Feature</a></li>
                                                    <li><a href="elements-fun-fact.html">Fun fact</a></li>
                                                </ul>
                                            </li>
                                        </ul> 
                                    </li>
                                    <li><a href="about-us.html">about</a></li>
                                    <li><a href="#">pages</a>
                                        <ul class="dropdown_menu">
                                            <li><a href="about-us.html">about us</a></li>
                                            <li><a href="404.html">404</a></li>
                                            <li><a href="contact-us.html">contact us</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-details.html">blog Deatils</a></li>
                                            <li><a href="gallery-2.html">gallery</a></li>
                                            <li><a href="shop.html">shop pages</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Feature</a>
                                       <ul class="mgea-menu">
                                            <li class="mega-sub"><a href="#">Column one</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="elements-accordion.html">Accordion</a></li>
                                                    <li><a href="elements-tab.html">Tab</a></li>
                                                    <li><a href="elements-table.html">table</a></li>
                                                    <li><a href="elements-progessbar.html">progressbar</a></li>
                                                    <li><a href="elements-alerts.html">Alerts</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-sub"><a href="#">Column two</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="elements-audio.html">Audio</a></li>
                                                    <li><a href="elements-video.html">video</a></li>
                                                    <li><a href="elements-gallery.html">gallery one</a></li>
                                                    <li><a href="gallery-2.html">Gallery two</a></li>
                                                    <li><a href="elements-typhograpy.html">typhogrpahy</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-sub"><a href="#">Column Three</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="elements-testimonial.html">Testimonial</a></li>
                                                    <li><a href="elements-brand.html">brand</a></li>
                                                    <li><a href="elements-team.html">Team</a></li>
                                                    <li><a href="elements-button.html">Button</a></li>
                                                    <li><a href="elements-map.html">map</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-sub"><a href="#">Column one</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="elements-pricing.html">Pricing table</a></li>
                                                    <li><a href="elements-fun-fact.html">Fun fact</a></li>
                                                    <li><a href="elements-feature.html">Features</a></li>
                                                    <li><a href="elements-video-2.html">Video section</a></li>
                                                    <li><a href="elements-no-sticky.html">No sticky</a></li>
                                                </ul>
                                            </li>
                                        </ul> 
                                    </li>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="contact-us.html">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Mobile menu end -->
            </div>
         </div>
        <!--header section end-->
        <!--header section end-->
        <!--Breadcrumbs start-->
        <div class="breadcrumbs text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs-title">
                            <h2>Proudct Details</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumbs-menu">
                <ul>
                    <li><a href="#">hOME <span>//</span></a></li>
                    <li>Prouduct Details</li>
                </ul>
            </div>
        </div>
        <!--Breadcrumbs end-->
        <!-- product details start -->
        <div class="product-details-area  ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                       <div class="zoomWrapper clearfix">
                            <div id="img-1" class="zoomWrapper single-zoom">
                                <a href="#">
                                    <img id="zoom1" src="images/product/b-1.jpg" data-zoom-image="images/product/j-1.jpg" alt="big-1">
                                </a>
                            </div>
                            <div class="product-thumb">
                                <ul class="details-slider" id="gallery_01">
                                    <li>
                                        <a class="elevatezoom-gallery" href="#" data-image="images/product/b-1.jpg" data-zoom-image="images/product/j-1.jpg"><img src="images/product/b-1.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a class="elevatezoom-gallery" href="#" data-image="images/product/b-2.jpg" data-zoom-image="images/product/b-2.jpg"><img src="images/product/b-2.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a class="elevatezoom-gallery" href="#" data-image="images/product/b-1.jpg" data-zoom-image="images/product/b-1.jpg"><img src="images/product/b-1.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a class="elevatezoom-gallery" href="#" data-image="images/product/b-1.jpg" data-zoom-image="images/product/b-1.jpg"><img src="images/product/b-2.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div class="product-detail single-product-info">
                            <h3>Arctic Spa Body Lotion</h3>
                            <div class="rating-review">
                                <div class="single-rating-review">
                                    <i class="zmdi zmdi-star"></i>
                                    <i class="zmdi zmdi-star"></i>
                                    <i class="zmdi zmdi-star"></i>
                                    <i class="zmdi zmdi-star"></i>
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <p>(4 Reviews)</p>
                                </div>   
                            </div>
                            <h4>$ 125.00</h4>
                            <h5>AVAILABILITY: <span>IN STOCK</span></h5>
                            <h5 class="overview">OVERVIEW:</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>

                            <p>Pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                            
                            <div class="shop-buttons">
                                <p>Quantity:</p>
                                <div id="quantity-wanted-p">
                                    <input type="number" value="0" class="cart-plus-minus-box">
                                    <div class="dec qtybutton">-</div>
                                    <div class="inc qtybutton">+</div>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                            <div class="categories-size mt-20">
                                <p class="size">size:</p>
                                <a href="#">50gm </a>
                                <a href="#">100gm </a>
                                <a href="#">150gm </a>
                                <a href="#" class="hidden-xs">200gm </a>
                            </div>
                            <ul class="product-action">
                                <li><a href="#"><i class="zmdi zmdi-refresh"></i></a></li>
                                <li><a href="cart.html" class="add-to-cart">add to cart</a></li>
                                <li><a href="#"><i class="zmdi zmdi-favorite-outline"></i></a></li>
                            </ul>
                            <div class="share mt-30">
                               <p>share:</p>
                               <ul>
                                   <li class="facebook"><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                   <li class="twitter"><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                   <li class="pinterest"><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                                   <li class="google-plus"><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                               </ul>
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="product-description-tab mt-60">
                                <div class="description-tab-menu">
                                    <ul class="clearfix" role="tablist">
                                        <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
                                        <li role="presentation"><a href="#specification" aria-controls="specification" role="tab" data-toggle="tab">information</a></li>
                                        <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Reviews</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="description">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>

                                       <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                       <ul>
                                           <li><i class="fa fa-circle"></i>Lorem ipsum dolor sit amet, consectetur product.</li>
                                           <li><i class="fa fa-circle"></i>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
                                           <li><i class="fa fa-circle"></i>Excepteur sinted occaecat cupidatat non proident products</li>
                                           <li><i class="fa fa-circle"></i>voluptate velit esse cillum</li>
                                       </ul>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="specification">
                                        <p>Veniam quasi voluptatem facere nesciunt laborum, quibusdam amet totam fugit, blanditiis doloribus alias eveniet dolore pariatur dolores aliquid!</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex consectetur minima quod officiis magni, aspernatur. Ea consectetur ab in, consequatur alias, quo sit. Optio vitae cupiditate, consectetur veritatis cumque odio magnam voluptates voluptas eligendi, minima tenetur voluptatum dolor autem, doloribus expedita obcaecati.</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="review">
                                        <div class="review-wrapper fix">
                                            <div class="sin-review">
                                                <div class="review-image">
                                                    <img src="images/product/review/1.jpg" alt="" />
                                                </div>
                                                <div class="review-details fix">
                                                    <div class="review-author float-left">
                                                        <h3>Gerald Barnes</h3>
                                                        <div class="review-star float-left">
                                                            <i class="zmdi zmdi-star"></i>
                                                            <i class="zmdi zmdi-star"></i>
                                                            <i class="zmdi zmdi-star"></i>
                                                            <i class="zmdi zmdi-star"></i>
                                                            <i class="zmdi zmdi-star"></i>
                                                        </div>
                                                        <span>27 Jun 2016 at 12:24pm</span>
                                                    </div>
                                                    <div class="replay-delect float-right">
                                                        <a href="#"><i class="zmdi zmdi-mail-reply"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at estei to bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
                                                </div>
                                            </div>
                                            <div class="sin-review">
                                                <div class="review-image">
                                                    <img src="images/product/review/1.jpg" alt="" />
                                                </div>
                                                <div class="review-details fix">
                                                    <div class="review-author float-left">
                                                        <h3>Gerald Barnes</h3>
                                                        <div class="review-star float-left">
                                                            <i class="zmdi zmdi-star"></i>
                                                            <i class="zmdi zmdi-star"></i>
                                                            <i class="zmdi zmdi-star"></i>
                                                            <i class="zmdi zmdi-star"></i>
                                                            <i class="zmdi zmdi-star"></i>
                                                        </div>
                                                        <span>27 Jun 2016 at 12:24pm</span>
                                                    </div>
                                                    <div class="replay-delect float-right">
                                                        <a href="#"><i class="zmdi zmdi-mail-reply"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at estei to bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-form-wrapper fix">
                                            <h3>write a review</h3>
                                            <div class="review-form">
                                                <form action="#">
                                                    <div class="star-box fix">
                                                        <h4>your Rating</h4>
                                                        <div class="star star-1">
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                        </div>
                                                        <div class="star star-2">
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                        </div>
                                                        <div class="star star-3">
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                        </div>
                                                        <div class="star star-4">
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                        </div>
                                                        <div class="star star-5">
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                            <i class="zmdi zmdi-star-outline"></i>
                                                        </div>
                                                    </div>
                                                    <div class="input-box-2 fix">
                                                        <div class="input-box float-left">
                                                            <input id="name" placeholder="Type your name" type="text">
                                                        </div>
                                                        <div class="input-box float-left">
                                                            <input placeholder="Type your email" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="input-box review-box fix">
                                                        <textarea placeholder="Write your review"></textarea>
                                                    </div>
                                                    <div class="input-box submit-box fix">
                                                        <input value="submit review" type="submit">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <!--Related products start-->
            <div class="related-products mt-60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="section-title text-center">
                                <h2>Related product</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="related-product-list">
                            <div class="col-md-3">
                                <div class="single-feature text-center">
                                    <div class="feature-img">
                                        <img src="images/feature/1.png" alt="">
                                    </div>
                                    <div class="feature-desc">
                                        <h3><a href="#">Face Treatment</a></h3>
                                        <p>$100</p>
                                        <a href="#">Book now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-feature text-center">
                                    <div class="feature-img">
                                        <img src="images/feature/2.png" alt="">
                                    </div>
                                    <div class="feature-desc">
                                        <h3><a href="#">Body message</a></h3>
                                        <p>$300</p>
                                        <a href="#">Book now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-feature text-center">
                                    <div class="feature-img">
                                        <img src="images/feature/1.png" alt="">
                                    </div>
                                    <div class="feature-desc">
                                        <h3><a href="#">Face Treatment</a></h3>
                                        <p>$100</p>
                                        <a href="#">Book now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-feature text-center">
                                    <div class="feature-img">
                                        <img src="images/feature/2.png" alt="">
                                    </div>
                                    <div class="feature-desc">
                                        <h3><a href="#">Body message</a></h3>
                                        <p>$300</p>
                                        <a href="#">Book now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-feature text-center">
                                    <div class="feature-img">
                                        <img src="images/feature/1.png" alt="">
                                    </div>
                                    <div class="feature-desc">
                                        <h3><a href="#">Face Treatment</a></h3>
                                        <p>$100</p>
                                        <a href="#">Book now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-feature text-center">
                                    <div class="feature-img">
                                        <img src="images/feature/2.png" alt="">
                                    </div>
                                    <div class="feature-desc">
                                        <h3><a href="#">Body message</a></h3>
                                        <p>$300</p>
                                        <a href="#">Book now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-feature text-center">
                                    <div class="feature-img">
                                        <img src="images/feature/1.png" alt="">
                                    </div>
                                    <div class="feature-desc">
                                        <h3><a href="#">Face Treatment</a></h3>
                                        <p>$100</p>
                                        <a href="#">Book now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-feature text-center">
                                    <div class="feature-img">
                                        <img src="images/feature/2.png" alt="">
                                    </div>
                                    <div class="feature-desc">
                                        <h3><a href="#">Body message</a></h3>
                                        <p>$300</p>
                                        <a href="#">Book now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Related products end-->
        </div>
        <!-- product details end -->
        
        <!--footer start-->
        <div class="footer">
            <div class="footer-top ptb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-footer contact">
                                <div class="footer-title">
                                    <h3>Contact us</h3>
                                </div>
                                <div class="contact-action mb-15">
                                    <span><i class="zmdi zmdi-pin"></i></span>
                                    <p>House No 08, Road No 08,<br>Din Bari, Dhaka, Bangladesh</p>
                                </div>
                                <div class="contact-action mb-15">
                                    <span><i class="zmdi zmdi-email"></i></span>
                                    <p>Username@gmail.com<br>Damo@gmail.com</p>
                                </div>
                                <div class="contact-action">
                                    <span>
                                        <i class="zmdi zmdi-phone"></i>
                                    </span>
                                    <p>(+660 256 24857)<br>(+660 256 24857)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="single-footer quick-links">
                               <div class="footer-title">
                                    <h3>Quick links</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">about</a></li>
                                    <li><a href="#">serivces</a></li>
                                    <li><a href="#">portfolio</a></li>
                                    <li><a href="#">contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-footer open-hours">
                                <div class="footer-title">
                                    <h3>Open hours</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetueiusmodm dost  adipisicing elit, sed do eiusmod is tempincididuntm ut 
lorem ipsome do or sit amt  labore et dolor </p>
                                <ul>
                                    <li>Monday - Friday <span>8.00-5.00</span></li>
                                    <li>Saturday <span>12.00-5.00</span></li>
                                    <li>Sunday <span class="close">close</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-footer widget">
                                <div class="footer-title">
                                    <h3>Flicker widget</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><img src="images/widget/1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/widget/2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/widget/3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/widget/4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/widget/5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/widget/6.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="copyright">
                                <p>
                                    Copyright© Beautyhouse 2016.All right reserved.Created by
                                    <a target="_blank" href="http://bootexperts.com">HasTech</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer end-->
       
    </div>
    
         
   <!-- Placed js at the end of the document so the pages load faster -->

    
    <!-- All js plugins included in this file. -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nivo.slider.pack.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/ajax-mail.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>