/*-------------------------- 
	Default
--------------------------*/
.section-title i {
  color: #dec839;
}
#scrollUp {
  background-color: #dec839;
}
.object{
  background-color: #dec839;
}
.pagination ul li a:hover {
  border-color: #dec839;
  color: #dec839;
}
.pagination ul li.active a, .pagination ul li.active a:hover {
  background-color: #dec839;
  border-color: #dec839;
}
blockquote {
  border-color: #dec839;
}
.sub-title::before {
  background-color: #dec839;
}
/*-------------------------- 
	Button
--------------------------*/
.btn.color {
  background-color: #dec839;
  border-color: #dec839;
}
.btn.color.transparent {
  color: #dec839;
}
.btn.color:hover {
  color: #dec839;
}
.btn.hover-color:hover {
  background-color: #dec839;
  border-color: #dec839;
}
/*-------------------------- 
	Form Style
--------------------------*/
.form .input input:focus, .form .input textarea:focus {
  border-color: #dec839;
}
.form .input input[type="submit"] {
  background-color: #dec839;
  border-color:  #dec839;
}
.form .input input[type="submit"]:hover {
  color: #dec839;
}
/*-------------------------- 
	Toggles & Accordions Style
--------------------------*/
.panel-title a {
  background: rgba(0, 0, 0, 0) url("../../img/shape/collapse/collapse.png") no-repeat scroll left 16px center;
}
.panel-title a[aria-expanded="true"] {
  background-color: #dec839;
  background-image: url("../../img/shape/collapse/collapse-active.png");
}
.panel-body {
  border-color:  #dec839 !important;
}
/*-------------------------- 
	Tabs Style
--------------------------*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #dec839;
}
.tab-content > .tab-pane > .tab-body {
  border-color:  #dec839;
}
/*-------------------------- 
	Progress Bar Style
--------------------------*/
.progress-bar {
  background-color: #dec839;
}
/*-------------------------- 
	Header Style
--------------------------*/
.main-menu nav > ul > li.active > a {
  color: #dec839;
}
.main-menu nav > ul > li.active > a::before, .main-menu nav > ul > li.active > a::after {
  background-color: #dec839;
}
.main-menu nav > ul li ul li:hover > a {
  color: #dec839;
}
.menu-style-6 nav > ul > li.active > a, .menu-style-6 nav > ul > li:hover > a {
  background-color: #dec839;
}
.menu-style-7 nav > ul > li.active > a, .menu-style-7 nav > ul > li.active:hover > a {
  border-color: #dec839;
  color: #dec839;
}
.mean-container .mean-nav ul li a:hover {
  color: #dec839;
}
/*-------------------------- 
	Hero Style
--------------------------*/
.nivo-controlNav a.active {
  background-color: #dec839;
}
.nivo-directionNav a:hover {
  color: #dec839;
}
.hero-slide-content h1 span {
  color: #dec839;
}
.find-course-form h5 i {
  color: #dec839;
}
.bootstrap-select ul li.selected a, .bootstrap-select ul li a:hover {
  color: #dec839;
}
.find-course-form form .course-submit input {
  background-color: #dec839;
}
/*-------------------------- 
	1. Page Banner Title Area
--------------------------*/
.page-banner ul li a:hover {
  color: #dec839;
}
/*-------------------------- 
	2. Feature Area
--------------------------*/
.single-feature .icon i {
  color: #dec839;
}
/*-------------------------- 
	3. Course Area
--------------------------*/
.course-item i {
  color: #dec839;
}
.course-item h4::before {
  background-color: #dec839;
}
/* Course Hover */
.course-item:hover {
  background-image: url("../../img/shape/course/course-color.png");
}
/*--------------------------
	4. Video Area
--------------------------*/
.video-content a:hover {
  color: #dec839;
}
/*--------------------------
	5. Instructor Area
--------------------------*/
.instructor-social a:hover {
  background-color: #dec839;
  border-color: #dec839;
}
/*--------------------------
	7. Call To Action Area
--------------------------*/
.cta-area {
  background-color: #dec839;
}
/*--------------------------
	8. Contact Area
--------------------------*/
.contact-info .single-info .icon {
  background-color: #dec839;
}
.contact-info .single-info .content p a:hover {
  color: #dec839;
}
/*-------------------------- 
	Gallery Style
--------------------------*/
.gallery-filter button.active {
  color: #dec839;
}
.gallery-filter button.active::before, .gallery-filter button.active::after {
  background-color: #dec839;
}
.gallery-image::before {
  background-color: #dec839;
}
/*-------------------------- 
	Testimonial Style
--------------------------*/
.ti-slider::before {
  background-color: #dec839;
}
.ti-slider .single-slide.slick-center .image {
  border-color:  #dec839;
}
.ts-arrows:hover {
  color: #dec839;
}
/*-------------------------- 
	Pricing Style
--------------------------*/
.single-pricing:hover .pricing-head, .active .pricing-head {
  background-color: #dec839;
}
.single-pricing:hover .pricing-price, .active .pricing-price {
  background-image: url("../../img/shape/pricing/price-border-color.png");
}
.single-pricing:hover .pricing-action, .active .pricing-action {
  background-color: #dec839;
}
.single-pricing:hover .pricing-action:hover {
  color: #dec839;
}
/*-------------------------- 
	Blog Style
--------------------------*/
.blog-item .image::before {
  background-color: #dec839;
}
.blog-item .meta p a:hover, .blog-item .meta p a:hover i {
  color: #dec839;
}
.blog-item .title a:hover {
  color: #dec839;
}
.blog-meta p a i {
  color: #dec839;
}
.blog-meta p a:hover, .blog-meta p a:hover i {
  color: #dec839;
}
.blog-tag-share {
  border-color:  #dec839;
}
.blog-tags a:hover {
  color: #dec839;
}
.blog-share a:hover {
  color: #dec839;
}
.single-comment .content a i {
  color: #dec839;
}
.single-comment .content a:hover {
  color: #dec839;
}
.sidebar-title {
  border-color:  #dec839;
}
.category-sidebar ul li a:hover {
  color: #dec839;
}
.latest-blog-sidebar .sin-blog .image::after {
  background-color: #dec839;
}
.latest-blog-sidebar .sin-blog .content a:hover {
  color: #dec839;
}
.tags-sidebar a:hover {
  border-color: #dec839;
  color: #dec839;
}
/*-------------------------- 
	Footer Style
--------------------------*/
.contact-widget a:hover {
  color: #dec839;
}
.widget-blog .content a:hover {
  color: #dec839;
}
.widget-blog .image::before {
  background-color: #dec839;
}
.instagram-item a::after {
  background-color: #dec839;
}
.link-widget ul li a:hover {
  color: #dec839;
}
.footer-bottom::before {
  background-color: #dec839;
}
.footer-3-social a:hover {
  color: #dec839;
}
.copyright a:hover {
  color: #dec839;
}