/*
Template:  Driveon - Driving School HTML Template 
Author: Hastech
Version: 1.0
Design and Developed by: http://hastech.company/

Note: This is Short code style file. All Short code related style included in this file. 
*/
@import url("default.css");
@import url("button.css");
@import url("element.css");
@import url("header.css");
@import url("hero-slider.css");
@import url("funfact.css");
@import url("gallery.css");
@import url("pricing.css");
@import url("testimonial.css");
@import url("blog.css");
@import url("form-style.css");
@import url("footer.css");