<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pregny - eCommerce Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/icon.png">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">

    <!-- Style Css -->
    <link rel="stylesheet" href="style.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper" class="wrapper box_layout">

        <!-- Header -->
		<header class="header glassesco_header">
			<div class="row align-items-center">

				<div class="col-xl-4 col-lg-4 col-md-4 col-12 order-3 order-lg-1 order-md-3">
					<div class="header_right_sidebar">

						<div class="glass_toggle_menu">
							<nav class="mainmenu_nav mainmenu__nav">
								<ul class="main_menu">
									<li class="drop">
										<a href="index.html">Home</a>
										<ul class="dropdown">
											<li>
												<a href="index.html">Home Version 01</a>
											</li>
											<li>
												<a href="index-2.html">Home Version 02</a>
											</li>
										</ul>
									</li>
									<li class="drop">
										<a href="shop-grid.html">Shop</a>
										<ul class="dropdown">
											<li>
												<a href="shop-grid.html">Shop Grid</a>
											</li>
											<li>
												<a href="shop-list.html">Shop List</a>
											</li>
											<li>
												<a href="single-product.html">Shop Single</a>
											</li>
										</ul>
									</li>
									<li class="drop">
										<a href="blog-three-column.html">Blog</a>
										<ul class="dropdown">
											<li>
												<a href="blog-three-column.html">Blog Three Column</a>
											</li>
											<li>
												<a href="blog-two-column.html">Blog Two Column</a>
											</li>
											<li>
												<a href="blog-sidebar.html">Blog Sidebar</a>
											</li>
											<li>
												<a href="blog-details.html">Blog Details</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="about.html">About</a>
									</li>
									<li class="drop">
										<a href="#">pages</a>
										<ul class="dropdown">
											<li>
												<a href="cart.html">Cart Page</a>
											</li>
											<li>
												<a href="compare.html">Compare Page</a>
											</li>
											<li>
												<a href="wishlist.html">Wishlist Page</a>
											</li>
											<li>
												<a href="my-account.html">My Account</a>
											</li>
											<li>
												<a href="checkout.html">Checkout Page</a>
											</li>
											<li>
												<a href="contact.html">Contact</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="contact.html">Contact</a>
									</li>
								</ul>
							</nav>

							<div class="hamburger-box button mobile-toggle">
								<span class="mobile-toggle__icon"></span>
							</div>
						</div>

						<div class="login_account">
							<div class="account">
								<ul>
									<li>
										<a href="login-register.html">LOGIN</a>
									</li>
									<li>
										<a href="login-register.html">REGISTER</a>
									</li>
								</ul>
							</div>
						</div>

						<!-- Mobile Menu -->
						<div class="mobile-menu d-block d-lg-none"></div>
						<!-- Mobile Menu -->
					</div>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-12 order-1 order-lg-2 order-md-1">
					<div class="logo text-left text-md-left text-xl-center">
						<a href="index.html">
							<img src="img/logo/logo1.png" alt="Glassesco Logo">
						</a>
					</div>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-5 col-sm-8 col-12 order-2 order-lg-3 order-md-2">
					<div class="header_right">
						<p>CALL US  -  <span class="theme-color">01254 569 874</span></p>

						<p class="header-cart"><img src="img/icons/cart2.png" alt="cart images"> 02 $289</p>
					</div>
				</div>

			</div>

		</header>
        <!-- End Header Area -->

        <!-- Mini Cart Wrap Start -->
        <div class="mini-cart-wrap">

            <!-- Mini Cart Top -->
            <div class="mini-cart-top">
                <button class="close-cart">Close Cart
                    <i class="icofont icofont-close"></i>
                </button>
            </div>

            <!-- Mini Cart Products -->
            <ul class="mini-cart-products">
                <li>
                    <a class="image">
                        <img src="img/product/product-1.jpg" alt="Product">
                    </a>
                    <div class="content">
                        <a href="single-product.html" class="title">Ketonova Deliciya</a>
                        <span class="price">Price: $59</span>
                        <span class="qty">Qty: 01</span>
                    </div>
                    <button class="remove">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
                <li>
                    <a class="image">
                        <img src="img/product/product-2.jpg" alt="Product">
                    </a>
                    <div class="content">
                        <a href="single-product.html" class="title">Alaroni Beliviaw</a>
                        <span class="price">Price: $20</span>
                        <span class="qty">Qty: 02</span>
                    </div>
                    <button class="remove">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
                <li>
                    <a class="image">
                        <img src="img/product/product-3.jpg" alt="Product">
                    </a>
                    <div class="content">
                        <a href="single-product.html" class="title">Slievelas Ketapeno</a>
                        <span class="price">Price: $320</span>
                        <span class="qty">Qty: 03</span>
                    </div>
                    <button class="remove">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
            </ul>
            <!-- Mini Cart Bottom -->
            <div class="mini-cart-bottom">
                <h4 class="sub-total">Total:
                    <span>$120</span>
                </h4>
                <div class="button">
                    <a href="checkout.html">CHECKOUT</a>
                </div>
            </div>

        </div>
        <!-- Mini Cart Wrap End -->

        <!-- Cart Overlay -->
        <div class="body_overlay"></div>

        <!-- Start Bradcaump area -->
        <div class="bradcaump_area bg_image--4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump_inner text-center">
                            <h2 class="bradcaump-title">About Us</h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" href="index.html">Home</a>
                                <span id="nipa" class="brd-separetor">/</span>
                                <span class="breadcrumb_item active">About Us</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->

        <!-- Start About Area -->
        <div class="about_area bg--white section-pt-xl bg-cat--1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-7 col-12">
                        <div class="about_content">
                            <h2>Why we are the best</h2>
                            <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-12">
                        <div class="thumb">
                            <img src="img/blog/apu-png.png" alt="about img">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Video Block Area -->
        <div class="video_block_area section-ptb-xl">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section_title text-center">
                            <h2>A Sneak Peak of our Lab</h2>
                            <p>Pregny provide various exclusive product for their customer everyday so they can find number of new product with new design</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="video_block_inner">
                            <div class="thumb">
                                <a href="#">
                                    <img src="img/blog/video_block.jpg" alt="video img">
                                </a>
                            </div>
                            <div class="video__btn">

                                <a class="play__btn" href="https://www.youtube.com/watch?v=XLob3Dxb0T0">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Video Block Area -->

        <!-- Start Counterup Area -->
        <div class="counterup_area pt--30 pb--60 bg-cat--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="counterup_wrapper">
                            <!-- Start Single Count -->
                            <div class="single_counter mt--30">
                                <span class="count odometer" data-count-to="20"></span>
                                <h5>Happy Clients</h5>
                            </div>
                            <!-- End Single Count -->
                            <!-- Start Single Count -->
                            <div class="single_counter mt--30">
                                <span class="count odometer" data-count-to="570"></span>
                                <h5>Happy Clients</h5>
                            </div>
                            <!-- End Single Count -->
                            <!-- Start Single Count -->
                            <div class="single_counter mt--30">
                                <span class="count odometer" data-count-to="200"></span>
                                <h5>Happy Clients</h5>
                            </div>
                            <!-- End Single Count -->
                            <!-- Start Single Count -->
                            <div class="single_counter mt--30">
                                <span class="count odometer" data-count-to="400"></span>
                                <h5>Happy Clients</h5>
                            </div>
                            <!-- End Single Count -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Counterup Area -->

        <!-- Start Testimonial Area -->
        <div class="testimonial_area bg--white section-ptb-xl bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonial_activation">
                            <!-- Start Single Testimonial -->
                            <div class="testimonial">
                                <img src="img/blog/clint1.png" alt="testimonial img">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <h4>Gregory Cooper</h4>
                                <span>Web Developer</span>
                            </div>
                            <!-- End Single Testimonial -->
                            <!-- Start Single Testimonial -->
                            <div class="testimonial">
                                <img src="img/blog/clint1.png" alt="testimonial img">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <h4>Gregory Cooper</h4>
                                <span>Web Developer</span>
                            </div>
                            <!-- End Single Testimonial -->
                            <!-- Start Single Testimonial -->
                            <div class="testimonial">
                                <img src="img/blog/clint1.png" alt="testimonial img">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <h4>Gregory Cooper</h4>
                                <span>Web Developer</span>
                            </div>
                            <!-- End Single Testimonial -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonial Area -->

        <!-- Start Instagram Area -->
        <div class="instagram_area">
            <ul class="instagram_list">
                <li>
                    <a href="#">
                        <img src="img/banner/instagram1.jpg" alt="instagram1 image">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/banner/instagram2.jpg" alt="instagram1 image">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/banner/instagram3.jpg" alt="instagram1 image">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/banner/instagram4.jpg" alt="instagram1 image">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/banner/instagram5.jpg" alt="instagram1 image">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/banner/instagram3.jpg" alt="instagram1 image">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/banner/instagram4.jpg" alt="instagram1 image">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/banner/instagram5.jpg" alt="instagram1 image">
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Instagram Area -->

        <!-- Start Footer Area -->
		<footer class="footer_area">
			<div class="footer_top bg-cat--1">
				<div class="row">
					<!-- Start Single Footer -->
					<div class="col-lg-4 col-xl-3 col-sm-6 col-12 mb--50">
						<div class="footer_widget">
							<h2 class="ft_widget_title">WHERE WE ARE</h2>
							<div class="textwidget">
								<p>265, North Plaza, Street View, Tower
									<br> Main raod, Los Angeles, USA</p>

								<p>Phone: 01254 698 785, 36598 254 987
									<br> Fax: 01254 658 987, 02365 987 456</p>


								<p>Email: demo@example.com
									<br> Website: www.example.com</p>
							</div>
						</div>
					</div>
					<!-- End Single Footer -->
					<!-- Start Single Footer -->
					<div class="col-lg-4 col-xl-2 col-sm-6 col-12 mb--50">
						<div class="footer_widget">
							<h2 class="ft_widget_title">COMPANY</h2>
							<ul class="ft_menu">
								<li>
									<a href="#">About us</a>
								</li>
								<li>
									<a href="#">Features</a>
								</li>
								<li>
									<a href="#">Features</a>
								</li>
								<li>
									<a href="#">Payment</a>
								</li>
								<li>
									<a href="#">Contact</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End Single Footer -->
					<!-- Start Single Footer -->
					<div class="col-lg-4 col-xl-2 col-sm-6 col-12 mb--50">
						<div class="footer_widget">
							<h2 class="ft_widget_title">INFORMATION</h2>
							<ul class="ft_menu">
								<li>
									<a href="#">Terms and Conditins</a>
								</li>
								<li>
									<a href="#">Product Return</a>
								</li>
								<li>
									<a href="#">Online Support</a>
								</li>
								<li>
									<a href="#">Login or Register</a>
								</li>
								<li>
									<a href="#">Order Tracking</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End Single Footer -->
					<!-- Start Single Footer -->
					<div class="col-lg-4 col-xl-2 col-sm-6 col-12 mb--50">
						<div class="footer_widget">
							<h2 class="ft_widget_title">HELP</h2>
							<ul class="ft_menu">
								<li>
									<a href="#">My Account</a>
								</li>
								<li>
									<a href="#">Payment Method</a>
								</li>
								<li>
									<a href="#">Product Quality</a>
								</li>
								<li>
									<a href="#">Login or Register</a>
								</li>
								<li>
									<a href="#">Privecy Policy</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End Single Footer -->
					<!-- Start Single Footer -->
					<div class="col-lg-4 col-xl-3 col-sm-6 col-12 mb--50">
						<div class="footer_widget">
							<h2 class="ft_widget_title">LATEST TWEETS</h2>

							<div class="twitfeed">
								<p>
									<span class="theme-color">@Dressess</span>, some of our latest desined dress arrivals very Koitory, 10 min ago</p>
								<p>
									<span class="theme-color">@Dressess</span>, some of our latest desined dress arrivals very Koitory, 10 min ago</p>
							</div>

						</div>
					</div>
					<!-- End Single Footer -->
				</div>
			</div>
			<div class="copyright bg--white">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-12">
							<div class="copy_text text-center">
								<p>Copyright ©
									<span class="theme-color">Pregny</span>, All Rights Reserved 2018</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
        <!-- End Footer Area -->
    </div>
    <!--// Wrapper -->

    <!-- Js Files -->
    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>

</html>