<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Pregny - eCommerce Bootstrap4 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/icon.png">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

	<!-- Plugins -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/plugins.css">

	<!-- Style Css -->
	<link rel="stylesheet" href="style.css">

	<!-- Custom Styles -->
	<link rel="stylesheet" href="css/custom.css">
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper" class="wrapper box_layout">

		<!-- Header -->
		<header class="header glassesco_header">
			<div class="row align-items-center">

				<div class="col-xl-4 col-lg-4 col-md-4 col-12 order-3 order-lg-1 order-md-3">
					<div class="header_right_sidebar">

						<div class="glass_toggle_menu">
							<nav class="mainmenu_nav mainmenu__nav">
								<ul class="main_menu">
									<li class="drop">
										<a href="index.html">Home</a>
										<ul class="dropdown">
											<li>
												<a href="index.html">Home Version 01</a>
											</li>
											<li>
												<a href="index-2.html">Home Version 02</a>
											</li>
										</ul>
									</li>
									<li class="drop">
										<a href="shop-grid.html">Shop</a>
										<ul class="dropdown">
											<li>
												<a href="shop-grid.html">Shop Grid</a>
											</li>
											<li>
												<a href="shop-list.html">Shop List</a>
											</li>
											<li>
												<a href="single-product.html">Shop Single</a>
											</li>
										</ul>
									</li>
									<li class="drop">
										<a href="blog-three-column.html">Blog</a>
										<ul class="dropdown">
											<li>
												<a href="blog-three-column.html">Blog Three Column</a>
											</li>
											<li>
												<a href="blog-two-column.html">Blog Two Column</a>
											</li>
											<li>
												<a href="blog-sidebar.html">Blog Sidebar</a>
											</li>
											<li>
												<a href="blog-details.html">Blog Details</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="about.html">About</a>
									</li>
									<li class="drop">
										<a href="#">pages</a>
										<ul class="dropdown">
											<li>
												<a href="cart.html">Cart Page</a>
											</li>
											<li>
												<a href="compare.html">Compare Page</a>
											</li>
											<li>
												<a href="wishlist.html">Wishlist Page</a>
											</li>
											<li>
												<a href="my-account.html">My Account</a>
											</li>
											<li>
												<a href="checkout.html">Checkout Page</a>
											</li>
											<li>
												<a href="contact.html">Contact</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="contact.html">Contact</a>
									</li>
								</ul>
							</nav>

							<div class="hamburger-box button mobile-toggle">
								<span class="mobile-toggle__icon"></span>
							</div>
						</div>

						<div class="login_account">
							<div class="account">
								<ul>
									<li>
										<a href="login-register.html">LOGIN</a>
									</li>
									<li>
										<a href="login-register.html">REGISTER</a>
									</li>
								</ul>
							</div>
						</div>

						<!-- Mobile Menu -->
						<div class="mobile-menu d-block d-lg-none"></div>
						<!-- Mobile Menu -->
					</div>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-3 col-sm-4 col-12 order-1 order-lg-2 order-md-1">
					<div class="logo text-left text-md-left text-xl-center">
						<a href="index.html">
							<img src="img/logo/logo1.png" alt="Glassesco Logo">
						</a>
					</div>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-5 col-sm-8 col-12 order-2 order-lg-3 order-md-2">
					<div class="header_right">
						<p>CALL US  -  <span class="theme-color">01254 569 874</span></p>

						<p class="header-cart"><img src="img/icons/cart2.png" alt="cart images"> 02 $289</p>
					</div>
				</div>

			</div>

		</header>
		<!-- End Header Area -->


		<!-- Mini Cart Wrap Start -->
		<div class="mini-cart-wrap">

			<!-- Mini Cart Top -->
			<div class="mini-cart-top">
				<button class="close-cart">Close Cart
					<i class="icofont icofont-close"></i>
				</button>
			</div>

			<!-- Mini Cart Products -->
			<ul class="mini-cart-products">
				<li>
					<a class="image">
						<img src="img/product/product-1.jpg" alt="Product">
					</a>
					<div class="content">
						<a href="single-product.html" class="title">Ketonova Deliciya</a>
						<span class="price">Price: $59</span>
						<span class="qty">Qty: 01</span>
					</div>
					<button class="remove">
						<i class="fa fa-trash-o"></i>
					</button>
				</li>
				<li>
					<a class="image">
						<img src="img/product/product-2.jpg" alt="Product">
					</a>
					<div class="content">
						<a href="single-product.html" class="title">Alaroni Beliviaw</a>
						<span class="price">Price: $20</span>
						<span class="qty">Qty: 02</span>
					</div>
					<button class="remove">
						<i class="fa fa-trash-o"></i>
					</button>
				</li>
				<li>
					<a class="image">
						<img src="img/product/product-3.jpg" alt="Product">
					</a>
					<div class="content">
						<a href="single-product.html" class="title">Slievelas Ketapeno</a>
						<span class="price">Price: $320</span>
						<span class="qty">Qty: 03</span>
					</div>
					<button class="remove">
						<i class="fa fa-trash-o"></i>
					</button>
				</li>
			</ul>
			<!-- Mini Cart Bottom -->
			<div class="mini-cart-bottom">
				<h4 class="sub-total">Total:
					<span>$120</span>
				</h4>
				<div class="button">
					<a href="checkout.html">CHECKOUT</a>
				</div>
			</div>

		</div>
		<!-- Mini Cart Wrap End -->

		<!-- Cart Overlay -->
		<div class="body_overlay"></div>
		<!-- Start Bradcaump area -->
		<div class="bradcaump_area bg_image--4">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="bradcaump_inner text-center">
							<h2 class="bradcaump-title">Shop</h2>
							<nav class="bradcaump-content">
								<a class="breadcrumb_item" href="index.html">Home</a>
								<span class="brd-separetor">/</span>
								<span class="breadcrumb_item active">Shop</span>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Bradcaump area -->


		<!-- Start Shop Area -->
		<div class="shop_area section-ptb-xl bg--white">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-12 order-2 order-lg-1 sm-mt--30 md-mt--30">
						<div class="shop_sidebar">
							<!-- Start Single Wedget -->
							<div class="sidebar_widget search mb--60">
								<h2 class="sidebar_title">Search</h2>
								<div class="sidebar_search">
									<form action="#">
										<input type="text" placeholder="Search for:">
										<button type="submit">
											<i class="ti-search"></i>
										</button>
									</form>
								</div>
							</div>
							<!-- End Single Wedget -->


							
							<!-- Start Single Wedget -->
							<div class="sidebar_widget widget_price_filter mb--60">
								<h2 class="sidebar_title">Filter</h2>
								<div class="sidebar_filter">
									<div class="price_filter s-filter clear">
										<form action="#" method="GET">
											<div id="slider-range"></div>
											<div class="slider__range--output">
												<div class="price__output--wrap">
													<div class="price--output">
														<span>Price :</span><input type="text" id="amount" readonly>
													</div>
													<div class="price--filter">
														<a href="#">Filter</a>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<!-- End Single Wedget -->





							<!-- Start Single Wedget -->
							<div class="sidebar_widget widget_categories mb--60">
								<h2 class="sidebar_title">Categories</h2>
								<ul class="sidebar_categories">
									<li>
										<a href="#">Accessories
											<span>(01)</span>
										</a>
									</li>
									<li>
										<a href="#">All
											<span>(01)</span>
										</a>
									</li>
									<li>
										<a href="#">Anthologies
											<span>(01)</span>
										</a>
									</li>
									<li>
										<a href="#">Art
											<span>80</span>
										</a>
									</li>
									<li>
										<a href="#">bestproduct
											<span>(01)</span>
										</a>
									</li>
									<li>
										<a href="#">Corner
											<span>60</span>
										</a>
									</li>
									<li>
										<a href="#">latest glass
											<span>(01)</span>
										</a>
									</li>
									<li>
										<a href="#">Men
											<span>(50)</span>
										</a>
									</li>
									<li>
										<a href="#">Seafood
											<span>(23)</span>
										</a>
									</li>
									<li>
										<a href="#">Sports
											<span>(21)</span>
										</a>
									</li>
									<li>
										<a href="#">topproduct
											<span>(11)</span>
										</a>
									</li>
									<li>
										<a href="#">Uncategorized
											<span>(20)</span>
										</a>
									</li>
									<li>
										<a href="#">Watch
											<span>(20)</span>
										</a>
									</li>
									<li>
										<a href="#">Women
											<span>(20)</span>
										</a>
									</li>
								</ul>
							</div>
							<!-- End Single Wedget -->

							<!-- Start Single Wedget -->
							<div class="sidebar_widget widget_banner mb--60">
								<div class="sidebar_banner">
									<a href="#">
										<img src="img/banner/sidebar-banner.png" alt="sidebar banner">
									</a>
								</div>
							</div>
							<!-- End Single Wedget -->

							<!-- Start Single Wedget -->
							<div class="sidebar_widget widget_tag">
								<h2 class="sidebar_title">Tags</h2>
								<ul class="sidebar_tag">
									<li>
										<a href="#">Anthologies</a>
									</li>
									<li>
										<a href="#">Art</a>
									</li>
									<li>
										<a href="#">Sports</a>
									</li>
									<li>
										<a href="#">Anthologies</a>
									</li>
									<li>
										<a href="#">Watch</a>
									</li>
								</ul>
							</div>
							<!-- End Single Wedget -->




						</div>
					</div>

					<div class="col-lg-9 col-12 order-1 order-lg-2">
						<div class="shop_product_area">
							<div class="shop-bar-area">
								<div class="shop-filter-tab">
									<div class="view_mode justify-content-center nav" role="tablist">
										<a class="active" href="#tab1" data-toggle="tab">
											<i class="ti-layout-grid4-alt"></i>
										</a>
										<a class="" href="#tab2" data-toggle="tab">
											<i class="ti-list"></i>
										</a>
									</div>
								</div>
								<div class="shop-found-selector">
									<p>Showing 1–12 of 16 results</p>
									<select>
										<option>Sort by popularity</option>
										<option>Sort by average rating</option>
										<option>Sort by newness</option>
										<option>Sort by price: low to high</option>
										<option>Sort by price: high to low</option>
									</select>
								</div>
							</div>

							<div class="tab_content">

								<div class="row single_grid_product tab-pane fade show active" id="tab1" role="tabpanel">
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-1.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Ketonova Deliciya</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-2.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Ketonova Deliciya</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-3.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Alaroni Beliviaw</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-4.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Slievelas Ketapeno</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-5.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Slievelas Ketapeno</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-6.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Ketonova Deliciya</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-7.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Zaraceya Motivalo</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-8.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Lucyka Netovare</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-9.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Lucyka Netovare</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-10.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Ketonova Deliciya</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-5.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Lucyka Netovare</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-lg-6 col-xl-4 col-sm-6 col-12">
										<div class="product">
											<div class="thumb">
												<a href="single-product.html">
													<img src="img/product/product-5.jpg" alt="product img">
												</a>
												<div class="product_lable">
													<span>$125</span>
												</div>
												<div class="product_action">
													<ul class="cart_action">
														<li>
															<a href="cart.html">
																<img src="img/icons/add_to_cart.png" alt="icons">
															</a>
														</li>
														<li>
															<a href="wishlist.html">
																<img src="img/icons/wishlist_icon.png" alt="icons">
															</a>
														</li>
														<li>
															<a title="Quick View" class="quickview" href="#">
																<img src="img/icons/quick_view.png" alt="icons">
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="content">
												<h4>
													<a href="single-product.html">Ketonova Deliciya</a>
												</h4>
												<ul class="rating">
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
													<li>
														<i class="fa fa-star"></i>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
								</div>

								<div class="row single_grid_product tab-pane fade" id="tab2" role="tabpanel">
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list1.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4>
													<a href="single-product.html">Ketonova Deliciya</a>
												</h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>Latest quality of summer maternity dress which is comfortable for all women comfortable for all women</p>
												<ul class="cart_action">
													<li>
														<a href="cart.html">
															<img src="img/icons/icon3.png" alt="icons">
														</a>
													</li>
													<li>
														<a href="#">
															<img src="img/icons/compare_icon.png" alt="icons">
														</a>
													</li>
													<li>
														<a title="Quick View" class="quickview" href="#">
															<img src="img/icons/quick_view2.png" alt="icons">
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list2.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4>
													<a href="single-product.html">Ketonova Deliciya</a>
												</h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>Latest quality of summer maternity dress which is comfortable for all women comfortable for all women</p>
												<ul class="cart_action">
													<li>
														<a href="cart.html">
															<img src="img/icons/icon3.png" alt="icons">
														</a>
													</li>
													<li>
														<a href="#">
															<img src="img/icons/compare_icon.png" alt="icons">
														</a>
													</li>
													<li>
														<a title="Quick View" class="quickview" href="#">
															<img src="img/icons/quick_view2.png" alt="icons">
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list3.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4>
													<a href="single-product.html">Ketonova Deliciya</a>
												</h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>Latest quality of summer maternity dress which is comfortable for all women comfortable for all women</p>
												<ul class="cart_action">
													<li>
														<a href="cart.html">
															<img src="img/icons/icon3.png" alt="icons">
														</a>
													</li>
													<li>
														<a href="#">
															<img src="img/icons/compare_icon.png" alt="icons">
														</a>
													</li>
													<li>
														<a title="Quick View" class="quickview" href="#">
															<img src="img/icons/quick_view2.png" alt="icons">
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list4.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4>
													<a href="single-product.html">Ketonova Deliciya</a>
												</h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>Latest quality of summer maternity dress which is comfortable for all women comfortable for all women</p>
												<ul class="cart_action">
													<li>
														<a href="cart.html">
															<img src="img/icons/icon3.png" alt="icons">
														</a>
													</li>
													<li>
														<a href="#">
															<img src="img/icons/compare_icon.png" alt="icons">
														</a>
													</li>
													<li>
														<a title="Quick View" class="quickview" href="#">
															<img src="img/icons/quick_view2.png" alt="icons">
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="col-12">
										<div class="product_list">
											<div class="product_list__thumb">
												<a href="single-product.html">
													<img src="img/product/list5.png" alt="product img">
												</a>
											</div>
											<div class="product_list__content">
												<h4>
													<a href="single-product.html">Ketonova Deliciya</a>
												</h4>
												<ul class="price">
													<li>$35</li>
													<li class="old-price">$35</li>
												</ul>
												<p>Latest quality of summer maternity dress which is comfortable for all women comfortable for all women</p>
												<ul class="cart_action">
													<li>
														<a href="cart.html">
															<img src="img/icons/icon3.png" alt="icons">
														</a>
													</li>
													<li>
														<a href="#">
															<img src="img/icons/compare_icon.png" alt="icons">
														</a>
													</li>
													<li>
														<a title="Quick View" class="quickview" href="#">
															<img src="img/icons/quick_view2.png" alt="icons">
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
								</div>
							</div>
							<ul class="pagination_style">
								<li>
									<a class="active" href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">
										<i class="ti-angle-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>

			</div>
		</div>
		<!-- End Shop Area -->


		<!-- Start Footer Area -->
		<footer class="footer_area">
			<div class="footer_top bg-cat--1">
				<div class="row">
					<!-- Start Single Footer -->
					<div class="col-lg-4 col-xl-3 col-sm-6 col-12 mb--50">
						<div class="footer_widget">
							<h2 class="ft_widget_title">WHERE WE ARE</h2>
							<div class="textwidget">
								<p>265, North Plaza, Street View, Tower
									<br> Main raod, Los Angeles, USA</p>

								<p>Phone: 01254 698 785, 36598 254 987
									<br> Fax: 01254 658 987, 02365 987 456</p>


								<p>Email: demo@example.com
									<br> Website: www.example.com</p>
							</div>
						</div>
					</div>
					<!-- End Single Footer -->
					<!-- Start Single Footer -->
					<div class="col-lg-4 col-xl-2 col-sm-6 col-12 mb--50">
						<div class="footer_widget">
							<h2 class="ft_widget_title">COMPANY</h2>
							<ul class="ft_menu">
								<li>
									<a href="#">About us</a>
								</li>
								<li>
									<a href="#">Features</a>
								</li>
								<li>
									<a href="#">Features</a>
								</li>
								<li>
									<a href="#">Payment</a>
								</li>
								<li>
									<a href="#">Contact</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End Single Footer -->
					<!-- Start Single Footer -->
					<div class="col-lg-4 col-xl-2 col-sm-6 col-12 mb--50">
						<div class="footer_widget">
							<h2 class="ft_widget_title">INFORMATION</h2>
							<ul class="ft_menu">
								<li>
									<a href="#">Terms and Conditins</a>
								</li>
								<li>
									<a href="#">Product Return</a>
								</li>
								<li>
									<a href="#">Online Support</a>
								</li>
								<li>
									<a href="#">Login or Register</a>
								</li>
								<li>
									<a href="#">Order Tracking</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End Single Footer -->
					<!-- Start Single Footer -->
					<div class="col-lg-4 col-xl-2 col-sm-6 col-12 mb--50">
						<div class="footer_widget">
							<h2 class="ft_widget_title">HELP</h2>
							<ul class="ft_menu">
								<li>
									<a href="#">My Account</a>
								</li>
								<li>
									<a href="#">Payment Method</a>
								</li>
								<li>
									<a href="#">Product Quality</a>
								</li>
								<li>
									<a href="#">Login or Register</a>
								</li>
								<li>
									<a href="#">Privecy Policy</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End Single Footer -->
					<!-- Start Single Footer -->
					<div class="col-lg-4 col-xl-3 col-sm-6 col-12 mb--50">
						<div class="footer_widget">
							<h2 class="ft_widget_title">LATEST TWEETS</h2>

							<div class="twitfeed">
								<p>
									<span class="theme-color">@Dressess</span>, some of our latest desined dress arrivals very Koitory, 10 min ago</p>
								<p>
									<span class="theme-color">@Dressess</span>, some of our latest desined dress arrivals very Koitory, 10 min ago</p>
							</div>

						</div>
					</div>
					<!-- End Single Footer -->
				</div>
			</div>
			<div class="copyright bg--white">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-12">
							<div class="copy_text text-center">
								<p>Copyright ©
									<span class="theme-color">Pregny</span>, All Rights Reserved 2018</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Area -->
		<!-- Quick View Modal -->
		<div class="quick-view-modal">
			<div class="quick-view-modal-inner">
				<div class="container">
					<div class="product-details">
						<!-- Product Details Left -->
						<div class="product-details-left">
							<div class="product-details-images slider-navigation-2">
								<a href="img/product/sm1.png">
									<img src="img/product/big-img.png" alt="product image">
								</a>
								<a href="img/product/sm2.png">
									<img src="img/product/big-img.png" alt="product image">
								</a>
								<a href="img/product/sm3.png">
									<img src="img/product/big-img.png" alt="product image">
								</a>
								<a href="img/product/sm1.png">
									<img src="img/product/big-img.png" alt="product image">
								</a>
								<a href="img/product/sm1.png">
									<img src="img/product/big-img.png" alt="product image">
								</a>
							</div>
							<div class="product-details-thumbs slider-navigation-2">
								<img src="img/product/sm1.png" alt="product image thumb">
								<img src="img/product/sm2.png" alt="product image thumb">
								<img src="img/product/sm3.png" alt="product image thumb">
								<img src="img/product/sm1.png" alt="product image thumb">
								<img src="img/product/sm1.png" alt="product image thumb">
							</div>
						</div>
						<!--// Product Details Left -->

						<!-- Product Details Right -->
						<div class="product-details-right">
							<h5 class="product-title">Aenean Eu Tristique</h5>

							<div class="ratting-stock-availbility">
								<div class="ratting-box">
									<span>
										<i class="fa fa-star"></i>
									</span>
									<span>
										<i class="fa fa-star"></i>
									</span>
									<span>
										<i class="fa fa-star"></i>
									</span>
									<span>
										<i class="fa fa-star"></i>
									</span>
									<span>
										<i class="fa fa-star"></i>
									</span>
								</div>
								<span class="stock-available">In stock</span>
							</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est
								at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing
								cursus eu, suscipit id nulla. adipiscing cursus eu, suscipit id nulla.</p>

							<div class="price-box">
								<span class="pricebox-price">£80.00</span>
							</div>

							<div class="product-details-quantity">
								<div class="quantity-select">
									<div class="pro-quantity">
										<div class="pro-qty">
											<input type="text" value="1">
										</div>
									</div>
								</div>
								<a href="#" class="add-to-cart-button">
									<span>ADD TO CART</span>
								</a>
							</div>

							<div class="product-details-color">
								<span>Color :</span>
								<ul>
									<li class="red">
										<span></span>
									</li>
									<li class="green checked">
										<span></span>
									</li>
									<li class="blue">
										<span></span>
									</li>
									<li class="black">
										<span></span>
									</li>
								</ul>
							</div>

							<div class="product-details-size">
								<span>Size :</span>
								<ul>
									<li class="checked">
										<span>S</span>
									</li>
									<li>
										<span>M</span>
									</li>
									<li>
										<span>L</span>
									</li>
									<li>
										<span>XL</span>
									</li>
									<li>
										<span>XXL</span>
									</li>
								</ul>
							</div>

							<div class="product-details-categories">
								<span>Categories :</span>
								<ul>
									<li>
										<a href="shop.html">Accessories</a>
									</li>
									<li>
										<a href="shop.html">Kids</a>
									</li>
									<li>
										<a href="shop.html">Women</a>
									</li>
								</ul>
							</div>

							<div class="product-details-tags">
								<span>Tags :</span>
								<ul>
									<li>
										<a href="shop.html">Electronic</a>
									</li>
									<li>
										<a href="shop.html">Television</a>
									</li>
								</ul>
							</div>

							<div class="product-details-socialshare">
								<span>Share :</span>
								<ul>
									<li>
										<a class="facebook" href="#">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a class="twitter" href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a class="google-plus" href="#">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									<li>
										<a class="linkedin" href="#">
											<i class="fa fa-linkedin"></i>
										</a>
									</li>
									<li>
										<a class="instagram" href="#">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!--// Product Details Right -->

					</div>
				</div>
			</div>
			<button class="close-quickview-modal">
				<i class="fa fa-close"></i>
			</button>
		</div>
		<!--// Quick View Modal -->


	</div>
	<!--// Wrapper -->


	<!-- Js Files -->
	<script src="js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="js/vendor/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>

</html>