// main: style.scss
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: #fff;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #000;
  font-weight: 600;
}

h4 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  color: #505050;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

span {
  letter-spacing: 1px;
}

.img-fluid {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.fa {
  font-size: 13px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: $accent-color;
  line-height: 1;
  color: #fff;
  padding: 7px 12px 13px 12px;
  font-size: 16px;
  border-radius: 2px;
  right:15px;
  bottom: 15px;
  transition: background 0.5s;

  @media (max-width: 768px){
   bottom: 15px;
  }

  &:focus {
    background: $accent-color;
    color: #fff;
    outline: none;
  }

  &:hover {
    background: darken( $accent-color, 10%);
    color: #fff;
  }
}
