// main: style.scss

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */
.nav-menu {
  & ,* {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }

  li {
    position: relative;
    white-space: nowrap;
  }

  & > li {
    float: left;
  }

  li:hover > ul,
  li.sfHover > ul {
    display: block;
  }

  ul ul {
    top: 0;
    left: 100%;
  }

  ul li {
    min-width: 180px;
  }
}

/* Nav Menu Arrows */
.sf-arrows {
  .sf-with-ul {
    padding-right: 22px;
  }

  .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 8px;
    margin-top: 1px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
  }

  ul .sf-with-ul:after {
    content: "\f105";
  }
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0 0 0 0;
  @media (max-width: 1024px) {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu {
  a {
    padding: 8px 8px;
    text-decoration: none;
    display: inline-block;
    color: #555;
    font-family: $accent-font;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    letter-spacing: 0;
    transition: 0.3s;
  }

  li:hover > a, > .menu-active > a {
    color: $accent-color;
  }

  >  li {
    margin-left: 10px;
  }


  ul {
    margin: 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;

    li {
      transition: 0.3s;
      a {
        padding: 5px 10px;
        color: #333;
        transition: 0.3s;
        display: block;
        font-size: 14px;
        text-transform: none;

      }

      &:hover {
        > a {
          color: $accent-color;
        }
      }

    }

    ul {
      margin: 0;
    }
  }
}
