// main: style.scss
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

.padd-section {
  padding-bottom: 80px;
  padding-top: 80px;
  @media (max-width: 992px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-title {
  margin-bottom: 80px;
  @media (max-width: 992px) {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}


/* Get Started Section
--------------------------------*/

#get-started {
  display: inline-block;
  height: 100%;
  width: 100%;
  .feature-block {
    background: #fff none repeat scroll 0 0;
    padding: 30px 20px;
    transition: all 0.5s ease-in-out 0s;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    &:hover {
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease-in-out 0s;
    }

    h4 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }

    a {
      color: #505050;
      font-size: 12px;
      font-weight: 600;
      text-decoration: none;
      text-transform: capitalize;
      transition: 0.3s;
      &:hover {
        color: $accent-color;
      }
    }
  }
}


/* About Us Section
--------------------------------*/

#about-us {
  img {
    max-width: 100%;
  }

  .about-content {
    padding-top: 60px;
    h2 {
      color: #252525;
      font-family: "roboto";
      font-size: 39px;
      font-weight: 100;
      letter-spacing: 2px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    span {
      font-weight: 700;
      padding-right: 10px;
      text-transform: uppercase;
    }

    ul li {
      line-height: 36px;
    }

    ul li .fa {
      padding-right: 20px;
    }
  }

}


/* Features Section
--------------------------------*/
#features {
  display: inline-block;
  height: 100%;
  width: 100%;

  .feature-block {
    background: #fff none repeat scroll 0 0;
    padding: 30px 20px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out 0s;
    &:hover {
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
      transition: all 0.5s ease-in-out 0s;
    }

    h4 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 0;
    }
  }

}


/* Screenshots Section
--------------------------------*/
.owl-dot.active>span {
  height: 10px !important;
  width: 10px !important;
}

.owl-theme .owl-dots .owl-dot span {
  height: 10px !important;
  width: 10px !important;
}

.owl-item img {
  cursor: pointer;
}

.owl-stage-outer {
  margin-bottom: 30px;
}

.owl-theme .owl-nav {
  display: none;
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $accent-color;
}

.owl-theme .owl-dots .owl-dot span {
  background: #ddd;
}

/* Video Section
--------------------------------*/
#video {
  background: url(../img/video-bg.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  overflow: hidden;

  .overlay {
    background: rgba(0, 0, 0, 0.85);
    height: 100%;

    .play-btn {
      width: 94px;
      height: 94px;
      background: radial-gradient( $accent-color 50%, rgba(113, 197, 93, 0.15) 52%);
      border-radius: 50%;
      display: block;
      margin: 153px auto 0;
      position: relative;
      overflow: hidden;
    }

    .play-btn::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-40%) translateY(-50%);
      transform: translateX(-40%) translateY(-50%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid #fff;
      z-index: 100;
      transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .play-btn:before {
      content: '';
      position: absolute;
      width: 120px;
      height: 120px;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation: pulsate1 2s;
      animation: pulsate1 2s;
      -webkit-animation-direction: forwards;
      animation-direction: forwards;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: steps;
      animation-timing-function: steps;
      opacity: 1;
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.5);
      top: -15%;
      left: -15%;
      background: rgba(198, 16, 0, 0);
    }
    .play-btn:hover::after {
      border-left: 15px solid $accent-color;
      -webkit-transform: scale(20);
      transform: scale(20);
    }

    .play-btn:hover::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-40%) translateY(-50%);
      transform: translateX(-40%) translateY(-50%);
      width: 0;
      height: 0;
      border: none;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid #fff;
      z-index: 200;
      -webkit-animation: none;
      animation: none;
      border-radius: 0;
    }
  }
}


@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0
  }
}

@-webkit-keyframes pulsate2 {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 1
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0
  }
}

/* Team Section
--------------------------------*/

#team  {

  .team-block {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    height: 254px;
    overflow: hidden;
    position: relative;
    width: 100%;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }

    img {
      width: 100%;
    }

    .team-content {
      background: #fff none repeat scroll 0 0;
      bottom: 0;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
      bottom: -147px;
      padding: 20px 0;
      position: absolute;
      width: 100%;
      transition: all 0.5s ease-in-out 0s;

      ul {
        display: block;
        width: 100%;

        li {
          display: inline-block;

          a {
            color: #626262;
            .fa {
              float: left;
              padding-left: 10px;
              padding-right: 10px;
              transition: 0.3s;
              &:hover {
                color: $accent-color;
              }
            }
          }
        }

        & > span {
          display: inline-block;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: 0.5px;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
      }
    }

    &:hover {
      .team-content {
        bottom: 0px;
        transition: all 0.5s ease-in-out 0s;
      }
    }
  }
}

/* Testimonials Section
--------------------------------*/

#testimonials .testimonials-content {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  padding: 49px 20px;
}

#testimonials .testimonials-content::before {
  color: $accent-color;
  content: "ï„Ž";
  display: inline-block;
  font: 70px/1 FontAwesome;
  position: absolute;
  right: 43px;
  text-align: left;
  top: -29px;
}

#testimonials .top-top> h2 {
  font-family: "Roboto" sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#testimonials .top-top> h4 {
  font: 700 12px Lato, sans-serif;
}

#testimonials .top-top span {
  font-size: 12px;
  font-weight: 300;
  margin-left: 26px;
}

#testimonials .btm-btm ul li {
  float: left;
  margin-left: 13px;
  border-radius: 50%;
  margin-right: 13px;
  background: #ddd none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: block;
  height: 10px;
  width: 10px;
}

#testimonials .btm-btm .active {
  background: $accent-color;
}

.carousel-indicators {
  position: relative;
  bottom: 0;
  left: 0;
  bottom: 0 !important;
  z-index: 15;
  width: auto;
  padding-left: 0;
  margin: 30px auto 0 auto;
  margin-right: auto;
  text-align: center;
  list-style: none;
  margin-bottom: 0;
  display: inline-block;
}

.carousel-indicators li {
  margin: 0;
}


/* Pricing Table Section
--------------------------------*/
#pricing .block-pricing {
  background: #fff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  position: relative;
  width: 100%;
  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
}

#pricing .block-pricing .table {
  margin-bottom: 0;
  padding: 30px 15px;
  max-width: 100%;
  width: 100%;
}

#pricing .block-pricing .table h4 {
  padding-bottom: 30px;
}

#pricing .block-pricing h2 {
  margin-bottom: 30px;
}

#pricing .block-pricing ul {
  list-style: outside none none;
  margin: 10px auto;
  max-width: 240px;
  padding: 0;
}

#pricing .block-pricing ul li {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  padding: 12px 0;
  text-align: center;
}

#pricing .block-pricing ul li b {
  color: #3c4857;
}

#pricing .block-pricing .table .table_btn a {
  background: $accent-color;
  color: #fff;
  margin: 0;
  display: inline-block;
  &:hover {
    background: darken($accent-color, 10%);
  }
}

#pricing .block-pricing .table .table_btn a .fa {
  font-size: 13px;
  margin-right: 5px;
}

/* Blog Section
--------------------------------*/

#blog .block-blog  {
  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
}

#blog .block-blog img {
  width: 100%;
}

#blog .block-blog .content-blog {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  min-height: 125px;
  padding: 20px 10px;
  width: 100%;
}

#blog .block-blog .content-blog h4 {
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 16px;
  a {
    color: #555;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      color: $accent-color;
    }
  }
}

#blog .block-blog .content-blog>span {
  float: left;
  font-size: 12px;
}

#blog .block-blog .content-blog a.readmore {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0;
  text-transform: capitalize;
  &:hover {
    color: $accent-color;
  }
}

/* Newsletter Section
--------------------------------*/
#newsletter {
  background: rgba(0, 0, 0, 0) url(../img/newsletter-bg.jpg) no-repeat center top fixed;
  background-size: cover;

  .overlay {
    background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.2) 95%);
    height: 100%;
    width: 100%;
  }

  .form-control {
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 0;
    color: #888;
    font-size: 11px;
    font-weight: 600;
    height: 50px;
    text-align: center;
    width: 70%;
    background: #fff;
    @media (max-width: 575px) {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  .form-control:focus {
    border-color: $accent-color;
    box-shadow: none;
    outline: 0 none;
  }

  .btn {
    background: $accent-color;
    border: 0;
    border-radius: 0;
    height: 50px;
    width: 30%;
    transition: 0.3s;
    @media (max-width: 575px) {
      width: 100%;
    }
    &:hover {
      background: darken($accent-color, 10%);
    }
  }

  .btn .fa {
    padding-right: 10px;
  }

  ul {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 0;

    li {
      background: $accent-color;
      border-radius: 50px;
      float: left;
      height: 35px;
      line-height: 35px;
      margin-left: 10px;
      margin-right: 10px;
      width: 35px;
      transition: 0.3s;
      &:hover {
        background: darken($accent-color, 10%);
      }

      .fa {
        color: #fff;
      }
    }
  }
}

/* Contact Section
--------------------------------*/
#contact {
  background: #fff;

  .info {
    color: $heading-color;

    i {
      font-size: 32px;
      color: $accent-color;
      float: left;
    }

    p {
      padding: 0 0 10px 50px;
      margin-bottom: 20px;
      line-height: 22px;
      font-size: 14px;
    }

    .email {
      p {
        padding-top: 5px;
      }
    }

  }

  .social-links {
    padding-bottom: 20px;
    a {
      font-size: 18px;
      display: inline-block;
      background: $accent-color;
      color: #fff;
      line-height: 1;
      padding: 6px 0 8px 0;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
      &:hover {
        background: darken($accent-color, 10%);
        color: #fff;
      }
    }
  }

  .form {
    #sendmessage {
      color: $accent-color;
      border:1px solid $accent-color;
      display:none;
      text-align:center;
      padding:15px;
      font-weight:600;
      margin-bottom:15px;
    }

    #errormessage {
      color: red;
      display:none;
      border:1px solid red;
      text-align:center;
      padding:15px;
      font-weight:600;
      margin-bottom:15px;
    }

    #sendmessage.show, #errormessage.show, .show {
      display:block;
    }

    .validation {
      color: red;
      display:none;
      margin: 0 0 20px;
      font-weight:400;
      font-size:13px;
    }

    input, textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 12px 10px;
      line-height: 1;
    }

    button[type="submit"] {
      background: $accent-color;
      border: 0;
      padding: 10px 24px;
      color: #fff;
      transition: 0.4s;
      &:hover {
        background: lighten($accent-color, 10%);
      }
    }
  }
}
