// main: style.scss
/// Default color variables

$accent-color: #71c55d;
$secondary-color: #3d8a2b;
$heading-color: #222;
$text-color: #444;

/// Fonts Variables
$accent-font: 'Roboto', sans-serif;
$heading-font: 'Roboto', sans-serif;
$text-font: 'Open Sans', sans-serif;
