/*------------------------------------------------------------------------------

    Template: Sa- Minimalist Ecommerce html template
    Template URI: http://Devitems.com/
    Description: This is html5 template
    Author: Devitems
    Author URI: https://devitems.com/
    Version: 1.0

	Note: This core style file includes all external plugins css file.

-------------------------------------------------------------------------------*/

@import url("font-awesome.min.css");
@import url("material-design-icon-font.min.css");
@import url("plugins/animate.css");
@import url("plugins/meanmenu.min.css");
@import url("plugins/owl.carousel.css");
@import url("plugins/owl.theme.css");
@import url("plugins/nivo-slider.css");
@import url("plugins/slick-slider.css");
@import url("plugins/jquery-ui.css");
@import url("plugins/owl.transitions.css");
@import url("plugins/magnific-popup.css");
@import url("shortcode/default.css");