/*--------- 14. Product style ---------*/

.product-wrap {
    position: relative;
    .product-img {
        position: relative;
        overflow: hidden;
        transition: all .5s ease 0s;
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: #fafafa;
            opacity: 0;
            z-index: 9;
            transition: all .5s ease 0s;
            pointer-events: none;
        }
        a {
            img {
                width: 100%;
                transform: scale(1);
            }
        }
        span {
            position: absolute;
            left: 0;
            top: 0;
            background-color: $theme-color;
            color: #fff;
            display: block;
            line-height: 1;
            padding: 15px 11px 37px;
            z-index: 99;
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0px;
                height: 0px;
                border-bottom: 17px solid #fafafa;
                border-left: 24px solid transparent;
                border-right: 24px solid transparent;
                transform: translateX(-50%);
            }
        }
        .product-action {
            position: absolute;
            top: 60%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease 0s;
            z-index: 99;
            ul {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                li {
                    margin-left: 0px;
                    width: calc(25% - 1px);
                    a {
                        display: inline-block;
                        background-color: #333333;
                        color: #fff;
                        height: 42px;
                        width: 100%;
                        font-size: 16px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        &:hover {
                            background-color: $theme-color;
                            color: #fff;
                        }
                    }
                    &:last-child {
                        width: 25%;
                    }
                }
            }
        }
    }
    .product-content {
        padding: 11px 0 0;
        .pro-title-rating-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .product-title {
                h3 {
                    font-size: 18px;
                    color: #033333;
                    font-weight: 500;
                    margin: 0;
                    a {
                        color: #033333;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
            .product-rating {
                display: flex;
                i {
                    font-size: 14px;
                    margin-left: 4px;
                    color: $theme-color;
                }
            }
        }
        .pro-category-price {
            display: flex;
            justify-content: space-between;
            margin: 5px 0 0;
            span {
                font-weight: 500;
                color: #033333;
                line-height: 1;
                font-size: 15px;
            }
        }
    }
    &:hover .product-action {
        opacity: 1;
        visibility: visible;
        top: 50%;
    }
    &:hover .product-img img {
        transform: scaleY(1.2);
    }
    &:hover .product-img:before {
        opacity: .3;
    }
}

.producta-active .slick-list .product-wrap {
    margin: 0 15px;
}

.producta-active .slick-list {
    margin: 0 -15px;
}

.producta-active .b-navigation {
    top: -120px;
    @media #{$large-mobile} {
        top: -75px;
    }
}

.admission-tab-list.tab-list-2 {
    justify-content: flex-start;
    @media #{$large-mobile} {
        padding-top: 0;
    }
    a {
        margin: 0 32px 0 0;
        @media #{$large-mobile} {
            margin: 0 18px 15px 0;
        }
        h4 {
            color: #333333;
        }
    }
    a.active {
        border-bottom: 2px solid #adadad;
    }
}

.modal-dialog {
    margin: 8% auto;
    max-width: 960px;
    width: 960px;
    @media #{$tablet-device} {
        width: 720px;
        max-width: 720px;
    }
    @media #{$large-mobile} {
        width: 100%;
        max-width: 100%;
    }
    .modal-header .close {
        color: #333;
        cursor: pointer;
        opacity: 1;
        &:hover {
            color: $theme-color;
        }
    }
}

.quickview-big-img {
    img {
        width: 100%;
    }
}

.product-thumbnail {
    margin: 30px 0 0;
}

.thumb-menu.owl-carousel .owl-nav div {
    color: $theme-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    left: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    box-shadow: 0px 0px 12px 0.8px rgba(85, 220, 149, 0.3);
    background-color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
    text-align: center;
    &:hover {
        background-color: $theme-color;
        color: #fff;
    }
}

.thumb-menu.owl-carousel .owl-nav div.owl-next {
    left: auto;
    right: 0px;
}

.quickview-content {
    span {
        font-size: 16px;
        font-weight: 500;
        i {
            color: $theme-color;
            font-size: 16px;
        }
    }
}

.quickview-content {
    @media #{$large-mobile} {
        margin-top: 30px;
    }
}