/*--------- 25. Sidebar style ---------*/

.sidebar-title {
    position: relative;
    h4 {
        color: $theme-color;
        font-size: 18px;
        margin: 0;
        border-bottom: 1px solid $theme-color;
        padding-bottom: 17px;
        line-height: 1;
    }
}

.sidebar-search {
    form {
        position: relative;
        input {
            background: transparent;
            border: none;
            height: 45px;
            font-size: 14px;
            color: #333;
            width: 100%;
            box-shadow: 0 0px 12px 0.8px rgba(136, 136, 136, 0.1);
            padding: 2px 40px 2px 20px;
        }
        button {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            background: transparent;
            color: $theme-color;
            font-size: 14px;
            padding: 0 10px;
            &:hover {
                color: #333;
            }
        }
    }
}

.sidebar-about {
    p {
        margin: 0;
        line-height: 23px;
    }
    img {
        margin: 26px 0 29px;
    }
    .sidebar-social {
        ul {
            li {
                display: inline-block;
                margin: 0 10px 0 0;
                a {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    border-radius: 50px;
                    background-color: #f6f6f6;
                    font-size: 12px;
                    text-align: center;
                }
                a.facebook {
                    color: #0054a6;
                    &:hover {
                        background-color: #0054a6;
                        color: #fff;
                    }
                }
                a.youtube {
                    color: #c4302b;
                    &:hover {
                        background-color: #c4302b;
                        color: #fff;
                    }
                }
                a.twitter {
                    color: #38a1f3;
                    &:hover {
                        background-color: #38a1f3;
                        color: #fff;
                    }
                }
                a.google {
                    color: #cc3333;
                    &:hover {
                        background-color: #cc3333;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.single-recent-post {
    display: flex;
    margin-bottom: 27px;
    &:last-child {
        margin-bottom: 0px;
    }
    .recent-post-img {
        flex: 0 0 90px;
        margin: 0 15px 0 0;
        img {
            width: 100%;
        }
    }
    .recent-post-content {
        h5 {
            font-size: 14px;
            color: #333333;
            margin: 0;
            a {
                color: #333333;
                &:hover {
                    color: $theme-color;
                }
            }
        }
        span {
            color: $theme-color;
            font-size: 13px;
            display: block;
            line-height: 1;
            margin: 9px 0 10px;
        }
        p {
            margin: 0;
            line-height: 23px;
        }
    }
}

.category-list {
    ul {
        li {
            display: block;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #eeeeee;
            &:last-child {
                padding-bottom: 0px;
                margin-bottom: 0px;
                border-bottom: none;
            }
            a {
                color: #333;
                display: flex;
                line-height: 1;
                justify-content: space-between;
                align-items: center;
                span {
                    float: right;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 12px;
                    background-color: #f6f6f6;
                    color: #333;
                    text-align: center;
                    border-radius: 50px;
                    transition: all .3s ease 0s;
                }
            }
            &:hover a {
                color: $theme-color;
            }
            &:hover a span {
                color: #fff;
                background-color: $theme-color;
            }
        }
    }
}

.sidebar-recent-course {
    .sin-sidebar-recent-course {
        display: flex;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0px;
        }
        .sidebar-recent-course-img {
            flex: 0 0 90px;
            margin-right: 15px;
            img {
                width: 100%;
            }
        }
        .sidebar-recent-course-content {
            h4 {
                font-size: 14px;
                color: #333;
                margin: 0;
                line-height: 1;
                a {
                    color: #333;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            ul {
                display: flex;
                overflow: hidden;
                margin: 4px 0 5px;
                li {
                    margin: 0 20px 0 0;
                    font-size: 12px;
                    position: relative;
                    &:before {
                        position: absolute;
                        right: -10px;
                        top: 6px;
                        width: 1px;
                        height: 10px;
                        background-color: #00a651;
                        content: "";
                    }
                    &:last-child:before {
                        display: none;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
                li.duration-color {
                    color: $theme-color;
                }
            }
            p {
                margin: 0;
                line-height: 23px;
            }
        }
    }
}

.sidebar-tag {
    ul {
        li {
            display: inline-block;
            margin: 0 0px 20px 0;
            a {
                display: inline-block;
                line-height: 1;
                border: 1px solid #bbbbbb;
                padding: 11px 15px 10px;
                &:hover {
                    background-color: $theme-color;
                    color: #fff;
                    border: 1px solid $theme-color;
                }
            }
        }
    }
}