/*--
    12. Footer Css
----------------------*/

/* CopyiRight Style */
.copyright{
    background: #f1f1f1;
    padding: 30px 0;
    .content{
        p {
            color: #333;
            font-size: 14px;
            margin: 10px 0;
        }
    }
}

