<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CONTACT US || FSON</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		
		<!-- google font -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
		<!-- all css here -->
		<!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- animate css -->
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/ihover.css">
		<!-- jquery-ui.min css -->
        <link rel="stylesheet" href="css/jquery-ui.min.css">
		<!-- meanmenu css -->
        <link rel="stylesheet" href="css/meanmenu.min.css">
		<!-- nivo slider CSS -->
		<link rel="stylesheet" href="lib/css/nivo-slider.css" type="text/css" />
		<link rel="stylesheet" href="lib/css/preview.css" type="text/css" media="screen" />
		<!-- owl.carousel css -->
        <link rel="stylesheet" href="css/owl.carousel.css">
		<!-- font-awesome css -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- flaticon css -->
        <link rel="stylesheet" href="css/flaticon.css">
		<!-- style css -->
		<link rel="stylesheet" href="style.css">
		<!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css">
		<!-- modernizr css -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="hm-two other-page">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		
		<!-- HEADER AREA TOP START -->
		<div class="header-area">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div class="logo-area">
							<a href="#"><img src="img/home-1/logo.png" alt="" /></a>
						</div>
					</div>
					<!-- MAIN MENU START -->
					<div class="col-md-8">
						<div class="main-menu">
							<ul class="list-inline">
								<li class="active"><a href="index.html">HOME</a>
									<ul>
										<li><a href="index.html">home version 1</a></li>
										<li><a href="index-2.html">home version 2</a></li>
									</ul>
								</li>
								<li><a href="about-us.html">ABOUT</a></li>
								<li><a href="blog.html">BLOG</a></li>
								<li><a href="shop.html">SHOP</a>
									<div class="mega-menu">
										<div class="mega-left">
											<span>
												<a class="mega-title" href="shop.html">WOMEN CLOTH </a>
												<a href="shop.html">casual shirt</a>
												<a href="shop.html">rikke t-shirt</a>
												<a href="shop.html">mia top </a>
												<a href="shop.html">muscle tee </a>
											</span>
											<span>
												<a class="mega-title" href="shop.html">MEN CLOTH </a>
												<a href="shop.html">casual shirt</a>
												<a href="shop.html">rikke t-shirt</a>
												<a href="shop.html">mia top </a>
												<a href="shop.html">muscle tee </a>
											</span>
											<span>
												<a class="mega-title" href="shop.html">WOMEN JEWELRY </a>
												<a href="shop.html">necklace </a>
												<a href="shop.html">chunky short striped </a>
												<a href="shop.html">samhar cuff</a>
												<a href="shop.html">nail set </a>
											</span>
											<span>
												<a class="mega-title" href="shop.html">WOMEN JEWELRY </a>
												<a href="shop.html">necklace </a>
												<a href="shop.html">chunky short striped </a>
												<a href="shop.html">samhar cuff</a>
												<a href="shop.html">nail set </a>
											</span>
											<span>
												<a class="mega-title" href="shop.html">WOMEN JEWELRY </a>
												<a href="shop.html">necklace </a>
												<a href="shop.html">chunky short striped </a>
												<a href="shop.html">samhar cuff</a>
												<a href="shop.html">nail set </a>
											</span>
										</div>
										<div class="mega-right">
											<span class="mega-menu-img">
												<a href="shop.html"><img src="img/other-page/m-1.jpg" alt=""></a>
											</span>
										</div>
									</div>	
								</li>
								<li><a href="#">CLOTH</a>
									<div class="mega-menu mega-menu-2">								
										<span>
											<a class="mega-title" href="shop.html">WOMEN CLOTH </a>
											<a href="shop.html">casual shirt</a>
											<a href="shop.html">rikke t-shirt</a>
											<a href="shop.html">mia top </a>
											<a href="shop.html">muscle tee </a>
										</span>
										<span>
											<a class="mega-title" href="shop.html">MEN CLOTH </a>
											<a href="shop.html">casual shirt</a>
											<a href="shop.html">rikke t-shirt</a>
											<a href="shop.html">mia top </a>
											<a href="shop.html">muscle tee </a>
										</span>
										<span>
											<a class="mega-title" href="shop.html">WOMEN JEWELRY </a>
											<a href="shop.html">necklace </a>
											<a href="shop.html">chunky short striped </a>
											<a href="shop.html">samhar cuff</a>
											<a href="shop.html">nail set </a>
										</span>
										<span class="mega-menu-img">
											<a href="shop.html"><img src="img/other-page/m-2.jpg" alt=""></a>
										</span>
									</div>	
								</li>
								<li><a href="#">PAGES</a>
									<ul>
										<li><a href="about-us.html">about</a></li>
										<li><a href="shop.html">shop</a></li>
										<li><a href="shop-list.html">shop list</a></li>
										<li><a href="shopping-cart.html">shopping cart</a></li>
										<li><a href="blog.html">blog</a></li>
										<li><a href="blog-details.html">blog details</a></li>
										<li><a href="checkout.html">checkout</a></li>
										<li><a href="wishlist.html">wishlist</a></li>
										<li><a href="contact.html">contact</a></li>
										<li><a href="account.html">Account</a></li>
										<li><a href="login.html">login</a></li>
										<li><a href="404.html">404 error</a></li>
									</ul>
								</li>
								<li><a href="contact.html">CONTACT US</a></li>
							</ul>
						</div>
					</div>
					<!-- MAIN MENU START -->
					<!-- MOBILE-MENU-AREA START --> 
					<div class="mobile-menu-area">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
								<div class="mobile-area">
									<div class="mobile-menu">
										<nav id="mobile-nav">
											<ul>
												<li><a href="index.html">Home </a>
													<ul>
														<li><a href="index.html">Home version one</a></li>
														<li><a href="index-2.html">Home Version two</a></li>
													</ul>
												</li>
												<li><a href="about-us.html"> About Us </a></li>
												<li><a href="blog.html"> BLOG </a></li>
												<li><a href="shop.html"> Shop </a></li>
												<li><a href="#"> CLOTH </a></li>
												<li><a href="#"> Pages </a>
													<ul>
														<li><a href="about-us.html">about</a></li>
														<li><a href="shop.html">shop</a></li>
														<li><a href="shop-list.html">shop list</a></li>
														<li><a href="shopping-cart.html">shopping cart</a></li>
														<li><a href="blog.html">blog</a></li>
														<li><a href="blog-details.html">blog details</a></li>
														<li><a href="checkout.html">checkout</a></li>
														<li><a href="wishlist.html">wishlist</a></li>
														<li><a href="contact.html">contact</a></li>
														<li><a href="account.html">Account</a></li>
														<li><a href="login.html">login</a></li>
														<li><a href="404.html">404 error</a></li>
													</ul>
												</li>
												<li><a href="contact.html"> Contact Us </a></li>
											</ul>
										</nav>
									</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- MOBILE-MENU-AREA END  -->
					<div class="col-md-2">
						<div class="header-left">
							<ul class="list-inline">
								<li><a href="#"><img src="img/home-1/icon-1.png" alt="" /></a></li>
								<li class="user-meta">
									<a href="#">
										<img src="img/home-1/icon-2.png" alt="" />
									</a>
									<ul>
										<li><a href="#">Wish list</a></li>
										<li><a href="#">Checkout</a></li>
										<li><a href="#">Testimonial</a></li>
										<li><a href="#">Log in</a></li>
									</ul>
								</li>
								<li class="mini-cart">
									<a class="cart-message" href="#">
										<img src="img/home-1/icon-3.png" alt="" />
										<span>2</span>
									</a>
									<div class="show-shopping-cart">
										<h3 class="title">YOU HAVE <span class="text-warning">(2 ITEMS)</span> IN YOUR CART</h3>
										<ul class="list-product">
											<li>
												<div class="thumb">
													<img alt="" src="img/other-page/cart.png">
												</div>
												<div class="info">
													<h4 class="product-name"><a href="#">LONDON STAR SWEATSHIRT</a></h4>
													<span class="price">1x£375.00</span>
													<a href="#" class="remove-item"><i class="fa fa-close"></i></a>
												</div>
											</li>
											<li>
												<div class="thumb">
													<img alt="" src="img/other-page/cart-1.png">
												</div>
												<div class="info">
													<h4 class="product-name"><a href="#">LONDON STAR SWEATSHIRT</a></h4>
													<span class="price">1x£375.00</span>
													<a href="#" class="remove-item"><i class="fa fa-close"></i></a>
												</div>
											</li>
										</ul>
										<div class="sub-total">
											Subtotal:£255.00
										</div>
										<div class="group-button">
											<a class="button" href="#">Shopping Cart</a>
											<a class="check-out button" href="#">CheckOut</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- HEADER AREA TOP END -->
		<!-- MAP-AREA START -->
		<div class="map-area">
			<div id="googleMap" style="width:100%;height:445px;"></div>
		</div>
		<!-- MAP-AREA END -->
		<!-- ADDRESS AREA START -->
		<section class="adress-area">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="address-single">
							<div class="all-adress-info">
								<div class="icon">
									<span><i class="fa fa-user-plus"></i></span>
								</div>
								<div class="info">
									<h3>PHONE</h3>
									<p>+(02)-12345-6789-55</p>
									<p>+(05)-15689-5698-44</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="address-single">
							<div class="all-adress-info">
								<div class="icon">
									<span><i class="fa fa-map-marker"></i></span>
								</div>
								<div class="info">
									<h3>ADDRESS</h3>
									<p>Mhilara Street 205,</p>
									<p>Roitan city, USA.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="address-single">
							<div class="all-adress-info">
								<div class="icon">
									<i class="fa fa-envelope"></i>
								</div>
								<div class="info">
									<h3>E-MAIL</h3>
									<p>info123@gmail.com</p>
									<p>www.companyweb.com</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ADDRESS AREA END -->
		<!-- CONTACT FROM AREA START -->
		<section class="contact-from-area">
			<div class="container">
				<div class="contact-from-heading">
					<h3>LEAVE A MESSAGE</h3>
				</div>
				<p><b>Thank you for contacting us.</b><br>You are very important to us, all information received will always remain confidential. We will contact you as soon as we review your message.</p>
				<div class="row">
					<form action="mail.php" method="POST">
						<div class="col-md-6">
							<div class="contact-from-left">
								<div class="input-text">
									<input type="text" placeholder="Your Name" name="name" id="name"/>
								</div>
								<div class="input-text">
									<input type="email" placeholder="Your Email" name="email" id="email"/>
								</div>
								<div class="input-text">
									<input type="text" placeholder="Your Subject" name="subject" id="subject"/>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="contact-from-right">
								<div class="input-message">
									<textarea id="message" placeholder="Your Message" name="message"></textarea>
									<input type="submit" value="SEND" name="submitMessage" id="submitMessage"/>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
		<!-- CONTACT FROM AREA END -->
		<!-- FOTTER AREA START -->
		<section class="footer-main-area">
			<div class="container">
				<div class="row">
					<div class="footer-top-area">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="footer-top-left">
								<div class="footer-logo">
									<a href="#"><img alt="" src="img/home-1/footer-logo.png"></a>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								</div>
							</div>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<div class="footer-top-right">
								<div class="footer-newsletter">
									<h4>NEWSLETTER</h4>
									 <form>
									  <input type="text" placeholder="Enter key words">
									  <button><i class="flaticon-search"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-middle-area">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-xs-12">
							<div class="contact-titel">
								<p>CONTACT INFO</p>
							</div>
							<div class="contact-details">
								<ul>
									<li><i class="fa fa-phone"></i> +(08)-561-148-85</li>
									<li><i class="fa fa-envelope-o"></i> admin@devitems.com</li>
									<li><i class="fa fa-map-marker"></i> 1212, Bigrun street, France Paris.</li>
								</ul>
							</div>
						</div>
						<div class="col-md-2 hidden-sm">
							<div class="contact-titel">
								<p>INFORMATOIN</p>
							</div>
							<div class="contact-details-middle">
								<ul>
									<li><a href="#">About Us</a></li>
									<li><a href="#">Delivery Information</a></li>
									<li><a href="#">Privacy &amp; Policy</a></li>
									<li><a href="#">Terms &amp; Conditions</a></li>
									<li><a href="#">Manufactures</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2 col-sm-3 col-xs-12 hidden-xs">
							<div class="contact-titel">
								<p>MY ACCOUNT</p>
							</div>
							<div class="contact-details-middle">
								<ul>
									<li><a href="#">My Account</a></li>
									<li><a href="#">Login</a></li>
									<li><a href="#">My Cart</a></li>
									<li><a href="#">Wishlist</a></li>
									<li><a href="#">Checkout</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2 hidden-sm hidden-xs">
							<div class="contact-titel">
								<p>HELP</p>
							</div>
							<div class="contact-details-middle">
								<ul>
									<li><a href="#">Orders &amp; Returns</a></li>
									<li><a href="#">Search Terms</a></li>
									<li><a href="#">Advance Search</a></li>
									<li><a href="#">Affiliates</a></li>
									<li><a href="#">Group Sales</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-12">
							<div class="contact-titel">
								<p>OPENING TIME</p>
							</div>
							<div class="contact-details-middle">
								<ul>
									<li> Monday - Friday<span>8:00 - 20:00</span></li>
									<li> Saturday<span>90:00 - 21:00</span></li>
									<li> Sunday<span>13:00 - 22:00</span></li>
								</ul>
							</div>
						</div>
						<div class="contact-social-icon">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom-area">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="footer-bottom-titel">
								<p>Copyright &copy; 2016 <a href="http://devitems.com/" target="_blank"> Devitems. </a>All Right Reserved.</p>
							</div>
						</div>
						<div class="col-sm-6 col-xs-12">
							<div class="footer-bottom-payment">
								<a href="#"><img alt="" src="img/payment.png"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- FOTTER AREA END -->
		
		<!-- all js here -->
		<!-- jquery latest version -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
		<!-- bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
		<!-- owl.carousel js -->
        <script src="js/owl.carousel.min.js"></script>
		<!-- meanmenu js -->
        <script src="js/jquery.meanmenu.js"></script>
		<!-- Nivo slider js --> 		
		<script src="lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
		<script src="lib/home.js" type="text/javascript"></script>
		<!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
		<script>
			function initialize() {
			  var mapOptions = {
				zoom: 16,
				scrollwheel: false,
				center: new google.maps.LatLng(23.763474, 90.431483)
			  };

			  var map = new google.maps.Map(document.getElementById('googleMap'),
				  mapOptions);


			  var marker = new google.maps.Marker({
				position: map.getCenter(),
				animation:google.maps.Animation.BOUNCE,
				icon: 'img/map-icon.png',
				map: map
			  });

			}

			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
		<!-- jquery-ui js -->
        <script src="js/jquery-ui.min.js"></script>
		<!-- wow js -->
        <script src="js/wow.min.js"></script>
		<!-- plugins js -->
        <script src="js/plugins.js"></script>
		<!-- main js -->
        <script src="js/main.js"></script>
    </body>
</html>