
/*--
    05. About Area Css
-------------------------------------*/
.about-area {
    .about-image {
        position: relative;
        text-align: center;
    }
}
.about-area {
    .text_left {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 25px;
        box-shadow: 1px 2px 2px 2px #dddddd;
        color: #303030;
        font-size: 24px;
        left: -120px;
        padding: 15px 40px;
        position: absolute;
        text-align: left;
        text-transform: capitalize;
        top: 45%;
        transform: rotate(-90deg);
        @media #{$desktop-device}{
            left: -155px;
        }
        @media #{$tablet-device}{
            left: -60px;
        }
        @media #{$small-mobile}{
            font-size: 14px;
            left: -70px;
            padding: 8px 14px;
            top: 42%;
        }
        @media #{$large-mobile}{
            font-size: 18px;
            left: -70px;
            padding: 10px 18px;
            top: 44%;
        }
    }
}
.about-contents {
    padding-left: 25px;
    padding-top: 65px;
    @media #{$desktop-device}{
        padding-top: 48px;
    }
    @media #{$tablet-device}{
        padding-top: 60px;
        padding-left: 0px;
    }
    @media #{$large-mobile}{
        padding-top: 30px;
        padding-left: 0px;
    }
    @media #{$small-mobile}{
        padding-top: 30px;
        padding-left: 0px;
    }
    & h3 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
        @media #{$small-mobile}{
            margin-bottom: 20px;
            font-size: 26px;
        }
    }
    & .price-box {
        font-size: 18px;
        margin-bottom: 20px;
        .new-price {
            color: $theme-color;
            font-size: 22px;
            font-weight: 500;
        }
        .old-price {
            font-size: 18px;
            text-decoration: line-through;
            color: $black;
        }
    }
    & p{
        margin-bottom: 30px;
    }
    .shop-btn-two {
        font-weight: 500;
        font-size: 14px;
        border: none;
        padding:  14px 40px;
    }
}