/*--
    13. Blog Page Css
----------------------------*/
.single-blog-area {
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
}
.blog-contend {
    margin-top: 20px;
    & h3 {
        font-weight: 600;
    }
    & .blog-btn {
        display: inline-block;
        padding: 5px 15px;
    }
}
.blog-date-categori {
    margin-bottom: 10px;
    & ul {
        & li {
            display: inline-block;
            & a {
                font-size: 14px;
                margin-right: 10px;
                font-weight: 500;
                & i {
                    font-size: 14px;
                    margin-right: 5px;
                }
            }
        }
    }
}
.search-post {
    position: relative;
    margin-top: 20px;
    & input {
        border: 1px solid #dddddd;
        font-size: 14px;
        height: 40px;
        padding: 10px 50px 10px 10px;
        position: relative;
        width: 100%;
    }
    & .btn-search {
        border: medium none;
        font-size: 20px;
        padding: 7px 15px;
        position: absolute;
        right: 0;
        top: 0;
        background: #ddd;
        &:hover {
            background: $theme-color;
            color: $white;
        }
    }
}
.social-icons {
    float: right;
    margin-top: 5px;
    & li {
        display: inline-block;
        margin-left: 10px;
    }
}
.blog-image-slider {
    & .slick-arrow {
        background: #dddddd none repeat scroll 0 0;
        border: 1px solid #dddddd;
        font-size: 16px;
        height: 40px;
        position: absolute;
        top: 50%;
        width: 40px;
        z-index: 9;
        @include transform (translateY(-50%));
        &:hover {
            background: $theme-color;
            color: $white;
            border-color: $theme-color;
        }
    }
    & .slick-next {
        right: 0;
    }
}
.post-info {
    margin-top: 30px;
    & .blockquote-inner {
        border-left: 5px solid $theme-color;
        background: #fafafa;
        font-size: 16px;
        font-style: italic;
        margin: 30px 0;
        padding:  20px 10px;
    }
    & .post-commet {
        border-bottom: 1px solid #e7e4dd;
        border-top: 1px solid #e7e4dd;
        font-size: 14px;
        margin: 0 0 30px;
        padding: 15px 0;
        text-align: left;
        text-transform: uppercase;
        & .social-icons {
            margin-top: 1px;
            font-size: 16px;
        }
    }
}
.comment-form-comment {
    & .comment-notes {
        width: 100%;
        padding: 10px;
        border: 1px solid #777;
        height: 140px;
    }
    & label {
        display: block;
        span {
            color: $theme-color;
        }
    }
}
.comment-form-author, .comment-form-email, .comment-form-url {
    float: left;
    padding: 0 10px;
    width: 33.3333%;
    @media #{$small-mobile} {
        width: 100%;
    }
    @media #{$large-mobile} {
        width: 100%;
    }
}
.comment-input {
    margin: 0 -10px;
    overflow: hidden;
    & label {
        display: block;
    }
    & input {
        width: 100%;
        padding: 10px;
        border: 1px solid #777;
        height: 40px;
    }
}
.comment-form-submit {
    & .comment-submit {
        background: $theme-color;
        color: $white;
        border: none;
        padding: 8px 15px;
        margin-top: 20px;
        &:hover {
            background: $black;
        }
    }
}