/*--
    03. Header-top Css
--------------------------------------*/
.header-top {
    background: $theme-color;
    p {
        color: $white;
        font-size: 14px;
        padding: 15px 0;
        line-height: 16px;
    }
    @media #{$large-mobile}{
        text-align: center;
    }
    @media #{$small-mobile}{
        text-align: center;
    }
}
.language-currency-wrapper {
    display: flex;
    justify-content: flex-end;
    @media #{$large-mobile}{
        justify-content: center;
    }
    @media #{$small-mobile}{
        justify-content: center;
    }
    
    & ul {
        & li.drodown-show {
            position: relative;
            display: inline-block;
            margin-right: 20px;
            padding-right: 20px;
            &::before {
                position: absolute;
                height: 12px;
                right: 0;
                content: "";
                background-color: #ddd;
                width: 1px;
                top: 50%;
                margin-top: -5px;
                @media #{$large-mobile}{
                    margin-top: -12px;
                }
                @media #{$small-mobile}{
                    margin-top: -12px;
                }
            }
            &:last-child {
                margin-right: 0;
                padding-right: 0;
                &::before {
                    display: none;
                }
            }
            & a {
                display: block;
                color: $white;
                font-size: 14px;
                line-height: 16px;
                padding: 15px 0;
                &:hover {color: #333}
                & img {
                    margin-right: 5px;
                    margin-bottom: 2px;
                }
                @media #{$large-mobile}{
                    padding-top: 0;
                }
                @media #{$small-mobile}{
                    padding-top: 0;
                }
            }
            &:hover ul.open-dropdown{
                top: 100%;
                @include opacity(1);
                visibility: visible;
            }
        }
    }
}
.language-currency-wrapper {
    & ul.open-dropdown {
        position: absolute;
        right: 0;
        background: #333;
        top: 125%;
        width: 100px;
        @include transition (.3s);
        width: 110px;
        @include opacity(0);
        visibility: hidden;
        z-index: 99;
        padding: 5px;
        & li {
            display: block;
            & a {
                display: block;
                line-height: 14px;
                padding: 8px;
                &:hover {color: $theme-color;}
            }
        }
    }
}
/*--
    - Header Bottom Css
-------------------------------*/
.logo {
    margin: 40px 0;
    @media #{$tablet-device }{
        margin: 26px 0;
    }
    @media #{$small-mobile}{
        width: 125px;
        margin: 25px 0;
    }
    @media #{$large-mobile}{
        margin: 25px 0;
    }
}
.main-menu-area {
    & ul {
        & > li {
            display: inline-block;
            position: relative;
            padding:0 14px;
            & > a {
                display: block;
                font-size: 14px;
                font-weight: 500;
                padding: 48px 0;
                text-transform: uppercase;
                position: relative;
                @include transition(.4s);
                &::before {
                    content: "";
                    background: $theme-color;
                    width: 0%;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @include opacity(0);
                    @include transition(.4s);
                }
            }
            &:first-child {
                padding-left: 0;
            }
            &:hover{
                & > a {
                    &::before{
                       visibility: visible;
                       @include opacity(1);
                       width: 100%;
                    }
                }
            }
            
            &:hover {
                .sub-menu, .mega-menu {
                    visibility: visible;
                    @include opacity(1);
                    top: 100%;
                }
            }
            
        }
    }
}
/*--
    - Main Menu Css
---------------------*/
.main-menu-area{
   .sub-menu {
        background: $white;
        left: 0;
        padding: 15px;
        position: absolute;
        text-align: left;
        width: 180px;
        z-index: 99;
        top: 120%;
        visibility: hidden;    
        @include opacity(0);
        @include transition(.3s);

        & > li {
            padding: 0;
            &:first-child {
                margin-bottom: 0;
            }

            & > a {
                padding: 0;
                margin-bottom: 5px;
                &::before{
                   display: none;
                }
            }
        }
    } 
}
// mega-menu css
.main-menu-area {
    .mega-menu {
        background: $white;
        left: 0;
        padding: 30px 20px;
        position: absolute;
        text-align: left;
        width: 640px;
        z-index: 99;
        top: 120%;
        visibility: hidden;
        @include opacity(0);
        @include transition(.3s);
        & >li {
            width: 33.333%;
            float: left;
            padding: 0;

            & a {
                padding: 0;
                font-weight: 600;
                &::before{
                   display: none;
                }
            }
            & ul {
                & li {
                    display: block;
                    padding: 0;
                    & a {
                        padding: 0;
                        text-transform: capitalize;
                        display: block;
                        font-weight: 500;
                        margin-top: 5px;
                        &::before{
                           display: none;
                        }
                    }
                }
            }
        }
    }
}
// sidebar-search
.trigger-search {
  display: inline-block;
  margin-top: 2px;
}
.main-search-active {
	background: rgba(0, 0, 0, 0.92) none repeat scroll 0 0;
	width: 100%;
	min-height: 100vh;
	padding: 32px 46px 39px;
	position: fixed;
	top: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    visibility: hidden;
    opacity: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	z-index: 9999;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.sidebar-search-icon {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 100%;
    color: #ffffff;
    font-size: 30px;
    line-height: 1;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;
}
.sidebar-search-icon {
    & button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #ffffff;
        cursor: pointer;
        font-size: 30px;
        line-height: 1;
        transition: all 0.3s ease 0s;
        &:hover {
          color: $theme-color;
        }
    }
}
.sidebar-search-input {
    -ms-flex-item-align: center;
	    align-self: center;
	display: -webkit-box;
	display: -ms-flexbox;
    @include flex (flex);
    & .form-search{
        position: relative;
        & input {
            background-color: rgba(0, 0, 0, 0);
            border-color: #dddddd;
            border-style: solid;
            border-width: 0 0 1px;
            color: #ffffff;
            display: block;
            font-size: 16px;
            height: 70px;
            line-height: 70px;
            padding: 15px 50px 15px 0;
            width: 800px;
            &::placeholder{
                color: #fff;
            }
            &::-webkit-input-placeholder {
                color: #fff;
            }
            &::-moz-placeholder {
                color: #fff;
            }
            &::-ms-input-placeholder {
                color: #fff;
            }
            &::placeholder{
                color: #fff;
            }
            @media #{$tablet-device}{
                width: 500px;
            } 
            @media #{$large-mobile}{
                width: 400px;
            } 
            @media #{$small-mobile}{
                width: 280px;
            } 
        }
        & button {
            background-color: rgba(0, 0, 0, 0);
            border: medium none;
            color: #ffffff;
            cursor: pointer;
            font-size: 20px;
            padding: 0;
            position: absolute;
            right: 0;
            top: 25px;
            transition: all 0.3s ease 0s;
            width: 40px;
            &:hover {
              color: $theme-color;
            }
        }
    }
}
.main-search-active.inside {
  visibility: visible;
  opacity: 1;
  z-index: 99999;
}
/*--
    - Right Blok Box Css
---------------------------*/
.right-blok-box {
    justify-content: flex-end;
    margin: 45px 0;
    @media #{$tablet-device }{
        margin: 34px 50px 24px 0;
    }
    @media #{$large-mobile}{
        margin: 34px 40px 24px 0;
    }
    @media #{$small-mobile}{
        margin: 28px 34px 24px 0;
    }
    a {
        font-size: 24px;
        @media #{$small-mobile}{
            font-size: 20px;
        }
    }
}
.user-wrap {
    padding: 0 20px;
    @media #{$small-mobile}{
        padding: 0 15px;
    }
}
/*-- 
    - Shopping Cart Css
----------------------------*/
.shopping-cart-wrap {
    position: relative;
    & ul.mini-cart {
        position: absolute;
        width: 300px;
        background: #fff;
        box-shadow: 0 0 3px 2px #dddddd;
        right: 0;
        top: 130%;
        padding: 15px;
        z-index: 99;
        visibility: hidden;
        @include opacity(0);
        transition: all 0.3s ease-in-out;
        .cart-item {
            display: flex;
            padding-bottom: 15px;
            position: relative;
            & .cart-image {
                border: 1px solid #f1f1f1;
                display: block;
                width: 100px;
            }
            .cart-title{
               padding-left: 15px;
               width: 60%;
                & h4{
                    font-size: 15px;
                    font-weight: 500;
                }
                & .quantity {
                    display: block;
                }
                & .price-box{
                    color: $theme-color;
                    font-weight: 500;
                    .old-price{
                        color: #666;
                        text-decoration: line-through;
                    }
                }
                & .remove_from_cart{
                    margin-top: 10px;
                    position: absolute;
                    right: 0;
                    font-size: 14px;
                }
            }
        } 
        & .subtotal-titles {
            & .subtotal-titles{
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 600;
                color: $black;
                h3{
                    font-size: 14px;
                    font-weight: 600;
                    color: $black; 
                    line-height: 20px;
                    margin: 0;
                }
            }
        }
        @media #{$large-mobile}{
            right: -30px;
            width: 280px;
        }
    }
    &:hover ul.mini-cart{
        visibility: visible;
        @include opacity(1);
        top: 100%;
    }
}
#cart-total {
  background: $theme-color;
  border-radius: 100%;
  color: $white;
  float: right;
  font-size: 10px;
  font-weight: 500;
  height: 18px;
  line-height: 18px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  top: 3px;
  width: 18px;
}
.mini-cart-btns {
    & .cart-btns {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        width: 100%;
        & a {
            background: $theme-color;
            border: 2px solid $theme-color;
            border-radius: 50px;
            color: #ffffff;
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            height: 40px;
            line-height: 36px;
            padding: 0 25px;
            text-align: center;
            text-transform: uppercase;
            &:hover {
                background: $black;
                border: 2px solid $black;
            }
        }
    }
}
