/*--
   06. Product Area Css
------------------------------*/
.single-product-wrap {
    margin-top: 30px;
    &:hover .product-action {
        @include opacity(1);
        @include transform(translateY(-50%));
    }
    &:hover a:before {
        @include opacity(1);
    }
}
.product-image {
    position: relative;
    & > a {
        display: block;
        position: relative;
        & img {
                width: 100%; 
            }
        &::before {
            content: "";
            background: rgba(0, 0, 0, 0.38) none repeat scroll 0 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            @include opacity(0);
            @include transition(.4s);
        }
    }
    & .product-action {
        display: inline-block;
        left: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        @include opacity(0);
        @include transition(0.3s);
        & .wishlist,
        & .add-to-cart,
        & .quick-view {
            background: #ffffff none repeat scroll 0 0;
            display: inline-block;
            height: 50px;
            line-height: 54px;
            width: 50px;
            &:hover {
                background: $theme-color;
                color: $white;
            }
        }
    }
}
.product-content{
    margin-top: 20px;
    text-align: center;
    h3 {
        font-size: 16px;
        font-weight: 500;
        margin: 0;
    }
    .price-box {
        font-size: 18px;
        font-weight: 600;
        font-family: $opensans;
        .old-price {
            text-decoration: line-through;
            font-size: 15px;
            font-weight: 500;
        }
    }
}