// Font Family
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;


// Colors ---------------

$white: #ffffff;
$black: #000000;

// Light Color
$light: #191919;
$light-grey: #f6fafb;

// Dark Color
$dark: #191919;
$dark-grey: #222222;

// Body Color
$body-color: #fff;
$body-color-light: #909090;

// Body Color
$grey-light: #f0f0f0;
$grey-dark: #e4e4e4;

// Heading Color
$heading-color: #383838;
$heading-color-light: #505050;

// Theme Color
$theme-color: #e97730; 

// Responsive Variables
$extraBig-device : 'only screen and (min-w idth: 1600px)';
$laptop-device : 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 479px)';

