/*--
    - Section Title
------------------------------------------*/

.ht-section-title-two {
    & h2 {
        font-weight: 900;
        text-transform: capitalize;
        font-size: 34px;
        line-height: 1;
        margin-bottom: 0;
        @media #{$large-mobile}{
            font-size: 24px;
        }
    }
    & p {
        max-width: 750px;
        margin: 18px auto 0;
        line-height: 22px;
    }
    
    &.text-left {
        & p {
            margin-left: 0;
            margin-right: auto;
        }
    }
    &.text-right {
        & p {
            margin-left: auto;
            margin-right: 0;
        }
    }
}