<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Forum || Gilbard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="assets/images/favicon.ico" type="img/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/qanto.css">
    <link rel="stylesheet" href="assets/css/bauhaus93.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/icofont.min.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/helper.css">
    <link rel="stylesheet" href="assets/css/style.css">   
    <!-- Modernizr JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    
<div id="main-wrapper">
   
    <!--Header section start-->
    <header class="header header-static bg-black header-sticky">
        <div class="default-header menu-right">
            <div class="container container-1520">
                <div class="row">
                    
                    <!--Logo start-->
                    <div class="col-12 col-md-3 col-lg-3 order-md-1 order-lg-1 mt-20 mb-20">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <!--Logo end-->
                    
                    <!--Menu start-->
                    <div class="col-lg-6 col-12 order-md-3 order-lg-2 d-flex justify-content-center">
                        <nav class="main-menu menu-style-2">
                            <ul>
                                <li><a href="index.html">Home</a>                                        
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home One</a></li>
                                        <li><a href="index-2.html">Home Two</a></li>
                                        <li><a href="index-3.html">Home Three</a></li>
                                        <li><a href="index-4.html">Home Four</a></li>
                                        <li><a href="index-5.html">Home Five</a></li>
                                        <li><a href="index-landing.html">Home Landing</a></li>
                                    </ul>
                                </li>
                                <li><a href="games.html">games</a>
                                    <ul class="sub-menu">
                                        <li><a href="games.html">Games</a></li>
                                        <li><a href="games-details.html">Games Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="video.html">Videos</a></li>
                                <li><a href="forum.html">Forums</a>
                                    <ul class="sub-menu">
                                        <li><a href="forum.html">Forums</a></li>
                                        <li><a href="forum-create.html">Forums Create</a></li>
                                        <li><a href="forum-post.html">Forums Post</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                        <li><a href="blog-list.html">Blog List</a></li>
                                        <li><a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a></li>
                                        <li><a href="single-blog.html">Single Blog</a></li>
                                        <li><a href="single-blog-left.html">Single Blog Left Sidebar</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="register.html">REGISTER</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--Menu end-->
                    
                    <!--Header Right Wrap-->
                    <div class="col-12 col-md-9 order-md-2 order-lg-3 col-lg-3">
                        <div class="header-right-wrap">
                            <ul>
                                <li><a href="login.html">LOGIN</a></li>
                                <li><a href="register.html">REGISTER</a></li>
                                <li class="header-search"><a class="header-search-toggle" href="#"><i class="icofont-search-2"></i></a>
                                    <div class="header-search-form">
                                        <form action="#">
                                            <input type="text" placeholder="Type and hit enter">
                                            <button><i class="icofont-search"></i></button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Header Right Wrap-->
                    
                </div>
                
                <!--Mobile Menu start-->
                <div class="row">
                    <div class="col-12 d-flex d-lg-none">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
                <!--Mobile Menu end-->
                
            </div>
        </div>
    </header>
    <!--Header section end-->
    
    <!--Page Banner Area Start-->
    <div class="page-banner-area" style="background-image: url(assets/images/bg/page-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content text-center">
                        <h1>KINGS OF THE <br> WARRIORS</h1>
                        <a class="df-btn" href="#">Buy now</a>
                        <ul class="page-breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Forum</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Banner Area End-->
    
    <!--Forum Area Start-->
    <div class="forum-area section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--Single Forum Start-->
                    <div class="single-forum mb-30">
                        <h3><a href="forum-post.html">there is some problem whrn I reached final stage of angry birds</a></h3>
                        <div class="forum-meta">
                            <ul>
                                <li><a href="#"><img src="assets/images/author/forum-author1.png" alt="">snigdha james</a></li>
                                <li>posted 5 min ago</li>
                                <li><a href="#">12 reply</a></li>
                            </ul>
                            <span class="view">view 215</span>
                        </div>
                        <span class="sticker">new</span>
                    </div>
                    <!--Single Forum End-->
                </div>
                <div class="col-12">
                    <!--Single Forum Start-->
                    <div class="single-forum mb-30">
                        <h3><a href="forum-post.html">which game do you finish in one sitting?</a></h3>
                        <div class="forum-meta">
                            <ul>
                                <li><a href="#"><img src="assets/images/author/forum-author2.png" alt="">Neha Kaissha</a></li>
                                <li>posted 1.35 hour ago</li>
                                <li><a href="#">65 reply</a></li> 
                            </ul>
                            <span class="view">view 215</span>
                        </div>
                        <span class="sticker">new</span>
                    </div>
                    <!--Single Forum End-->
                </div>
                <div class="col-12">
                    <!--Single Forum Start-->
                    <div class="single-forum mb-30">
                        <h3><a href="forum-post.html">what configuration  need to play fifa 2019</a></h3>
                        <div class="forum-meta">
                            <ul>
                                <li><a href="#"><img src="assets/images/author/forum-author3.png" alt="">Eric Gardner</a></li>
                                <li>posted 3 hour ago</li>
                                <li><a href="#">325 reply</a></li>
                            </ul>
                            <span class="view">view 215</span>
                        </div>
                        <span class="sticker">new</span>
                    </div>
                    <!--Single Forum End-->
                </div>
                <div class="col-12">
                    <!--Single Forum Start-->
                    <div class="single-forum mb-30">
                        <h3><a href="forum-post.html">latest version of angry birds released in 2019</a></h3>
                        <div class="forum-meta">
                            <ul>
                                <li><a href="#"><img src="assets/images/author/forum-author4.png" alt="">Diane Hall</a></li>
                                <li>posted 2.2 hour ago</li>
                                <li><a href="#">75 reply</a></li>  
                            </ul>
                            <span class="view">view 215</span>
                        </div>
                    </div>
                    <!--Single Forum End-->
                </div>
                <div class="col-12">
                    <!--Single Forum Start-->
                    <div class="single-forum mb-30">
                        <h3><a href="forum-post.html">Uncharted 4: A Thief's End</a></h3>
                        <div class="forum-meta">
                            <ul>
                                <li><a href="#"><img src="assets/images/author/forum-author5.png" alt="">Brian Myers</a></li>
                                <li>posted 2.45 hour ago</li>
                                <li><a href="#">150 reply</a></li> 
                            </ul>
                            <span class="view">view 215</span>
                        </div>
                    </div>
                    <!--Single Forum End-->
                </div>
                <div class="col-12">
                    <!--Single Forum Start-->
                    <div class="single-forum mb-30">
                        <h3><a href="forum-post.html">there is some problem whrn I reached final stage of angry birds</a></h3>
                        <div class="forum-meta">
                            <ul>
                                <li><a href="#"><img src="assets/images/author/forum-author6.png" alt="">snigdha james</a></li>
                                <li>posted 5 min ago</li>
                                <li><a href="#">12 reply</a></li>
                            </ul>
                            <span class="view">view 215</span>
                        </div>
                    </div>
                    <!--Single Forum End-->
                </div>
                <div class="col-12">
                    <!--Single Forum Start-->
                    <div class="single-forum mb-30">
                        <h3><a href="forum-post.html">Nintendo Switch Cloud Saves are coming!!!! </a></h3>
                        <div class="forum-meta">
                            <ul>
                                <li><a href="#"><img src="assets/images/author/forum-author8.png" alt="">Sarah Garcia</a></li>
                                <li>posted 4 hour ago</li>
                                <li><a href="#">135 reply</a></li>
                            </ul>
                            <span class="view">view 215</span>
                        </div>
                    </div>
                    <!--Single Forum End-->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="blog-pagination text-center">
                        <ul class="page-pagination">
                            <li><a href="#"><i class="icofont-long-arrow-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#"><i class="icofont-long-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Forum Area End-->
    
    <!--Projects section start-->
    <div class="newslatter-section newslatter-section-tow section pt-xs-50 pb-xs-50">
        <div class="container">
           
            <div class="row">
               <div class="col-12">
                   <!--News Latter Area Start-->
                   <div class="news-latter-area newslatter-black">
                       <div class="news-latter-box">
                           <h3>SUBSCRIBE OUR NEWSLETTER, GET ALL <br> LATEST NEWS, UPDATE, VIDEOS AND OFFERS </h3>
                           <form action="#">
                               <input type="text" placeholder="Enter your email here">
                           </form>
                       </div>
                   </div>
                   <!--News Latter Area End-->
               </div> 
            </div>
            
        </div>
        
    </div>
    <!--Projects section end-->
    
    <!--Footer section start-->
    <footer class="footer-section style-2 section bg-theme" style="background-image: url(assets/images/bg/footer-bg.jpg)">
       
        <!--Footer Top start-->
        <div class="footer-top section pt-175 pt-lg-150 pt-md-125 pt-sm-110 pt-xs-40 pb-80 pb-lg-70 pb-md-60 pb-sm-15 pb-xs-40">
            <div class="container container-1520">
                <div class="row justify-content-lg-between">
                    
                    <!--Footer Widget start-->
                    <div class="col-xl-3 col-lg-2 col-md-3">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!--Footer Widget end-->
                    
                    <!--Footer Widget start-->
                    <div class="col-xl-6 col-lg-6 col-md-9">
                        <div class="footer-widget">
                            <div class="footer-nav">
                                <nav>
                                    <ul>
                                        <li><a href="#">forums</a></li>
                                        <li><a href="#">demo</a></li>
                                        <li><a href="#">support</a></li>
                                        <li><a href="#">terms & conditions</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--Footer Widget end-->
                    
                    <!--Footer Widget start-->
                    <div class="col-xl-3 col-lg-4 col-md-12">
                        <div class="footer-widget">
                            <div class="footer-social">
                               <span>follow us:</span>
                                <ul>
                                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#"><i class="icofont-youtube-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Footer Widget end-->    
                    
                </div>
            </div>
        </div>
        <!--Footer Top end-->
        
        <!--Footer bottom start-->
        <div class="footer-bottom border-color section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright text-center">
                            <p>Copyright &copy;2018 <a  href="#">Gilbard</a>. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer bottom end-->
        
     </footer>
     <!--Footer section end-->
    
</div>

<!-- Placed js at the end of the document so the pages load faster -->

<!-- All jquery file included here -->
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>