

/*==========================
    Flipbox Style 01
============================*/
.bg_image--02 {
    background-image: url(../images/bg/bg-image-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.square-flip {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 380px;
    margin-bottom: 30px;
}

.square,
.square2 {
    width: 100%;
    height: 100%;
}

.square {
    background-size: cover;
    background-position: center center;
    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.square-flip {
    .square {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        z-index: 1;
    }

    &:hover .square {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        transform-style: preserve-3d;
    }

    .square2 {
        background-size: cover;
        background-position: center center;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        overflow: hidden;
        position: absolute;
        top: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .square2 {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        z-index: 1;
    }

    &:hover .square2 {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }
}

/*Square content*/
.square-flip {
    .square-container {
        padding: 40px;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transform: translateY(-50%) translateX(0px) scale(1);
        -ms-transform: translateY(-50%) translateX(0px) scale(1);
        transform: translateY(-50%) translateX(0px) scale(1);
        transform-style: preserve-3d;
        z-index: 2;
    }

    &:hover .square-container {
        -webkit-transform: translateY(-50%) translateX(-650px) scale(.88);
        -ms-transform: translateY(-50%) translateX(-650px) scale(.88);
        transform: translateY(-50%) translateX(-650px) scale(.88);
        transform-style: preserve-3d;
    }

    .square-container2 {
        padding: 40px;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform-style: preserve-3d;
        z-index: 2;

        @media #{$large-mobile} {
            padding: 40px 20px;
        }
    }

    &:hover .square-container2 {
        -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        transform-style: preserve-3d;
    }

}


/*Style text*/

.square-flip {
    .square-container {
        span {
            color: #333333;
            font-size: 50px;
        }

        h2 {
            color: #333333;
            font-size: 22px;
            font-weight: 400;
            margin: 0;
            margin-top: 22px;

            @media #{$large-mobile} {
                font-size: 20px;
            }
        }
    }
    .square-container2 {
        span {
            color: #efefef;
            font-size: 50px;
            display: block;
            margin-bottom: 28px;
        }

        h2 {
            color: #ffffff;
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 18px;
        }

        p {
            color: #ffffff;
            font-size: 16px;
            line-height: 26px;
            margin: 0;
            font-family: $font-one;
        }
    }
}


/*Elements Bg Color & Image*/
.flip-overlay {
    display: block;
    background: #f3f3f3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.square2 {
    background-image: url(../images/serviece/flipbox-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .flip-overlay {
        display: block;
        background: rgba(237, 85, 45, 0.8);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
}




/*==========================
    Flipbox Style 02
============================*/



.flipbox-2 {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    height: 410px;

}

.flip-front,
.flip-back {
    width: 100%;
    height: 100%;
}

.flipbox-2 {
    margin-top: 40px;

    .flip-front {
        background-size: cover;
        background-position: center center;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        overflow: hidden;
        position: absolute;
        top: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-front {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        transform-style: preserve-3d;
        z-index: 1;
    }

    &:hover .flip-front {
        -webkit-transform: rotateX(-180deg);
        -moz-transform: rotateX(-180deg);
        -o-transform: rotateX(-180deg);
        -ms-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        transform-style: preserve-3d;
    }

    .flip-back {
        background-size: cover;
        background-position: center center;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        overflow: hidden;
        position: absolute;
        top: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-back {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        transform: rotateX(180deg);
        transform-style: preserve-3d;
        z-index: 1;
    }

    &:hover .flip-back {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
        transform-style: preserve-3d;
    }
}


/*Square content*/
.flipbox-2 {
    .content {
        padding: 40px;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transform: translateY(-50%) translateX(0px) scale(1);
        -ms-transform: translateY(-50%) translateX(0px) scale(1);
        transform: translateY(-50%) translateX(0px) scale(1);
        transform-style: preserve-3d;
        z-index: 2;
    }

    &:hover .content {
        -webkit-transform: translateY(-50%) translateX(-650px) scale(.88);
        -ms-transform: translateY(-50%) translateX(-650px) scale(.88);
        transform: translateY(-50%) translateX(-650px) scale(.88);
        transform-style: preserve-3d;
    }


    .content2 {
        padding: 40px;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
        -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform-style: preserve-3d;
        z-index: 2;

        @media #{$desktop-device} {
            padding: 40px 20px;
        }

        @media #{$large-mobile} {
            padding: 40px 20px;
        }
    }

    &:hover .content2 {
        -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
        transform-style: preserve-3d;
    }

}

.flipbox-2 {
    .flp-content {
        span {
            margin-bottom: 26px;
            display: inline-block;
            padding-bottom: 30px;
            position: relative;

            i {
                color: #fff;
                font-size: 70px;
            }

            &::before {
                position: absolute;
                content: "";
                background: #fff;
                width: 30px;
                height: 1px;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            &::after {
                position: absolute;
                content: "";
                background: #fff;
                width: 20px;
                height: 1px;
                bottom: 6px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        h4 {
            color: #ffffff;
            font-size: 16px;
            margin: 0;
            font-weight: 300;
            text-transform: uppercase;
        }

        p {
            margin: 0;
            color: #ffffff;
            font-size: 14px;
            line-height: 24px;
            margin-top: 15px;
            font-family: $heading-font;
            font-weight: 300;
        }
    }
}


.square-flip.travel-flip .square2 .flip-overlay{
    background-image: url(../images/event/flip-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.square-flip.travel-flip .square-container h2 ,
.square-flip.travel-flip .square-container2 h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    margin: 0;
    margin-bottom: 12px;
    color: #ffffff;
}

.square-flip.travel-flip .square-container span ,
.square-flip.travel-flip .square-container2 span{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    color: #ffffff;
}

.square-flip.travel-flip .square-container2{
    padding: 40px 10px;
}

.square-flip.travel-flip .square .flip-overlay-1,
.square-flip.travel-flip .square .flip-overlay-2,
.square-flip.travel-flip .square .flip-overlay-3,
.square-flip.travel-flip .square .flip-overlay-4 {
    background-image: url(../images/event/flip-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.square-flip.travel-flip .square .flip-overlay-2 {
    background-image: url(../images/event/flip-2.png);
}

.square-flip.travel-flip .square .flip-overlay-3 {
    background-image: url(../images/event/flip-3.png);
}

.square-flip.travel-flip .square .flip-overlay-4 {
    background-image: url(../images/event/flip-4.png);
}


