
/* Medium desktop :992px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  
.ptb-100 {
  padding: 80px 0;
}
.ptb-120 {
  padding: 80px 0;
}
.pt-100 {
  padding-top: 80px;
}
.slider-caption-img img {
  margin-top: 100px;
  width: 250px;
}
.slide1-text {
  top: 135px;
}    
.nivo-directionNav a.nivo-nextNav {
    right: 20px;
}
.nivo-directionNav a.nivo-prevNav {
    left: 20px;
}    
.section-title {
    margin-bottom: 77px;
}    
.testimonial-list.owl-carousel .owl-buttons > div {
    left: -240px;
}
.testimonial-list.owl-carousel .owl-buttons .owl-next {
    right: -240px;
}
.feature-list.owl-carousel .owl-controls .owl-buttons > div {
  left: -20px;
} 
.feature-list.owl-carousel .owl-controls .owl-buttons .owl-next {
  right: -20px;
}    
.feature-project .section-title {
  margin-bottom: 78px;
}    
  
    
    
    
    
    
    
    
    
    
    
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
.ptb-100 {
  padding: 75px 0;
}
.pt-100 {
  padding-top: 75px;
} 
.ptb-120 {
  padding: 75px 0;
} 
.feature-project .section-title {
  margin-bottom: 73px;
}
.menu ul li {
  margin-left: 40px;
}  
.get-quout > a {
  padding: 0 20px;
}
.info-box {
  margin-right: 12px;
} 
.info-icon {
  margin-right: 10px;
}
.info-desc h4 {
  font-size: 18px;
}    
.info-desc h5 {
  font-size: 14px;
}    
.slide1-text {
  margin-left: 100px;
  top: 100px;
}    
.middle-text .title-2 h1 {
  font-size: 30px;
}    
.middle-text .title-1 h2 {
  font-size: 24px;
}    
.slider-caption-img img {
  width: 175px;
}    
.about-text {
  margin-top: 0;
  padding-left: 0;
}    
.about-action {
  left: 0;
}    
.section-title {
  margin-bottom: 73px;
}    
.feature-desc > p {
  font-size: 15px;
}
.feature-desc {
  padding-left: 10px;
}
.feature-list.owl-carousel .owl-controls .owl-buttons > div {
  left: -8px;
}    
.feature-list.owl-carousel .owl-controls .owl-buttons .owl-next {
  right: -8px;
}    
.single-services h3 {
  font-size: 18px;
}    
.single-services p {
  font-size: 13px;
}
.contact-text h2 {
  font-size: 24px;
}    
.contact-text > h3 {
  font-size: 22px;
}    
.latest-work-btn {
  margin-top: 0;
}    
.fun-fact-desc > h3, .fun-fact-desc > h2 {
  font-size: 22px;
}    
.testimonial-desc > p {
  font-size: 16px;
}    
.testimonial-list.owl-carousel .owl-buttons > div {
  left: -140px;
}
.testimonial-list.owl-carousel .owl-buttons .owl-next {
  right: -140px;
}    
.testimonial {
  padding: 130px 0 120px;
}
    
 .subscribe-text > h3 {
  font-size: 25px;
}     
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.ptb-100 {
  padding: 60px 0;
}
.pt-100 {
  padding-top: 60px;
}
.ptb-120 {
  padding: 60px 0;
} 
.feature-project .section-title {
  margin-bottom: 58px;
}
.services-area .section-title {
  margin-bottom: 60px;
}
.testimonial {
  padding: 130px 0 120px;
}
.menu ul li {
  margin-left: 34px;
}
.info-box {
  margin-right: 0;
}    
.slide1-text {
  position: inherit;
  text-align: center;
  top: inherit;
}    
.middle-text .title-1 h2 {
  font-size: 24px;
  margin-bottom: 8px;
}    
.middle-text .title-2 h1 {
  font-size: 28px;
}    
.middle-text .desc p {
  display: none;
}    
.middle-text .contact-us a {
  padding: 0 35px;
  margin-top: 20px;
}    
.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-tablecell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}    
.about-img > img {
    width: 100%;
}
.about-text {
  margin-bottom: 50px;
  margin-top: 0;
  padding-left: 0;
}    
.about-action {
  left: 0;
  width: 100%;
}    
.about-img, .about-text {
  width: 100%;
}    
.feature-list.owl-carousel .owl-controls .owl-buttons > div {
  left: -10px;
}    
.feature-list.owl-carousel .owl-controls .owl-buttons .owl-next {
  right: -10px;
}    
.section-title {
  margin-bottom: 60px;
}    
.contact-text h2 {
  font-size: 18px;
}    
.contact-text > h3 {
  font-size: 20px;
}    
.contact-us-button a {
  padding: 0 40px;
}    
.latest-work-menu li span {
  padding: 0 20px;
}    
.latest-work-menu {
  margin-bottom: 45px;
}    
.latest-work-btn {
  margin-top: 0;
}    
.fun-fact-desc > h3, .fun-fact-desc > h2 {
  font-size: 22px;
}    
.testimonial-desc > p {
  font-size: 18px;
}
.testimonial-list.owl-carousel .owl-buttons > div {
  left: 0;
}    
.testimonial-list.owl-carousel .owl-buttons .owl-next {
  right: 0;
}    
.subscribe-text > h3 {
  font-size: 23px;
}    
.blog-right-sidebar-bottom li {
  margin-bottom: 12px;
  margin-right: 5px;
}    
.blog-right-sidebar-bottom a {
  padding: 7px;
}     
.blog-search input[type="text"] {
  padding: 5px 46px 5px 15px;
}    
.blog-meta > span {
  padding-right: 12px;
}    
.blog-right-sidebar.resf {
  margin-top: 50px;
}    
.res-smf{
    margin-bottom: 20px;
}    
.team-img > img {
  width: 100%;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.ptb-100 {
  padding: 40px 0;
}
.pt-100 {
  padding-top: 40px;
}
.ptb-120 {
  padding: 40px 0;
} 
.feature-project .section-title {
  margin-bottom: 38px;
}
.services-area .section-title {
  margin-bottom: 40px;
}
.our-latest-work .section-title {
  margin-bottom: 40px;
}
.funt-fact {
  padding: 40px 0;
}
.header {
  padding-bottom: 27px;
}
.header-social {
  float: none;
  text-align: center;
}
.testimonial {
  padding: 50px 0 40px;
}
.nivo-directionNav a {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  width: 40px;
}    
.nivo-directionNav a.nivo-prevNav {
  left: 15px;
}    
.nivo-directionNav a.nivo-nextNav {
  right: 15px;
}    
.slide1-text {
  position: inherit;
  text-align: center;
  top: inherit;
}    
.middle-text .title-2 h1 {
  font-size: 15px;
}    
.middle-text .desc p,.middle-text .title-1 h2 {
  display: none;
}    
.middle-text .contact-us a {
  font-size: 12px;
  height: 35px;
  line-height: 33px;
  margin-top: 20px;
  padding: 0 20px;
}  
.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-tablecell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}    
.about-text {
  margin-top: 0;
  padding-left: 0;
} 
.about-img, .about-text {
  float: none;
  width: 100%;
}    
.about-action {
  display: none;
}    
.about-text > h1 {
  font-size: 26px;
  margin-bottom: 10px;
}    
.about-img {
  margin-top: 25px;
}    
.section-title h2 {
  font-size: 20px;
}    
.section-title {
  margin-bottom: 40px;
}    
.feature-desc {
  padding-left: 15px;
}    
.feature-desc > p {
  font-size: 14px;
}    
.feature-desc a {
  font-size: 20px;
  width: 45px;
}    
.single-services h3 {
  font-size: 18px;
}    
.contact-text h2 {
  font-size: 16px;
  line-height: 24px;
}    
.contact-us-button {
  position: inherit;
  top: 15px;
}
.contact-us-button a {
  height: 40px;
  line-height: 40px;
  padding: 0 38px;
}    
.contact-text > h3 {
  font-size: 18px;
  margin-bottom: 15px;
}    
.latest-work-menu li {
  border-bottom: 1px solid #c8c8c8;
  border-right: medium none;
  display: block;
  height: 40px;
  line-height: 40px;
}    
.latest-work-menu li:last-child {
  border: medium none;
}    
.latest-work-menu {
  margin-bottom: 40px;
}    
.latest-work-btn {
  margin-top: 0;
}    
.latest-work-btn a {
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
}    
.single-fun-fact {
    margin-bottom: 30px;
}
.funt-fact .row .col-xs-12:last-child .single-fun-fact {
    margin-bottom: 0;
}
.fun-fact-desc > h3, .fun-fact-desc > h2 {
  font-size: 18px;
}    
.testimonial-desc > p {
  font-size: 13px;
}    
.testimonial-title > p {
  font-size: 16px;
}    
.testimonial-title > h2 {
  font-size: 20px;
}    
.testimonial-list.owl-carousel .owl-buttons > div {
  left: -15px;
}    
.feature-list.owl-carousel .owl-controls .owl-buttons > div, .testimonial-list.owl-carousel .owl-buttons > div {
  font-size: 20px;
  height: 45px;
  left: 0;
  line-height: 45px;
  width: 45px;
}
.feature-list.owl-carousel .owl-controls .owl-buttons .owl-next {
  right: 0;
}   
.testimonial-list.owl-carousel .owl-buttons .owl-next {
  right: 0;
}    
.single-brand {
  text-align: center;
}    
.brand {
  padding: 35px 0;
}    
.feature-img > img {
  width: 100%;
}    
.footer-top {
  padding: 40px 0;
}    
.single-services {
   margin-bottom: 30px;
}    
.single-services.six {
  margin-bottom: 0;
}    
.pt-120 {
  padding-top: 40px;
}    
.our-latest-work .section-title, .team-area .section-title {
  margin-bottom: 40px;
}    
.pt-90 {
  padding-top: 50px;
}
    .pb-120 {
  padding-bottom: 40px;
}
.subscribe .col-md-7 {
  padding-left: 15px;
}    
.subscribe-text > h3 {
  font-size: 18px;
}    
.subscribe-input form button {
  font-size: 15px;
  padding: 0 12px;
}    
.subscribe-text {
  float: left;
  margin-bottom: 15px;
}    
.mc-form input {
  padding: 0 116px 0 10px;
}   
.ptb-80 {
  padding: 40px 0;
}    
.hm-blog .blog-info.blog-pad {
  padding: 15px 10px;
}    
 .blog-info h3 {
  font-size: 13px;
}   
 .ptb-140 {
  padding: 60px 0;
}   
.mb-60 {
  margin-bottom: 30px;
}     
.blog-part.mrg-sm.mrg-xs {
  margin-bottom: 30px;
}
.page li {
  margin-right: 10px;
}    
.pt-60 {
  padding-top: 30px;
}    
h2.page-title {
  font-size: 25px;
}    
.blog-meta > span {
  font-size: 13px;
  padding-right: 4px;
}   
.blog-meta i {
  padding-right: 2px;
}    
.blog-right-sidebar.resf {
  margin-top: 50px;
}    
.res-smf{
    margin-bottom: 20px;
}    
.blog-middle-mrg {
  margin: 32px 0 33px 0px;
}    
blockquote {
  padding: 14px 20px;
}
 .team-img > img {
  width: 100%;
}   
    
    
    
    
    
    
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.feature-list.owl-carousel .owl-controls .owl-buttons > div, .testimonial-list.owl-carousel .owl-buttons > div {
  left: -20px;
} 
.feature-list.owl-carousel .owl-controls .owl-buttons .owl-next {
  right: -20px;
}    
.feature-desc > p {
  font-size: 18px;
}    
.mean-container a.meanmenu-reveal {
  top: -79px;
}
.testimonial {
  padding: 70px 0 60px;
}
.middle-text .title-1 h2 {
  display: block;
}    
.middle-text .title-1 h2 {
  font-size: 22px;
}    
.middle-text .title-2 h1 {
  font-size: 26px;
  margin-top: 5px;
}    
.middle-text .contact-us a {
  font-size: 14px;
  height: 40px;
  line-height: 36px;
   padding: 0 30px;
}    
.section-title h2 {
  font-size: 25px;
}    
.single-services h3 {
  font-size: 20px;
}    
.contact-text > h3 {
  font-size: 22px;
}    
.contact-text h2 {
  font-size: 18px;
}    
.work-img > img {
  width: 100%;
}    
.fun-fact-desc > h3, .fun-fact-desc > h2 {
  font-size: 22px;
}    
    
    
    
    
    
    
    
 
}