/*--
    13. Footer Css
----------------------*/

/* CopyiRight Style */
.copyright{
    background: #F4F4F4;
    .content{
        p {
            color: #424242;
            font-size: 14px;
            margin: 10px 0 0;
            font-weight: 600;
        }
    }
}



