/* Normal desktop :1366px. */
@media (min-width: 1170px) and (max-width: 1400px) {


}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.container {width:970px}

.youtube-video iframe {
	height: 256px;
}
.aside-tags.aside-both-sidebar li + li {
	margin-left: 1px;
}
.aside-tags.aside-both-sidebar a {
	padding: 5px 6px;
	font-size: 10px;
}
.aside-tags li + li {
	margin-left: 5px;
}
.aside-tags li a {
	padding: 8px 12px;
}


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.container {width:750px}
.main-menu li > a {
	padding: 27px 0;
	font-size: 12px;
	margin-left: 15px;
}
.menu-style2 li > a {
	padding: 27px 0;
	font-size: 12px;
}
.dropdown li a {
	padding: 10px 0;
}
.header-logo {
	padding-top: 18px;
}
.cap-style1 .cap-bold-text h2, .cap-style2 .cap-bold-text h2 {
	font-size: 50px;
}
.widget-inner-text li + li {
	margin-top: 10px;
}
.footer-single-widget {
	margin-bottom: 10px;
	margin-top: 10px;
}
.subscribe-left {
	text-align: center;
}
.subscribe-left.youtube-video {
	margin-top: 50px;
}
.single-counter {
	margin-top: 20px;
	margin-bottom: 20px;
}
.animate-text-title h3 {
	font-size:15px;
}
.cd-headline.clip span {
	font-size: 22px;
	margin-top:18px;
}
.main-menu > li > a {
	padding: 27px 7px;
}
.aside-main-wrapper {
	margin-top: 50px;
}
.blog-pagination.blog-pagination.pagi-style1.pagi-style2 {
	margin-top: 50px;
}
.sidebar-wrapper.both-sidebar-top.sidebar-total {
	margin-bottom: 0;
}
.youtube-video iframe {
	height: 400px;
}
.sidebar-wrapper {
	margin-bottom: 30px;
}
.footer-input-name {
	margin-bottom: 20px;
}
.profile-left {
	margin-bottom: 50px;
}
.subscribe-content {
	margin-top: 30px;
}
.blog-post-wrapper {
	margin-top: 30px;
}
.blog-post-wrapper.blog-post-wrapper2 {
	margin-top:0;
}
.blog-post-wrapper.right-siedlist {
	margin-top: 0;
}
.sidebar-total .aside-tags li + li {
	margin-left: 0px;
}
.sidebar-total .aside-tags li a {
	padding: 5px 5px;
}
.blog-post-wrapper.both-sidebar-blog {
	margin-top: 50px;
	margin-bottom: 50px;
}
.page-blog-area.pt-90.pb-90.both-side-total {
	padding-top: 60px;
}


}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
 
 .mobile-menu-area {
    display: block;
}
.mobile-menu-area {
	margin-top: 20px;
	margin-bottom: 15px;
}
.header-logo {
	text-align: center;
}
.cap-style1 .cap-bold-text h2, .cap-style2 .cap-bold-text h2 {
	font-size: 18px;
}
.cap-style1 .small-text-style1 p, .cap-style2 .small-text-style1 p {
	display: none;
}
.slider-button-wrapper {
	display: none;
}
.nivo-directionNav a {
	font-size: 14px;
}
.head-style1 h2 {
	font-size: 30px;
}
.service-area.pt-90 {
	padding-top: 45px;
}
.service-area {
	padding-bottom: 23px;
}
.subscribe-area.pt-90.pb-90 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.head-style2 h3 {
	font-size: 25px;
}
.time-count {
	font-size: 25px;
}
.cdown p {
	font-size: 20px;
	padding-top: 15px;
}
.time-wrapper {
	width: 100%;
}
.coundown-bg.counterup-pb {
	padding-bottom: 30px;
}
.coundown-bg {
	padding-top: 45px;
}
.course-area.pt-90.pb-90 {
	padding-top: 45px;
	padding-bottom: 45px;
}
.subscribe-left.youtube-video {
	margin-top: 50px;
}
.teatimonial-bg {
	padding-top: 20px;
	padding-bottom: 50px;
}
.teachers-area.pt-90.pb-90 {
	padding-top: 45px;
	padding-bottom: 50px;
}
.section-title {
	margin-bottom: 50px;
}
.single-counter {
	margin-bottom: 50px;
}
.counterup-bg {
	padding-bottom: 30px;
}
.counterup-area {
	margin-bottom: 50px;
}
.section-blog-area.pb-90 {
	padding-bottom: 50px;
}
.footer-main-area {
	padding-top: 50px;
	padding-bottom: 30px;
}
.footer-single-widget {
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer-input-name {
	margin-bottom: 20px;
}
.footer-bottom-text p {
	font-size: 13px;
}
.animate-text-title h3 {
	font-size: 16px;
	margin: 0;
}
.cd-headline.clip span {
	font-size: 11px;
	margin-top:18px;
}
.animate-text-subtitle span {
	display: none;
}
.section-blog-area.section-blog-area3 {
	padding-top: 50px;
}
.mixit-button li + li {
	margin-left: 9px;
}
.mixit-button li {
	font-size: 12px;
}
.gellery-area.pb-90 {
	padding-bottom: 50px;
}
.pricing-area.pt-90 {
	padding-top: 50px;
}
.price-single-box {
	margin-bottom: 50px;
}
.pricing-area {
	padding-bottom: 0;
}
.teachers-area.teachers-area2.pt-90 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.findus-area.pt-90.pb-90 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.single-blog-social li + li {
	margin-right: 14px;
}
.comment-reply-wrap .comment-image {
	margin-right: 20px;
	width: 10%;
}
.comment-reply-wrap .public-text-wrapper {
	width: 82%;
}
.comment-bottom-area input {
	margin-bottom: 20px;
}
.aside-main-wrapper {
	margin-top: 50px;
}
.page-blog-area.pt-90.pb-90 {
	padding-bottom: 50px;
	padding-top: 50px;
}
.page-blog-area.pt-90.pb-90.blog-without-pagi {
	padding-bottom:0;
	padding-top: 50px;
}
.two-column .course-button.blog-read-more{
	float: none;
	margin: 0;
	padding-bottom: 30px;
}
.two-column .posted-by.blog-posted{
	float: none;
	line-height: 17px;
}
.page-blog-area.pt-90.pb-90.left-sidebar {
	padding-bottom: 50px;
	padding-top: 20px;
}
.sidebar-wrapper {
	margin-bottom: 30px;
}

.section-single-blog {
	margin-bottom: 50px;
}
.aside-tags li a {
	padding: 5px 7px;
}
.owl-blog-carousel.pt-90 {
	padding-top: 50px;
	padding-bottom: 0;
}
.blog-comment-readmore.three-column-full.service-read {
	margin-bottom: 50px;
}
.section-blog-area.pt-90.pb-90 {
	padding-top: 0;
	padding-bottom: 0;
}
.teachers-area.team-area.pt-90 {
	padding-top: 50px;
	padding-bottom: 22px;
}
.gellery-area.gallery.page.pb-90.pt-90 {
	padding-top: 50px;
}
.gellery-area.gallery-page.pb-90.pt-90 {
	padding-top: 50px;
	padding-bottom: 20px;
}
.subscribe-right {
	margin-top: 20px;
}
.youtube-video iframe {
	height: 150px;
}
.page-blog-area.single-blog.pt-90.pb-90 {
	padding-bottom: 30px;
}
.profile-left {
	margin-bottom: 50px;
}
.profile-qualify p {
	font-size: 14px;
}
.profile-area.single-propile {
	padding-bottom: 30px;
}
.findus-area.pt-90.pb-60 {
	padding-bottom: 20px;
	padding-top: 50px;
}
.section-blog-area4.pt-90.pb-90 {
	padding-top: 50px;
	padding-bottom: 0;
}
.gellery-area.pt-90 {
	padding-top: 0;
}
.gellery-area {
	padding-bottom: 23px;
}
.blog-post-wrapper {
	margin-top: 30px;
}
.blog-post-wrapper.right-siedlist {
	margin-top: 0;
}
.page-blog-area.pt-90.pb-90.both-side-total {
	padding-top: 20px;
}
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
  .mobile-menu-area {
    display:block;
}
.youtube-video iframe {
	height: 230px;
}
.cd-headline.clip span {
	font-size: 16px;
	margin-top: 18px;
}
.animate-text-title h3 {
	font-size: 20px;
	margin: 0;
}
.active-teachers-owl .single-teachers-box:hover .teachers-social-icon a {
	margin: 0 2px;
}


}
 
