	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/10/2017 06:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-charger-icon:before { content: "\f100"; }
.flaticon-paint-icon:before { content: "\f101"; }
.flaticon-tools-icon:before { content: "\f102"; }
.flaticon-light-icon:before { content: "\f103"; }
.flaticon-door-icon:before { content: "\f104"; }
.flaticon-strategy-icon:before { content: "\f105"; }
.flaticon-pipe-icon:before { content: "\f106"; }
.flaticon-paint-roller:before { content: "\f107"; }
.flaticon-chef-icon:before { content: "\f108"; }
.flaticon-sofa-icon:before { content: "\f109"; }
.flaticon-house-icon:before { content: "\f10a"; }
.flaticon-gear-icon:before { content: "\f10b"; }
.flaticon-paint-brush:before { content: "\f10c"; }
.flaticon-plus-icon:before { content: "\f10d"; }