/* large pc :1920px. */
@media (min-width: 1500px) and (max-width: 2000px) {
.home-area-right {
  padding: 112px 207px 24px 70px;
}

}

/* large desktop :1366px. */
@media (min-width: 1200px) and (max-width: 1500px) {
.slider-wrapper {
  padding: 100px 0;
}
.home-area-right {
  padding: 112px 0 92px 20px;
}
.slider-content h2 {
  font-size: 52px;
  font-weight: 800;
  line-height: 68px;
  margin-bottom: 15px;
}
.slider-content p {
  font-size: 26px;
  line-height: 37px;
}
.slider-content a {
  margin-top: 30px;
}
.contact-2-area {
  background-position: 40% center;
}

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

.home-area-right {
  padding: 112px 20px 17px;
}
.home-section > h3 {
  padding-right: 0;
}

.homes-info {
  padding-right: 0;
}
.md-container {
  width: 100%;
}
.menu-style-1 .main-menu ul li > a {
  padding: 47px 12px;
}
.contact-left-wrapper {
  padding-left: 15px;
}

.slider-wrapper {
  padding: 150px 0;
}
.slider-content h2 {
  font-size: 47px;
  line-height: 54px;
  margin-bottom: 13px;
}
.make-appointment {
  text-align: right;
}
.contact-2-area {
  background-position: 37% center;
  background-size: cover;
}

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.slider-text h2 {
  font-size: 44px;
  line-height: 51px;
}
.contact-left-wrapper {
  padding-left: 0;
}
.action-text > h2 {
  font-size: 43px;
  line-height: 54px;
}
.action-text {
  margin: auto;
  width: 781px;
}
.site-branding::before {
  left: -813px;
}
.site-branding::after {
  display: none;
}
.slider-wrapper {
  padding: 100px 0;
}

.home-area-right {
  padding: 112px 93px 93px 70px;
}
.home-2-m-menu.mean-container a.meanmenu-reveal {
  right: 0;
  left:auto
}
.logo {
  margin-top: 22px;
}
.slider-content > h2 {
  font-size: 58px;
  line-height: 57px;
  margin-bottom: 28px;
}
.slider-content p {
  font-size: 30px;
  line-height: 45px;
}
.slider-content h2 {
  font-size: 49px;
  line-height: 53px;
  margin-bottom: 27px;
}
.slider-content p {
  font-size: 23px;
  line-height: 35px;
}
.make-appointment {
  text-align: right;
}
.mean-container a.meanmenu-reveal {
  margin-top: -60px;
}
.mean-container .mean-nav {
  margin-top: 0;
}
.white-header .mean-container a.meanmenu-reveal, .transparent-header .mean-container a.meanmenu-reveal {
  left: auto;
  right: 0;
}
.white-header .mean-container a.meanmenu-reveal,.transparent-header .mean-container a.meanmenu-reveal {
  margin-top: -37px;
}
.mean-container .mean-nav {
  margin-top: 10px;
}
.white-header {
  padding-bottom: 9px;
}
.home-3 .mean-container a.meanmenu-reveal {
  border: 1px solid #ffffff;
}
.home-3 .mean-container a.meanmenu-reveal span {
  background: #fff;
}
.mean-container a.meanmenu-reveal {
  margin-top: -56px;
}

}

 
/* small mobile :320px. */
@media (max-width: 767px) {
	.offer-wrapper {
  background: none!important;
}
.footer-icon {
  float: none;
  margin-top: 5px;
  text-align: center;
}
.copyright {
  text-align: center;
}
.home-section > h3 {
  font-size: 30px;
  line-height: 41px;
  padding-right: 0;
}
.homes-info {
  padding-right: 0;
}
.slider-text h2 {
  font-size: 35px;
  line-height: 41px;
}
.slider-active:hover .owl-nav div {
  left: 0;
  opacity: 1;
}
.slider-active:hover .owl-nav div.owl-next {
  left: auto;
  right: 0;
}
.slider-active .owl-nav div {
  font-size: 28px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}
.slider-wrapper {
  padding: 150px 0;
}

.contact-left-wrapper {
  padding-left: 0;
}

.project-details-img-wrapper {
  margin-bottom: 10px;
}

.action-text {
  width: 100%;
}
.action-text > h2 {
  font-size: 37px;
  line-height: 45px;
}
.Social-icon > a {
  margin-bottom: 2px;;
}
.img-title > h4 {
  font-size: 20px;
}
.img-title > a {
  margin-left: 11px;
  margin-top: 34px;
}
.blog-quote a blockquote {
  padding: 120px 20px;
}
.home-2-m-menu.mean-container a.meanmenu-reveal {
  margin-top: -39px;
  right: 0;
  left:auto
}
.home-2-m-menu.mean-container .mean-nav {
  margin-top: 8px;
}
.site-branding::before {
  left: 0;
}
.header-logo {
  text-align: center;
}
.site-branding::after {
  display: none;
}
.header-left-icon {
  margin-top: 0;
  padding: 15px;
  text-align: center;
}

.home-area-right {
  padding: 112px 20px 93px;
}
.slider-content {
  width: 100%;
}
.slider-content > h2 {
  font-size: 45px;
  line-height: 52px;
  margin-bottom: 28px;
}
.slider-content p {
  font-size: 24px;
  line-height: 38px;
}
.header-rights {
  float: none;
  text-align: center;
}
.slider-content h2 {
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 25px;
}

.headers-left {
  display: none;
}
.menu-style-1 {
  padding-bottom: 30px;
}
.make-appointment {
  text-align: right;
}
.mean-container a.meanmenu-reveal {
  margin-top: -55px;
}
.mean-container .mean-nav {
  margin-top: 0;
}
.site-branding::before {
  width: 100%;
}
.white-header .mean-container a.meanmenu-reveal,.transparent-header .mean-container a.meanmenu-reveal {
  left: auto;
  right: 0;
}
.white-header .mean-container a.meanmenu-reveal,.transparent-header .mean-container a.meanmenu-reveal {
  margin-top: -37px;
}
.mean-container .mean-nav {
  margin-top: 3px;
}

.p-r {
  padding-right: 15px;
}
.home-3 .mean-container a.meanmenu-reveal {
  border: 1px solid #ffffff;
}
.home-3 .mean-container a.meanmenu-reveal span {
  background: #fff;
}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

 
}
