<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6">    <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Blog Deatils 1 || Liendo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
 		<!-- google font  -->
		<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
        <!-- Favicon
		============================================ -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">       

		<!-- Bootstrap CSS
		============================================ -->      
        <link rel="stylesheet" href="css/bootstrap.min.css">
        
		<!-- owl.carousel CSS
		============================================ -->      
        <link rel="stylesheet" href="css/owl.carousel.css">
        
		<!-- owl.theme CSS
		============================================ -->      
        <link rel="stylesheet" href="css/owl.theme.css">
           	
		<!-- owl.transitions CSS
		============================================ -->      
        <link rel="stylesheet" href="css/owl.transitions.css">
        
		<!-- font-awesome.min CSS
		============================================ -->      
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- Nivo Slider CSS -->
		<link rel="stylesheet" href="css/nivo-slider.css">        
 		<!-- animate CSS
		============================================ -->         
        <link rel="stylesheet" href="css/animate.css">	
        
 		<!-- normalize CSS
		============================================ -->        
        <link rel="stylesheet" href="css/normalize.css">      
        <!-- main CSS
		============================================ -->          
        <link rel="stylesheet" href="css/main.css">
        
        <!-- style CSS
		============================================ -->          
        <link rel="stylesheet" href="style.css">
        
        <!-- responsive CSS
		============================================ -->          
        <link rel="stylesheet" href="css/responsive.css">
        
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="blog-1">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<!-- bolog slide-->
		<div class="blog_slide">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="thankyou"><h2>Thank you for contacting us! <a href="index.html">Go Home</a></h2></div>
					</div>
				</div>
			</div>
		</div>
		<!-- end bolog slide-->
 		<!-- jquery-1.11.3.min js
		============================================ -->         
        <script src="js/vendor/jquery-1.11.3.min.js"></script>              
 		<!-- bootstrap js
		============================================ -->         
        <script src="js/bootstrap.min.js"></script>      
   		<!-- owl.carousel.min js
		============================================ -->       
        <script src="js/owl.carousel.min.js"></script>
	
		<!-- plugins js
		============================================ -->         
        <script src="js/plugins.js"></script>	
        <!-- counterup js
		============================================ -->  		
        <script src="js/jquery.counterup.min.js"></script>
		<script src="js/waypoints.min.js"></script>
		<!-- MixItUp js-->        
		<script src="js/jquery.mixitup.js"></script>
		 <!-- Nivo Slider JS -->
		<script src="js/jquery.nivo.slider.pack.js"></script>       
		<script src="js/jquery.nav.js"></script>           
   		<!-- wow js
		============================================ -->       
        <script src="js/wow.js"></script>
		<!--Activating WOW Animation only for modern browser-->
        <!--[if !IE]><!-->
        <script type="text/javascript">new WOW().init();</script>
        <!--<![endif]-->
		<!-- Add venobox ja -->
		<script type="text/javascript" src="venobox/venobox.min.js"></script>		
   		<!-- main js
		============================================ -->           
        <script src="js/main.js"></script>		
    </body>
</html>
