/*--
    04. Service Css
-------------------------------------*/ 

.single-doing {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    position: relative;
    &::after {
        position: absolute;
        content: "";
        background: $theme-color;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        transition: all 0.3s ease-in-out;
    }
    & a {
        display: block;
        & img {
            width: 100%;
        }
    }
    & .content {
        padding: 25px 20px;
        text-align: center;
        & h4 {
            font-weight: 700;
        }
        a {
            font-family: $heading-font;
            font-weight: 500;
        }
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}
.our-works-active {
    .slick-arrow {
        position: absolute;
        top: -95px;
        background: #5b5b5b;
        border: none;
        height: 50px;
        width: 45px;
        font-size: 20px;
        color: #fff;
        right: 75px;
        @media #{$large-mobile}{
            display: none !important;
        }
        &:hover {
            background: $theme-color;
        }
        &.arrow-next {
            right: 15px;
            left: auto;
        }
    }
}


/*---
    
-----------------------*/

.section-service {
    & .thumb {
        @media #{$large-mobile} {
            margin-bottom: 30px;
        }
    }
}
.service-6 {
    margin-top: 12px;
    .icons {
        border:  1px solid #4e89fb;
        width: 100px;
        height:  100px;
        line-height:  100px;
        border-radius: 100%;
        float: left;
        text-align:  center;
        margin-right: 22px;
        margin-top: 10px;
    }
    .content {
        overflow:  hidden;

        @media #{$small-mobile} {
            text-align: center;
        }
        p {
            font-size:  14px;
            line-height:  25px;
            color:  #5b5b5b;
        }
        h4 {
            color:  #5f5f5f;
            font-size:  24px;
            font-weight:  600;
            margin-bottom: 7px;
            @media #{large-mobile} {
                font-size: 21px;
            }
        }
    }
    &.reapir-service{
        margin-top: 12px;
        .icons {
            border:  0 none;
            width: auto;
            height:  auto;
            line-height:  inherit;
            border-radius: inherit;
            float: left;
            text-align:  center;
            margin-right: 22px;
            margin-top: 10px;
        }
        .content {
            p {
                font-size:  16px;
                line-height:  30px;
                color:  #585757;
                padding-right: 10%;
            }
            h4 {
                color:  #3d3d3d;
            }
        }
    }


    &.bd-service{
        .icons {
            border:  1px solid transparent;
            width: auto;
            height:  50px;
            line-height:  50px;
            border-radius: inherit;
            float: left;
            text-align:  center;
            margin-right: 24px;
            margin-top: 10px;
            padding-right: 17px;
            border-right: 1px solid #5e5e5e;
            i {
                color: #333333;
                font-size: 53px;
                transition: 0.4s ease-in-out;
                &:hover{
                    color: $theme-color;
                }
            }
            @media #{$small-mobile} {
                border: none;
                margin: auto;
                margin-bottom: 0px;
                float: inherit;
            }

            @media #{$small-mobile} {
                margin: auto;
                margin-bottom: 21px;
                float: inherit;
            }
        }
        .content {
            p {
                font-size:  14px;
                line-height:  25px;
                color:  #333333;
            }
            h4 {
                color:  #333333;
                font-size:  22px;
                font-weight:  500;
                margin-bottom: 7px;
                @media #{$large-mobile} {
                    font-size: 21px;
                }
            }
        }
    }
}

/*--
    Service Details
------------------------------*/


.service-details-cont {
    & h4 {
        font-weight: 600;
    }
}
.detest-list {
    & h5 {
        font-weight: 600;
    }
}

.detest-list {
    margin-top: 30px;
    & h5 {
        margin-bottom: 20px;
    }
    & ul {
        & li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            &::after {
                background: $heading-color;
                position: absolute;
                left: 0;
                top: 50%;
                content: '';
                height: 8px;
                width: 8px;
                transform: translate(0,-50%)
            }
        }
    }
}
