
/*--
    - Paginatoin Css
---------------------------------*/

.paginatoin-area {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 15px 0;
    margin-top: 30px;
    & p {
        @media #{$small-mobile , $large-mobile} {
            text-align: center;
            margin-bottom: 8px;
        }
    }
}

.pagination-box {
    display: flex;
    justify-content: flex-end;
    @media #{$small-mobile , $large-mobile} {
        justify-content: center;
    }
    & li {
        display: inline-block;
        &.active a{
            color: $theme-color;
        }
        & a {
            color: #333333;
            display: block;
            padding: 0 8px;
            &:hover {
                color: $theme-color;
            }
            & i {
                font-size: 22px;
                line-height: 30px;
            }
        }
    }
}
