<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Form || XOSS</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">
	
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	
	<!-- css  -->
	<!-- Bootstrap CSS
	============================================ -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<!-- Icon Font CSS
	============================================ -->
	<link rel="stylesheet" href="css/material-design-iconic-font.min.css">
	<!-- Mean Menu CSS
	============================================ -->
	<link rel="stylesheet" href="../css/meanmenu.min.css">
	<!-- Owl Carousel CSS
	============================================ -->
	<link rel="stylesheet" href="../css/owl.carousel.css">
	<!-- Nivo Slider CSS
	============================================ -->
	<link rel="stylesheet" href="../css/nivo-slider.css">
	<!-- Price Slider CSS
	============================================ -->
	<link rel="stylesheet" href="../css/jquery-ui.min.css">
	<!-- Magnific Popup CSS
	============================================ -->
	<link rel="stylesheet" href="../css/magnific-popup.css">
	<!-- Animate CSS
	============================================ -->
	<link rel="stylesheet" href="../css/animate.min.css">
	<!-- Color Switcher CSS
	============================================ -->
	<link rel="stylesheet" href="../css/color-switcher.css">
	<!-- Style CSS
	============================================ -->
	<link rel="stylesheet" href="../style.css">
	<link rel="stylesheet" href="style.css">
	<!-- Default Color CSS
	============================================ -->
	<link rel="stylesheet" href="../css/color.css">
	<!-- Responsive CSS 
	============================================ -->
	<link rel="stylesheet" href="../css/responsive.css">
	<!-- Modernizer JS
	============================================ -->
	<script src="../js/vendor/modernizr-2.8.3.min.js"></script>
	
	<!-- Color Css Files Start -->
    <link rel="alternate stylesheet" type="text/css" href="../switcher/color-one.css" title="color-one" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/color-two.css" title="color-two" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/color-three.css" title="color-three" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/color-four.css" title="color-four" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/color-five.css" title="color-five" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/color-six.css" title="color-six" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/color-seven.css" title="color-seven" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/color-eight.css" title="color-eight" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/color-nine.css" title="color-nine" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/color-ten.css" title="color-ten" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/color-ten.css" title="color-ten" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/pattren1.css" title="pattren1" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/pattren2.css" title="pattren2" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/pattren3.css" title="pattren3" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/pattren4.css" title="pattren4" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/pattren5.css" title="pattren5" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/background1.css" title="background1" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/background2.css" title="background2" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/background3.css" title="background3" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/background4.css" title="background4" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="../switcher/background5.css" title="background5" media="screen" />
    <!-- Color Css Files End -->
</head>
<body>
<!-- Pre Loader
============================================ -->
<div class="preloader">
	<div class="loading-center">
		<div class="loading-center-absolute">
			<div class="object object_one"></div>
			<div class="object object_two"></div>
			<div class="object object_three"></div>
		</div>
	</div>
</div>
<div class="as-mainwrapper">
<!-- Header
============================================ -->
<div class="header">
	<!-- Header Top -->
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-4 header-top-left">
					<!-- Header Language Currency -->
					<ul class="header-lan-cur float-left">
						<!-- Header Language -->
						<li><a href="#">eng <i class="zmdi zmdi-chevron-down"></i></a>
							<ul class="top-sub-menu sub-menu-left">
								<li><a href="#">bengali</a></li>
								<li><a href="#">English</a></li>
								<li><a href="#">french</a></li>
								<li><a href="#">german</a></li>
								<li><a href="#">spanish</a></li>
							</ul>
						</li>
						<!-- Header Currency -->
						<li><a href="#">usd <i class="zmdi zmdi-chevron-down"></i></a>
							<ul class="top-sub-menu sub-menu-left">
								<li><a href="#">usd</a></li>
								<li><a href="#">uero</a></li>
								<li><a href="#">taka</a></li>
								<li><a href="#">pound</a></li>
								<li><a href="#">rupi</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 col-xs-8 header-top-right">
					<!-- Header Mini Cart -->
					<div class="mini-cart float-right">
						<a href="#"><i class="zmdi zmdi-shopping-basket"></i><sub>2</sub></a>
						<!-- Mini Cart Wrapper -->
						<div class="mini-cart-wrapper top-sub-menu sub-menu-right">
							<!-- Product List -->
							<div class="mc-pro-list fix">
								<div class="mc-sin-pro fix">
									<a href="#" class="mc-pro-image float-left"><img src="../img/mini-cart/1.jpg" alt="" /></a>
									<div class="mc-pro-details fix">
										<a href="#">Women’s winter dress</a>
										<span>1x$45.00</span>
										<button class="pro-del"><i class="zmdi zmdi-delete"></i></button>
									</div>
								</div>
								<div class="mc-sin-pro fix">
									<a href="#" class="mc-pro-image float-left"><img src="../img/mini-cart/2.jpg" alt="" /></a>
									<div class="mc-pro-details fix">
										<a href="#">Full sleev women shirt</a>
										<span>1x$85.00</span>
										<button class="pro-del"><i class="zmdi zmdi-delete"></i></button>
									</div>
								</div>
							</div>
							<!-- Sub Total -->
							<div class="mc-subtotal fix">
								<h4>Subtotal <span>$130.00</span></h4>
							</div>
							<!-- Cart Button -->
							<div class="mc-button">
								<a href="#" class="button color-hover small">checkout</a>
							</div>
						</div>
					</div>
					<!-- Header Account Login -->
					<div class="header-account-login float-right">
						<!-- Header Account -->
						<ul class="header-acc float-left">
							<li><a href="#">my account <i class="zmdi zmdi-chevron-down"></i></a>
								<ul class="top-sub-menu sub-menu-right">
									<li><a href="#">my bag</a></li>
									<li><a href="#">checkout</a></li>
									<li><a href="#">wishlist</a></li>
								</ul>
							</li>
						</ul>
						<!-- Header Login -->
						<div class="header-login float-left text-center">
							<a href="#">login <i class="zmdi zmdi-chevron-down"></i></a>
							<div class="header-login-opt top-sub-menu sub-menu-right">
								<h5>login or register</h5>
								<a class="button small" href="#">login</a>
								<span>or</span>
								<a class="button small transparent" href="#">create account</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Header Bottom -->
	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="header-bottom-wrap">
					<!-- Logo -->
					<div class="header-logo col-lg-3 col-md-2">
						<div class="logo"><a href="../index.html"><img src="../img/logo-3.png" alt="logo" /></a></div>
					</div>
					<!-- Main Menu -->
					<div class="main-menu-wrap col-lg-6 col-md-7 hidden-sm hidden-xs">
						<div class="main-menu text-center">
							<nav>
								<ul>
									<li><a href="../index.html">home <i class="zmdi zmdi-chevron-down"></i></a>
										<!-- Sub Menu -->
										<ul class="sub-menu">
											<li><a href="../index.html">home 1</a></li>
											<li><a href="../index-2.html">home 2</a></li>
										</ul>
									</li>
									<li><a href="../shop.html">shop <i class="zmdi zmdi-chevron-down"></i></a>
										<!-- Mega Menu -->
										<div class="mega-menu mm-5-column mm-left">
											<div class="mm-column mm-column-link float-left">
												<h3>men</h3>
												<a href="#">Blazers</a>
												<a href="#">Jackets</a>
												<a href="#">Collections</a>
												<a href="#">T-Shirts</a>
												<a href="#">jens pant’s</a>
												<a href="#">sports shoes</a>
											</div>
											<div class="mm-column mm-column-link float-left">
												<h3>women</h3>
												<a href="#">Cocktail</a>
												<a href="#">Sunglass</a>
												<a href="#">Evening</a>
												<a href="#">Footwear</a>
												<a href="#">Bootees Bags</a>
												<a href="#">Furniture</a>
											</div>
											<div class="mm-column mm-column-link float-left">
												<h3>accessories</h3>
												<a href="#">gagets</a>
												<a href="#">laptop</a>
												<a href="#">mobile</a>
												<a href="#">lifestyle</a>
												<a href="#">jens pant’s</a>
												<a href="#">sports items</a>
											</div>
											<div class="mm-column mm-column-banner float-left">
												<a href="#"><img src="../img/menu-banner/1.jpg" alt="banner" /></a>
												<a href="#"><img src="../img/menu-banner/2.jpg" alt="banner" /></a>
											</div>
										</div>
									</li>
									<li><a href="../shop-grid-left-sidebar.html">men <i class="zmdi zmdi-chevron-down"></i></a>
										<!-- Mega Menu -->
										<div class="mega-menu mm-4-column mm-left">
											<div class="mm-column mm-column-link float-left">
												<h3>women</h3>
												<a href="#">Cocktail</a>
												<a href="#">Sunglass</a>
												<a href="#">Evening</a>
												<a href="#">Footwear</a>
												<a href="#">Bootees Bags</a>
												<a href="#">Furniture</a>
											</div>
											<div class="mm-column mm-column-link float-left">
												<h3>accessories</h3>
												<a href="#">gagets</a>
												<a href="#">laptop</a>
												<a href="#">mobile</a>
												<a href="#">lifestyle</a>
												<a href="#">jens pant’s</a>
												<a href="#">sports items</a>
											</div>
											<div class="mm-column mm-column-banner float-left">
												<a href="#"><img src="../img/menu-banner/1.jpg" alt="banner" /></a>
												<a href="#"><img src="../img/menu-banner/2.jpg" alt="banner" /></a>
											</div>
										</div>
									</li>
									<li><a href="#">shortcode <i class="zmdi zmdi-chevron-down"></i></a>
										<!-- Mega Menu -->
										<div class="mega-menu mega-menu-link-2 mm-right">
											<div class="mm-column mm-column-link float-left">
												<a href="alerts.html">alerts</a>
												<a href="banners.html">banners</a>
												<a href="blog-slider.html">blog slider</a>
												<a href="brand-slider.html">brand slider</a>
												<a href="buttons.html">buttons</a>
											</div>
											<div class="mm-column mm-column-link float-left">
												<a href="collapse.html">collapse</a>
												<a href="form.html">form</a>
												<a href="map.html">map</a>
												<a href="product-slider.html">product slider</a>
												<a href="progress-bar.html">progress bar</a>
											</div>
											<div class="mm-column mm-column-link float-left">
												<a href="service.html">service</a>
												<a href="tab.html">tab</a>
												<a href="team.html">team</a>
												<a href="video.html">video</a>
											</div>
										</div>
									</li>
									<li><a href="#">pages <i class="zmdi zmdi-chevron-down"></i></a>
										<!-- Mega Menu -->
										<div class="mega-menu mega-menu-link mm-right">
											<div class="mm-column mm-column-link float-left">
												<h4>shop pages</h4>
												<a href="../shop.html">shop grid</a>
												<a href="../shop-list.html">shop list</a>
												<a href="../shop-grid-left-sidebar.html">shop grid left sidebar</a>
												<a href="../shop-grid-right-sidebar.html">shop grid right sidebar</a>
												<a href="../shop-list-left-sidebar.html">shop list left sidebar</a>
												<a href="../shop-list-right-sidebar.html">shop list right sidebar</a>
											</div>
											<div class="mm-column mm-column-link float-left">
												<h4>shop pages</h4>
												<a href="../cart.html">cart</a>
												<a href="../checkout.html">check out</a>
												<a href="../product-details.html">product details</a>
												<a href="../product-details-left-sidebar.html">product details left sidebar</a>
												<a href="../product-details-right-sidebar.html">product details right sidebar</a>
												<a href="../wishlist.html">wishlist</a>
											</div>
											<div class="mm-column mm-column-link float-left">
												<h4>blog pages</h4>
												<a href="../blog.html">blog</a>
												<a href="../blog-left-sidebar.html">blog left sidebar</a>
												<a href="../blog-right-sidebar.html">blog right sidebar</a>
												<a href="../blog-details.html">blog details</a>
											</div>
											<div class="mm-column mm-column-link float-left">
												<h4>other pages</h4>
												<a href="../about-us.html">about us</a>
												<a href="../contact.html">contact</a>
												<a href="../coming-soon.html">coming soon</a>
												<a href="../404.html">404</a>
											</div>
										</div>
									</li>
									<li><a href="../contact.html">contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- Mobile Menu -->
					<div class="mobile-menu text-center hidden-lg hidden-md">
						<nav>
							<ul>
								<li><a href="../index.html">home</a>
									<ul>
										<li><a href="../index.html">home 1</a></li>
										<li><a href="../index-2.html">home 2</a></li>
									</ul>
								</li>
								<li><a href="../shop.html">shop</a>
									<ul>
										<li><a href="#">men</a>
											<ul>
												<li><a href="#">Blazers</a></li>
												<li><a href="#">Jackets</a></li>
												<li><a href="#">Collections</a></li>
												<li><a href="#">T-Shirts</a></li>
												<li><a href="#">jens pant’s</a></li>
												<li><a href="#">sports shoes</a></li>
											</ul>
										</li>
										<li><a href="#">women</a>
											<ul>
												<li><a href="#">Cocktail</a></li>
												<li><a href="#">Sunglass</a></li>
												<li><a href="#">Evening</a></li>
												<li><a href="#">Footwear</a></li>
												<li><a href="#">Bootees Bags</a></li>
												<li><a href="#">Furniture</a></li>
											</ul>
										</li>
										<li><a href="#">accessories</a>
											<ul>
												<li><a href="#">gagets</a></li>
												<li><a href="#">laptop</a></li>
												<li><a href="#">mobile</a></li>
												<li><a href="#">lifestyle</a></li>
												<li><a href="#">jens pant’s</a></li>
												<li><a href="#">sports items</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="../shop-grid-left-sidebar.html">men</a>
									<ul>
										<li><a href="#">women</a>
											<ul>
												<li><a href="#">Cocktail</a></li>
												<li><a href="#">Sunglass</a></li>
												<li><a href="#">Evening</a></li>
												<li><a href="#">Footwear</a></li>
												<li><a href="#">Bootees Bags</a></li>
												<li><a href="#">Furniture</a></li>
											</ul>
										</li>
										<li><a href="#">accessories</a>
											<ul>
												<li><a href="#">gagets</a></li>
												<li><a href="#">laptop</a></li>
												<li><a href="#">mobile</a></li>
												<li><a href="#">lifestyle</a></li>
												<li><a href="#">jens pant’s</a></li>
												<li><a href="#">sports items</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="#">shortcode</a>
									<!-- Sub Menu -->
									<ul>
										<li><a href="alerts.html">alerts</a></li>
										<li><a href="banners.html">banners</a></li>
										<li><a href="blog-slider.html">blog slider</a></li>
										<li><a href="brand-slider.html">brand slider</a></li>
										<li><a href="buttons.html">buttons</a></li>
										<li><a href="collapse.html">collapse</a></li>
										<li><a href="form.html">form</a></li>
										<li><a href="map.html">map</a></li>
										<li><a href="product-slider.html">product slider</a></li>
										<li><a href="progress-bar.html">progress bar</a></li>
										<li><a href="service.html">service</a></li>
										<li><a href="tab.html">tab</a></li>
										<li><a href="team.html">team</a></li>
										<li><a href="video.html">video</a></li>
									</ul>
								</li>
								<li><a href="#">pages</a>
									<!-- Sub Menu -->
									<ul>
										<li><a href="../about-us.html">about us</a></li>
										<li><a href="../blog.html">blog</a></li>
										<li><a href="../blog-left-sidebar.html">blog left sidebar</a></li>
										<li><a href="../blog-right-sidebar.html">blog right sidebar</a></li>
										<li><a href="../blog-details.html">blog details</a></li>
										<li><a href="../contact.html">contact</a></li>
										<li><a href="../cart.html">cart</a></li>
										<li><a href="../checkout.html">check out</a></li>
										<li><a href="../product-details.html">product details</a></li>
										<li><a href="../product-details-left-sidebar.html">product details left sidebar</a></li>
										<li><a href="../product-details-right-sidebar.html">product details right sidebar</a></li>
										<li><a href="../shop.html">shop grid</a></li>
										<li><a href="../shop-list.html">shop list</a></li>
										<li><a href="../shop-grid-left-sidebar.html">shop grid left sidebar</a></li>
										<li><a href="../shop-grid-right-sidebar.html">shop grid right sidebar</a></li>
										<li><a href="../shop-list-left-sidebar.html">shop list left sidebar</a></li>
										<li><a href="../shop-list-right-sidebar.html">shop list right sidebar</a></li>
										<li><a href="../wishlist.html">wishlist</a></li>
										<li><a href="../coming-soon.html">coming soon</a></li>
										<li><a href="../404.html">404</a></li>
									</ul>
								</li>
								<li><a href="../contact.html">contact</a></li>
							</ul>
						</nav>
					</div>
					<!-- Header Search -->
					<div class="header-search col-lg-3 col-md-3">
						<form action="#">
							<input type="text" placeholder="search" />
							<button><i class="zmdi zmdi-search"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-content-wrapper">
<!-- Page Breadcrumb Area
============================================ -->
<div class="page-breadcrumb bg-off-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumbs">
					<li><a href="#">home</a></li>
					<li><a href="#">shortcode</a></li>
					<li><span>form</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Team Area
============================================ -->
<div class="button-area bg-off-white padding-90">
	<div class="container">
		<div class="row">
			<!-- Section Title -->
			<div class="section-title col-xs-12 text-center"><h1>form</h1></div>
			<ul class="shortcode-tab-list">
				<li class="active"><a href="#preview" data-toggle="tab">preview</a></li>
				<li><a href="#html" data-toggle="tab">html</a></li>
				<li><a href="#css" data-toggle="tab">css</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="preview">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<h3 class="sc-sub-title">Style 1</h3>
							<form action="../mail.php">
								<div class="input-box transparent"><input type="text" placeholder="Name*" name="name"></div>
								<div class="input-box transparent"><input type="text" placeholder="Email*" name="email"></div>
								<div class="input-box transparent"><input type="text" placeholder="Subject" name="subject"></div>
								<div class="input-box transparent"><textarea name="message" placeholder="Message"></textarea></div>
								<div class="input-box submit-box width-full"><input type="submit" class="button large" value="send"></div>
							</form>
						</div>
						<div class="col-md-6 col-xs-12">
							<h3 class="sc-sub-title">Style 2</h3>
							<form action="../mail.php">
								<div class="input-box">
									<label for="name">Name*</label>
									<input type="text" name="name" id="name">
								</div>
								<div class="input-box">
									<label for="email">Email*</label>
									<input type="text" name="email" id="email">
								</div>
								<div class="input-box">
									<label for="subject">Subject</label>
									<input type="text" name="subject" id="subject">
								</div>
								<div class="input-box">
									<label for="message">Message</label>
									<textarea name="message" id="message"></textarea>
								</div>
								<div class="input-box submit-box width-full">
									<input type="submit" class="button large" value="send">
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="html">
					<div class="col-xs-12">
<figure class="highlight">
	<pre>
		<code data-lang="html" class="language-html">
&lt;h3 class="sc-sub-title"&gt;Style 1&lt;/h3&gt;
&lt;form action="../mail.php"&gt;
  &lt;div class="input-box transparent"&gt;&lt;input type="text" placeholder="Name*" name="name"&gt;&lt;/div&gt;
  &lt;div class="input-box transparent"&gt;&lt;input type="text" placeholder="Email*" name="email"&gt;&lt;/div&gt;
  &lt;div class="input-box transparent"&gt;&lt;input type="text" placeholder="Subject" name="subject"&gt;&lt;/div&gt;
  &lt;div class="input-box transparent"&gt;&lt;textarea name="message" placeholder="Message"&gt;&lt;/textarea&gt;&lt;/div&gt;
  &lt;div class="input-box submit-box width-full"&gt;&lt;input type="submit" class="button large" value="send"&gt;&lt;/div&gt;
&lt;/form&gt;

&lt;h3 class="sc-sub-title"&gt;Style 2&lt;/h3&gt;
&lt;form action="../mail.php"&gt;
  &lt;div class="input-box"&gt;
   &lt;label for="name"&gt;Name*&lt;/label&gt;
   &lt;input type="text" name="name" id="name"&gt;
  &lt;/div&gt;
  &lt;div class="input-box"&gt;
   &lt;label for="email"&gt;Email*&lt;/label&gt;
   &lt;input type="text" name="email" id="email"&gt;
  &lt;/div&gt;
  &lt;div class="input-box"&gt;
   &lt;label for="subject"&gt;Subject&lt;/label&gt;
   &lt;input type="text" name="subject" id="subject"&gt;
  &lt;/div&gt;
  &lt;div class="input-box"&gt;
    &lt;label for="message"&gt;Message&lt;/label&gt;
    &lt;textarea name="message" id="message"&gt;&lt;/textarea&gt;
  &lt;/div&gt;
  &lt;div class="input-box submit-box width-full"&gt;
    &lt;input type="submit" class="button large" value="send"&gt;
  &lt;/div&gt;
&lt;/form&gt;
		</code>
	</pre>
</figure>
					</div>
				</div>
				<div class="tab-pane" id="css">
					<div class="col-xs-12">
<figure class="highlight">
	<pre>
		<code data-lang="css" class="language-css">
/* Form Input */
.input-box {
  float: left;
  margin-bottom: 18px;
  width: 100%;
}
.input-box:last-child {
  margin-bottom: 0;
}
.input-box-2 {
  margin-left: -15px;
  margin-right: -15px;
}
.input-box-2 .input-box {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}
.input-box-2 .input-box:last-child {
  margin-bottom: 18px;
}
.input-box label {
  color: #303030;
  display: block;
  font-weight: 500;
  line-height: 12px;
  margin-bottom: 10px;
  text-align: left;
}
.input-box input, .input-box textarea, .input-box select {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  color: #909090;
  font-size: 12px;
  font-weight: 300;
  height: 44px;
  padding: 5px 12px;
  text-align: left;
  width: 100%;
}
.input-box select {
  appearance: none;
  -moz-appearance: none;
  background: #fff url("img/icon/select-arrow.png") no-repeat scroll right center;
  font-size: 14px;
}
.input-box.transparent input, .input-box.transparent textarea , .input-box.transparent select {
  background-color: transparent;
}
.input-box textarea {
  min-height: 106px;
}
.input-box input:focus, .input-box textarea:focus {
  color: #303030;
}
.submit-box {
  width: auto;
}
.submit-box input {
  border: medium none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 37px;
  padding: 0 36px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
.submit-box.width-full {
  width: 100%;
}
.submit-box.width-full input {
  width: 100%;
}
.submit-box input:hover {
  background: #303030 none repeat scroll 0 0;
  color: #fff;
}
		</code>
	</pre>
</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Brand Area
============================================ -->
<div class="brand-area">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="brand-slider">
					<div class="sin-brand"><img src="../img/brands/1.png" alt="" /></div>
					<div class="sin-brand"><img src="../img/brands/2.png" alt="" /></div>
					<div class="sin-brand"><img src="../img/brands/3.png" alt="" /></div>
					<div class="sin-brand"><img src="../img/brands/4.png" alt="" /></div>
					<div class="sin-brand"><img src="../img/brands/5.png" alt="" /></div>
					<div class="sin-brand"><img src="../img/brands/6.png" alt="" /></div>
					<div class="sin-brand"><img src="../img/brands/7.png" alt="" /></div>
					<div class="sin-brand"><img src="../img/brands/8.png" alt="" /></div>
					<div class="sin-brand"><img src="../img/brands/9.png" alt="" /></div>
					<div class="sin-brand"><img src="../img/brands/10.png" alt="" /></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer Top Area
============================================ -->
<div class="footer-top bg-off-white padding-top-80 padding-bottom-90">
	<div class="container">
		<div class="row">
			<!-- Footer Address -->
			<div class="sin-footer footer-address col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="footer-logo"><img src="../img/logo-2.png" alt="logo" /></div>
				<p><span>ADDRESS:</span> 28 Green Tower, Street Name New York City, USA</p>
				<p><span>Telephone:</span> +88017 222 333</p>
				<p><span>Email:</span> contact@shopieee.com</p>
				<div class="footer-social">
					<a class="facebook" href="#"><i class="zmdi zmdi-facebook"></i></a>
					<a class="twitter" href="#"><i class="zmdi zmdi-twitter"></i></a>
					<a class="vimeo" href="#"><i class="zmdi zmdi-vimeo"></i></a>
					<a class="google-plus" href="#"><i class="zmdi zmdi-google-plus"></i></a>
					<a class="tumblr" href="#"><i class="zmdi zmdi-tumblr"></i></a>
					<a class="pinterest" href="#"><i class="zmdi zmdi-pinterest"></i></a>
				</div>
			</div>
			<!-- Footer Service -->
			<div class="sin-footer footer-service footer-link col-lg-3 col-md-2 col-sm-6 col-xs-12">
				<h3>services</h3>
				<ul>
					<li><a href="#">About us</a></li>
					<li><a href="#">Return Policy</a></li>
					<li><a href="#">Our Blog</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Terms & Condition</a></li>
				</ul>
			</div>
			<!-- Footer Account -->
			<div class="sin-footer footer-account footer-link col-lg-3 col-md-2 col-sm-6 col-xs-12">
				<h3>account</h3>
				<ul>
					<li><a href="#">Your Account</a></li>
					<li><a href="#">Checkout</a></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Register</a></li>
				</ul>
			</div>
			<!-- Footer Newsletter -->
			<div class="sin-footer footer-newsletter col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<h3>newsletter</h3>
				<p>Subscribe by our newsletter and get update protidin.</p>
				<form id="mc-form" class="mc-form footer-newsletter">
					<input id="mc-email" type="email" autocomplete="off" placeholder="Email Address">
					<input id="mc-submit" type="submit" value="subscribe" />
				</form>
				<!-- mailchimp-alerts Start -->
				<div class="mailchimp-alerts text-centre">
					<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
					<div class="mailchimp-success"></div><!-- mailchimp-success end -->
					<div class="mailchimp-error"></div><!-- mailchimp-error end -->
				</div><!-- mailchimp-alerts end -->
			</div>
		</div>
	</div>
</div>
<!-- Footer Bottom Area
============================================ -->
<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<!-- Copyright -->
			<div class="copyright col-sm-6 col-xs-12 text-left">
				<p>2016 ® All Rights Reserved - <a href="www.bootexperts.com">BootExperts</a> Responsive Theme </p>
			</div>
			<!-- Payment Method -->
			<div class="payment-method col-sm-6 col-xs-12 text-right">
				<img src="../img/payment-method.png" alt="" />
			</div>
		</div>
	</div>
</div>
</div>
</div>

<!-- Color Switcher -->
<div class="ec-colorswitcher">
	<a class="ec-handle" href="#"><i class="zmdi zmdi-settings"></i></a>
	<h3>Style Switcher</h3>
	<div class="ec-switcherarea">
		<h6>Select Layout</h6>
		<div class="layout-btn">
			<a href="#" class="ec-boxed"><span>Boxed</span></a>
			<a href="#" class="ec-wide"><span>Wide</span></a>
		</div>
		<h6>Chose Color</h6>
		<ul class="ec-switcher">
			<li><a href="#" data-rel="color-one" class="styleswitch" style=" background: #f05a66; "></a></li>
			<li><a href="#" data-rel="color-two" class="styleswitch" style="background: #41c3ac;"></a></li>
			<li><a href="#" data-rel="color-three" class="styleswitch" style="background: #AF4D32;"></a></li>
			<li><a href="#" data-rel="color-four" class="styleswitch" style="background: #1abc9c;"></a></li>
			<li><a href="#" data-rel="color-five" class="styleswitch" style="background: #3498db;"></a></li>
			<li><a href="#" data-rel="color-six" class="styleswitch" style="background: #9b59b6;"></a></li>
			<li><a href="#" data-rel="color-seven" class="styleswitch" style="background: #34495e;"></a></li>
			<li><a href="#" data-rel="color-eight" class="styleswitch" style="background: #e67e22;"></a></li>
			<li><a href="#" data-rel="color-nine" class="styleswitch" style="background: #c0392b;"></a></li>
			<li><a href="#" data-rel="color-ten" class="styleswitch" style="background: #336E7B;"></a></li>
		</ul>
		<div class="ec-pattren">
			<h6>Chose Pattren</h6>
			<div class="pattren-wrap">
				<a href="#" data-rel="pattren1" class="styleswitch"><img src="../img/ec-pattren/pattren1.jpg" alt=""></a>
				<a href="#" data-rel="pattren2" class="styleswitch"><img src="../img/ec-pattren/pattren2.jpg" alt=""></a>
				<a href="#" data-rel="pattren3" class="styleswitch"><img src="../img/ec-pattren/pattren3.jpg" alt=""></a>
				<a href="#" data-rel="pattren4" class="styleswitch"><img src="../img/ec-pattren/pattren4.jpg" alt=""></a>
				<a href="#" data-rel="pattren5" class="styleswitch"><img src="../img/ec-pattren/pattren5.jpg" alt=""></a>
			</div>
		</div>
		<div class="ec-background">
			<h6>Chose Background</h6>
			<div class="background-wrap">
				<a href="#" data-rel="background1" class="styleswitch"><img src="../img/ec-background/bg-1.jpg" alt=""></a>
				<a href="#" data-rel="background2" class="styleswitch"><img src="../img/ec-background/bg-2.jpg" alt=""></a>
				<a href="#" data-rel="background3" class="styleswitch"><img src="../img/ec-background/bg-3.jpg" alt=""></a>
				<a href="#" data-rel="background4" class="styleswitch"><img src="../img/ec-background/bg-4.jpg" alt=""></a>
				<a href="#" data-rel="background5" class="styleswitch"><img src="../img/ec-background/bg-5.jpg" alt=""></a>
			</div>
		</div>
	</div>
</div>
<!-- Color Switcher end -->	



<!-- JS -->

<!-- jQuery JS
============================================ -->
<script src="../js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap JS
============================================ -->
<script src="../js/bootstrap.min.js"></script>
<!-- Nivo Slider JS
============================================ -->
<script src="../js/jquery.nivo.slider.pack.js"></script>
<!-- Mean Menu JS
============================================ -->
<script src="../js/jquery.meanmenu.min.js"></script>
<!-- Owl Carousel JS
============================================ -->
<script src="../js/owl.carousel.min.js"></script>
<!-- Count Down JS
============================================ -->
<script src="../js/jquery.countdown.min.js"></script>
<!-- ScrollUP JS
============================================ -->
<script src="../js/jquery.scrollup.min.js"></script>
<!-- TreeView JS
============================================ -->
<script src="../js/jquery.treeview.js"></script>
<!-- Price Slider JS
============================================ -->
<script src="../js/jquery-ui.min.js"></script>
<!-- simpleLens JS
============================================ -->
<script src="../js/jquery.elevateZoom-3.0.8.min.js"></script>
<!-- Magnific Popup JS
============================================ -->
<script src="../js/jquery.magnific-popup.min.js"></script>
<!-- Nice Scroll JS
============================================ -->
<script src="../js/jquery.nicescroll.min.js"></script>
<!-- ajaxchimp JS
============================================ -->
<script src="../js/jquery.ajaxchimp.min.js"></script>
<!-- WOW JS
============================================ -->
<script src="../js/wow.min.js"></script>
<script>
	new WOW().init();
</script>	
<!-- Main JS
============================================ -->
<script src="../js/styleswitch.js"></script>
<script src="../js/main.js"></script>

</body>
</html>
