.shortcode-tab-list {
  margin-bottom: 30px;
  width: 100%;
  float: left;
}
.shortcode-tab-list li {
  display: block;
  float: left;
  margin-right: 15px;
}
.shortcode-tab-list li a {
  border: 1px solid #ddd;
  display: block;
  padding: 6px 20px;
  text-transform: uppercase;
}
.shortcode-tab-list li.active a {
  border-color: #f05a66;
  color: #f05a66;
}
.tab-content {
  width: 100%;
  float: left;
}
figure pre {
  padding: 10px 30px;
}
.sc-sub-title {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
  text-align: left;
  text-transform: uppercase;
}
.margin-bottom-30 {
   margin-bottom: 30px;
}
.button {
  margin-bottom: 10px;
}
.button:last-child {
  margin-bottom: 0;
}