// main: style.scss
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: $text-color;
  font-family: $text-font;
}

a {
  color: $accent-color;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: lighten($accent-color, 0.2%);
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: $accent-color;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right:15px;
  bottom: 15px;
  transition: background 0.5s;

  @media (max-width: 768px){
   bottom: 15px;
  }

  &:focus {
    background: $accent-color;
    color: #fff;
    outline: none;
  }

  &:hover {
    background: $secondary-color;
    color: #fff;
  }
}
