// main: style.scss
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/
.section-header {
  margin-bottom: 30px;

  h2 {
    font-size: 32px;
    color: $secondary-color;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: $accent-color;
      bottom: 0;
      left: 0;
    }
  }

  p {
    padding: 0;
    margin: 0;
  }

}


/* About Section
--------------------------------*/
#about {
  padding: 60px 0 30px 0;

  .about-img  {
    overflow: hidden;
    img {
      margin-left: -15px;
      max-width: 100%;
    }

    @media (max-width: 768px) {
      height: auto;
      img {
        margin-left: 0;
        padding-bottom: 30px;
      }
    }
  }

  .content {
    h2 {
      color: $secondary-color;
      font-weight: 700;
      font-size: 36px;
      font-family: $accent-font;
    }

    h3 {
      color: #555;
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      font-style: italic;
    }

    p {
      line-height: 26px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    i {
      font-size: 20px;
      padding-right: 4px;
      color: $accent-color;
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        padding-bottom: 10px;
      }
    }
  }

}


/* Services Section
--------------------------------*/
#services {
  padding: 30px 0 0 0;

  .box {
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: 0.4s;

    &:hover {
      box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
    }

    .icon {
      float: left;
      i {
        color: $text-color;
        font-size: 64px;
        transition: 0.5s;
        line-height: 0;
        margin-top: 34px;
        &:before {
          background: $secondary-color;
          background: linear-gradient(45deg, $accent-color 0%, lighten($accent-color, 20%) 100%);
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    h4 {
      margin-left: 100px;
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 22px;
      a {
        color:#444;
      }

    }

    p {
      font-size: 14px;
      margin-left: 100px;
      margin-bottom: 0;
      line-height: 24px;
    }

    @media (max-width: 767px) {
      .box {
        margin-bottom: 20px;
      }
      .icon {
        float: none;
        text-align: center;
        padding-bottom: 15px;
      }

      h4, p  {
        margin-left: 0;
        text-align: center;
      }
    }
  }
}

/* Clients Section
--------------------------------*/
#clients {
  padding: 30px 0;

  img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
    &:hover {
      opacity: 1;
    }
  }

  .owl-nav, .owl-dots {
    margin-top: 5px;
    text-align: center;
  }

  .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }

  .owl-dot.active {
    background-color: $accent-color;
  }
}

/* Our Portfolio Section
--------------------------------*/
#portfolio {
  background: #fff;
  padding: 30px 0;

  .portfolio-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .portfolio-item {
    overflow: hidden;
    position: relative;
    padding: 0;
    vertical-align: middle;
    text-align: center;

    h2 {
      color: #ffffff;
      font-size: 24px;
      margin: 0;
      text-transform: capitalize;
      font-weight: 700;
    }

    img {
      -webkit-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s;
      width: 100%;
    }

    &:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    &:hover .portfolio-overlay {
      opacity: 1;
      background: rgba(0, 0, 0, 0.7);
    }

  }

  .portfolio-info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

}


/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 30px 0;


  .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 0 30px;
    margin: 30px 15px;
    text-align: center;
    min-height: 350px;
    box-shadow: 0px 2px 12px rgba(0,0,0,.08);

    @media (max-width: 767px ) {
      margin: 30px 10px;
    }

    .testimonial-img {
      width: 90px;
      border-radius: 50%;
      border: 4px solid #fff;
      margin: 0 auto;
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 5px 0;
      color: #111;
    }

    h4 {
      font-size: 14px;
      color: #999;
      margin:0;
    }

    .quote-sign-left {
      margin-top: -15px;
      padding-right: 10px;
      display: inline-block;
      width: 37px;
    }

    .quote-sign-right {
      margin-bottom: -15px;
      padding-left: 10px;
      display: inline-block;
      max-width: 100%;
      width: 37px;
    }

    p {
      font-style: italic;
      margin: 0 auto 15px auto;
    }

  }

  .owl-nav, .owl-dots {
    margin-top: 5px;
    text-align: center;
  }

  .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }

  .owl-dot.active {
    background-color: $accent-color;
  }
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: darken($secondary-color, 10%);
  background-size: cover;
  padding:  40px 0;

  .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  .cta-text {
    color: #fff;
  }

  .cta-btn-container {
    @media (min-width: 769px) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .cta-btn {
    font-family: $heading-font;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 10px;
    border: 3px solid #fff;
    color: #fff;
    &:hover {
      background: $accent-color;
      border: 3px solid $accent-color;
    }
  }
}

/* Our Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 30px 0 0 0;

  .member {
    text-align: center;
    margin-bottom: 20px;

    .pic {
      overflow: hidden;
      text-align: center;

      img {
        max-width: 100%;
      }

    }

    .details {
      background: $accent-color;
      color: #fff;
      padding: 15px;
      border-radius: 0 0 3px 3px;
    }

    h4 {
      font-weight: 700;
      margin-bottom: 2px;
      font-size: 18px;
    }

    span {
      font-style: italic;
      display: block;
      font-size: 13px;
    }

    .social {
      margin-top: 5px;
      a {
        color: #fff;

      }

      i {
        font-size: 16px;
        margin: 0 2px;
      }
    }
  }
}

/* Contact Section
--------------------------------*/
#contact {
  padding: 30px 0;

  .contact-info {
    margin-bottom: 20px;
    text-align: center;
    i {
      font-size: 48px;
      display: inline-block;
      margin-bottom: 10px;
      color: $accent-color;
    }

    address, p {
      margin-bottom: 0;
      color: #000;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 15px;
      font-weight: bold;
      text-transform: uppercase;
      color: #999;
    }

    a {
      color: #000;
      &:hover {
        color: $accent-color;
      }
    }
  }

  .contact-address, .contact-phone, .contact-email {
    margin-bottom: 20px;
    @media (min-width: 768px) {
      padding: 20px 0;
    }
  }

  @media (min-width: 768px) {
    .contact-phone {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }

  #google-map {
    height: 290px;
    margin-bottom: 20px;
    @media (max-width: 576px ) {
      margin-top: 20px;
    }
  }

  .form {

    #sendmessage {
      color: $accent-color;
      border:1px solid $accent-color;
      display:none;
      text-align:center;
      padding:15px;
      font-weight:600;
      margin-bottom:15px;
    }

    #errormessage {
      color: red;
      display:none;
      border:1px solid red;
      text-align:center;
      padding:15px;
      font-weight:600;
      margin-bottom:15px;
    }

    #sendmessage.show, #errormessage.show, .show {
      display:block;
    }

    .validation {
      color: red;
      display:none;
      margin: 0 0 20px;
      font-weight:400;
      font-size:13px;
    }

    input, textarea {
      padding: 10px 14px;
      border-radius: 0;
      box-shadow: none;
      font-size: 15px;
    }

    button[type="submit"] {
      background: $accent-color;
      border: 0;
      border-radius: 3px;
      padding: 10px 30px;
      color: #fff;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        background: darken($accent-color, 10%);
      }
    }
  }
}
