// main: style.scss
/// Default color variables

$accent-color: #50d8af;
$secondary-color: #0c2e8a;
$heading-color: #222;
$text-color: #444;

/// Fonts Variables
$accent-font: 'Raleway', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
