<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Erctor | Contact us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="img/apple-touch-icon.png" type="images/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!--Header section start-->
    <header class="header">
        <div class="header-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 hidden-md hidden-lg col-xs-12">
                        <div class="logo">
                            <a href="#"><img src="img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-12 hidden-sm hidden-xs">
                        <div class="menu">
                            <nav>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About us</a></li>
                                    <li><a href="#">pages</a>
                                        <ul class="dropdown_menu">
                                            <li><a href="about-us.html">About us</a></li>
                                            <li><a href="project.html">project</a></li>
                                            <li><a href="services.html">services</a></li>
                                            <li><a href="testimonial.html">testimonial</a></li>
                                            <li><a href="our-team.html">our team</a></li>
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a href="blog-details.html">blog details</a></li>
                                            <li><a href="contact-us.html">contact us</a></li>
                                            <li><a href="404.html">404 page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="project.html">Projects</a></li>
                                    <li class="logo"><a href="index.html"><img src="img/logo/logo.png" alt=""></a></li>
                                    <li><a href="our-team.html">Team</a></li>
                                    <li><a href="testimonial.html">Testimonial</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile menu start -->
            <div class="mobile-menu-area hidden-lg hidden-md">
                <div class="container">
                    <div class="col-md-12">
                        <nav id="dropdown">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="#">pages</a>
                                    <ul class="dropdown_menu">
                                        <li><a href="about-us.html">About us</a></li>
                                        <li><a href="project.html">project</a></li>
                                        <li><a href="services.html">services</a></li>
                                        <li><a href="testimonial.html">testimonial</a></li>
                                        <li><a href="our-team.html">our team</a></li>
                                        <li><a href="blog.html">blog</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                        <li><a href="contact-us.html">contact us</a></li>
                                        <li><a href="404.html">404 page</a></li>
                                    </ul>
                                </li>
                                <li><a href="project.html">Projects</a></li>
                                <li><a href="our-team.html">Team</a></li>
                                <li><a href="testimonial.html">Testimonial</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Mobile menu end -->
        </div>
    </header>
    <!--Header section end-->
    <!--Breadcrumbs start -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs-inner">
                        <div class="breadcrumbs-title text-center">
                            <h2>Contact us</h2>
                        </div>
                        <div class="breadcrumbs-menu">
                            <ul>
                                <li><a href="#">home</a></li>
                                <li>//  Contact us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumbs end-->
    <!--Contact us pages start-->
    <div class="contact-pages ptb-110">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="contact_form">
                        <div class="contact-form-title">
                            <h3>LEAVE A MESSAGE</h3>
                        </div>
                        <div class="contact-form-inner">
                            <form id="contact-form" action="mail.php" method="post">
                                <p class="form-messege"></p>
                                <div class="contact_form-top">
                                    <div class="input-field">
                                        <input name="name" type="text" placeholder="Name">
                                        <span>*</span>
                                    </div>
                                    <div class="input-field">
                                        <input name="subject" type="text" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="contact_form-middle">
                                    <div class="input-field">
                                        <input name="email" type="text" placeholder="Email">
                                        <span>*</span>
                                    </div>
                                    <div class="input-field">
                                        <input name="phone" type="text" placeholder="Phone">
                                    </div>
                                </div>
                                
                                <div class="contact-form-bottom">
                                    <textarea name="message" placeholder="Message"></textarea>
                                    <div class="form-submite">
                                        <button type="submit">Send message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <div class="get-informed">
                        <div class="contact-form-title">
                            <h3>GET INFORMED</h3>
                        </div>
                        <div class="single-infromed-list">
                            <div class="single-infromed  fix">
                                <div class="inform-img">
                                    <img src="img/contact/1.jpg" alt="">
                                </div>
                                <div class="inform-details">
                                    <div class="inform-title">
                                        <h2>sam smith</h2>
                                        <p>manager of erctor</p>
                                    </div>
                                    <div class="inform-info">
                                        <ul>
                                            <li><i class="zmdi zmdi-phone-in-talk"></i>Phone : +061012345678</li>
                                            <li><i class="zmdi zmdi-email"></i>hastech@outlook.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-infromed  fix">
                                <div class="inform-img">
                                    <img src="img/contact/2.jpg" alt="">
                                </div>
                                <div class="inform-details">
                                    <div class="inform-title">
                                        <h2>anika mollik</h2>
                                        <p>CEo of erctor</p>
                                    </div>
                                    <div class="inform-info">
                                        <ul>
                                            <li><i class="zmdi zmdi-phone-in-talk"></i>Phone : +061012345678</li>
                                            <li><i class="zmdi zmdi-email"></i>hastech@outlook.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-infromed  fix">
                                <div class="inform-img">
                                    <img src="img/contact/3.jpg" alt="">
                                </div>
                                <div class="inform-details">
                                    <div class="inform-title">
                                        <h2>designer of erctor</h2>
                                        <p>manager of erctor</p>
                                    </div>
                                    <div class="inform-info">
                                        <ul>
                                            <li><i class="zmdi zmdi-phone-in-talk"></i>Phone : +061012345678</li>
                                            <li><i class="zmdi zmdi-email"></i>hastech@outlook.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact us pages end-->
    <!--Map area start-->
    <div class="map-area fix">
        <div class="map-area-inner">
            <div id="contact-map" class="map-area">
                <div id="googleMap" style="width:100%;height:605px;"></div>
            </div> 
        </div>
        <div class="map-img">
            <img src="img/contact/map.jpg" alt="">
        </div>
    </div>
    <!--Map area end-->

    <!--Brand section start-->
    <div class="brand-section ptb-110">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-list">
                        <div class="single-brand">
                            <a href="#"><img src="img/brand/1.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="img/brand/1.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="img/brand/1.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="img/brand/1.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="img/brand/1.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="img/brand/1.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="img/brand/1.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="img/brand/1.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="img/brand/1.png" alt=""></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="img/brand/1.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Brand section end-->

    <!--Contact addresses start-->
    <div class="contact-address">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-contact-address">
                        <div class="single-contact-icon">
                            <i class="zmdi zmdi-pin"></i> 
                        </div>
                        <div class="single-contact-desc">
                            <p>House No 08, Road No 08,</p>
                            <p>Mah Hya, Dhaka, Bangladesh</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-contact-address">
                        <div class="single-contact-icon">
                            <i class="zmdi zmdi-email"></i>
                        </div>
                        <div class="single-contact-desc">
                            <p>Username@gmail.com</p>
                            <p>Damo@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-contact-address">
                        <div class="single-contact-icon">
                            <i class="zmdi zmdi-phone"></i>
                        </div>
                        <div class="single-contact-desc">
                            <p>+660 256 24857</p>
                            <p>+660 256444 24857</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact addresses end-->
<!--Footer section start-->
        <footer class="footer-area overlay">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-footer about">
                                <div class="single-footer-title">
                                    <h5>about us</h5>
                                </div>
                                <div class="single-footer-desc">
                                    <div class="single-footer-logo">
                                        <a href="#"><img src="img/logo/logo-2.png" alt=""></a>
                                    </div>
                                    <div class="single-footer-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicin elit, sed dgtho eiusmod tempor incididunt utffrikfr labore et dolore magna aliqua.</p>
                                    </div>
                                    <div class="single-footer-social">
                                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                        <a href="#"><i class="zmdi zmdi-rss"></i></a>
                                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                        <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-footer navigation">
                                <div class="single-footer-title">
                                    <h5>Navigation</h5>
                                </div>
                                <div class="single-footer-desc">
                                    <div class="single-footer-nav">
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Projects</a></li>
                                            <li><a href="#">Team</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-footer nrewsletter">
                                <div class="single-footer-title">
                                    <h5>newsletter singup</h5>
                                </div>
                                <div class="single-footer-desc">
                                    <div class="single-footer-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                                    </div>
                                    <div class="single-foote-newsletter">
                                        <div class="newsletter-form">
                                            <form action="#">
                                                <input type="text" placeholder="Email Address...">
                                                <button type="submit">Subscribe</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright text-center">
                                <p>
                                    Copyright© Gethost 2017.All right reserved.Created by
                                    <a target="_blank" href="http://devitems.com/">Devitems</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Footer section end-->
        
        
       
        
        
        
        
        
        

    <!-- Map js code here -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="js/map.js"></script>
    
   <!-- Placed js at the end of the document so the pages load faster -->

    <!-- All jquery file included here -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nivo.slider.pack.js"></script>
     <script src="js/isotope.pkgd.min.js"></script>
     <script src="js/packery-mode.pkgd.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/ajax-mail.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>