/*--
    12. Footer Css
----------------------*/
.footer-top {
    background: #f4f4f4;
}
.footer-widget{
    &.footer-style-1{
        margin-top: 30px;
        &.space-left{
            position: relative;
            margin-left: 54px;
            @media #{$large-mobile,$tablet-device}{
                margin-left: 0px;
            }
        }
        h5 {
            &.ft-title {
                font-weight: 600;
                font-size: 18px;
                margin-top: -5px;
                color: $heading-color;
                & span{
                    color: $theme-color;
                }
            }
        }
        .content {
            margin-top: 30px;
            @media #{$large-mobile,$tablet-device}{
                margin-top: 15px;
            }
            p{
                color: $heading-color;
                font-size: 14px;
                line-height: 25px;
                margin: 0;
            }
            ul{
                &.ft-menu{
                    padding: 0;
                    list-style: none;
                    margin: 0;
                    li{
                        margin-bottom: 15px;
                        line-height: 16px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a{
                            color: $heading-color;
                            font-weight: 400;
                            font-size: 13px;
                            transition: 0.4s ease-in-out;
                            &:hover{
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
            .ft-address{
                margin-top: 14px;
                p {
                    margin-bottom: 4px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .input-box{
                position: relative;
                margin-bottom: 15px;
                margin-top: 17px;
                input{
                    width: 100%;
                    height: 36px;
                    border: 1px solid #e5e5e5;
                    padding: 0 50px 0 10px;
                    color: #222;
                }
                button{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 0 none;
                    background: $theme-color;
                    height: 100%;
                    color: #fff;
                    padding: 0 13px;
                    transition: 0.4s ease-in-out;
                    &:hover{
                        background: $theme-color;
                        color: #ffffff;
                    }
                }
               
            }
            .social-share{
                &.social-square{
                    a{
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .social-share.social-square {
        text-align: left;
        margin-bottom: 0;
        & a {
            color: $heading-color;
            text-align: center;
            &:hover {
                background: $theme-color;
                color: $white;
            }
        }
        
    }
}
.footer-widget.footer-style-1 .content .input-box input::-webkit-input-placeholder {
    color: #ffffff;
}

.footer-widget.footer-style-1 .content .input-box input::-moz-placeholder {
    color: #ffffff;
}

.footer-widget.footer-style-1 .content .input-box input:-ms-input-placeholder {
    color: #ffffff;
}

.footer-widget.footer-style-1 .content .input-box input:-moz-placeholder {
    color: #ffffff;
}

.ht-footer-1{
    padding: 100px 0;
    padding-top: 70px;
}

.ht-footer-2{
    padding: 85px 0;
    padding-top: 52px;
    padding-bottom: 83px;
}
/* CopyiRight Style */
.copyright{
    background: #dadada;
    padding: 12px 0;
    .content{
        p {
            color: #424242;
            font-size: 14px;
            margin: 0;
        }
    }
}



