// Font Family
$body-font: 'Poppins', sans-serif;
$heading-font: 'Montserrat', sans-serif;


// Colors ---------------

$white: #ffffff;
$black: #000000;
$grey: #f6f7f8;

// Body Color
$body-color: #454545;

// Heading Color
$heading-color: #1d2736;

// Theme Color
$theme-color: #f9b809;
$theme-color-2: #19cfa3;



// Responsive Variables
$extraBig-device : 'only screen and (min-width: 1600px)';
$laptop-device : 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 479px)';

