<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About Us || Profe - Corporate Business Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Owl Carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="css/custom.css">


    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <header class="htc__headeer">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header header--2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="menumenu__container clearfix">
                            <div class="col-md-3 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="images/logo/3.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9 col-lg-10 hidden-sm hidden-xs">
                                <div class="menu-wrapper">
                                    <nav class="main__menu__nav hidden-xs hidden-sm">
                                        <ul class="main__menu">
                                            <li class="drop"><a href="index.html">HOME</a>
                                                <ul class="dropdown">
                                                    <li><a href="index.html">Home 01</a></li>
                                                    <li><a href="index-2.html">Home 02</a></li>
                                                    <li><a href="index-3.html">Home 03</a></li>
                                                </ul>
                                            </li>
                                            <li class="active"><a href="about.html">ABOUT</a></li>
                                            <li><a href="service.html">SERVICE</a></li>
                                            <li class="drop"><a href="#">PAGES</a>
                                                <ul class="dropdown">
                                                    <li><a href="blog.html">Blog Page</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                    <li><a href="service.html">Service</a></li>
                                                    <li><a href="about.html">About</a></li>
                                                    <li><a href="team.html">Team Page</a></li>
                                                    <li><a href="single-portfolio.html">Single Portfolio</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="blog.html">BLOG</a></li>
                                            <li><a href="contact.html">CONTACT</a></li>
                                            <li class="search search__open"><a href="#"><i class="ion-ios-search"></i></a></li>
                                            <li class="toggle__menu hidden-xs"><a href="#"><i class="ion-drag"></i></a></li>
                                        </ul>
                                    </nav>

                                    <div class="mobile-menu clearfix visible-xs visible-sm">
                                        <nav id="mobile_dropdown">
                                            <ul>
                                                <li><a href="index.html">Home</a>
                                                    <ul>
                                                        <li><a href="index.html">Home 01</a></li>
                                                        <li><a href="index-2.html">Home 02</a></li>
                                                        <li><a href="index-3.html">Home 03</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="service.html">SERVICES</a></li>
                                                <li><a href="#">pages</a>
                                                    <ul>
                                                        <li><a href="blog.html">Blog Page</a></li>
                                                        <li><a href="blog-details.html">Blog Details</a></li>
                                                        <li><a href="service.html">Service</a></li>
                                                        <li><a href="about.html">About</a></li>
                                                        <li><a href="team.html">Team Page</a></li>
                                                        <li><a href="single-portfolio.html">Single Portfolio</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="contact.html">CONTACT</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    
                                    <div class="menu__search__wrapper style-two">
                                        <form action="#" method="get">
                                            <input type="text" class="form__control"  placeholder="Search here... ">
                                        </form>
                                        <div class="search__close__btn on__menu">
                                            <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Style -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Offset MEnu -->
            <div class="offsetmenu">
                <div class="offsetmenu__inner">
                    <div class="offsetmenu__close__btn">
                        <a href="#"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="off__contact">
                        <div class="off__logo">
                            <a href="index.html">
                                <img src="images/logo/3.png" alt="logo">
                            </a>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                    <div class="offset__widget">
                        <h4>Contact Us</h4>
                        <div class="off__contact__address">
                            <div class="single__off__address">
                                <span>Address:</span>
                                <p>ur address goes here,street Crossroad 123</p>
                            </div>
                            <div class="single__off__address">
                                <span>Phone:</span>
                                <p>+99 859 658 589 . +69 587 456 25</p>
                            </div>
                            <div class="single__off__address">
                                <span>Email:</span>
                                <p>profolol@email.com</p>
                            </div>
                            <div class="single__off__address">
                                <span>Eax:</span>
                                <p>+55 784 7585 . + 985 698 586</p>
                            </div>
                        </div>
                    </div>
                    <div class="offset__subs">
                        <h4>Subscribe Now</h4>
                        <div class="offset__input">
                            <input type="email" placeholder="Enter your Email...">
                            <a href="#"><i class="zmdi zmdi-mail-send"></i></a>
                        </div>
                    </div>
                    <div class="offset__sosial__share">
                        <ul class="off__soaial__link">
                            <li><a href="#"  title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            
                            <li><a href="#"  title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>

                            <li><a href="#" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>

                            <li><a href="#" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a></li>

                            <li><a href="#" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Offset MEnu -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" data-image="images/bg/3.jpg">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">About us</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="index.html">Home</a>
                                  <span class="brd-separetor"><i class="ion-ios-arrow-right"></i></span>
                                  <span class="breadcrumb-item active">About us</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start About Area -->
        <section class="htc__about__2 ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about__title text-center">
                            <h4>We Are <span class="text--theme">Profe</span></h4>
                            <h2>Make Your Website Beautiful</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="about__wrapper clearfix">
                        <!-- Start Single about -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="about">
                                <div class="about__icon">
                                    <div class="ab__icon__innner">
                                        <span class="icon-phone"></span>
                                    </div>
                                </div>
                                <div class="about__btl">
                                    <h2><a href="#">digital & mobile</a></h2>
                                    <p>There are many variations of passages of Lorem Ipsum available, butmajority have suffered aration  passages of Lorem Ipsum available,</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single about -->
                        <!-- Start Single about -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="about">
                                <div class="about__icon">
                                    <div class="ab__icon__innner">
                                        <span class="icon-strategy"></span>
                                    </div>
                                </div>
                                <div class="about__btl">
                                    <h2><a href="#">UI/UX Design</a></h2>
                                    <p>There are many variations of passages of Lorem Ipsum available, butmajority have suffered aration  passages of Lorem Ipsum available,</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single about -->
                        <!-- Start Single about -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 smt--30">
                            <div class="about">
                                <div class="about__icon">
                                    <div class="ab__icon__innner">
                                        <span class="icon-heart"></span>
                                    </div>
                                </div>
                                <div class="about__btl">
                                    <h2><a href="#">user interaction</a></h2>
                                    <p>There are many variations of passages of Lorem Ipsum available, butmajority have suffered aration  passages of Lorem Ipsum available,</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single about -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->
        <!-- Start Team Area -->
        <section class="htc__team__area bg__cat--3 ptb--120">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title__line--2">team <span class="text--theme">member</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="htc__team__wrap clearfix">
                        <!-- Start Single Team -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <div class="team__thumb">
                                    <img src="images/team/1.png" alt="team image">
                                </div>
                                <div class="team__details">
                                    <h4><a href="#">Luis Nieto</a></h4>
                                    <h6>UI Designer</h6>
                                    <ul class="soaial__link">
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Team -->
                        <!-- Start Single Team -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <div class="team__thumb">
                                    <img src="images/team/2.png" alt="team image">
                                </div>
                                <div class="team__details">
                                    <h4><a href="#">Juana Núñez</a></h4>
                                    <h6>UI Designer</h6>
                                    <ul class="soaial__link">
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Team -->
                        <!-- Start Single Team -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <div class="team__thumb">
                                    <img src="images/team/3.png" alt="team image">
                                </div>
                                <div class="team__details">
                                    <h4><a href="#">Silvia Ortiz</a></h4>
                                    <h6>UI Designer</h6>
                                    <ul class="soaial__link">
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Team -->
                        <!-- Start Single Team -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <div class="team__thumb">
                                    <img src="images/team/4.png" alt="team image">
                                </div>
                                <div class="team__details">
                                    <h4><a href="#">Nimto Kama</a></h4>
                                    <h6>UI Designer</h6>
                                    <ul class="soaial__link">
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Team -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Team Area -->
        <!-- Start Testimonial Area -->
        <section class="htc__testimonial__area bg__white pb--100 pt--120">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title__line">Testimonial</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="htc__testimonial__activation indicator__style--1 clearfix">

                        <!-- Start Single Testimonial -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 testimonial">
                            <div class="single__testimonial__wrap">
                                <div class="single__testimonial text-center">
                                    <div class="tes__thumb">
                                        <img src="images/test/client/1.png" alt="testimonial images">
                                    </div>
                                    <div class="tes__info">
                                        <p>There are many variations of passages of Lorem Ipsum available, but he majority have suffered alteration in some form, by injected humour, domised words which don't look even slighable.alteration in some form, by injected</p>
                                        <h4><a href="#">Lenny Lange</a></h4>
                                        <div class="tes__quote">
                                            <img src="images/icons/quote.png" alt="">
                                        </div>
                                        <span class="test__shape"><img src="images/test/shape.png" alt=""></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                        <!-- Start Single Testimonial -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 testimonial">
                            <div class="single__testimonial__wrap">
                                <div class="single__testimonial text-center">
                                    <div class="tes__thumb">
                                        <img src="images/test/client/2.png" alt="testimonial images">
                                    </div>
                                    <div class="tes__info">
                                        <p>There are many variations of passages of Lorem Ipsum available, but he majority have suffered alteration in some form, by injected humour, domised words which don't look even slighable.alteration in some form, by injected</p>
                                        <h4><a href="#">Jonas Otto</a></h4>
                                        <div class="tes__quote">
                                            <img src="images/icons/quote.png" alt="">
                                        </div>
                                        <span class="test__shape"><img src="images/test/shape.png" alt=""></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                        <!-- Start Single Testimonial -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 testimonial">
                            <div class="single__testimonial__wrap">
                                <div class="single__testimonial text-center">
                                    <div class="tes__thumb">
                                        <img src="images/test/client/3.png" alt="testimonial images">
                                    </div>
                                    <div class="tes__info">
                                        <p>There are many variations of passages of Lorem Ipsum available, but he majority have suffered alteration in some form, by injected humour, domised words which don't look even slighable.alteration in some form, by injected</p>
                                        <h4><a href="#">Joshua Müller</a></h4>
                                        <div class="tes__quote">
                                            <img src="images/icons/quote.png" alt="">
                                        </div>
                                        <span class="test__shape"><img src="images/test/shape.png" alt=""></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                        <!-- Start Single Testimonial -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 testimonial">
                            <div class="single__testimonial__wrap">
                                <div class="single__testimonial text-center">
                                    <div class="tes__thumb">
                                        <img src="images/test/client/1.png" alt="testimonial images">
                                    </div>
                                    <div class="tes__info">
                                        <p>There are many variations of passages of Lorem Ipsum available, but he majority have suffered alteration in some form, by injected humour, domised words which don't look even slighable.alteration in some form, by injected</p>
                                        <h4><a href="#">Jonas Otto</a></h4>
                                        <div class="tes__quote">
                                            <img src="images/icons/quote.png" alt="">
                                        </div>
                                        <span class="test__shape"><img src="images/test/shape.png" alt=""></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                        <!-- Start Single Testimonial -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 testimonial">
                            <div class="single__testimonial__wrap">
                                <div class="single__testimonial text-center">
                                    <div class="tes__thumb">
                                        <img src="images/test/client/2.png" alt="testimonial images">
                                    </div>
                                    <div class="tes__info">
                                        <p>There are many variations of passages of Lorem Ipsum available, but he majority have suffered alteration in some form, by injected humour, domised words which don't look even slighable.alteration in some form, by injected</p>
                                        <h4><a href="#">Jonas Otto</a></h4>
                                        <div class="tes__quote">
                                            <img src="images/icons/quote.png" alt="">
                                        </div>
                                        <span class="test__shape"><img src="images/test/shape.png" alt=""></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                        <!-- Start Single Testimonial -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 testimonial">
                            <div class="single__testimonial__wrap">
                                <div class="single__testimonial text-center">
                                    <div class="tes__thumb">
                                        <img src="images/test/client/3.png" alt="testimonial images">
                                    </div>
                                    <div class="tes__info">
                                        <p>There are many variations of passages of Lorem Ipsum available, but he majority have suffered alteration in some form, by injected humour, domised words which don't look even slighable.alteration in some form, by injected</p>
                                        <h4><a href="#">Jonas Otto</a></h4>
                                        <div class="tes__quote">
                                            <img src="images/icons/quote.png" alt="">
                                        </div>
                                        <span class="test__shape"><img src="images/test/shape.png" alt=""></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonial Area -->
        <!-- Start Newsletter Area -->
        <section class="htc__newsletter__area newsletter--2 bg__cat--2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="newsletter__wrap">
                            <h2>Subscribe To Our Special Offers</h2>
                            <div class="newsletter__form">
                                <div class="input__box">
                                    <div id="mc_embed_signup">
                                        <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"  novalidate>
                                            <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                                <div class="news__input">
                                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                                                </div>
                                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                                <div class="clearfix subscribe__btn"><input type="submit" value=" Subscribe Now" name="subscribe" id="mc-embedded-subscribe" class="bst__btn btn--white__color">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Newsletter Area -->
        <!-- Start Foorter Area -->
        <footer class="htc__footer__area footer--2" data-image="images/bg/2.jpg">
            <div class="container">
                <div class="row">
                    <div class="footer__wrapper clearfix">
                        <!-- Start Single Footer -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="footer">
                                <div class="footer__wedget">
                                    <div class="ft__logo">
                                        <a href="index.html">
                                            <img src="images/logo/2.png" alt="logo">
                                        </a>
                                    </div>
                                    <div class="ft__details">
                                        <p>Contrary to popular belief, Lorem Ipsum is nosimply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over Lorem Ipsum is nosimply random text.</p>
                                    </div>
                                    <ul class="ft__social__icon">
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt--40">
                            <div class="footer">
                                <div class="footer__widget">
                                    <h2 class="ft__title">Contact Us</h2>
                                    <div class="ft__footer__address">
                                        <div class="ft__address">
                                            <span>Address:</span>
                                            <p>ur address goes here,street Crossroad 123</p>
                                        </div>
                                        <div class="ft__address">
                                            <span>Phone:</span>
                                            <p><a href="#">+99 859 658 589 . +69 587 456 25</a></p>
                                        </div>
                                        <div class="ft__address">
                                            <span>Eax:</span>
                                            <p><a href="#">+55 784 7585 . + 985 698 586</a></p>
                                        </div>
                                        <div class="ft__address">
                                            <span>Email:</span>
                                            <p><a href="#">profe12@email.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 smt--40 xmt--40">
                            <div class="footer">
                                <div class="footer__widget">
                                    <h2 class="ft__title">Recent Posts</h2>
                                    <div class="ft__rec__post__inner">
                                        <div class="ft__sin__post">
                                            <div class="ft__post__img">
                                                <a href="blog-details.html">
                                                    <img src="images/blog/sm-img/1.jpg" alt="blog image">
                                                </a>
                                            </div>
                                            <div class="ft__post__details">
                                                <h2><a href="blog-details.html">But I must explain to you ami jani this mistaken idea.</a></h2>
                                                <span>January 15, 2017</span>
                                            </div>
                                        </div>
                                        <div class="ft__sin__post">
                                            <div class="ft__post__img">
                                                <a href="blog-details.html">
                                                    <img src="images/blog/sm-img/2.jpg" alt="blog image">
                                                </a>
                                            </div>
                                            <div class="ft__post__details">
                                                <h2><a href="blog-details.html">At half-past eight the doo kiso jani na oliceman appeared.</a></h2>
                                                <span>January 15, 2017</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                    </div>
                </div>
                <div class="row">
                    <div class="copyright">
                        <div class="col-xs-12">
                            <div class="copyright__inner">
                                <p>Powered by <a href="#">Profe</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Foorter Area -->
    </div>
    <!-- Body main wrapper end -->

    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="js/plugins.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="js/main.js"></script>

</body>

</html>