// main: style.scss
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/
.section-header {
  h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
  }

  h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: $accent-color;
    bottom: 0;
    left: calc(50% - 20px);
  }

  p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
  }

}

/* Section with background
--------------------------------*/
.section-bg {
  background: #f7f7f7;
}

/* Featured Services Section
--------------------------------*/
#featured-services {
  background: #000;

  .box {
    padding: 30px 20px;
  }

  .box-bg {
    background-image: linear-gradient(0deg,#000000 0%,#242323 50%,#000000 100%);
  }

  i {
    color: $accent-color;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
  }

  h4 {
    font-weight: 400;
    margin: 15px 0;
    font-size: 18px;
    a {
      color: #fff;
      &:hover {
        color: $accent-color;
      }
    }

  }

  p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
  }
}

/* About Us Section
--------------------------------*/
#about {
  background: url('../img/about-bg.jpg') center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
  }

  .container {
    position: relative;
    z-index: 10;
  }

  .about-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0,0,0,.08);
    margin-bottom: 20px;

    .img {
      position: relative;
      img {
        border-radius: 4px 4px 0 0;
      }
    }

    .icon {
      width: 64px;
      height: 64px;
      padding-top: 8px;
      text-align: center;
      position: absolute;
      background-color: $accent-color;;
      border-radius: 50%;
      text-align: center;
      border: 4px solid #fff;
      left: calc( 50% - 32px);
      bottom: -30px;
      transition: 0.3s;
    }

    i {
      font-size: 36px;
      line-height: 1;
      color: #fff;
      transition: 0.3s;
    }

    &:hover {
      .icon {
        background-color: #fff;
      }

      i {
        color: $accent-color;
      }
    }

    h2 {
      color: #000;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      padding: 0;
      margin: 40px 0 12px 0;
      a {
        color: #000;
        &:hover {
          color: $accent-color;
        }
      }
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: #333;
      margin-bottom: 0;
      padding: 0 20px 20px 20px;
    }
  }

}

/* Services Section
--------------------------------*/
#services {
  background: #fff;
  background-size: cover;
  padding: 60px 0 40px 0;

  .box {
    margin-bottom: 30px;
  }

  .icon {
    float: left;

    i {
      color: $accent-color;
      font-size: 36px;
      line-height: 1;
      transition: 0.5s;
    }

  }

  .title {
    margin-left: 60px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    a {
      color: #111;
    }
  }

  .box:hover .title a {
    color: $accent-color;
  }

  .description {
    font-size: 14px;
    margin-left: 60px;
    line-height: 24px;
    margin-bottom: 0;
  }
}


/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0 ,0 , .1)), url(../img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  padding: 60px 0;

  h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  p {
    color: #fff;
  }

  .cta-btn {
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      background: $accent-color;
      border: 2px solid $accent-color;
    }
  }
}

/* Call To Action Section
--------------------------------*/
#skills {
  padding: 60px 0;

  .progress {
    height: 35px;
    margin-bottom: 10px;
  }
  .progress .skill {
    font-family: $text-font;
    line-height: 35px;
    padding: 0;
    margin: 0 0 0 20px;
    text-transform: uppercase;
  }
  .progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
  }

  .progress-bar {
    width: 1px;
    text-align: left;
    transition: .9s;
  }
}


/* Facts Section
--------------------------------*/
#facts {
  background: url('../img/facts-bg.jpg') center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 0 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.88);
    z-index: 9;
  }

  .container {
    position: relative;
    z-index: 10;
  }

  .counters {
    span {
      font-family: $heading-font;
      font-weight: bold;
      font-size: 48px;
      display: block;
      color: $accent-color;
    }

    p {
      padding: 0;
      margin: 0 0 20px 0;
      font-family: $heading-font;
      font-size: 14px;
      color: #111;
    }
  }

  .facts-img {
    text-align: center;
    padding-top: 30px;
  }

}

/* Portfolio Section
--------------------------------*/
#portfolio {
  padding: 60px 0;

  #portfolio-flters {
    padding:0;
    margin:5px 0 35px 0;
    list-style:none;
    text-align:center;

    li {
      cursor: pointer;
      margin:15px 15px 15px 0;
      display:inline-block;
      padding:10px 20px;
      font-size:12px;
      line-height:20px;
      color: $text-color;
      border-radius:4px;
      text-transform:uppercase;
      background:#fff;
      margin-bottom:5px;
      transition:all 0.3s ease-in-out;

      &:hover, &.filter-active {
        background: $accent-color;
        color:#fff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0,0,0,.08);
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 4px 14px rgba(0,0,0,.16);
    }
  }

  .portfolio-item {
    position: relative;
    height: 360px;
    overflow: hidden;

    figure {
      background: #000;
      overflow: hidden;
      height: 240px;
      position: relative;
      border-radius: 4px 4px 0 0;
      margin: 0;

      &:hover {
        img {
          opacity: 0.4;
          transition: 0.3s;
        }
      }

      .link-preview, .link-details {
        position: absolute;
        display: inline-block;
        opacity: 0;
        line-height: 1;
        text-align: center;
        width: 36px;
        height: 36px;
        background: #fff;
        border-radius: 50%;
        transition: 0.2s linear;
        i {
          padding-top: 6px;
          font-size: 22px;
          color: #333;
        }
        &:hover {
          background: $accent-color;
          i {
            color: #fff;
          }
        }
      }

      .link-preview {
        left: calc(50% - 38px);
        top: calc(50% - 18px);
      }

      .link-details {
        right: calc(50% - 38px);
        top: calc(50% - 18px);
      }

      &:hover {

        .link-preview {
          opacity: 1;
          left: calc(50% - 44px);
        }

        .link-details {
          opacity: 1;
          right: calc(50% - 44px);
        }
      }
    }

    .portfolio-info {
      background: #fff;
      text-align: center;
      padding: 30px;
      height: 90px;
      border-radius: 0 0 3px 3px;

      h4 {
        font-size: 18px;
        line-height: 1px;
        font-weight: 700;
        margin-bottom: 18px;
        padding-bottom: 0;
        a {
          color: #333;
          &:hover {
            color: $accent-color;
          }
        }
      }
      p {
        padding: 0;
        margin: 0;
        color: #b8b8b8;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
      }
    }

  }
}

/* Clients Section
--------------------------------*/
#clients {
  padding: 60px 0;

  img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
    &:hover {
      opacity: 1;
    }
  }

  .owl-nav, .owl-dots {
    margin-top: 5px;
    text-align: center;
  }

  .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }

  .owl-dot.active {
    background-color: $accent-color;
  }
}

/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 60px 0;

  .section-header {
    margin-bottom: 40px;
  }

  .testimonial-item {
    text-align: center;

    .testimonial-img {
      width: 120px;
      border-radius: 50%;
      border: 4px solid #fff;
      margin: 0 auto;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0 5px 0;
      color: #111;
    }

    h4 {
      font-size: 14px;
      color: #999;
      margin: 0 0 15px 0;
    }

    .quote-sign-left {
      margin-top: -15px;
      padding-right: 10px;
      display: inline-block;
      width: 37px;
    }

    .quote-sign-right {
      margin-bottom: -15px;
      padding-left: 10px;
      display: inline-block;
      max-width: 100%;
      width: 37px;
    }

    p {
      font-style: italic;
      margin: 0 auto 15px auto;
      @media (min-width: 992px) {
        width: 80%;
      }
    }

  }

  .owl-nav, .owl-dots {
    margin-top: 5px;
    text-align: center;
  }

  .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }

  .owl-dot.active {
    background-color: $accent-color;
  }
}


/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 60px 0;

  .member {
    text-align: center;
    margin-bottom: 20px;
    background: #000;
    position: relative;

    .member-info {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.2s;
    }

    .member-info-content {
      margin-top: -50px;
      transition: margin 0.2s;
    }

    &:hover {
      .member-info {
        background: rgba(0, 0, 0, 0.70);
        opacity: 1;
        transition:  0.4s;
      }

      .member-info-content {
        margin-top: 0;
        transition: margin 0.4s;
      }
    }

    h4 {
      font-weight: 700;
      margin-bottom: 2px;
      font-size: 18px;
      color: #fff;
    }

    span {
      font-style: italic;
      display: block;
      font-size: 13px;
      color: #fff;
    }

    .social {
      margin-top: 15px;
      a {
        transition: none;
        color: #fff;
        &:hover {
          color: $accent-color;
        }

      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }
  }
}


/* Contact Section
--------------------------------*/
#contact {
  padding: 60px 0;

  .contact-info {
    margin-bottom: 20px;
    text-align: center;
    i {
      font-size: 48px;
      display: inline-block;
      margin-bottom: 10px;
      color: $accent-color;
    }

    address, p {
      margin-bottom: 0;
      color: #000;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 15px;
      font-weight: bold;
      text-transform: uppercase;
      color: #999;
    }

    a {
      color: #000;
      &:hover {
        color: $accent-color;
      }
    }
  }

  .contact-address, .contact-phone, .contact-email {
    margin-bottom: 20px;
    @media (min-width: 768px) {
      padding: 20px 0;
    }
  }

  @media (min-width: 768px) {
    .contact-phone {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }

  .form {

    #sendmessage {
      color: $accent-color;
      border:1px solid $accent-color;
      display:none;
      text-align:center;
      padding:15px;
      font-weight:600;
      margin-bottom:15px;
    }

    #errormessage {
      color: red;
      display:none;
      border:1px solid red;
      text-align:center;
      padding:15px;
      font-weight:600;
      margin-bottom:15px;
    }

    #sendmessage.show, #errormessage.show, .show {
      display:block;
    }

    .validation {
      color: red;
      display:none;
      margin: 0 0 20px;
      font-weight:400;
      font-size:13px;
    }

    input, textarea {
      padding: 10px 14px;
      border-radius: 0;
      box-shadow: none;
      font-size: 15px;
    }

    button[type="submit"] {
      background: $accent-color;
      border: 0;
      padding: 10px 30px;
      color: #fff;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        background: darken($accent-color, 10%);
      }
    }
  }
}
