/*------------------
    Software Styles 
---------------------*/

.faq_inner {
    padding-left: 65px;
    .content {
        h2 {
            color: #010f54;
            font-size: 36px;
        }
        p {
            color: #010f54;
            font-size: 16px;
            line-height: 27px;
            margin-bottom: 25px;
        }
        .input__box {
            input {
                background: #f5f8fa none repeat scroll 0 0;
                border: 0 none;
                border-radius: 4px;
                color: #035f91;
                height: 60px;
                margin-bottom: 20px;
                padding: 0 30px;
                width: 100%;
                &:focus {
                    border: 1px solid $theme-color;
                }
            }
            textarea {
                background: #f5f8fa none repeat scroll 0 0;
                border: 0 none;
                border-radius: 4px;
                color: #035f91;
                margin-bottom: 30px;
                min-height: 143px;
                padding: 20px;
                width: 100%;
                resize: none;
                &:focus {
                    border: 1px solid $theme-color;
                }
            }
        }
    }
}

.faq_inner .content .input__box input::-webkit-input-placeholder {
    color: #035f91;
    opacity: 1;
}

.faq_inner .content .input__box input::-moz-placeholder {
    color: #035f91;
    opacity: 1;
}

.faq_inner .content .input__box input:-ms-input-placeholder {
    color: #035f91;
    opacity: 1;
}

.faq_inner .content .input__box input:-moz-placeholder {
    color: #035f91;
    opacity: 1;
}

.faq_inner .content .input__box textarea::-webkit-input-placeholder {
    color: #035f91;
    opacity: 1;
}

.faq_inner .content .input__box textarea::-moz-placeholder {
    color: #035f91;
    opacity: 1;
}

.faq_inner .content .input__box textarea:-ms-input-placeholder {
    color: #035f91;
    opacity: 1;
}

.faq_inner .content .input__box textarea:-moz-placeholder {
    color: #035f91;
    opacity: 1;
}

.acc-header {
    h5 {
        margin: 0;
        a {
            background: #f5f8fa none repeat scroll 0 0;
            border: 0 none;
            color: #e05941;
            display: block;
            font-size: 18px;
            font-weight: 500;
            line-height: 40px;
            margin: 0;
            padding: 10px 60px 10px 40px;
            position: relative;
            &::before {
                content: "\f303";
                font-family: Material-Design-Iconic-Font;
                font-size: 24px;
                position: absolute;
                right: 47px;
                top: 50%;
                transform: translateY(-50%);
            }
            &.collapsed {
                color: #010f54;
                &::before {
                    content: "\f2fe";
                }
            }
        }
    }
}

.panora_accordion .card-body {
    background: #f5f8fa none repeat scroll 0 0;
    color: #035f91;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 40px 26px;
}

.panora_accordion .card {
    background-clip: border-box;
    background-color: #fff;
    border: 0 none;
    border-radius: 4px;
    margin-bottom: 30px;
    position: relative;
}

.panora_accordion .card:last-child {
    margin-bottom: 0;
}

// Responsive Css
@media #{$xx-layout} {}

@media #{$xlg-layout} {}

@media #{$lg-layout} {
    .faq_inner {
        padding-left: 0;
    }
}

@media #{$md-layout} {
    .faq_inner {
        padding-left: 0;
    }
}

@media #{$sm-layout} {
    .faq_inner {
        padding-left: 0;
    }
    .faq_inner .content h2 {
        font-size: 29px;
    }
    .acc-header h5 a {
        font-size: 17px;
        line-height: 23px;
    }
}

@media #{$xs-layout} {
    .panora_accordion .card-body {
        padding: 0 38px 16px;
    }
    .faq_inner .content h2 {
        font-size: 20px;
    }
}

@media #{$xxs-layout} {}