/*-----------------
    Slider Styles
-----------------*/

.gra__bg--1 {
    background: linear-gradient(to top, #1344a4, #011054);
}

.slider--one {
    .slider_fixed_height {
        height: 900px;
    }
    .slide {
        padding-top: 100px;
    }
}







.slider--2 {
    .slider_fixed_height {
        height: 900px;
    }
    .slide {
        padding-bottom: 10px;
    }
}


.slide {
    .content {
        h1 {
            color: #ffffff;
            line-height: 65px;
            margin-bottom: 25px;
            background: linear-gradient(110deg, #fff 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #f2a192 34%, #f06850 34%);
            background-size: 400%;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            animation: Gradient 5s ease infinite;
            -webkit-animation: Gradient 15s ease infinite;
            -moz-animation: Gradient 5s ease infinite;
        }
        p {
            color: #eef3f6;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 40px;
        }
    }
    .slide__fornt__img {
        text-align: right;
    }
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 30% 50%
    }
    50% {
        background-position: 25% 50%
    }
    100% {
        background-position: 30% 50%
    }
}



// Responsive Css
@media #{$xx-layout} {}

@media #{$xlg-layout} {}

@media #{$lg-layout} {
    .slide .slide__fornt__img img {
        width: 100%;
    }
    .slider--one .slider_fixed_height ,
    .slider--2 .slider_fixed_height {
        height: 700px;
    }
    .slider--2 .slide {
        padding-bottom: 0;
        padding-top: 41px;
    }
}

@media #{$md-layout} {
    .slide .content h1 {
        line-height: 49px;
    }
    .slide .slide__fornt__img img {
        width: 100%;
    }
    .slider--2 .slider_fixed_height {
        height: 700px;
    }
    .slider--2 .slide {
        padding-bottom: 0;
        padding-top: 100px;
    }
    .slider--one .slider_fixed_height {
        height: 700px;
    }
}

@media #{$sm-layout} {
    .slide .content h1 {
        line-height: 41px;
        margin-bottom: 17px;
    }
    .slide .slide__fornt__img img {
        width: 100%;
    }
    .slider--2 .slider_fixed_height,
    .slider--one .slider_fixed_height {
        height: auto;
    }
    .slider--2 .slide,
    .slider--one .slider_fixed_height {
        padding-bottom: 70px;
        padding-top: 157px;
    }
    .slide .slide__fornt__img {
        margin-top: 26px;
        text-align: center;
    }
}

@media #{$xs-layout} {}

@media #{$xxs-layout} {}