/*------------------
    Software Styles 
---------------------*/

.voopo__software {
    padding-bottom: 325px;
    .sft-bg-color {
        background: linear-gradient(to bottom, #1344a4, #011156);
        padding-bottom: 92px;
        padding-top: 172px;
    }
    .shape--1 {
        bottom: 100px;
        position: absolute;
        right: 0;
    }
    .content {
        h2 {
            color: #eef3f6;
            font-size: 36px;
            line-height: 47px;
        }
        p {
            color: #eef3f6;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 24px;
            &+p {
                margin: 0;
            }
        }
    }
}

.download__btn {
    display: flex;
    list-style: outside none none;
    margin: 80px -20px 0;
    padding: 0;
    li {
        margin: 0 20px;
        a {
            background: #010f54 none repeat scroll 0 0;
            border-radius: 26px;
            color: #eef3f6;
            display: inline-block;
            font-size: 16px;
            height: 50px;
            line-height: 50px;
            padding: 0 40px;
            text-align: center;
            transition: all 0.5s ease 0s;
            img {
                padding-left: 20px;
            }
            &:hover{
                background: #e05941 none repeat scroll 0 0;
            }
        }
    }
}

.voopo__software {
    &.software__style--2 {
        padding-bottom: 0;
        padding-top: 110px;
        .content {
            p {
                margin-bottom: 0;
                padding: 0 27%;
            }
        }
        .download__btn {
            justify-content: center;
            margin: 40px -20px 0;
            li {
                a {
                    background: #ffffff none repeat scroll 0 0;
                    color: #0d348c;
                    transition: 0.5s;
                    &:hover{
                        background: $theme-color;
                        color: #010f54;
                    }
                }
            }
        }
        .thumb {
            margin-bottom: -155px;
            margin-top: 38px;
            position: relative;
        }
    }
}

.voopo__software {
    .poly__1 {
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .poly__2 {
        position: absolute;
        left: 236px;
        top: 215px;
    }
}

// Responsive Css
@media #{$xx-layout} {}

@media #{$xlg-layout} {
    .voopo__software .shape--1 {
        bottom: 50%;
        transform: translateY(50%);
        width: 50%;
    }
    .voopo__software .shape--1 img {
        width: 100%;
    }
    .voopo__software {
        padding-bottom: 120px;
    }
}

@media #{$lg-layout} {
    .voopo__software .shape--1 {
        bottom: 50%;
        transform: translateY(50%);
        width: 50%;
    }
    .voopo__software .shape--1 img {
        width: 100%;
    }
    .voopo__software {
        padding-bottom: 120px;
    }
    .download__btn {
        margin: 38px -20px 0;
    }
    .voopo__software .sft-bg-color {
        padding-top: 120px;
    }
    .voopo__software.software__style--2 .content p {
        padding: 0 20%;
    }
    .voopo__software.software__style--2 .thumb img {
        width: 100%;
    }
    .voopo__software.software__style--2 .thumb {
        margin-bottom: 0;
    }


}

@media #{$md-layout} {
    .voopo__software .shape--1 {
        bottom: 50%;
        transform: translateY(50%);
        width: 45%;
    }
    .voopo__software .shape--1 img {
        width: 100%;
    }
    .voopo__software {
        padding-bottom: 120px;
    }
    .voopo__software .sft-bg-color {
        padding-bottom: 57px;
        padding-top: 113px;
    }
    .download__btn {
        margin: 22px -20px 0;
    }
    .voopo__software.software__style--2 .content p {
        padding: 0 11%;
    }
    .voopo__software.software__style--2 .thumb {
        margin-bottom: 0;
    }
    .voopo__software.software__style--2 .thumb img {
        width: 100%;
    }
    .voopo__software.software__style--2 .thumb {
        margin-bottom: 0;
    }





}

@media #{$sm-layout} {
    .voopo__software .shape--1 {
        bottom: 50%;
        transform: translateY(50%);
        width: 50%;
    }
    .voopo__software .shape--1 img {
        width: 100%;
    }
    .voopo__software {
        padding-bottom: 120px;
    }
    .voopo__software .shape--1 {
        bottom: 0;
        padding-top: 55px;
        position: inherit;
        transform: translateY(0px);
        width: 100%;
    }
    .voopo__software .sft-bg-color {
        padding-top: 120px;
    }
    .voopo__software.software__style--2 .content p {
        padding: 0;
    }
    .voopo__software.software__style--2 .download__btn {
        flex-wrap: wrap;
    }
    .voopo__software.software__style--2 .download__btn li+li {
        margin-top: 20px;
    }
    .voopo__software.software__style--2 .download__btn li {
        flex-basis: 100%;
    }
    .voopo__software.software__style--2 .thumb img {
        width: 100%;
    }
    .voopo__software.software__style--2 .thumb {
        margin-bottom: 0;
    }
    .voopo__software.software__style--2 {
        padding-top: 60px;
    }
    .voopo__software {
        padding-bottom: 60px;
    }




}

@media #{$xs-layout} {
    .voopo__software .poly__1 {
        left: 11px;
        top: 24px;
    }
    .voopo__software .poly__2 {
        left: 230px;
        top: 41px;
    }
}

@media #{$xxs-layout} {
    .voopo__software .content h2 {
        font-size: 28px;
        line-height: 39px;
    }
    .voopo__software .content p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 12px;
    }
    .download__btn {
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px -20px 0;
    }
    .download__btn li+li {
        margin-top: 20px;
    }
    .voopo__software .sft-bg-color {
        padding-top: 113px;
    }
}