/* ======================================
	
	Template: Carspa
	Css Name: Header
	Version: 1
	Design and Developed by:HasTech
	NOTE: This is Footer style file. All footer related style included in this file

========================================= */
.header-full-area {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.header-top-area {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 16px 0 15px;
}
.header-phone p {
  font-size: 14px;
  margin: 0 0 0 46%;
  color:#fff;
}
.header-phone p i {
  font-size: 15px;
  margin-right: 5px;
}
.header-social ul li a {
  font-size: 14px;
  padding-left: 15px;
  color:#fff;
  transition:.4s;
}
.header-social ul li a:hover{color:#d42f38;}





