@import "../variables";
@import "../mixins";
/*----------------------
    Button Styles 
------------------------*/

/* Wobble Top */

@-webkit-keyframes pr__btn {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }
    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }
    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }
    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }
    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}

a.pr__btn {
    background: #444444 none repeat scroll 0 0;
    border-radius: $theme-radius;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 38px;
    line-height: 38px;
    padding: 0 17px;
    text-transform: uppercase;
    -webkit-transform: perspective(1px) translateZ(0px);
    transform: perspective(1px) translateZ(0px);
    -webkit-transform-origin: 0 100% 0;
    transform-origin: 0 100% 0;
    letter-spacing: 3px;
    &.btn--large {
        padding: 0 20px;
        border-radius: 6px;
    }
    &.green__btn {
        background: #81ad7b none repeat scroll 0 0;
        color: #fff;
        &:hover {
            background: #444444 none repeat scroll 0 0;
            color: #fff;
        }
    }
}

a.pr__btn:hover {
    background: #81ad7b none repeat scroll 0 0;
    color: #fff;
}

a.pr__btn:hover,
a.pr__btn:focus,
a.pr__btn:active {
    -webkit-animation-name: pr__btn;
    animation-name: pr__btn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

a.pr__btn span {
    padding-right: 6px;
}

/* Search Content*/

.block-bg {
    &.close__top {
        .close__wrap {
            right: 90px;
            top: 50px;
        }
    }
}

.block-bg {
    background: rgba(22, 22, 27, 0.97) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    transition: -webkit-transform 0.8s ease 0s, transform 0.8s ease 0s, opacity 0.5s ease 0s, visibility 0.5s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 999;
    &.is-visible {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        visibility: visible;
    }
    .close__wrap {
        color: white;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        line-height: 25px;
        margin-top: -12.5px;
        padding-right: 25px;
        position: absolute;
        right: 15px;
        text-transform: uppercase;
        top: 50%;
        z-index: 11;
        transition: 0.4s;
        &:hover {
            color: $theme-color;
        }
        &::after {
            content: "\f00d";
            font-family: FontAwesome;
            font-size: 24px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.minisearch {
    .field__search {
        left: 0;
        margin: 0 auto auto;
        max-width: 1000px;
        padding: 0 5px;
        position: fixed;
        right: 0;
        top: 50%;
        input {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background: transparent none repeat scroll 0 0;
            border-color: currentcolor currentcolor #ebebeb;
            -o-border-image: none;
            border-image: none;
            border-style: none none solid;
            border-width: 0 0 1px;
            color: #fff;
            height: 60px;
            padding: 10px 60px 10px 10px;
            position: static;
            transition: all 0.3s ease-in-out 0s;
            width: 100%;
            z-index: 1;
            font-size: 16px;
            outline: none;
        }
        .action {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            a {
                i {
                    color: #797979;
                    display: inline-block;
                    font-size: 26px;
                    height: 60px;
                    left: 0;
                    line-height: 60px;
                    text-align: center;
                    top: 0;
                    width: 60px;
                }
            }
        }
    }
}