/* Normal desktop :1366px. */
@media (min-width: 1100px) and (max-width: 1500px) {
.header-service {
  margin-top: 120px;
}
.newsletter-subcribe .news {
  padding: 7px 0 10px;
}
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.pack-mode-btn .button {
  padding: 5px 25px;
}
.header-service {
  margin-top: 70px;
}
.header-area {
  height: auto;
  padding: 80px 0 100px;
}
.newsletter-subcribe {
  padding: 40px 65px 80px;
}
.newsletter-subcribe .news {
  margin: 0px;
}
.search-box input {
  width: 660px;
}
.offer-content > h2 {
  font-size: 50px;
}
.package-information .pakge-titel > .button {
  padding: 8px 40px;
}
.newsletter-subcribe input {
  float: left;
  width: 600px;
}
.hm-2 .header-area {
  padding: 75px 0 80px;
  height: auto;
}
.hm-2 .content > h3 {
  font-size: 44px;
}
.hm-2 .header-service .content h1 {
  font-size: 60px;
}
.features-left > img {
  float: none;
}
.features-right, .features-left.mr-fes-2 {
  display: none;
}
.hm-3 .header-area {
  height: auto;
  padding: 65px 0;
}
.hm-3 .icon-hm2 {
  padding: 9% 0 17%;
}
.hm-3 .aboutus-area {
  padding: 23% 0 21%;
}
.hm-3 .ab-left {
  margin-top: 10%;
}
.hm-3 .frs-ct-right {
  text-align: center;
}
.hm3-features-right > img {
  float: none;
  padding-right: 0;
}
.none{display:none;}
.hm3-fr-mr-90 {
  margin-bottom: 70px;
}
.hm-3 .footer-top-area {
  padding: 20% 0 9%;
}
.hm-4 .icon-hm2 {
  padding: 0;
}
.hm-4 .hm3-features-right > img {
  float: left;
  padding-right: 22px;
}
.hm-4 .footer-top-area {
  padding: 65px 0 40px;
}
.hm4-left-area {
  float: none;
  width: 100%;
}
.hm-4 .icon-hm2 .icon {
  float: none;
  width: 100%;
}
.hm4-right-area {
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 50px;
}
.hm4-icon {
  width: 100%;
}
.hm4-left-area {
  padding: 10px;
}
}
 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.header-service .content h1 {
  font-size: 50px;
}
.header-service .content h5 {
  font-size: 30px;
}
.header-area {
  height: 100vh;
  padding: 78px 0 80px;
}
.search-box input {
  width: 455px;
}
.offer-content > h2 {
  font-size: 38px;
}
.offer-content h3 {
  font-size: 28px;
}
.search-domain-area {
  padding: 50px 0 60px;
}
.search-box .button {
  margin-top: 20px;
}
.newsletter-subcribe input {
  width: 370px;
}
.mr-bottom{margin-bottom:30px;}
.features-area .col-md-12.service-header > p {
  margin: 0 0 5%;
  padding: 0 10%;
}
.client-titel > p {
  padding-left: 16%;
}
.client-details > p {
  padding: 3% 5%;
  margin: 0;
}
.newsletter-titel > h2 {
  font-size: 42px;
}
.newsletter-titel > p {
  padding-right: 10%;
}
.header-service {
  margin-top: 70px;
}
.hm-2 .content > h3 {
  font-size: 35px;
}
.hm-2 .pakge-titel > h2, .hm-2 .pakge-rating > h3 {
  font-size: 38px;
}
.hm-2-features > p {
  padding: 0 25%;
}
.hm-2 .features-area .col-md-12.service-header > p {
  margin: 0 0 40px;
  padding: 0 3%;
}
.hm-2 .client-header > p {
  padding: 0 8%;
}
.hm-2 .newsletter-titel > p, .hm-2 .client-titel > p {
  padding: 0 5%;
}
.hm-3 .icon-hm2 {
  padding: 10% 0 22%;
}
.hm-3 .aboutus-area {
  padding: 34% 0 18%;
}
.hm-3 .ab-left {
  margin-top: 15%;
}
.frs-ct, .frs-ct-right  {
  width: 75%;
}
.hm-3 .client-says-area {
  padding: 16% 0 12%;
}
.hm-3 .footer-top-area {
  padding: 25% 0 9%;
}
.hm-4 .icon-hm2 {
  padding: 0;
}
.none{display:none;}
.hm-4 .header-area {
  height: 100vh;
  padding: 35px 0;
}
.hm4-right-area {
  padding-left: 55px;
  padding-right: 55px;
}
.hm-4 .icon-hm2 {
  display: block;
  overflow: hidden;
}
.hm-4 .client-says-area {
  padding: 0% 0 12%;
}
.hm-4 .client-ct {
  margin: 0 auto 0 20%;
}
.hm-4 .footer-top-area {
  padding: 65px 0 40px;
}
.hm4-left-area {
  float: none;
  width: 100%;
}
.hm-4 .icon-hm2 .icon {
  float: none;
  width: 100%;
}
.hm4-right-area {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
}
.hm4-icon {
  width: 100%;
}
.hm4-left-area {
  padding: 10px;
}
}

/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
 .live-chat .button {
   float:none;
}
.header-area {
  height: auto;
}
.header-service .content h1 {
  font-size: 30px;
}
.header-service .content h5 {
  font-size: 25px;
}
.search-box input {
  margin-bottom: 20px;
  width: 190px;
  border-right: 1px solid #ddd;
}
.search-type h2 {
  font-size: 22px;
}
.logo-area {
  text-align: center;
}
.live-chat {
  margin-top: 20px;
  text-align: center;
}
.header-area {
  padding: 70px 0 40px;
}
.search-domain-area {
  padding: 48px 0 58px;
}
.hm-3 .header-area {
  padding: 60px 0;
}
.service-offer {
  margin-top: 10px;
  text-align: center;
}
.header-service {
  margin-top: 165px;
}
.offer-content h3 {
  font-size: 20px;
}
.offer-content > h2 {
  font-size: 30px;
}
.offer-button {
  margin-top: 5%;
  text-align: center;
}
.mr-bottom{margin-bottom:30px;}
.pakge-titel > h2, .client-titel > h1, .client-titel > h2{font-size: 26px;}
.discount-area {
  padding: 22px 0 45px;
}
.col-md-12.service-header > h1{font-size: 23px;}
.features-area .col-md-12.service-header > p {
  margin: 0 0 10%;
  padding: 0 0;
}
.client-titel > p {
  padding-left: 0;
}
.client-details > p {
  padding: 5px 0;
}
.newsletter-subcribe .news {
  margin: 0px;
}
.newsletter-titel > h2, .hm-2 .client-header > h1 {font-size: 26px;}
.newsletter-titel > p {
  padding-right: 0;
}
.newsletter-subcribe {
  padding: 30px 29px;
}
.newsletter-subcribe a.button {
  margin: 5px auto -5px;;
}
.newsletter-subcribe input {
  width: 210px;
}
.footer-left, .footer-right {
  margin-top: 8%;
  text-align: center;
  margin-bottom: 8%;
}
.footer-bottom-area p {
  font-size: 12px;
}
.footer-bottom-area img {
  float: none;
  padding-bottom: 15px;
  padding-top: 15px;
}
.hm-2 .content > h3 {
  font-size: 24px;
}
.hm-2-features > p {
  padding: 0 0;
}
.hm-2 .features-area .col-md-12.service-header > p, .hm-2 .client-content-area > p, .hm-2 .newsletter-titel > p, .hm-2 .client-titel > p, .hm-3 .header-service .content p, .hm-2 .client-header > p {
  padding: 0 0;
}
.hm-2 .frs-ct {
  text-align: center;
}
.hm-2 .features-left > img {
  float: none;
  padding-right: 20px;
}
.hm-2 .frs-ct-right {
  text-align: center;
}
.hm-2 .owl-theme .owl-controls {
  top: 10%;
}
.hm-2 .owl-theme .owl-controls .owl-buttons div {
  margin-left: 18%;
  margin-right: 18%;
}
.hm-3 .aboutus-area {
  padding: 65% 0 18%;
}
.hm-3 .aboutus-area {
  background: #DBDCB8;
  padding: 80px 0;
}
.hm-3 .search-domain-area {
  padding: 80px 0 80px;
}
.hm3-fr-mr-90 {
  margin-bottom: 45px;
}
.hm3-features-left {
  margin-left: 0;
}
.hm3-features-left > img {
  padding-left: 0;
}
.hm-3 .features-area {
  padding: 74px 0;
}
.hm3-features-right > img {
  float: none;
}
.fers-img {
  margin-top: 40px;
}
.hm-3 .client-says-area {
  background: #dbdcb8 none repeat scroll 0 0;
  padding: 13% 0 12%;
}
.hm-3 .footer-top-area {
  padding: 16% 0 9%;
  background: #dbdcb8;
}
.hm-4 .header-area {
  height: auto;
  padding: 30px 0;
}
.hm-4 .header-service {
  margin-top: 30px;
}
.hm-4 .client-says-area {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.hm-4 .client-ct {
  margin: 0 auto 0 0;
}
.client-ct::before {
  right: -7%;
}
.hm-4 .owl-theme .owl-controls {
  top: 56%;
}
.hm-4 .footer-top-area {
  background: #6E5399 none repeat scroll 0 0;
}
.hm4-left-area {
  float: none;
  width: 100%;
}
.hm-4 .icon-hm2 .icon {
  float: none;
  width: 100%;
}
.hm4-right-area {
  padding-left: 35px;
  padding-right: 30px;
  padding-top:50px;
}
.hm4-icon {
  width: 100%;
}
.hm4-left-area {
  padding: 10px;
}
.slick-slider {
  margin-bottom: 0px;
  margin-top: 33px;
}
.client-details > img {
  float: none;
  margin: 0 auto;
}
.client-says-area .cl-content {
  margin-top: 15px;
  padding-left: 0;
}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 .header-area {
  padding: 40px 0 25px;
}
.newsletter-subcribe input {
  width: 360px;
}
.discount-area .col-md-4.col-sm-4.col-xs-12 > img {
  display: none;
}
.offer-content {
  text-align: center;
}
.hm-2 .features-left > img {
  float: left;
}
.features-right, .features-left.mr-fes-2 {
  display: none;
}
.hm-2 .col-md-4.hidden-sm img, .hm-2 .frs-ct-right, .features-right, .features-left.mr-fes-2, .hm-2 .frs-ct   {
  display: none;
}
.hm-3 .col-md-4.hidden-sm img, .hm-3 .frs-ct-right, .features-right, .features-left.mr-fes-2, .hm-3 .frs-ct {
  display: block;
}
.hm-3 .hm3-features-right > img {
  float: left;
}
.hm-4 .client-ct::before {
  right: -30%;
}
}