<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EventPro - Multi-concept Event Management Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    
    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

<!-- Main Wrapper -->
<div id="main-wrapper" class="transparent-header">
    
    <!-- Header Section Start -->
    <div class="header-section header-two header-transparent  header-sticky section">
        <div class="container-fluid">
            <div class="row">
               
                <!-- Header Logo -->
                <div class="header-logo transparent-header-logo col-6">
                    
                    <a href="index.html" class="logo">
                        <img src="img/logo.png" alt="logo">
                        <img class="stick-logo" src="img/logo.png" alt="logo">
                    </a>
                    
                </div>
                
                <!-- Header Buttons -->
                <div class="header-button col-6">
                   
                    <!-- Header Buttons Wrapper -->
                    <div class="header-button-wrapper">

                        <button class="menu-toggle light"><span></span></button>
                        <a href="cart.html" class="header-btn-cart light hover-red"><i class="pe-7s-cart"></i><span>01</span></a>

                    </div>
                    
                </div>
                
            </div>
        </div>
    </div><!-- Header Section End -->
           
    <!-- Header Menu -->
    <div class="overlay-menu overlay-blue overlay-opacity-70" style="background-image: url(img/bg/hero.jpg)">
                    
        <nav>
            <ul>
                <li class="active"><a href="index.html">Home</a><span class="expand-menu">+</span>
                    <ul class="sub-menu">
                        <li><a href="index.html">Home One</a></li>
                        <li class="active"><a href="index-2.html">Home Two</a></li>
                        <li><a href="index-3.html">Home Three</a></li>
                        <li><a href="index-4.html">Home Four</a></li>
                    </ul>
                </li>
                <li><a href="event-schedule.html">Event</a><span class="expand-menu">+</span>
                    <ul class="sub-menu">
                        <li><a href="event-schedule.html">Event Schedule</a></li>
                        <li><a href="event-details.html">Event Details</a></li>
                        <li><a href="event-submit.html">Event Submit</a></li>
                    </ul>
                </li>
                <li><a href="shop.html">Shop</a><span class="expand-menu">+</span>
                    <ul class="sub-menu">
                        <li><a href="#">Shop Pages</a><span class="expand-menu">+</span>
                            <ul class="sub-menu">
                                <li><a href="shop.html">Shop Full Width</a></li>
                                <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Product Details Pages</a><span class="expand-menu">+</span>
                            <ul class="sub-menu">
                                <li><a href="product-details.html">Product Details Full Width</a></li>
                                <li><a href="product-details-left-sidebar.html">Product Details Left Sidebar</a></li>
                                <li><a href="product-details-right-sidebar.html">Product Details Right Sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Pages</a><span class="expand-menu">+</span>
                    <ul class="sub-menu">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="speakers.html">Speakers</a></li>
                        <li><a href="speaker-profile.html">Speaker Profile</a></li>
                        <li><a href="sponsor.html">Sponsor</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                    </ul>
                </li>
                <li><a href="#">Elements</a><span class="expand-menu">+</span>
                    <ul class="sub-menu">
                        <li><a href="element-alerts.html">Element Alerts</a></li>
                        <li><a href="element-button.html">Element Button</a></li>
                        <li><a href="element-form.html">Element Form</a></li>
                        <li><a href="element-list.html">Element List</a></li>
                        <li><a href="element-pagination.html">Element Pagination</a></li>
                        <li><a href="element-skill.html">Element Skill</a></li>
                        <li><a href="element-tab-accordion.html">Element Tab & Accordion</a></li>
                        <li><a href="element-tooltip.html">Element Tooltip</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">blog</a><span class="expand-menu">+</span>
                    <ul class="sub-menu">
                        <li><a href="#">Blog</a><span class="expand-menu">+</span>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Blog Details</a><span class="expand-menu">+</span>
                            <ul class="sub-menu">
                                <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                <li><a href="blog-details.html">Blog Details Right Sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

    </div>
    
    <!-- Hero Section Start -->
    <div class="hero-slider hero-slider-two hero-section section">
           
        <!-- Hero Slide Item -->
        <div class="item bg-light-gray container-fluid">
            <div class="row flex-row-reverse">

                <!-- Hero Two Content Start -->
                <div class="hero-two-image overlay-blue overlay-opacity-70 col-lg-6 col-12" style="background-image: url(img/bg/hero.jpg)">

                    <img src="img/hero/1.png" alt="hero image">
                    
                    <div class="details">
                        <h4>Mickel Jackbar</h4>
                        <h4>(Business Consultent)</h4>
                    </div>

                </div><!-- Hero Two Content End -->

                <!-- Hero Two Content Start -->
                <div class="hero-two-content col-lg-6 col-12">

                    <h1>Financial Improvement for Company.</h1>
                    <a href="#" class="btn btn-blue btn-hover-red">read more</a>

                </div><!-- Hero Two Content End -->

            </div>
        </div>
        
        <!-- Hero Slide Item -->
        <div class="item bg-light-gray container-fluid">
            <div class="row flex-row-reverse">

                <!-- Hero Two Content Start -->
                <div class="hero-two-image overlay-blue overlay-opacity-70 col-lg-6 col-12" style="background-image: url(img/bg/hero.jpg)">

                    <img src="img/hero/2.png" alt="hero image">
                    
                    <div class="details">
                        <h4>Mickel Jackbar</h4>
                        <h4>(Business Consultent)</h4>
                    </div>

                </div><!-- Hero Two Content End -->

                <!-- Hero Two Content Start -->
                <div class="hero-two-content col-lg-6 col-12">

                    <h1>Financial Improvement for Company.</h1>
                    <a href="#" class="btn btn-blue btn-hover-red">read more</a>

                </div><!-- Hero Two Content End -->

            </div>
        </div>
            
    </div><!-- Hero Section End -->
    
    <!-- About Section Start -->
    <div class="about-section section pt-120 pb-90">
        <div class="container">
            <div class="row">
               
                <!-- About Video Slider -->
                <div class="about-video-slider col-12">
                   
                    <!-- Single Item -->
                    <div class="item row">

                        <!-- About Image -->
                        <div class="about-image-two col-lg-6 col-12 mb-30">
                            <div class="about-image-two-wrapper overlay-blue overlay-opacity-40">
                                <img src="img/about/about-2.jpg" alt="about">
                                <a href="https://www.youtube.com/watch?v=kuceVNBTJio" class="video-popup"><i class="pe-7s-play"></i></a>
                            </div>
                        </div>

                        <!-- About Content -->
                        <div class="about-content-two col-lg-6 col-12 mb-30">

                            <h3>13 Feb 2018.</h3>
                            <h1>Growup Yor Business, Improve Poductivety.</h1>
                            <p>Lorem Ipsum is simply dummy the printing ypesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            
                            <div class="info">
                                <h5>Brittany Cruz</h5>
                                <h6>CEO Tomas BD</h6>
                            </div>

                        </div>

                    </div>
                    
                    <!-- Single Item -->
                    <div class="item row">

                        <!-- About Image -->
                        <div class="about-image-two col-lg-6 col-12 mb-30">
                            <div class="about-image-two-wrapper overlay-blue overlay-opacity-40">
                                <img src="img/about/about-2.jpg" alt="about">
                                <a href="https://www.youtube.com/watch?v=kuceVNBTJio" class="video-popup"><i class="pe-7s-play"></i></a>
                            </div>
                        </div>

                        <!-- About Content -->
                        <div class="about-content-two col-lg-6 col-12 mb-30">

                            <h3>15 Feb 2018.</h3>
                            <h1>Growup Yor Business, Improve Poductivety.</h1>
                            <p>Lorem Ipsum is simply dummy the printing ypesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            
                            <div class="info">
                                <h5>Brittany Cruz</h5>
                                <h6>CEO Tomas BD</h6>
                            </div>

                        </div>

                    </div>
                    
                    <!-- Single Item -->
                    <div class="item row">

                        <!-- About Image -->
                        <div class="about-image-two col-lg-6 col-12 mb-30">
                            <div class="about-image-two-wrapper overlay-blue overlay-opacity-40">
                                <img src="img/about/about-2.jpg" alt="about">
                                <a href="https://www.youtube.com/watch?v=kuceVNBTJio" class="video-popup"><i class="pe-7s-play"></i></a>
                            </div>
                        </div>

                        <!-- About Content -->
                        <div class="about-content-two col-lg-6 col-12 mb-30">

                            <h3>15 Feb 2018.</h3>
                            <h1>Growup Yor Business, Improve Poductivety.</h1>
                            <p>Lorem Ipsum is simply dummy the printing ypesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            
                            <div class="info">
                                <h5>Brittany Cruz</h5>
                                <h6>CEO Tomas BD</h6>
                            </div>

                        </div>

                    </div>
                    
                </div>
                
            </div>
        </div>
    </div><!-- About Section End -->
    
    <!-- Event Schedule Section Start -->
    <div class="event-schedule-section event-schedule-section-two bg-light-gray section pt-120 pb-120">
        <div class="container">
           
            <!-- Section Title Style Two -->
            <div class="row">
                <div class="section-title-two text-center col pb-60">
                    <h5>Take your Plan Now</h5>
                    <h1>Event Schedule</h1>
                </div>
            </div>
           
            <div class="row">
               
                <!-- Event Two List Start-->
                <ul class="event-two-schedule-list col-12">

                    <!-- Event Two Single Event Start-->
                    <li class="event-two-single-schedule">

                        <!-- Title -->
                        <div class="title float-left">
                            <h4><a href="event-details.html">Business Progress & Improvement Learning Process. (BPI)</a></h4>
                        </div>
                        
                        <!-- Event Speakers -->
                        <div class="event-speakers float-left">
                           
                            <!-- Speaker -->
                            <div class="speaker float-left">
                               
                                <!-- Speaker Info -->
                                <div class="speaker-info float-left">
                                    
                                    <!-- Image -->
                                    <div class="image float-left">
                                        <img src="img/speaker/6.jpg" alt="speaker">
                                    </div>
                                    
                                    <!-- Content -->
                                    <div class="content float-left">
                                        <h4><a href="speaker-profile.html">Jonathon Devid</a></h4>
                                        <p>Business Expert</p>
                                    </div>
                                    
                                </div>
                        
                                <!-- Time & place -->
                                <div class="time-place float-left">
                                    <div class="time-place-wrap">
                                        <h5>09:00 am - 11:30 am</h5>
                                        <h5>Sowth Hall, Room 15</h5>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>

                        <!-- Buy Button -->
                        <div class="buy-button float-left">
                            <a href="#" class="btn btn-blue btn-hover-red">Buy Ticket</a>
                        </div>

                    </li><!-- Event Two Single Event End-->

                    <!-- Event Two Single Event Start-->
                    <li class="event-two-single-schedule">

                        <!-- Title -->
                        <div class="title float-left">
                            <h4><a href="event-details.html">Business Progress & Improvement Learning Process. (BPI)</a></h4>
                        </div>
                        
                        <!-- Event Speakers -->
                        <div class="event-speakers float-left">
                           
                            <!-- Speaker -->
                            <div class="speaker float-left">
                               
                                <!-- Speaker Info -->
                                <div class="speaker-info float-left">
                                    
                                    <!-- Image -->
                                    <div class="image float-left">
                                        <img src="img/speaker/7.jpg" alt="speaker">
                                    </div>
                                    
                                    <!-- Content -->
                                    <div class="content float-left">
                                        <h4><a href="speaker-profile.html">Nicholas Watkins</a></h4>
                                        <p>Business Expert</p>
                                    </div>
                                    
                                </div>
                        
                                <!-- Time & place -->
                                <div class="time-place float-left">
                                    <div class="time-place-wrap">
                                        <h5>09:00 am - 09:45 am</h5>
                                        <h5>Sowth Hall, Room 13</h5>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <!-- Speaker -->
                            <div class="speaker float-left">
                                <!-- Speaker Info -->
                                <div class="speaker-info float-left">
                                    
                                    <!-- Image -->
                                    <div class="image float-left">
                                        <img src="img/speaker/8.jpg" alt="speaker">
                                    </div>
                                    
                                    <!-- Content -->
                                    <div class="content float-left">
                                        <h4><a href="speaker-profile.html">Andrew Payne</a></h4>
                                        <p>Business Expert</p>
                                    </div>
                                    
                                </div>
                        
                                <!-- Time & place -->
                                <div class="time-place float-left">
                                    <div class="time-place-wrap">
                                        <h5>09:45 am - 10:30 am</h5>
                                        <h5>Sowth Hall, Room 13</h5>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- Speaker -->
                            <div class="speaker float-left">
                                <!-- Speaker Info -->
                                <div class="speaker-info float-left">
                                    
                                    <!-- Image -->
                                    <div class="image float-left">
                                        <img src="img/speaker/9.jpg" alt="speaker">
                                    </div>
                                    
                                    <!-- Content -->
                                    <div class="content float-left">
                                        <h4><a href="speaker-profile.html">Jane Payne</a></h4>
                                        <p>Business Expert</p>
                                    </div>
                                    
                                </div>
                        
                                <!-- Time & place -->
                                <div class="time-place float-left">
                                    <div class="time-place-wrap">
                                        <h5>10:30 am - 11:15 am</h5>
                                        <h5>Sowth Hall, Room 13</h5>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>

                        <!-- Buy Button -->
                        <div class="buy-button float-left">
                            <a href="#" class="btn btn-blue btn-hover-red">Buy Ticket</a>
                        </div>

                    </li><!-- Event Two Single Event End-->

                    <!-- Event Two Single Event Start-->
                    <li class="event-two-single-schedule">

                        <!-- Title -->
                        <div class="title float-left">
                            <h4><a href="event-details.html">Business Progress & Improvement Learning Process. (BPI)</a></h4>
                        </div>
                        
                        <!-- Event Speakers -->
                        <div class="event-speakers float-left">
                           
                            <!-- Speaker -->
                            <div class="speaker float-left">
                               
                                <!-- Speaker Info -->
                                <div class="speaker-info float-left">
                                    
                                    <!-- Image -->
                                    <div class="image float-left">
                                        <img src="img/speaker/10.jpg" alt="speaker">
                                    </div>
                                    
                                    <!-- Content -->
                                    <div class="content float-left">
                                        <h4><a href="speaker-profile.html">Andrew Payne</a></h4>
                                        <p>Business Expert</p>
                                    </div>
                                    
                                </div>
                        
                                <!-- Time & place -->
                                <div class="time-place float-left">
                                    <div class="time-place-wrap">
                                        <h5>09:00 am - 11:30 am</h5>
                                        <h5>Sowth Hall, Room 14</h5>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>

                        <!-- Buy Button -->
                        <div class="buy-button float-left">
                            <a href="#" class="btn btn-blue btn-hover-red">Buy Ticket</a>
                        </div>

                    </li><!-- Event Two Single Event End-->

                </ul><!-- Event One List End-->
                
            </div>
            
        </div>
    </div><!-- Event Schedule Section End -->
    
    <!-- CTA Section Start -->
    <div class="cta-section section overlay-blue overlay-opacity-70 pt-100 pb-110" style="background-image: url(img/bg/cta.jpg)">
        <div class="container">
            <div class="row">
                
                <!-- Event One Tab Content Start -->
                <div class="cta-content white text-center col-12">
                    <h1>Take your sit, & don’t forget to recive all updates</h1>
                    <h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</h4>
                    <a href="#" class="btn btn-light btn-hover-light-outline">Buy Now</a>
                </div>
                
            </div>
        </div>
    </div><!-- Partners Section End -->
    
    <!-- Latest News Section Start -->
    <div class="news-section section pt-120 pb-90">
        <div class="container">
           
            <!-- Section Title Style Two -->
            <div class="row">
                <div class="section-title-two text-center col pb-60">
                    <h5>Be Up to date</h5>
                    <h1>Latest News</h1>
                </div>
            </div>
            
            <div class="row">
                
                <!-- Blog Item Start -->
                <div class="blog-item col-lg-4 col-md-6 col-12 mb-30">
                    
                    <!-- Image -->
                    <a href="blog-details.html" class="image"><img src="img/blog/1.jpg" alt="blog"></a>
                    
                    <!-- Content -->
                    <div class="content fix">
                        
                        <span class="date">13 feb, 2018</span>
                        
                        <h3 class="title"><a href="blog-details.html">Take your Business to High</a></h3>
                        
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                        
                        <a href="blog-details.html" class="read-more">Read More</a>
                        
                    </div>
                    
                </div><!-- Blog Item Start -->
                
                <!-- Blog Item Start -->
                <div class="blog-item col-lg-4 col-md-6 col-12 mb-30">
                    
                    <!-- Image -->
                    <a href="blog-details.html" class="image"><img src="img/blog/2.jpg" alt="blog"></a>
                    
                    <!-- Content -->
                    <div class="content fix">
                        
                        <span class="date">12 feb, 2018</span>
                        
                        <h3 class="title"><a href="blog-details.html">20 Myths About Business</a></h3>
                        
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                        
                        <a href="blog-details.html" class="read-more">Read More</a>
                        
                    </div>
                    
                </div><!-- Blog Item Start -->
                
                <!-- Blog Item Start -->
                <div class="blog-item col-lg-4 col-md-6 col-12 mb-30">
                    
                    <!-- Image -->
                    <a href="blog-details.html" class="image"><img src="img/blog/3.jpg" alt="blog"></a>
                    
                    <!-- Content -->
                    <div class="content fix">
                        
                        <span class="date">10 feb, 2018</span>
                        
                        <h3 class="title"><a href="blog-details.html">10 Quick Tips About Business</a></h3>
                        
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                        
                        <a href="blog-details.html" class="read-more">Read More</a>
                        
                    </div>
                    
                </div><!-- Blog Item Start -->
                
            </div>
            
        </div>
    </div><!-- Latest News Section End -->
    
    <!-- Subscribe Section Start -->
    <div class="subscribe-section section overlay-blue overlay-opacity-80 pt-150 pb-120" style="background-image: url(img/bg/subscribe.jpg)">
        <div class="container">
            <div class="row">
                
                <!-- Subscribe Content One -->
                <div class="subscribe-content-one col-lg-6 col-12 mb-30">
                    <h2>Get All That update for event. <br>Make yourself ready. Subscribe Here.</h2>
                </div>
                
                <!-- Subscribe Form One -->
                <div class="subscribe-form-one col-lg-6 col-12 mb-30">
                    
                    <!-- Newsletter Form -->
                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL" class="d-none">Subscribe to our mailing list</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your E-mail Address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">subscribe</button>
                        </div>
                    </form>
                    
                </div>
                
            </div>
        </div>
    </div><!-- Fubscribe Section End -->
    
    <!-- Product Section Start -->
    <div class="product-section section pt-120 pb-120">
        <div class="container">
           
            <!-- Section Title Style Two -->
            <div class="row">
                <div class="section-title-two text-center col pb-60">
                    <h5>Collected Your event Product</h5>
                    <h1>Latest Product</h1>
                </div>
            </div>
            
            <div class="row">
                <!-- Product Slider Start -->
                <div class="product-slider">

                    <!-- Product Item Start -->
                    <div class="col">

                        <div class="product-item">
                            
                            <!-- Image -->
                            <a href="product-details.html" class="image"><img src="img/product/1.jpg" alt="product"></a>
                            
                            <!-- Label -->
                            <span class="label">sell</span>
                            
                            <!-- Wishlist -->
                            <a href="#" class="wishlist"><i class="pe-7s-like"></i></a>
                            
                            <!-- Content -->
                            <div class="content fix">
                                
                                <!-- Details -->
                                <div class="details float-left">
                                    <h4><a href="product-details.html">Eventpro Cap</a></h4>
                                    <span>$40.00</span>
                                </div>
                                
                                <!-- Add To Cart -->
                                <a href="#" class="add-to-cart"><i class="pe-7s-cart"></i></a>
                            </div>
                        </div>

                    </div><!-- Product Item End -->

                    <!-- Product Item Start -->
                    <div class="col">

                        <div class="product-item">
                            
                            <!-- Image -->
                            <a href="product-details.html" class="image"><img src="img/product/2.jpg" alt="product"></a>
                            
                            <!-- Label -->
                            <span class="label">sell</span>
                            
                            <!-- Wishlist -->
                            <a href="#" class="wishlist"><i class="pe-7s-like"></i></a>
                            
                            <!-- Content -->
                            <div class="content fix">
                                
                                <!-- Details -->
                                <div class="details float-left">
                                    <h4><a href="product-details.html">Eventpro Notebook</a></h4>
                                    <span>$40.00</span>
                                </div>
                                
                                <!-- Add To Cart -->
                                <a href="#" class="add-to-cart"><i class="pe-7s-cart"></i></a>
                            </div>
                        </div>

                    </div><!-- Product Item End -->

                    <!-- Product Item Start -->
                    <div class="col">

                        <div class="product-item">
                            
                            <!-- Image -->
                            <a href="product-details.html" class="image"><img src="img/product/3.jpg" alt="product"></a>
                            
                            <!-- Label -->
                            <span class="label">sell</span>
                            
                            <!-- Wishlist -->
                            <a href="#" class="wishlist"><i class="pe-7s-like"></i></a>
                            
                            <!-- Content -->
                            <div class="content fix">
                                
                                <!-- Details -->
                                <div class="details float-left">
                                    <h4><a href="product-details.html">Eventpro T-shart</a></h4>
                                    <span>$40.00</span>
                                </div>
                                
                                <!-- Add To Cart -->
                                <a href="#" class="add-to-cart"><i class="pe-7s-cart"></i></a>
                            </div>
                        </div>

                    </div><!-- Product Item End -->

                    <!-- Product Item Start -->
                    <div class="col">

                        <div class="product-item">
                            
                            <!-- Image -->
                            <a href="product-details.html" class="image"><img src="img/product/4.jpg" alt="product"></a>
                            
                            <!-- Label -->
                            <span class="label">sell</span>
                            
                            <!-- Wishlist -->
                            <a href="#" class="wishlist"><i class="pe-7s-like"></i></a>
                            
                            <!-- Content -->
                            <div class="content fix">
                                
                                <!-- Details -->
                                <div class="details float-left">
                                    <h4><a href="product-details.html">Eventpro Cup</a></h4>
                                    <span>$40.00</span>
                                </div>
                                
                                <!-- Add To Cart -->
                                <a href="#" class="add-to-cart"><i class="pe-7s-cart"></i></a>
                                
                            </div>
                        </div>

                    </div><!-- Product Item End -->

                </div><!-- Product Slider End -->
                
            </div>
            
        </div>
    </div><!-- Product Section End -->
    
    <!-- Testimonial Section Start -->
    <div class="testimonial-section section overlay-blue overlay-opacity-80 pt-120 pb-120" style="background-image: url(img/bg/testimonial.jpg)">
        <div class="container">
           
            <!-- Testimonial Title -->
            <div class="row">
                <div class="testimonial-title text-center col pb-40">
                    <h1>Testimonial</h1>
                </div>
            </div>
            
            <div class="row">
                
                <!-- Testimonial Slider One -->
                <div class="testimonial-slider-one text-center col-lg-8 ml-auto mr-auto">
                    
                    <!-- Single Testimonial -->
                    <div class="single-testimonial-one">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or  which don't look even slightly believable.</p>
                        <h4>Momen Bhuiyan</h4>
                        <h5>Graphic Designer</h5>
                    </div>
                    
                    <!-- Single Testimonial -->
                    <div class="single-testimonial-one">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or  which don't look even slightly believable.</p>
                        <h4>Momen Bhuiyan</h4>
                        <h5>Graphic Designer</h5>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div><!-- Testimonial Section End -->
    
    
    <!-- Map Section Start -->
    <div id="map-two" class="home-google-map"></div>
    <!-- Map Section End -->
    
    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom section bg-light-gray">
        <div class="container">
            <div class="row">
                
                <!-- Copyright Text Two -->
                <div class="copyright-two text-left col-md-6 col-12">
                    
                    <p>Copyright &copy; 2017 <a href="https://hastech.company/">Hastech</a> All right resurved</p>
                    
                </div>
                
                <!-- Footer Menu -->
                <div class="footer-menu text-right col-md-6 col-12">
                    
                    <nav>
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Tarms</a></li>
                        </ul>
                    </nav>
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- Footer Bottom Section End -->
    
</div>


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="js/plugins.js"></script>
<!-- HoverDir JS -->
<script src="js/jquery.hoverdir.js"></script>
<!-- Ajax Mail JS -->
<script src="js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>
<!-- Google Map Api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlZPf84AAVt8_FFN7rwQY5nPgB02SlTKs"></script>
<!-- Google Map Activation -->
<script src="map/map-two.js"></script>

</body>

</html>