// main: style.scss
/// Default color variables

$accent-color: #2dc997;
$heading-color: #333333;
$text-color: #666666;

/// Fonts Variables
$accent-font: 'Poppins', sans-serif;
$heading-font: 'Poppins', sans-serif;
$text-font: 'Open Sans', sans-serif;
