/* large desktop :1400px. */
@media (min-width: 1400px) and (max-width: 2000px) {
    .nivo_text .slider-text-1 h1 span, .nivo_text .slider-text-1 h1 {font-size: 62px}
    
}
/* desktop 1200px to 1399px */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.container {width:970px}
    .mainmenu ul li {margin-right: 40px}  
    .newsletter-info > form {width: 368px}
    .about-info {padding: 51px 30px}
    .about-us-area::before,.about-us-area::after  {height: 51.6%}
    .total {width: 286px}
    #grid ul.cart-metalic {margin-top: 0}
    .single-left-widget .section-title ul.size-widget li a {padding: 10px 16px}
    .single-product-info h5:nth-child(3) {margin-bottom: 10px}
    #list ul.cart-metalic {margin-top: 25px}
    .slider-bottom-left-text h1, .slider-bottom-middle-text h1, .slider-bottom-right-text h1, .slider-bottom-right-bottom-text h1 {font-size: 25px}
    .slider-bottom-right-text h1, .slider-bottom-right-bottom-text h1 {font-size: 16px}
    .product-thumb ul li {width: 22%}
    .slider-bottom-right-bottom {margin-top: 20px}
    .single-product-info {padding: 28px 30px 23px}
    .shop-product-list.col-md-12 .col-lg-8 {margin-left: -18px}
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.container {width:750px}
    .mobile-menu-area {display:block}
    .mainmenu, .zoomContainer {display: none}
    .slider-bottom-left-text h1, .slider-bottom-middle-text h1, .slider-bottom-right-text h1, .slider-bottom-right-bottom-text h1 {
  font-size: 16px}
    .product-thumb ul li {width: 18%}
    .slider-bottom-right-text h1, .slider-bottom-right-bottom-text h1 {font-size: 12px}
    .footer-widget.address .footer-address:nth-child(2) {margin-bottom: 30px}
    .slider-bottom-right-bottom {margin-top: 12px}
    ul.cart-metalic {margin-top: 0}
    .off-banner-text {padding: 80px 0}
    .about-us-area::before, .about-us-area::after  {background: none; border: none}
    .who-wrapper::before {border: none;}
    .about-info{border-left: 1px solid #eee}
    .col-md-10.col-md-offset-1.team-padding {padding-left: 15px; padding-right: 15px}
    .product-detail.single-product-info, .registered-user, .contact-address{padding-top: 50px}
    .cart_list tbody td {padding: 20px 5px}
    .cart_list tbody td.product_des {padding: 0 20px}
    .single-left-widget .section-title ul.size-widget li a {padding: 10px 69.6px}
    #list .single-product-info h5:nth-child(3) {margin-bottom: 6px}
    #list .single-product-info{border-left: 1px solid #eee}
    .single-member-info p {margin-bottom: 15px}
}
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
    .mobile-menu-area, .description-tab-menu ul li {display:block}
    .mainmenu, .nivo-directionNav, .zoomContainer{display: none}
    .header-area {position: inherit}
    .single-product-info {border-left: 1px solid #eee}
    .description-tab-menu ul li {float: none}
    .slider-bottom-left, .slider-bottom-middle, .slider-bottom-right, .slider-bottom-right-bottom {margin-bottom: 30px}
    .single-service, .single-member-img{margin-bottom: 30px}
    .footer-widget{margin-bottom: 50px}
    .product-thumb ul li {width: 19.8%}
    .off-banner-text {padding: 80px 0}
    .newsletter-info > form {width: 270px}
    .newsletter-info > h2, .#list .shop-product-list single-product, #list .shop-product-list .single-product{margin-top: 30px}
    .about-us-area::before, .about-us-area::after  {background: none; border: none}
    .who-wrapper::before {border: none;}
    .about-info{border-left: 1px solid #eee}
    .arrival-area, .service-area.shop{padding-top: 0px}
    .col-md-10.col-md-offset-1.team-padding {padding-left: 15px; padding-right: 15px}
    .single-member-img > img{width:100%}
    .product-detail.single-product-info, .registered-user, .contact-address, .arrival-area.checkout{padding-top: 50px}
    .newsletter-info > form > button {width: 60px}
    .cart_list tbody td {padding: 20px 5px}
    .cart_list tbody td.product_des {padding: 0 20px}
    .total {margin-left: 0; width: 296px}
    .banner-text-wrapper {padding: 75px 0 90px}
    .contact-address-wrapper {padding: 50px 30px}
    #list .shop-product-list.col-md-12 .col-lg-8 {margin-left: 0; padding-left:15px; padding-right: 15px}
     {margin-top: 30px}
    .shop-grid-area .container .row:last-child, .newsletter-info, .arrival-area{padding-top: 30px}
    .single-left-widget.padding-none {margin-bottom: 0}
    #list .shop-product-list .single-product { margin-top: 0px;}
    .nivo-caption {top: 38%}
    .nivo_text .slider-text-1 h1 {font-size: 25px; margin-bottom: 20px}
    .nivo_text .slider-text-1 h1 span, .nivo_text .slider-text-1 h1 {font-size: 20px}
    .nivo-caption a {display: none !important;}
    .slider-bottom-left-text h1, .slider-bottom-middle-text h1, .slider-bottom-right-text h1, .slider-bottom-right-bottom-text h1 {font-size: 16px}
    .slider-bottom-right-text h1, .slider-bottom-right-bottom-text h1 {font-size: 20px}
    .slider-bottom-left-text h3, .slider-bottom-middle-text h3, .slider-bottom-right-text h3, .slider-bottom-right-bottom-text h3 {font-size: 14px}
    .slider-bottom-right-text h1, .slider-bottom-right-bottom-text h1, .single-service-info h5 {font-size: 14px}
    .single-service-info {margin-top: 10px}
    .single-product-hover {opacity: 1}
    .about-us-area .section-title {padding-bottom: 60px}
    .about-info, .about-img {padding: 30px}
    .arrival-owl.owl-theme .owl-controls .owl-nav div {font-size: 25px}
    .single-service {padding: 30px 0 30px 15px}
    .single-service-icon {margin-right: 6px}
    .single-service-icon i {font-size: 28px}
    .service-area { padding: 30px 0}
}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {width:450px}
    .mobile-menu-area {display:block}
    .mainmenu {display: none}
    .product-thumb ul li {width: 21.5%}
    .hover-effect img, .single-product-img img {width: 100%}
    .slider-bottom-middle-text {top: 57%}
    .newsletter-info > form {width: 425px}
    .footer-widget.address .footer-address:nth-child(2) {margin-bottom: 30px}
    .single-left-widget .section-title ul.size-widget li a {padding: 10px 32px}
    .slider-bottom-left-text h1, .slider-bottom-middle-text h1, .slider-bottom-right-text h1, .slider-bottom-right-bottom-text h1 {font-size: 25px}
    .slider-bottom-right-text h1, .slider-bottom-right-bottom-text h1 {font-size: 20px}
}