<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Four - Drubo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="shortcut icon" type="image/x-icon" href="images/icon/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
	<!-- Nivo Slider -->
    <link rel="stylesheet" href="css/nivo-slider.css">
	<!-- Magnific Popup Css -->
    <link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Material design iconic font Css -->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
	<!-- Venubox Css -->
    <link rel="stylesheet" href="css/venobox.css">
	<!-- animated heading.js -->
	<link rel="stylesheet" href="css/animate-heading.css">
	<!-- Owl carsoul Css -->
    <link rel="stylesheet" href="css/plugins/owl.carousel.css">
	<!-- Mean Menu Css -->
    <link rel="stylesheet" href="css/plugins/meanmenu.min.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="css/custom.css">
	<!-- Style customizer Css -->
	<link href="#" data-style="styles" rel="stylesheet">
    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper black-bg text-white dark-version">
        <!-- Start of header area -->
        <header class="header-area-2 header-wrapper headroom">
			<!-- Header Top Area Start -->
			<div class="header-top-area ptb-25">
				<div class="container">
					<div class="row">
						<!-- Logo Area -->
						<div class="col-md-2 col-sm-12">
							<div class="logo-area">
								<a href="index.html"><img src="images/logo/1.png" alt="" /></a>
							</div>
						</div>
						<!-- Logo Area -->
						<!-- Menu Area -->
						<div class="col-md-8 col-sm-12 hidden-xs">
							<div class="main-menu">
								<nav>
									<ul id="nav">
										<li class="active"><a href="index.html">Home</a>
											<ul>
												<li><a href="index.html">Home Version One</a></li>
												<li><a href="index-2.html">Home Version Two</a></li>
												<li><a href="index-3.html">Home Version Three</a></li>
												<li><a href="index-4.html">Home Version Four</a></li>
												<li><a href="index-5.html">Home Version Five</a></li>
											</ul>
										</li>
										<li><a href="about-us.html">About</a></li>
										<li><a href="blog.html">Blog</a></li>
										<li><a href="#">Services</a></li>
										<li><a href="#">Shortcode</a>
											<div class="mega-menu">
												<ul class="single">
													<li><a href="shortcode-tab.html">Tab</a></li>
													<li><a href="shortcode-video.html">Video</a></li>
													<li><a href="shortcode-testimonial.html">Testimonial</a></li>
													<li><a href="shortcode-testimonial-two.html">Testimonial Two</a></li>
													<li><a href="shortcode-portfolio.html">Portfolio</a></li>
													<li><a href="shortcode-counterup.html">Counter Up</a></li>
												</ul>
												<ul class="single">											
													<li><a href="shortcode-portfolio-two.html">Portfolio Two</a></li>
													<li><a href="shortcode-pricingtable.html">Pricing Table</a></li>
													<li><a href="shortcode-pricingtable-two.html">Pricing Table two</a></li>
													<li><a href="shortcode-ourblog.html">Blog</a></li>
													<li><a href="shortcode-ourblog-two.html">Blog Two</a></li>
													<li><a href="shortcode-progress.html">Progress Bar</a></li>
												</ul>
												<ul class="single">											
													<li><a href="shortcode-ourservice.html">Our Service</a></li>
													<li><a href="shortcode-ourservice-two.html">Our Service Two</a></li>
													<li><a href="shortcode-brand.html">Brand</a></li>
													<li><a href="shortcode-brand-two.html">Brand Two</a></li>
													<li><a href="shortcode-ourteam.html">Our Team</a></li>
													<li><a href="shortcode-wework.html">We Work</a></li>
												</ul>
												<ul class="single">											
													<li><a href="shortcode-aboutus.html">About Us</a></li>
													<li><a href="shortcode-choiceus.html">Choice Us</a></li>
													<li><a href="shortcode-map.html">Map</a></li>
													<li><a href="shortcode-mission-vission.html">Mission Vission</a></li>
													<li><a href="shortcode-specality.html">Speciality</a></li>
													<li><a href="shortcode-contact-form.html">Contact Form</a></li>
												</ul>
											</div>	
										</li>
										<li><a href="portfolio.html">Portfolio</a></li>
										<li><a href="#">Page</a>
											<ul>
												<li><a href="about-us.html">About</a></li>
												<li><a href="blog.html">Blog</a></li>
												<li><a href="blog-details.html">Blog Details</a></li>
												<li><a href="portfolio.html">Portfolio</a></li>
												<li><a href="portfolio-details.html">Portfolio Details</a></li>
												<li><a href="404.html">404 Error</a></li>
												<li><a href="contact-us.html">Contact Us</a></li>
											</ul>
										</li>
										<li><a href="contact-us.html">Contact Us</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<!-- Menu Area -->
						<!-- MOBILE-MENU-AREA START --> 
						<div class="mobile-menu-area">
							<div class="container">
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<div class="mobile-menu">
											<nav id="mobile-nav">
												<ul>
													<li><a href="index.html">Home </a>
														<ul>
															<li><a href="index.html">Home version one</a></li>
															<li><a href="index-2.html">Home Version two</a></li>
															<li><a href="index-3.html">Home Version Three</a></li>
															<li><a href="index-4.html">Home Version Four</a></li>
															<li><a href="index-5.html">Home Version Five</a></li>
														</ul>
													</li>
													<li><a href="about-us.html"> About Us </a></li>
													<li><a href="blog.html">Blog</a></li>
													<li><a href="blog-details.html">Blog Details</a></li>
													<li><a href="portfolio.html">Portfolio</a></li>
													<li><a href="portfolio-details.html">Portfolio Details</a></li>
													<li><a href="404.html">404 Error</a></li>
													<li><a href="contact-us.html">Contact</a></li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- MOBILE-MENU-AREA END  -->
						<!-- Social Icon -->
						<div class="col-md-2 col-sm-12">
							<div class="social-rotate f-right mt-10">
								<ul>
									<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
									<li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
									<li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
									<li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<!-- Social Icon -->
					</div>
				</div>
			</div>
			<!-- Header Top Area End -->
        </header>
        <!-- End of header area -->
        <!-- Animate slider area Start -->
		<div class="animate-slider two">
			<div class="slider-warper">
				<div class="slider-img">
					<img src="images/slider/home-2/1.jpg" alt="" title="" />
				</div>
				<!-- direction 1 -->
				<div class="slide-text text-center">
					<div class="text-titel wow rotateInDownLeft text-uppercase text-black cd-headline loading-bar">
						<span>CREATIVE WORK PLAN FOR </span>
						<span class="cd-words-wrapper">
							<b class="is-visible">BUSINESS</b>
							<b>Future</b>
							<b>Skill</b>
						</span>
					</div>
					<p class="wow rotateInDownLeft text-white text-uppercase" data-wow-duration="0.5s" data-wow-delay="0.5s">Complete your site with us creative work plan for
					business</p>
					<div class="button-box">
						<a href="#" class="btn-one text-uppercase wow rotateInDownLeft"  data-wow-duration="0.3s" data-wow-delay="0.5s">EXPLORE NOW</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Animate slider area End -->
		<!-- Our Specialty Area Start -->
		<section class="specialty-area">
			<div class="container-fluid">
				<!-- Specialty Single -->
				<div class="specialty-single two">
					<div class="icon-titel">
						<i class="fa fa-heart" aria-hidden="true"></i>
						<h6>Great Support</h6>
					</div>
					<div class="spe-discribe">
						<p>Lorem ipsum dolor sit amet, consectetur ish  dipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et .</p>
					</div>
				</div>
				<!-- Specialty Single -->
				<!-- Specialty Single -->
				<div class="specialty-single two">
					<div class="icon-titel">
						<i class="fa fa-anchor" aria-hidden="true"></i>
						<h6>pixel perfect</h6>
					</div>
					<div class="spe-discribe">
						<p>Lorem ipsum dolor sit amet, consectetur ish  dipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et .</p>
					</div>
				</div>
				<!-- Specialty Single -->
				<!-- Specialty Single -->
				<div class="specialty-single two hidden-xs">
					<div class="icon-titel">
						<i class="fa fa-diamond" aria-hidden="true"></i>
						<h6>creative design</h6>
					</div>
					<div class="spe-discribe">
						<p>Lorem ipsum dolor sit amet, consectetur ish  dipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et .</p>
					</div>
				</div>
				<!-- Specialty Single -->
				<!-- Specialty Single -->
				<div class="specialty-single two hidden-xs">
					<div class="icon-titel">
						<i class="fa fa-desktop" aria-hidden="true"></i>
						<h6>retina ready</h6>
					</div>
					<div class="spe-discribe">
						<p>Lorem ipsum dolor sit amet, consectetur ish  dipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et .</p>
					</div>
				</div>
				<!-- Specialty Single -->
			</div>
		</section>
		<!-- Our Specialty Area End -->
		<!-- About Us Area Start -->
		<section class="aboutus-area ptb-100 two">
			<div class="container">
				<div class="row">
					<!-- About Content -->
					<div class="col-md-6 col-sm-6">
						<div class="about-content">
							<h1>ABOUT CORPLEX</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
							<p>Pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
						</div>
						<!-- Social Icon -->
						<div class="social-rotate pt-15">
							<ul>
								<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
								<li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
								<li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
								<li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
							</ul>
						</div>
						<!-- Social Icon -->
						<div class="read-more-btn mt-45">
							<a href="#">Read More</a>
						</div>
					</div>
					<!-- About Content -->
					<!-- About Left Image -->
					<div class="col-md-6 col-sm-6">
						<div class="abt-left-pic mt-200">
							<img src="images/other/about-1.png" alt="" />
						</div>
					</div>
					<!-- About Left Image -->
				</div>
			</div>
		</section>
		<!-- About Us Area Start -->
		<!-- Our Succesful Area Start -->
		<section class="successful-area bg-4 pt-115 pb-100 overlay">
			<div class="container-fluid">
				<!-- Successful Single -->
				<div class="successful-single">
					<div class="sucs-icon">
						<a href="#"><i class="zmdi zmdi-coffee"></i></a>
					</div>
					<div class="sucs-count text-uppercase text-white">
						<h3><span class="counter">200</span></h3>
						<h3>cups of coffee</h3>
					</div>
				</div>
				<!-- Successful Single -->
				<!-- Successful Single -->
				<div class="successful-single">
					<div class="sucs-icon">
						<a href="#"><i class="zmdi zmdi-male-female"></i></a>
					</div>
					<div class="sucs-count text-uppercase text-white">
						<h3><span class="counter">150</span></h3>
						<h3>happy client</h3>
					</div>
				</div>
				<!-- Successful Single -->
				<!-- Successful Single -->
				<div class="successful-single hidden-sm">
					<div class="sucs-icon">
						<a href="#"><i class="zmdi zmdi-check-all"></i></a>
					</div>
					<div class="sucs-count text-uppercase text-white">
						<h3><span class="counter">100</span></h3>
						<h3>successful  project</h3>
					</div>
				</div>
				<!-- Successful Single -->
				<!-- Successful Single -->
				<div class="successful-single">
					<div class="sucs-icon">
						<a href="#"><i class="zmdi zmdi-windows"></i></a>
					</div>
					<div class="sucs-count text-uppercase text-white">
						<h3><span class="counter">50</span></h3>
						<h3>win awards</h3>
					</div>
				</div>
				<!-- Successful Single -->
			</div>
		</section>
		<!-- Our Succesful Area End -->
		<!-- Our Service Area Start -->
		<section class="oursevice-area ptb-100">
			<div class="container">
				<!-- Section Titel -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h1>our services</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
						</div>
					</div>
				</div>
				<!-- Section Titel -->
				<!-- Service Row Area Start -->
				<div class="row pt-70 pb-60 broder-bottom">
					<!-- Service Single -->
					<div class="col-md-4 col-sm-6">
						<div class="ourservice-single text-center">
							<div class="srvc-icon mb-40">
								<a href="#"><i class="fa fa-paint-brush" aria-hidden="true"></i></a>
							</div>
							<div class="srvc-content">
								<h6>graphic design</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standdummy text ever since the 1500s, </p>
							</div>
						</div>
					</div>
					<!-- Service Single -->
					<!-- Service Single -->
					<div class="col-md-4 col-sm-6 hidden-xs">
						<div class="ourservice-single text-center">
							<div class="srvc-icon mb-40">
								<a href="#"><i class="fa fa-mobile" aria-hidden="true"></i></a>
							</div>
							<div class="srvc-content">
								<h6>Mobile App design</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standdummy text ever since the 1500s, </p>
							</div>
						</div>
					</div>
					<!-- Service Single -->
					<!-- Service Single -->
					<div class="col-md-4 hidden-sm hidden-xs">
						<div class="ourservice-single text-center">
							<div class="srvc-icon mb-40">
								<a href="#"><i class="fa fa-camera" aria-hidden="true"></i></a>
							</div>
							<div class="srvc-content">
								<h6>photography</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standdummy text ever since the 1500s, </p>
							</div>
						</div>
					</div>
					<!-- Service Single -->
				</div>
				<!-- Service Row Area End -->
				<!-- Service Row Area Start -->
				<div class="row pt-70">
					<!-- Service Single -->
					<div class="col-md-4 col-sm-6">
						<div class="ourservice-single text-center">
							<div class="srvc-icon mb-40">
								<a href="#"><i class="fa fa-book" aria-hidden="true"></i></a>
							</div>
							<div class="srvc-content">
								<h6>Branding design</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standdummy text ever since the 1500s, </p>
							</div>
						</div>
					</div>
					<!-- Service Single -->
					<!-- Service Single -->
					<div class="col-md-4 col-sm-6 hidden-xs">
						<div class="ourservice-single text-center">
							<div class="srvc-icon mb-40">
								<a href="#"><i class="fa fa-desktop" aria-hidden="true"></i></a>
							</div>
							<div class="srvc-content">
								<h6>development</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standdummy text ever since the 1500s, </p>
							</div>
						</div>
					</div>
					<!-- Service Single -->
					<!-- Service Single --> 
					<div class="col-md-4 hidden-sm hidden-xs">
						<div class="ourservice-single text-center">
							<div class="srvc-icon mb-40">
								<a href="#"><i class="fa fa-laptop" aria-hidden="true"></i></a>
							</div>
							<div class="srvc-content">
								<h6>Web design</h6>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standdummy text ever since the 1500s, </p>
							</div>
						</div>
					</div>
					<!-- Service Single -->
				</div>
				<!-- Service Row Area End -->
			</div>
		</section>
		<!-- Our Service Area End -->
		<!-- Team Our Portfolio Start -->
		<section class="pt-100 pb-110 bg-5 overlay">
			<div class="container">
				<div class="row">
					<div class="team-our-portfolio text-uppercase text-center">
						<h4>if you want to work with xoss team see our portfolio</h4>
						<div class="teambutton-one">
							<a href="#">view portfolio</a>
						</div>
						<div class="teambutton-one">
							<a href="#">subscribe us</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Team Our Portfolio End -->
		<!-- Our Latest Shot Area Start -->
		<section class="latestshot-area pt-100">
			<div class="container">
				<!-- Section Titel -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h1>our latest shot</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
						</div>
					</div>
				</div>
				<!-- Section Titel -->
			</div>
			<!-- Latest Shot Main Area Start -->
			<div class="container-fluid">
				<div class="">
					<!-- Latest Shot/Portfolio Menu Tab -->
					<div class="latest-content">
						<ul class="text-center latestshot-menu mt-55 mb-60 bg-white">
							<li class="active" data-filter="*">All</li>
							<li class="filter" data-filter=".c1">Mobile App design</li>
							<li class="filter" data-filter=".c2">Graphic design</li>
							<li class="filter" data-filter=".c3">Web design</li>
							<li class="filter" data-filter=".c4">Branding design</li>
							<li class="filter" data-filter=".c5">Photography</li>
						</ul>
					</div>
					<!-- Latest Shot/Portfolio Menu Tab -->
					<div class="grid img-full latestshot-box">
						<div class="latestshot-content">
							<div class="grid-sizer grid-item c1">
								<!-- Latest Shot/Portfolio Single -->
								<div class="single-portfolio">
									<div class="image-effect">
										<div class="portfolio-image">
											<a href="#"><img src="images/portfolio-two/1.jpg" alt="" /></a>
											<div class="effect-titel text-uppercase text-center">
												<a href="#"><i class="zmdi zmdi-link"></i></a>
												<h2>product branding</h2>
												<p>Illustration</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Latest Shot/Portfolio Single -->
								<!-- Latest Shot/Portfolio Single -->
								<div class="single-portfolio">
									<div class="image-effect">
										<div class="portfolio-image">
											<a href="#"><img src="images/portfolio-two/2.jpg" alt="" /></a>
											<div class="effect-titel text-uppercase text-center two">
												<a href="#"><i class="zmdi zmdi-link"></i></a>
												<h2>Branding design</h2>
												<p>Graphic design</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Latest Shot/Portfolio Single -->
							</div>
							<div class="grid-item grid-item--width2 c2 c4">
								<!-- Latest Shot/Portfolio Single -->
								<div class="single-portfolio">
									<div class="image-effect">
										<div class="portfolio-image">
											<a href="#"><img src="images/portfolio-two/3.jpg" alt="" /></a>
											<div class="effect-titel text-uppercase text-center three">
												<a href="#"><i class="zmdi zmdi-link"></i></a>
												<h2>development</h2>
												<p>Web design</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Latest Shot/Portfolio Single -->
								<!-- Latest Shot/Portfolio Single -->
								<div class="single-portfolio">
									<div class="image-effect">
										<div class="portfolio-image">
											<a href="#"><img src="images/portfolio-two/4.jpg" alt="" /></a>
											<div class="effect-titel text-uppercase text-center three">
												<a href="#"><i class="zmdi zmdi-link"></i></a>
												<h2>graphic design</h2>
												<p>Illustration</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Latest Shot/Portfolio Single -->
							</div>
							<div class="grid-item c1 c3 c5">
								<!-- Latest Shot/Portfolio Single -->
								<div class="single-portfolio">
									<div class="image-effect">
										<div class="portfolio-image">
											<a href="#"><img src="images/portfolio-two/5.jpg" alt="" /></a>
											<div class="effect-titel text-uppercase text-center two">
												<a href="#"><i class="zmdi zmdi-link"></i></a>
												<h2>development</h2>
												<p>Illustration</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Latest Shot/Portfolio Single -->
								<!-- Latest Shot/Portfolio Single -->
								<div class="single-portfolio">
									<div class="image-effect">
										<div class="portfolio-image">
											<a href="#"><img src="images/portfolio-two/6.jpg" alt="" /></a>
											<div class="effect-titel text-uppercase text-center">
												<a href="#"><i class="zmdi zmdi-link"></i></a>
												<h2>product branding</h2>
												<p>Web design</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Latest Shot/Portfolio Single -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Latest Shot Main Area End -->
		</section>
		<!-- Our Latest Shot Area End -->
		<!-- Our Awesome Team Area Start  -->
		<section class="ourawsome-team-area pt-100">
			<div class="container">
				<!-- Section Titel -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h1>our awesome team</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
						</div>
					</div>
				</div>
				<!-- Section Titel -->
				<!-- Team area Start -->
				<div class="row pt-55 pb-55">
					<!-- Team Single -->
					<div class="col-md-3 col-sm-6 res-pb-xs-30">
						<div class="team-single">
							<img src="images/team/1.jpg" alt="" />
							<div class="team-details text-center">
								<div class="team-adrs pt-120">
									<h5>KAM Mamun</h5>
									<p>Graphic designer</p>
								</div>								
								<div class="team-socaladrs mt-95">
									<ul>
										<li>Follow on:</li>
										<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- Team Single -->
					<!-- Team Single -->
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="images/team/2.jpg" alt="" />
							<div class="team-details text-center">
								<div class="team-adrs pt-120">
									<h5>Sabila noor</h5>
									<p>Graphic designer</p>
								</div>								
								<div class="team-socaladrs mt-95">
									<ul>
										<li>Follow on:</li>
										<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- Team Single -->
					<!-- Team Single -->
					<div class="col-md-3 hidden-sm hidden-xs">
						<div class="team-single">
							<img src="images/team/3.jpg" alt="" />
							<div class="team-details text-center">
								<div class="team-adrs pt-120">
									<h5>Nirob Khan</h5>
									<p>Shofipy Developer</p>
								</div>								
								<div class="team-socaladrs mt-95">
									<ul>
										<li>Follow on:</li>
										<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- Team Single -->
					<!-- Team Single -->
					<div class="col-md-3 hidden-sm hidden-xs">
						<div class="team-single">
							<img src="images/team/4.jpg" alt="" />
							<div class="team-details text-center">
								<div class="team-adrs pt-120">
									<h5>Salim Rana</h5>
									<p>Web Developer</p>
								</div>								
								<div class="team-socaladrs mt-95">
									<ul>
										<li>Follow on:</li>
										<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- Team Single -->
				</div>
				<!-- Team area Start -->
				<!-- Our Team Skill Area Start -->
				<div class="row">
					<!-- Skill Progress Bar Start -->
					<div class="col-md-6 col-sm-6">
						<div class="skill-area">
							<h4>our  team member skill</h4>
							<div class="skill">
								<div class="skill-content">
									<div class="skill">
										<!-- PROGRESS START -->
										<div class="progress">
											<div class="lead">Photoshop<span>90%</span></div>
											<div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 90%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="90%" class="progress-bar wow fadeInLeft animated"></div>
										</div>
										<!-- PROGRESS END -->						
										<!-- PROGRESS START -->
										<div class="progress">
											<div class="lead">Illustrator<span>80%</span> </div>
											<div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 80%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="80%" class="progress-bar wow fadeInLeft animated"></div>
										</div>
										<!-- PROGRESS END -->
										<!-- PROGRESS START -->							
										<div class="progress">
											<div class="lead">Html & Css<span>70%</span> </div>
											<div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 70%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="70%" class="progress-bar wow fadeInLeft animated"></div>
										</div>	
										<!-- PROGRESS END -->													
									</div>						
								</div>
								<!-- skill end -->
							</div>
						</div>
					</div>
					<!-- Skill Progress Bar Start -->
					<!-- Skill Progress Bar Circle Start -->
					<div class="col-md-6 col-sm-6">
						<div class="circular-progress mt-90">
							<!-- Single Skill -->
							<div class="single-skill text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
								<div class="progress-circular">
									<input type="text" class="knob" value="0" data-rel="90" data-linecap="round" data-width="100" data-bgcolor="#f5f5f5" data-fgcolor="#14b1bb" data-thickness=".15" data-readonly="true" disabled>
								</div>
								<div class="skill-titel">
									<p>Web Design</p>
								</div>
							</div>
							<!-- Single Skill -->
							<!-- Single Skill -->
							<div class="single-skill text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
								<div class="progress-circular">
									<input type="text" class="knob" value="0" data-rel="95" data-linecap="round" data-width="100" data-bgcolor="#f5f5f5" data-fgcolor="#14b1bb" data-thickness=".15" data-readonly="true" disabled>
								</div>
								<div class="skill-titel">
									<p>App Design</p>
								</div>
							</div>
							<!-- Single Skill -->
						</div>
					</div>
					<!-- Skill Progress Bar Circle End -->
				</div>
				<!-- Our Team Skill Area End -->
			</div>
		</section>
		<!-- Our Awesome Team Area End  -->
		<!-- Pricing Table Area Start -->
		<section class="pricing-table pt-100">
			<div class="container">
				<!-- Section Titel -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h1>our pricing table</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
						</div>
					</div>
				</div>
				<!-- Section Titel -->
				<!-- Pricing Table Area Content Start -->
				<div class="row pt-55">
					<div class="container">
						<!-- Pricing table single -->	
						<div class="col-md-4 col-sm-6 col-xs-12 res-pb-xs-30">
							<div class="pricing-table-single set-bg two">
								<h6>Silver pack</h6>
								<div class="table-content">
									<div class="price-category">
										<h1>$30<span> / month</span></h1>
									</div>
									<div class="price-list">
										<ul>
											<li><a href="#"><i class="zmdi zmdi-check"></i>Logo proposition</a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>5 Page website</a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>Domain + hosting </a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>50 social account</a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>2 Month after sale support</a></li>
										</ul>
									</div>
									<div class="order-button text-uppercase text-center">
										<a href="#">order now</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Pricing table single -->
						<!-- Pricing table single -->	
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="pricing-table-single two">
								<h6>gold pack</h6>
								<div class="table-content">
									<div class="price-category">
										<h1>$60<span> / month</span></h1>
									</div>
									<div class="price-list">
										<ul>
											<li><a href="#"><i class="zmdi zmdi-check"></i>Logo proposition</a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>5 Page website</a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>Domain + hosting </a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>50 social account</a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>2 Month after sale support</a></li>
										</ul>
									</div>
									<div class="order-button text-uppercase text-center">
										<a href="#">order now</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Pricing table single -->
						<!-- Pricing table single -->	
						<div class="col-md-4 hidden-sm hidden-xs">
							<div class="pricing-table-single set-bg two">
								<h6>platinum pack</h6>
								<div class="table-content">
									<div class="price-category">
										<h1>$90<span> / month</span></h1>
									</div>
									<div class="price-list">
										<ul>
											<li><a href="#"><i class="zmdi zmdi-check"></i>Logo proposition</a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>5 Page website</a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>Domain + hosting </a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>50 social account</a></li>
											<li><a href="#"><i class="zmdi zmdi-check"></i>2 Month after sale support</a></li>
										</ul>
									</div>
									<div class="order-button text-uppercase text-center">
										<a href="#">order now</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Pricing table single -->
					</div>
				</div>
				<!-- Pricing Table Area Content End -->
			</div>
		</section>
		<!-- Pricing Table Area Start -->
		<!-- Our Blog Area Start -->
		<section class="blog-area ptb-100">
			<div class="container">
				<!-- Section Titel -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h1>our blog</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
						</div>
					</div>
				</div>
				<!-- Section Titel -->
				<div class="row pt-55">
					<!-- Single Blog -->
					<div class="col-md-4 col-sm-6 col-xs-12 res-pb-xs-30">
						<div class="single-blog style-two broder">
							<h6><a href="#">Lorem Ipsum is simply dummy</a></h6>
							<div class="blog-img">
								<a href="#"><img src="images/blog/1.jpg" alt="" /></a>
							</div>
							<div class="blog-content">
								<div class="post-info">
									<span class="post-date mr-15">
										<a href="#"><i class="zmdi zmdi-account"></i>By : Sathi </a>
									</span>
									<span class="post-date mr-15">
										<a href="#"><i class="zmdi zmdi-favorite-outline"></i>( 500 )</a>
									</span>
									<span class="post-date mr-15">
										<a href="#"><i class="zmdi zmdi-comments"></i>( 100 )</a>
									</span>
									<span class="post-date">
										<i class="zmdi zmdi-share"></i>
										<a href="#">( 100 )</a>
									</span>
									<div class="post-content">
										<p>Lorem ipsum dolor sit amet, consectetur eiusmodm adipisicing elit, sed do eiusmod tempor incididuntm ut labore et dolore magna aliqua. </p>
									</div>
									<span class="post-date">
										<a href="#"><i class="zmdi zmdi-time"></i>Jun 25, 2016 </a>
									</span>
									<span class="post-btn pull-right">
										<a href="#">Read More<i class="zmdi zmdi-arrow-right"></i></a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Single Blog -->
					<!-- Single Blog -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single-blog style-two broder">
							<h6><a href="#">Lorem Ipsum is simply dummy</a></h6>
							<div class="blog-img image-box">
								<img src="images/blog/2.jpg" alt="" />
								<a href="#"><i class="zmdi zmdi-link"></i></a>
							</div>
							<div class="blog-content">
								<div class="post-info">
									<span class="post-date mr-15">
										<a href="#"><i class="zmdi zmdi-account"></i>By : Mamun</a>
									</span>
									<span class="post-date mr-15">
										<a href="#"><i class="zmdi zmdi-favorite-outline"></i>( 500 )</a>
									</span>
									<span class="post-date mr-15">
										<a href="#"><i class="zmdi zmdi-comments"></i>( 100 )</a>
									</span>
									<span class="post-date">
										<a href="#"><i class="zmdi zmdi-share"></i>( 100 )</a>
									</span>
									<div class="post-content">
										<p>Lorem ipsum dolor sit amet, consectetur eiusmodm adipisicing elit, sed do eiusmod tempor incididuntm ut labore et dolore magna aliqua. </p>
									</div>
									<span class="post-date">
										<a href="#"><i class="zmdi zmdi-time"></i>Jun 25, 2016 </a>
									</span>
									<span class="post-btn pull-right">
										<a href="#">Read More<i class="zmdi zmdi-arrow-right"></i></a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Single Blog -->
					<!-- Single Blog -->
					<div class="col-md-4 hidden-sm hidden-xs">
						<div class="single-blog style-two broder">
							<h6><a href="#">Lorem Ipsum is simply dummy</a></h6>
							<div class="blog-img">
								<a href="#"><img src="images/blog/3.jpg" alt="" /></a>
							</div>
							<div class="blog-content">
								<div class="post-info">
									<span class="post-date mr-15">
										<a href="#"><i class="zmdi zmdi-account"></i>By : Salim Rana</a>
									</span>
									<span class="post-date mr-15">
										<a href="#"><i class="zmdi zmdi-favorite-outline"></i>( 500 )</a>
									</span>
									<span class="post-date mr-15">
										<a href="#"><i class="zmdi zmdi-comments"></i>( 100 )</a>
									</span>
									<span class="post-date">
										<a href="#"><i class="zmdi zmdi-share"></i>( 100 )</a>
									</span>
									<div class="post-content">
										<p>Lorem ipsum dolor sit amet, consectetur eiusmodm adipisicing elit, sed do eiusmod tempor incididuntm ut labore et dolore magna aliqua. </p>
									</div>
									<span class="post-date">
										<a href="#"><i class="zmdi zmdi-time"></i>Jun 25, 2016 </a>
									</span>
									<span class="post-btn pull-right">
										<a href="#">Read More<i class="zmdi zmdi-arrow-right"></i></a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Single Blog -->
				</div>
			</div>
		</section>
		<!-- Our Blog Area End -->
		<!-- Brand Logo Area Start -->
		<div class="brand-logo-area ptb-100 bg-6 overlay">
			<div class="container">
				<div class="row">
					<div class="brand-carsoul">
						<!-- Brand Single -->
						<div class="col-md-12">
							<div class="single-brand">
								<a href="#"><img src="images/brand/1.png" alt="" /></a>
							</div>
						</div>
						<!-- Brand Single -->
						<!-- Brand Single -->
						<div class="col-md-12">
							<div class="single-brand">
								<a href="#"><img src="images/brand/2.png" alt="" /></a>
							</div>
						</div>
						<!-- Brand Single -->
						<!-- Brand Single -->
						<div class="col-md-12">
							<div class="single-brand">
								<a href="#"><img src="images/brand/3.png" alt="" /></a>
							</div>
						</div>
						<!-- Brand Single -->
						<!-- Brand Single -->
						<div class="col-md-12">
							<div class="single-brand">
								<a href="#"><img src="images/brand/4.png" alt="" /></a>
							</div>
						</div>
						<!-- Brand Single -->
						<!-- Brand Single -->
						<div class="col-md-12">
							<div class="single-brand">
								<a href="#"><img src="images/brand/5.png" alt="" /></a>
							</div>
						</div>
						<!-- Brand Single -->
						<!-- Brand Single -->
						<div class="col-md-12">
							<div class="single-brand">
								<a href="#"><img src="images/brand/3.png" alt="" /></a>
							</div>
						</div>
						<!-- Brand Single -->
						<!-- Brand Single -->
						<div class="col-md-12">
							<div class="single-brand">
								<a href="#"><img src="images/brand/2.png" alt="" /></a>
							</div>
						</div>
						<!-- Brand Single -->
					</div>
				</div>
			</div>
		</div>
		<!-- Brand Logo Area End -->
		<!-- Our Client Area Start -->
		<section class="our-client ptb-100">
			<div class="container">
				<!-- Section Titel -->
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h1>what say our client</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
						</div>
					</div>
				</div>
				<!-- Section Titel -->
				<!-- Our Client Area Start -->
				<div class="client-carousel pt-80">
					<!-- Client Single -->
					<div class="our-client-single">
						<div class="client-content text-center set-bg text-white">
							<span>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
							</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
							<div class="client-adrs mb-35">
								<h6>John Doe</h6>
								<p>Project Manager</p>
							</div>
						</div>
						<div class="client-img">
							<img src="images/other/client.png" alt="" />
						</div>
					</div>
					<!-- Client Single -->
					<!-- Client Single -->
					<div class="our-client-single">
						<div class="client-content text-center set-bg text-white">
							<span>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
							</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
							<div class="client-adrs mb-35">
								<h6>John Doe</h6>
								<p>Project Manager</p>
							</div>
						</div>
						<div class="client-img">
							<img src="images/other/client.png" alt="" />
						</div>
					</div>
					<!-- Client Single -->
					<!-- Client Single -->
					<div class="our-client-single">
						<div class="client-content text-center set-bg text-white">
							<span>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
							</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
							<div class="client-adrs mb-35">
								<h6>John Doe</h6>
								<p>Project Manager</p>
							</div>
						</div>
						<div class="client-img">
							<img src="images/other/client.png" alt="" />
						</div>
					</div>
					<!-- Client Single -->
				</div>
				<!-- Our Client Area End -->
			</div>
		</section>
		<!-- Our Client Area End -->
		<!-- Start footer area -->
        <footer class="footer-area ptb-100 black-half-bg">
			<div class="container">
				<div class="row">
					<!-- Fotter Single Area  -->
					<div class="col-md-3 col-sm-4 col-xs-12 res-pb-xs-30">
						<div class="footer-menu text-white">
							<h6>Contact us</h6>
							<div class="contact-details text-white">
								<ul>
									<li>
										<a href="#"><i class="zmdi zmdi-pin"></i></a>
										<p>House No 08, Road No 08,Din Bari, Dhaka, Bangladesh</p>
									</li>
									<li>
										<a href="#"><i class="zmdi zmdi-email"></i></a>
										<p>Username@gmail.com Damo@gmail.com</p>
									</li>
									<li>
										<a href="#"><i class="zmdi zmdi-phone"></i></a>
										<p>(+660 256 24857)(+660 256 24857)</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Fotter Single Area  -->
					<!-- Fotter Single Area  -->
					<div class="col-md-3 col-sm-4 col-xs-12 res-pb-xs-30">
						<div class="footer-menu">
							<h6>Recent post</h6>
							<div class="recent-post">
								<ul>
									<li>
										<img src="images/post/1.png" alt="" />
										<h5><a href="#">Ut enim</a> ad minim nostrud</h5>
										<span>Oct 3, 2016 7 Comments</span>
									</li>
									<li>
										<img src="images/post/2.png" alt="" />
										<h5>Ut enim ad <a href="#">minim</a> nostrud</h5>
										<span>Oct 3, 2016 7 Comments</span>
									</li>
									<li>
										<img src="images/post/3.png" alt="" />
										<h5><a href="#">Ut enim</a> ad minim nostrud</h5>
										<span>Oct 3, 2016 7 Comments</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Fotter Single Area  -->
					<!-- Fotter Single Area  -->
					<div class="col-md-3 hidden-sm hidden-xs">
						<div class="footer-menu pl-60">
							<h6>QUICK LINKS</h6>
							<div class="quick-link">
								<ul>
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">About</a>
									</li>
									<li>
										<a href="#">Team</a>
									</li>
									<li>
										<a href="#">Services</a>
									</li>
									<li>
										<a href="#">Portfolio</a>
									</li>
									<li>
										<a href="#">Contact Us</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Fotter Single Area  -->
					<!-- Fotter Single Area  -->
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="footer-menu">
							<h6>NEWSLETTER</h6>
							<div class="newsletter">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
								<form id="mc-form" class="mc-form">
									<div class="newsletter-form">
										<input type="email" autocomplete="off" id="mc-email" placeholder="Enter your mail" class="form-control">
										<button class="mc-submit" type="submit">SEND MESSAEGE</button>
										<!-- mailchimp-alerts Start -->
										<div class="mailchimp-alerts text-centre">
											<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
											<div class="mailchimp-success"></div><!-- mailchimp-success end -->
											<div class="mailchimp-error"></div><!-- mailchimp-error end -->
										</div>
										<!-- mailchimp-alerts end -->
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- Fotter Single Area  -->
				</div>
			</div>
		</footer>
        <!-- End footer area -->
		<!-- Footer Bottom Area Start -->
		<div class="footer-bottom ptb-20 black-bg">
			<div class="container">
				<div class="row">
					<div class="footer-copyright text-center text-white">
						<p>©<a href="#"> HasTech </a>2016. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Bottom Area End --> 
    </div>
    <!-- Body main wrapper end -->

    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="js/plugins.js"></script>
	<!-- Nivo Slider -->
    <script src="js/jquery.nivo.slider.pack.js"></script>
	<!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Isotope Css -->
    <script src="js/isotope.pkgd.min.js"></script>
	<!-- Venobox Css -->
    <script src="js/venobox.min.js"></script>
	<!-- animated heading.js -->
	<script src="js/animated-heading.js"></script>	 
	<!-- ajax mail js  -->
	<script src="js/ajax-mail.js"></script>
	<!-- mail Chimp  -->
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<!-- Counter Up -->
    <script src="js/jquery.counterup.min.js"></script>
	<!-- Waypoints js -->
    <script src="js/jquery.waypoints.min.js"></script>
	<!-- Imageloaded js -->
    <script src="js/imagesloaded.pkgd.min.js"></script>
	<!-- Circular Progress Knob js -->
    <script src="js/jquery.knob.js"></script>
	<!-- Circular Progress Appear js -->
    <script src="js/jquery.appear.js"></script>
	<!-- headroom js -->
	<script src="js/headroom.min.js"></script>
	<script>
		// grab an element
		var myElement = document.querySelector(".headroom");
		// construct an instance of Headroom, passing the element
		var headroom  = new Headroom(myElement);
		// initialise
		headroom.init(); 

	</script>
	<!-- Owl Carosel Js -->
    <script src="js/owl.carousel.min.js"></script>
	<!-- Mean Menu js -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="js/main.js"></script>

</body>

</html>