/*-------------------
 * Header
-----------------------*/

.glassesco_header {
    & .row {
        height: 90px;

        @media #{$lg-layout} {
            height: auto;
            padding: 20px 0 24px;
        }

        @media #{$sm-layout} {
            height: inherit;
            padding-top: 33px;
        }

    }
    .logo {

        @media #{$sm-layout} {
            
        }

        a {
            img {}
        }
    }
    & .header_right_sidebar {
        -moz-box-align: center;
        align-items: center;
        display: flex;
        height: 90px;
        justify-content: flex-start;
        position: relative;

        @media #{$lg-layout} {
            height: 54px;
        }
        @media #{$md-layout} {
            justify-content: flex-end;
        }

        @media #{$sm-layout} {
            position: relative;
            margin: 0;
        }
        @media #{$large-mobile} {
            margin: 0 23px;
        }
        @media #{$small-mobile} {
            margin: 0 4px;
        }
        & .login_account {
            -moz-box-align: center;
            align-items: center;
            display: flex;
            margin-left: 45px;
            @media #{$sm-layout} {
                margin-right: 24px;
                z-index: 9999;
                position: relative;
            }
            @media #{$md-layout} {
                margin-right: 24px;
                z-index: 9999;
                position: relative;
            }
            @media #{$sm-layout} {
                margin-left: 0;
                margin-right: 0;
            }
            @media #{$large-mobile} {
                margin-right: 0;
                margin-left: 0;
            }
           
            & .account {
                @media #{$small-mobile} {
                    margin-right: 35px;
                }
                &.white_text {
                    ul {
                        li {
                            &::before {
                                background: #d8d8d8 none repeat scroll 0 0;
                            }
                            a {
                                color: #d8d8d8;
                            }
                        }
                    }
                }
                & ul {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    & li {
                        margin-right: 10px;
                        padding-right: 10px;
                        position: relative;
                        &::before {
                            background: #252525 none repeat scroll 0 0;
                            content: "";
                            height: 14px;
                            left: auto;
                            position: absolute;
                            right: -1px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 2px;
                        }
                        a {
                            color: #252525;
                            font-size: 15px;
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                        &:last-child::before {
                            display: none;
                        }
                    }
                }
            }
            & .mini_cat_box {
                position: relative;
                cursor: pointer;
                & .shop_cart_icon {
                    position: relative;
                    span {
                        &.shop_count {
                            background-color: #252525;
                            border-radius: 50px;
                            color: #ffffff;
                            display: inline-block;
                            font-size: 10px;
                            height: 17px;
                            left: -10px;
                            line-height: 17px;
                            position: absolute;
                            text-align: center;
                            top: -2px;
                            width: 17px;
                            &.white_text {
                                background-color: #fff;
                                color: #000000;
                            }
                        }
                        &.cart_text {
                            color: #252525;
                            font-size: 15px;
                            font-weight: 500;
                            text-transform: uppercase;
                            &.white_text {
                                color: #d8d8d8;
                            }
                        }
                    }
                }
            }
        }
    }
    .header_right {
        display: flex;
        justify-content: flex-end;

        @media #{$lg-layout} {
            justify-content: flex-start;
        }

        @media #{$md-layout} {
            justify-content: space-between;
        }

        p {
            margin-left: 45px;
            margin-bottom: 0;
            color: #1b1b1c;
            font-weight: 600;
            font-size: 16px;

            @media #{$lg-layout} {
                margin-left: 0;
                margin-right: 45px;
            }

            @media #{$md-layout} {
                margin-left: 0;
                font-size: 14px;
            }

            @media #{$sm-layout} {
                margin-left: 0;
            }

            &.header-cart {
                cursor: pointer;

                @media #{$md-layout} {
                    margin-left: 15px;
                }
                @media #{$sm-layout} {
                    margin-left: 13px;
                }

                img {
                    margin-right: 10px;
                    @media #{$sm-layout} {
                        margin-right: 2px;
                    }
                }
            }

        }
    }
}

.button {
    cursor: pointer;
    padding: 0px;
}

.mainmenu_nav {
    background: #fff;
    height: 100%;
    opacity: 0;
    padding-left: 49px;
    position: absolute;
    left: -33px;
    top: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    &.white_text {
        background: #1a1a1a none repeat scroll 0 0;
        .main_menu {
            li {
                a {
                    color: #d8d8d8;
                }
            }
        }
    }
    &.active {
        margin-left: 0;
        opacity: 1;
        left: 0;
        visibility: visible;
    }
    .main_menu {
        -moz-box-align: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        margin: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-top: 0;
        li {
            align-items: center;
            align-self: stretch;
            display: flex;
            list-style: outside none none;
            position: relative;
            &.drop {
                >ul {
                    &.dropdown {
                        background-color: #ffffff;
                        box-shadow: 0 0 15px 0.08px rgba(0, 0, 0, 0.15);
                        left: 0;
                        opacity: 0;
                        padding: 15px 20px;
                        position: absolute;
                        text-align: left;
                        top: 110%;
                        transition: all 0.3s ease 0s;
                        visibility: hidden;
                        width: 210px;
                        z-index: 9999;
                        li {
                            a {
                                color: #191919;
                                display: block;
                                font-size: 13px;
                                padding: 1px 0;
                                text-transform: capitalize;
                                &:hover {
                                    color: #777;
                                }
                            }
                        }
                    }
                }
                &:hover>ul.dropdown {
                    opacity: 1;
                    top: 100%;
                    visibility: visible;
                }
            }
            a {
                align-items: center;
                align-self: stretch;
                color: #252525;
                display: flex;
                font-size: 15px;
                font-weight: 500;
                padding: 0 15px;
                text-transform: uppercase;
            }
        }
    }
}

.glass_toggle_menu {
    align-items: center;
    align-self: stretch;
    display: flex;
    z-index: 99;
    @media #{$md-layout} {
        display: none;
    }
}

.mobile-toggle {
    align-content: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    @media #{$sm-layout} {
        display: none;
    }
    @media #{$md-layout} {
        display: none;
    }
    &.white_text {
        .mobile-toggle__icon {
            background: #d8d8d8 none repeat scroll 0 0;
            &::before,
            &::after {
                background: #d8d8d8;
            }
        }
    }
    &__icon {
        background: #252525 none repeat scroll 0 0;
        display: block;
        height: 2px;
        transition: height 0.1s ease 0.3s;
        width: 25px;
        &::after,
        &::before {
            content: "";
            width: 25px;
            height: 2px;
            background: #252525;
            display: block;
            position: relative;
            top: 5px;
            transition: top .3s ease .3s, transform .3s ease;
        }
        &::before {
            top: -7px;
        }
    }
    &.active &__icon {
        height: 0;
        &::after {
            top: -2px;
            transform: rotate(45deg);
            transition: top .3s ease, transform .3s ease .3s;
        }
        &::before {
            top: 0;
            transform: rotate(-45deg);
            transition: top .3s ease, transform .3s ease .3s;
        }
    }
}

.header--two .mean-container a.meanmenu-reveal {
    color: #fff;
}

.header--two .mean-container a.meanmenu-reveal span {
    display: block;
    background: #fff;
}

// Mobile Menu
@media #{$md-layout} {
    .mean-container {
        position: absolute;
        width: 100%;
        top: 9%;
        left: 0;
        right: 0;
    }
    .mean-container a.meanmenu-reveal {
        color: #000;
    }
}

@media #{$sm-layout} {
    .mean-container {
        position: absolute;
        width: 100%;
        top: 9%;
        left: 0;
        right: 0;
    }
    .mean-container a.meanmenu-reveal {
        color: #000;
    }
}