// Shop Area
.shop-bar-area {
    display: flex;
    justify-content: space-between;

    @media #{$sm-layout} {
        display: block;
    }

    .shop-filter-tab {
        .view_mode {
            a {
                color: #6c6c6c;
                cursor: pointer;
                font-size: 23px;
                line-height: 1;
                margin-left: 10px;
                z-index: 99;
                transition: 0.5s;

                &:hover,
                &.active {
                    color: #050035;
                }
            }
        }
    }

    .shop-found-selector {
        @media #{$sm-layout} {
            text-align: center;
            margin-top: 10px;
        }

        p {
            color: #252525;
            display: inline-block;
            font-size: 15px;
            font-weight: 400;
            margin: 0;
        }

        select {
            margin-left: 45px;
            -moz-appearance: none;
            background: rgba(0, 0, 0, 0) url("img/icons/8.png") no-repeat scroll right 0 center;
            border: medium none;
            box-shadow: none;
            color: #252525;
            font-size: 15px;
            height: inherit;
            line-height: 1;
            padding-left: 0;
            width: 160px;
            padding-right: 31px;

            option {
                background: #fff none repeat scroll 0 0;
                border: 0 solid #626262;
                font-size: 13px;
                padding: 3px 10px;
            }
        }
    }
}

.single_grid_product.tab-pane:not(.active) {
    display: none;
}

.product_list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    display: flex;
    margin-top: 40px;

    @media #{$sm-layout} {
        display: block;
    }

    &__thumb {
        -moz-box-flex: 0;
        flex: 0 0 35%;

        a {
            img {}
        }
    }

    &__content {
        -moz-box-flex: 0;
        flex: 0 0 60%;
        min-width: 60%;
        padding-left: 35px;

        @media #{$sm-layout} {
            padding-left: 0;
            margin-top: 16px;
        }

        h4 {
            a {
                transition: all 0.3s ease 0s;
                color: #191919;
                font-size: 20px;
                font-weight: 600;
                text-transform: capitalize;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .price {
            padding: 0;
            margin: 0;

            li {
                color: #454545;
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                margin: 4px 0;
                font-family: $heading-font;

                &.old-price {
                    opacity: 0.6;
                    text-decoration: line-through;
                }
            }
        }

        p {
            color: #454545;
            font-size: 15px;
            line-height: 28px;
            margin-bottom: 20px;
        }

        .cart_action {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                a {
                    background-color: #191919;
                    border: medium none;
                    border-radius: 3px;
                    color: #ffffff;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 400;
                    height: 48px;
                    line-height: 48px;
                    margin-right: 5px;
                    text-align: center;
                    text-transform: uppercase;
                    width: 50px;

                    &:hover {
                        opacity: 0.7;
                    }

                    img {
                        width: 18px;
                    }
                }
            }
        }
    }
}





.shop-bar-area .shop-found-selector select {
    -moz-appearance: none;
    -webkit-appearance: none;
}






/*--------------------------
	product Sidebar Styles
----------------------------*/


.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    background: #ddd none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    height: 3px;
}

.ui-slider-range.ui-widget-header.ui-corner-all {
    background: #b7b7b7 none repeat scroll 0 0;
}

.ui-slider-handle.ui-state-default.ui-corner-all {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #b7b7b7;
    border-radius: 100%;
    height: 13px;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
}

.price__output--wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.price--output input {
    border: medium none;
}

.price--output>span {
    float: left;
}

.price--filter a {
    font-family: poppins;
    text-transform: uppercase;
}

.price--output>* {
    display: inline-block;
    float: left;
}

.price--output input {
    padding-left: 10px;
    width: 70%;
    height: auto;
    margin-top: 5px;
}

.slider__range--output {
    margin-top: 18px;
}


.ui-slider-horizontal {
    height: 5px;
    margin-top: 10px;
}