/* -----------------------------------
Template:  Expu

NOTE: This is Solution style file. All Header related style included in this file.

--------------------------------------*/
.solution-content h5 {
    color: #4fc2c7;
    font-family: "montserratsemi_bold";
    font-size: 30px;
    margin-bottom: 5px;
}
.solution-content h4{
    color: #4c4c4c;
    font-size: 44px;
    font-family: 'montserratextrabold';
    margin-bottom: 15px;
}
.solution-content p{
    color: #777777;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.solution-content .business-button a{
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    background: #4C4C4C;
    border-radius: 20px;
    border: none;
    padding: 9px 45px 8px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}