<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Phillips - Electrical & Electronics Service HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    
    <!-- CSS
	============================================ -->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>

<body>

<!--<div class="fakeloader"></div>-->

<!-- Header -->
<header class="header">
   
    <div class="header-top-area d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="top-info">
                        <p>Open Hours : 8.00 - 18.00 Mon-Sat</p>
                        <p>Contact : 0 (500) 123-782</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <ul class="socail-top">
                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
    <div class="header-bottom-area header-sticky">
        <div class="container">
            <div class="row no-gutters align-items-center">
               
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                
                <div class="col-lg-9 d-none d-lg-block">
                  
                    <div class="menu-area d-flex align-items-center justify-content-end">
                        <nav class="main-menu text-center">
                            <ul>
                                <li class="has-dropdown current"><a href="index.html">HOME</a>
                                    <ul class="sub-menu">
                                        <li><a href="index-landing.html">Landing Page</a></li>
                                        <li><a href="boxed-layout.html">Box Layout</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">ABOUT</a></li>
                                <li><a href="service.html">SERVICES</a>
                                    <ul class="sub-menu">
                                        <li><a href="service-details.html">Service Details Page</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">BLOG</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-details.html">Blog Details Page</a></li>
                                        <li><a href="blog-left-sidebar-details.html">Left Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="team.html">TEAM</a></li>
                                <li><a href="contact-us.html">CONTACT</a></li>
                            </ul>
                        </nav><!--// main-menu -->
                    </div>
                </div>
                
                <!-- Show in small device Start -->
                <div class="clickable-menu clickable-mainmenu-active d-block d-lg-none col-md-6 col-6">
                    <a href="#"><i class="ti-menu"></i></a>
                </div>
                <div class="clickable-mainmenu">
                    <div class="clickable-mainmenu-icon">
                        <button class="clickable-mainmenu-close">
                            <span class="ti-close"></span>
                        </button>
                    </div>
                    
                    <div id="menu" class="text-left clickable-menu-style">
                        <ul>
                            <li><a href="index.html">HOME</a>
                                <ul>
                                    <li><a href="index.html">Home Page</a></li>
                                    <li><a href="index-landing.html">Landing Page </a></li>
                                    <li><a href="boxed-layout.html">Boxed Layout</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">ABOUT</a></li>
                            <li><a href="service.html">SERVICES</a>
                                <ul>
                                    <li><a href="service.html">Service Page</a></li>
                                    <li><a href="service-details.html">Service Details Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">PORTFOLIO</a></li>
                            <li><a href="team.html">TEAM</a></li>
                            <li><a href="#">BLOG</a>
                                <ul>
                                    <li><a href="blog.html">Blog page</a></li>
                                    <li><a href="blog-details.html">Blog Details Page</a></li>
                                    <li><a href="blog-left-sidebar-details.html">Left Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="mobile-more-info">
                        <p> Open Hours : 8.00 - 18.00 Mon-Sat <br> Contact : 0 (500) 123-782 </p>
                        <ul class="socail-top">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                    
                </div>
                <!-- Show in small device End -->
            </div>
        </div>
    </div>
    
</header>
<!--// Header -->

<!-- Hero Section Start -->
<div class="hero-section section">

    <div class="hero-slider hero-slider-one">
        <!--Start Single Slider-->
        <div class="hero-slide-item d-flex image-bg align-items-center" style="background-image: url(assets/images/hero/hero-1.jpg)">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="hero-content-box">
                            <div class="hero-content text-left">
                                <h1>We Provide <br>Electric Service</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna.</p>
                                <a href="about.html" class="btn">READ MORE</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!--End Single Slider-->
    </div>
    
</div><!-- Hero Section End -->

<!-- Page Conttent -->
<main class="page-content">
   
   
    <!-- Start About Area -->
    <div class="about-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="thumb">
                        <img src="assets/images/about/about-01.png" alt="elementor logo">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <div class="title-2">
                            <h2>About Us</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci ullamco laboris nisi ut aliquip ex ea commo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata non proident, sunt in culpa qui officia</p>
                        <div class="address">
                            <p><i class="fa fa-headphones"></i> <a href="#">+ 214 587 256</a></p>
                            <p><i class="fa fa-envelope-o"></i> <a href="#">yourmail@email.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->
    
    <!-- Start Service Style-->
    <div class="section-service bg-gray section-pt section-pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>Why Choose Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Single Service -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="service text-center service-3 cleaning-service mb-30">
                        <div class="icons">
                            <i class="flaticon-roll"></i>
                        </div>
                        <div class="content">
                            <h4>Emergency Services</h4>
                            <p>Lorem ipsum dolor sit amet, consecte turlol adipi sicin loss elit, sed do
                                eiusmod tempor incididunt ut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->

                <!-- Start Single Service -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="service text-center service-3 cleaning-service mb-30">
                        <div class="icons">
                            <i class="flaticon-pipe"></i>
                        </div>
                        <div class="content">
                            <h4>24/7 Support </h4>
                            <p>Lorem ipsum dolor sit amet, consecte turlol adipi sicin loss elit, sed do
                                eiusmod tempor incididunt ut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->

                <!-- Start Single Service -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="service text-center service-3 cleaning-service mb-30">
                        <div class="icons">
                            <i class="flaticon-chef"></i>
                        </div>
                        <div class="content">
                            <h4>Experienced Staff </h4>
                            <p>Lorem ipsum dolor sit amet, consecte turlol adipi sicin loss elit, sed do
                                eiusmod tempor incididunt ut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
    <!-- End Service Style-->
    
    <!-- Start Tab Style-->
    <div class="section-tab section-ptb">
        <div class="container"> 
           
           <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>Our Services</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-lg-3">
                    <div class="ht-tab-nab-height">
                        <div class="ht-tab-nab-5 medical-tab nav justify-content-center" role="tablist">
                            <a class="nav-link active show" data-toggle="tab" href="#photoshop5" role="tab">Emergency Lighting</a>
                            <a class="nav-link" data-toggle="tab" href="#art5" role="tab">Energy Survey</a>
                            <a class="nav-link" data-toggle="tab" href="#web5" role="tab">Electrical Testing</a>
                            <a class="nav-link" data-toggle="tab" href="#design5" role="tab">Protective Services</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="ht-tab-content tab-content-5 tab-content">

                        <!-- Start Single Tab -->
                        <div class="single-tab medical-tab-content tab-pane fade active show" id="photoshop5" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="thumb">
                                        <img src="assets/images/serviece/service-dec-01.jpg" alt="elementor">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="content">
                                        <h4>Energy Lighting</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe in voluptatel velit esse cillum dolore eu fugiat nulla pariatur. Excep sint occaecat cupidatat non proiden sunt in culpa.</p>

                                        <div class="surgary-list">
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i>Qualified Doctors</li>
                                                <li><i class="fa fa-check-circle"></i>General Medical</li>
                                            </ul>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i>Emergency Service</li>
                                                <li><i class="fa fa-check-circle"></i>Outdoor Checkup</li>
                                            </ul>
                                        </div>
                                        <div class="surgary-btn">
                                            <a href="service-details.html" class="btn">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Tab -->

                        <!-- Start Single Tab -->
                        <div class="single-tab medical-tab-content tab-pane fade" id="art5" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="thumb">
                                        <img src="assets/images/serviece/service-dec-02.jpg" alt="elementor">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="content">
                                        <h4>Energy Survey</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe in voluptatel velit esse cillum dolore eu fugiat nulla pariatur. Excep sint occaecat cupidatat non proiden sunt in culpa.</p>

                                        <div class="surgary-list">
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i>Qualified Doctors</li>
                                                <li><i class="fa fa-check-circle"></i>General Medical</li>
                                            </ul>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i>Emergency Service</li>
                                                <li><i class="fa fa-check-circle"></i>Outdoor Checkup</li>
                                            </ul>
                                        </div>
                                        <div class="surgary-btn">
                                            <a href="service-details.html" class="btn">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Tab -->

                        <!-- Start Single Tab -->
                        <div class="single-tab medical-tab-content tab-pane fade" id="web5" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="thumb">
                                        <img src="assets/images/serviece/service-dec-03.jpg" alt="elementor">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="content">
                                        <h4>Electrical Testing</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe in voluptatel velit esse cillum dolore eu fugiat nulla pariatur. Excep sint occaecat cupidatat non proiden sunt in culpa.</p>

                                        <div class="surgary-list">
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i>Qualified Doctors</li>
                                                <li><i class="fa fa-check-circle"></i>General Medical</li>
                                            </ul>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i>Emergency Service</li>
                                                <li><i class="fa fa-check-circle"></i>Outdoor Checkup</li>
                                            </ul>
                                        </div>
                                        <div class="surgary-btn">
                                            <a href="service-details.html" class="btn">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Tab -->

                        <!-- Start Single Tab -->
                        <div class="single-tab medical-tab-content tab-pane fade" id="design5" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="thumb">
                                        <img src="assets/images/serviece/service-dec-04.jpg" alt="elementor">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="content">
                                        <h4>Protective Services</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe in voluptatel velit esse cillum dolore eu fugiat nulla pariatur. Excep sint occaecat cupidatat non proiden sunt in culpa.</p>

                                        <div class="surgary-list">
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i>Qualified Doctors</li>
                                                <li><i class="fa fa-check-circle"></i>General Medical</li>
                                            </ul>
                                            <ul>
                                                <li><i class="fa fa-check-circle"></i>Emergency Service</li>
                                                <li><i class="fa fa-check-circle"></i>Outdoor Checkup</li>
                                            </ul>
                                        </div>
                                        <div class="surgary-btn">
                                            <a href="service-details.html" class="btn">READ MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Tab -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Tab Style-->
    
    <!-- Start Testimonial Style -->
    <div class="section-testimonial section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">

                    <div class="testimonial-style-1 testimonial-slide-active-4">

                        <!-- Start Single Testimonial -->
                        <div class="testimonal">
                            <img src="assets/images/icon/testimonial.png" alt="testimonal image">
                            <div class="content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
                                <h4>Michelle Mitchell</h4>
                                <span>ui ux - Designer</span>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                        
                        <!-- Start Single Testimonial -->
                        <div class="testimonal">
                            <img src="assets/images/icon/testimonial.png" alt="testimonal image">
                            <div class="content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
                                <h4>Mitchell Jara</h4>
                                <span> Designer</span>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                        
                        <!-- Start Single Testimonial -->
                        <div class="testimonal">
                            <img src="assets/images/icon/testimonial.png" alt="testimonal image">
                            <div class="content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
                                <h4>Mr Halis</h4>
                                <span> Designer</span>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonial Style -->
    
    <!-- Start Team Style -->
    <div class="section-team section-pt section-pb-90">
        <div class="container">
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>Our Technician</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
            </div>
           
            <!-- Start Team Area -->
            <div class="row">
                <!-- Start Single Team -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="team team-7 mb-30">
                        <div class="thumb">
                            <a href="#">
                                <img src="assets/images/team/team-01.jpg" alt="team img">
                            </a>
                            <div class="team-hover-action">
                                <div class="hover-action">
                                    <ul class="social-network social-net-3">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="vimeo" href="#"><i class="fa fa-vimeo"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Crystal Soto</a></h4>
                            <span>Director</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="team team-7 mb-30">
                        <div class="thumb">
                            <a href="#">
                                <img src="assets/images/team/team-02.jpg" alt="team img">
                            </a>
                            <div class="team-hover-action">
                                <div class="hover-action">
                                    <ul class="social-network social-net-3">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="vimeo" href="#"><i class="fa fa-vimeo"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Dorothy Carr</a></h4>
                            <span>Director</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="team team-7 mb-30">
                        <div class="thumb">
                            <a href="#">
                               <img src="assets/images/team/team-03.jpg" alt="team img">
                            </a>
                            <div class="team-hover-action">
                                <div class="hover-action">
                                    <ul class="social-network social-net-3">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="vimeo" href="#"><i class="fa fa-vimeo"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Cheryl Murray</a></h4>
                            <span>Director</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="team team-7 mb-30">
                        <div class="thumb">
                            <a href="#">
                                <img src="assets/images/team/team-04.jpg" alt="team img">
                            </a>
                            <div class="team-hover-action">
                                <div class="hover-action">
                                    <ul class="social-network social-net-3">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="vimeo" href="#"><i class="fa fa-vimeo"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h4><a href="#">Jessica Watson</a></h4>
                            <span>Director</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
            <!-- End Team Area -->
        </div>
    </div>
    <!-- End Team Style -->
      
    <!-- Start Counterup Style-->
    <div class="section-counterup counterup-bg section-pb section-pt-90">
        <div class="container">
            <div class="row">

                <!-- Start Single Counter -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="funfact mt-30">
                        <div class="fact-icon">
                            <img src="assets/images/icon/fun-01.png" alt="shape">
                            <span class="count">102</span>
                        </div>
                        <div class="content">
                            <h5 class="fact-title">Happy Customers</h5>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter -->

                <!-- Start Single Counter -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="funfact mt-30">
                        <div class="fact-icon">
                            <img src="assets/images/icon/fun-02.png" alt="shape">
                            <span class="count">120</span>
                        </div>
                        <div class="content">
                            <h5 class="fact-title">COMPLET PROJECTS</h5>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter -->

                <!-- Start Single Counter -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="funfact mt-30">
                        <div class="fact-icon">
                            <img src="assets/images/icon/fun-03.png" alt="shape">
                            <span class="count">50</span>
                        </div>
                        <div class="content">
                            <h5 class="fact-title">AWARDS WINNING</h5>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter -->

                <!-- Start Single Counter -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="funfact mt-30">
                        <div class="fact-icon">
                            <img src="assets/images/icon/fun-04.png" alt="shape">
                            <span class="count">100</span>
                        </div>
                        <div class="content">
                            <h5 class="fact-title">WORKERS EMPLOYED</h5>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter -->
            </div>
            
        </div>
    </div>
    <!-- End Counterup Style-->
    
    <!-- Start Post Carousel Style-->
    <div class="section-post-carousel section-pt section-pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>Our Blog</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
            </div>
            <div class="row post-carousel-wrapper post-carousel-active-5">
                
                <div class="col-lg-12">
                    <!-- Start Single Post -->
                    <div class="post-carousel mb-30">
                        <div class="thumb">
                            <a href="blog-details.html">
                                <img src="assets/images/blog/thum-01.jpg" alt="elementor">
                            </a>
                        </div>
                        <div class="ptc-content">
                            <h4><a href="blog-details.html">Emergency Lighting sit.</a></h4>
                            <ul class="meta d-flex">
                                <li><a href="#"><i class="ti-calendar"></i> Sep 19, 2019</a></li>
                                <li><i class="ti-user"></i> By : <a href="#">Admin</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eius
                                tempor incididu ut labore et dolore</p>
                            <div class="post-btn">
                                <a class="readmore-btn btn" href="blog-details.html">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Post -->
                </div>
                
                <div class="col-lg-12">
                    <!-- Start Single Post -->
                    <div class="post-carousel mb-30">
                        <div class="thumb">
                            <a href="blog-details.html">
                                <img src="assets/images/blog/thum-02.jpg" alt="elementor">
                            </a>
                        </div>
                        <div class="ptc-content">
                            <h4><a href="blog-details.html">Electrical Testing sit amet.</a></h4>
                            <ul class="meta d-flex">
                                <li><a href="#"><i class="ti-calendar"></i> Sep 24, 2018</a></li>
                                <li><i class="ti-user"></i> By : <a href="#">Admin</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eius
                                tempor incididu ut labore et dolore</p>
                            <div class="post-btn">
                                <a class="readmore-btn btn" href="blog-details.html">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Post -->
                </div>
                
                <div class="col-lg-12">
                    <!-- Start Single Post -->
                    <div class="post-carousel mb-30">
                        <div class="thumb">
                            <a href="blog-details.html">
                                <img src="assets/images/blog/thum-03.jpg" alt="elementor">
                            </a>
                        </div>
                        <div class="ptc-content">
                            <h4><a href="blog-details.html">Protective Services.</a></h4>
                            <ul class="meta d-flex">
                                <li><a href="#"><i class="ti-calendar"></i> Sep 14, 2018</a></li>
                                <li><i class="ti-user"></i> By : <a href="#">Admin</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eius
                                tempor incididu ut labore et dolore</p>
                            <div class="post-btn">
                                <a class="readmore-btn btn" href="blog-details.html">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Post -->
                </div>
                
                <div class="col-lg-12">
                    <!-- Start Single Post -->
                    <div class="post-carousel mb-30">
                        <div class="thumb">
                            <a href="blog-details.html">
                                <img src="assets/images/blog/thum-04.jpg" alt="elementor">
                            </a>
                        </div>
                        <div class="ptc-content">
                            <h4><a href="blog-details.html">Lorem ipsum dolor sit.</a></h4>
                            <ul class="meta d-flex">
                                <li><a href="#"><i class="ti-calendar"></i> Sep 14, 2018</a></li>
                                <li><i class="ti-user"></i> By : <a href="#">Admin</a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eius
                                tempor incididu ut labore et dolore</p>
                            <div class="post-btn">
                                <a class="readmore-btn btn" href="blog-details.html">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Post -->
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Post Carousel  Style-->
    
</main>
<!--// Page Conttent -->

<!-- Footer -->
<footer class="footer">
    <div class="footer-top bg-gray section-pt-90 section-pb">
        <div class="container">
            <div class="row">

                <!-- Start Single Widget -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-style-1">
                        <h5 class="ft-title">ABOUT <span>US</span></h5>
                        <div class="content">
                            <p>There are many variations of pof em Ipsum avalable, but the majority haveatime form, binjected humour, or romised scvono dos nai..but.</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Widget -->

                <!-- Start Single Widget -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-style-1 space-left">
                        <h5 class="ft-title">CONTACT <span>US</span></h5>
                        <div class="content">
                            <p>ur address goes here, <br>stree Crossroad123.</p>
                            <div class="ft-address">
                                <p>P : 99 55 66 88 526</p>
                                <p>F : 55 44 77 62</p>
                                <p>E : <a href="#">expu@email.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Widget -->

                <!-- Start Single Widget -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-style-1 space-left">
                        <h5 class="ft-title">QUICK <span>LINKS</span></h5>
                        <div class="content">
                            <ul class="ft-menu">
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Our Company</a></li>
                                <li><a href="#">Vision & Mission</a></li>
                                <li><a href="#">Our Product</a></li>
                                <li><a href="#">Our Team</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Widget -->

                <!-- Start Single Widget -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-style-1">
                        <h5 class="ft-title">NEWSLETTER <span>NOW</span></h5>
                        <div class="content">
                            <p>There are many variations ofof reavalable, but the majority </p>
                            <div class="input-box newsletter-box">
                                <form id="mc-form" class="mc-form footer-newsletter" >
                                    <input  id="mc-email" type="email" autocomplete="off">
                                    <button id="mc-submit"><i class="fa fa-paper-plane-o"></i></button>
                                </form>
                            </div>
                            
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                            
                            <div class="social-share social-square">
                                <a title="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                <a title="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a title="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                <a title="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                                <a title="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Widget -->
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <div class="copyright-left content text-center">
                        <p>Copyright &copy; Phillips. All right reserved</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!--// Footer -->

    
<!-- JS
============================================ -->

<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>


</body>

</html>