@import "../variables";
@import "../mixins";


/*========================
	New Arrival Area
===========================*/




.dacre__arrival__product{
	box-shadow: 11px 5px 43px rgba(196, 196, 196, 0.1);
    margin-left: -15px;
    margin-right: -15px;
	.arrival__thumb{
		position: relative;
		.new__arri__action{
			position: absolute;
		    right: 45%;
		    top: 80px;
			span{
				background: #fe5629 none repeat scroll 0 0;
			    border-radius: 5px;
			    color: #fff;
			    display: inline-block;
			    font-family: $heading-font;
			    font-size: 16px;
			    height: 37px;
			    line-height: 37px;
			    padding: 0 10px;
			    text-transform: capitalize;
			}
		}
	}
}

.new__arrival__inner {
    margin-left: -15px;
    margin-right: -15px;
}

.new__arrival__inner{
	padding-left: 70px;
	.new__arival__content{
		h2{
			color: #444444;
		    font-size: 48px;
		    margin-bottom: 22px;
		    padding-bottom: 18px;
		    position: relative;
		    text-transform: capitalize;
		    font-family: $heading-font;
		    &::before {
			    background-image: url("images/icons/title-4.png");
			    background-repeat: no-repeat;
			    bottom: 0;
			    content: "";
			    height: 14px;
			    left: 0;
			    position: absolute;
			    width: 304px;
			}

		}
		p{
			color: #666666;
		    font-size: 16px;
		    line-height: 25px;
		    padding-right: 37%;
		}
		span{
			color: #fe5629;
		    display: block;
		    font-family: $body-font;
		    font-size: 18px;
		    font-weight: 700;
		    margin-top: 16px;
		}
		h6{
			color: #444444;
		    font-family: $heading-font;
		    font-size: 16px;
		    font-weight: 700;
		    margin-bottom: 19px;
		    margin-top: 9px;
		}
		.new__arrival__btn{
			margin-top: 27px;
		}
	}
}





@media #{$xlg-layout}{

.new__arrival__inner .new__arival__content p {
  padding-right: 4%;
}



	
}

@media #{$lg-layout}{

	.new__arrival__inner .new__arival__content p {
	  font-size: 13px;
	  line-height: 22px;
	  padding-right: 5px;
	}
	.new__arrival__inner .new__arival__content h2 {
	  margin-bottom: 14px;
	}
	.new__arrival__inner {
	  padding-left: 20px;
	}
	.new__arrival__inner .new__arival__content .new__arrival__btn {
	  margin-top: 18px;
	}
	.new__arrival__inner .new__arival__content h6 {
	  margin-bottom: 11px;
	}

	
}
@media #{$md-layout}{

	.new__arrival__inner {
	  padding-bottom: 35px;
	}
	.new__arrival__inner .new__arival__content p {
	  padding-right: 21%;
	}

}
@media #{$sm-layout}{
	.new__arrival__inner .new__arival__content p {
	  padding-right: 10%;
	}
	.new__arrival__inner {
	  padding-bottom: 35px;
	}
	.arrival__product__activation.owl-theme .owl-dots {
	  bottom: 20px;
	}


}

@media #{$xxs-layout}{

	.new__arrival__inner {
	  padding-left: 20px;
	}
	.new__arrival__inner .new__arival__content h2::before {
	  width: 271px;
	}



}

