@import "../variables";
@import "../mixins";


/*========================
	Testimonial Area
===========================*/


.testimonial__container{
    padding: 0 100px;
    .testimonial{
        padding: 49px 0;
        .testimonial__inner{
            .test__icon{
                margin-top: 29px;
            }
            .client__details{
                p{
                    color: #ffffff;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    line-height: 30px;
                    margin-top: 7px;
                    padding: 0 12%;
                }
                .client__info{
                    margin-top: 16px;
                    h6{
                        color: #ffffff;
                        font-family: $heading-font;
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 3px;
                        text-transform: uppercase;
                    }
                    span{
                        color: #ffffff;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.testimonial__bg{
	position: relative;
	z-index: 2;
    &::before{
        background: rgba(0, 0, 0, 0) url("images/testimonial/bg/1.png") repeat scroll center center / cover ;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

}

.owl-carousel .owl-item img {
  margin: auto;
  width: auto;
}




// Testimonial Style Two



.testimonial__inner p {
    color: #ffffff;
    font-family: $body-font;
    font-size: 18px;
    line-height: 38px;
    margin-top: 18px;
    font-style: italic;
}
.testimonial {
    padding: 0 17%;
}
.tes__info h6 {
    color: #ffffff;
    font-family: $heading-font;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    
}
.tes__info span {
    color: #ffffff;
    display: inline-block;
    margin-top: 8px;
}
.tes__info {
    margin-top: 30px;
}



// Testimonial Style Three



.testimonial--3{
    @include flexbox();
    @include align-items(center);
    padding: 0 60px;
    .testimonial__content{
        padding-left: 67px;
        padding-top: 50px;
        position: relative;
        &::before {
            color: #fff;
            content: "\f10e";
            font-family: FontAwesome;
            font-size: 30px;
            position: absolute;
            top: 0;
        }
        p{
            color: #ffffff;
            font-family: $body-font;
            font-size: 24px;
            font-weight: 400;
            line-height: 38px;
            padding-right: 10%;
            font-style: italic;
        }
        .tes__info{
            margin-top: 17px;
        }
    }
    .testimonial__thumb{
        @include flex-basis(44%);
    }
}




// Testimonial Style Four


.testimonial--4{
    background: #fe5629 none repeat scroll 0 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 100px 0;
    text-align: center;
    .testimonial__inner{
        position: relative;
        &::before {
            color: #fff;
            content: "\f10e";
            font-family: FontAwesome;
            font-size: 60px;
            position: absolute;
            right: 70px;
            top: 50%;
            transform: translateY(-50%);
        }
        .clint__img{
            margin-bottom: 29px;
        }
        .clint__info{
            h6{
                color: #ffffff;
                font-family: $heading-font;
                font-weight: 700;
                margin-bottom: 6px;
                text-transform: uppercase;
            }
            span{
                color: #ffffff;
            }
            p{
                color: #ffffff;
                font-family: $heading-font;
                font-size: 24px;
                line-height: 38px;
                margin-top: 13px;
                padding: 0 20%;
            }
        }
    }
}




@media #{$xlg-layout}{

    .testimonial--4 {
      padding: 80px 0;
    }

}


@media #{$lg-layout}{

    .testimonial__container {
      padding: 0;
    }

    .testimonial__container .testimonial .testimonial__inner .client__details p {
      padding: 0 10%;
    }
    .testimonial__container .testimonial .testimonial__inner .client__details .client__info {
      margin-top: 27px;
    }
    .testimonial__container .testimonial .testimonial__inner .client__details .client__info span {
      display: block;
      margin-top: 13px;
    }

    .testimonial--3 .testimonial__content p {
      padding-right: 0;
    }

    .testimonial--4 .testimonial__inner .clint__info p {
      font-size: 18px;
      line-height: 30px;
    }

    .testimonial--4 {
      padding: 93px 0;
    }


}

@media #{$md-layout}{

    .testimonial__container {
      padding: 0;
    }
    .testimonial__container .testimonial .testimonial__inner .client__details p {
      padding: 0 15%;
    }
    .testimonial__inner {
      padding: 45px 0;
    }

    .testimonial {
      padding: 0 4%;
    }
    .testimonial--3 .testimonial__content {
        padding-left: 20px;
    }
    .testimonial--3 .testimonial__content p {
      padding-right: 0;
    }

}

@media #{$sm-layout}{

    .testimonial__container {
      padding: 0;
    }
    .testimonial__container .testimonial .testimonial__inner .client__details p {
      font-size: 22px;
    }

    .testimonial {
      padding: 0 4%;
    }
    .dcare__kidezone__wrapper {
      flex-wrap: wrap;
    }
    .kidz__zone {
      flex-basis: 50%;
    }
    .testimonial--3 .testimonial__content p {
        font-size: 22px;
        line-height: 35px;
        padding-right: 0;
    }
    .testimonial--3 .testimonial__content {
        padding-left: 20px;
    }

    .testimonial--3 {
      padding: 0 15px;
    }


}

@media #{$xs-layout}{

    .testimonial__slide--3 .owl-nav{
      display: none;
    }

    .testimonial--3 {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
    }

}


@media #{$xxs-layout}{


    .testimonial--4 .testimonial__inner .clint__info p {
      font-size: 18px;
      line-height: 31px;
      padding: 0 10px;
    }
    .testimonial--4 .testimonial__inner::before {
      font-size: 50px;
      right: 30px;
    }

}


