/* Large desktop :1920px. */
@media (min-width: 1920px) {/* Normal desktop :992px. */
    .text-content-wrapper {right: -150px;}
    .slider-two-area .banner-btn .default-btn {margin-bottom: 48px;}
    
}

/* Laptop Device :1366px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .single-slide {background-position: 50% center; background-size: cover;}
    
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {   
    .text-content-wrapper {padding-left: 15px; right: -40px;}
    .text-content h1 {font-size: 50px;}
    .ht-blog-text {margin: 0 15px -15px; padding: 24px 15px 29px;}
    .ht-single-blog {padding-top: 15px;}
    .blog-area .col-md-4:nth-child(2n) .ht-single-blog {
        padding-bottom: 15px;
    }
    .blog-area .col-md-4:nth-child(2n) .ht-blog-text {margin: -15px 15px 0;}
    .ht-donate-wrapper {padding: 75px 0 92px;}
    .donate-text > h2 {font-size: 27px;}
    .ht-event-text {margin: 17px 17px 17px -54px; padding: 16px 15px 8px; width: 56%;}
    .ht-event-info {margin-bottom: 12px;}
    .ht-event-text > h4 {margin-bottom: 10px;}
    .ht-s-event-info {margin-bottom: 4px;}
    .ht-s-event-info:last-of-type {margin: 0;}
    .ht-join-text {padding: 0;}
    .help-text > p {font-size: 22px;}
    .ht-cause-text {margin: -15px 15px 15px; padding: 14px 18px 22px;}
    .header-two-area .main-menu > nav > ul > li {padding: 0 11px;}
    .header-two-area .button-box {padding-left: 20px;}
    .help-two-area .help-text-container > p {font-size: 18px;}
    .cause-two-area .ht-cause-text {padding: 29px 20px 25px;}
    .single-mission-wrapper {margin-right: 0;}
    .donate_form {margin: 0;}
    .project-text {padding: 33px 15px 36px;}
    .project-text > h4 {width: calc(100% - 44px);}
    .project-btn {margin-left: 0;}
    .events-two-area .event-time {left: 10px; padding: 0 0 0 13px; width: 97px;}
    .events-two-area .s-team-wrapper > h4 {font-size: 19px;}
    .events-two-area .s-team-wrapper {padding-left: 118px;}
    .ht-about-feature-item {padding: 0;}
    .blog-section .ht-blog-text {padding: 30px 15px 20px;}
    .blog-section .ht-blog-text > h2 {font-size: 20px;}
    .blog-section .nav.nav-tabs {margin-right: 44px;}
    .blog-section .ht-sidebar-widget {padding-right: 0;}
    .post-style-two .ht-widget-p-text > h4 {line-height: 18px;}
    .ht-widget-tags > li a {margin-right: 5px; padding: 5px 16px;}
    .ht-sidebar-widget {padding-right: 0;}
    .post-details-bar {padding-right: 64px;}
    .cause-d-content-text {padding-left: 15px;}
    .cause-d-content-text > span {line-height: 25px;}
    .event-details-container {padding: 0 15px;}
    .posts-details-container .event-details-container h1 {font-size: 23px;}
    .event-timer {margin-bottom: 45px;}
    #search_box .modal-dialog {width: 88%;}
    .header-two-area .sticky .logo {padding: 24px 0;}
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .menu-container {margin-right: 64px;}
    .logo {padding: 32px 0;}
    .search-content {line-height: 92px;}
    .text-content-wrapper {padding-left: 0; right: 0;}
    .text-content h1 {font-size: 40px; margin-bottom: 7px;}
    .text-content p {margin-bottom: 25px;}
    .help-text > p {font-size: 20px;}
    .ptb-100 {padding: 70px 0;}
    .pt-100 {padding-top: 70px;}
    .pb-70 {padding-bottom: 70px;}
    .pt-90 {padding-top: 60px;}
    .pb-95 {padding-bottom: 64px;}
    .section-title {margin-bottom: 50px;}
    .ht-single-cause {margin-bottom: 40px;}
    .col-md-4:last-child .ht-single-cause {margin-bottom: 0;}
    .col-md-3:nth-child(1) .single-team, .col-md-3:nth-child(2) .single-team {margin-bottom: 40px;}
    .team-img img, .team-img a {width: 100%;}
    .ht-event-text {margin: 38px 25px 38px -59px; padding: 41px 26px 28px 34px; width: 60%;}
    .ht-event-img {width: 44.5%;}
    .owl-item .ht-event-img img, .owl-item .ht-event-img a {width: 100%;}
    .events-area .section-title, .blog-area .section-title {margin-bottom: 40px;}
    .ht-donate-wrapper {padding: 75px 0 92px;}
    .donate-text > h2 {font-size: 21px;}
    .donate-text > h5 {font-size: 14px;}
    .donate-btn .default-btn {padding-bottom: 0; padding-left: 32px; padding-right: 32px;}
    .donate-btn {padding-top: 4px;}
    .ht-single-blog {margin-bottom: 30px;}
    .col-md-4:last-child .ht-single-blog {margin: 0;}
    .footer-top > .container > .row > [class*="col-"]:nth-child(2n+1) {clear: both;}
    .single-footer-widget .footer-info {padding-right: 0;}
    .footer-address {padding-right: 0;}
    .single-footer-widget {margin-bottom: 45px;}
    .footer-list > li {margin-bottom: 14px;}
    .footer-top {padding: 70px 0 10px;}
    .header-two-area .logo {padding: 40px 0;}
    .header-two-area .menu-container {padding: 0;}
    .header-two-area .button-box {padding: 40px 0 32px;}
    .header-two-area .mean-container a.meanmenu-reveal {margin-top: -64px;}
    .slider-two-area .text-content > h1 {font-size: 57px;}
    .help-text-container {margin-left: 0; padding-top: 50px;}
    .ptb-120 {padding: 90px 0;}
    .pt-100 {padding-top: 70px;}
    .pb-100 {padding-bottom: 70px;}
    .cause-two-area .ht-single-cause {margin-bottom: 40px;}
    .donate_form {margin: 0; padding: 37px 20px 40px;}
    .mission-text {padding-left: 12px;}
    .mission-text > p {font-size: 14px;}
    .mission-icon {width: 75px;}
    .single-mission-wrapper {margin: 0;}
    .mission-area .section-title {margin-bottom: 50px;}
    .ht-single-project {margin-bottom: 40px;}
    .col-md-4:last-child .ht-single-project {margin-bottom: 0;}
    .events-two-area .ht-event-img > a img, .events-two-area .ht-event-img > a {width: 100%;}
    .events-two-area .ht-single-event {margin-bottom: 40px;}
    .events-two-area .col-md-6:last-child .ht-single-event {margin-bottom: 0;}
    .pt-120 {padding-top: 90px;}
    .pb-120 {padding-bottom: 90px;}
    .pt-105 {padding-top: 75px;}
    .pb-105 {padding-bottom: 75px;}
    .gallery-two-area .gallery-img span {
        font-size: 22px;
        left: 10px;
        padding: 16px 0 21px;
        right: 10px;
        width: calc(100% - 20px);
    }
    .gallery-two-area .gallery-img:hover span {bottom: 10px;}
    .breadcrumb-text {padding: 191px 0 174px;}
    .pt-110 {padding-top: 80px;}
    .help-style-two .ht-video-bg {height: 400px; margin: 0 0 -160px;}
    .about-features-area {padding-top: 230px;}
    .ht-about-feature-item > h3 {font-size: 21px; margin-bottom: 8px;}
    .ht-about-feature-item {padding: 0;}
    .blog-section .ht-blog-text {padding: 30px 15px 20px;}
    .blog-section .nav.nav-tabs {margin-right: 0; width: 35%;}
    .ht-sidebar-widget .mc-form {width: 46%;}
    .pagination {margin: 20px 0 60px;}
    .blog-section .ht-sidebar-widget:last-of-type {margin: 0;}
    .reply-comments {padding-left: 104px;}
    .post-comments, .post-details-form {padding-top: 50px;}
    .single-post-comments {margin-bottom: 40px;}
    .ht-widget-banner {line-height: 0;}
    .ht-widget-banner-hover {line-height: normal;}
    .post-details-form {padding-bottom: 50px;}
    .cause-two-area .pagination {margin-bottom: 0;} 
    .cause-d-content-text {padding-left: 15px;}
    .post-d-img {width: 39%;}
    .cause-d-content-text .default-btn {margin-top: 8px;}
    .ht-sidebar-widget:last-child {margin-bottom: 0;}
    .contact-form-wrapper {padding-right: 0;}  
    .event-section .pagination {margin-bottom: 0;}
    .event-details-container {padding: 0; margin-bottom: 50px;}
    .event-details-area {padding-bottom: 75px;}
    #search_box .modal-dialog {width: 75%;}
    .sticky .mean-container a.meanmenu-reveal {margin-top: -43px;}
    .header-two-area .sticky .button-box {padding: 16px 0;}
    .header-two-area .sticky .mean-container a.meanmenu-reveal {margin-top: -48px;}
    .pb-85 {padding-bottom: 55px;}
}

/* small mobile :320px. */
@media (max-width: 767px) {
    .ht-header-msg {margin-right: 20px;}
    .ht-header-btn {float: none;}
    .ht-header-btn .default-btn {line-height: 38px; width: 100%;}
    .logo {padding: 20px 0;}
    .search-content {line-height: 65px; margin-right: 50px;}
    .mean-container a.meanmenu-reveal {margin-top: -46px;}
    .single-slide {background-position: center center;}
    .slider-area {height: 300px;}
    .text-content-wrapper {padding-left: 0; right: auto; text-align: center;}
    .text-content > h1 {font-size: 25px; line-height: 28px; margin-bottom: 9px;}
    .text-content > p {font-size: 15px; margin-bottom: 15px;}
    .slider-wrapper .owl-nav {display: none;}
    .ptb-100 {padding: 50px 0;}
    .pt-100 {padding-top: 50px;}
    .pb-100 {padding-bottom: 50px;}
    .pt-90 {padding-top: 40px;}
    .pb-90 {padding-bottom: 40px;}
    .pb-95 {padding-bottom: 45px;}
    .pt-95 {padding-top: 45px;}
    .help-title {font-size: 31px; margin-bottom: 15px;}
    .help-text > p {font-size: 16px; line-height: 32px;}
    .section-title h1 {font-size: 30px; margin-bottom: 12px; line-height: 22px;}
    .section-title {margin-bottom: 30px;}
    .ht-cause-text {margin: -15px 15px 15px; padding: 10px 15px 20px;}
    .ht-single-cause {margin-bottom: 30px;}
    .col-md-4:last-child .ht-single-cause {margin-bottom: 0;}
    .ht-join-text {padding: 0;}
    .ht-join-text > h1 {font-size: 23px; margin-bottom: 15px;}
    .ht-join-text > p {font-size: 16px; margin-bottom: 20px;}
    .events-area .section-title, .blog-area .section-title {margin-bottom: 20px;}
    .ht-event-img {float: none; width: 100%;}
    .event-time {bottom: 30px; right: 15px;}
    .ht-event-text {float: none; margin: -15px 15px 22px; padding: 20px 15px 14px; width: auto;}
    .pt-140 {padding-top: 90px;}
    .pt-130 {padding-top: 80px;}
    .pb-130 {padding-bottom: 80px;}
    .pb-140 {padding-bottom: 90px;}
    .ht-s-testimonial > p {font-size: 16px;}
    .carousel-style-2 .owl-dots {margin-top: 20px;}
    .testimonial-area .gradient-overlay {padding: 52px 0 50px;}
    .single-team {margin-bottom: 30px;}
    .col-md-4:last-child .single-team {margin: 0;}
    .gallery-img span {padding: 11px 0 16px;}
    .gallery-img:hover span {bottom: 10px;}
    .ht-donate-wrapper {padding: 45px 0 51px; text-align: center;}
    .donate-text > h2 {font-size: 20px; line-height: 28px;}
    .donate-text > h5 {font-size: 15px; line-height: 23px;}
    .donate-btn {float: none;}
    .donate-text {float: none;}
    .ht-blog-text {margin: 0 15px -15px; padding: 19px 15px 24px;}
    .ht-single-blog {margin-bottom: 30px; padding-top: 15px;}
    .blog-area .col-md-4:last-child .ht-single-blog {margin-bottom: 10px;}
    .blog-area .col-md-4:nth-child(2n) .ht-blog-text {margin: -15px 15px 0;}
    .blog-area .col-md-4:nth-child(2n) .ht-single-blog {padding-bottom: 15px;}
    .s-footer-item:first-child {margin-bottom: 5px;}
    .footer-address {padding-right: 0;}
    .single-footer-widget .footer-info {padding-right: 0;}
    .single-footer-widget {margin-bottom: 40px;}
    .col-md-3:last-child .single-footer-widget {margin-bottom: 0;}
    .header-two-area .button-box {padding: 16px 0;}
    .header-two-area .default-btn {border: 1px solid #fc2c62; line-height: 29px; padding: 0 9px;}
    .header-two-area .logo {padding: 40px 0 25px;}
    .header-two-area .menu-container {padding: 0;}
    .header-two-area .button-box {padding: 40px 0 21px;}
    .header-two-area .mean-container a.meanmenu-reveal {margin-top: 8px; padding-right: 15px;}
    .mobile-menu {display: block;}
    .header-two-area .mean-container .mean-bar {
        background: #fc2c62 none repeat scroll 0 0;
        border-radius: 3px;
        min-height: 40px;
    }
    .header-two-area .mean-container .mean-bar::after {display: block;}
    .header-two-area .mean-container .mean-nav {margin-top: 40px; position: inherit;}
    .header-two-area .mean-container a.meanmenu-reveal {color: #ffffff;}
    .header-two-area .mean-container .mean-nav ul li a.mean-expand:hover {color: #ffffff;}
    .slider-two-area .text-content > h1 {font-size: 36px;}
    .slider-two-area .text-content > h2 {font-size: 23px; margin-bottom: 14px; padding-top: 132px;}
    .slider-two-area {height: 470px;} 
    .ptb-120 {padding: 70px 0;}
    .pt-100 {padding-top: 50px;}
    .pb-100 {padding-bottom: 50px;}
    .cause-two-area .ht-single-cause {margin-bottom: 40px;}
    .donate_form {margin: 0; padding: 37px 20px 40px;}
    .mission-text {padding-left: 9px;}
    .mission-text > p {font-size: 14px;}
    .mission-icon {height: 71px; width: 59px;}
    .single-mission-wrapper {margin: 0;}
    .mission-area .section-title {margin-bottom: 50px;}
    .ht-single-project {margin-bottom: 40px;}
    .col-md-4:last-child .ht-single-project {margin-bottom: 0;}
    .events-two-area .ht-event-img > a img, .events-two-area .ht-event-img > a {width: 100%;}
    .events-two-area .ht-single-event {margin-bottom: 40px;}
    .events-two-area .col-md-6:last-child .ht-single-event {margin-bottom: 0;}
    .pt-120 {padding-top: 70px;}
    .pb-120 {padding-bottom: 70px;}
    .pt-105 {padding-top: 55px;}
    .pb-105 {padding-bottom: 55px;}
    .gallery-two-area .gallery-img span {
        font-size: 22px;
        left: 10px;
        padding: 16px 0 21px;
        right: 10px;
        width: calc(100% - 20px);
    }
    .gallery-two-area .gallery-img:hover span {bottom: 10px;}
    .ht-video-bg {height: 280px; margin-right: 0;}
    .help-text-container {margin: 40px 0 0;}
    .help-text-container > h1 {font-size: 31px; padding-bottom: 15px;}
    .help-text-container > p {font-size: 19px;}
    .help-text-container .progress-wrap {margin-right: 0;}
    .help-text-container > span {font-size: 15px;}
    .help-text-container .default-btn {display: block;}
    .section-title > p {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
    .section-title.title-style-2 > h1 {margin-bottom: 12px;}
    .section-title.title-style-2 {margin-bottom: 32px;}
    .cause-two-area .ht-cause-text {padding: 29px 15px 25px;}
    .single-mission {margin-bottom: 20px;}
    .mission-container .section-title.title-style-2 > h1 {margin-bottom: 35px;}
    .mission-container {margin-bottom: 40px;}
    .project-text {padding: 33px 15px 36px;}
    .project-text > h4 {width: calc(100% - 44px);}
    .project-btn {margin-left: 0;}
    .col-md-3:last-child .single-team {margin-bottom: 0;}
    .events-two-area .event-time {
        bottom: auto;
        font-size: 28px;
        height: 39px;
        left: auto;
        line-height: 40px;
        padding-left: 8px;
        right: 5px;
        top: 5px;
        width: 90px;
    }
    .events-two-area .s-team-wrapper {padding: 46px 15px 0;}
    .events-two-area .ht-event-text {height: 100%;}
    .events-two-area .s-team-wrapper > h4 {margin-bottom: 8px;}
    .events-two-area .ht-event-img > a::after {
        background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(252, 44, 98, 0.9), rgba(255, 255, 255, 0.9)) repeat scroll 0 0;
    }
    .header-two-area .button-white .default-btn {border-color: #ffffff;}
    .breadcrumb-text {padding: 200px 0 85px;}
    .banner-area {background-position: 74% center;}
    .pt-110 {padding-top: 60px;}
    .help-style-two .ht-video-bg {height: 300px; margin: 0 0 -142px;}
    .help-style-two .help-text {padding-bottom: 30px;}
    .about-features-area {padding-top: 193px;}
    .ht-about-feature-item {margin-bottom: 30px; padding: 0 18px;}
    .col-md-4:last-child .ht-about-feature-item {margin-bottom: 0;}
    .count-area .col-md-3:nth-child(1) .ht-single-count, .count-area .col-md-3:nth-child(2) .ht-single-count {
        margin-bottom: 30px;
    }
    .count-area {padding: 50px 0;}
    .blog-section .ht-blog-text {padding: 30px 15px 20px;}
    .blog-section .ht-blog-text > h2 {font-size: 20px;}
    .pagination {margin: 10px 0 50px;}
    .blog-section .nav.nav-tabs {margin-right: 43px;}
    .blog-section .ht-sidebar-widget {padding-right: 0;}
    .ht-sidebar-widget:last-child {margin-bottom: 0;}
    .post-style-two .ht-widget-p-text > h4 {line-height: 20px;}
    .blog-section .post-details-img {margin-bottom: 30px;}
    .blog-section .post-d-info {margin-bottom: 22px;}
    .blog-section .post-details-wrapper {padding-bottom: 28px; padding-top: 26px;}
    .blog-section .post-d-content .col-md-6:first-child img {margin-bottom: 25px;}
    .blog-section .post-d-content {margin-bottom: 30px;}
    .post-comments {padding-top: 40px;}
    .blog-section .post-comments > h3 {padding-bottom: 25px;}
    .post-comments-img {width: 61px;}
    .post-comments-content {padding-left: 11px;}
    .reply-comments {padding-left: 25px;}
    .single-post-comments {margin-bottom: 33px;}
    .post-details-form {padding-bottom: 45px; padding-top: 50px;}
    .post-details-form > h3, .post-comments > h3 {padding-bottom: 30px;}
    .post-details-form input {margin-bottom: 10px;}
    .post-details-form textarea {padding-top: 10px;}
    .ht-widget-banner {line-height: 0;}
    .ht-widget-banner-hover {line-height: normal; padding: 0 22px;}
    .post-d-content img {width: 100%;}
    .cause-two-area .pagination {margin-bottom: 0;}
    .breadcrumb-text h2 {font-size: 44px;}
    .post-details-bar {padding-right: 0; padding-top: 20px;}
    .posts-details-container h1 {line-height: 33px; margin-bottom: 15px;}
    .post-d-info > span {line-height: 26px;}
    .post-d-info {margin-bottom: 20px;}
    .post-details-wrapper {padding-bottom: 50px; padding-top: 24px;}
    .post-details-wrapper > p:first-of-type {margin-bottom: 15px;}
    .post-details-wrapper > p:last-of-type {margin-bottom: 30px;}
    .post-d-img {float: none; margin-bottom: 30px;}
    .cause-d-content-text {padding-left: 0;}
    .ht-sidebar-widget {padding-right: 0;}
    .ht-widget-tags > li a {margin-right: 3px; padding: 5px 17px;}
    .ht-sidebar-widget.style-three {padding-right: 0;}
    .contact-form-wrapper {margin-bottom: 30px; padding-right: 0;}
    .event-section .pagination {margin-bottom: 0;}
    .events-two-area .ht-single-event {margin-bottom: 30px;}
    .event-details-container {padding: 0;}
    .timer {float: none; width: 100%;}
    .event-timer {margin-bottom: 22px; margin-top: 30px;}
    .timer-btn {display: block; float: none; padding: 0; text-align: center; width: auto;}
    .timer-btn button {margin-top: 25px;}
    .posts-details-container .event-details-container h1 {font-size: 19px; margin-bottom: 5px;}
    .event-details-container .post-details-wrapper {padding-top: 30px;}
    .event-details-container .post-details-wrapper > p:nth-of-type(2) {margin-bottom: 35px;}
    .event-details-container .post-details-wrapper > p:last-of-type {margin-bottom: 40px;}
    .event-details-area {padding-bottom: 54px;}
    .pb-85 {padding-bottom: 70px;}
    .header-two-area .sticky .button-box {padding: 11px 0 10px;}
    .header-two-area .sticky .logo {padding: 14px 0;}
    .sticky .mean-container a.meanmenu-reveal {margin-top: -44px;}
    #search_box .modal-dialog {width: 80%;}
    form.search-pop-up, .search-pop-up input {width: 100%;}
    .header-two-area .sticky .mean-container a.meanmenu-reveal {margin-top: 8px;}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .ht-cause-img img, .post-d-content img, .post-d-img > img, .ht-event-img img, .ht-event-img a, .ht-blog-img img {width: 100%;}
    .team-area .col-md-3 {float: left; width: 50%;}
    .blog-section .nav.nav-tabs {margin-right: 203px;}
    .project-img img {width: 100%;}
    .team-two-area .col-md-3 {float: left; width: 50%;}
    .team-two-area {padding-bottom: 40px;}
    .gallery-img img {width: 100%;}
    .events-two-area .s-team-wrapper {bottom: 10px; position: absolute;}
    .team-area.team-section {padding-bottom: 35px;}
    .blog-section .nav.nav-tabs {margin-right: 203px;}
}