/* large desktop :1366px. */

@media (min-width: 1200px) and (max-width: 1366px) {
    .blog-content-app {
        padding: 23px 18px 23px 10px;
    }
    #background-1 {
        background-position: left -100px top -150px;
    }
    .slide-text {
        padding: 240px 0 0;
    }
    #background-5 {
        background-position: left 0% bottom 6%;
    }
    #background-4 {
        background-position: right -22px bottom -108px;
    }
    #background-7 {
        background-position: right 195px bottom -192px;
    }
    #background-6 {
        background-position: left 55% top 120px;
    }
    #background-2 {
        background-position: right 9px top 7px;
    }
}
/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
    .about-content {
        padding: 0 57px 0 0;
    }
    .single-pricing {
      margin: 0 10px 30px;
    }
    .video-area > img {
        width: 100%;
    }
    .menu-bar ul li a {
        padding-left: 20px;
    }
    .header-btn {
        margin-left: 2px;
    }
    .single-service {
        padding: 50px 26px 71px 24px;
    }
    .blog-details-wrapper {
        padding: 0 70px;
    }
    #background-5 {
      background-position: left -16px bottom -1%;
    }
    #background-4 {
        background-position: right -22px bottom -108px;
    }
    #background-7 {
      background-position: right 34px bottom -196px;
    }
    #background-6 {
        background-position: left 55% top 120px;
    }
    #background-2 {
        background-position: right -18px top -16px;
    }
    #background-1 {
        background-position: left -220px top -179px;
    }
    .slide-text {
        padding: 175px 0 0;
    }
    .slide-text p {
        width: 54%;
    }
    .slide-text h2 {
        font-size: 38px;
    }
    .about-img {
        padding-right: 100px;
    }
    .coustom-row {
      margin: 0 -15px;
    }
    .coustom-col {
      padding: 0 15px;
    }
    .blog-info {
      padding: 45px 24px 36px;
    }
    .blog-video-text {
        padding-left: 104px;
    }
    .blog-video-text > h3 {
        font-size: 14px;
    } 
    
    
}
/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .menu-bar ul li a {
        font-size: 12px;
        padding-left: 9px;
    }
    .header-btn {
        margin-left: 6px;
        padding: 9px 20px 8px;
    }
    .bar-button.ml-15 {
        margin-left: 5px;
    }
    .single-service {
        padding: 38px 24px 59px 22px;
    }
    .about-content {
        padding: 15px 0 0;
    }
    .single-testi-text > p {
        padding: 36px 22px 39px;
    }
    .subscribe-content > p {
        width: 100%;
    }
    .single-pricing {
      margin: 0 0 30px;
    }
        h3.counter {
      font-size: 33px;
    }
        .blog-btn {
      margin: 0 18px;
    }
    .counter-text {
        padding-left: 40px;
    }
    .blog-info {
        padding: 35px 18px 26px;
    }
    .blog-info > h2 {
        font-size: 18px;
    }
    .blog-details-wrapper {
        padding: 0;
    }
    #background-5 {
        background-position: left 0 bottom 0%;
    }
    #background-4 {
        background-position: right -94px bottom -165px;
    }
    #background-7 {
        display: none;
    }
    #background-6 {
        background-position: left 92% top 146px;
    }
    #background-2 {
        background-position: right -29px top -22px;
    }
    #background-1 {
        background-position: left -255px top -135px;
    }
    .slide-text {
        padding: 203px 0 0;
    }
    .slide-text p {
        width: 100%;
    }
    .slide-text h2 {
        font-size: 38px;
        line-height: 47px;
    }
    .career-text {
        padding: 55px 0;
    }
    .about-img {
        padding-right: 0;
    }
    .pb-210 {
        padding-bottom: 170px;
    }
    .pt-280 {
        padding-top: 240px;
    }
    .coustom-row {
      margin: 0 -15px;
    }
    .coustom-col {
      padding: 0 15px;
    }
    .blog-right-sidebar {
      margin-top: 60px;
    }
      .blog-right-sidebar-bottom li {
      margin: 0 7px 8px 0;
    }
    .mockup-img > img {
  margin-left: 0;
  width: 100%;
}
.mockup-img {
  padding-right: 0;
}    
.career-text {
  padding: 0px 0;
}    
.career-text > p {
  margin: 12px 0 20px;
}    
.career-area {
  padding-bottom: 60px;
}    
   
    
    
    
    
}
/* small mobile :320px. */

@media (max-width: 767px) {
    .bar-button.ml-15 {
        display: none;
    }
    .single-service {
        margin: 30px 0;
        padding: 40px 15px 34px;
    }
    .about-content {
        padding: 30px 0px 45px 0px;
    }
    .subscribe-content > p {
        width: 100%;
    }
    .subscribe-form .mc-form {
        width: 100%;
    }
    .subscribe-form .mc-form .clear input {
        padding: 0 15px;
    }
    .subscribe-form .mc-form input {
        padding: 0 120px 0 20px;
    }
    .single-pricing {
        margin: 0 0 30px;
    }
    .menu-bar ul {
        background-color: #fff;
        margin: 15px 0;
        padding: 15px 0;
    }
    .menu-bar ul li {
        display: block;
        float: none;
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    .menu-bar ul li a {
        color: #333;
        display: block;
        padding-left: 0;
    }
    .stick .menu-bar ul li a {
        color: #333;
    }
    .stick .menu-bar ul li a:hover {
        color: #49b970;
    }
    .header-left.f-left {
        float: none;
    }
    .logo {
        display: inline-block;
        margin-top: 5px;
    }
    .menu-bar.navbar-collapse {
        width: 100%;
    }
    .header-right.f-right {
        float: none;
    }
    #background-8 {
        background-position: right 120px bottom 60px;
    }
    .blog-details-wrapper {
        padding: 0;
    }
    .pb-210 {
        padding-bottom: 180px;
    }
    .pt-280 {
        padding-top: 184px;
    }
    .single-comment.middle-blog {
        margin-left: 0;
    }
    .ptb-120 {
        padding: 80px 0;
    }
    #background-5 {
        background-position: left 0 bottom 0%;
    }
    #background-4 {
        background-position: right -94px bottom -224px;
    }
    #background-7 {
        display: none;
    }
    #background-6 {
        background-position: left 142% top 103px;
    }
    #background-2 {
        background-position: right -29px top -22px;
    }
    #background-1 {
        background-position: left -278px top -170px;
    }
    #background-3 {
        background-position: right 14% bottom 9%;
    }
    .slide-text {
        padding: 203px 0 0;
    }
    .slide-text p {
        display: none;
    }
    .slide-text h2 {
        font-size: 23px;
        line-height: 34px;
    }
    .mockup-img > img {
        margin-left: 0;
        width: 100%;
    }
    .mockup-img {
        padding-right: 0;
    }
    .career-text {
        padding: 55px 0;
    }
    .career-text > h2 {
        font-size: 30px;
    }
    .pt-120 {
        padding-top: 80px;
    }
    .pb-90 {
        padding-bottom: 50px;
    }
    .section-title > h2 {
        margin-bottom: 40px;
    }
    .section-title.section-title2 > h2 {
        margin-bottom: 40px;
    }
    .ptb-150 {
        padding: 80px 0;
    }
    .coustom-row {
      margin: 0 -15px;
    }
    .coustom-col {
      padding: 0 15px;
    }
    .blog-right-sidebar {
      margin-top: 60px;
    }
    .blog-right-sidebar-bottom li {
      margin: 0 7px 8px 0;
    } 
    .pb-110 {
      padding-bottom: 80px;
    }    
    .video-icon.video-popup > img {
      height: 35px;
      width: 35px;
    }    
    .blog-info > h2 {
      font-size: 17px;
    }    
    .blog-info {
      padding: 45px 20px 36px;
    }    
    .blog-btn {
      margin: 0 20px; 
    } 
    .comment-text {
      margin: 0 0 40px 110px;
    }    
    .comment-text.second-border.blog-border {
      padding-left: 110px;
    }    
    
    
    
    
    
}
/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}