/*--
    05. domain form Css
--------------------------*/


.domain-form {
    position: relative;
    max-width: 720px;
    margin: 0 auto;
    @media #{$tablet-device}{
        max-width: 620px;
    }
    input {
        width: 500px;
        height: 60px;
        line-height: 60px;
        border: 1px solid #dedede;
        border-radius: 5px;
        padding: 0 30px;
        @media #{$tablet-device}{
            width: 400px;
        }
        @media #{$large-mobile}{
            width: 100%;
        }
    }
    button {
        background: #455ac8;
        color: #fff;
        height: 60px;
        border: 0 none;
        padding: 0 40px;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 12px;
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.4s ease-in-out;
        &:hover{
            background: #4f5da4;
            color: #fff;
        }
        @media #{$large-mobile}{
            text-align: center;
            margin: 15px auto 0;
        }
    }
}


/* pricing Table */

.hosting-switer .ht-switcher-nav-2 a.active::before {
    background-color: #455ac8;
}


.pricing-panel-6.active.hosting-price .pricing-heading {
    background: #455ac8;
}

.pricing-panel-6.active.hosting-price .pricing-footer a.price_btn{
    background: #455ac8;
}


/* Counter */

.funfact.counter-style--5.hosting-counter .content {
    text-align: center;
    margin-top: 30px;
}
.funfact.counter-style--5.hosting-counter .content span{
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    font-family: $heading-font;
}

.funfact.counter-style--5.hosting-counter .content h2{
    color: #ffffff;
    font-size: 18px;
    font-family: $heading-font;
    margin-bottom: 0;
    line-height: 20px;
}
