/*--
    04. Service Css
-------------------------------------*/ 

.service-1{
    .icon{
        margin-bottom: 30px;
        i{
            color:  #ed552d;
            font-size:  50px;
        }
    }
    .thumb{
        margin-bottom: 25px;
    }
    .content{
        h4{
            color:  #333333;
            font-size:  18px;
            font-weight:  600;
        }
        p{
            color: #333;
            font-size: 15px;
            line-height: 25px;
            margin: 0;
            padding: 0 12px;
            position: relative;
            padding-bottom: 35px;
            &::before{
                position:  absolute;
                content: "";
                background:  #969696;
                width:  20px;
                height: 1px;
                bottom:  0;
                left:  50%;
                transform: translateX(-50%);
            }
            &::after{
                position:  absolute;
                content:  "";
                background:  #969696;
                height:  1px;
                width:  30px;
                bottom: 5px;
                left:  50%;
                transform: translateX(-50%);
            }
        }
    }


    
    &.agency-service{
        .icon{
            i{
                color:  $theme-color;
            }
        }
    }
    
    &.portfolio-service{
        .icon{
            i{
                color:  $theme-color;
            }
        }
    }

    &.gr-service{
        .icon{
            i{
                color: $theme-color;
            }
        }
        .content{
            h4{
                color:  #404040;
            }
            p{
                color: #5b5b5b;
                font-size: 16px;
                line-height: 28px;
                font-family: $body-font;
                padding: 0 12px;
                padding-bottom: 35px;
            }
        }
        &.fter-shape-none{
            .content{
                p{
                    &::before ,
                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
}


.service-7 {
    display:  flex;
    margin-top: 0;
    position:  relative;
    z-index: 1;
    padding: 40px 20px;
    border-radius: 8px;

    @media #{$large-mobile} {
        padding: 40px 10px;
    }
    .icons {
        margin-right: 33px;
        @media #{$large-mobile} {
            margin-right: 20px;
        }
        i {
            color:  #4c4c4c;
            font-size: 40px;
            transition: 0.4s;
        }
    }
    .content{
        h4 {
            color:  #333333;
            font-size: 20px;
            font-weight:  600;
            text-transform:  uppercase;
            margin-bottom: 8px;
            transition: 0.4s;

            @media #{$large-mobile} {
                font-size: 16px;
            }
        }
        p {
            color:  #333333;
            font-size:  14px;
            line-height: 25px;
            margin: 0;
            transition: 0.4s;
        }
    }
    &::before {
        background-image: url(../images/serviece/servicebg.png);
        position:  absolute;
        content:  "";
        width:  100%;
        height:  100%;
        background-repeat:  no-repeat;
        z-index: -1;
        background-position:  center center;
        top: 0;
        left: 0;
        border-radius: 8px;
        transition:  0.4s ease-in-out;
        opacity: 0;
        background-size: cover;
    }
    &:hover::before{
        opacity: 1;
    }
    &:hover .content h4 ,
    &:hover .content p ,
    &:hover .icons i {
        color: #fff;
    }


    &.political-service{
        .icons {
            i {
                color:  $theme-color;
            }
        }
    }
}


