<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Emporium || Checkoute</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		
		<!-- Google Fonts
		============================================ -->		
       <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	   <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	   
		<!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="style.css">
		
		<!-- modernizr JS
		============================================ -->		
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="checkout-page">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <!-- Header Area Start-->
		<header class="header-area">
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="header-top-left floatleft">
								<p>Default welcome msg!</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="header-top-right floatright">
								<ul class="top-menu">
									<li class="currency floatleft"><a href="#">usd</a> 
										<ul class="currency-list">
											<li><a href="#">gbp</a></li>
											<li><a href="#">EUR</a></li>
											<li><a href="#">BSD</a></li>
										</ul>
									</li>
									<li class="language floatleft">
										<a href="#">
											<img src="img/flag/us.png" alt="" />
											<span class="language-name">english</span> 
										</a>
										<ul class="language-list">
											<li>
												<a href="#">
													<img src="img/flag/australia.png" alt="" />
													<span class="language-name">english</span> 
												</a>
												<a href="#">
													<img src="img/flag/canada.png" alt="" />
													<span class="language-name">english</span> 
												</a>
												<a href="#">
													<img src="img/flag/uk.png" alt="" />
													<span class="language-name">english</span> 
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-buttom-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
							<div class="logen-area">
								<div class="log-reg">
									<p class="login"><span><i class="fa fa-sign-out"></i></span><a href="#">Login</a></p>
									<p class="register"><span><i class="fa fa-lock"></i></span><a href="#">Register</a></p>
								</div>
								<div class="number">
									<p class="register">
										<span><i class="fa fa-phone"></i></span>
										+88 (012) 564 979 56 
										<span class="ofice-time">We are open 9 am - 10pm</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-5 col-sm-4 col-xs-12 text-center">
							<div class="logo">
								<a href="index.html"><img src="img/logo/logo.png" alt="logo" /></a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
							<div class="row">
								<div class="col-lg-12">
									<div class="cart-area">
										<div class="acc-cart">
											<div class="cart">
												<p><span><img src="img/logo/cart.png" alt="" /></span><a href="#">Cart</a></p>
												<div class="cart-list">
													<ul>
														<li class="cart-list-li"> 
															<div class="cart-img">
																<a href="#"><img src="img/blog/6.jpg" alt="img"/></a>
															</div>
															<div class="cart-text">
																<a href="#"><span class="cart-list-item-color">2 X</span><p>Printed</p></a>
																<span>S, Yellow</span>
																<h6>$ 61.19</h6>
															</div>	
														</li>
														<li class="cart-list-li border-li">
															<div class="cart-img">
																<a href="#"><img src="img/blog/7.jpg" alt="img"/></a>
															</div>
															<div class="cart-text">												
																<a href="#"><span class="cart-list-item-color">3 X</span><p>Blouse</p></a>
																<span>L, Orang</span>
																<h6>$ 25.19</h6>
															</div>	
														</li>
														<li><p class="totel">totel</p><h6>£ 61.19</h6></li>
													</ul>
													<button>check out</button>
												</div>	 
											</div>
											<p class="account floatright">
												<span><i class="fa fa-user"></i>
												</span><a href="#">My Account </a>
											</p> 						
										</div>
									</div>								
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="search-area"> 
										<select class="orderby" style="display: none;">
											<option selected="selected" value="menu_order">ALL CATEGORY</option>
											<option value="popularity">BAG’S COLLECTION</option>
											<option value="rating">WOMEN’S COLLECTION</option>
											<option value="date">WATCHES</option>
											<option value="price">TRENDY ITEM’S </option>
											<option value="price-desc">man T-shart</option>
										</select>	
										<form class="cat-form" action="#">  
											<div class="form-input">
												<input class="floatright" type="text" placeholder="Search here..."/>
												<i class="fa fa-search"></i>
											</div> 
										</form>
									</div>								
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="main-menu"> 
								<nav>
									<ul>
										<li><a href="index.html">HOME</a> 
											<ul class="sub-menu">
												<li><a href="index.html">home one</a></li>  
												<li><a href="index-2.html">home tow</a></li>  
											</ul> 									
										</li>
										<li class="mega-one"><a href="about.html">ABOUT</a>
											<div class="home-one-menu">
												<ul>
													<li> 
														<div class="mega-menu">
															<div class="mega-menu-in"> 
																<span>
																	<a class="mega-menu-title" href="#">Cocktail</a>
																	<a class="icon" href="shop-left-sideber.html">Cocktail</a>
																	<a class="icon"  href="shop-left-sideber.html">day</a>
																	<a class="icon"  href="shop-left-sideber.html">Evening</a>
																	<a class="icon"  href="shop-left-sideber.html">Sports</a> 
																</span>
																<span>
																	<a class="mega-menu-title" href="#">Jackets</a>
																	<a class="icon"  href="shop-left-sideber.html">coats</a>
																	<a class="icon"  href="shop-left-sideber.html">T-shirts</a>
																	<a class="icon"  href="shop-left-sideber.html">Jackets </a>
																	<a class="icon"  href="shop-left-sideber.html">jeans</a> 
																</span>	 
																<span>
																	<a class="mega-menu-title" href="#">coats</a>
																	<a class="icon"  href="shop-left-sideber.html">Blazers</a>
																	<a class="icon"  href="shop-left-sideber.html">table</a>
																	<a class="icon"  href="shop-left-sideber.html">coats</a>
																	<a class="icon"  href="shop-left-sideber.html">kids</a> 
																</span>
																<span>
																	<a class="mega-menu-title" href="shop-left-sideber.html">Sports</a>
																	<a class="icon"  href="shop-left-sideber.html">Sports</a>
																	<a class="icon"  href="shop-left-sideber.html">run</a>
																	<a class="icon"  href="shop-left-sideber.html">sandals</a>
																	<a class="icon"  href="shop-left-sideber.html">Books</a> 
																</span>	 
																 <span class="mega-menu-img">
																	<a href="shop-left-sideber.html"><img src="img/feature/5.jpg" alt="" /></a> 
																 </span>
															</div>
														</div>
													</li>  
												</ul>
											</div>									
										</li>
										<li><a href="shop-left-sideber.html">SHOP</a></li>
										<li class="mega-tow"><a href="shop-left-sideber.html">MEN</a>
											<div class="home-one-menu">
												<ul>
													<li> 
														<div class="mega-menu">
															<div class="mega-menu-in"> 
																<span>
																	<a class="mega-menu-title" href="shop-left-sideber.html">Evening</a>
																	<a class="icon" href="shop-left-sideber.html">Cocktail</a>
																	<a class="icon"  href="shop-left-sideber.html">day</a>
																	<a class="icon"  href="shop-left-sideber.html">Evening</a>
																	<a class="icon"  href="shop-left-sideber.html">Sports</a> 
																</span>
																<span>
																	<a class="mega-menu-title" href="shop-left-sideber.html">T-shirts</a>
																	<a class="icon"  href="shop-left-sideber.html">coats</a>
																	<a class="icon"  href="shop-left-sideber.html">T-shirts</a>
																	<a class="icon"  href="shop-left-sideber.html">Jackets </a>
																	<a class="icon"  href="shop-left-sideber.html">jeans</a> 
																</span>	 
																<span>
																	<a class="mega-menu-title" href="shop-left-sideber.html">Blazers</a>
																	<a class="icon"  href="shop-left-sideber.html">Blazers</a>
																	<a class="icon"  href="shop-left-sideber.html">table</a>
																	<a class="icon"  href="shop-left-sideber.html">coats</a>
																	<a class="icon"  href="shop-left-sideber.html">kids</a> 
																</span>
																<span>
																	<a class="mega-menu-title" href="shop-left-sideber.html">sandals</a>
																	<a class="icon"  href="shop-left-sideber.html">Sports</a>
																	<a class="icon"  href="shop-left-sideber.html">run</a>
																	<a class="icon"  href="shop-left-sideber.html">sandals</a>
																	<a class="icon"  href="shop-left-sideber.html">Books</a> 
																</span>	  
															</div>
														</div>
													</li>  
												</ul>
											</div>										
										</li>
										<li><a href="shop-left-sideber.html">WOMEN</a></li>
										<li><a href="shop-left-sideber.html">ACCESSORIES</a></li>
										<li><a href="blog-right-sideber.html">BLOG</a>
											<ul class="sub-menu"> 
												<li><a href="blog.html">Full Width Blog</a></li>  
												<li><a href="blog-right-sideber.html">blog right sidebar</a></li>  
												<li><a href="blog-left-sideber.html">blog left sidebar</a></li> 
												<li><a href="blog-details.html">blog details</a></li>  
											</ul> 									
										</li>
										<li><a href="shop-left-sideber.html">pages</a>
											<ul class="sub-menu"> 
												<li><a href="about.html">about us</a></li>
												<li><a href="cart.html">cart page</a></li>
												<li><a href="contact.html">contact page</a></li> 
												<li><a href="checkout.html">checkout page</a></li> 
												<li><a href="order.html">order page</a></li> 
												<li><a href="shop.html">shop full width</a></li>  
												<li><a href="shop-left-sideber.html">shop left sidebar</a></li>  
												<li><a href="shop-right-sideber.html">shop right sidebar</a></li> 
												<li><a href="single-product.html">single product</a></li>
												<li><a href="wishlist.html">wishlist</a></li>
												<li><a href="login.html">Login</a></li>
											</ul> 										
										</li>
										<li><a href="contact.html">CONTACT</a></li>
									</ul>								
								</nav>							
							</div>
						</div>
					</div>
				</div>
				<!-- mobile-menu-area start -->
				<div class="mobile-menu-area"> 
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="mobile-menu">
									<nav id="dropdown">
										<ul>
											<li><a href="index.html">Home</a>
												<ul> 
													<li><a href="index-2.html">Home 2</a></li>
													<li><a href="index-3.html">Home 3</a></li>
												</ul>
											</li>
											<li><a href="blog.html">kids beds</a>
												<ul>
													<li><a href="shop.html">dresses</a>
														<ul>
															<li><a href="shop.html">Cocktail</a></li>
															<li><a href="shop.html">day</a></li>
															<li><a href="shop.html">Evening</a></li>
															<li><a href="shop.html">Sports</a></li> 
														</ul>
													</li>
													<li><a href="shop.html">clothing</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Sports</a></li>
															<li><a href="shop.html">Evening</a></li>
															<li><a href="shop.html">Cocktail</a></li>
															<li><a href="shop.html">day</a></li> 
														</ul>
													</li>
													<li><a href="shop.html">handbags</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Sports</a></li>
															<li><a href="shop.html">day</a></li>
															<li><a href="shop.html">Cocktail</a></li>
															<li><a href="shop.html">Evening</a></li> 
														</ul>
													</li>
													<li><a href="shop.html">shoes</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Sports</a></li>
															<li><a href="shop.html">Evening</a></li>
															<li><a href="shop.html">day</a></li>
															<li><a href="shop.html">Cocktail</a></li> 
														</ul>
													</li> 
												</ul>
											</li>
											<li><a href="shop.html">dressers</a>
												<ul>
													<li><a href="shop.html">dresses</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Bootees  Bags</a></li>
															<li><a href="shop.html">Blazers</a></li> 
														</ul>
													</li>
													<li><a href="#">clothing</a>
														<ul class="sub-menu">
															<li><a href="shop.html">coats</a></li>
															<li><a href="shop.html">T-shirts</a></li> 
														</ul>
													</li>
													<li><a href="#">handbags</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Bands</a></li>
															<li><a href="shop.html">Furniture</a></li> 
														</ul>
													</li>
													<li><a href="#">shoes</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Bands</a></li>
															<li><a href="shop.html">Lifestyle</a></li>  
														</ul>
													</li> 
												</ul>	
											</li>
											<li><a href="shop.html">desks</a>
												<ul class="sub-menu">
													<li><a href="shop.html">dresses</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Cocktail</a></li>
															<li><a href="shop.html">day</a></li>
															<li><a href="shop.html">Evening</a></li>
															<li><a href="shop.html">Sports</a></li> 
														</ul>
													</li>
													<li><a href="#">clothing</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Sports</a></li>
															<li><a href="shop.html">Evening</a></li>
															<li><a href="shop.html">Cocktail</a></li>
															<li><a href="shop.html">day</a></li> 
														</ul>
													</li>
													<li><a href="#">handbags</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Sports</a></li>
															<li><a href="shop.html">day</a></li>
															<li><a href="shop.html">Cocktail</a></li>
															<li><a href="shop.html">Evening</a></li> 
														</ul>
													</li>
													<li><a href="#">shoes</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Sports</a></li>
															<li><a href="shop.html">Evening</a></li>
															<li><a href="shop.html">day</a></li>
															<li><a href="shop.html">Cocktail</a></li> 
														</ul>
													</li> 
												</ul>	
											</li>
											<li><a href="shop.html">bookshelves</a>
												<ul class="sub-menu">
													<li><a href="shop.html">dresses</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Cocktail</a></li>
															<li><a href="shop.html">day</a></li>
															<li><a href="shop.html">Evening</a></li>
															<li><a href="shop.html">Sports</a></li> 
														</ul>
													</li>
													<li><a href="#">clothing</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Sports</a></li>
															<li><a href="shop.html">Evening</a></li>
															<li><a href="shop.html">Cocktail</a></li>
															<li><a href="shop.html">day</a></li> 
														</ul>
													</li>
													<li><a href="#">handbags</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Sports</a></li>
															<li><a href="shop.html">day</a></li>
															<li><a href="shop.html">Cocktail</a></li>
															<li><a href="shop.html">Evening</a></li> 
														</ul>
													</li>
													<li><a href="#">shoes</a>
														<ul class="sub-menu">
															<li><a href="shop.html">Sports</a></li>
															<li><a href="shop.html">Evening</a></li>
															<li><a href="shop.html">day</a></li>
															<li><a href="shop.html">Cocktail</a></li> 
														</ul>
													</li> 
												</ul>									
											</li>
											<li><a href="shop.html">armoires</a></li>
											<li><a href="shop.html">pages</a>
												<ul>
													<li><a href="shop.html">shope-page</a></li>
													<li><a href="single-product.html">single-product</a></li>
													<li><a href="checkout-page.html">checkout-page</a></li>
													<li><a href="wishlist.html">wishlist</a></li>
													<li><a href="contact-page.html">contact-page</a></li>
												</ul>										
											</li>
										</ul>
									</nav>
								</div>					
							</div>
						</div>
					</div>	
				</div>
				<!-- mobile-menu-area end -->					
			</div>
		</header>
        <!-- Header Area End-->
		<!-- Bloge Baner Area Start -->
		<div class="bolg-baner-area">
			<span class="overlay"></span> 
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="blog-img"> 
							<div class="blog-title">
								<h5>checkout</h5>
								<p><a href="#">home ></a><span class="bratcom-color">checkout</span></p>
							</div> 				
						</div>					
					</div>
				</div>
			</div>
		</div>
		<!-- Bloge Baner Area End -->
		<!-- Cart-page Area Start -->
		<section class="cart-page-area area-margin">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="cut-page-tab">  
							<ul class="cut-tab" role="tablist">
								<li><a href="cart.html"><span><em>01.</em>Shopping Cart</span></a></li>
								<li class="active"><a href="checkout.html"><span><em>02.</em>Checkout</span></a></li>
								<li><a href="order.html"><span><em>03.</em>Order Complete</span></a></li> 
							</ul>  		 				
						</div> 					
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12"> 
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										<span class="ceck-no">1</span>CHECKOUT METHOD <span class="accouden-icon floatright"><i class="fa fa-angle-down"></i></span>
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 dook">
												<div class="gest-reg">
													<h4 class="cheack-title">CHECKOUT AS A GUEST OR REGISTER</h4>
													<div class="reg-feather">
														<p class="reg-tital">Register with us for future convenience</p>
														<span class="input-one">
															<label>Checkout as Guest</label>
															<input type="radio" name="checkout" value="check" checked="" /> 				
														</span>
														<span class="input-tow">
															<label>Register</label>
															<input type="radio"  name="register" value="regis"/> 				
														</span> 
													</div>
													<div class="reg-feather"> 
														<p class="reg-tital">REGISTER AND SAVE TIME!</p>
														<ul>
															<li><i class="fa fa-circle"></i>Fast and easy checkout</li>
															<li><i class="fa fa-circle"></i>Easy access to your order history and status</li>
														</ul>
													</div>	
													<a href="#" class="c-botton">CONTINUE</a>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 doko">
												<div class="gest-reg">
													<h4 class="cheack-title">LOGIN</h4>
													<div class="reg-section">
														<p class="reg-text"><span>Already registered?</span><br>
														Please login below</p>
														<label>E-mail address <span class="red-color">*</span> </label>
														<input type="text" />
														<label>Password<span class="red-color">*</span></label>
														<input type="text" />
														<p class="forget">forgot your password?</p> 
													</div>
													<a href="#" class="c-botton floatright">LOGIN</a>
												</div>											
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									     <span class="ceck-no">2</span>BILLING INFORMATION<span class="accouden-icon floatright"><i class="fa fa-angle-down"></i></span>
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										<div class="beling-form">
											<form action="#">
												<div class="row">
													<div class="col-lg-6">
														<span class="fast-name">
															<input type="text" placeholder="FIRST NAME"/>
														</span>
													</div>
													<div class="col-lg-6">
														<span class="last-name">
															<input type="text" placeholder="last name"/>
														</span>													
													</div>
												</div>
												<input type="text" placeholder="COMPANY NAME (OPTIONAL)" />
												<input type="text" placeholder="STREET ADDRESS" />
												<input type="text" placeholder="CITY" />
												<div class="row"> 
													<div class="col-lg-3">
														<span class="zip">
															<input type="text" placeholder="POSTCODE / ZIP"/>
														</span>	
													</div>
													<div class="col-lg-9">
														<span class="state">
															<input type="text" placeholder="STATE / COUNTRY"/>
														</span>	 
													</div>
												</div>
												<div class="row">
													<div class="col-lg-6">
														<span class="email">
															<input type="text" placeholder="EMAIL ADDRESS"/>
														</span>
													</div>
													<div class="col-lg-6">
														<span class="phone">
															<input type="text" placeholder="PHONE NUMBER"/>
														</span>													
													</div>
												</div>
											</form>
											<div class="row">
												<div class="col-lg-12">
													<p class="chach-ship"><input type="checkbox" />Check this if the billing address is the same as Shipping address</p>
													<a href="#" class="c-botton floatright">CONTINUE</a>
												</div>
											</div>											
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										<span class="ceck-no">3</span>SHIPPING INFORMATION<span class="accouden-icon floatright"><i class="fa fa-angle-down"></i></span>
										</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="panel-body">
										<div class="optima-panel-body">
											<div class="left-info ship-info">
												<span>BootExpert</span>
												<span>Bonosrie</span>
												<span>D- Block</span>
												<span>Dkaka, 1201</span>
												<span>Bangladesh</span>
												<span>T: +8800 879 9876 </span>
												<a href="#">Edit Address</a>
												<div class="use-billing-add">
													<select>
														<option>Select Your Address</option>
														<option>Add New Address</option> 
													</select>	
													<p><input type="checkbox" name="billadddress"><label>Use Billing Address</label></p>	
												</div>
												<div class="block-area-button"> 
													<button class="btn btn-default floatright add-tag-btn">Continue</button>
												</div>														
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingfore">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefore" aria-expanded="true" aria-controls="collapsefore">
										<span class="ceck-no">4</span>SHIPPING METHOD<span class="accouden-icon floatright"><i class="fa fa-angle-down"></i></span>
										</a>
									</h4>
								</div>
								<div id="collapsefore" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfore">
									<div class="panel-body">
										<div class="panel-body optima-panel-body">
											<div class="shiping-method">
												<p><small>Flat Rate</small></p>
												<p>Fixed $40.00</p>
												<div class="block-area-button"> 
													<button class="btn btn-default add-tag-btn">Continue</button>
												</div>													
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingfive">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
										<span class="ceck-no">5</span>PAYMENT INFORMATION<span class="accouden-icon floatright"><i class="fa fa-angle-down"></i></span>
										</a>
									</h4>
								</div>
								<div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
									<div class="panel-body">
										<div class="panel-body optima-panel-body">
											<div class="checkout-option">
												<div class="method-input-box">
													<p><input type="radio" value="check" name="payment"><label>Check / Money order </label></p>
													<p><input type="radio" checked="" value="card" name="payment"><label>Credit Card (saved) </label></p>
												</div>
												<div class="master-card-info">
													<form action="#">
														<div class="form-group">
															<label>Name on Card <sup>*</sup></label>
															<input type="text" class="form-control">
														</div>		
														<div class="cardtype form-group">
															<label>Credit Card Type</label>
															<select class="form-control">
																<option>--Please Select--</option>
																<option>American Express</option>
																<option>Visa</option>
																<option>MasterCard</option>
																<option>Discover</option>
															</select>
														</div>
														<div class="form-group">
															<label>Credit Card Number <sup>*</sup></label>
															<input type="text" class="form-control">
														</div>	
														<div class="expirationdate form-group">
															<label>Expiration Date</label>
															<select class="form-control month-select">
																<option>--Month--</option>
																<option>01 - January</option>
																<option>02 - February</option>
																<option>03 - March</option>
																<option>04 - April</option>
																<option>05 - May</option>
																<option>06 - June</option>
																<option>07 - July</option>
																<option>08 - August</option>
																<option>09 - September</option>
																<option>10 - October</option>
																<option>11 - November</option>
																<option>12 - December</option>
															</select>
															<select class="form-control year-select">
																<option>--Year--</option>
																<option>2015</option>
																<option>2016</option>
																<option>2017</option>
																<option>2018</option>
																<option>2019</option>
																<option>2020</option>
																<option>2021</option>
																<option>2022</option>
																<option>2023</option>
																<option>2024</option>
																<option>2025</option>
															</select>
														</div>
														<div class="verificationcard form-group">
															<label>Card Verification Number <sup>*</sup></label>
															<input type="text" class="form-control">
															<a href="#">What is this?</a>
														</div>
													</form>
													<div class="block-area-button"> 
														<button class="btn btn-default floatright add-tag-btn">Continue</button>
													</div>													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingsix">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapseThree">
										<span class="ceck-no">6</span>ORDER REVIEW<span class="accouden-icon floatright"><i class="fa fa-angle-down"></i></span>
										</a>
									</h4>
								</div>
								<div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
									<div class="panel-body">
										<div class="pament-option">
											<p class="pay-opt">Choose your payment method :<span><a href="#"><img src="img/checkout.png" alt="" /></a></span></p>
											<div class="paypal">
												<p class="paypal-text">
													<span class="paypal-title">YOUR PAYPAL ACCOUNT</span><br>
													Pay via credit or debit card, Paypal transfer or even via Bank account in just a few clicks.<br>
													This method is super easy and well protected.
												</p> 
												<a href="#" class="c-botton floatright">CONTINUE</a>
											</div>
										</div>
									</div>
								</div>
							</div>							
						</div>					
					</div> 
				</div>
			</div>
		</section>
		<!-- Cart-page Area End -->
		<!-- Our Tem Area Start -->
		<section class="tem-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2 class="title text-center">OUR TEAM</h2>
							<p class="sub-title text-center">Team</p> 
						</div>					
					</div>				
				</div>			
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="single-tem">
							<a href="#"><img src="img/tem/1.jpg" alt="" /></a>
							<div class="tem-text">
								<div class="tem-name">
									<h5>Lora Smith</h5>
									<span>Founder</span>
								</div>
								<div class="tem-desc">
									<p>Lorem ipsum dolor sit amet, cour adipiscing elit, sed do eiusmod mpor incididunt ut labore et lore magna aliqua. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="single-tem">
							<a href="#"><img src="img/tem/2.jpg" alt="" /></a>
							<div class="tem-text">
								<div class="tem-name">
									<h5>Alex Brod</h5>
									<span>Co-Founder</span>
								</div>
								<div class="tem-desc">
									<p>Lorem ipsum dolor sit amet, cour adipiscing elit, sed do eiusmod mpor incididunt ut labore et lore magna aliqua. </p>
								</div>
							</div>							
						</div>
						
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="single-tem">
							<a href="#"><img src="img/tem/3.jpg" alt="" /></a>
							<div class="tem-text">
								<div class="tem-name">
									<h5>Lora Smith</h5>
									<span>Founder</span>
								</div>
								<div class="tem-desc">
									<p>Lorem ipsum dolor sit amet, cour adipiscing elit, sed do eiusmod mpor incididunt ut labore et lore magna aliqua. </p>
								</div>
							</div>							
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="single-tem">
							<a href="#"><img src="img/tem/4.jpg" alt="" /></a>
							<div class="tem-text">
								<div class="tem-name">
									<h5>Lora Smith</h5>
									<span>Founder</span>
								</div>
								<div class="tem-desc">
									<p>Lorem ipsum dolor sit amet, cour adipiscing elit, sed do eiusmod mpor incididunt ut labore et lore magna aliqua. </p>
								</div>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Our Tem Area End -->
		<!-- Clinet logo Area Start-->
		<section class="client-logo-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2 class="title text-center">OUR BRAND</h2>
							<p class="sub-title text-center">Brands</p> 
						</div>					
					</div>				
				</div>
				<div class="row">
					<div class="client-logo owl-button">
						<div class="col-lg-12">
							<div class="single-logo">
								<a href="#"><img src="img/logo/1.png" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-logo">
								<a href="#"><img src="img/logo/2.png" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-logo">
								<a href="#"><img src="img/logo/3.png" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-logo">
								<a href="#"><img src="img/logo/4.png" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-logo">
								<a href="#"><img src="img/logo/5.png" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-logo">
								<a href="#"><img src="img/logo/1.png" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-logo">
								<a href="#"><img src="img/logo/2.png" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-logo">
								<a href="#"><img src="img/logo/3.png" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-logo">
								<a href="#"><img src="img/logo/4.png" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-logo">
								<a href="#"><img src="img/logo/5.png" alt="" /></a>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</section>
		<!-- Clinet logo Area End-->
		<!-- Footer Area Start -->
		<section class="foorer-area">
			<div class="container">
				<div class="row abc">
					<div class="footer-one  fp">
						<div class="col-lg-2 col-md-3 col-sm-6">
							<div class="social-icon">
								<h2 class="title">FOLLOW US</h2>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-offset-3 col-lg-7 col-md-offset-2 col-md-7  col-sm-6">
							<div class="footer-search">
								<form action="#">
									<label>NEWSLETTER</label>
									<input type="text" placeholder="Email here..."/> 
									<button type="submit" class="footer-submit" >SUBSCRIBE!</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row abc">
					<div class="footer-two fp">
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="widget">
								<a href="index.html"><img src="img/logo/logo.png" alt="" /></a>
								<address>
								8901 Marmora Raod,Glasgow<br> 
								Telephone : <a href="tel:0123-456-789">0123-456-789</a><br>
								<a href="mailto:admin@bootexperts.com">admin @ bootexperts.com</a><br>
								Web : www.emporium.com<br>
								</address>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-3">
							<div class="widget">
								<h2 class="title">ABOUT MARKET</h2>
								<ul>
									<li><a href="#">Wish List</a></li>
									<li><a href="#">Newsletter</a></li>
									<li><a href="#">Site Map</a></li>
									<li><a href="#">Affiliates</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-3 cust">
							<div class="widget">
								<h2 class="title">CUSTOMER SERVICE</h2>
								<ul>
									<li><a href="#">Contact Us</a></li>	
									<li><a href="#">Returns</a></li>									
									<li><a href="#">Newsletter</a></li>
									<li><a href="#">Site Map</a></li>
									<li><a href="#">Affiliates</a></li> 
								</ul>
							</div>						
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="widget">
								<h2 class="title">PAYMENT & SHIPPING</h2>
								<ul>
									<li><a href="#">Site Map</a></li>
									<li><a href="#">Affiliates</a></li>								
									<li><a href="#">Wish List</a></li>
									<li><a href="#">Newsletter</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>						
						</div>
						<div class="col-lg-2 col-md-2 col-sm-3">
							<div class="widget">
								<h2 class="title">CONTACT US</h2>
								<ul>
									<li><a href="#">Affiliates</a></li>
									<li><a href="#">Contact Us</a></li>								
									<li><a href="#">Wish List</a></li>
									<li><a href="#">Newsletter</a></li>
									<li><a href="#">Site Map</a></li> 
								</ul>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Footer Area End -->
		<!-- Footer Buttom Area Start-->
		<footer class="footer-buttom-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
						<div class="copyright">
							<p>Copyright &copy; 2015<a href="#"><span>BootExpert</span></a>. All rights reserved.</p>
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<div class="footer-menu">
							<nav>
								<ul>
									<li><a href="#">Site Map</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Wish List</a></li>
									<li><a href="#">Newsletter</a></li>
									<li><a href="#">Specials</a></li>
								</ul>							
							</nav>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center">
						<div class="payment">
							<a href="#"><img src="img/payment.png" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer Buttom Area End-->
		<!-- jquery
		============================================ -->		
        <script src="js/vendor/jquery-1.11.3.min.js"></script>
		
        <!-- price-slider js
		============================================ -->         
        <script src="js/price-slider.js"></script>	
		
		<!-- bootstrap JS
		============================================ -->		
        <script src="js/bootstrap.min.js"></script>
		<!-- wow JS
		============================================ -->		
        <script src="js/wow.min.js"></script>
		<!-- price-slider JS
		============================================ -->		
        <script src="js/jquery-price-slider.js"></script>
						
		<!-- jquery countdown js
		============================================ -->		
        <script src="js/jquery.countdown.min.js"></script>	
		 	
		<!-- meanmenu JS
		============================================ -->		
        <script src="js/jquery.meanmenu.js"></script>
		<!-- owl.carousel JS
		============================================ -->		
        <script src="js/owl.carousel.min.js"></script>
		
		<!-- chosen.jquery.min.js
		============================================ --> 
        <script src="js/chosen.jquery.min.js"></script>		
		
		<!--  Nivo Slider JS
		============================================ -->		
        <script src="js/jquery.nivo.slider.js"></script> 
		
		<!-- elevateZoom js 
		============================================ -->
		<script src="js/jquery.elevateZoom-3.0.8.min.js"></script>

		<!-- jquery.bxslider.min.js
		============================================ -->       
        <script src="js/jquery.bxslider.min.js"></script>			
		
		<!-- scrollUp JS
		============================================ -->		
        <script src="js/jquery.scrollUp.min.js"></script>
		<!-- plugins JS
		============================================ -->		
        <script src="js/plugins.js"></script>
		
		<!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
		
		<!-- main JS
		============================================ -->		
        <script src="js/main.js"></script>

    </body>
</html>
