<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fixco - Multipurpose Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/icon.png">

    <!-- Google font (font-family: 'Open Sans', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,700,800" rel="stylesheet">
    <!-- Google font (font-family: 'Poppins', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="style.css">

    <!-- Cusom css -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
     
		 
	 

    <!-- Add your site or application content here -->

    <div class="fakeloader"></div>

    <!-- Main wrapper -->
    <div class="wrapper" id="wrapper">

        <!-- Header Area -->
        <header id="header" class="header header-transparent sticky-header">
            <div class="container d-none d-lg-block">
                <div class="header-inner">
                    <a href="index.html" class="logo">
                        <img src="images/logo/logo-1.png" alt="logo">
                    </a>
                    <nav class="mainmenu">
						<ul>
							<li class="cr-dropdown">
								<a href="index.html">Home</a>
								<ul>
									<li>
										<a href="index.html">Home Corporate Agency</a>
									</li>
									<li>
										<a href="index-corporate.html">Home Corporate</a>
									</li>
									<li>
										<a href="index-business-consultancy.html">Home Business Consultancy</a>
									</li>
									<li>
										<a href="index-model-agency.html">Home Model Agency</a>
									</li>
									<li>
										<a href="index-personal-portfolio.html">Home Personal Portfoilo</a>
									</li>
									<li>
										<a href="index-single-banner.html">Home Single Banner</a>
									</li>
									<li>
										<a href="index-video-background.html">Home Video Background</a>
									</li>
									<li>
										<a href="index-particle.html">Home Particle Version</a>
									</li>
									<li>
										<a href="index-startup.html">Home Startup</a>
									</li>
								</ul>
							</li>
							<li class="cr-dropdown">
								<a href="index.html">Pages</a>
								<ul>
									<li>
										<a href="services.html">Services</a>
										<ul>
											<li>
												<a href="services.html">Services Style 1</a>
											</li>
											<li>
												<a href="services-2.html">Services Style 2</a>
											</li>
											<li>
												<a href="services-3.html">Services Style 3</a>
											</li>
											<li>
												<a href="services-4.html">Services Style 4</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="portfolio-gallery.html">Portfolios</a>
										<ul>
									<li>
                                        <a href="portfolio-gallery.html">Portfolio Gallery</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-gallery-popup.html">Portfolio Gallery Popup</a>
                                    </li>
                                    <li>
										<a href="portfolio-details.html">Portfolio Details</a>
									</li>
								</ul>
									</li>
									<li>
										<a href="about-us.html">About Us</a>
										<ul>
											<li>
												<a href="about-us.html">About Us</a>
											</li>
											<li>
												<a href="about-me.html">About Me</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="contact-us.html">Contact Us</a>
										<ul>
											<li>
												<a href="contact-us.html">Contact Us</a>
											</li>
											<li>
												<a href="contact-me.html">Contact Me</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="blog-grid.html">Blog</a>
										<ul>
											<li>
												<a href="blog-grid.html">Blog Grid</a>
											</li>
											<li>
												<a href="blog-list.html">Blog List</a>
											</li>
											<li>
												<a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a>
											</li>
											<li>
												<a href="blog-details.html">Blog Details</a>
											</li>
											<li>
												<a href="blog-details-video.html">Video Blog Detsils</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="team.html">Team</a>
									</li>
								</ul>
							</li>
							<li class="cr-dropdown">
								<a href="about-us.html">About</a>
								<ul>
									<li>
										<a href="about-us.html">About Us</a>
									</li>
									<li>
										<a href="about-me.html">About Me</a>
									</li>
								</ul>
							</li>
							<li class="cr-dropdown">
								<a href="portfolio-gallery.html">Portfolio</a>
								<ul>
									<li>
                                        <a href="portfolio-gallery.html">Portfolio Gallery</a>
                                    </li>
                                    <li>
                                        <a href="portfolio-gallery-popup.html">Portfolio Gallery Popup</a>
                                    </li>
                                    <li>
										<a href="portfolio-details.html">Portfolio Details</a>
									</li>
								</ul>
							</li>
							<li class="cr-dropdown">
								<a href="blog-grid.html">Blog</a>
								<ul>
									<li>
										<a href="blog-grid.html">Blog Grid</a>
									</li>
									<li>
										<a href="blog-list.html">Blog List</a>
									</li>
									<li>
										<a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a>
									</li>
									<li>
										<a href="blog-details.html">Blog Detsils</a>
									</li>
									<li>
										<a href="blog-details-video.html">Video Blog Detsils</a>
									</li>
								</ul>
							</li>
							<li class="cr-dropdown">
								<a href="contact-us.html">Contact</a>
								<ul>
									<li>
										<a href="contact-us.html">Contact Us</a>
									</li>
									<li>
										<a href="contact-me.html">Contact Me</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
                </div>
            </div>
            <div class="mobile-menu-wrap d-block d-lg-none">
                <div class="container">
                    <div class="mobile-menu">
                        <a href="index.html" class="mobile-logo">
                            <img src="images/logo/logo-2.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!--// Header Area -->

        <!-- Breadcrumb Area -->
        <div class="breadcrumb-area bg-breadcrumb-4 section-padding-xlg jarallax" data-black-overlay="7">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cr-breadcrumb text-center">
                            <h6>heart of business loving people</h6>
                            <h1>OUR SERVICES</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Breadcrumb Area -->

        <!-- Start Page Content -->
        <main class="page-content">

            <!-- Service Area -->
            <div class="cr-section services-area section-padding-xlg bg-white">
                <div class="container">
                    <div class="row service-style-3-gallery">

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <!-- Single Service -->
                            <div class="service service-style-3 text-center">
                                <div class="service-icon">
                                    <i class="bi bi-file"></i>
                                </div>
                                <div class="service-content">
                                    <h6>Business Planning</h6>
                                    <p>Lorem ipsum dolor sit am cnsicing eliiusmod tempo.</p>
                                </div>
                            </div>
                            <!--// Single Service -->
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <!-- Single Service -->
                            <div class="service service-style-3 text-center">
                                <div class="service-icon">
                                    <i class="bi bi-paper"></i>
                                </div>
                                <div class="service-content">
                                    <h6>Risk Management</h6>
                                    <p>Lorem ipsum dolor sit am cnsicing eliiusmod tempo.</p>
                                </div>
                            </div>
                            <!--// Single Service -->
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <!-- Single Service -->
                            <div class="service service-style-3 text-center">
                                <div class="service-icon">
                                    <i class="bi bi-layer"></i>
                                </div>
                                <div class="service-content">
                                    <h6>Accumulation</h6>
                                    <p>Lorem ipsum dolor sit am cnsicing eliiusmod tempo.</p>
                                </div>
                            </div>
                            <!--// Single Service -->
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <!-- Single Service -->
                            <div class="service service-style-3 text-center">
                                <div class="service-icon">
                                    <i class="bi bi-book"></i>
                                </div>
                                <div class="service-content">
                                    <h6>Analysis</h6>
                                    <p>Lorem ipsum dolor sit am cnsicing eliiusmod tempo.</p>
                                </div>
                            </div>
                            <!--// Single Service -->
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <!-- Single Service -->
                            <div class="service service-style-3 text-center">
                                <div class="service-icon">
                                    <i class="bi bi-target-arrow"></i>
                                </div>
                                <div class="service-content">
                                    <h6>Strategy</h6>
                                    <p>Lorem ipsum dolor sit am cnsicing eliiusmod tempo.</p>
                                </div>
                            </div>
                            <!--// Single Service -->
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <!-- Single Service -->
                            <div class="service service-style-3 text-center">
                                <div class="service-icon">
                                    <i class="bi bi-share"></i>
                                </div>
                                <div class="service-content">
                                    <h6>Discussion</h6>
                                    <p>Lorem ipsum dolor sit am cnsicing eliiusmod tempo.</p>
                                </div>
                            </div>
                            <!--// Single Service -->
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <!-- Single Service -->
                            <div class="service service-style-3 text-center">
                                <div class="service-icon">
                                    <i class="bi bi-support"></i>
                                </div>
                                <div class="service-content">
                                    <h6>Support</h6>
                                    <p>Lorem ipsum dolor sit am cnsicing eliiusmod tempo.</p>
                                </div>
                            </div>
                            <!--// Single Service -->
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <!-- Single Service -->
                            <div class="service service-style-3 text-center">
                                <div class="service-icon">
                                    <i class="bi bi-paper"></i>
                                </div>
                                <div class="service-content">
                                    <h6>Market Analysis</h6>
                                    <p>Lorem ipsum dolor sit am cnsicing eliiusmod tempo.</p>
                                </div>
                            </div>
                            <!--// Single Service -->
                        </div>

                    </div>
                </div>
            </div>
            <!--// Service Area -->

            <!-- Testimonial Area -->
            <section class="cr-section testimonial-area bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 col-12 offset-0">
                            <div class="section-title-2 text-center">
                                <h6>we care our client</h6>
                                <h2>Our Client Say</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-wrap testimonial-style-3 testimonial-slider-active mt-5">

                                <!-- Single Testimonial -->
                                <div class="testimonial text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing sed usmod tempor incididunt ut labam
                                        est, qui dolor sit amet, conse tetur,lore magnaluptatem.</p>
                                    <div class="testimonial-author-details">
                                        <h5>Millar Hunt</h5>
                                        <h6>Marketing Executive</h6>
                                    </div>
                                </div>
                                <!--// Single Testimonial -->

                                <!-- Single Testimonial -->
                                <div class="testimonial text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing sed usmod tempor incididunt ut labam
                                        est, qui dolor sit amet,lore magnaluptatem consectetur.</p>
                                    <div class="testimonial-author-details">
                                        <h5>William Smith</h5>
                                        <h6>Production Executive</h6>
                                    </div>
                                </div>
                                <!--// Single Testimonial -->

                                <!-- Single Testimonial -->
                                <div class="testimonial text-center">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing sed usmod tempor incididunt ut labam
                                        est, qui dolor sit amet, conse tetur amet.</p>
                                    <div class="testimonial-author-details">
                                        <h5>Devid Miller</h5>
                                        <h6>Managing Director</h6>
                                    </div>
                                </div>
                                <!--// Single Testimonial -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--// Testimonial Area -->

            <!-- Brand Logos -->
            <div class="cr-section brand-logos-area bg-grey section-padding-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="brand-logos slider-navigation-style-1">
                                <div class="single-brand-logo">
                                    <a href="#">
                                        <img src="images/brand-logo/brand-logo-1.png" alt="brand logo">
                                    </a>
                                </div>
                                <div class="single-brand-logo">
                                    <a href="#">
                                        <img src="images/brand-logo/brand-logo-2.png" alt="brand logo">
                                    </a>
                                </div>
                                <div class="single-brand-logo">
                                    <a href="#">
                                        <img src="images/brand-logo/brand-logo-3.png" alt="brand logo">
                                    </a>
                                </div>
                                <div class="single-brand-logo">
                                    <a href="#">
                                        <img src="images/brand-logo/brand-logo-4.png" alt="brand logo">
                                    </a>
                                </div>
                                <div class="single-brand-logo">
                                    <a href="#">
                                        <img src="images/brand-logo/brand-logo-5.png" alt="brand logo">
                                    </a>
                                </div>
                                <div class="single-brand-logo">
                                    <a href="#">
                                        <img src="images/brand-logo/brand-logo-1.png" alt="brand logo">
                                    </a>
                                </div>
                                <div class="single-brand-logo">
                                    <a href="#">
                                        <img src="images/brand-logo/brand-logo-2.png" alt="brand logo">
                                    </a>
                                </div>
                                <div class="single-brand-logo">
                                    <a href="#">
                                        <img src="images/brand-logo/brand-logo-3.png" alt="brand logo">
                                    </a>
                                </div>
                                <div class="single-brand-logo">
                                    <a href="#">
                                        <img src="images/brand-logo/brand-logo-4.png" alt="brand logo">
                                    </a>
                                </div>
                                <div class="single-brand-logo">
                                    <a href="#">
                                        <img src="images/brand-logo/brand-logo-5.png" alt="brand logo">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Brand Logos -->

        </main>
        <!--// Start Page Content -->

        <!-- Footer Area -->
        <footer class="footer-area">

            <!-- Footer Widgets Area -->
            <div class="footer-color-dark section-padding-sm bg-white">
                <div class="container">
                    <div class="row widgets footer-widgets ">

                        <!-- Single Widget -->
                        <div class="col-lg-4 col-md-6">
                            <!-- Widget About -->
                            <div class="single-widget about-widget">
                                <a class="logo" href="index-corporate.html">
                                    <img src="images/logo/logo-2.png" alt="footer logo">
                                </a>
                                <p>Lorem ipsum dolor sit amet, constetur adipisicing elit, sed do eiusmod tempor aliqua.</p>
                                <ul>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <p>Email :
                                            <a href="#">info@email.com</a></p>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <p>California Street san Francisco, CA</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <p>Phone :
                                            <a href="#">+0123 456 789</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <!--// Widget About -->
                        </div>
                        <!--// Single Widget -->

                        <!-- Single Widget -->
                        <div class="col-lg-2 col-md-6">
                            <!-- Widget Links -->
                            <div class="single-widget links-widget">
                                <h4 class="widget-title">Links</h4>
                                <ul>
                                    <li>
                                        <a href="about-us.html">About Us</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html">Our Mission</a>
                                    </li>
                                    <li>
                                        <a href="services.html">Our Services</a>
                                    </li>
                                    <li>
                                        <a href="team.html">Our Team</a>
                                    </li>
                                    <li>
                                        <a href="contact-us.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <!--// Widget Links -->
                        </div>
                        <!--// Single Widget -->

                        <!-- Single Widget -->
                        <div class="col-lg-3 col-md-6">
                            <!-- Widget Links -->
                            <div class="single-widget links-widget">
                                <h4 class="widget-title">Suport</h4>
                                <ul>
                                    <li>
                                        <a href="about.html">Information</a>
                                    </li>
                                    <li>
                                        <a href="mission.html">Documentation</a>
                                    </li>
                                    <li>
                                        <a href="services.html">Terms & Use</a>
                                    </li>
                                    <li>
                                        <a href="our-team.html">Customer Support</a>
                                    </li>
                                    <li>
                                        <a href="contact-us.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <!--// Widget Links -->
                        </div>
                        <!--// Single Widget -->

                        <!-- Single Widget -->
                        <div class="col-lg-3 col-md-6">
                            <!-- Newsletter Widget -->
                            <div class="single-widget newsletter-widget">
                                <h5 class="widget-title">Newsletter</h5>
                                <form action="#">
                                    <input type="email" placeholder="Enter Your Email">
                                    <button class="cr-btn cr-btn-theme" type="submit">
                                        <span>Subscribe</span>
                                    </button>
                                </form>
                            </div>
                            <!--// Newsletter Widget -->
                        </div>
                        <!--// Single Widget -->

                    </div>
                </div>
            </div>
            <!--// Footer Widgets Area -->

            <!-- Footer Copyright Area -->
            <div class="footer-copyright-area bg-theme">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright text-center">
                                <p>Copyright &copy; 2018
                                    <a href="#">Devitems.com</a>
                                </p>
                            </div>
                            <div class="social-icons social-icons-rounded social-icons-transparent text-center">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Footer Copyright Area -->

        </footer>
        <!--// Footer Area -->

    </div>
    <!-- //Main wrapper -->

    <!-- JS Files -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>