<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Latest News - Carspa</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
		<link rel="shortcut icon" type="image/x-icon" href="img/icon/favicon.ico">
        <!-- Place favicon.ico in the root directory -->
		
		
		<!-- all css here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/meanmenu.min.css">
        <link rel="stylesheet" href="css/venobox.css">
        <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/shortcode/shortcodes.css">
        <link rel="stylesheet" href="css/plugins.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		
		<!-- Header Area Start -->
		<header>
			<!-- Header Top Menu Area Start -->
			<div class="header-full-area">
				<div class="header-top-area">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-sm-8">
								<div class="header-phone">
									<p><i class="zmdi zmdi-phone"></i> 021 12312 - 127 12101</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="header-social f-right">
									<ul>
										<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header-bottom-area" id="sticky-header">
					<div class="container">
						<div class="row">
							<div class="header-bottom red-bg fix">
								<a href="index.html" class="logo f-left"><img src="img/icon/logo.png" alt=""></a>
								<div class="main-menu text-center">
									<nav>
										<ul>
											<li class="active"><a href="index.html">home</a></li>
											<li><a href="about-us.html">about Us</a></li>
											<li><a href="service.html">service</a></li>
											<li><a href="news.html">latest news</a></li>
											<li><a href="service-details.html">PAGES</a>
												<ul>
													<li><a href="service.html"><i class="zmdi zmdi-caret-right"></i>service</a></li>
													<li><a href="service-details.html"><i class="zmdi zmdi-caret-right"></i>Service Details</a></li>
													<li><a href="news.html"><i class="zmdi zmdi-caret-right"></i>latest news</a></li>
													<li><a href="news-details.html"><i class="zmdi zmdi-caret-right"></i>News Details</a></li>
													<li><a href="404.html"><i class="zmdi zmdi-caret-right"></i>404 Error</a></li>
												</ul>
											</li>
											<li><a href="contact-us.html">contact us</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
					<!-- MOBILE-MENU-AREA START --> 
					<div class="mobile-menu-area">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="mobile-area">
										<div class="mobile-menu">
											<nav id="mobile-nav">
												<ul>
													<li class="active"><a href="index.html">home</a></li>
													<li><a href="about-us.html">about Us</a></li>
													<li><a href="service.html">service</a></li>
													<li><a href="news.html">latest news</a></li>
													<li><a href="service-details.html">PAGES</a>
														<ul>
															<li><a href="service.html">service</a></li>
															<li><a href="service-details.html">Service Details</a></li>
															<li><a href="news.html">latest news</a></li>
															<li><a href="news-details.html">News Details</a></li>
															<li><a href="404.html">404 Error</a></li>
														</ul>
													</li>
													<li><a href="contact-us.html">contact us</a></li>
												</ul>
											</nav>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- MOBILE-MENU-AREA END  -->
				</div>
			</div>
			<!-- Header Top Menu Area End -->
			<!-- Slider Area Start -->
			<div class="breadcamb-area bg-5 pb-145 pt-265">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="bradcamb-content text-center text-white text-uppercase">
								<h1>Latest News</h1>
								<ul>
									<li><a href="index.html">home</a><i class="zmdi zmdi-chevron-right"></i></li>
									<li>Latest News</li>
								</ul>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Slider Area End -->
		</header>
        <!-- Header Area End -->
	    <!-- Page Content Wraper Area Start -->
		<div class="page-content-wrapper">
			<!-- Latest Area Start -->
			<section class="service-us-area ptb-105 indicator-style-2">
				<div class="container">
					<div class="row">
						<div class="latest-news-active owl-carousel owl-theme">
							<!-- Latest News Single -->
							<div class="col-md-12">
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/1.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/2.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/3.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Latest News Single -->
							<!-- Latest News Single -->
							<div class="col-md-12">
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/4.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/5.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/6.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Latest News Single -->
							<!-- Latest News Single -->
							<div class="col-md-12">
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/7.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/8.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/9.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Latest News Single -->
							<!-- Latest News Single -->
							<div class="col-md-12">
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/3.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/2.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
								<div class="latest-single mb-60">
									<div class="ltst-img">
										<img src="img/news/5.png" alt="" />
									</div>
									<div class="latest-content text-center">
										<div class="ltst-single">
											<h6><a href="#">WASH AND GLASSING</a></h6>
											<div class="ltst-post">
											  <span>January 18, 2017</span>
											  <span><a href="#">5 Comments</a></span>
											</div>
											<p>Lorem ipsum dolor sit awmet, consecte ytur adip elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
											<div class="lastest-btn">
												<a href="news-details.html">READ MORE</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Latest News Single -->
						</div>
					</div>
				</div>
			</section>
			<!-- Latest Area End -->
		</div>
		<!-- Page Content Wraper Area End -->
		<!-- Fotter Area Start -->
		<footer class="bg-4">
			<!-- Footer Top Arae Start -->
			<div class="footer-top ptb-105">
				<div class="container">
					<div class="row">
						<!-- Footer Top Single -->
						<div class="col-md-3 col-sm-4 col-xs-12 res-mb-sm-30">
							<div class="address-area">
								<h4>COMPANY</h4>
								<a href="index.html"><img src="img/icon/footer-logo.png" alt=""></a>
								<p>Lorem ipsum dolor sit amet, consecteturadipisicing elit sed do Itd eiusmod tempor incididunt ut labore et dolore.</p>
								<div class="contact-social">
									<ul>
										<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
										<li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Footer Top Single -->
						<!-- Footer Top Single -->
						<div class="col-md-2 col-sm-4 hidden-xs">
							<div class="address-area">
								<h4>QUICK LINK</h4>
								<div class="footer-menu">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Choose Us</a></li>
										<li><a href="#">About us</a></li>
										<li><a href="#">Process</a></li>
										<li><a href="#">Our Services</a></li>
										<li><a href="#">Pricing Plan</a></li>
										<li><a href="#">Team Member</a></li>
										<li><a href="#">Our Projects</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Footer Top Single -->
						<!-- Footer Top Single -->
						<div class="col-md-4 hidden-sm hidden-xs">
							<div class="address-area">
								<h4>LATEST NEWS</h4>
								<div class="footer-news">
									<ul>
										<li>
											<div class="news-img">
												<img src="img/news/s-1.png" alt="" />
											</div>
											<div class="news-cntnt">
												<h6><a href="news-details.html">WASH AND GLASSING</a></h6>
												<p>Lorem ipsum dolor sit amet, consectetu robi adipis adipisicing elit sed d o eius .</p>
											</div>
										</li>
										<li>
											<div class="news-img">
												<img src="img/news/s-2.png" alt="" />
											</div>
											<div class="news-cntnt">
												<h6><a href="news-details.html">WASH AND GLASSING</a></h6>
												<p>Lorem ipsum dolor sit amet, consectetu robi adipis adipisicing elit sed d o eius .</p>
											</div>
										</li>
										<li>
											<div class="news-img">
												<img src="img/news/s-3.png" alt="" />
											</div>
											<div class="news-cntnt">
												<h6><a href="news-details.html">WASH AND GLASSING</a></h6>
												<p>Lorem ipsum dolor sit amet, consectetu robi adipis adipisicing elit sed d o eius .</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Footer Top Single -->
						<!-- Footer Top Single -->
						<div class="col-md-3 col-sm-4 col-xs-12">
							<div class="address-area">
								<h4>CONTACT US</h4>
								<div class="contact-details">
									<ul>
										<li>
											<i class="zmdi zmdi-email"></i>
											<p>Mail: devitems@gmail.com www.devitems.com</p>
										</li>
										<li>
											<i class="zmdi zmdi-phone"></i>
											<p>Telephone : (801) 4256456  985634 Telephone : (801) 4256456  985634</p>
										</li>
										<li>
											<i class="zmdi zmdi-pin"></i>
											<p>Alcatraz Island Photo Album Dhaka . Bangladesh</p>
										</li>
									</ul>
								</div>
								<div class="search-input">
									<form id="mc-form">
										<input autocomplete="off" placeholder="Subcribe" type="text">
										<button value="Submit" type="submit" class="search-button"><i class="zmdi zmdi-mail-send"></i></button>
										<!-- mailchimp-alerts Start -->
										<div class="mailchimp-alerts text-centre">
											<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
											<div class="mailchimp-success"></div><!-- mailchimp-success end -->
											<div class="mailchimp-error"></div><!-- mailchimp-error end -->
										</div>
										<!-- mailchimp-alerts end -->
									</form>
								</div>
							</div>
						</div>
						<!-- Footer Top Single -->
					</div>
				</div>
			</div>
			<!-- Footer Top Arae End -->
			<!-- Footer Bottom Area Start -->
			<div class="footer-bottom">
				<p>Copyright &copy;<a href="http://www.devitems.com/" target="_blank"> 2016 Devitems. </a></p>
			</div>
			<!-- Footer Bottom Area End -->
		</footer>
		<!-- Fotter Area End -->
		
		<!-- all js here -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.meanmenu.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
