/*****************************
40 - Pages - Cart
*****************************/
.cart-collaterals{
	background: $color-white-dark;
}
.cart-totals{
	padding: 30px 30px 0;
	margin-bottom: 15px;	
}
.cart-calculator{
	&__item{
		@extend %flexbox;
		@extend %flex-wrap;
		&--head{
			@extend %cart-calculator;
			@include flex-basis(90px);
			max-width: 90px;
			font-size: 14px;
			font-weight: 700;
		}
		&--value{
			@extend %cart-calculator;
			@include flex-basis(calc(100% - 90px));
			max-width: calc(100% - 90px);
			@include breakpoint(xxsmall){
				@include flex-basis(100%);
				max-width: 100%;
			}
			& > span,
			& > a{
				display: block;
				margin-bottom: 5px;
			}
			.product-price-wrapper{
				& > span{
					font-weight: 400;
				}
			}
		}
		&.order-total{
			border-top: 1px solid $border-color;
			& > div{
				padding-top: 15px;
			}
		}
	}
}  

.shipping-calculator-wrap{
	a{
		@extend %body-color;
	}
}