//===== Colors =====//
 
$body-color: #151515;
$primary-color: #000000;
$heading-color: #151515;
$hover-color: #bebebe;


//===== Font Family =====//

$body-font: 'Open Sans Condensed', sans-serif;
$heading-font: $body-font;
$font-2: 'Open Sans', sans-serif;

//==== Font size =====//
$body-font-size: 16px;
$font-size-14: 14px;
$font-size-18: 18px;

//==== Line height ====//

$line-height: 1.8;
$heading-line-height: 1.5;

//==== Border Color ====//

$border-color:   #959595;
$border-color-2: #cccccc;


//==== Border Radius ====//

$border-radius: 4px;


//==== Color =====//
$color-white:    	   #ffffff;
$color-white-dark:     #f6f6f6;
$color-light:    	   #999999; 
$color-dark:     	   #333333; 
$color-black:    	   #000000; 
$color-blue:     	   #3768b4;
$color-blue-2:     	   #3769B5;
$color-dove-gray:  	   #696969;
$color-athens-gray:    #F2F2F5;
$color-yellow:         #FFCA28;
$color-red:            #ff0606;
$color-red-2:          #fe544a;
$color-pink:           #f7a4c7;
$color-green:          #4cbb6c;
$color-gray:           #888888;
$color-sand:           #f6f6f6;
$color-alto:           #D2CFCF;
$color-alto-2:         #d5d5d5;
$color-brown:          #221815; 
$color-silver:         #bebebe;
$color-silver-2:       #CCCACA;
$color-silver-3:       #bbbbbb;
$color-salice:         #aaaaaa;
$color-shaft:          #383838;
$color-shaft-2:        #3a3a3a;
$color-boulder:        #767676;
$color-zircon:         #FAFBFF;
$color-perigal:        #E4ECDF;
$color-catskill:       #e7f1f3;
$color-iron:           #E2E3E3;
$color-tundora:        #454545;
$color-corn:           #ebebeb;
$color-scoropion:      #606060;
$color-selago:         #f7f8fe;
$color-gallery:        #eeeeee;

//==== Social Color =====//

$facebook: #1561b7;
$google-plus: #c2080f;
$pinterest: #c2080f;
$linkedin: #127bbb;
$twitter: #4696f0;
