<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Moto - App Landing Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="shortcut icon" type="image/x-icon" href="img/icon/favicon.png">
        <!-- Place favicon.ico in the root directory -->
		
		<!-- all css here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/icofont.css">
        <link rel="stylesheet" href="css/meanmenu.min.css">
		<link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
		<link rel="stylesheet" href="css/animated-headlines.css">
        <link rel="stylesheet" href="css/shortcode/shortcodes.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- header area start -->
		<header>
			<nav id="header-top" class="navbar">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="img/icon/logo.png" alt="logo" class="img-responsive"></a>
					</div>
					<div class="collapse navbar-collapse" id="navigation">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#slider-area">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#features">Features</a></li>
							<li><a href="#pricing">Pricing</a></li>
							<li><a href="#client">Client</a></li>
							<li><a href="#team">Team</a></li>
							<li><a href="#contact">Contact</a></li>
							<li><a class="download-btn" href="#contact-area">Download</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!-- header area end -->
		<!-- hero area start -->
		<div id="bgndVideo" class="video-bg slider-wrapper player" data-property="{videoURL:'https://www.youtube.com/watch?v=Vdb9IndsSXk&index=8&list=PLivjPDlt6ApTD6p2dgWr44nFi-J8xbIGe',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1}">
			<div class="slider">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="hero-text text-center">
								<h1>Moto All solution Head</h1>
								<p class="he-p">Nulla aliquet, erat a egestas lacinia, leo libero dapibus nisl, quis pulvinar dolor justo id turpis. Nulla odio orci.</p>
								<a href="#" class="hero-btn">Download</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  hero area end -->
		<!-- service area start -->
		<section class="service-area">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-1.png" alt="">
							</div>
							<div class="service-content">
								<h2>Easy To Customize</h2>
								<p>Lorem Ipsum is slechts een preksts uit het drukkerij- en zetterija Lorem Ipsum is de stan.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-2.png" alt="">
							</div>
							<div class="service-content">
								<h2>Awesome Design</h2>
								<p>Lorem Ipsum is slechts een preksts uit het drukkerij- en zetterija Lorem Ipsum is de stan.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-3.png" alt="">
							</div>
							<div class="service-content">
								<h2>Easy To Use</h2>
								<p>Lorem Ipsum is slechts een preksts uit het drukkerij- en zetterija Lorem Ipsum is de stan.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- service area start -->
		<!-- About area start -->
		<section id="about" class="about-area pt-125">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="about-content">
							<h2>About Moto App</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezeny. LorIpsum is de standaard proeftekst in deze bedrijfstak sinds de 16eeeue, toen een okende drukker een zethaak met letters nam en ze  husselde om een font-catalogmaken. Het heeft niet alleen vijf eeuwen</p>
							<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische zetting. Het is in de jaren '60 populair geworden met de introductie vanlad Letraset velle met Lorem Ipsum passages.</p>
							<a class="hero-btn video-popup" href="https://www.youtube.com/watch?v=BzMLA8YIgG0"><i class="icofont icofont-play-alt-2"></i> Watch Our Video</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="about-img">
							<img src="img/other/about.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- About area End -->
		<!-- Feature area start -->
		<section id="features" class="feature-area gray-bg pt-128 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>Best Features</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<span><i class="icofont icofont-alarm"></i></span>
							</div>
							<div class="awesome-feature-details">
								<h5>Notification Viewing</h5>
								<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<span><i class="icofont icofont-light-bulb"></i></span>
							</div>
							<div class="awesome-feature-details">
								<h5>Creative Design</h5>
								<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<span><i class="icofont icofont-code"></i></span>
							</div>
							<div class="awesome-feature-details">
								<h5>Clean Code</h5>
								<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<span><i class="icofont icofont-ui-video-chat"></i></span>
							</div>
							<div class="awesome-feature-details">
								<h5>Full Free Video Call</h5>
								<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<span><i class="icofont icofont-ui-head-phone"></i></span>
							</div>
							<div class="awesome-feature-details">
								<h5>Great Support</h5>
								<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<span><i class="icofont icofont-heart"></i></span>
							</div>
							<div class="awesome-feature-details">
								<h5>Unlimited Features</h5>
								<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Feature feature area end -->
		<!-- How it work start -->
		<section class="how-work-area pt-130 pb-125 bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="how-work-right text-center">
							<img src="img/other/work.png" alt="" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="how-work-left mt-90">
							<h2>How It Work?</h2>
							<div class="how-work-tab mt-55">
								<ul>
									<li class="active"><a data-toggle="tab" href="#home">1. Download</a></li>
									<li><a data-toggle="tab" href="#menu1">2. Install</a></li>
									<li><a data-toggle="tab" href="#menu2">3. Run</a></li>
								</ul>
								<div class="tab-content">
									<div id="home" class="mt-45 tab-pane fade in active">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
									<div id="menu1" class="mt-45 tab-pane fade">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
									<div id="menu2" class="mt-45 tab-pane fade">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- How it work End -->
        <!-- fun fact area start -->
	    <section class="funfact-area bg-2 pt-125 pb-130">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">200</h2>
							<h5>Downloads</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">1000</h2>
							<h5>Active Installs</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">80</h2>
							<h5>Happy Clients</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">100</h2>
							<h5>Total App Rat</h5>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- fun fact area end -->
		<!-- app screenshot area start -->
		<section class="screenshot-area pt-130 pb-130">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>App Screenshots</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12">
						<div class="screenshot-slider">
							<div class="single-screenshot">
								<div class="image">
									<img src="img/screenshot/1.png" alt="">
								</div>
							</div>
							<div class="single-screenshot">
								<div class="image">
									<img src="img/screenshot/2.png" alt="">
								</div>
							</div>
							<div class="single-screenshot">
								<div class="image">
									<img src="img/screenshot/3.png" alt="">
								</div>
							</div>
							<div class="single-screenshot">
								<div class="image">
									<img src="img/screenshot/4.png" alt="">
								</div>
							</div>
							<div class="single-screenshot">
								<div class="image">
									<img src="img/screenshot/5.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- app screenshot area end -->
		<!-- Download Area Start -->
		<section class="download-area bg-3 ptb-130">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading text-center pb-45">
							<h2>Download Now Available</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="download-option-btn text-center">
							<ul>
								<li>
									<a href="#"><i class="icofont icofont-brand-apple"></i> App Store</a>
									<a class="active" href="#"><i class="icofont icofont-brand-windows"></i> Windows store</a>
									<a href="#"><i class="icofont icofont-brand-android-robot"></i> Android</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Download Area End -->
		<!-- Pricing Plan Area Start -->
		<section id="pricing" class="pricing-area pt-130 pb-100">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>Pricing Plan</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="pricing-single white-bg text-center mb-30">
							<div class="price-titel uppercase">
								<h4>BASIC</h4>
							</div>
							<div class="pricing-price">
								<span>40</span>
							</div>
							<div class="price-decs">
								<ul>
									<li>Five Website</li>
									<li>Five User</li>
									<li>100 GB Bandwidth</li>
									<li>2 GB Storage</li>
								</ul>
							</div>
							<div class="ordr-btn uppercase">
								<a href="#">Purchase Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="pricing-single active white-bg text-center mb-30">
							<div class="price-titel uppercase">
								<h4>STANDERD</h4>
							</div>
							<div class="pricing-price">
								<span>50</span>
							</div>
							<div class="price-decs">
								<ul>
									<li>20 Website</li>
									<li>20 User</li>
									<li>200 GB Bandwidth</li>
									<li>20 GB Storage</li>
								</ul>
							</div>
							<div class="ordr-btn uppercase">
								<a href="#">Purchase Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="pricing-single white-bg text-center mb-30">
							<div class="price-titel uppercase">
								<h4>UNLIMITED</h4>
							</div>
							<div class="pricing-price">
								<span>60</span>
							</div>
							<div class="price-decs">
								<ul>
									<li>Unlimited Website</li>
									<li>Unlimited User</li>
									<li>Unlimited Bandwidth</li>
									<li>Unlimited Storage</li>
								</ul>
							</div>
							<div class="ordr-btn uppercase">
								<a href="#">Purchase Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Pricing Plan Area End -->
		<!-- Testimonial Area Start -->
		<section id="client" class="testimonial-area pt-120 pb-130 bg-4">
			<div class="container">
				<div class="row">
					<div class="testimonial-active owl-carousel">
						<div class="col-md-12">
							<div class="testimonial-desc text-center">
								<p>Mauris pharetra eget turpis at gravida. Praesent diam neque, varius at mi eget, molestie scelerisque eros. Quisque eget nunc et ligula interdum finibus. Nullam id tincidunt metus, </p>
								<h4>Sathi Bhuiyan</h4>
							</div>
						</div>
						<div class="col-md-12">
							<div class="testimonial-desc text-center">
								<p>Mauris pharetra eget turpis at gravida. Praesent diam neque, varius at mi eget, molestie scelerisque eros. Quisque eget nunc et ligula interdum finibus. Nullam id tincidunt metus, </p>
								<h4>Al Mamun</h4>
							</div>
						</div>
						<div class="col-md-12">
							<div class="testimonial-desc text-center">
								<p>Mauris pharetra eget turpis at gravida. Praesent diam neque, varius at mi eget, molestie scelerisque eros. Quisque eget nunc et ligula interdum finibus. Nullam id tincidunt metus, </p>
								<h4>Salim Rana</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Testimonial Area End -->
		<!-- Team Area Start -->
		<section id="team" class="team-area ptb-130">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>Lovely Team Member</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/1.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Sathi Bhuiyan</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/2.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Sathi Bhuiyan</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/3.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Sathi Bhuiyan</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/4.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Sathi Bhuiyan</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Team Area End -->
		<!-- Subcribe Area Start -->
		<section class="subcribe-area pt-130 pb-115 bg-6">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading pb-35 text-center">
							<h2>Subscribe a free update</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="subcribe-form text-center">
							<form id="mc-form">
								<input autocomplete="off" placeholder="Enter Your Email" type="text">
								<button type="submit">Subscribe</button>
								<!-- mailchimp-alerts Start -->
								<div class="mailchimp-alerts text-centre">
									<div class="mailchimp-submitting"></div>
									<div class="mailchimp-success"></div>
									<div class="mailchimp-error"></div>
								</div>
								<!-- mailchimp-alerts end -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Subcribe Area End -->
		<!-- Contact Area Start -->
		<div id="contact" class="contact-area pt-130">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Contact Form -->
						<div class="contact-form">
							<form class="form" name="enq" method="post" action="mail.php">
								<div class="row">
									<div class="form-group col-md-12">
										<input type="text" name="name" class="form-control" id="first-name" placeholder="Name" required="required">
									</div>
									<div class="form-group col-md-12">
										<input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
									</div>
									<div class="form-group description col-md-12 mbnone">
										<textarea rows="3" name="message" class="form-control" id="description" placeholder="Message" required="required"></textarea>
									</div>
									<div class="col-md-12">
										<div class="actions text-center">
											<input type="submit" value="SUBMIT" name="submit" class="btn btn-lg btn-contact-bg" title="Submit Your Message!">
										</div>
									</div>
								</div>
							</form>
						</div>
						<!-- Contact Form -->
						<!-- Google Map -->
						<div class="google-map">
							<div id="map"></div>
						</div>
						<!-- Google Map -->
					</div>
				</div>
			</div>
		</div>
		<!-- Contact Area End -->
		<!-- Copyright Area Start -->
		<div class="copyright-area bg-5 ptb-65">
			<div class="container">
				<!-- Contact address left -->
				<div class="row">
					<div class="conct-border">
						<div class="col-md-4 col-sm-4">
							<div class="single-address">
								<div class="media">
									<div class="media-left">
										<i class="icofont icofont-phone"></i>
									</div>
									<div class="media-body text-center">
										<p>+012 345 678 102 <br> +012 345 678 102</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="single-address">
								<div class="media">
									<div class="media-left">
										<i class="icofont icofont-web"></i>
									</div>
									<div class="media-body text-center">
										<p>urname@email.com <br> urwebsitenaem.com</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="single-address">
								<div class="media">
									<div class="media-left">
										<i class="icofont icofont-social-google-map"></i>
									</div>
									<div class="media-body text-center">
										<p>ur address goes here, <br> street,Crossroad123.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Contact address left -->
				<!-- Copyright right -->
				<div class="row">
					<div class="col-md-12">
						<div class="copyright-area text-center">
							<!-- Copyright social -->
							<div class="contact-social text-center pt-70 pb-35">
								<ul>
									<li>
										<a href="#"><i class="icofont icofont-social-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="icofont icofont-social-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="icofont icofont-social-pinterest"></i></a>
									</li>
									<li>
										<a href="#"><i class="icofont icofont-social-vimeo"></i></a>
									</li>
									<li>
										<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
									</li>
								</ul>
							</div>
							<!-- Copyright social -->
							<div class="copyright-text">
								<p>Copyright &copy;  <a href="http://www.devitems.com/"> Devitems. </a> All Rights Reserved.</p>
							</div>
							<!-- Copyright text -->
						</div>
					</div>
				</div>
				<!-- Copyright right -->
			</div>
		</div>
		<!-- Copyright Area End -->
		
		<!-- all js here -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
		<script src="js/slick.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
		<!-- map js -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>
		<script>
			/*START CONTACT MAP JS*/
			function initialize() {
			  var mapOptions = {
				zoom: 12,
				scrollwheel: false,
				center: new google.maps.LatLng(43.538263, -80.305922)
			  };
			  var map = new google.maps.Map(document.getElementById('map'),
				  mapOptions);
			  var marker = new google.maps.Marker({
				position: map.getCenter(),
				icon: 'img/icon/map-icon.png',
				map: map
			  });
			}
			google.maps.event.addDomListener(window, 'load', initialize);	
		   /*END CONTACT MAP JS*/
		</script>
    </body>
</html>
