/* Laptop Scrren :1170px. */
@media (min-width: 1170px) and (max-width: 1400px) {
.container{width:1170px}
.hero-item .images {
  float: right;
  width: 300px;
}
.slick-dots {
  left: 105px;
}
.team-single:hover ul.team-social {
  bottom: 112px;
}
.team-single:hover .team-info {
  top: 108px;
}
.portfolio-box .grid-item {
  margin-bottom: 12px;
  padding: 0 8px;
}
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.container{width:970px}
.header-phone p {
  margin: 0 0 0 56%;
}
.main-menu {
  margin-left: 30%;
}
.hero-item .images {
  transform: scale(1);
}
.service-tab-list {
  background-image: none;
}
.process-titel li:first-child {
  margin-left: 20px;
}
.process-titel li:last-child {
  margin-left: 40px;
}
.choose-img {
  top: -85px;
}
.service-hover {
  padding: 10px;
}
.funfact-count h3 {
  font-size: 15px;
}
.testimonial-single {
  padding: 0 200px;
}
.team-deatils {
  padding-top: 35%;
}
ul.team-social li a, .contact-social ul li a {
  margin-right: 10px;
}
.address-area > p {
  margin: 20px 0;
}
.contact-address ul li {
  width: 52%;
}
.team-single:hover ul.team-social {
  bottom: 80px;
}
.team-single:hover .team-info {
  top: 80px;
}
.team-info {
  top: 50px;
}
ul.team-social{bottom:50px;}
.portfolio-box .grid-item {
  margin-bottom: 12px;
  padding: 0 5px;
}
.search-input .search-button {
  top: 88%;
}
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.container{width:750px}
.mobile-menu-area {
  display: block;
}
.main-menu {
  display: none;
}
.header-phone p {
  margin: 0;
}
.mean-container .mean-bar {
  padding: 10px 0;
  background:#d42f38;
  height: 69px;
  padding:0;
}
.sticky .header-bottom .logo {
  width: 203px;
}
.mean-container a.meanmenu-reveal {
  padding: 22px 20px 11px;
}
.header-phone p {
  display: none;
}
.hero-item .content h1 {
  font-size: 36px;
}
.hero-item {
  padding: 158px 0;
}
.hero-item .content {
  margin-top: 65px;
}
.choose-img {
  position: static;
  margin-bottom: 50px;
}
.section-titel > p {
  width: 60%;
}
.service-tab-list {
  background-image: none;
}
.service-tab-list li:first-child {
  margin-left: 0;
}
.process-titel li:first-child {
  margin-left: 0;
}
.res-mb-30{margin-bottom:30px}
.service-single > img {
  width: 100%;
}
.service-hover {
  padding: 60px;
}
.testimonial-single {
  padding: 0 70px;
}
.team-deatils {
  padding-top: 35%;;
}
.address-area > p {
  color: #fff;
  font-size: 11px;
  margin: 15px 0;
}
.map-area {
  margin-bottom: 50px;
}
.contact-address ul li {
  width: 100%;
}
.contact-address p {
  margin: 0;
}
.about-img {
  margin-bottom: 50px;
}
.contact-address ul li {
  width: 52%;
}
.search-news {
  margin-top: 50px;
}
.service-details-right {
  margin-top: 50px;
}
.team-single:hover .team-info {
  top: 88px;
}
.team-single:hover ul.team-social {
  bottom: 80px;
}
.team-info {
  top: 50px;
}
ul.team-social{bottom:50px;}
.portfolio-box .grid-item {
  margin-bottom: 10px;
  padding: 0 4px;
}
.search-input .search-button {
  top: 88%;
}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.mobile-menu-area {
  display: block;
}
.main-menu {
  display: none;
}
.header-phone p {
  margin: 0;
}
.mean-container .mean-bar {
  padding: 10px 0;
  background:#d42f38;
  height: 55px;
  padding:0;
}
.sticky .header-bottom .logo {
  width: 203px;
}
.mean-container a.meanmenu-reveal {
  padding: 22px 20px 11px;
}
.header-phone p {
  display: none;
}
.hero-item .content h1 {
  font-size: 36px;
}
.hero-item {
  padding: 158px 0;
}
.hero-item .content p {
  width: 100%;
}
.slick-dots {
  left: 140px;
}
.hero-item .content {
  margin-top: 30px;
}
.choose-img {
  position: static;
  margin-bottom: 50px;
}
.section-titel > p {
  width: 100%;
}
.service-tab-list {
  background-image: none;
}
.service-tab-list li:first-child {
  margin-left: 0;
}
.process-titel li:first-child {
  margin-left: 0;
}
.res-mb-30{margin-bottom:30px}
.service-single > img {
  width: 100%;
}
.service-hover {
  padding: 35px;
}
.testimonial-single {
  padding: 0 70px;
}
.team-deatils {
  padding-top: 35%;;
}
.address-area > p {
  color: #fff;
  font-size: 11px;
  margin: 15px 0;
}
.contact-details li:last-child {
  display: none;
}
.res-mb-sm-30{margin-bottom:30px}
.portfolio-menu li.active {
  padding: 10px 20px;
}
.testimonial-single {
  padding: 0;
}
.tstimonial-img {
  float: none;
  margin-bottom: 30px;
  margin-right: 0;
}
.service-tab-list li:first-child {
  margin-left: 0;
}
.service-tab-list li {
  float: left;
  margin-left: 10px;
}
.service-tab-list li:nth-child(2),.service-tab-list li:nth-child(3) {
  display: none;
}
.service-tab-list li:last-child {
  width: 30%;
}
.header-bottom .logo,.header-social {
  display: none;
}
.map-area {
  margin-bottom: 50px;
}
.contact-address ul li {
  width: 100%;
}
.contact-address p {
  margin: 0px 0 0;
}
.search-input .search-button {
  top: 84%;
}
.about-img {
  margin-bottom: 50px;
}
.breadcamb-area{padding-top: 230px;}
.search-news {
  margin-top: 50px;
}
.news-content blockquote {
  margin: 0 0 15px;
}
.tag-list ul li:nth-child(3) a{
  margin-right: 5px;
}
.service-details-right {
  margin-top: 50px;
}
.process-titel li:nth-child(3) {
  display: none;
}
.process-titel li:nth-child(4) {
  display: none;
}
.process-titel li {
  width: 48%;
}
.portfolio-box .grid-item {
  margin-bottom: 6px;
  padding: 0 2px;
}
.image-box > a {
  font-size: 28px;
}
.comment-author h3 {
  float: none;
  margin: 0 0 5px;
}
.comment-author > ul {
  float: none;
}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 .service-tab-list li:first-child {
  margin-left: 20px;
}
.service-hover {
  padding: 100px;
}
.slick-dots {
  left: 85px;
}
.team-single > img {
  width: 100%;
}
.team-deatils {
  padding-top: 48%;
}
.team-single:hover .team-info {
  top: 215px;
}
.team-single:hover ul.team-social {
  bottom: 185px;
}
.service-tab-list li {
  float: left;
  margin-left: 0px;
}
.portfolio-box .grid-item {
  margin-bottom: 6px;
  padding: 0 3px;
}
.slick-dots {
  left: 70px;
}
}
 
