/* -----------------------------------
Template: Love & We

NOTE: This is Footer style file. All footer related style included in this file.

--------------------------------------*/
.main-footer{
    background: #fff;
    z-index: 99;
    margin-top: -100px;
    position: relative;
}
.main-footer{
    background-color: #fff;
    margin-top: -100px;
}
.footer-contents a{
    display: block;
}
.footer-contents h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color: #2a2a2a;
    margin-bottom: 20px;
    display: block;
}
.footer-social ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-social ul li{
    display: inline-block;
    margin-right: 5px;
    -webkit-transition: al 0.5s ease 0s;
    -o-transition: al 0.5s ease 0s;
    transition: al 0.5s ease 0s;
}
.footer-social ul li:last-child{
    margin-right: 0px;
}
.footer-social ul li i{
    color: #666666;
    font-size: 15px;
    line-height: 24px;
    display: block;
    background: #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.footer-social ul li:hover i{
    color: #fff;
    background: #F65589;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.footer-bottom p{
    color: #666666;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    line-height: 35px;
}
.footer-bottom a{
    color: #f65589
}
.footer-bottom p:hover a{
    text-decoration: underline;
}
.footer-contents a.logo{margin-bottom: 20px; display: block; position: inherit}
.main-footer.two, .main-footer.three{
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.two .main-footer:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    content: "";
}
.footer-area.two .footer-contents h2 {
  color: #fff;
}
.footer-contents{z-index: 9; position: relative}
.footer-contents.text-center > h1 {
    font-size: 50px;
    color: #f65589;
    font-family: 'Kaushan Script', cursive;
    margin-top: 20px;
}
.two .main-footer {
  background-color: inherit;
  box-shadow: inherit;
  margin-top: 0px;
}
.two .main-footer{
    box-shadow: none;
}
.two .footer-contents {
  background-color: transparent;
  box-shadow: inherit;
  margin-top: 0px;
  padding: 100px 0 100px;
}
.footer-bottom.two{background: #F65589}
.footer-bottom.two p{float:left; color: #fff}
.footer-bottom.two p a{color: #fff}
.footer-bottom.two .footer-social{float:right}
.footer-social.two ul li i {
  background: #F65589 none repeat scroll 0 0;
  color: #fff;
}
.footer-social.two ul li:hover i {
  background: #fff none repeat scroll 0 0;
  color: #F65589;
}
.three .main-footer:after{background: inherit}
.footer-bottom.three{
    background: #383838;
}
.footer-bottom.three p, .footer-bottom.three a{
    color: #fff;
}
.footer-social.three ul li i{
    border: 1px solid #fff;
    background: transparent;
}
.footer-social.three ul li:hover i{
    color: #F65589;
}
.footer-social.three ul li {
  margin-right: 28px;
}
.footer-area.four{
   background: #F65589;
}
.footer-area.four p, .footer-area.four a{
   color: #fff;
}
.footer-area.map .main-footer {
  margin-top: 0px;
}
.footer-area.map{
  padding-top: 100px;
}



































