/*

Template: Expu
Author: 
Version: 1
Design and Developed by: 

Note: This is Short code style file. All Short code related style included in this file. 

*/

@import url("header.css");
@import url("slider.css");
@import url("footer.css");
@import url("default.css");
@import url("shortcode.css");
@import url("comming.css");
@import url("couple.css");
@import url("story.css");
@import url("events.css");
@import url("gallery.css");
@import url("about.css");