/*--
    05. About Css
--------------------------*/
.portfolio-aboutme{
    .content{
        
        h3 {
            color: #000000;
            font-weight: 600;
            margin-bottom: 10px;
            @media #{$large-mobile} {
                font-size: 23px;
            }
        }
        & .small-title {
            font-size: 24px;
            font-weight: 300;
            @media #{$large-mobile} {
                font-size: 19px;
            }
        }
        span{
            font-family: $heading-font;
            letter-spacing: 1px;
            font-size: 18px;
            font-weight: 600;
            color: #000000;
        }
        
        & p {
            line-height: 26px;
            margin: 0;
            margin-top: 18px;
        }
        & .about-btn {
            margin-top: 25px;
            a {
                font-family: $heading-font;
            }
        }
        
    }
    .thumb {
        position: relative;
        display: inline-block;
        z-index: 2;
        &::before {
            position: absolute;
            content: "";
            background: url(../images/about/about-01.png);
            width: 100%;
            height: 100%;
            left: 30px;
            top: -30px;
            z-index: -1;
        }
        & a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        @media #{$small-mobile}{
            margin-top: 10px;
            &::before {
                left: 10px;
                top: -10px;
            }
        }
        @media #{$large-mobile,$tablet-device}{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}
.funfact{
    display: flex;
    align-items: center;
    justify-content: center;

    .fact-icon{
        padding-right: 20px;
        i {
            font-size: 48px;
            color: $white;
        }
    }
    .content {
        & .count {
            color: $white;
        }
        span {
            color: #383838;
            font-size: 24px;
            font-weight: 600;
            display: inline-block;
            font-family: $heading-font;
            position: relative;
            &::after{
                position: absolute;
                content: "+";
                right: -15px;
                color: $white;
                font-size: 26px;
            }
        }
        h5 {
            color: $white;
            font-weight: 400;
            font-size: 20px;
            margin: 0;
            position: relative;
            display: block;
        }
    }
}
