	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/04/2016 07:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-arrows:before { content: "\f100"; }
.flaticon-arrows-1:before { content: "\f101"; }
.flaticon-arrows-2:before { content: "\f102"; }
.flaticon-arrows-3:before { content: "\f103"; }
.flaticon-arrows-4:before { content: "\f104"; }
.flaticon-arrows-5:before { content: "\f105"; }
.flaticon-bag:before { content: "\f106"; }
.flaticon-camera:before { content: "\f107"; }
.flaticon-favorite:before { content: "\f108"; }
.flaticon-interface:before { content: "\f109"; }
.flaticon-medical:before { content: "\f10a"; }
.flaticon-people:before { content: "\f10b"; }
.flaticon-search:before { content: "\f10c"; }
.flaticon-social:before { content: "\f10d"; }
.flaticon-social-1:before { content: "\f10e"; }
.flaticon-social-2:before { content: "\f10f"; }
.flaticon-social-3:before { content: "\f110"; }
.flaticon-square:before { content: "\f111"; }
.flaticon-square-1:before { content: "\f112"; }
.flaticon-squares:before { content: "\f113"; }
.flaticon-symbols:before { content: "\f114"; }
.flaticon-view:before { content: "\f115"; }