/* large desktop :1366px. */

@media (min-width: 1200px) and (max-width: 1600px) {
    
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
    
    .main-menu li {
        padding: 0 12px;
    }
    .slider-content h2 {
        font-size: 50px;
    }    
    .discount-content > p {
        font-size: 17px;
    }    
    .discount-product {
        margin: 0 20px -60px;
    }
    .single-testimonial > p {
        width: 70%;
    }    
    .blog-content > p {
        font-size: 16px;
    }    
    .blog-content {
        padding: 22px 10px 25px;
    }    
    .blog-content > h4 {
        font-size: 18px;
        line-height: 26px;
    }    
    .blog-meta {
        margin: 8px 0 10px;
    }    
    .breadcrumb-area.pb-210 {
        padding-bottom: 135px;
    }
    .breadcrumb-area.pt-225 {
        padding-top: 150px;
    }    
    .product-list-action {
        margin: 18px 0 0;
    }   
    .product-rating {
        margin: 12px 0 10px;
    }       
    .login-form input {
        width: 180px;
    }  
    .contact-info-wrapper {
        padding: 40px 12px 34px;
    }    
    
    
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    
    .logo {
        padding: 25px 0;
    }
    .search-login-cart-wrapper {
        padding: 44px 55px 30px 0;
    }        
    .stick .search-login-cart-wrapper {
        padding: 38px 55px 30px 0;
    }        
    .mean-container a.meanmenu-reveal {
        border: 1px solid #333;
        color: #333;
        padding: 5px 5px 1px;
        top: -73px;
    }    
    .stick .mean-container a.meanmenu-reveal {
        top: -67px;
    }    
    .slider-content h2 {
        font-size: 38px;
    }    
    .slider-content.pt-115 {
        padding-top: 0;
    }    
    .single-food-category > img {
        width: 100%;
    }    
    .discount-product {
        margin: 0px;
    }
    .discount-content > h2 {
        font-size: 43px;
        line-height: 50px;
    }    
    .discount-content > p {
        font-size: 17px;
    }    
    .discount-content {
        padding: 0;
    }    
    .discount-area {
        padding-bottom: 120px;
    }    
    .single-testimonial > p {
        width: 94%;
    }    
    .service-content {
        padding: 0 5px;
    }    
    .modal-dialog {
        min-width: 100%;
    }    
    .quickview-btn-cart {
        margin: 0 15px;
    }    
    .quickview-btn-cart > a {
        padding: 14px 18px;
    }    
    .pt-245 {
        padding-top: 145px;
    }    
    .pb-250 {
        padding-bottom: 150px;
    }    
    .help-content > h2 {
        font-size: 50px;
    }    
    .breadcrumb-area.pb-210 {
        padding-bottom: 135px;
    }
    .breadcrumb-area.pt-225 {
        padding-top: 150px;
    }     
    .about-us-list ul li {
        font-size: 17px;
    }   
    .about-us-content > h2 {
        font-size: 50px;
        line-height: 45px;
    }    
    .shop-topbar-wrapper {
        margin-top: 50px;
    }    
    .shop-topbar-wrapper {
        display: block;
    }    
    .product-list-action {
    margin: 18px 0 0;
    }   
    .product-rating {
        margin: 12px 0 10px;
    }    
    .cart-shiping-update > a,
    .cart-shiping-update > button,
    .cart-clear > a {
        padding: 13px 10px;
    }    
    .tax-select select, .tax-select input, .discount-code input {
        width: 100%;
    }    
    .checkout-login {
        margin-top: 30px;
    }    
    .login-form input {
        width: 100%;
    }  
    .res-mrg-top {
        margin-top: 50px;
    }     
    .mobile-menu .mean-nav ul.menu-overflow {
        height: 215px;
        margin-top: 0;
        overflow-y: auto;
    }   
    
    
}


/* small mobile :320px. */

@media (max-width: 767px) {
    
    .same-style {
        margin-left: 8px;
    }
    .logo {
        padding: 25px 0;
    }
    .search-login-cart-wrapper {
        padding: 36px 55px 24px 0;
    }
    .stick .search-login-cart-wrapper {
        padding: 30px 55px 24px 0;
    }
    .mean-container a.meanmenu-reveal {
        border: 1px solid #333;
        color: #333;
        padding: 5px 5px 1px;
        top: -63px;
    }    
    .stick .mean-container a.meanmenu-reveal {
        top: -61px;
    }    
    .logo img {
        width: 100%;
    }    
    .shopping-cart-content {
        padding: 31px 10px 10px;
        width: 300px;
        right: 15px;
    }    
    .slider-content h2 {
        font-size: 34px;
    }    
    .slider-content.pt-115 {
        padding: 0 0 40px;
    } 
    .pb-130 {
        padding-bottom: 80px;
    }    
    .pt-130 {
        padding-top: 80px;
    }    
    .single-food-category > img {
        width: 100%;
    }    
    .discount-product {
        margin: 0 0 0px;
    }    
    .discount-content > h2 {
        font-size: 39px;
    }    
    .discount-content {
        padding: 24px 0 80px;
    }    
    .single-testimonial > p {
        font-size: 21px;
        line-height: 35px;
        width: 100%;
    }    
    .testimonial-active.owl-carousel .owl-nav div.owl-next {
        right: 0;
    }    
    .testimonial-active.owl-carousel .owl-nav div {
        left: 0;
    }    
    .blog-wrapper {
        display: block;
    }    
    .blog-content-wrapper {
        display: block;
    }    
    .blog-content {
        margin-left: 0;
        padding: 32px 15px 35px;
    }    
    .payment-img {
        float: left;
        margin: 5px 0 0;
    }    
    .modal-dialog {
        min-width: 100%;
    }    
    .modal-body {
        display: block;
        justify-content: inherit;
        padding: 15px;
    }    
    .quickview-btn-cart {
        margin: 0 10px;
    }    
    .quickview-btn-cart > a {
        padding: 14px 10px;
    }    
    .quick-view-list a img {
        width: 88px;
    }    
    .qwick-view-left {
        margin-right: 0;
    }   
    .qwick-view-content {
        margin: 15px 0 0;
    }
    #exampleModal .close, #exampleCompare .close {
        right: 145px;
    }    
    .pt-245 {
        padding-top: 100px;
    }    
    .pb-250 {
        padding-bottom: 100px;
    }    
    .help-content > h2 {
        font-size: 33px;
        line-height: 35px;
    }    
    .pb-120 {
        padding-bottom: 80px;
    }    
    .pt-115 {
        padding-top: 75px;
    }    
    .help-btn.mt-35 {
        margin-top: 25px;
    }    

    .help-area {
        position: relative;
    }    
    .help-area::before {
        background-color: #fff;
        bottom: 0;
        content: "";
        left: 0;
        opacity: 0.5;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }    
    .pt-120 {
        padding-top: 80px;
    }    
    .pb-85 {
        padding-bottom: 45px;
    }    
    .pb-90 {
        padding-bottom: 50px;
    }    
    .section-title.mb-55 {
        margin-bottom: 35px;
    }    
    .section-title > h2 {
        font-size: 50px;
    }    
    .breadcrumb-area.pb-210 {
        padding-bottom: 85px;
    }
    .breadcrumb-area.pt-225 {
        padding-top: 100px;
    }      
    .about-us-content > h2 {
        font-size: 42px;
        line-height: 40px;
    }    
    .about-us-content {
        margin-top: 50px;
    }    
    .single-count-wrapper {
        display: block;
    }    
    .grid-list-options {
        margin-top: 20px;
    }    
    .shorting-style > label {
        display: block;
        margin: 0 0 20px;
    }    
    .shop-topbar-wrapper {
        margin-top: 50px;
    }    
    .shop-topbar-wrapper {
        display: block;
    }     
    .product-list .product-img {
        display: block;
        float: inherit;
        margin-right: 0px;
        margin-bottom: 20px;
        width: 100%;
    }    
    .product-details-content {
        margin-top: 50px;
    }      
    .mt-120 {
        margin-top: 80px;
    }    
    .description-review-topbar a {
        font-size: 13px;
        margin: 0 5px 20px;
        padding-bottom: 5px;
    }
    .description-review-topbar a::before {
        right: -5px;
    }    
    .tab-content.description-review-bottom {
        padding: 10px 15px 40px;
    }   
    .header-search .search-content {
        right: 0;
        top: 100%;
        transform: inherit;
        width: 228px;
    }    
    .header-search .search-content.open {
        right: -70px;
    }    
    .mobile-menu .mean-nav ul.menu-overflow {
        height: 215px;
        margin-top: 0px;
        overflow-y: auto;
    }     
    .cart-shiping-update-wrapper {
        display: block;
        padding: 43px 10px 30px;
    }    
    .cart-shiping-update > button {
        margin: 15px 0;
    }    
    .tax-select select, .tax-select input, .discount-code input {
        width: 100%;
    }    
    .login-forget > a {
        margin-left: 10px;
    }    
    .billing-select.month-mrg select {
        margin-bottom: 20px;
    }    
    .billing-select.card-mrg {
        margin-bottom: 20px;
    }    
    .login-forget {
        float: left;
    }    
    .order-review-wrapper .table td, .order-review-wrapper .table th {
        padding: 7px;
    }    
    .checkout-login {
        margin-top: 30px;
    }    
    .breadcrumb-content > h2 {
        font-size: 35px;
    }     
    .login-form-container {
        padding: 50px 15px;
    }    
    h5.panel-title span {
        display: flex;
        height: 100%;
        justify-content: center;
        line-height: 45px;
        text-align: center;
    }    
    .entries-info {
        padding: 0 10px 30px;
    }    
    .entries-wrapper::before {
        display: none;
    }    
    .entries-wrapper {
        border: 1px solid #eaeaea;
        padding: 30px 10px;
        position: relative;
    }    
    .res-mrg-top {
        margin-top: 50px;
    }     
    .res-mrg-top-2 {
        margin-top: 50px;
    }   
    .blog-details-content > h2 {
        font-size: 20px;
    }  
    .single-comment-wrapper {
        display: block;
        margin-left: 0;
    }
    .blog-comment-content {
        margin-top: 25px;
    }    
    .header-height {
        min-height: 96.92px;
    }    
    .slider-active.owl-carousel .owl-nav div {
        font-size: 15px;
        height: 35px;
        line-height: 36px;
        width: 35px;
    }    
    .same-style button i {
        font-size: 18px;
    }    
    .same-style > a {
        font-size: 18px;
    }     
    .header-search .search-toggle i.s-close {
        top: -5px;
    }    

    
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .header-height {
        min-height: 120px;
    }
    .logo {
        padding: 25px 0;
    }
    .stick .logo.pt-25 {
        padding-top: 12px;
    }
    .same-style button i {
        font-size: 24px;
    }    
    .same-style > a {
        font-size: 24px;
    } 
    .search-login-cart-wrapper {
        padding: 44px 55px 30px 0;
    }
    .stick .search-login-cart-wrapper {
        padding: 38px 55px 30px 0;
    }  
    .mean-container a.meanmenu-reveal {
        top: -73px;
    }   
    .stick .mean-container a.meanmenu-reveal {
        top: -67px;
    }    
    .logo img {
        width: auto;
    }
    
    
    
    
    
    
    
}