/*-----------------------------------------------------------------------------------

    Project: Mania - Fashion eCommerce HTML Template
    Description: This is html5 template
    Author: HasTech
    Version: 1.0
	
----------------------------------------------------------------------------------- */

/* import css */
@import url("header.css");
@import url("slider.css");
@import url("footer.css");
@import url("blog.css");
@import url("default.css");
@import url("product.css");
@import url("testimonial.css");
@import url("modal.css");
@import url("banner.css");