/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {

    
    .camera-two > h2 {
        font-size: 42px;
    }
    .camera_caption {
        top: 40px;
    }  
    .about-text-bottom {
        margin-top: 166px;
    }
    .about-text-bottom > h3 {
        margin-bottom: 13px;
    } 
    .about-text-bottom a, .dream-text-down a {
        margin-top: -5px;
    }
    .service-tex {
        margin-top: 175px;
    }
    .all-service-text {
        margin-bottom: 23px;
    }  
    .service-text-left > h3 {
        margin-bottom: 3px;
    }
    .choose-bottom li {
        margin-bottom: 15px;
    }
    .choose-text {
        margin-top: 180px;
    }
    .choose-bottom ul li {
        font-size: 16px;
    }
    .choose-all {
        margin-top: 5px;
    }
    .team-bottom::after {
        border-width: 100px 106.5px 0;
    } 
    .team-bottom::before {
        width: 212px;
    }
    .team-social-icon > ul > li a {
        margin: 0 7px;
    } 
    .dream-text-down {
        margin-top: 26px;
    } 
    .dream-text > p {
        margin-top: 10px;
    }
    .dream-text > h2 {
        font-size: 23px;
    }
    .dream-text {
        padding: 73px 0;
    }
    .feature-img-left.an-fe {
        margin-top: 218px;
    } 
    .news-text > h2 {
        font-size: 30px;
    }
    .blog-search input {
        padding: 11px 151px 11px 30px;
    } 
    .blog-search button {
        width: 144px;
    }
    .contact-text > p {
        margin-top: 24px;
    }
    .contact-icon {
        margin-top: 23px;
    }
    
}
 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    
    .mobile-menu-area {
        display: block;
    }  
    .camera_caption {
        top: 23.5%;
        z-index: 99;
    }
    .camera-one > h2 {
        font-size: 20px;
    }
    .camera-two h2::before {
        bottom: -13px;
    }
    .camera-three.wow.zoomInUp {
        display: none;
    }
    .camera-two > h2 {
        font-size: 32px;
    }
    .creative-text.res {
        margin-bottom: 40px;
    } 
    .header-bottom {
        padding: 20px 0;
    }
    .creative-text {
        padding: 52px 30px 40px;
    } 
    .counter.res {
        margin-bottom: 40px;
    }
    .about-text-top {
        margin-right: 0px;
    } 
    .about-text-bottom, .choose-text {
        margin-top: 60px;
    }
    .about-text-bottom > h3 { 
        margin-bottom: 20px;
    } 
    .about-text-bottom a, .dream-text-down a {
        margin-top: 7px;
    } 
    .service-text-top {
        margin-left: -112px;
    }
    .service-tex {
        margin-top: 0;
    } 
    .about-left.res-service {
        float: right;
        margin-top: 60px;
    }  
    .team-bottom::after {
        border-width: 100px 172.5px 0;
    }
    .team-bottom::before {
        width: 100%;
    }   
    .dream-img {
        transform: translateY(49px);
    }    
    .dream-text {
        padding: 90px 0 0;
    }   
    .feature-img2 img {
        width: 100%;
    }  
    .news-text > h2 {
        font-size: 20px;
        margin-top: 13px;
    }  
    .blog-search input {
        padding: 11px 133px 11px 30px;
    }
    .slick-next {
        right: -18px;
    }
    .slick-prev {
        left: -18px;
    }
    .contact-left {
        display: block;
        overflow: hidden;
    }
    .contact-title.title {
        margin-top: 60px;
    }
    .team-bottom > p {
        padding: 0 29px;
    }  
    .team-bottom {
        min-height: 344px;
    }  
    .team-bottom.team {
        margin-bottom: 30px;
    }   
    .mobile-menu {
        display: block;
    }
    .menu-wrap.pull-right {
        display: none;
    } 
    .header-logo {
        line-height: 100px;
    } 
    .header-bottom {
        padding: 0px 0;
    }
    .is-sticky .header-logo {
        line-height: 80px;
    }  
    

}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .container {
        width:300px;
    }
    .menu-wrap.pull-right {
        display: none;
    }
    .mobile-menu-area {
        display: block;
    }
    .mobile-menu-area {
        margin-top: 49px;
    }
    .only {
        margin-left: 50px;
        margin-top: 26px;
    }
    .about-text-top {
        height: 130px;
        width: 100%;
        margin-right: 0px;
    } 
    .about-text-top h2, .service-text-top h2 {
        font-size: 17px;
    } 
    .only > h5, .only2 > h5 {
        font-size: 14px;
    } 
    .about-text-top {
        height: 84px;
    } 
    .about-text-bottom > h3 {
        margin-bottom: 12px;
    }
    .about-text-bottom, .choose-text {
        margin-top: 30px;
    }
    .about-text-bottom a, .dream-text-down a {
        margin-top: 4px; 
    }
    .welcome-about-area {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .creative-text.res,.creative-text.res2 {
        margin-bottom: 30px;
    }
    .about-left.res-service {
        display: block;
        overflow: hidden;
    }
    .service-text-top {
        width: 100%;
    }
    .choose-bottom li {
        margin-bottom: 12px;
    }
    .choose-all {
        margin-top: 2px;
    }
    .choose-bottom.res {
        margin-top: 14px;
    }   
    .choose-bottom ul li {
        font-size: 16px;
    }
    .welcome-service-area {
        margin: 50px 0;
    }  
    .service-tex {
        margin-top: 0;
    } 
    .creative-text > h3, .service-text-left > h3 {
        font-size: 16px;
    }
    .all-service-text {
        margin-bottom: 25px;
    }
    .counter.res,.counter.res2 {
        margin-bottom: 30px;
    }
    .counter_area {
        padding: 50px 0;
    }
    .counter {
        font-size: 30px;
    }
    .counter-next h2 {
        font-size: 20px;
    }
    .team-area {
        margin: 50px 0;
    }
    .team-header {
        margin-bottom: 30px;
    } 
    .team-bottom.res {
        margin-bottom: 30px;
    }   
    .dream-text > h2 {
        font-size: 18px;
    }  
    .dream-text {
        padding: 50px 0 0;
    }
    .dream-text-down a {
        height: 43px;
        line-height: 41px;
        width: 120px;
    }
    .dream-text-down {
        margin-top: 18px;
    }  
    .dream-img {
        transform: translateY(21px);
    }
    .testimonial-area {
        margin: 50px 0 50px;
    } 
    .title-style-1 {
        margin-bottom: 30px;
        text-align: center;
    }
    .feature-img-left.an-fe {
        margin-top: 30px;
    }
    .feature-all.res3 {
        margin-top: 30px;
    }  
    .news-text > h2 {
        font-size: 16px;
    } 

    .blog-search input {
        font-size: 13px;
        padding: 11px 104px 11px 14px;
    }
    .blog-search button {
        font-size: 13px;
        width: 103px;
    }
    .news-text {
        margin-bottom: 20px;
    }   
    .news-all {
        padding: 50px 0;
    }  
    .feature-area {
        margin-bottom: 50px;
    }   
    .counter_area {
        margin-bottom: 50px;
    } 
    .contact-pading {
        padding: 50px 0;
    }  
    .contact-left {
        display: block;
        overflow: hidden;
    }
    .contact-title.res {
        margin-top: 50px;
    }
    .contact-icon {
        margin-top: 23px;
    }  
    .contact-text > p { 
        margin-top: 27px;
    }   
    .slick-prev {
        left: -8px;
        z-index: 9;
    } 
    .slick-next {
        right: -8px;
    }  
    .contact-title > h1 {
        font-size: 20px;
    }  
    .contact-address a, .contact-address p {
        margin-bottom: 11px;
    }
    .camera-one > h2 {
        font-size: 17px;
    }
    .camera-two h2::before {
        width: 88px;
    }
    .camera-three.wow.zoomInUp {
        display: none;
    }
    .camera-two > h2 {
        font-size: 18px;
    }
    .camera-four > a {
        font-size: 13px;
        padding: 10px 17px 8px;
    }
    .camera-four {
        margin-top: 43px;
    }
    .camera-two h2::before {
        bottom: -18px;
    }
    .camera_caption {
        top: 8.5%;
        z-index: 99;
    }
    .team-header > h5, .title-style-1 > h5 {
        font-size: 14.98px;
    }
    .team-header > h2, .title-style-1 > h2 {
        font-size: 24px;
    }
    .mean-container .mean-nav {
      right: -30px;
      width: 120%;
    }
    .team-bottom::after {
        border-width: 100px 135.5px 0;
    }
}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width:450px;
    }
    .creative-text > p {
        padding: 0 30px;
    }
    .team-bottom::before {
        width: 100%;
    }
    .team-bottom::after {
        border-width: 100px 210.5px 0;
    }
    .dream-img {
        transform: translateY(33px);
    }
    .feature-img2 img {
        width: 100%;
        
    } 
    
    
}