<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Contact Us || Coffee Hutt</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Favicon Icon -->
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		
		<!-- All css here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/shortcode/shortcodes.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        
		<!-- Header Area Start -->
		<header class="fixed">
			<div class="header-area pt-40 pb-20 header-sticky">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-xs-12">
							<div class="logo">
								<a href="index.html"><img src="img/logo/logo.png" alt="COFFEE" /></a>
							</div>
						</div>
						<div class="col-md-9 col-xs-12">
                            <div class="content-wrapper">
                                <!-- Main Menu Start -->
                                <div class="main-menu text-right">
                                    <nav>
                                        <ul>
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about-us.html">About us</a></li>
                                            <li><a href="menu.html">Menu</a></li>
                                            <li><a href="reservation.html">Reservations</a></li>
                                            <li><a href="blog.html">page</a>
                                                <ul>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="event.html">Event</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile-menu hidden-lg hidden-md"></div>
                                <!-- Main Menu End -->
                                <!--Search Form Start-->
                                <div class="search-btn">
                                    <ul data-toggle="dropdown" class="header-search search-toggle">
                                        <li class="search-menu">
                                            <i class="zmdi zmdi-search"></i>
                                        </li>
                                    </ul>
                                    <div class="search">
                                        <div class="search-form">
                                            <form id="search-form" action="#">
                                                <input type="search" placeholder="Search here..." name="search" />
                                                <button type="submit">
                                                    <span><i class="zmdi zmdi-search"></i></span>
                                                </button>
                                            </form>                                
                                        </div>
                                    </div>
                                </div>	
                                <!--End of Search Form-->
                            </div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Area End -->
		<!-- Banner Area Start -->
		<section class="banner-area text-left">	
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>Contact Us</h2>
                                <div class="banner-breadcrumb">
                                    <ul>
                                        <li><a href="index.html">home </a> <i class="zmdi zmdi-chevron-right"></i></li>
                                        <li>contact us</li>
                                    </ul>
                                </div>
                            </div>  
                        </div> 
                    </div>
                </div>
            </div>
		</section>
		<!-- Banner Area End -->
        <!--Start Contact us Area-->
        <div class="contact-us-area text-center pt-80 pb-90">
            <div class="container">
                <div class="row">     
                    <div class="col-xs-12">
                        <div class="section-title">
                            <h2 class="pb-30">get in touch</h3>
                            <form id="contact-form" action="call-back-mail.php" method="post">
                                <div class="row contact-custom-row">
                                    <div class="col-md-6">
                                        <div class="form-box mb-20">
                                            <input type="text" name="name" placeholder="First Name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-20">
                                        <div class="form-box">
                                            <input type="text" name="name" placeholder="Last Name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-20">
                                        <div class="form-box">
                                            <input type="email" name="email" placeholder="Email Address" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-20">
                                        <div class="form-box">
                                            <input type="text" name="phone" placeholder="Phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-box mb-20">
                                            <input type="text" name="subject" placeholder="Subject">
                                        </div>
                                        <div class="form-box">
                                            <textarea name="message" placeholder="Message"></textarea>
                                            <button type="submit" class="banner-btn mt-30">Submit Now</button>
                                        </div>
                                        <p class="form-messege"></p>
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>  
                </div>
            </div>
        </div>    
        <!-- End of Contact us Area -->
        <!-- Newsletter Area Start -->
        <section class="newsletter-area pt-55 pb-45">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                        <div class="newsletter-content section-title text-center">
                            <h2>subscribe for newsletter</h2> 
                            <h5>coffee is a way of stealing time that should be rights belong to your older</h5>
                            <div class="newsletter-form">
                                <form action="#" id="mc-form" class="mc-form fix">
                                    <input id="mc-email" type="email" name="email" placeholder="E-mail here...">
                                    <button id="mc-submit" type="submit" class="default-btn"><span>subscribe now</span></button>  
                                </form>
                                <!-- mailchimp-alerts Start -->
                                <div class="mailchimp-alerts">
                                    <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                    <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                    <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                </div>
                                <!-- mailchimp-alerts end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Newsletter Area End -->
        <!-- Footer Area Start -->
        <footer class="footer-area">
            <div class="footer-widget-area bg-3 pt-80 pb-60 fix">
                <div class="container">
                    <div class="row">
                        <div class="footer-logo text-center mb-60">
                            <a href="index.html"><img src="img/logo/logo.png" alt="coffee"></a>
                        </div>
                    </div>
                    <div class="row">  
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="single-footer-widget">
                                <h3>banasree branch</h3>
                                <p>Block D, House No # 15, Road No # 3</p>
                                <p>Phone : +88 012 458 22 88 </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="single-footer-widget">
                                <h3>Dhanmondi Branch</h3>
                                <p>Block F, House No # 18, Road No # 9/A</p>
                                <p>Phone : +88 012 458 22 88 </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="single-footer-widget">
                                <h3>Gulshan branch</h3>
                                <p>Rosd no # 12, House No # 10, Gulshan - 1</p>
                                <p>Phone : +88 012 458 22 88 </p>
                            </div>
                        </div>
                        <div class="col-md-3 hidden-sm col-xs-12">
                            <div class="single-footer-widget">
                                <h3>uttara branch</h3>
                                <p>Sector # 10, House No # 18, Road No # 8</p>
                                <p>Phone : +88 012 458 22 88 </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">                                        
                            <div class="footer-links text-center mt-55 mb-30">
                                <div class="social-figure">
                                    <div class="main">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="social-hover">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                </div>
                                <div class="social-figure">
                                    <div class="main">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="social-hover">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                                <div class="social-figure">
                                    <div class="main">
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                    <div class="social-hover">
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                                <div class="social-figure">
                                    <div class="main">
                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                    </div>
                                    <div class="social-hover">
                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                                <div class="social-figure">
                                    <div class="main">
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                    <div class="social-hover">
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-menu footer text-center">
                                <nav>
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html">About us</a></li>
                                        <li><a href="menu.html">Menu</a></li>
                                        <li><a href="reservation.html">Reservations</a></li>
                                        <li><a href="blog.html">Pages</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-text-area fix bg-coffee ptb-18">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-text text-center">
                                <span>Copyright &copy; <a href="#">Hastech</a> 2017. All Rights Reserved.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->
       
		<!-- All js here -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.meanmenu.js"></script>
        <script src="js/ajax-mail.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>   		
        <script src="js/slick.min.js"></script>  
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
