/* extra-large desktop :1920px */

@media (min-width: 1500px) and (max-width: 1920px) {
    .sticky {
        padding: 16px 45px 10px;
    }
    /* home-2 */
    
    .sticky-light {
        padding: 12px 45px 10px;
    }
}
/* large desktop :1500px */

@media (min-width: 1200px) and (max-width: 1499px) {
    .mainmenu nav ul li .mega-menu {
        left: -68px;
        width: 490px;
    }
    .mainmenu nav ul li ul {
        width: 260px;
    }
    .mainmenu nav ul li {
        padding: 0 7px;
    }
    /* home-2 */
    
    .about-content {
        margin-left: 35px;
        margin-top: 0;
    }
    .new-arrivals h1.price {
        margin: 35px 0 20px;
    }
    .new-arrivals .content {
        width: 95%;
    }
    /* home-6 */
    
    .home6-service-bg {
        min-height: 335px;
    }
    .home6-service-single {
        padding: 55px 0;
    }
    img.service-second {
        top: 25%;
    }
    .single-add-bottom {
        width: 63%;
    }
    .add-bottom-carousel-wraper {
        width: 37%;
    }
    .slider-text > h2 {
      font-size: 50px;
    }
    
}
/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
    .mainmenu nav ul li .mega-menu-2 {
        left: 0;
        top: 100%;
        width: 100%;
    }
    .mainmenu nav ul li .mega-menu {
        left: -85px;
        width: 490px;
    }
    .mainmenu nav ul li ul {
        left: 14px;
        width: 260px;
    }
    .mainmenu nav ul li {
        padding: 0 15px;
    }
    .service-mb-30 {
        margin-bottom: 30px;
    }
    .md-pt-55 {
        padding-top: 55px;
    }
    .md-ptb-55 {
        padding: 55px 0;
    }
    .md-ptb-50 {
        padding: 50px 0;
    }
    .about-content {
        margin-left: 10px;
        margin-top: 5px;
    }
    .section-title p::after {
        left: 19.5%;
    }
    .single-testimonial {
        padding: 0 80px;
    }
    .carosel-control-2 .owl-controls .owl-buttons div {
        left: 100px;
    }
    .carosel-control-2 .owl-controls .owl-buttons div.owl-next {
        right: 100px;
    }
    /* home-2 */
    
    .new-arrivals h1.price {
        margin: 35px 0 20px;
    }
    .new-arrivals .content {
        width: 95%;
    }
    /* home-3 */
    
    .home3-middle-text p.pera-2 {
        margin: 30px 0;
    }
    .md-mb-60 {
        margin-bottom: 60px;
    }
    /* home-4 */
    
    .main-banner-content {
        top: 25%;
    }
    /* home-5 */
    
    .home5-product {
        width: 33.33%;
    }
    /* home-6 */
    
    .home6-service-bg {
        min-height: 305px;
    }
    .home6-service-single {
        padding: 40px 0;
    }
    img.service-second {
        top: 25%;
    }
    .single-add-bottom {
        width: 65%;
    }
    .add-bottom-carousel-wraper {
        width: 35%;
    }
    /* about-us	*/
    
    .single-about-content {
        padding: 0;
    }
    .single-about-content h2 {
        margin: 0;
    }
    .single-about-content h3 {
        margin-bottom: 9px;
    }
    /* single-product */
    
    .expand-button {
        left: 32%;
    }
    .top-control li {
        margin-right: 18px;
    }
    .menu-style-3 .mainmenu nav ul li {
        padding: 0 6px;
    }
    .middle-text p.title {
        margin: 0;
    }
    .logo > a {
        font-size: 21px;
    }
    .home3-middle-text h1 {
        font-size: 35px;
    }
    .slider-area-five.height-100vh{
        height: inherit;
        padding: 300px 0;
    } 
    .slider-text > h2 {
        font-size: 38px;
    }
    
    
    
    
    
    
    
    
    
}
/* Tablet layout :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .mainmenu nav ul li .mega-menu-2 {
        left: 0;
        width: 100%;
    }
    .mainmenu nav ul li .mega-menu {
        left: -68px;
        width: 490px;
    }
    .mainmenu nav ul li ul {
        left: -40px;
        width: 260px;
    }
    .mainmenu nav ul li ul.sm-custom-left {
        left: -100px;
    }
    .mainmenu nav ul {
        padding-top: 22px;
        text-align: left;
    }
    .mainmenu nav ul li:first-child {
        padding-left: 0;
    }
    .middle-text img {
        width: 10%;
    }
    .about-content {
        margin-left: 0;
    }
    .about-img a::after {
        opacity: 1;
        transform: scale(1);
    }
    .content {
        display: block;
        float: none;
        margin-left: 0;
        overflow: hidden;
        width: 100%;
    }
    .rotate {
        display: inline-block;
        margin-left: 0;
        margin-top: 0;
        position: relative;
        transform: none;
    }
    .learn-more {
        float: none;
        margin: 10px 0 0;
        width: 100%
    }
    .section-title p::after {
        left: 10.5%;
    }
    .sm-mb-18 {
        margin-bottom: 18px;
    }
    .single-testimonial {
        padding: 0 70px;
    }
    .carosel-control-2 .owl-controls .owl-buttons div {
        left: 100px;
    }
    .carosel-control-2 .owl-controls .owl-buttons div.owl-next {
        right: 100px;
    }
    .small-mb-50 {
        margin-bottom: 50px;
    }
    .service-mb-30 {
        margin-bottom: 30px;
    }
    .footer-banner img {
        margin-right: -4px;
        width: 50%;
    }
    /* home-2 */
    
    .new-arrivals-area {
        text-align: center;
    }
    .new-arrivals .content {
        margin-left: 15%;
    }
    .arrival-img {
        margin-top: 0;
    }
    .mainmenu nav ul.sm-align-center {
        text-align: center;
    }
    /* home-3 */
    
    .home3-middle-text p.pera-2 {
        margin: 10px 0;
    }
    .greetings-content p {
        padding: 0 100px;
    }
    .home3-single-service {
        padding: 10px;
    }
    .small-mb-40 {
        margin-bottom: 40px;
    }
    .arraival-banner a:hover::before,
    .arraival-banner a:hover::after {
        opacity: 0;
    }
    .dark-banner:hover .box-content-dark {
        opacity: 0;
    }
    .home3-blog-inner .inner-img a {
        margin: 0;
    }
    .home3-blog-inner .inner-img a.middle-zoom {
        margin: 0;
    }
    .home3-blog-inner:hover .inner-img a img {
        animation: 0s ease 0s normal none 1 running none;
    }
    /* home-4 */
    
    .main-banner-content {
        top: 10%;
    }
    /* home-5 */
    
    .home5-product {
        width: 50%;
    }
    /* home-6 */
    
    .home6-service-single {
        padding: 40px 0;
    }
    img.service-second {
        top: 20%;
    }
    .sm-mr-20 {
        margin-right: 20px;
    }
    .sm-ml-20 {
        margin-left: 20px;
    }
    .single-add-bottom {
        width: 68%;
    }
    .add-bottom-carousel-wraper {
        width: 32%;
    }
    /* 404error	*/
    
    .sm-ptb-70 {
        padding: 70px 0;
    }
    /* about-us	*/
    
    .custom-pr-none {
        padding-right: 15px;
    }
    .custom-pl-none {
        padding-left: 15px;
    }
    .single-about-content {
        padding: 42px 0 0;
    }
    .single-about-progress {
        margin: 40px auto;
    }
    /* blog	*/
    
    .small-ml-0 {
        margin-left: 0;
    }
    .small-mr-0 {
        margin-right: 0;
    }
    .blog-area .left-content {
        padding: 40px 30px 0;
    }
    /* compare */
    
    .comparison-button a.add {
        display: inline-block;
        float: left;
        margin-right: 4px;
        padding: 11px 0;
    }
    .comparison-button a.view {
        display: inline-block;
        float: left;
        padding: 12px 0;
    }
    .comparison-button a.add span {
        padding: 11px;
    }
    /* frequently-questions	*/
    
    .question-accordion .panel-title > a {
        font-size: 18px;
    }
    .question-accordion .panel-title > a.collapsed {
        font-size: 18px;
    }
    /* login */
    
    .form-single button {
        margin: 10px 0 32px;
    }
    .form-single-right button {
        margin: 15px 0 3px;
    }
    /* shop	*/
    
    .content-box-img {
        width: 100%;
        margin-bottom: 15px;
    }
    .content-box-text {
        margin-left: 0;
        width: 100%;
    }
    .content-box ul {
        padding-left: 0;
    }
    /* single-product */
    
    .expand-button {
        left: 27%;
    }
    .experi .date select.email,
    .input-one select.s-wid {
        width: 93%;
    }
    .Register.easy-res {
        margin-top: 20px;
    }
    .mb-18 {
        margin-bottom: 40px;
    }
    .sm-mb-18 {
        margin-bottom: 40px;
    }
    .middle-text h1 {
      font-size: 26px;
    }
    .content p.sm-none {
        display: none;
    }
    .sticky {
        padding: 14px 0;
    }
    .carosel-control .owl-controls .owl-buttons div.owl-next {
        right: 0px;
    }
    .carosel-control .owl-controls .owl-buttons div {
        left: 0;
    }
    .menu-style-2 .mainmenu nav ul li {
        padding: 0 12px;
    }
    .menu-style-2 .mainmenu nav ul {
        padding-top: 0;
    }
    .menu-style-2 .top-control {
        float: inherit;
        text-align: center;
        width: 100%;
        border-top: 1px solid #ddd;
        margin-top: 30px;
        padding-top: 35px;
    }
    .menu-style-2.sticky-light .top-control {
        display: none;
    }
    .logo-style-3 .top-control.dark {
        display: none;
    }
    .menu-style-3 .mainmenu nav ul li {
        padding: 0 3px;
    }
    .menu-style-3 .menu-toggle {
        margin-right: 15px;
    }
    .menu-toggle {
        margin-left: 15px;
    }
    .mainmenu nav ul li {
        padding: 0 9px;
    }
    li.settings {
        display: none;
    }
    .top-control li {
        margin-right: 20px;
    }
    .mainmenu nav ul {
        padding-top: 0;
    }
    .blog-area .left-content {
        padding: 40px 0 0;
    }
    .left-content.blog-res-sm-none {
        padding-top: 0;
    }
    .logo > a {
        font-size: 16px;
    }
    .fixed-header-light {
        padding-left: 0;
        padding-right: 0;
    }
    .slider-text > h2 {
  font-size: 29px;
}
.slider-area-five {
  padding: 300px 0;
}    
.slider-area-five.height-100vh {
  height: inherit;
}
.contact-us-info p {
  font-size: 12px;
}    
.contact-us-no span {
  padding: 27px 0;
}    
    
    
    
    
    
    
    
    
    
    
    
    
}
/* small mobile :320px. */

@media (max-width: 767px) {
    .container {
        width: 300px;
    }
    .sticky {
        display: none;
    }
    .mean-container .mean-bar {
        margin-bottom: 20px;
    }
    .about-img a::after {
        opacity: 1;
        transform: scale(1);
    }
    .slider-area {
        margin-bottom: 50px;
    }
    .small-ptb-30 {
        padding: 30px 0;
    }
    .small-pt-30 {
        padding-top: 30px;
    }
    .header-area {
        text-align: center;
    }
    .top-control {
        float: none;
        margin-top: 30px;
    }
    li.settings ul {
        right: -170px;
        z-index: 9999999;
    }
    .inner-form {
        right: -130px;
        z-index: 9999999;
    }
    .top-control li.cart ul {
        right: -106px;
    }
    .nivo-controlNav {
        bottom: 0;
        right: 20px;
    }
    .about-area {
        padding: 0;
    }
    .about-content {
        margin-left: 0;
    }
    .content {
        display: block;
        float: none;
        margin-left: 0;
        overflow: hidden;
        width: 100%;
    }
    .rotate {
        display: inline-block;
        margin-left: 0;
        margin-top: 0;
        position: relative;
        transform: none;
    }
    .learn-more {
        float: none;
        margin: 10px 0 0;
        width: 100%
    }
    .section-title p::after {
        background-position: center center;
        left: 0;
        width: 270px;
    }
    .testimonial-area .section-title p::after {
        background-position: center center;
        left: 0;
        width: 270px;
    }
    .main_wraper ul.promo li::after {
        display: none;
    }
    .carosel-control .owl-controls .owl-buttons div {
        left: 38%;
        opacity: 1;
        top: 0;
    }
    .carosel-control .owl-controls .owl-buttons div.owl-next {
        right: 38%;
    }
    .single-testimonial {
        padding: 0 20px;
    }
    .carosel-control-2 .owl-controls .owl-buttons div {
        display: none;
    }
    .small-mb-50 {
        margin-bottom: 50px;
    }
    .footer-banner img {
        margin-right: -4px;
        width: 100%;
    }
    .xs-mb-18 {
        margin-bottom: 18px;
    }
    .footer-content p {
        padding: 0 20px;
    }
    /* header-2 */
    
    .light-header-area {
        text-align: center;
    }
    .arrival-img {
        margin-top: 0;
    }
    .xs-pt-0 {
        padding-top: 0;
    }
    .arrival-img img {
        opacity: 1;
    }
    .new-arrivals .content {
        width: 95%;
    }
    .sticky-light {
        display: none;
    }
    /* home-3 */
    
    .fixed-header-light {
        position: static;
        text-align: center;
    }
    .fixed-sticky-light {
        display: none;
    }
    .greetings-content p {
        padding: 0;
    }
    .service-border {
        border: none;
    }
    .home3-single-service {
        padding: 10px;
    }
    .single-arraival .xs-mb-30 {
        margin-bottom: 30px;
    }
    .xs-mb-30 {
        margin-bottom: 30px;
    }
    .arraival-banner a:hover::before,
    .arraival-banner a:hover::after {
        opacity: 0;
    }
    .dark-banner:hover .box-content-dark {
        opacity: 0;
    }
    .home3-blog-inner .inner-img a {
        margin: 0;
    }
    .home3-blog-inner .inner-img a.middle-zoom {
        margin: 0;
    }
    .home3-blog-inner:hover .inner-img a img {
        animation: 0s ease 0s normal none 1 running none;
    }
    /* home-4 */
    
    .main-banner-left {
        margin-right: 0;
    }
    .main-banner-right {
        margin-left: 0;
    }
    .xs-mb-20 {
        margin-bottom: 20px;
    }
    /* home-5 */
    
    .home5-product {
        width: 100%;
    }
    /* home-6 */
    
    .xs-mb-22 {
        margin-bottom: 22px;
    }
    .home6-service-single {
        padding: 40px 0;
    }
    img.service-second {
        top: 20%;
    }
    .home6-service-single {
        margin: 10px 10px;
    }
    .single-add-bottom {
        width: 100%;
    }
    .add-bottom-carousel-wraper {
        width: 100%;
    }
    /* 404error	*/
    
    .xs-ptb-50 {
        padding: 50px 0;
    }
    .content-404 h2 {
        font-size: 24px;
        margin: 0px 0 20px;
    }
    .content-404 p {
        margin-bottom: 30px;
        padding: 0 10px;
    }
    .content-404 form {
        width: 70%;
    }
    /* about-us	*/
    
    .custom-pr-none {
        padding-right: 15px;
    }
    .custom-pl-none {
        padding-left: 15px;
    }
    .single-about-content {
        padding: 42px 0 0;
    }
    .single-about-progress {
        margin: 40px auto;
    }
    /* blog	*/
    
    .small-ml-0 {
        margin-left: 0;
    }
    .small-mr-0 {
        margin-right: 0;
    }
    /* blogdetails	*/
    
    .reply-area form .single {
        margin: 10px 0 20px;
        padding-right: 0;
        width: 100%;
    }
    /* compare */
    
    .social-compare {
        padding-top: 50px;
    }
    .compare-box table tr td a.v-comments span {
        display: inline-flex;
    }
    .compare-box table tr td a.v-comments span i {
        font-size: 14px;
        line-height: 19px;
    }
    /* frequently-questions	*/
    
    .question-accordion .panel-title > a {
        font-size: 16px;
        padding-right: 30px;
    }
    .question-accordion .panel-title > a.collapsed {
        font-size: 16px;
        padding-right: 30px;
    }
    /* login */
    
    .form-single input {
        width: 230px;
    }
    /* shop	*/
    
    .sort-by {
        display: block;
    }
    .control-bar ul.promo {
        display: block;
        margin-top: 15px;
        float: none;
    }
    .product-content-2 {
        margin-top: 20px;
        text-align: center;
    }
    .main-wraper-bottom {
        text-align: center;
    }
    span.item-quantity {
        display: block;
        margin-bottom: 30px;
    }
    .main-wraper-bottom .button {
        float: none;
    }
    /* shopping-cart */
    
    .buttons-cart {
        margin-top: 30px;
    }
    .cart_totals {
        text-align: left;
    }
    .cart_totals table {
        float: left;
    }
    .buttons-cart input {
        margin-bottom: 20px;
    }
    /* single-product */
    
    .expand-button {
        left: 26%;
    }
    .single-product-content {
        margin-top: 30px;
    }
    .author-info {
        margin-right: 10px;
        width: 35%;
    }
    .single-product-content .hook-reviews {
        margin-bottom: 10px;
    }
    .upper-icon i,
    .share i {
        height: 38px;
        margin-left: 3px;
        width: 38px;
    }
    .product-details-tab ul li a {
        padding: 10px 18px 10px 0;
    }
    .Register.easy-res {
        margin-top: 30px;
    }
    .easy {
        padding: 14px;
    }
    .block-button-right.agan {
        padding: 0 15px;
    }
    .block-button-right {
        padding-top: 10px;
    }
    #collapseSix .button2.get {
        float: right;
        margin-top: 8px;
    }
    .experi .date select.email {
        width: 87%;
    }
    .verificationcard {
        margin-bottom: 0;
    }
    .about-content h3 {
        font-size: 25px;
    }
    .new-arrivals h1 {
        font-size: 25px;
        margin: 0px 0 0;
    }
    .new-arrivals h1.price {
        margin: 10px 0;
    }
    .about-content p.title {
        margin-bottom: 0;
    }
    .section-title h3 {
        font-size: 21px;
    }
    .social-button a {
        margin: 0 10px 15px;
    }
    .blog-comment .ml-30 {
        margin-left: 0;
    }
    .contact-us-form form .single {
        width: 100%;
    }
    .contact-us-form form .single {
        float: left;
        margin: 15px 0;
        width: 100%;
    }
    .contact-us-form form .single.pr-30 {
        padding-right: 0;
    }
    .question-top h1 {
        font-size: 18px;
    }
    .middle-text p.title {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .middle-text h1 {
        display: none;
    }
    .middle-text p.pera-2 {
        display: none;
    }
    .about-img {
        margin-top: 20px;
    }
    .section-title h3 {
        font-size: 16px;
    }
    .section-title h3 {
        margin: 0 0 12px;
        padding-bottom: 20px;
    }
    .pb-85 {
        padding-bottom: 50px;
    }
    .about-bottom-left h2 {
        font-size: 18px;
        margin: 0 0 20px;
    }
    .ptb-100 {
        padding: 50px 0;
    }
    .single-testimonial {
        padding: 0;
    }
    .small-mb-50 {
        margin-bottom: 20px;
    }
    .single-text {
        margin-bottom: 40px;
    }
    .footer-icon .floatright {
        float: left;
        margin-top: 10px;
    }
    .ptb-90 {
        padding: 30px 0;
    }
    .services-3 {
        margin-bottom: 30px;
    }
    .timer span {
        height: 65px;
        width: 55px;
    }
    .product-content-text {
        margin-top: 30px;
    }
    .upcoming-area {
        padding: 50px 0;
    }
    .ptb-80 {
        padding: 50px 0;
    }
    .accessories-top {
        padding: 60px 0;
    }
    .inner-content h3 a {
        font-size: 15px;
    }
    .blog-res-sm {
        margin-top: 50px;
    }
    .blog-xs-res {
        margin-top: 50px;
    }
    .pt-80 {
        padding-top: 50px;
    }
    .accessories-hedding h2 {
        font-size: 22px;
    }
    .ptb-85 {
        padding: 50px 0;
    }
    .shop-margin-top {
        margin-top: 40px;
    }
    .slider-text > h2 {
        display: none;
    }
    .slider-text > p {
        display: none;
    }    
    .slider-area-five.height-100vh{
        height: inherit;
        padding: 150px 0;
        margin-bottom: 50px;
    } 
    .social-media {
        margin-top: 30px;
    }
    
    
    
    
    
    
    
}
/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }
    .about-img a::after {
        opacity: 1;
        transform: scale(1);
    }
    .section-title p::after {
        background-position: center center;
        left: 0%;
        width: 420px;
    }
    .testimonial-area .section-title p::after {
        background-position: center center;
        left: 0%;
        width: 420px;
    }
    .main_wraper ul.promo li {
        padding: 0 10px;
    }
    /* home-4 */
    
    .xs-large-m {
        margin: 0 10px;
    }
    .main-banner-content {
        top: 20%;
    }
    /* home-5 */
    
    .home5-product {
        width: 50%;
    }
    /* home-6 */
    
    .single-wraper .single-item {
        border-right: 1px solid #ddd;
    }
    /* frequently-questions	*/
    
    .question-accordion .panel-title > a {
        font-size: 18px;
    }
    .question-accordion .panel-title > a.collapsed {
        font-size: 18px;
    }
    /* shop	*/
    
    .sort-by {
        display: inline-block;
    }
    .control-bar ul.promo {
        display: inline-block;
        float: right;
        margin-top: 0;
    }
    .content-box-text {
        margin-left: 0;
        margin-top: 15px;
    }
    /* shopping-cart */
    
    .buttons-cart input {
        margin-bottom: 0;
    }
    /* single-product */
    
    .expand-button {
        left: 35%;
    }
    .author-info {
        width: 35%;
    }
    .single-product-content .hook-reviews {
        margin-bottom: 0;
    }
    .upper-icon i,
    .share i {
        height: 40px;
        margin-left: 8px;
        width: 40px;
    }
    .product-details-tab ul li a {
        padding: 10px 30px 10px 0;
    }
    .experi .date select.email {
        width: 92%;
    }
}