/*--
    11. Agents Css
----------------------------*/
.our-agents {
    background: #f1f1ff;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    
    & .agents-image {
        position: relative;
        & img {
            border-radius: 10px;
            width: 100%;
        }
        &::after {
            border-radius: 10px;
            content: "";
            position: absolute;
            background: #fff;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transform: scale(0);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
        & .agents-info {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            width: 100%;
            z-index: 2;
            visibility: hidden;
            opacity: 1;
            transition: all 0.3s ease-in-out;
            & h3 {
                color: $theme-color;
                margin-bottom: 10px;
            }
            & .agents-social {
                & ul {
                    & li {
                        display: inline-block;
                        & a {
                            display: block;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            border-radius: 5000pc;
                            text-align: center;
                            border: 1px solid #ddd;
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
    
    &:hover {
        & .agents-image {
            &::after {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }
            & .agents-info {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    
    & .agents-contents {
        padding-top: 22px;
        & h4 {
            font-weight: 600;
            margin-bottom: 0;
        }
    }
}

.agent-info-text {
    max-width: 520px;
    float: left;
    padding-right: 50px;
    position: relative;
    &::after {
        position:absolute;
        content: "";
        height: 260px;
        width: 1px;
        background: $theme-color-2;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    & .agent-name {
        color: $theme-color;
        font-size: 18px;
        font-weight: 500;
    }
    & h4 {
        font-weight: 600;
        color: $theme-color;
    }
    @media #{$desktop-device,$tablet-device}{
        max-width: 450px;
    }
    @media #{$large-mobile}{
        padding-right: 0px;
        &::after {
            display: none;
        }
    }
}
.agent-project-count {
    margin-top: 20px;
}
.agent-contact-info {
    float: left;
    padding-left: 50px;
    position: relative;
    @media #{$large-mobile}{
        padding-left: 0px;
        margin-top: 30px;
    }
}

.counter-2 {
    @media #{$small-mobile}{
        margin-bottom: 20px;
    }
    & p {
        color: $theme-color-2;
    }
}
.count-inner {
    & i {
        font-size: 36px;
        color: $theme-color;
    }
    & .counter-active-2 {
        font-weight: 600;
        color: $theme-color;
        font-size: 28px;
        padding-left: 10px;
    } 
}

.single-agent-details {
    padding: 40px 40px;
    @media #{$desktop-device}{
        padding: 0px 0px;
    }
    @media #{$tablet-device}{
        padding: 40px 0px;
    }
    @media #{$large-mobile}{
        padding: 30px 0 0 0;
    }
}
.single-contact-text {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    & h4 {
        font-weight: 600;
        color: $theme-color;
        margin-bottom: 10px;
    }
    & > a {
        display: block;
        margin-top: 3px;
        font-size: 16px;
    }
    
    & ul {
        & li {
            display: inline-block;
            margin-right: 10px;
            & a {
                display: block;
                width: 35px;
                height: 35px;
                line-height: 35px;
                border-radius: 500pc;
                border: 1px solid $theme-color;
                text-align: center;
                font-size: 12px;
                &:hover {
                    background: $theme-color;
                    color: $white;
                }
            }
        }
    }
}
.agent-contact-warp {
    & .title {
        & h3 {
            color: $theme-color;
            margin-bottom: 10px;
            font-weight: 600;
        }
    }
}
.single-wrok-experience {
    & h4 {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 600;
        color: $theme-color;
    }
}