/*--
    08. Service Css
---------------------*/

.service-item {
    & .icon, & .icon-two {
        width: 80px;
        background-color: $theme-color;
        border-radius: 0 0 50px 50px;
        padding: 50px 10px 10px;
        margin-right: 25px;
        float: left;
        & img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $white;
        }
        &-two {
            background-color: transparent;
            padding: 0px 0px 20px 0px;
            border-radius: 5000pc;
            margin-right: 15px;
            & img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: $white;
                border: 1px solid $theme-color;
            }
        }
    }
    
    & .content {
        overflow: hidden;
        & h3 {
            font-weight: 700;
            line-height: 1;
            margin-bottom: 15px;
            @media #{$small-mobile}{
                font-size: 20px;
            }
        }
        & p {
            max-width: 241px;
        }
    }
}