/*------------------------------
    Single Product Styles
-------------------------------*/

.active_thumb img {
    width: 100%;
}

.single_product_inner {
    h4 {
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 6px;
    }
    .price {
        span {
            font-size: 16px;
            &.new {
                border-bottom: 1px solid $heading-color;
                color: $theme-color;
                display: inline-block;
                font-size: 24px;
                margin-right: 10px;
                font-weight: 600;
            }
            &.old {
                text-decoration: line-through;
            }
        }
    }
    .rating {
        display: flex;
        list-style: outside none none;
        margin-bottom: 24px;
        margin-top: 8px;
        padding: 0;
        li {
            margin-right: 2px;
            i {
                color: $heading-color;
            }
        }
    }
    .pro_dtl {
        p {
            margin-bottom: 25px;
        }
    }
    .product_cart_action {
        display: flex;
        margin-top: 36px;
        & .cart_qun_inner {
            align-items: center;
            border: 1px solid #dddddd;
            display: flex;
            height: 38px;
            justify-content: center;
            line-height: 35px;
            padding: 0 20px;
            position: relative;
            margin-left: 30px;
            .pro-quantity {
                .pro-qty {
                    span {
                        &.qtybtn {
                            float: left;
                            padding: 0;
                        }
                    }
                }
                input {
                    background-color: transparent;
                    border: medium none;
                    float: left;
                    height: 33px;
                    line-height: 33px;
                    padding: 0;
                    text-align: center;
                    width: 28px;
                }
            }
        }
        & .cart_list {
            display: flex;
            justify-content: center;
            list-style: outside none none;
            margin: 0 -2px;
            padding: 0;
            li {
                margin: 0 2px;
                a {
                    background: $heading-color none repeat scroll 0 0;
                    color: #fff;
                    display: block;
                    font-size: 14px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    transition: all 0.5s ease 0s;
                    width: 36px;
                    &:hover {
                        opacity: 0.7;
                    }
                }
                &.shopping_basket {
                    a {
                        padding: 0 16px;
                        text-transform: uppercase;
                        width: auto;
                    }
                }
            }
        }
    }
}

.big_img_container .tab-pane:not(.active) {
    display: none;
}

.sm_roduct_nav {
    border: 0 none;
    justify-content: space-between;
    margin: 0 -8px;
    a {
        display: block;
        flex-basis: 20%;
        padding: 16px 8px 0;
        img {
            width: 100%;
        }
    }
    @media #{$sm-layout} {
        justify-content: inherit;
    }
}

.product_share {
    align-items: center;
    display: flex;
    margin-top: 60px;
    ul {
        &.social_share {
            display: flex;
            list-style: outside none none;
            margin: 0;
            padding: 0;
            li {
                margin-left: 15px;
                a {
                    color: #fff;
                    display: block;
                    font-size: 15px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    transition: all 0.5s ease 0s;
                    width: 30px;
                }
            }
        }
    }
    @media #{$sm-layout} {
        margin-top: 30px;
    }
}

.cart_qun_inner {
    span {
        color: #050505;
        font-size: 16px;
        padding-right: 12px;
    }
    .cart-plus-minus {
        position: relative;
        input {
            border: 0 none;
            text-align: center;
            width: 70px;
            outline: none;
        }
    }
}

// Description
.single_review_content.tab-pane:not(.active) {
    display: none;
}

.product_review {
    padding-top: 95px;
    .description_nav {
        -moz-box-pack: center;
        border: 0 none;
        justify-content: center;
        text-align: center;
        a {
            border-bottom: 2px solid transparent;
            color: #777777;
            font-family: $heading-font;
            font-size: 20px;
            font-weight: 500;
            padding: 10px 20px;
            &.active,
            &:hover {
                border-bottom: 2px solid #191919;
                color: #000000;
            }
        }
    }
    & .single_review_content {
        border: 1px solid #f5f5f5;
        margin-top: 9px;
        padding: 40px;
        p {
            font-size: 15px;
            line-height: 30px;
            margin: 0 auto;
            padding: 0 8%;
            text-align: center;
        }
        .rating {
            display: flex;
            list-style: outside none none;
            margin-bottom: 24px;
            margin-top: 8px;
            padding: 0;
            li {
                margin-right: 2px;
                i {
                    color: $heading-color;
                }
            }
        }
        .classs__review__inner {
            h4 {
                color: #000;
                font-weight: 400;
                text-transform: uppercase;
            }
            p {
                margin-bottom: 10px;
                margin-top: 5px;
                padding: 0;
                text-align: left;
            }
            span {
                font-weight: 400;
            }
            .input__box {
                span {
                    display: block;
                    font-weight: 500;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                }
                input {
                    border: 1px solid #eeeeee;
                    border-radius: 5px;
                    height: 50px;
                    outline: medium none;
                    width: 100%;
                }
                textarea {
                    background: #fff none repeat scroll 0 0;
                    border: 1px solid #eeeeee;
                    border-radius: 5px;
                    min-height: 200px;
                    padding: 10px;
                    width: 100%;
                }
                &+.input__box {
                    margin-top: 15px;
                }
            }
            .submit__btn {
                a {
                    background-color: #252525;
                    color: #ffffff;
                    display: inline-block;
                    font-weight: 600;
                    height: 45px;
                    line-height: 45px;
                    margin-top: 30px;
                    padding: 0 20px;
                    transition: all 0.3s ease-in-out 0s;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    @media #{$sm-layout} {
        padding-top: 55px;
    }
}

// Responsive Layout
@media #{$laptop-device} {
    .big_img_container .big_img img {
        width: 100%;
    }
}

@media #{$lg-layout} {
    .big_img_container .big_img img {
        width: 100%;
    }
    .sm_roduct_nav a {
        flex-basis: 20%;
    }
    .single_product_inner .pro_ration {
        margin-bottom: 11px;
    }
    .single_product_inner .pro_dtl p {
        margin-bottom: 10px;
    }
    .product_share {
        margin-top: 29px;
    }
}

@media #{$md-layout} {
    .big_img_container .big_img img {
        width: 100%;
    }
    .single_product_inner {
        margin-top: 30px;
    }
    .product_review .description_nav a {
        font-size: 20px;
    }
}

@media #{$sm-layout} {
    .big_img_container .big_img img {
        width: 100%;
    }
    .single_product_inner {
        margin-top: 30px;
    }
    .product_review .description_nav a {
        font-size: 16px;
    }
}

@media #{$large-mobile} {
    .product_review .description_nav a {
        padding: 0 9px;
    }
    .single_product_inner .product_cart_action {
        display: block;
    }
    .single_product_inner .product_cart_action .cart_qun_inner {
        margin-top: 30px;
    }
}

@media #{$small-mobile} {
    .product_review .description_nav a {
        border-left: 1px solid transparent;
        margin-bottom: 15px;
        display: inline-block;
    }
    .product_review .description_nav {
        border-color: #ecefea #ecefea #efefef;
        border-style: solid;
        border-width: 1px;
        padding: 10px 0;
    }
    .product_review .description_nav a:last-child {
        border-right: 1px solid transparent;
    }
    .sm_roduct_nav a {
        flex-basis: 33.33%;
    }
    .product_review .single_review_content {
        padding: 26px 9px;
    }
    .product_review .single_review_content p {
        font-size: 14px;
        line-height: 25px;
        padding: 0 10px;
    }
}