/*

Template:  Erctor html5 template
Author: Hastech
Version: 1
Design and Developed by: Hastech

Note: This is Short code style file. All Short code related style
included in this file. 

*/

@import url("header.css");
@import url("slider.css");
