.slide-content .btn:hover {
    background: #f8d6cc none repeat scroll 0 0;
    border: 2px solid #f8d6cc;
}
.about-content h2 span, .single-case-info h3:hover a, .best-services-area.services-page .service-content h3 a, .main-menu > ul > li > ul.submenu > li:hover > a{  
    color: #f8d6cc;
}
blockquote {
    border-left: 5px solid #f8d6cc;
}
.business-button a::before, .widget-search button:hover {
    background: #f8d6cc;
}
.client-img img {
  border: 2px solid #f8d6cc;
}
.business-button a:hover, .header-bg{
    border: 1px solid #f8d6cc;
}
.news-heffect::before, .news-heffect::after {
    background: rgba(248, 214, 204, 0.5);
}
.case-study-area.study-page .single-case-info h3:hover a{
    color: #f8d6cc;
}
.info-icon, .header-bg, .main-menu ul li ul.submenu.megamenu ul li:hover > a{
    background: #f8d6cc;
}
#contact-form > button {
    background: #f8d6cc;
}
.section-title h2 span{
    color: #f8d6cc;
}
.checkout-step h5 {
    background: #f8d6cc none repeat scroll 0 0;
}
#accordion:before {
    border-left: 1px dashed #f8d6cc;
}
.footer-bottom > p.pull-left > a {
    color: #f8d6cc;
}
.footer-widget input[type="submit"]{
    background-color: #f8d6cc;
}
.news-content h3:hover a{
    color: #f8d6cc;
}
.widget-title > h2 > span {
    color: #f8d6cc;
}
ul.widget-tag li:hover > a, ul.widget-tag li.active > a{
    background: #f8d6cc;
    border: 1px solid #f8d6cc;
}
.post-wid-content h3:hover a{
    color: #f8d6cc;
}
.footer-icons ul li:hover i, .footer-icons ul li.active i{
    background: #f8d6cc;
}
.main-menu ul li ul.submenu li:hover > a{color:#f8d6cc}
.footer-widget h3 span, .service-content h3:hover a{
    color: #f8d6cc;
}
#mc-submit, #search-form > button, #scrollUp{
    background: #f8d6cc;
}
.footer-widget ul li:hover{
    color: #f8d6cc;
}
.table-body > button{
    border: 1px solid #f8d6cc;
}
.table-body > button:hover{
    border: 1px solid #f8d6cc;
    background: #f8d6cc;
}
.best-services-area.services-page .service-content a h3{color: #f8d6cc}
.service-content a h3:hover{
    color: #f8d6cc;
}
.solution-content h5{
    color: #f8d6cc;
}
ul.member-social-icon li:hover a, .footer-bottom p a{
    color: #f8d6cc;
}
.testimonial-owl .owl-controls .owl-nav div:hover, .hvr-bounce-to-right::before {
    background: #f8d6cc;
}
.checkout-step span.no::after {
    background: #faa78f none repeat scroll 0 0;
}
.white-hover::before {
    background: rgba(248, 214, 204, 0.83);
}
