.slide-content .btn:hover {
    background: #f9b5ba none repeat scroll 0 0;
    border: 2px solid #f9b5ba;
}
.about-content h2 span, .single-case-info h3:hover a, .best-services-area.services-page .service-content h3 a, .main-menu > ul > li > ul.submenu > li:hover > a{  
    color: #f9b5ba;
}
blockquote {
    border-left: 5px solid #f9b5ba;
}
.client-img img {
  border: 2px solid #f9b5ba;
}
.business-button a::before, .widget-search button:hover {
    background: #f9b5ba;
}
.news-heffect::before, .news-heffect::after {
    background: rgba(249, 181, 186, 0.5);
}
.business-button a:hover, .header-bg{
    border: 1px solid #f9b5ba;
}
.case-study-area.study-page .single-case-info h3:hover a{
    color: #f9b5ba;
}
.info-icon, .header-bg, .main-menu ul li ul.submenu.megamenu ul li:hover > a{
    background: #f9b5ba;
}
#contact-form > button {
    background: #f9b5ba;
}
.section-title h2 span{
    color: #f9b5ba;
}
.checkout-step h5 {
    background: #f9b5ba none repeat scroll 0 0;
}
#accordion:before {
    border-left: 1px dashed #f9b5ba;
}
.footer-bottom > p.pull-left > a {
    color: #f9b5ba;
}
.footer-widget input[type="submit"]{
    background-color: #f9b5ba;
}
.news-content h3:hover a{
    color: #f9b5ba;
}
.widget-title > h2 > span {
    color: #f9b5ba;
}
ul.widget-tag li:hover > a, ul.widget-tag li.active > a{
    background: #f9b5ba;
    border: 1px solid #f9b5ba;
}
.post-wid-content h3:hover a{
    color: #f9b5ba;
}
.footer-icons ul li:hover i, .footer-icons ul li.active i{
    background: #f9b5ba;
}
/*
.header-bg{
    background: #49BABF none repeat scroll 0 0;
    border: 1px solid #47adb2;
}
*/
.main-menu ul li ul.submenu li:hover > a{color:#f9b5ba}

.footer-widget h3 span, .service-content h3:hover a{
    color: #f9b5ba;
}
#mc-submit, #search-form > button, #scrollUp{
    background: #f9b5ba;
}
.footer-widget ul li:hover{
    color: #f9b5ba;
}
.table-body > button{
    border: 1px solid #f9b5ba;
}
.table-body > button:hover{
    border: 1px solid #f9b5ba;
    background: #f9b5ba;
}
.best-services-area.services-page .service-content a h3{color: #f9b5ba}
.service-content a h3:hover{
    color: #f9b5ba;
}
.solution-content h5{
    color: #f9b5ba;
}
ul.member-social-icon li:hover a, .footer-bottom p a{
    color: #f9b5ba;
}
.testimonial-owl .owl-controls .owl-nav div:hover, .hvr-bounce-to-right::before {
    background: #f9b5ba;
}
.checkout-step span.no::after {
    background: #d38389 none repeat scroll 0 0;
}
.white-hover::before {
    background: rgba(249, 181, 186, 0.8);
}
