/* ====================================
	
	Template: Moto - App Landing Page
	Css Name: Import Css
	Version: 1.1
	Design and Developed by: Hastech

====================================== */

@import url("default.css");