<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>404 - Jobfinder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- CSS -->
    <!-- Bootstrap CSS
	============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS
	============================================ -->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Plugins CSS
	============================================ -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Style CSS
	============================================ -->
    <link rel="stylesheet" href="style.css">
    <!-- Modernizer JS
	============================================ -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!-- Body main wrapper start -->
<div class="wrapper fix">

<!-- Header Area Start -->
<div class="header-area section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Logo -->
                <div class="header-logo float-left"><a class="logo" href="index.html"><img src="img/logo.png" alt=""></a></div>
                <!-- Members login -->
                <div class="members-login float-right">
                    <a href="#" class="login">login</a>
                    <span>or</span>
                    <a href="#" class="signup">sign up</a>
                </div>
                <!-- Main Menu -->
                <div id="main-menu" class="main-menu float-right hidden-xs">
                    <nav>
                        <ul>
                            <li><a href="index.html">home</a>
                                <ul>
                                    <li><a href="index.html">home (Default Slider)</a></li>
                                    <li><a href="index-2.html">home 2 (BG Image)</a></li>
                                    <li><a href="index-3.html">home 3 (BG Video)</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">about</a></li>
                            <li><a href="jobs.html">jobs</a>
                                <ul>
                                    <li><a href="jobs.html">jobs</a></li>
                                    <li><a href="job-details.html">job details</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">blog</a>
                                <ul>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                </ul>
                            </li>
                            <li class="active"><a href="#">pages</a>
                                <ul>
                                    <li class="active"><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Mobile Menu -->
                <div class="mobile-menu hidden-lg hidden-md"></div>
            </div>
        </div>
    </div>
</div>
<!-- Header Area End -->

<!-- Page Banner Area Start -->
<div class="page-banner-area section overlay">
    <div class="container">
        <div class="row">
            <div class="page-banner text-center col-xs-12">
                <h2>404 page</h2>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">404</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->

<!-- Contact Area Start -->
<div class="error-404-area section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="wrapper-404 text-center col-xs-12">
                <img src="img/404.png" alt="">
                <h1>404</h1>
                <h2>Page Not Found</h2>
            </div>
        </div>
    </div>
</div>
<!-- Contact Area End -->

<!-- Footer Top Area Start -->
<div class="footer-top-area section bg-dark pt-100 pb-50">
    <div class="container">
        <div class="row">
            <!-- Footer Widget -->
            <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 mb-50">
                <div class="footer-widget">
                    <h3>About Us</h3>
                    <p>There are many vations of passages of LoIpsable, but the majority have suffered altetion in soform, by injected ur, or randomised words which don't look even slightly believable</p>
                    <a href="#" class="read-more btn">read more</a>
                </div>
            </div>
            <!-- Footer Widget -->
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-50">
                <div class="footer-widget">
                    <h3>Helpful links</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Affiliate</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Terms $ Conditions</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer Widget -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-50">
                <div class="footer-widget pl">
                    <h3>Tranding Jobs</h3>
                    <ul>
                        <li><a href="#">Designer</a></li>
                        <li><a href="#">Develpoer</a></li>
                        <li><a href="#">iOS developer</a></li>
                        <li><a href="#">Designer</a></li>
                        <li><a href="#">Develpoer</a></li>
                        <li><a href="#">iOS developer</a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer Widget -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-50">
                <div class="footer-widget">
                    <h3>Newsletter</h3>
                    <div class="newsletter-form">
                        <form id="mc-form" class="mc-form" >
                            <input id="mc-email" type="email" autocomplete="off" placeholder="Your email address" />
                            <button id="mc-submit"><i class="zmdi zmdi-mail-send"></i></button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div><!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Top Area End -->

<!-- Footer Bottom Area Start -->
<div class="footer-bottom-area section">
    <div class="container">
        <div class="row">
            <div class="copyright text-center col-xs-12">
                <p>Copyright&copy; <span>jobfinder</span> 2016.All right reserved.Created by <a href="http://hastech.company/">HasTech</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom Area End -->


</div>
<!-- Body main wrapper end -->

<!-- JS -->

<!-- jQuery JS
============================================ -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap JS
============================================ -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins JS
============================================ -->
<script src="js/plugins.js"></script>
<!-- Ajax Mail JS
============================================ -->
<script src="js/ajax-mail.js"></script>
<!-- Main JS
============================================ -->
<script src="js/main.js"></script>
</body>

</html>