/*----------------------------------------*/
/*  07. Pricing CSS
/*----------------------------------------*/
.single-pricing-table {
  text-align: center;
  background-color: #f0ffea;
  padding: 30px; }
