// Counterup Area
.counterup_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 170px;
    .container {
        @media #{$md-layout} {
            padding-top: 38px;
        }
        @media #{$sm-layout} {
            padding-top: 38px;
        }
    }
    @media #{$sm-layout} {
        padding: 0;
    }
    @media #{$md-layout} {
        padding: 0;
    }
    @media #{$small-mobile} {
        flex-wrap: wrap;
    }
    @media #{$lg-layout} {
        padding: 0px;
    }
    .single_counter {
        text-align: center;
        @media #{$small-mobile} {
            flex-basis: 50%;
            margin-top: 21px;
        }
        .count {
            color: #ffffff;
            font-family: $heading-font;
            font-size: 35px;
            font-weight: 600;
        }
        h5 {
            color: #d8d8d8;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: 15px;
            @media #{$sm-layout} {
                font-size: 20px;
                margin-top: 5px;
            }
            @media #{$large-mobile} {
                font-size: 16px;
                margin-top: 5px;
            }
        }
    }
    .single_counter.mrg-none {
        margin-top: 0px;
    }
}

.instagram_list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    margin-bottom: -9px;
}

.box_layout {
    .counterup_wrapper {
        padding: 0 114px;
        @media #{$lg-layout} {
            padding: 0
        }
        @media #{$md-layout} {
            padding: 0;
        }
        @media #{$sm-layout} {
            padding: 0;
        }
    }
}