<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Panora – Modern Blog Html5 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/icon.png">
	<!-- Google font (font-family: 'Raleway', sans-serif; 'Lato', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="style.css">

	<!-- Cusom css -->
	<link rel="stylesheet" href="css/custom.css">

	<!-- Modernizer js -->
	<script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Start Header Area -->
		<header class="header pr__header header--three var--2">
            <!-- Start Header Top -->
            <div class="pr__header__top bg--cart-1">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-md-9 d-none d-lg-block">
                            <nav class="mainmenu__nav">
                                <ul class="mainmenu">
                                    <li class="drop"><a href="index.html">Home</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home Version 01</a></li>
                                            <li><a href="index-2.html">Home Version 02</a></li>
                                            <li><a href="index-3.html">Home Version 03</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">about me</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li class="drop"><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="blog.html">Blog page</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="faq.html">faq Page</a></li>
                                            <li><a href="error404.html">404 Page</a></li>
                                            <li><a href="contact.html">Contact US</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                            <div class="search__trigger">
                                <a class="search__active" href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row  d-none">
                        <div class="col-lg-12">
                            <nav class="mobilemenu__nav">
                                <ul>
                                    <li><a href="index.html">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home Version 01</a></li>
                                            <li><a href="index-2.html">Home Version 02</a></li>
                                            <li><a href="index-3.html">Home Version 03</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">about me</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="blog.html">Blog page</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="faq.html">faq Page</a></li>
                                            <li><a href="error404.html">404 Page</a></li>
                                            <li><a href="contact.html">Contact US</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="mobile-menu d-block d-lg-none"></div>
                    <!-- Mobile Menu -->
                </div>
            </div>
            <!-- End Header Top -->
            <!-- Start Logo -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="logo text-center">
                            <a href="index.html"><img src="images/logo/1.png" alt="panora logo"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Logo -->
        </header>
        <!-- End Header Area -->
        <!-- Start Search Popup -->
        <div class="box-search-content search_active block-bg close__top">
            <form id="search_mini_form" class="minisearch" action="#">
                <div class="field__search">
                    <input type="text" placeholder="Search entire store here...">
                    <div class="action">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </form>
            <div class="close__wrap">
                <span>close</span>
            </div>
        </div>
        <!-- End Search Popup -->
        <!-- Start Slider Area -->
        <div class="slider__area slider--3">
            <div class="slide__activation--3 owl-carousel owl-theme">
                <!-- Start Single Slide -->
                <div class="slide slider__fixed--height slider-image--1">
                    <div class="slide__content">
                        <span>fashion</span>
                        <h1>the top 10 trends of the season</h1>
                        <ul>
                            <li>Posted by<a href="#"> Vefio Themes</a></li>
                            <li class="separator">|</li>
                            <li>On May 21, 2016</li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Slide -->
                <!-- Start Single Slide -->
                <div class="slide slider__fixed--height slider-image--2">
                    <div class="slide__content">
                        <span>fashion</span>
                        <h1>the top 10 trends of the season</h1>
                        <ul>
                            <li>Posted by<a href="#"> Vefio Themes</a></li>
                            <li class="separator">|</li>
                            <li>On May 21, 2016</li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Slide -->
                <!-- Start Single Slide -->
                <div class="slide slider__fixed--height slider-image--3">
                    <div class="slide__content">
                        <span>fashion</span>
                        <h1>the top 10 trends of the season</h1>
                        <ul>
                            <li>Posted by<a href="#"> Vefio Themes</a></li>
                            <li class="separator">|</li>
                            <li>On May 21, 2016</li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Slide -->
                <!-- Start Single Slide -->
                <div class="slide slider__fixed--height slider-image--4">
                    <div class="slide__content">
                        <span>fashion</span>
                        <h1>the top 10 trends of the season</h1>
                        <ul>
                            <li>Posted by<a href="#"> Vefio Themes</a></li>
                            <li class="separator">|</li>
                            <li>On May 21, 2016</li>
                        </ul>
                    </div>
                </div>
                <!-- End Single Slide -->
            </div>
        </div>
        <!-- End Slider Area -->
        <!-- Start Blog Area -->
        <div class="pnora__blog__area ptb--60 bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <!-- Start Single Blog -->
                        <article class="blog">
                        	<div class="title">
                        		<span>fashion</span>
                        		<h4><a href="blog-details.html"> Dressing for them can be significantly less so.</a></h4>
                        		<ul>
                        			<li>Posted by <a href="#">Hastech Limited</a></li>
                        			<li>On May 21, 2018</li>
                        		</ul>
                        	</div>
                        	<div class="thumb">
                        		<a href="blog-details.html"><img src="images/blog/big-img/8.jpg" alt="panora blog"></a>
                        	</div>
                        	<div class="content">
                        		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio . Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
                        		<p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        	</div>
                        	<div class="blog__btn">
                        		<a class="pr__btn" href="blog-details.html">+ read more</a>
                        	</div>
                        	<div class="blog__footer">
                        		<div class="share">
                        			<p>share</p>
                        			<ul>
                        				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        			</ul>
                        		</div>
                        		<div class="blog__comment">
                        			<p><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Comments <span>0</span></a></p>
                        		</div>
                        	</div>
                        </article>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <article class="blog mt--50">
                        	<div class="title">
                        		<span>fashion</span>
                        		<h4><a href="blog-details.html"> Dressing for them can be significantly less so.</a></h4>
                        		<ul>
                        			<li>Posted by <a href="#">Hastech Limited</a></li>
                        			<li>On May 21, 2018</li>
                        		</ul>
                        	</div>
                        	<div class="thumb with--video video--2 embed-responsive embed-responsive-16by9">
                        		<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/169976596"></iframe>
                        	</div>
                        	<div class="content">
                        		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio . Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
                        		<p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        	</div>
                        	<div class="blog__btn">
                        		<a class="pr__btn" href="blog-details.html">+ read more</a>
                        	</div>
                        	<div class="blog__footer">
                        		<div class="share">
                        			<p>share</p>
                        			<ul>
                        				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        			</ul>
                        		</div>
                        		<div class="blog__comment">
                        			<p><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Comments <span>0</span></a></p>
                        		</div>
                        	</div>
                        </article>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <article class="blog mt--50">
                        	<div class="title">
                        		<span>fashion</span>
                        		<h4><a href="blog-details.html"> Dressing for them can be significantly less so.</a></h4>
                        		<ul>
                        			<li>Posted by <a href="#">Hastech Limited</a></li>
                        			<li>On May 21, 2018</li>
                        		</ul>
                        	</div>
                        	<div class="thumb">
								<a href="#"><img src="images/blog/big-img/9.jpg" alt="panora blog"></a>
                        	</div>
                        	<div class="content">
                        		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio . Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
                        		<p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        	</div>
                        	<div class="blog__btn">
                        		<a class="pr__btn" href="blog-details.html">+ read more</a>
                        	</div>
                        	<div class="blog__footer">
                        		<div class="share">
                        			<p>share</p>
                        			<ul>
                        				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        			</ul>
                        		</div>
                        		<div class="blog__comment">
                        			<p><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Comments <span>0</span></a></p>
                        		</div>
                        	</div>
                        </article>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <article class="blog mt--50">
                        	<div class="title">
                        		<span>fashion</span>
                        		<h4><a href="blog-details.html"> Dressing for them can be significantly less so.</a></h4>
                        		<ul>
                        			<li>Posted by <a href="#">Hastech Limited</a></li>
                        			<li>On May 21, 2018</li>
                        		</ul>
                        	</div>
                        	<div class="thumb with--audio">
                        		<iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/177133821&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                        	</div>
                        	<div class="content">
                        		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio . Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
                        		<p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        	</div>
                        	<div class="blog__btn">
                        		<a class="pr__btn" href="blog-details.html">+ read more</a>
                        	</div>
                        	<div class="blog__footer">
                        		<div class="share">
                        			<p>share</p>
                        			<ul>
                        				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        			</ul>
                        		</div>
                        		<div class="blog__comment">
                        			<p><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Comments <span>0</span></a></p>
                        		</div>
                        	</div>
                        </article>
                        <!-- End Single Blog -->
                        <!-- Start Banner Area -->
                        <div class="pn__banner__area mt--50">
                            <a href="#">
                                <img src="images/bg/4.jpg" alt="panora blog">
                            </a>
                        </div>
                        <!-- End Banner Area -->
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-12 md-mt--60 sm-mt--60">
						<div class="pr__sidebar">
							<!-- Start Email Area -->
							<div class="single__wedget pn__email">
								<h2>follow by email</h2>
								<div class="input__box">
									<input type="text" placeholder="Email Address">
									<button>subscrible</button>
								</div>
							</div>
							<!-- End Email Area -->

							<!-- Start POpular Post Area -->
							<div class="single__wedget popular__post">
								<h2>popular post</h2>
								<ul>
									<li>
										<div class="thumn"><img src="images/blog/sm-img/1.jpg" alt="blog post"></div>
										<div class="content">
											<h4><a href="blog-details.html">Dressing for them can be significantly.</a></h4>
											<span>On May 21, 2018</span>
										</div>
									</li>
									<li>
										<div class="thumn"><img src="images/blog/sm-img/2.jpg" alt="blog post"></div>
										<div class="content">
											<h4><a href="blog-details.html">Dressing for them can be significantly.</a></h4>
											<span>On May 21, 2018</span>
										</div>
									</li>
									<li>
										<div class="thumn"><img src="images/blog/sm-img/3.jpg" alt="blog post"></div>
										<div class="content">
											<h4><a href="blog-details.html">Dressing for them can be significantly.</a></h4>
											<span>On May 21, 2018</span>
										</div>
									</li>
									<li>
										<div class="thumn"><img src="images/blog/sm-img/4.jpg" alt="blog post"></div>
										<div class="content">
											<h4><a href="blog-details.html">Dressing for them can be significantly.</a></h4>
											<span>On May 21, 2018</span>
										</div>
									</li>
									<li>
										<div class="thumn"><img src="images/blog/sm-img/5.jpg" alt="blog post"></div>
										<div class="content">
											<h4><a href="blog-details.html">Dressing for them can be significantly.</a></h4>
											<span>On May 21, 2018</span>
										</div>
									</li>
								</ul>
							</div>
							<!-- End POpular Post Area -->

							<!-- Start Instagram Area -->
							<div class="single__wedget instagram">
								<h2>instagram</h2>
								<ul class="instagram__activation instagram--activation owl-carousel owl-theme">
									<li>
										<div class="thumb">
											<a href="#"><img src="images/blog/banner/1.jpg" alt="panora images"></a>
										</div>
										<div class="content">
											<h6><a href="#">blogger’s name</a></h6>
										</div>
									</li>
									<li>
										<div class="thumb">
											<a href="#"><img src="images/blog/banner/2.jpg" alt="panora images"></a>
										</div>
										<div class="content">
											<h6><a href="#">blogger’s name</a></h6>
										</div>
									</li>
									<li>
										<div class="thumb">
											<a href="#"><img src="images/blog/banner/3.jpg" alt="panora images"></a>
										</div>
										<div class="content">
											<h6><a href="#">blogger’s name</a></h6>
										</div>
									</li>
									<li>
										<div class="thumb">
											<a href="#"><img src="images/blog/banner/4.jpg" alt="panora images"></a>
										</div>
										<div class="content">
											<h6><a href="#">blogger’s name</a></h6>
										</div>
									</li>
								</ul>
							</div>
							<!-- End Instagram Area -->
							<!-- Start Category Area -->
							<div class="single__wedget pr__catrgory">
								<h2>categories</h2>
								<ul class="pn__cat__list">
									<li><a href="#">Trending (3)</a></li>
									<li><a href="#">Fashion (4)</a></li>
									<li><a href="#">Fashionista (10)</a></li>
									<li><a href="#">Clothing (9)</a></li>
									<li><a href="#">Beauty (7)</a></li>
									<li><a href="#">Culture (15)</a></li>
									<li><a href="#">Lifestyle (12)</a></li>
								</ul>
							</div>
							<!-- End Category Area -->
							<!-- Start Facebook Area -->
							<div class="single__wedget pr__facebok">
                                <h2>find us on facebook</h2>
                                <div class="facebook__banner">
                                    <div class="fb-page" data-href="https://www.facebook.com/devitems/" data-width="340" data-hide-cover="false" data-show-facepile="true"></div>
                                </div>
                            </div>
							<!-- End Facebook Area -->
							<!-- Start Search Area -->
							<div class="single__wedget pr__search">
								<h2>search</h2>
								<div class="input__box">
									<input type="text">
									<button>SEARCH</button>
								</div>
							</div>
							<!-- End Search Area -->
							<!-- Start Archive Area -->
							<div class="single__wedget pr__archive">
								<h2>archives</h2>
								<div class="archive__warpper">
									<select>
										<option>Select month</option>
										<option>January</option>
										<option>January</option>
										<option>January</option>
									</select>
								</div>
							</div>
							<!-- End Archive Area -->
							<!-- Start Tag Area -->
							<div class="single__wedget pr__tag">
								<h2>tag clounds</h2>
								<ul class="taglist">
									<li><a href="#">Fashion</a></li>
									<li><a href="#">Trending</a></li>
									<li><a href="#">Hair</a></li>
									<li><a href="#">Art</a></li>
									<li><a href="#">Liftstyle</a></li>
									<li><a href="#">Travelling</a></li>
									<li><a href="#">Fashion</a></li>
									<li><a href="#">Makeup</a></li>
								</ul>
							</div>
							<!-- End Tag Area -->
							<!-- Start Post Area -->
							<div class="single__wedget pr__post">
								<h2>recent posts</h2>

								<div class="recent__post single__post">
									<div class="thumb">
										<a href="blog-details.html"><img src="images/blog/post/b1.jpg" alt="panora blog"></a>
									</div>
									<div class="content">
										<h4><a href="blog-details.html">Chocolate cake gummies candy canes cotton candy gingerbread marshmallow ...</a></h4>
										<span>On May 21, 2018</span>
									</div>
								</div>
								<div class="sm__post__wrap">

									<div class="recent__post">
										<div class="thumb">
											<a href="blog-details.html"><img src="images/blog/post/s1.jpg" alt="panora blog"></a>
										</div>
										<div class="content">
											<h4><a href="blog-details.html">Dressing for them can be significantly.</a></h4>
											<span>On May 21, 2018</span>
										</div>
									</div>

									<div class="recent__post">
										<div class="thumb">
											<a href="blog-details.html"><img src="images/blog/post/s2.jpg" alt="panora blog"></a>
										</div>
										<div class="content">
											<h4><a href="blog-details.html">Beautiful Woman Smiling With Hands In Hair</a></h4>
											<span>On May 21, 2018</span>
										</div>
									</div>

									<div class="recent__post">
										<div class="thumb">
											<a href="blog-details.html"><img src="images/blog/post/s3.jpg" alt="panora blog"></a>
										</div>
										<div class="content">
											<h4><a href="blog-details.html">My Adventure in Alps, One of The Heighest Mountains!</a></h4>
											<span>On May 21, 2018</span>
										</div>
									</div>

									<div class="recent__post">
										<div class="thumb">
											<a href="blog-details.html"><img src="images/blog/post/s4.jpg" alt="panora blog"></a>
										</div>
										<div class="content">
											<h4><a href="blog-details.html">Stylish Kitchen And Dining Room With Functional Ideas</a></h4>
											<span>On May 21, 2018</span>
										</div>
									</div>

								</div>

							</div>
							<!-- End Post Area -->


						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- End Blog Area -->

		<!-- Start Footer ARea -->
		<footer class="panora__footer">
            <div class="bg--cart-1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="blog__cat">
                                <li><a href="#">categories</a></li>
                                <li><a href="#">fashion</a></li>
                                <li><a href="#">lifestyle</a></li>
                                <li><a href="#">beauty</a></li>
                                <li><a href="#">contact</a></li>
                                <li><a href="#">archives</a></li>
                            </ul>
                            <ul class="pn-sociable-default"> 
                                <li>
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-tumblr"></i></a>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">tumblr</a></h6>
                                        <span>100</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-rss"></i></a>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">rss</a></h6>
                                        <span>100</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">twitter</a></h6>
                                        <span>100</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">google plus</a></h6>
                                        <span>100</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">facebook</a></h6>
                                        <span>100</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                    </div>
                                    <div class="content">
                                        <h6><a href="#">youtube</a></h6>
                                        <span>100</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Instagram Area -->
            <div class="panora__instagram">
                <ul class="instagram__list owl-carousel owl-theme">
                    <li><a href="#"><img src="images/instagram/1.jpg" alt="panora blog"></a></li>
                    <li><a href="#"><img src="images/instagram/2.jpg" alt="panora blog"></a></li>
                    <li><a href="#"><img src="images/instagram/3.jpg" alt="panora blog"></a></li>
                    <li><a href="#"><img src="images/instagram/4.jpg" alt="panora blog"></a></li>
                    <li><a href="#"><img src="images/instagram/5.jpg" alt="panora blog"></a></li>
                    <li><a href="#"><img src="images/instagram/6.jpg" alt="panora blog"></a></li>
                </ul>
                <div class="instagram__title">
                    <h2>Follow Us On instagram</h2>
                </div>
            </div>
            <!-- End Instagram Area -->
            <!-- Copyright Area -->
            <div class="copyright__area bg--white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12 col-sm-6">
                            <div class="ft__left">
                                <p>Copyright © Panora. All Rights Reserved</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 col-sm-6">
                            <div class="ft__right">
                                <p>Design With Love By Hastech</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copyright Area -->
        </footer>
		<!-- End Footer ARea -->

	</div>
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/active.js"></script>
        <script>
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
</body>

</html>