/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

/*-- Google Font --*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700,800');

/*-- Common Style --*/
*, *::after, *::before {
  box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    background-color: $body-color;
    line-height: 28px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    font-family: $opensans;
    color: $dark;
}
h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    font-family: $opensans;
    font-weight: 400;
    margin-top: 0;
}
h1 {
    font-size: 58px;
    line-height: 1;
    font-weight: 700;
}
h2 {
    font-size: 30px;
    line-height: 36px;
}
h3 {
    font-size: 24px;
    line-height: 30px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
}
h5 {
    font-size: 14px;
    line-height: 18px;
}
h6 {
    font-size: 12px;
    line-height: 14px;
}
p:last-child {
    margin-bottom: 0;
}
p{
    font-family: $opensans;
}
a, button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
a, button, img, input, span {
    transition: all 0.3s ease 0s;
}
*:focus {
    outline: none !important;
}
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: $theme-color;
}
button, input[type="submit"] {
    cursor: pointer;
}
img {max-width:100%;height:auto}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*-- 
    - Common Classes
-----------------------------------------*/
.fix {
    overflow:hidden
}
.hidden {
    display: none;
}
.clear{
    clear: both;
}
@media #{$large-mobile}{
    .container {
        width: 450px;
    }
}
@media #{$small-mobile}{
    .container {
        width: 320px;
    }
}

.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
    margin: 0;
}

/*-- 
    - Background color
-----------------------------------------*/
.bg-white {
    background-color: $white;
}
.bg-light-grey {
    background-color: $light-grey;
}
.bg-dark {
    background-color: $dark;
}
.bg-grey {
    background-color: #f6f6f6;
}
.bluewood-bg {
    background: #354b65;
}
.bg-color-two {
    background: $theme-color-two;
}
.color-two {
    color: $theme-color-two;
}

/*- Overlay Color BG -*/

.bluewood-bg-overlay {
    position: relative;
    &::before {
        background: rgba(70, 90, 112, 0.9);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.overly-bg-black {
    position: relative;
    &::before {
        background: rgba(0, 0, 0, 0.3);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
/*-- 
    - color
-----------------------------------------*/
.c-blue {
    color: $theme-color;
}

/*-- 
    - Input Placeholder
-----------------------------------------*/
input:-moz-placeholder, textarea:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*-- 
    Scroll Up 
-----------------------------------------*/
#scrollUp {
    width: 40px;
    height: 40px;
    background-color: $theme-color;
    color: $white;
    right: 20px;
    bottom: 60px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    @media #{$large-mobile}{
        display: none !important;
    }
    & i {
        display: block;
        line-height: 40px;
        font-size: 24px;
    }
    &:hover i {
        animation-name: fadeInUp;
        animation-duration:1s;
        animation-fill-mode:both;
        animation-iteration-count: infinite;
    }
}

/*-- 
    - Main Wrapper
-----------------------------------------*/
.main-wrapper {
    &.header-transparent {
        padding: 0 !important;
        margin: 0 !important;
    }
}
/*-- 
    - Section Padding
-------------------------------------*/
// Padding Top Bottom 
.section-ptb {
    padding: 110px 0;
    
    @media #{$desktop-device} {
        padding: 90px 0;
    }
    @media #{$tablet-device} {
        padding: 80px 0;
    }
    @media #{$large-mobile} {
        padding: 70px 0;
    }
    @media #{$small-mobile} {
        padding: 60px 0;
    }
}
// Section Padding Top
.section-pt {
    padding-top: 110px;
    
    @media #{$desktop-device} {
        padding-top: 90px;
    }
    @media #{$tablet-device} {
        padding-top: 80px;
    }
    @media #{$large-mobile} {
        padding-top: 70px;
    }
    @media #{$small-mobile} {
        padding-top: 60px;
    }
}
.section-pt-100 {
    padding-top: 100px;
    
    @media #{$desktop-device} {
        padding-top: 70px;
    }
    @media #{$tablet-device} {
        padding-top: 50px;
    }
    @media #{$large-mobile} {
        padding-top: 40px;
    }
    @media #{$small-mobile} {
        padding-top: 30px;
    }
}
.section-pt-80 {
    padding-top: 80px;
    
    @media #{$desktop-device} {
        padding-top: 60px;
    }
    @media #{$tablet-device} {
        padding-top: 40px;
    }
    @media #{$large-mobile} {
        padding-top: 40px;
    }
    @media #{$small-mobile} {
        padding-top: 30px;
    }
}
.section-pb-80 {
    padding-bottom: 80px;
    
    @media #{$desktop-device} {
        padding-bottom: 60px;
    }
    @media #{$tablet-device} {
        padding-bottom: 40px;
    }
    @media #{$large-mobile} {
        padding-bottom: 40px;
    }
    @media #{$small-mobile} {
        padding-bottom: 30px;
    }
}
// Section Padding Bottom
.section-pb {
    padding-bottom: 110px;
    
    @media #{$desktop-device} {
        padding-bottom: 90px;
    }
    @media #{$tablet-device} {
        padding-bottom: 80px;
    }
    @media #{$large-mobile} {
        padding-bottom: 70px;
    }
    @media #{$small-mobile} {
        padding-bottom: 60px;
    }
}
.section-pb-100 {
    padding-bottom: 100px;
    
    @media #{$desktop-device} {
        padding-bottom: 70px;
    }
    @media #{$tablet-device} {
        padding-bottom: 50px;
    }
    @media #{$large-mobile} {
        padding-bottom: 40px;
    }
    @media #{$small-mobile} {
        padding-bottom: 30px;
    }
}
/*-- Margin top --*/
@for $i from 1 through 25 {
    .mt--#{5 * $i} {
        margin-top: 5px *$i;
    }
}

/*-- Margin Bottom --*/
@for $i from 1 through 25 {
    .mb--#{5 * $i} {
        margin-bottom: 5px *$i;
    }
}

/*-- padding top --*/
@for $i from 1 through 25 {
    .pt--#{5 * $i} {
        padding-top: 5px *$i;
    }
}

/*-- padding Bottom --*/
@for $i from 1 through 25 {
    .pb--#{5 * $i} {
        padding-bottom: 5px *$i;
    }
}
