/* ====================================
	
	Template: Shopzone
	Css Name: Sortcode
	Version: 1
	Design and Developed by:Shopzone Theme
	NOTE: This is Footer style file. All footer related style included in this file.

====================================== */

@import url("default.css");
@import url("header.css");
@import url("menu.css");
@import url("slider.css");