/* Laptop Scrren :1170px. */
@media (min-width: 1170px) and (max-width: 1400px) {
.main-menu {
  width: 830px;
}
.slider-1 h1 {
  font-size: 70px;
  margin: 25px 0 55px;
}
.preview .nivoSlider .nivo-directionNav a.nivo-prevNav {
  left: 190px;
}
.preview .nivoSlider .nivo-directionNav a.nivo-nextNav {
  right: 190px;
}
.social-icon-right,.social-icon-left {
  margin-right: 80px;
}
.adds-content > h3 {
  font-size: 25pt;
  line-height: 48px;
}
.adds-content h2 {
  font-size: 36pt;
  margin: 0 0 40px;
}
.offer-box {
  height: 140px;
  margin: 40px auto 0;
  padding: 45px 0;
  width: 140px;
}
.offer-box h3 {
  font-size: 32pt;
  line-height: 25px;
}
.offer-box span {
  font-size: 24pt;
}
.middle-content > h1 {
  font-size: 26pt;
  margin: 0 0 20px;
}
.middle-content > h2 {
  font-size: 38pt;
}
.middle-content > h3 {
  font-size: 26pt;
  line-height: 55px;
}
.instragam-content {
  padding-top: 60px;
}
.instragam-content > h3 {
  margin-bottom: 55px;
}
.testimonial-area .owl-prev {
  left: -57px;
}
.testimonial-area .owl-next {
  right: -57px;
}
.newsletter-area .container-fluid {
  padding-left: 90px;
  padding-right: 90px;
}
.middle-single.mb-30 {
  margin-bottom: 21px;
}
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.main-menu ul > li > a {
  padding: 27px 10px;
}
.nivo-caption {
  top: 15%;
}
.slider-1 h2 {
  font-size: 26px;
}
.slider-1 h1 {
  font-size: 62px;
  margin: 30px 0 55px;
}
.preview .nivoSlider .nivo-directionNav a.nivo-prevNav {
  left: 195px;
}
.preview .nivoSlider .nivo-directionNav a.nivo-nextNav {
  right: 195px;
}
.deal-month-right {
  margin-left: 0;
}
.adds-content > h3 {
  font-size: 22pt;
  line-height: 48px;
}
.adds-content h2 {
  font-size: 34pt;
  margin: 0 0 40px;
}
.offer-box {
  display: none;
}
.offer-box h3 {
  font-size: 32pt;
  line-height: 25px;
}
.offer-box span {
  font-size: 24pt;
}
.middle-content > h1 {
  font-size: 24pt;
  margin: 0 0 15px;
}
.middle-content > h2 {
  font-size: 34pt;
}
.middle-content > h3 {
  font-size: 24pt;
  line-height: 50px;
}
.social-icon-left {
  margin-left: 50px;
}
.social-icon-right {
  margin-right: 30px;
}
.instragam-content {
  padding-top: 25px;
}
.instragam-content > h3 {
  margin-bottom: 40px;
}
.subcribe-newsletter button {
  width: 195px;
}
.blog-content {
  padding: 26px 0 27px 25px;
}
.single-service h4 {
  font-size: 17pt;
}
.testimonial-area .owl-prev {
  left: -25px;
}
.testimonial-area .owl-next {
  right: -25px;
}
.contact-social ul li a {
  font-size: 12pt;
  height: 35px;
  line-height: 35px;
  margin-right: 2px;
  width: 35px;
}
.newsletter-area .container-fluid {
  padding-left: 80px;
  padding-right: 80px;
}
.hover-content ul {
  margin: 40px auto;
}
.style-two .hover-content ul {
  top: 20%;
}
ul.color-widget li {
  margin-right: 20px;
}
ul.size-widget li a {
  margin-right: -1px;
  width: 40px;
}
.snglepro-content > h3 {
  font-size: 30pt;
}
.singlepro-left .owl-theme .owl-nav {
  top: 25px;
}
.input-content .inc.qtybutton, .input-content .dec.qtybutton,.input-content input.cart-plus-minus-box,.input-content .inc.qtybutton, .input-content .dec.qtybutton {
  width: 10%;
}
.singlepro-right {
  padding-left: 45px;
}
.new-arrival-single img {
  float: none;
  margin-right: 0;
}
.arrival-content, .new-arrival-single {
  padding-top: 12px;
}
.blog .blog-left-single .blog-content {
  padding: 38px 0 38px 25px;
}
.new-arrival-single:nth-child(3),.new-arrival-single:nth-child(4) {
  display: none;
}
.price-slider-amount > input[type="text"] {
  margin-left: 0px;
  width: 120px;
}
.sngle-pro-socl ul li a {
  font-size: 14pt;
}
.p-details-tab ul li a {
  font-size: 16pt;
}
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.main-menu {
  width: 100%;
}
.logo-area {
  padding: 20px 0;
}
.menu-area {
  margin-top: 0;
}
.nivo-caption {
  display: none !important;
}
.deal-month-right {
  margin-left: 0;
}
.cdown{
  margin-top:10px;
  width:50px;
  height:50px;
  font-size:16px;
  font-weight:600;
}
.cdown.days, .cdown.hour, .cdown.minutes, .cdown.second{margin-left:5px;margin-right:5px;}
.main-content > h2 {
  font-size: 32px;
}
.hover-content ul {
  margin: 105px auto;
}
.top-sale-month-area .owl-theme .owl-nav {
  top: -100px;
}
.adds-content > h3 {
  font-size: 25pt;
  line-height: 55px;
}
.adds-content h2 {
  font-size: 34pt;
}
.offer-box {
  display: none;
}
.newsletter-area .container-fluid {
  padding-left: 45px;
  padding-right: 45px;
}
.instragam-content {
  padding-top: 70px;
}
.instragam-content > h3 {
  margin-bottom: 85px;
}
.blog-content {
  padding: 62px 0 61px 30px;
}
.blg-img > img {
  width: 100%;
}
.blog-right-single .blg-img {
  float: none;
}
.res-mb-30{margin-bottom:30px;}
.client-content h5 {
  width: 50%;
}
.testimonial-area .owl-prev {
  left: -15px;
}
.testimonial-area .owl-next {
  right: -15px;
}
.contact-social ul li a {
  font-size: 12pt;
  height: 35px;
  line-height: 35px;
  margin-right: 2px;
  width: 35px;
}
.preview .nivoSlider .nivo-directionNav a.nivo-prevNav {
  left: 10px;
}
.preview .nivoSlider .nivo-directionNav a.nivo-nextNav {
  right: 60px;
}
.preview .nivo-directionNav a.nivo-prevNav::before, .preview .nivo-directionNav a.nivo-nextNav::before {
  font: 400 36px/35px FontAwesome;
  height: 45px;
  margin-top: 80px;
  width: 45px;
}
.sorting {
  display: none;
}
.single-img img {
  width: 100%;
}
.new-arrival-area {
  padding-bottom: 25px;
}
.simpleLens-lens-element{display: none;}
.simpleLens-big-image {
  width: 100%;
}
.singlepro-left .owl-theme .owl-nav {
  top: 60px;
}
.singlepro-right {
  padding-left: 0;
  padding-top: 50px;
}
.p-details-tab ul li a {
  font-size: 14pt;
  margin-right: 15px;
}
#description > p, #cutomer > p {
  font-size: 13pt;
}
.review-right {
  margin-top: 20px;
}
.input-content .inc.qtybutton, .input-content .dec.qtybutton,.input-content input.cart-plus-minus-box,.input-content .inc.qtybutton, .input-content .dec.qtybutton {
  width: 5%;
}
.singlepro-right {
  padding-left: 45px;
}
.about_img {
  margin-bottom: 30px;
}
.blog .blog-content {
  padding: 50px 0 50px 30px;
}
.your-order {
  margin-bottom: 30px;
}
.testimonial-area .owl-theme .owl-nav {
  top: 44%;
}
.about_img img {
  width: 100%;
}
.shop-right {
  padding-top: 0;
}
.singlepro-right {
  padding-left: 0;
}
.cate-content {
  padding-top: 35%;
}
.cate-content h6 {
  font-size: 15px;
}
.cate-content > a {
  padding: 8px 20px;
}
.banner-content h1 {
  margin-bottom: 50px;
  margin-top:50px;
}
.res-mb-0{margin:0;}
.product-filter {
  margin-bottom: 40px;
}
.shop-left {
  padding: 0;
}
.shop .shop-left,.shop .shop-right {
  padding-top: 35px;
}
.res-tb-25{padding-top:20px;}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.mobile-menu-area {
  display: block;
}
.main-menu {
  display: none;
}
.menu-area {
  margin-top: 0;
}
.nivo-caption {
  display: none !important;
}
.logo-area {
  padding: 20px 0 0;
}
.mobile-menu-area {
  margin-top: -16px;
}
.mobile-menu-area.two{margin-top: 0px;}
.preview .nivoSlider .nivo-directionNav a.nivo-prevNav {
  left: 10px;
}
.preview .nivoSlider .nivo-directionNav a.nivo-nextNav {
  right: 60px;
}
.preview .nivo-directionNav a.nivo-prevNav::before,.preview .nivo-directionNav a.nivo-nextNav::before {
  font: 400 36px/35px FontAwesome;
  height: 45px;
  width: 45px;
}
.res-mb-sm-30{margin-bottom:30px;}
.res-mb-25{margin-bottom:25px;}
.cate-bnr-sngle:hover .cate-content {
  padding-top: 35px;
}
.section-titel::after {
  width: 325px;
}
.deal-month-right {
  margin-left: 0px;
}
.deal-btn .titel {
  float: none;
}
.main-content > h2 {
  font-size: 28px;
  line-height: 32px;
}
.top-sale-month-area .owl-theme .owl-nav {
  top: -85px;
}
.offer-box {
  display: none;
}
.adds-content > h3 {
  font-size: 24pt;
  line-height: 50px;
}
.adds-content h2 {
  font-size: 36pt;
}
.tab-menu.section-titel::after {
  width: 280px;
}
.tab-menu ul li a {
  font-size: 17px;
  margin-right: 8px;
}
.newsletter-area .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
.subcribe-newsletter button {
  height: 50px;
  margin-top: 20px;
  position: inherit;
  width: 180px;
}
.instragam-content {
  padding-top: 65px;
}
.instragam-content > h3 {
  margin-bottom: 100px;
}
.sin-text > p {
  width: 100%;
}
.client-area .owl-prev {
  left: 10px;
}
.client-area .owl-next {
  right: 10px;
}
.client-content h5::before,.client-content h5::after {
  display: none;
}
.client-content h5 {
  font-size: 10pt;
}
.testimonial-area .owl-prev {
  left: -20px;
}
.testimonial-area .owl-next {
  right: -20px;
}
.testimonial-area .owl-theme .owl-nav {
  top: 20%;
}
.footer-bottom-area img {
  float: right;
  padding: 0 0 15px;
}
.service-top > h4 {
  line-height: 34px;
}
.banner-area {
  padding-top: 65px;
}
.nav-menu-grid {
  float: none;
  text-align: center;
  width: 100%;
}
.show-more {
  float: none;
  margin-bottom: 15px;
  width: 100%;
}
.sorting {
  display: block;
  float: right;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}
.show-more h6 {
  font-size: 12pt;
  margin: 15px 0;
}
.blog-img {
  float: none;
  margin-bottom: 20px;
  margin-right: 0;
}
.blog-img > img {
  width: 100%;
}
.shop-left {
  padding-bottom: 45px;
}
.new-arrival-area {
  padding-bottom: 0;
}
.pro-titel, .pro-social-cart ul {
  float: left;
  margin-bottom: 25px;
  width: 100%;
}
.pro-rate, .pro-cart {
  float: none;
  text-align: left;
}
.simpleLens-lens-element{display: none;}
.singlepro-left .owl-theme .owl-nav {
  top: 16px;
}
.singlepro-right {
  padding-left: 0;
  padding-top: 50px;
}
.p-details-tab ul li a {
  font-size: 12pt;
  margin-right: 12px;
  padding: 10px 0;
}
#description > p, #cutomer > p {
  font-size: 13pt;
}
.review-right {
  margin-top: 20px;
}
.input-content .inc.qtybutton, .input-content .dec.qtybutton,.input-content input.cart-plus-minus-box,.input-content .inc.qtybutton, .input-content .dec.qtybutton {
  width: 15%;
}
.tab-content {
  margin-top: 20px;
}
.snglepro-content > h3 {
  font-size: 24pt;
  margin: 10px 0 23px;
}
.other-page .mobile-menu-area {
  margin-top: 0;
}
.res-blog-mt-50{margin-top:50px;}
.cart_totals {
  float: none;
  text-align: left;
}
.buttons-cart input, .coupon input[type="submit"], .buttons-cart a, .coupon-info p.form-row input[type="submit"] {
  margin-bottom: 20px;
}
.your-order {
  margin-bottom: 30px;
}
.modal-product .product-images .main-image {
  float: none;
  margin-bottom: 30px;
  width: 100%;
}
.modal-product .product-info {
  float: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
}
p.checkout-coupon input[type="submit"] {
  margin-left: 0;
  margin-top: 15px;
}
.cate-bnr-sngle:hover .cate-content {
  padding-top: 92px;
}
.cate-content h6 {
  font-size: 15px;
}
.cate-content > a {
  padding: 8px 20px;
}
.res-logo-sm{display:none;}
.preview .nivo-directionNav a.nivo-prevNav::before, .preview .nivo-directionNav a.nivo-nextNav::before {
  display: none;
}
.sm-m-0{margin:0;}
.sm-p-0{padding:0;}
.blog-left-single:hover .blg-img > a, .blog-right-single:hover .blg-img > a {
  top: 23%;
}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.cate-bnr-sngle > img,.single-img img{
  width: 100%;
}
.sin-text > p {
  padding: 0 10px;
}
.cate-bnr-sngle:hover .cate-content {
  padding-top: 160px;
}
.cdown{
  margin-top:10px;
  width:50px;
  height:50px;
  font-size:16px;
  font-weight:600;
}
.cdown.days, .cdown.hour, .cdown.minutes, .cdown.second{margin-left:10px;margin-right:10px;}
.hover-content ul {
  margin: 145px auto;
}
.adds-content > h3 {
  font-size: 30pt;
}
.instragam-content {
  padding-top: 120px;
}
.blog-left-single .blg-img {
  float: none;
}
.blog-left-single .blg-img > img {
  width:100%;
}
.footer-bottom-area p {
  text-align: center;
}
.footer-bottom-area img {
  display: block;
  float: none;
  margin: 0 auto;
  padding: 0 0 15px;
}
.show-more h6 {
  margin: 0 15px 10px 0;
}
.singlepro-left .owl-theme .owl-nav {
  top: 40px;
}
.buttons-cart input, .coupon input[type="submit"], .buttons-cart a, .coupon-info p.form-row input[type="submit"] {
  margin-bottom: 0px;
}
.preview .nivo-directionNav a.nivo-prevNav::before, .preview .nivo-directionNav a.nivo-nextNav::before {
  display: block;
}
.single-adds > img {
  width: 100%;
}
.instragam-content > h3 {
  margin-bottom: 155px;
}
.page-pagination {
  padding-top: 25px;
}
.shop .shop-left,.shop .shop-right {
  padding-top: 35px;
}
}