<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home || Cluster</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Favicon Icon -->
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet"> 
		
		<!-- All css here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/meanmenu.css">
        <link rel="stylesheet" href="css/material-design-iconic-font.css">
        <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/shortcode/shortcodes.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
		<!-- Header Area Start -->
		<header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                        <div class="logo">
                            <a href="index.html"><img src="img/logo/logo.png" alt="CLUSTER" /></a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-9 col-xs-12">
                        <div class="main-menu text-right">
                            <nav>
                                <ul>       
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="blog-grid.html">Blog</a>
                                        <ul>
                                            <li><a href="blog-list.html">Blog List</a></li>
                                            <li><a href="blog-list-sidebar.html">Blog List Sidebar</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="portfolio.html">portfolio</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="#">pages</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Blog Grid</a>
                                            <li><a href="blog-list.html">Blog List</a></li>
                                            <li><a href="blog-list-sidebar.html">Blog List Sidebar</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="portfolio.html">portfolio</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="contact.html">contact us</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">contact us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md"></div>
                    </div>
                </div>
            </div>
		</header>
		<!-- Header Area End -->
		<!-- Slider Area Start -->
		<div class="slider-area">
		    <div class="slider-wrapper">
                <!-- Slide One Start-->
		        <div class="single-slide slide-one" style="background-image: url('img/slider/1.jpg');">
                    <div class="headphone hidden-xs">
                        <img src="img/slider/2.png" alt="">
                    </div>
                    <div class="banner-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                                    <div class="text-content-wrapper text-center">
                                        <div class="text-content">
                                            <h2>be the first to choose</h2>
                                            <h1 class="cd-headline scale letters">we are creative degital
                                                <span class="cd-words-wrapper">
                                                    <b class="is-visible rotate"> agency</b>
                                                    <b class=" rotate">office</b>
                                                </span>
                                            </h1>
                                            <div class="banner-btn">
                                                <a class="default-btn" href="about.html">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cup hidden-xs">
                        <img src="img/slider/3.png" alt="">
                    </div>
		        </div>
                <!-- Slide One End-->
                <!-- Slide Two Start-->
		        <div class="single-slide slide-two" style="background-image: url('img/slider/2.jpg');">
                    <div class="coffee hidden-xs">
                        <img src="img/slider/5.png" alt="">
                    </div>
                    <div class="banner-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                                    <div class="text-content-wrapper text-center">
                                        <div class="text-content">
                                            <h2>be the first to choose</h2>
                                            <h1 class="cd-headline scale letters">we are creative degital
                                                <span class="cd-words-wrapper">
                                                    <b class="is-visible rotate"> agency</b>
                                                    <b class=" rotate">office</b>
                                                </span>
                                            </h1>
                                            <div class="banner-btn">
                                                <a class="default-btn" href="about.html">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bag hidden-xs">
                        <img src="img/slider/4.png" alt="">
                    </div>
		        </div>
                <!-- Slide Two End-->
                <!-- Slide Three Start-->
		        <div class="single-slide slide-three" style="background-image: url('img/slider/3.jpg');">
                    <div class="banner-content overlay-dark-blue">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                                    <div class="text-content-wrapper text-center">
                                        <div class="text-content">
                                            <h2>be the first to choose</h2>
                                            <h1 class="cd-headline scale letters">we are creative degital
                                                <span class="cd-words-wrapper">
                                                    <b class="is-visible rotate"> agency</b>
                                                    <b class=" rotate">office</b>
                                                </span>
                                            </h1>
                                            <div class="banner-btn">
                                                <a class="default-btn" href="about.html">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
		        </div>
                <!-- Slide Three End-->
		    </div>
		</div>
		<!-- Slider Area End -->
        <!-- Service Area Start -->
        <section class="service-area pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service">
                            <span class="service-icon">
                                <i class="zmdi zmdi-settings"></i>
                            </span>
                            <h4>Easy To Customize</h4>
                            <p>Lorem ipsum dolor sit amet, consectenisi ut aliquip ex ent adip mci velit, sed quia non numquam eius modi tempora incidunt.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service">
                            <span class="service-icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </span>
                            <h4>User Friendly</h4>
                            <p>Lorem ipsum dolor sit amet, consectenisi ut aliquip ex ent adip mci velit, sed quia non numquam eius modi tempora incidunt.</p>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm">
                        <div class="single-service">
                            <span class="service-icon">
                                <i class="zmdi zmdi-desktop-windows"></i>
                            </span>
                            <h4>Business Style Device</h4>
                            <p>Lorem ipsum dolor sit amet, consectenisi ut aliquip ex ent adip mci velit, sed quia non numquam eius modi tempora incidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Area End -->
        <!-- Feature Area Start -->
        <div class="feature-area bg-light-1 pt-100 pb-75">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature-image">
                            <img src="img/banner/1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-text">
                            <h5>clean &amp; sharp design</h5>
                            <h1>Easy To Customize</h1>
                            <h1>For All Device</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuste orncididunt utmi labore et dolore magna aliqua. Ut enim ad minim veniam,  niostru exercia tionullamcon laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorinreprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. sint occaecat cupidatat non proident, sunt in culpa qui qui</p>
                            <a class="default-btn" href="about.html">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature Area End -->
        <!-- Portfolio Area Start -->
        <div class="portfolio-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-10">
                        <div class="section-title">
                            <h1>Our Portfolio Mode</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="portfolio-menu">
							<button class="active" data-filter="*">view all</button>
							<button data-filter=".graphic">graphic design</button>
							<button data-filter=".corporate">Corporate</button>
							<button data-filter=".web">web design</button>
							<button data-filter=".apps">app design</button>
						</div>	
					</div>
				</div>	
				<div class="row portfolio-custom-row">
					<div class="grid">
						<div class="col-md-6 col-sm-6 col-xs-12 grid-item web">
                            <div class="portfolio hover-style">
                                <a href="portfolio-details.html"><img src="img/portfolio/1.jpg" alt="" /></a>
                                <div class="gallery-hover-effect">
                                    <a class="gallery-icon img-popup" href="img/portfolio/1.jpg">
                                        <i class="zmdi zmdi-zoom-in"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 grid-item apps corporate">
                            <div class="portfolio hover-style">
                                <a href="portfolio-details.html"><img src="img/portfolio/2.jpg" alt="" /></a>
                                <div class="gallery-hover-effect">
                                    <a class="gallery-icon img-popup" href="img/portfolio/2.jpg">
                                        <i class="zmdi zmdi-zoom-in"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 grid-item graphic corporate">
                            <div class="portfolio hover-style">
                                <a href="portfolio-details.html"><img src="img/portfolio/3.jpg" alt="" /></a>
                                <div class="gallery-hover-effect">
                                    <a class="gallery-icon img-popup" href="img/portfolio/3.jpg">
                                        <i class="zmdi zmdi-zoom-in"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 grid-item apps web">
                            <div class="portfolio hover-style">
                                <a href="portfolio-details.html"><img src="img/portfolio/4.jpg" alt="" /></a>
                                <div class="gallery-hover-effect">
                                    <a class="gallery-icon img-popup" href="img/portfolio/4.jpg">
                                        <i class="zmdi zmdi-zoom-in"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>	
				</div>	
            </div>
        </div>
        <!-- Portfolio Area End -->
        <!-- Testimonial Area Start -->
        <div class="testimonial-area pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11 col-md-12">
                        <div class="testimonial-carousel">
                            <div class="single-testimonial">
                                <div class="testimonial-image">
                                    <img src="img/testimonial/1.png" alt="">
                                </div>
                                <div class="testimonial-text">
                                    <p><span>“</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eium wod empor incididunt ut laborlaborum. Sed ut perspiciatis unde omnis iste natus error sieos qui ratio.<span>”</span></p>
                                    <h4>Miles Max</h4>
                                    <h5>Sketch Designer</h5>
                                </div>
                            </div>
                            <div class="single-testimonial">
                                <div class="testimonial-image">
                                    <img src="img/testimonial/2.png" alt="">
                                </div>
                                <div class="testimonial-text">
                                    <p><span>“</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eium wod empor incididunt ut laborlaborum. Sed ut perspiciatis unde omnis iste natus error sieos qui ratio.<span>”</span></p>
                                    <h4>Kenneth Bentley</h4>
                                    <h5>Web Designer</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial Area End -->
        <!-- Video Area Start -->
        <div class="video-area bg-1 overlay-dark-6">
            <div class="video-wrapper">
                <div class="video-text">
                    <h1>See Our Featured Videos</h1>
                    <h3>We all are work togather to make the batter change of uture </h3>
                    <a class="video-popup" href="https://www.youtube.com/watch?v=5DsT2TGss7s">
                        <i class="zmdi zmdi-play"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Video Area End -->
        <!-- Client Area Start -->
        <div class="client-area ptb-90">
            <div class="container">
                <div class="row">
                    <div class="client-carousel">
                        <div class="single-carousel">
                            <div class="client-image">
                                <span><img src="img/client/1.png" alt=""></span>
                            </div>
                        </div>
                        <div class="single-carousel">
                            <div class="client-image">
                                <span><img src="img/client/2.png" alt=""></span>
                            </div>
                        </div>
                        <div class="single-carousel">
                            <div class="client-image">
                                <span><img src="img/client/3.png" alt=""></span>
                            </div>
                        </div>
                        <div class="single-carousel">
                            <div class="client-image">
                                <span><img src="img/client/4.png" alt=""></span>
                            </div>
                        </div>
                        <div class="single-carousel">
                            <div class="client-image">
                                <span><img src="img/client/5.png" alt=""></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Client Area End -->
        <!-- Footer Area Start -->
        <footer class="footer-area bg-7 overlay-6">
            <div class="footer-info-area bg-light-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <div class="footer-logo">
                                <a href="index.html"><img src="img/logo/footer-logo.png" alt="CLUSTER"></a>
                            </div>
                            <p>Purchase now  to get this Versatile them contents to promote your corporate agency</p>
                            <a href="about.html" class="default-btn">Learn More</a>
                            <div class="social-links">
                                <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="https://plus.google.com/"><i class="zmdi zmdi-google-plus"></i></a>
                                <a href="https://www.linkedin.com/"><i class="zmdi zmdi-linkedin"></i></a>
                                <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                                <a href="https://www.instagram.com/"><i class="zmdi zmdi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-text-area fix ptb-20 bg-light-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-text text-center">
                                <span>Copyright &copy; 2017 <a href="https://devitems.com/">DevItems LLC</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->
       
		<!-- All js here -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/animated-headlines.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>	
        <script src="js/jquery.meanmenu.js"></script>
        <script src="js/jquery.magnific-popup.js"></script>
        <script src="js/ajax-mail.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script> 
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
