/*****************************
00. Global CSS
*****************************/

//===== Colors =====//
 
$body-color: #666666;
$primary-color: #c2080f;
$heading-color: #111111;


//===== Font Family =====//

$body-font: 'Poppins', sans-serif;
$font-2: 'Roboto', sans-serif;
$font-3: 'Open Sans', sans-serif;

//==== Font size =====//
$body-font-size: 16px;

//==== Line height ====//

$line-height: 1.75;

//==== Border Color ====//

$border-color: #eeeeee;


//==== Color =====//
$color-white:    	   #ffffff;
$color-white-dark:     #f6f6f6;
$color-light:    	   #999999; 
$color-dark:     	   #333333; 
$color-black:    	   #000000; 
$color-blue:     	   #122c57;
$color-blue-2:     	   #3d72c9;
$color-copper:     	   #b87333;
$color-old-rose:   	   #c18775;
$color-yellow:         #ffe11b;
$color-red:            #c2080f;
$color-red-2:          #c4181d;
$color-pink:           #f7a4c7;
$color-pink-2:         #f178ba;
$color-blue:           #82b0fb;
$color-green:          #4cbb6c;
$color-gray:           #f5f5f5;
$color-gray-2:         #707070;
$color-gray-3:         #454541;
$color-sand:           #f6f6f6;
$color-abbey:          #52595F;
$color-alto:           #dddddd;
$color-brown:          #c48a72;
$color-cholate:        #4f1310;
$color-copper:         #e47c51;
$color-tundor:         #404040;
$color-persi:          #ff5951;
$color-alabaster:      #f9f9f9;

//==== Social Color =====//

$facebook: #1561b7;
$google-plus: #c2080f;
$pinterest: #c2080f;
$twitter: #4696f0;
