// Font Family
$body-font: 'Montserrat', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$Charmonman: 'Charmonman', cursive;




// Colors ---------------

$white: #ffffff;
$black: #000000;
$grey: #fafafa;

// Body Color
$body-color: #454545;

// footer Color
$footer-color: #1a1a1a;

// Heading Color
$heading-color: #3a3a3a;

// Theme Color
$theme-color: #ff5151;
$theme-color-2: #19cfa3;
$theme-color-3: #f1f1ff;



// Responsive Variables
$extraBig-device : 'only screen and (min-width: 1600px)';
$laptop-device : 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 479px)';

