/*--------------------------------------------------------------

Template: Theme Name
Author: 
Version:  1
Design and Developed by: 

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
