<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HasBuz - Corporate Business Bootstrap4 HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

<!-- Main Wrapper Start -->
<div class="main-wrapper">

    <!-- Header Section Start -->
    <div class="ht-header-section section">
       
        <!-- Header Bottom Two Start -->
        <div class="ht-header-bottom ht-header-bottom-three ht-header-bottom-fullwidth ht-header-menu-center ht-header-sticky">
            <div class="container-fluid">
                <div class="row">
                            
                    <div class="col"><a href="index.html" class="ht-logo"><img src="assets/images/busi-logo.png" alt="Logo"><img class="ht-sticky-logo" src="assets/images/busi-logo-dark.png" alt="Logo"></a></div>

                    <!-- Main Menu One Start -->
                    <div class="col d-none d-lg-block">
                        <div class="ht-main-menu ht-main-menu-three ht-menu-white ht-sub-menu-white">
                            <nav>
                                <ul>
                                    <li class="active"><a href="index.html">home</a></li>
                                    <li><a href="about.html">about</a></li>
                                    <li><a href="service.html">service</a></li>
                                    <li><a href="portfolio.html">portfolio</a>
                                        <ul class="sub-menu">
                                            <li><a href="portfolio-2-column.html">portfolio 2 column</a></li>
                                            <li><a href="portfolio.html">portfolio 3 column</a></li>
                                            <li><a href="portfolio-4-column.html">portfolio 4 column</a></li>
                                            <li><a href="portfolio-details.html">portfolio details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a href="blog-3-column.html">blog 3 column</a></li>
                                            <li><a href="blog-details.html">blog details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div><!-- Main Menu One End -->

                    <div class="col">
                        <div class="ht-header-social ht-header-social-three white mr-30">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>

                        <!-- Header Top Right Language Start -->
                        <ul class="ht-header-language ht-header-language-three ht-language-white ht-language-list-white d-none d-sm-inline-flex">
                            <li><a href="#">English <i class="fa fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Dutch</a></li>
                                    <li><a href="#">Russian</a></li>
                                </ul>
                            </li>
                        </ul><!-- Header Top Right Language End -->
                        
                    </div>

                    <div class="ht-mobile-menu ht-mobile-menu-three d-block d-lg-none col"></div>

                </div>
            </div>
        </div><!-- Header Bottom One End -->
        
    </div><!-- Header Section End -->

    <!-- Hero Section Start -->
    <div class="ht-hero-section section">
        
        <!-- Hero One Slider Start -->
        <div class="ht-hero-slider ht-hero-slider-three">
            
            <!-- Single Slide Start -->
            <div class="ht-single-slide" style="background-image: url(assets/images/slider/busi-slide-1.jpg)">
                
                <!-- Hero Content One Start -->
                <div class="ht-hero-content-four container">
                    
                    <h1 class="cssanimation leDoorCloseLeft sequence">Best Business</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the marity have suffered alteration in some form, by injected humour, or randomisedwords which don't look even slightly believable.</p>
                    <a href="contact.html" class="btn btn-lg hover-solid circle blue uppercase"><span>Get A Quote</span></a>
                    
                </div><!-- Hero Content One End -->
                
            </div><!-- Single Slide End -->
            
            <!-- Single Slide Start -->
            <div class="ht-single-slide" style="background-image: url(assets/images/slider/busi-slide-2.jpg)">
                
                <!-- Hero Content One Start -->
                <div class="ht-hero-content-four container">
                    
                    <h1 class="cssanimation leDoorCloseLeft sequence">Best Company</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the marity have suffered alteration in some form, by injected humour, or randomisedwords which don't look even slightly believable.</p>
                    <a href="contact.html" class="btn btn-lg hover-solid circle blue uppercase"><span>Get A Quote</span></a>
                    
                </div><!-- Hero Content One End -->
                
            </div><!-- Single Slide End -->
            
        </div><!-- Hero One Slider End -->
        
    </div><!-- Hero Section End -->

    <!-- Feature Section Start -->
    <div class="ht-feature-section section pt-120 pb-90">
        <div class="container">
            <div class="row">
                
                <!-- Section Title Three Start -->
                <div class="ht-section-title-three text-center col-12 mb-80">
                    
                    <h4>about us</h4>
                    <h2>WHO WE ARE</h2>
                    
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly bable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't </p>
                    
                </div><!-- Section Title Three End -->
                
                <!-- Feature -->
                <div class="ht-feature-one text-center col-md-4 col-12 mb-30">
                    <div class="icon"><i class="icon-mobile"></i></div>
                    <div class="content">
                        <h4>Fully Responsive</h4>
                        <p>Many desktop publishing pac kaes and web page editors Lorem Ipsum as their default model</p>
                    </div>
                </div>
                
                <!-- Feature -->
                <div class="ht-feature-one text-center col-md-4 col-12 mb-30">
                    <div class="icon"><i class="icon-beaker"></i></div>
                    <div class="content">
                        <h4>Retina Ready</h4>
                        <p>Many desktop publishing pac kaes and web page editors Lorem Ipsum as their default model</p>
                    </div>
                </div>
                
                <!-- Feature -->
                <div class="ht-feature-one text-center col-md-4 col-12 mb-30">
                    <div class="icon"><i class="icon-cloud"></i></div>
                    <div class="content">
                        <h4>Minimal Design</h4>
                        <p>Many desktop publishing pac kaes and web page editors Lorem Ipsum as their default model</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div><!-- Feature Section End -->

    <!-- About Studio Section Start -->
    <div class="ht-about-studio-section section pt-150 pb-120" style="background-image: url(assets/images/bg/busi-about-studio.jpg)">
        <div class="container">
            <div class="row">
                
                <div class="ht-studio-image col-lg-6 col-12 mb-30">
                    <img src="assets/images/about/busi-1.png" alt="About Studio">
                </div>
                
                <div class="ht-studio-content col-lg-6 col-12 mb-30">
                    
                    <div class="ht-studio-title">
                        <h2>Creative Studio</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majity haveed alteration in some form, byneed to be.</p>
                    </div>
                    
                    <div class="ht-studio-text-box">
                        <span class="dot">
                            <span class="line"></span>
                        </span>
                        <h5>Who We Are</h5>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be surthere isn't anything embarrassing hidden in the mid.</p>
                    </div>
                    
                    <div class="ht-studio-text-box">
                        <span class="dot">
                            <span class="line"></span>
                        </span>
                        <h5>What We Do</h5>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be surthere isn't anything embarrassing hidden in the mid.</p>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div><!-- About Studio Section End -->

    <!-- Feature Section Start -->
    <div class="ht-feature-section section pt-120 pb-60">
        <div class="container">
            <div class="row">
                
                <!-- Section Title Three Start -->
                <div class="ht-section-title-three text-center col-12 mb-80">
                    
                    <h4>our services</h4>
                    <h2>best services</h2>
                    
                </div><!-- Section Title Three End -->
                
                <!-- Feature -->
                <div class="ht-feature-one text-center col-lg-3 col-md-4 col-12 mb-60">
                    <div class="icon"><i class="icon-beaker"></i></div>
                    <div class="content">
                        <h4>Branding</h4>
                        <p>Many desktop publishing pac kaes and web page editors  Lorem Ipsum as their default model</p>
                    </div>
                </div>
                
                <!-- Feature -->
                <div class="ht-feature-one text-center col-lg-3 col-md-4 col-12 mb-60">
                    <div class="icon"><i class="icon-anchor"></i></div>
                    <div class="content">
                        <h4>Development</h4>
                        <p>Many desktop publishing pac kaes and web page editors  Lorem Ipsum as their default model</p>
                    </div>
                </div>
                
                <!-- Feature -->
                <div class="ht-feature-one text-center col-lg-3 col-md-4 col-12 mb-60">
                    <div class="icon"><i class="icon-strategy"></i></div>
                    <div class="content">
                        <h4>Design</h4>
                        <p>Many desktop publishing pac kaes and web page editors  Lorem Ipsum as their default model</p>
                    </div>
                </div>
                
                <!-- Feature -->
                <div class="ht-feature-one text-center col-lg-3 col-md-4 col-12 mb-60">
                    <div class="icon"><i class="icon-camera"></i></div>
                    <div class="content">
                        <h4>Photography</h4>
                        <p>Many desktop publishing pac kaes and web page editors  Lorem Ipsum as their default model</p>
                    </div>
                </div>
                
                <!-- Feature -->
                <div class="ht-feature-one text-center col-lg-3 col-md-4 col-12 mb-60">
                    <div class="icon"><i class="icon-basket"></i></div>
                    <div class="content">
                        <h4>Woocommerce</h4>
                        <p>Many desktop publishing pac kaes and web page editors  Lorem Ipsum as their default model</p>
                    </div>
                </div>
                
                <!-- Feature -->
                <div class="ht-feature-one text-center col-lg-3 col-md-4 col-12 mb-60">
                    <div class="icon"><i class="icon-genius"></i></div>
                    <div class="content">
                        <h4>Marketing</h4>
                        <p>Many desktop publishing pac kaes and web page editors  Lorem Ipsum as their default model</p>
                    </div>
                </div>
                
                <!-- Feature -->
                <div class="ht-feature-one text-center col-lg-3 col-md-4 col-12 mb-60">
                    <div class="icon"><i class="icon-chat"></i></div>
                    <div class="content">
                        <h4>Support</h4>
                        <p>Many desktop publishing pac kaes and web page editors  Lorem Ipsum as their default model</p>
                    </div>
                </div>
                
                <!-- Feature -->
                <div class="ht-feature-one text-center col-lg-3 col-md-4 col-12 mb-60">
                    <div class="icon"><i class="icon-layers"></i></div>
                    <div class="content">
                        <h4>Coading</h4>
                        <p>Many desktop publishing pac kaes and web page editors  Lorem Ipsum as their default model</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div><!-- Feature Section End -->

    <!-- CTA Section Start -->
    <div class="ht-cta-section section pt-120 pb-120" data-overlay="cyan-blue" data-opacity="8" style="background-image: url(assets/images/bg/busi-cta.jpg)">
        <div class="container">
            <div class="row">
                
                <!-- CTA Content Start -->
                <div class="ht-cta-content text-white text-center col-12">
                    
                    <h1>Wanna Talk To Us?</h1>
                    
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem.</p>
                    
                    <a href="contact.html" class="btn circle hover-solid blue uppercase"><span>contact us</span></a>
                    
                </div><!-- CTA Content End -->
                
            </div>
        </div>
    </div><!-- CTA Section End -->

    <!-- Theme Feature Section Start -->
    <div class="ht-theme-feature-section section pt-120 pb-90">
        <div class="container">
            <div class="row align-items-center">
                
                <div class="ht-theme-feature-image text-center col-md-6 col-12 mb-30">
                    <img src="assets/images/busi-theme-feature-1.png" alt="Feature">
                </div>
                
                <div class="ht-theme-feature-content col-md-6 col-12 mb-30">
                    <h1>The Ultimate <br>Multipurpose Theme</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majorityered alteration in some form, by injected humoudomised words which don't look even slightly bable.</p>
                    <a href="contact.html" class="btn btn-border hover-solid uppercase circle"><span>Get A Quote</span></a>
                </div>
                
            </div>
        </div>
    </div><!-- Theme Feature Section End -->

    <!-- Client Section Start -->
    <div class="ht-client-section bg-light-grey section pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="ht-client-one-wrap col d-flex flex-wrap">

                    <!-- Client -->
                    <div class="ht-client-image-one mb-30"><img src="assets/images/client/client-1.png" alt="Client"><img class="hover-image" src="assets/images/client/client-1-color.png" alt="Client"></div>
                    
                    <!-- Client -->
                    <div class="ht-client-image-one mb-30"><img src="assets/images/client/client-2.png" alt="Client"><img class="hover-image" src="assets/images/client/client-2-color.png" alt="Client"></div>
                    
                    <!-- Client -->
                    <div class="ht-client-image-one mb-30"><img src="assets/images/client/client-3.png" alt="Client"><img class="hover-image" src="assets/images/client/client-3-color.png" alt="Client"></div>
                    
                    <!-- Client -->
                    <div class="ht-client-image-one mb-30"><img src="assets/images/client/client-4.png" alt="Client"><img class="hover-image" src="assets/images/client/client-4-color.png" alt="Client"></div>
                    
                    <!-- Client -->
                    <div class="ht-client-image-one mb-30"><img src="assets/images/client/client-5.png" alt="Client"><img class="hover-image" src="assets/images/client/client-5-color.png" alt="Client"></div>

                </div>
            </div>
        </div>
    </div><!-- Client Section End -->

    <!-- Portfolio Section Start -->
    <div class="ht-portfolio-section section pt-120 pb-90">
        <div class="ht-portfolio-wrap-one">
           
            <div class="row">
                
                <!-- Section Title Three Start -->
                <div class="ht-section-title-three text-center col-12 mb-80">
                    
                    <h4>our gallery</h4>
                    <h2>latest works</h2>
                    
                </div><!-- Section Title Three End -->
                
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 col-12 mb-30">

                    <div class="ht-portfolio-one ht-portfolio-three">
                        <a href="portfolio-details.html" class="image"><img src="assets/images/portfolio/pro-portfolio-1.jpg" alt="Portfolio Image"></a>
                        <div class="content">
                            <h4 class="title"><a href="portfolio-details.html">Flyer Mockup</a></h4>
                            <span>creative / minimal</span>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-30">

                    <div class="ht-portfolio-one ht-portfolio-three">
                        <a href="portfolio-details.html" class="image"><img src="assets/images/portfolio/pro-portfolio-2.jpg" alt="Portfolio Image"></a>
                        <div class="content">
                            <h4 class="title"><a href="portfolio-details.html">Square Bi-fold</a></h4>
                            <span>design</span>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-30">

                    <div class="ht-portfolio-one ht-portfolio-three">
                        <a href="portfolio-details.html" class="image"><img src="assets/images/portfolio/pro-portfolio-3.jpg" alt="Portfolio Image"></a>
                        <div class="content">
                            <h4 class="title"><a href="portfolio-details.html">Apron nom</a></h4>
                            <span>web</span>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-30">

                    <div class="ht-portfolio-one ht-portfolio-three">
                        <a href="portfolio-details.html" class="image"><img src="assets/images/portfolio/pro-portfolio-4.jpg" alt="Portfolio Image"></a>
                        <div class="content">
                            <h4 class="title"><a href="portfolio-details.html">Red BookCover</a></h4>
                            <span>web / minimal</span>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-30">

                    <div class="ht-portfolio-one ht-portfolio-three">
                        <a href="portfolio-details.html" class="image"><img src="assets/images/portfolio/pro-portfolio-5.jpg" alt="Portfolio Image"></a>
                        <div class="content">
                            <h4 class="title"><a href="portfolio-details.html">Hardcover book</a></h4>
                            <span>creative / web</span>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-30">

                    <div class="ht-portfolio-one ht-portfolio-three">
                        <a href="portfolio-details.html" class="image"><img src="assets/images/portfolio/pro-portfolio-6.jpg" alt="Portfolio Image"></a>
                        <div class="content">
                            <h4 class="title"><a href="portfolio-details.html">AB T-shirt</a></h4>
                            <span>minimal</span>
                        </div>
                    </div>

                </div>

            </div>
            
        </div>
    </div><!-- Portfolio Section End -->

    <!-- Testimonial Section Start -->
    <div class="ht-testimonial-section section bg-light-grey pt-120 pb-120">
        <div class="container">
            <div class="row">
                
                <!-- Section Title Two Start -->
                <div class="ht-section-title-two text-center col-12 mb-50">
                    
                    <h2>Client’s Testimonials</h2>
                    
                </div><!-- Section Title Two End -->
                
                <div class="col-lg-8 col-md-10 col-12 ml-auto mr-auto">
                    
                    <div class="ht-testimonial-slider-two">
                        
                        <div class="ht-testimonial-two">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by inumour,domised words which don't look even slightly believable.</p>
                            <h3>Harry Weber</h3>
                            <h5>CEO, DevItems</h5>
                        </div>
                        
                        <div class="ht-testimonial-two">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by inumour,domised words which don't look even slightly believable.</p>
                            <h3>Harry Weber</h3>
                            <h5>CEO, DevItems</h5>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div><!-- Testimonial Section End -->

    <!-- Blog Section Start -->
    <div class="ht-blog-section section pt-120 pb-90">
        <div class="container">
            <div class="row">
                
                <!-- Section Title Three Start -->
                <div class="ht-section-title-three text-center col-12 mb-80">
                    
                    <h4>our blog</h4>
                    <h2>latest blog</h2>
                    
                </div><!-- Section Title Three End -->
                
                <!-- Blog Three Start -->
                <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">
                            
                    <!-- Image -->
                    <a href="blog-details.html" class="image"><img src="assets/images/blog/busi-blog-1.jpg" alt="Blog"></a>

                    <!-- Content -->
                    <div class="content">

                        <!-- Meta -->
                        <div class="meta fix">
                            <a href="#" class="meta-item author">By Kashem Khan</a>
                            <span class="meta-item date">June 01, 2017</span>
                        </div>

                        <!-- Title -->
                        <h4 class="title"><a href="blog-details.html">Combined with a han model rome Sentence to be con.</a></h4>

                        <!-- Description -->
                        <div class="desc">
                            <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration in some form.</p>
                        </div>

                    </div>

                </div><!-- Blog Three End -->
                
                <!-- Blog Three Start -->
                <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">
                            
                    <!-- Image -->
                    <a href="blog-details.html" class="image"><img src="assets/images/blog/busi-blog-2.jpg" alt="Blog"></a>

                    <!-- Content -->
                    <div class="content">

                        <!-- Meta -->
                        <div class="meta fix">
                            <a href="#" class="meta-item author">By Kashem Khan</a>
                            <span class="meta-item date">June 01, 2017</span>
                        </div>

                        <!-- Title -->
                        <h4 class="title"><a href="blog-details.html">Making this the first true generat on the Internet. It uses</a></h4>

                        <!-- Description -->
                        <div class="desc">
                            <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration in some form.</p>
                        </div>

                    </div>

                </div><!-- Blog Three End -->
                
                <!-- Blog Three Start -->
                <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">
                            
                    <!-- Image -->
                    <a href="blog-details.html" class="image"><img src="assets/images/blog/busi-blog-3.jpg" alt="Blog"></a>

                    <!-- Content -->
                    <div class="content">

                        <!-- Meta -->
                        <div class="meta fix">
                            <a href="#" class="meta-item author">By Kashem Khan</a>
                            <span class="meta-item date">June 01, 2017</span>
                        </div>

                        <!-- Title -->
                        <h4 class="title"><a href="blog-details.html">Cicero are also reproduced in their exact original to.</a></h4>

                        <!-- Description -->
                        <div class="desc">
                            <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration in some form.</p>
                        </div>

                    </div>

                </div><!-- Blog Three End -->
                
                <!-- Blog Three Start -->
                <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">
                            
                    <!-- Image -->
                    <a href="blog-details.html" class="image"><img src="assets/images/blog/busi-blog-4.jpg" alt="Blog"></a>

                    <!-- Content -->
                    <div class="content">

                        <!-- Meta -->
                        <div class="meta fix">
                            <a href="#" class="meta-item author">By Kashem Khan</a>
                            <span class="meta-item date">June 01, 2017</span>
                        </div>

                        <!-- Title -->
                        <h4 class="title"><a href="blog-details.html">If you are going to use a passage Lorem Ipsum, you need to.</a></h4>

                        <!-- Description -->
                        <div class="desc">
                            <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration in some form.</p>
                        </div>

                    </div>

                </div><!-- Blog Three End -->
                
            </div>
        </div>
    </div><!-- Blog Section End -->

    <!-- Footer Top Section Start -->
    <div class="ht-footer-top-section-one section pt-100 pb-60" style="background-image: url(assets/images/bg/busi-footer.jpg)">
        <div class="container">
            <div class="row">
                
                <!-- Footer Widget Start -->
                <div class="ht-footer-widget-one col-lg-4 col-md-6 col-12 mb-40">
                    
                    <!-- Logo -->
                    <img class="logo" src="assets/images/busi-logo.png" alt="Logo">
                    
                    <p>Lorem ipsum dolor sit amet, consect ascing elit, sed do eiusmod incididunt ut labore et dolore Many desktop lishing packages and web page editors</p>
                    
                    <!-- Social -->
                    <div class="ht-footer-social-one">
                        <a href="#"><i class="fa fa-facebook"></i></a>    
                        <a href="#"><i class="fa fa-twitter"></i></a>    
                        <a href="#"><i class="fa fa-instagram"></i></a>    
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>    
                        <a href="#"><i class="fa fa-linkedin"></i></a>    
                    </div>
                    
                </div><!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="ht-footer-widget-one col-lg-2 col-md-6 col-12 mb-40">
                    
                    <!-- Title -->
                    <h5 class="widget-title">our services</h5>
                    
                    <!-- Links -->
                    <ul>
                        <li><a href="#">Accounting</a></li>
                        <li><a href="#">Finance Plan</a></li>
                        <li><a href="#">Consulting</a></li>
                        <li><a href="#">Money Growth</a></li>
                        <li><a href="#">Tax Saving</a></li>
                        <li><a href="#">Money Growth</a></li>
                    </ul>
                    
                </div><!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="ht-footer-widget-one col-lg-3 col-md-6 col-12 mb-40">
                    
                    <!-- Title -->
                    <h5 class="widget-title">Recent Post</h5>
                    
                    <!-- Footer Blog -->
                    <div class="ht-footer-blog">
                        <h5 class="title"><a href="blog-details.html">Nor again is there anyone a who loves amir.</a></h5>
                        <div class="meta">
                            <a href="#" class="meta-item author">By Louis Hall</a>
                            <span class="meta-item date">June 01, 2017</span>
                        </div>
                    </div>
                    
                    <!-- Footer Blog -->
                    <div class="ht-footer-blog">
                        <h5 class="title"><a href="blog-details.html">On the other hand, we deno righteous indignation.</a></h5>
                        <div class="meta">
                            <a href="#" class="meta-item author">By Louis Hall</a>
                            <span class="meta-item date">June 01, 2017</span>
                        </div>
                    </div>
                    
                </div><!-- Footer Widget End -->
                
                <!-- Footer Widget Start -->
                <div class="ht-footer-widget-one col-lg-3 col-md-6 col-12 mb-40">
                    
                    <!-- Title -->
                    <h5 class="widget-title">subscribe us</h5>
                    
                    <p>Lorem ipsum dolor sit amet, consect ascing elit, sed do eiusmod</p>
                    
                    <!-- Newsletter Form -->
                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="ht-footer-subscribe-form-one validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL" class="d-none">Subscribe to our mailing list</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email...." required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"><i class="fa fa-envelope-open"></i></button>
                        </div>
                    </form>
                    
                </div><!-- Footer Widget End -->
                
            </div>
        </div>
    </div><!-- Footer Top Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="ht-footer-bottom-section-one section">
        <div class="container">
            <div class="row">
                
                <!-- Footer Copyright -->
                <div class="ht-footer-copyright-one col-12">
                    <p>Copyright© 2017, All Right Reserved.Designed by <a href="https://hastech.company">HasTech</a></p>
                </div>
                
            </div>
        </div>
    </div><!-- Footer Bottom Section End -->
    
</div><!-- Main Wrapper End -->

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>


</body>

</html>