<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog - Political</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Forn -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!-- Body main wrapper start -->
<div class="wrapper fix">

<!--Header Area Start-->
<div class="header-area">
   
    <!--Header Top Start-->
    <div class="header-top">
        <div class="container">
            <div class="row">
                
                <!--Header Info-->
                <div class="header-info text-left col-sm-7 col-xs-12">
                    <p><i class="zmdi zmdi-phone"></i> +11 222 3354</p>
                    <p><i class="zmdi zmdi-email-open"></i> name@mail.com</p>
                </div>
               
                <!--Header Social-->
                <div class="header-social text-right col-sm-5 col-xs-12">
                    <a href="javascript:void(0)"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)"><i class="zmdi zmdi-rss"></i></a>
                    <a href="javascript:void(0)"><i class="zmdi zmdi-google-plus"></i></a>
                    <a href="javascript:void(0)"><i class="zmdi zmdi-pinterest"></i></a>
                    <a href="javascript:void(0)"><i class="zmdi zmdi-instagram"></i></a>
                </div>
                
            </div>
        </div>
    </div>
    <!--Header Top End-->
    
    <!--Header Bottom Start-->
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                   
                    <!--Header Logo Start-->
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                            <i class="zmdi zmdi-menu menu-open"></i>
                            <i class="zmdi zmdi-close menu-close"></i>
                        </button>
                        <a href="index.html" class="logo navbar-brand"><img src="img/logo.png" alt="logo"></a>
                    </div>
                    <!--Header Logo End-->
                    
                    <!--Header Donation Button-->
                    <div class="header-donation float-right">
                        <a class="btn" data-scroll href="#donation-area">donate</a>
                    </div>
                    <!--Header Search End-->
                    
                    <!--Main Menu Start-->
                    <div class="main-menu float-right collapse navbar-collapse" id="main-menu">
                        <nav>
                            <ul>
                                <li><a href="#hero-area">home</a></li>
                                <li><a href="#about-area">about</a></li>
                                <li><a href="#service-area">service</a></li>
                                <li><a href="#event-area">event</a></li>
                                <li><a href="#gallery-area">gallery</a></li>
                                <li class="active"><a href="#blog-area">blog</a></li>
                                <li><a href="#contact-area">contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--Main Menu End-->
                    
                </div>
            </div>
        </div>
    </div>
    <!--Header Bottom End-->
    
</div>
<!--Header Area End-->

<!--Page Banner Area Start-->
<div id="page-banner-area" class="page-banner-area section">
	<div class="container">
		<div class="row">
           
            <!--Page Banner-->
			<div class="page-banner-wrapper text-center col-xs-12">
				<h1>blog</h1>
				<ul class="page-breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">blog</a></li>
				</ul>
			</div>
			
		</div>
	</div>
</div>
<!--Page Banner Area End-->

<!--Blog Area Start-->
<div id="blog-area" class="blog-area section pb-110 pt-110">
    <div class="container">
       
       <!--Blog Start-->
        <div class="row">
            
            <!--Blog Item-->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="blog-item">
                    <a href="#" class="image"><img src="img/blog/1.jpg" alt=""></a>
                    <div class="content">
                        <span class="author">by <a href="#">Momen Bhuiyan</a></span>
                        <h4><a href="#">Support & develop sill people</a></h4>
                        <p>Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
            
            <!--Blog Item-->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="blog-item">
                    <a href="#" class="image"><img src="img/blog/2.jpg" alt=""></a>
                    <div class="content">
                        <span class="author">by <a href="#">Momen Bhuiyan</a></span>
                        <h4><a href="#">Support & develop sill people</a></h4>
                        <p>Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
            
            <!--Blog Item-->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="blog-item">
                    <a href="#" class="image"><img src="img/blog/3.jpg" alt=""></a>
                    <div class="content">
                        <span class="author">by <a href="#">Momen Bhuiyan</a></span>
                        <h4><a href="#">Support & develop sill people</a></h4>
                        <p>Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
            
            <!--Blog Item-->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="blog-item">
                    <a href="#" class="image"><img src="img/blog/1.jpg" alt=""></a>
                    <div class="content">
                        <span class="author">by <a href="#">Momen Bhuiyan</a></span>
                        <h4><a href="#">Support & develop sill people</a></h4>
                        <p>Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
            
            <!--Blog Item-->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="blog-item">
                    <a href="#" class="image"><img src="img/blog/2.jpg" alt=""></a>
                    <div class="content">
                        <span class="author">by <a href="#">Momen Bhuiyan</a></span>
                        <h4><a href="#">Support & develop sill people</a></h4>
                        <p>Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
            
            <!--Blog Item-->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="blog-item">
                    <a href="#" class="image"><img src="img/blog/3.jpg" alt=""></a>
                    <div class="content">
                        <span class="author">by <a href="#">Momen Bhuiyan</a></span>
                        <h4><a href="#">Support & develop sill people</a></h4>
                        <p>Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
            
            <!--Blog Item-->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="blog-item">
                    <a href="#" class="image"><img src="img/blog/1.jpg" alt=""></a>
                    <div class="content">
                        <span class="author">by <a href="#">Momen Bhuiyan</a></span>
                        <h4><a href="#">Support & develop sill people</a></h4>
                        <p>Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
            
            <!--Blog Item-->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="blog-item">
                    <a href="#" class="image"><img src="img/blog/2.jpg" alt=""></a>
                    <div class="content">
                        <span class="author">by <a href="#">Momen Bhuiyan</a></span>
                        <h4><a href="#">Support & develop sill people</a></h4>
                        <p>Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
            
            <!--Blog Item-->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-30">
                <div class="blog-item">
                    <a href="#" class="image"><img src="img/blog/3.jpg" alt=""></a>
                    <div class="content">
                        <span class="author">by <a href="#">Momen Bhuiyan</a></span>
                        <h4><a href="#">Support & develop sill people</a></h4>
                        <p>Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
            
            <!--Pagination-->
            <ul class="pagination text-center">
                <li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
                <li><a href="#">1</a></li><li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li><li><a href="#">4</a></li>
                <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
            </ul>
            
        </div>
       <!--Blog End-->
       
    </div>
</div>
<!--Blog Area End-->

<!--Footer Area Start-->
<div id="footer-area" class="footer-area section">
    
    <!--Footer Top-->
    <div class="footer-top pb-70 pt-70">
        <div class="container">
            <div class="row">
                
                <!--Footer Widget Album-->
                <div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-30">
                    <div class="about-widget">
                        <img src="img/footer-logo.png" alt="">
                        <p>There are many variations of passages of Lorem available, majority have suffered alteration in some form, by injected humour.</p>
                        <div class="footer-social fix">
                            <a href="javascript:void(0)"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="javascript:void(0)"><i class="zmdi zmdi-rss"></i></a>
                            <a href="javascript:void(0)"><i class="zmdi zmdi-google-plus"></i></a>
                            <a href="javascript:void(0)"><i class="zmdi zmdi-pinterest"></i></a>
                            <a href="javascript:void(0)"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
                
                <!--Footer Widget Album-->
                <div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-30">
                    <h4>Supports</h4>
                    <ul class="link-widget">
                        <li><a href="javascript:void(0)">Rural Support</a></li>
                        <li><a href="javascript:void(0)">Skill Development</a></li>
                        <li><a href="javascript:void(0)">Education</a></li>
                        <li><a href="javascript:void(0)">Democreazy</a></li>
                        <li><a href="javascript:void(0)">Political</a></li>
                        <li><a href="javascript:void(0)">Politician</a></li>
                        <li><a href="javascript:void(0)">Rural Support</a></li>
                        <li><a href="javascript:void(0)">Skill Development</a></li>
                        <li><a href="javascript:void(0)">Education</a></li>
                        <li><a href="javascript:void(0)">Democreazy</a></li>
                        <li><a href="javascript:void(0)">Political</a></li>
                        <li><a href="javascript:void(0)">Politician</a></li>
                    </ul>
                </div>
                
                <!--Footer Widget Album-->
                <div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-30">
                    <h4>INSTAGRAM</h4>
                    <ul class="instagram-widget">
                        <li><a href="javascript:void(0)"><img src="img/instagram/1.jpg" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="img/instagram/2.jpg" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="img/instagram/3.jpg" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="img/instagram/4.jpg" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="img/instagram/5.jpg" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="img/instagram/6.jpg" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="img/instagram/7.jpg" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="img/instagram/8.jpg" alt=""></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    
    <!--Footer Copuright-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
               
                <div class="copyright text-center col-xs-12">
                    <p>Copyright &copy; 2017. All Right Reserved</p>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
<!--Footer Area End-->

</div>
<!-- Body main wrapper end -->

<!-- JS -->

<!-- jQuery JS
============================================ -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap JS
============================================ -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins JS
============================================ -->
<script src="js/plugins.js"></script>
<!-- Ajax Mail JS
============================================ -->
<script src="js/ajax-mail.js"></script>
<!-- Main JS
============================================ -->
<script src="js/main.js"></script>
</body>

</html>