/* Normal desktop :992px. */
@media (min-width: 1366px) and (max-width: 1675px) {
.shoping-vieo {height: 360px;}
}
@media (min-width: 1169px) and (max-width: 1366px) {
.brand-logo .owl-buttons .owl-prev {left: 8px;}
.brand-logo .owl-buttons .owl-next {right: -20px;}
.not-found-text {bottom: 80px;}
.slider-left {
  left: 15%;
  position: absolute;
}
.shoping-vieo {height: 360px;}
#shoping-bg {top: -160px;}
}
/* Normal desktop :970px. */
@media (min-width: 969px) and (max-width: 1200px) {
.colect-text {
  padding: 35px 20px;
}
.summer-one.summer .count-text,.summer-one.summer .bannertext{margin-left:-15px;}
.main-slider-two .nivo-caption .slider-right {
  right: 2%;
}
.list-view .clearfix > li:last-child {
  margin-top: 10px;
}
.not-found-text {bottom: 40px;}
.list-view .por-dse.add-to > a {
  font-size: 9px;
  padding: 2px 2px 0;
}
.main-slider-two .slider-right {
  width: 560px;
}
.colect-two-text p {
  padding-right: 0;
  line-height: 18px;
}
.colect-two-text {
  min-height: 198px;
}
.colect-two-text a.shop-btn {
  margin: 10px 0 0;
}
.featured-products .owl-buttons {
  top: -19.3%;
}
.shoping-vieo {height: 365px;}
#shoping-bg {top: -150px;}
/* quick view */
.quick-thumb li {width: 22%;}
.product-details .quick-thumb li {width: auto;}
.por-dse .share-btn a i {
  line-height: 24px;
}
.por-dse .share-btn a {
  height: 24px;
  width: 24px;
}
.product-details .por-dse .share-btn a i, .product-details .por-dse .share-btn a {line-height: 23px;}
.share-btn a{
  line-height: 25px;
}
.por-dse li.share-btn span {width: 70px;}
.por-dse .share-btn.qty a {
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.por-dse .share-btn.qty a.dec{
  line-height: 18px;
}
}
/* Normal desktop :992px. */
@media (min-width: 970px) and (max-width: 1169px) {
.brand-logo .owl-buttons .owl-prev {
  left: 8px;
}
.brand-logo .owl-buttons .owl-next {
  right: -18px;
}
.bannertext {margin-top: 10px;}
.featured-products .owl-buttons {
  top: -19.3%;
}
.testimonials .owl-buttons {right: -82px;}
.colect-text {padding: 33px 20px;}
.quick-view .owl-buttons {
  right: 50px;
  top: 7.6%;
}
.testimonials .owl-buttons {right: 14px;}
.shoping-vieo {height: 308px;}
#shoping-bg {top: -145px;}

}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.section-padding-top {padding-top: 50px;}
.section-padding-bottom {padding-bottom: 50px;}
.section-padding,.barnd-bg{padding:50px 0;}
.section-title {margin-bottom: 30px;}
/* header section */
.mainmenu a {margin: 0 16px;}
.mainmenu .magamenu > ul {
  margin-left: -175px;
}
.magamenu ul li ul {
  margin-left: 90px;
}
.magamenu ul li ul {width: 520px;}
.slider-btn{margin-top: 30px;}
.slider-left {
  left: 15%;
  position: absolute;
}
.magamenu {
  position: relative;
  z-index: 9999 !important;
}
.mainmenu ul li ul li a {text-transform: capitalize;}
.main-slider-two .nivo-caption .slider-right {
  right: -3%;
}
/* home page one */
.colect-text hr.line {
  margin: 0 auto 18px;
}
.colect-text {
  padding: 5px 10px;
}
.colect-text h4 a {
  font-size: 17px;
}
.owl-buttons {top: -59px;}
.right-banner .bannertext {
  padding: 15px 15px 0 0px;
}
.right-banner {
  margin-top: 8px;
}
.testimonials .owl-buttons {
  right: 0;
}
.brand-logo .owl-buttons {
  top: -88px;
}
.single-service > p {
  padding: 0;
}
.brand-logo .owl-buttons .owl-prev {
 left: 15px;
}
.brand-logo .owl-buttons .owl-next {
  right: -18px;
}
.footer-dsc .margin-top,.single-product.margin-top {
  margin-top: 30px;
}
/* home page two */
.colect-two-text {
  min-height: 233px;
}
.colect-two-text a.shop-btn {
  margin: 20px 0 28px;
}
.summer-two .summer-bg {
  padding: 30px 0;
}
#shoping-bg {
  top: -122px;
}
.shoping-vieo {
  height: 300px;
}
/* blog pages */
.pages .blog-text {
  margin-top: 10px;
}
.pages .single-colect > img {
  width: 100%;
}
/* pages */
.pages .cart-form-text .submit-text a {
  font-size: 11px;
  padding: 7px 10px 5px;
}
.cart-form-text {
  padding: 20px 10px;
}
.pages .wishlist-table .td-img.text-left {
  width: 280px;
}
tbody .td-img > a {
  margin-right: 10px;
}
.log-title h3 {font-size: 20px;}
.not-found-text {
  bottom: 35px;
}
.about-page.pages-title {
  padding-bottom: 50px;
}
.about-img {
  margin-bottom: 0;
  top: 0;
}
/* products page */
.list-view .product-dsc {
	padding-bottom: 30px;
	margin-top: 20px;
}
.list-view .por-dse.add-to > a {
  width: auto;
  display: inline-block;
}
.list-view .product-dsc {
  border-right: 0;
  padding-right: 0;
}
.large-product .product-img a {
  padding: 35px 10px;
}
.large-product .product-dsc {
  padding: 15px 0;
}
.product-details .quick-thumb li {
  width: inherit;
}
.por-dse.color {margin-top: 15px;}
/* quick view */
.quick-thumb li {
  width: 20.86%;
}
.quick-view .amount, .quick-view p, .quick-view .m-p-b {
  margin-bottom: 20px;
  padding: 20px 0;
}
.por-dse.add-to > a, .dse-btn .share-btn {
  margin-top: 10px;
}
.por-dse.responsive-strok li {
    float: none;
}
.por-dse.responsive-strok {
    margin-bottom: 20px;
}
.por-dse.responsive-othre {
    margin-top: 20px;
}
.quick-view .owl-buttons {
  right: 30px;
  top: 5.6%;
}
.product-details .por-dse .share-btn a {
  height: 24px;
  width: 24px;
}
.product-details .por-dse .share-btn a i, .product-details .por-dse .share-btn a {line-height: 23px;}
.por-dse li.share-btn span {
  width: 70px;
}
.por-dse .share-btn.qty a {
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.por-dse .share-btn.qty a.dec{
  line-height: 18px;
}

}
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.section-padding-top ,.team-member{padding-top: 40px;}
.section-padding-bottom {padding-bottom: 40px;}
.section-padding{padding:40px 0;}
.section-title {margin-bottom: 30px;}
.section-title > h3 {font-size: 18px;}
.mainmenu,.simpleLens-lens-element{display:none;}
.mobile-menu-area{display:block;}
.mobile-menu-area .mean-bar {position: relative;}
.mobile-menu-area .mean-bar::after {
  content: "menu";
  left: 10px;
  position: absolute;
  top: 20px;
}
.mean-nav span {
  margin-left: 20px;
  padding: 5px;
}
.mean-nav span ,.mobile-menu-area .mean-bar::after {
  color: #fff;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}
.mean-container a.meanmenu-reveal {
  margin: auto 0 auto auto;
}
.mean-container .mean-bar,.mean-container .mean-nav  {
  background: #ef6644 none repeat scroll 0 0;
}
/* header section */
header.pages-header{background:inherit;}
header {
  background: #333;
  position: inherit;
}
#sticky-menu.sticky, #sticky-menu-2.sticky-2 {
  position: inherit;
}
.logo ,.single-testimonial{
  text-align: center;
}
.left-header{
  margin-bottom: 15px;
}
.left-header p,.left-header p i {
    font-size: 11px;
}
.left-header p i {
    margin-right: 5px;
}
.right-header li #searchform {
  opacity: 1;
  width: 200px;
}
.right-header li #searchform input {
  padding: 5px 0 5px 10px;
}
.right-header li:hover #searchform {
  opacity: 1;
  width: 200px;
}
.right-header ul li ul {z-index: 9999;}
/* slider */
.nivo-controlNav {left: 20px;}
.nivo-controlNav{
  margin-top:-35px;
}
.nivo-nextNav {margin: -3px 0;}
.nivo-directionNav a {
  font-size: 15px;
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.nivo-directionNav{margin-top:-21px;}
.nivoSlider .text-img img {width: 60%;}
.slider-btn{margin-top: 20px;}
.slider-btn a {
	font-size: 11px;
	padding: 4px 10px;
}
.nivo-caption .slider-right, .nivo-caption .slider-left {
  right: -20%;
  top: -40px;
  width: 100%;
}
.slider-left{position:absolute;}
.nivo-caption .slider-right, .nivo-caption .slider-left {
  top: -40px;
}
.main-slider-two .nivo-caption .slider-right,.main-slider-two  .nivo-caption .slider-left {
  top: 120px;
}
.nivo-caption .slider-right, .nivo-caption .slider-left {
  right: -15%;
}
.main-slider-two .nivo-caption .slider-right {
  right: -50%;
}
.main-slider-two .slider-left h1 {
  font-size: 30px;
  line-height: 40px;
}
.main-slider-two .slider-left h1,.main-slider-two .slider-left span,.two-p,.video-section{
  display:none;
}
.main-slider-two .slider-left span {
  margin-bottom: 10px;
}
.main-slider-two .slider-btn {
  margin-top: 5px;
}
/* home page one */
.owl-buttons {top: -60px;}
.single-product .product-img a {
  box-shadow: 0 3px 5px 0 rgba(25, 25, 25, 0.2);
}
.single-product .actions-btn > a {
  margin-left: 0;
  opacity: 1;
}
.left-banner {
  padding: 0px 10px;
}
.right-banner .bannertext {
  padding:10px;
}
.count-text {
  padding: 10px 0 0 10px;
}
.count-text li {
  height: 50px;
  line-height: 50px;
  width: 50px;
}
.product-tab.nav {
  margin-bottom: 10px;
}
.featured-products .owl-buttons {
  top: -13%;
}
.product-tab li a {margin: 5px 10px;}
.single-product.margin-top {
  margin-top: 30px;
}
.left-banner {
  margin-bottom: 15px;
}
.testimonial-img {
  float: none;
  margin-right: 0;
}
.testimonial-dsc,.social-icon ul.floatright  {
  margin-top: 10px;
}
.testimonial-dsc span,.single-service i {
  margin-bottom: 10px;
}
.testimonials .owl-buttons {right: 0;}
.single-blog .actions-btn > a i ,.single-blog .actions-btn span {
  font-size: 18px;
}
.single-blog .actions-btn > a ,.single-blog .actions-btn > span {
  font-size: 11px;
  height: 35px;
  line-height: 14px;
  margin-bottom: 2px;
  padding: 4px;
  transition: all 0.3s ease 0s;
  width: 35px;
}
.single-blog .actions-btn {right: 0;}
.blog-img {
  width: 85%;
}
.single-blog {
  position: relative;
}
.brand-logo .owl-buttons {
  right: 0;
  top: -80px;
}
.brand-logo .owl-buttons .owl-prev {
  left: 0;
}
.brand-logo .owl-buttons .owl-next {
  right: 0;
}
.barnd-bg {
  padding: 15px 0;
}
.single-service > p,.contact .footer-text li:first-child {
  padding: 0;
}
.single-text,.single-service{
  margin-bottom: 20px;
}
.service .col-xs-12:last-child .single-service,.social-icon ul.floatright li:first-child a{margin:0;}
.social-icon ul.floatright {
  float: none;
}
/* home page two */
.colect-two-text {
  min-height: 225px;
}
.colect-two-text a.shop-btn {
  margin: 20px 0;
}
.colect-two-text p {
  padding-right: 5px;
}
.colect-two-text h4 a {
  font-size: 18px;
}
.collection-two .margin-top {
  margin-top: 0;
}
.colect-two-text {
  margin: 15px 0;
}
.count-text {
  padding: 10px 0 0;
}
.right-banner, .left-banner {
  min-height: 200px;
}
.summer-two .summer-bg {
  background-position:70%;
  padding: 40px 0;
}
.single-products-two .actions-btn {
  left: 40px;
}
/* pages */
.cart-table td form {
  width: 200px;
}
.items-dsc {
  width: 300px;
}
.pages table tbody tr td {
  padding: 30px 10px;
}
table td .submit-text > a {
  width: 130px;
}
.log-title h3 {
  font-size: 18px;
}
.log-title hr {
  margin: 0px 0 20px;
}
.login-text.new-customer {
  margin-bottom: 30px;
}
.checkout .place-text {
  padding: 10px;
}
.login-page .login-text.new-customer {
  margin-bottom: 0;
  margin-top: 30px;
}
.login-page .custom-input {
  padding: 20px;
}
.not-found-text {
  bottom: 10px;
  margin-left: -108px;
}
.not-found-text h3 {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  font-size: 15px;
}
li.sort-by,.pages .right-products .section-title  li:first-child  {
  float: none;
}
.right-products .section-title ul > li.l-r-margin {
  border-left: 0 none;
  margin-left: 0;
  padding-left: 0;
}
.pages .right-products .section-title  li:first-child ul li:first-child {
    float: left;
}
.list-view .product-dsc {
  padding-bottom: 20px;
  padding-right: 0;
  padding-top: 20px;
}
.list-view .product-dsc > p {
  margin: 20px 0 15px;
}
.right-products .product-dsc ul > li {
  margin-bottom: 5px;
}
.list-view .por-dse.add-to > a {
  width: auto;
}
.product-details.quick-view .quick-image .owl-buttons .owl-prev {
  left: 0;
}
.product-details.quick-view .quick-image .owl-buttons .owl-next {
  right: 0;
}
.product-details .quick-thumb li {
  width: auto;
}
.por-dse.color {
  padding-top: 20px;
  display: table;
  clear: both;
}
.your-rating .rating li {
  margin-right: 4px;
  padding-right: 5px;
}
.review-mess,.right-products .section-title ul > li.l-r-margin {
  margin-top: 10px;
}
.order-no ul li {
  border: 1px solid #ccc;
  padding: 15px 0;
  width: 100%;
}
.order-address {
  margin-top: 20px;
}
/* quick view */
.quick-view .modal-footer {
  right: -7px;
}
.modal-dialog {margin: 30px 10px;}
.main-view {padding: 10px;}
.quick-thumb li {width: 21.1%;}
.quick-right-text h3 {
  font-size: 20px;
  margin-top: 15px;
}
.quick-view .amount, .quick-view p, .quick-view .m-p-b {
  margin-bottom: 10px;
  padding: 10px 0;
}
.rating > a {
  margin-left: 12px;
}
.por-dse li a {
  margin-right: 10px;
}
.por-dse.responsive-strok {
  margin-bottom: 15px;
}
.dse-btn .por-dse li span {
  width: 72px;
}
.por-dse.add-to > a, .dse-btn .share-btn {
  margin-top: 10px;
}
.por-dse.responsive-othre {
    margin-top: 15px;
}
.quick-view .owl-buttons {
  right: 10px;
  top: 3.6%;
}
.about-text {padding-left: 0;}
.about-img {
  margin-bottom: -130px;
}
.about-us .about-author > h3 {
  font-size: 21px;
}
.contact .new-customer {
  margin-top: 30px;
}
/* blog pages */
.pages .blog-text {
  margin-bottom: 15px;
}
.blog .margin-top {
  margin-top: 10px;
}
a.load-more {
  margin-top: 15px;
}
.single-blog-area .post-title > h3 {
  margin-top: 10px;
  font-size: 17px;
  line-height: 23px;
}
.single-blog .date-btn {
  clear: both;
  display: table;
}
.share-tag {padding: 30px 0;}
.blog-share.floatleft {
  display: table;
  margin-bottom: 10px;
}
.blog-tag.floatright,.blog-share.floatleft {
  float: none;
}
.about-author.comments {
  padding-top: 30px;
}
.about-author.reply {
  margin-left: 0;
}

}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.right-header li:hover #searchform {
  width: 340px;
}
.header-top .col-sm-6:first-child {
    text-align: center;
}
.header-top .col-sm-6:first-child .left-header {
    display: inline-block;
}
.right-header li #searchform {
  width: 340px;
}
.single-colect > img {width: 100%;}
.left-banner {
  padding: 0 10px 0 130px;
}
.main-slider-two .slider-left h1 ,.main-slider-two .slider-left span{display:block;}
.nivo-caption .slider-right, .nivo-caption .slider-left {
  top: -60px;
}
.main-slider-two .nivo-caption .slider-right,.main-slider-two  .nivo-caption .slider-left {
  top: 80px;
}
.nivo-caption .slider-right, .nivo-caption .slider-left {
  right: -15%;
}
.main-slider-two .nivo-caption .slider-right {
  right: -50%;
}
.summer-two .left-banner {padding: 0 10px 0 0;}

}
