/*----------------------------------------*/
/*  Sidebar Style
/*----------------------------------------*/
/*-- Single Sidebar --*/
.single-sidebar {
    float: left;
    width: 100%;
    margin-bottom: 60px;
    &:last-child {
        margin-bottom: 0;
    }
    & .title {
        font-size: 22px;
        text-transform: capitalize;
        color: #686868;
        font-weight: 500;
        line-height: 19px;
        margin-bottom: 25px;
        & span {
            color: $theme-color;
        }
    }
}
/*-- Search Sidebar --*/
.search-sidebar {
    & form {
        padding: 4px;
        border: 1px solid #ededed;
        border-radius: 10px;
        float: left;
        width: 100%;
        position: relative;
        & input {
            float: left;
            border: none;
            background-color: transparent;
            height: 30px;
            width: 100%;
            padding: 3px 35px 3px 14px;
            color: #c3c3c3;
            font-size: 13px;
            font-weight: 300;
        }
        & button {
            float: left;
            height: 30px;
            width: 34px;
            color: $theme-color;
            text-align: center;
            background-color: transparent;
            border-width: 0 0 0 1px;
            border-color: #dadada;
            position: absolute;
            right: 4px;
            top: 4px;
            & i {
                font-size: 20px;
                display: block;
                line-height: 30px;
            }
        }
    }
}
/*-- About Sidebar --*/
.about-sidebar {
    & p {
        color: #949393;
    }
}
/*-- Recent Post Sidebar --*/
.recent-post-sidebar {
    & li {
        float: left;
        width: 100%;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        & .image {
            width: 67px;
            display: block;
            margin-right: 13px;
            position: relative;
            overflow: hidden;
            border: 1px solid #eeeeee;
            &::before {
                position: absolute;
                left: 50%;
                top: 50%;
                font-family: FontAwesome;
                content: "\f0c1";
                opacity: 0;
                z-index: 2;
                text-align: center;
                width: 30px;
                height: 30px;
                margin-left: -15px;
                margin-top: -15px;
                color: $color-white;
                font-size: 18px;
                line-height: 30px;
            }
            &:hover::before {
                opacity: 1;
            }
            &::after {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                content: "";
                background-color: $theme-color;
                opacity: 0;
            }
            &:hover::after {
                opacity: 0.9;
            }
            & img {
                width: 100%;
            }
        }
        & .content {
            & a {
                font-size: 16px;
                font-weight: 500;
                color: #565656;
                display: block;
                margin-bottom: 3px;
                &:hover {
                    color: $theme-color;
                }
            }
            & p {
                font-size: 13px;
                line-height: 20px;
                color: #7c7c7c;
            }
        }
    }
}
/*-- Tags Sidebar --*/
.tags-sidebar {
    margin: 0 -4px;
    & a {
        display: block;
        border: 1px solid #ededed;
        font-weight: 300;
        color: #a5a5a5;
        text-transform: capitalize;
        line-height: 24px;
        padding: 3px 14px;
        float: left;
        margin: 0 4px 8px;
        &:hover {
            background-color: $theme-color;
            border-color: $theme-color;
            color: $color-white;
        }
    }
}
/*-- Category Sidebar --*/
.category-sidebar {
    & li {
        & a {
            display: block;
            font-size: 15px;
            font-weight: 300;
            line-height: 28px;
            color: #999999;
            text-transform: capitalize;
            &:hover {
                color: $theme-color;
            }
        }
    }
}