// Font Family
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

// Colors

//Theme Color
$theme-color: #26ae61;
//Heading Color
$heading-color: #424242;
//Text Color
$color-white: #ffffff;
$color-black: #000000;
$text-color: #757575;
//Responsive Variables
$large-device : 'only screen and (min-width: 1600px)';
$laptop-device : 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 479px)';
