
@media (min-width: 1170px) {
.wrapper-boxed .owl-nav .owl-prev {
  left: -20px;
}
.wrapper-boxed .owl-nav .owl-next {
  right: -20px;
}
.wrapper-boxed .slide-text-left {
  margin-left: 174px;
}
.wrapper-boxed .slide-text-right {
  margin-right: 174px;
}
.wrapper-boxed .cap-title {
  font-size: 60px;
  line-height: 50px;
}
.wrapper-boxed .nivo-directionNav .nivo-prevNav {
  left: 60px;
}
.wrapper-boxed .nivo-directionNav .nivo-nextNav {
  right: 60px;
}
.wrapper-boxed .sin-service {
  padding-left: 30px;
}
.wrapper-boxed .sin-service .icon {
  margin-right: 15px;
}
.wrapper-boxed .sin-service .icon i {
  font-size: 30px;
  height: 60px;
  line-height: 58px;
  width: 60px;
}
.wrapper-boxed .sin-service .content h3 {
  font-size: 12px;
  margin: 0 0 5px;
}
.wrapper-boxed .sin-service .content p {
  font-size: 12px;
}
/* Home 2 */
.wrapper-boxed .feature-product-area-2 {
  padding: 0;
}
.wrapper-boxed .promo-bref h1 {
  margin-top: 100px;
}
.wrapper-boxed .promo-bref-2 h1, .wrapper-boxed .sin-promo:hover .promo-bref h1 {
  margin-top: 30px;
}
}
@media (min-width: 1170px) and (max-width: 1400px) {
.slide-text-left {
  margin-left: 174px;
}
.slide-text-right {
  margin-right: 174px;
}
.cap-title {
  font-size: 60px;
  line-height: 50px;
}
.nivo-directionNav .nivo-prevNav {
  left: 60px;
}
.nivo-directionNav .nivo-nextNav {
  right: 60px;
}
.sin-service {
  padding-left: 30px;
}
.sin-service .icon {
  margin-right: 15px;
}
.sin-service .icon i {
  font-size: 30px;
  height: 60px;
  line-height: 58px;
  width: 60px;
}
.sin-service .content h3 {
  font-size: 14px;
  margin: 0 0 5px;
}
.sin-service .content p {
  font-size: 12px;
}
/* Home 2 */
.feature-product-area-2 {
  padding: 0 82px;
}
.promo-bref h1 {
  margin-top: 100px;
}
.promo-bref-2 h1, .sin-promo:hover .promo-bref h1 {
  margin-top: 60px;
}


}
/* Normal desktop :992px. */
@media only screen and (min-width: 992px) and (max-width: 1169px) {
.slide-text-left {
  margin-left: 70px;
}
.slide-text-right {
  margin-right: 70px;
}
.cap-sub-title {
  font-size: 30px;
  line-height: 24px;
  margin: 0 0 20px;
}
.cap-title {
  font-size: 52px;
  line-height: 42px;
}
.cap-dec {
  font-size: 14px;
  line-height: 12px;
  margin-bottom: 25px !important;
}
.nivo-directionNav .nivo-prevNav {
  left: 10px;
}
.nivo-directionNav .nivo-nextNav {
  right: 10px;
}
.banner-bref h1 {
  font-size: 30px;
}
.offer-image-counter img {
  margin-left: 15px;
  width: 250px;
}
.pro-countdown .cdown {
  height: 80px;
  margin-right: 0;
  padding: 22px 0;
  width: 80px;
}
.offer-content h1 {
  font-size: 30px;
}
.owl-nav .owl-prev {
  left: -30px;
}
.owl-nav .owl-next {
  right: -30px;
}
.shipping-service-area {
  padding: 20px 0;
}
.sin-service {
  margin: 20px 0px;
}
.sin-service:nth-child(2n) {
  border-right: 0 solid #dddddd;
}
/* Home 2 */
.shipping-service-area-2 .sin-service {
  margin: 0;
}
.hot-deal-slider {
  padding: 0 150px;
}
.feature-product-area-2 {
  padding: 0 27px;
}
/* Shop Page */
.price-values p {
  margin-right: 15px;
}
#price-amount {
  width: 100px;
}
.banner-sidebar .banner-bref h1 {
  font-size: 26px;
}
/* Product Details Page */
.pro-img-thumb.thumb-vertical {
  width: 90px;
}
.pro-img-thumb.thumb-horizontal a {
  margin-right: 17px;
  width: 70px;
}
.pro-img-thumb.thumb-horizontal a:last-child {
  margin-right: 0;
}
/* Cart Page */
.cart-button-cuppon .cart-action .button {
  display: block;
  margin-bottom: 15px;
  margin-right: 0;
}
/* Checkout Page */
.order-details ul li p {
  width: 65%;
}
.order-details ul li p.last-child {
  width: 35%;
}
/* Blog Page */
.blog-page .sin-blog:nth-child(2n+1) {
  clear: both;
}
/* About Page */
.about-us-area .about-content {
  margin-top: 40px;
}
.team-social a {
  height: 20px;
  line-height: 20px;
  width: 20px;
}




}
/* Tablet desktop :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.button {
  padding: 0 20px;
}
.button.height-36 {
  height: 34px;
  line-height: 34px;
}
.header.fixed {
  position: static;
}
.header.transparent {
  background: #000;
}
.header-bottom .header-logo {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 9999;
}
.header-search {
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 9999;
}
.slide-text {
  padding: 0;
}
.slide-text-left {
  margin-left: 70px;
}
.slide-text-right {
  margin-right: 70px;
}
.cap-sub-title {
  font-size: 24px;
  line-height: 18px;
  margin: 0 0 15px;
}
.cap-title {
  font-size: 40px;
  line-height: 32px;
}
.cap-dec {
  font-size: 12px;
  line-height: 10px;
  margin-bottom: 20px !important;
}
.cap-readmore {
  font-size: 13px;
}
.nivo-directionNav .nivo-prevNav {
  left: 10px;
}
.nivo-directionNav .nivo-nextNav {
  right: 10px;
}
.banner-bref {
  height: 54px;
  margin-top: -27px;
}
.banner-bref-1 {
  height: 42px;
  margin-top: -21px;
}
.banner-bref h1 {
  font-size: 26px;
}
.banner-bref.banner-bref-1 h1 {
  font-size: 20px;
}
.banner-bref a {
  margin-top: 15px;
}
.offer-image-counter {
  width: auto;
}
.offer-image-counter img {
  margin-left: 0;
  margin-right: 35px;
}
.offer-content {
  margin-bottom: 90px;
  margin-top: 50px;
  text-align: left;
}
.blog-details .blog-title {
  font-size: 15px;
}
.shipping-service-area {
  padding: 30px 0;
}
.sin-service {
  margin: 10px 0px;
  padding-left: 30px;
}
.sin-service:nth-child(2n) {
  border-right: 0 solid #dddddd;
}
.sin-service .icon {
  margin-right: 15px;
}
.sin-service .icon i {
  font-size: 30px;
  height: 60px;
  line-height: 58px;
  width: 60px;
}
.sin-service .content h3 {
  font-size: 14px;
  margin: 0 0 5px;
}
.sin-service .content p {
  font-size: 12px;
}
.sin-footer:nth-child(2n+1) {
  clear: both;
}
.sin-footer:nth-child(1), .sin-footer:nth-child(1) {
  margin-bottom: 50px;
}
.footer-bottom .copyright p {
  font-size: 13px;
}
/* Home 2 */
.shipping-service-area-2 .sin-service {
  margin: 0;
}
.hot-deal-slider {
  padding: 0 50px;
}
.hot-deal-slider .owl-nav .owl-prev {
  left: 0;
}
.hot-deal-slider .owl-nav .owl-next {
  right: 0;
}
.feature-product-area-2 {
  padding: 0 9px;
}
.promo-bref h1 {
  margin-top: 120px;
}
.promo-bref-2 h1, .sin-promo:hover .promo-bref h1 {
  margin-top: 80px;
}
/* Shop Page */
.banner-sidebar .banner-bref {
  height: 80px;
  margin-top: -40px;
}
.banner-sidebar .banner-bref h1 {
  font-size: 30px;
}
/* Product Details Page */
.pro-img-big {
  width: 450px;
}
.product-details-content {
  margin-top: 30px;
}
/* Cart Page */
.cart-button-cuppon {
  margin-bottom: 30px;
}
.cart-button-cuppon .cart-action .button {
  display: block;
  margin-bottom: 15px;
  margin-right: 0;
}
/* Checkout Page */
#checkout-accordion {
  margin: 0 0 30px;
}
/* Blog Page */
.blog-page .sin-blog:nth-child(2n+1) {
  clear: both;
}
/* About Page */
.about-us-area::before {
  display: none;
}
.about-us-area .about-image img {
  padding-left: 0;
}
.sin-team {
  margin-bottom: 30px;
}


}
/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
.container{
  width: 450px;
}
.button {
  font-size: 12px;
  padding: 0 15px;
}
.button.height-36 {
  height: 32px;
  line-height: 32px;
}
.header.fixed {
  position: static;
}
.header.transparent {
  background: #000;
}
.header-bottom .header-logo {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 9999;
}
.header-search {
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 9999;
}
.slide-text {
  float: none;
  padding: 0;
  width: 100%;
}
.slide-text-left, .slide-text-right {
  margin: 0;
}
.cap-sub-title {
  font-size: 18px;
  line-height: 13px;
  margin: 0 0 15px;
}
.cap-title {
  font-size: 30px;
  line-height: 24px;
}
.cap-dec {
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 20px !important;
}
.cap-readmore {
  font-size: 13px;
}
.nivo-directionNav {
  display: none;
}
.banner-bref {
  height: 50px;
  margin-top: -25px;
}
.banner-bref-1 {
  height: 64px;
  margin-top: -32px;
}
.banner-bref h1 {
  font-size: 24px;
}
.banner-bref.banner-bref-1 h1 {
  font-size: 30px;
}
.banner-bref a {
  margin-top: 15px;
}
.pro-tab-list ul li {
  margin-right: 18px;
  padding-right: 20px;
}
.offer-image-counter {
  width: auto;
}
.offer-image-counter img {
  margin-left: 0;
  margin-right: 35px;
  width: 280px;
}
.offer-content {
  margin-bottom: 90px;
  margin-top: 50px;
  text-align: left;
}
.offer-content h1 {
  font-size: 24px;
  letter-spacing: 4px;
}
.shipping-service-area {
  padding: 30px 0;
}
.sin-service {
  margin: 10px 0px;
  padding-left: 50px;
}
.sin-service {
  border-right: 0 solid #dddddd;
}
.sin-footer {
  margin-bottom: 50px;
}
.sin-footer:last-child {
  margin-bottom: 0;
}
.footer-bottom .copyright {
  margin-bottom: 15px;
  text-align: center;
}
.footer-bottom .copyright p {
  font-size: 13px;
}
.footer-bottom .payment-method {
  text-align: center;
}
.quick-pro-thumb {
  width: 70px;
}
/* Home 2 */
.nivo-controlNav {
  padding: 0;
  bottom: -5px;
}
.shipping-service-area-2 .sin-service {
  padding-bottom: 34px;
  padding-top: 34px;
  margin: 0;
}
.sin-deal .image-counter {
  width: 100%;
}
.sin-deal .deal-countdown {
  left: 75px;
}
.deal-details {
  width: 100%;
}
.feature-product-area-2 {
  padding: 0 15px;
}
.promo-bref-2 h1 {
  font-size: 25px;
  margin-top: 10px;
}
.sin-promo:hover .promo-bref-2 h1 {
  margin-top: 10px;
}
.promo-countdown .cdown {
  margin-right: 30px;
}
/* Shop Page */
.shop-toolbar-top .short-by {
  margin-top: 15px;
  text-align: right;
}
.shop-toolbar-bottom .pagination {
  margin-top: 15px;
}
.pagination {
  max-height: 100%;
}
.sin-list-pro-img, .list-pro-details {
  width: 100%;
}
.banner-sidebar .banner-bref {
  height: 80px;
  margin-top: -40px;
}
.banner-sidebar .banner-bref h1 {
  font-size: 30px;
}
/* Product Details Page */
.pro-img-thumb {
  width: 70px;
}
.product-details-content {
  margin-top: 30px;
}
.input-box-2 .input-box {
  width: 100%;
}
.product-details-page-sidebar .pro-img-thumb {
  width: 100%;
}
/* Cart Page */
.cart-button-cuppon, .cart-button-cuppon .cart-action {
  margin-bottom: 30px;
}
.cuppon-wrap {
  max-width: 100%;
}
/* Checkout Page */
#checkout-accordion {
  margin: 0 0 30px;
}
.checkout-reg, .checkout-login {
  width: 100%;
}
.checkout-reg {
  margin-bottom: 30px;
}
/* Blog Page */
.comment-list {
  padding-right: 0;
}
.comment-list > li {
  padding-right: 0;
}
.comment-list > li ul {
  margin-left: 0;
  margin-right: 0;
}
.comment-form {
  padding-right: 0;
}
/* About Page */
.about-us-area::before {
  display: none;
}
.about-us-area .about-image img {
  padding-left: 0;
}
.sin-team {
  margin-bottom: 30px;
}
.sin-team:last-child {
  margin-bottom: 0;
}
/* Contact Page */
.contact-form {
  margin-bottom: 30px;
}
/* 404 Page */
.page-404 h1 {
  font-size: 100px;
}
.page-404 h3 {
  font-size: 16px;
}
/* Coming Soon */
.coming-soon {
  height: auto;
  padding: 80px 0;
}
.coming-soon h1 {
  font-size: 50px;
}
.coming-soon p {
  font-size: 12px;
}
.page-countdown .cdown {
  height: 90px;
  margin: 0 5px;
  padding: 21px 0;
  width: 90px;
}

}
/* small mobile :320px. */
@media only screen and (max-width: 479px) {
.container{
  width: 300px;
}
.button {
  font-size: 11px;
  padding: 0 12px;
}
.button.height-36 {
  height: 30px;
  line-height: 30px;
}
.section-title h1 {
  font-size: 18px;
}
.header-top-left {
  width: 100%;
}
.header-lan-cur {
  margin-left: 80px;
  float: none;
}
.header-top-right {
  width: 100%;
}
.mini-cart {
  margin-right: 15px;
}
.header-search {
  display: none;
}
.nivo-caption {
  display: none !important;
}
.banner-bref-2 {
  margin-top: -40px;
}
.banner-bref h1 {
  font-size: 20px;
  letter-spacing: 0px;
}
.pro-tab-list {
  height: auto;
  margin-bottom: 40px;
}
.pro-tab-list ul {
  display: block;
}
.pro-tab-list ul li {
  margin-bottom: 10px;
}
.offer-image-counter img {
  margin-right: 20PX;
  width: 180px;
}
.pro-countdown {
  float: right;
  margin-top: 15px;
}
.pro-countdown .cdown {
  height: 70px;
  margin-right: 0;
  padding: 18px 0;
  width: 70px;
}
.offer-content h1 {
  font-size: 16px;
  letter-spacing: 2px;
}
.sin-service {
  padding-left: 30px;
}
.sin-service .icon {
  margin-right: 15px;
}
.sin-service .icon i {
  font-size: 30px;
  height: 60px;
  line-height: 58px;
  width: 60px;
}
.sin-service .content h3 {
  font-size: 14px;
  margin: 0 0 5px;
}
.sin-service .content p {
  font-size: 12px;
}
.quick-pro-thumb {
  width: 40px;
}
.pro-details-price {
  width: 100%;
}
.pro-details-ratting {
  float: left;
  margin-top: 10px;
}
.pro-details-act-btn.btn-icon {
  margin-left: 10px;
}
/* Home 2 */
.sin-deal .deal-countdown {
  left: 2px;
}
.deal-pro-title {
  line-height: 20px;
}
.feature-product-area-2 {
  padding: 0 10px;
}
.promo-bref h1 {
  font-size: 30px;
  margin-top: 105px;
}
.promo-bref-2 {
  padding: 0 20px;
}
.promo-bref-2 h1 {
  font-size: 20px;
  margin-top: 50px;
}
.sin-promo:hover .promo-bref h1 {
  margin-top: 70px;
}
.sin-promo:hover .promo-bref-2 h1 {
  margin-top: 50px;
}
.promo-countdown {
  display: none;
}
.brand-slider .sin-brand img {
  margin: 0 auto;
}
/* Shop Page */
.short-by-wrap label {
  font-size: 12px;
}
.shop-toolbar-bottom .view-mode, .shop-toolbar-bottom .short-by {
  width: 100%;
}
.shop-toolbar-bottom .short-by {
  margin-top: 15px;
}
.list-pro-details {
  padding: 20px 15px;
}
.list-pro-title {
  line-height: 24px;
}
.list-pro-price {
  width: 100%;
}
.list-pro-ratting {
  float: left;
  margin-top: 15px;
}
.list-pro-act-btn.btn-icon {
  margin-left: 6px;
}
/* Product Details Page */
.pro-img-thumb {
  float: none;
  margin-bottom: 30px;
  margin-right: 0;
  width: 100%;
  overflow: hidden;
}
.pro-img-thumb.thumb-vertical a, .pro-img-thumb.thumb-horizontal a {
  display: block;
  float: left;
  margin-bottom: 0;
  margin-right: 10px;
  width: 60px;
}
.pro-img-thumb.thumb-vertical a:last-child, .pro-img-thumb.thumb-horizontal a:last-child {
  margin: 0;
}
.pro-details-color, .pro-details-quantity {
  width: 100%;
}
.pro-details-color {
  margin-bottom: 30px;
}
/* Cart Page */
.cart-button-cuppon .cart-action .button {
  display: block;
  margin-bottom: 15px;
  margin-right: 0;
}
.cart-button-cuppon .cart-action .button:last-child {
  margin-bottom: 0;
}
/* Contact Page */
#contact-map {
  height: 320px;
}
.sin-contact-info {
  text-align: center;
}
.sin-contact-info .icon {
  display: inline-block;
  float: none;
  margin-right: 0;
  margin-top: 0;
}
/* 404 Page */
.page-404 h3 {
  font-size: 12px;
}
.search-404 input[type="text"] {
  width: 170px;
}
/* Coming Soon */
.coming-soon h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.page-countdown .cdown {
  margin-bottom: 10px;
}
.subscribe-form input[type="text"], .subscribe-form input[type="submit"] {
  width: 100%;
}


}