@import url("css/font-awesome.min.css");
@import url("css/pe-icon-7-stroke.min.css");

.tab-shortcode li a {
    border: 1px solid #1b1b1b;
    color: #1b1b1b;
    display: block;
    font-family: roboto;
    line-height: 30px;
    margin-right: 10px;
    padding: 0 20px;
}
.tab-shortcode {
    margin-bottom: 50px;
}
.tab-shortcode li.active a {
    background: #ff6600 none repeat scroll 0 0;
    border-color: #ff6600;
    color: #fff;
}
.html-css pre {
  padding: 10px 30px;
}
.shortcode-content .map-contact {
  margin-bottom: 45px;
}