/*=============== Extra Large(xl) Device ===============*/
@media (min-width: 1200px) and (max-width: 1599px) {}

/*=============== 0 to 1199 Device ===============*/
@media (max-width: 1199px) {
    .slider-content {
        left: 0px;
        position: relative;
    }
    .slider-content h1 {
        margin-bottom: 30px;
    }

    /*== media query margin ==*/
    .mb-lg-40 {
        margin-bottom: 40px;
    }

}

/*=============== Large(LG) Device ===============*/
@media (min-width: 992px) and (max-width: 1199px) {
    .header-menu-list > li:not(:last-child) {
        margin-right: 45px;
    }
    .quick-thumb-content .modal-lg {
        margin: 0 auto;
    }
    .header-menu-list ul.ht-dropdown.megamenu {
        left: 0;
        width: 830px;
    }
    .slider-style-two .slide {
        height: 535px;
    }
    .slider-style-two .slider-content {
        margin: auto 60px 90px auto;
    }
    .slider-style-two .slider-content h1 {
        font-size: 30px;
    }
    .watch-content h2 {
        font-size: 32px;
    }
    .main-watch-content {
        padding: 50px 30px;
    }
    .footer-logo p {
        max-width: 54%;
    }
    .slider-content h1 {
      font-size: 35px;
      margin-bottom: 15px;
    }
    .small-btn {
      margin-top: 25px;
    }
    .small-btn a, .pro-add-cart a {
      padding: 10px 27px;
    }
    .sldier-right-img {
        max-width: 320px;
        width: 100%;
    }
    .fullscreen {
      height: auto;
      padding: 60px 0 100px;
    }

}

/*=============== Medium (md) Device ===============*/

@media (min-width: 768px) and (max-width: 991px) {
    .quick-thumb-content .modal-lg {
        margin: 0 auto;
    }
    .same-facilities.text-2 {
        bottom: 20%;
        left: -20px;
    }
    .same-facilities.text-4 {
        padding-left: 19px;
        right: -21px;
    }
    .slider-style-three .slider-content {
        left: 30px;
    }
    .small-btn {
      margin-top: 25px;
    }
    .small-btn a, .pro-add-cart a {
      padding: 10px 27px;
    }
    .slider-style-two .slider-content {
        margin: auto 20px 95px auto;
    }
    .slider-style-two .slider-content h6 {
        font-size: 16px;
    }
    .slider-style-two .slider-content h1 {
        font-size: 22px;
        margin-top: 5px;
    }
    /*== media query margin ==*/
    .mb-md-30 {
        margin-bottom: 30px;
    }
    .mt-md-40 {
        margin-top: 40px;
    }
}

/*=============== 0 to 991 ===============*/

@media (max-width: 991px) {
    .padding-area {
        padding-left: 0;
        padding-right: 0;
    }
    .setting-box > ul > li {
        padding: 15px 0;
    }
    .slider-style-two .slide {
        height: 400px;
        position: relative;
    }
    .header-top {
        padding: 30px 0;
    }
    .main-watch-content {
        padding: 35px 70px 35px 40px;
    }
    .watch-content .countdown p {
        -webkit-box-shadow: 2px 2px 0 0 #dcddde;
        box-shadow: 2px 2px 0 0 #dcddde;
        font-size: 22px;
        margin-bottom: 14px;
        padding: 10px 15px;
    }
    .watch-pricing .old-price {
        font-size: 18px;
    }
    .watch-pricing .current-price {
        font-size: 22px;
    }
    .watch-pricing {
        margin-top: 30px;
    }
    .buy-now {
        margin-left: 15px;
        padding: 5px 20px;
    }
    .buy-now {
        padding: 6px 25px;
        margin-left: 15px;
    }
    .watch-content .countdown .count span {
        font-size: 16px;
    }
    .watch-content h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .watch-content .countdown {
        margin-top: 25px;
    }

    .pro-style-changer .single-ponno-product .pro-content {
        padding: 15px;
    }
    .single-hot-deal {
        padding: 80px 70px;
    }
    .footer-logo p {
        max-width: 70%;
    }
    .product-rating i {
        font-size: 14px;
    }
    .pt-80 {
        padding-top: 60px;
    }
    .pb-80 {
        padding-bottom: 60px;
    }
    .ptb-80 {
        padding: 60px 0;
    }
    .newsletter-box .subscribe {
        width: 100%;
    }
    .fullscreen {
      height: auto;
      padding: 60px 0 80px;
    }
    .semi-title h3 {
        font-size: 22px;
    }
    .multi-banner .cat-content a {
        font-size: 11px;
        padding: 8px 15px;
    }
    .categorie-tabs-list li a {
        margin-left: 30px;
    }
    .quick-thumb-content .modal-lg {
        margin: 0 auto;
    }
    .cart-box > ul > li {
        padding: 20px 0;
    }
    .slider-content h1 {
        font-size: 35px;
        margin-bottom: 10px;
        line-height: 1.2;
    }
    .slider-content h6 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .cart-box > ul > li > a span + span.total-pro {
        top: 20px;
    }

    .pro-price {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 30px;
    }
    .deal-pro-content h4 a {
        font-size: 30px;
        line-height: 1.1;
    }
    .logo img {
        max-width: 135px;
    }
    .categorie-search-box input {
        font-size: 15px;
        height: 45px;
    }
    .categorie-search-box button {
        height: 45px;
        line-height: 50px;
    }
    .categorie-search-box button::before {
        height: 25px;
    }
    .cart-box .total-pro {
        font-size: 13px;
        line-height: 18px;
        padding: 5px 20px 5px 50px;
    }
    .goole-map > div {
        min-height: 400px;
    }
    .register-contact,
    .register-form,
    .login-form {
        padding: 25px 15px;
    }
    .skill-content {
        margin-left: 0;
    }
    .error-text h1 {
        font-size: 150px;
        line-height: 110px;
    }
    .error-text h2 {
        font-size: 25px;
        line-height: 25px;
    }
    .error-text > p {
        font-size: 17px;
    }
    .error-text > p {
        padding: 0;
    }
    .elomus-blog .container-fluid {
        padding: 0 15px;
    }
    .blog-left-sidebar-desc {
        padding-left: 0;
    }
    .blog-right-sidebar-desc {
        padding-right: 0;
    }
    .blog-details.blog-details-two {
        padding-left: 0;
        padding-right: 0;
    }
    .blog-details {
        padding-right: 0;
    }
    .single-comment {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .dashboard-upper-info {
        padding-top: 20px;
    }
    .dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
        border-right: 0 none;
    }
    .dashboard-upper-info .d-single-info {
        padding: 0 0 20px;
    }
    .dashboard-content {
        padding: 15px;
    }
    .dashboard-content #orders .table-responsive .table > tbody > tr > td {
        min-width: 130px;
    }
    .dashboard-content #downloads .table-responsive .table > tbody > tr > td {
        min-width: 170px;
    }
    .table-content table td.product-name {
        min-width: 230px;
    }
    .cart_totals h2 {
        font-size: 22px;
        margin: 0 0 25px;
    }
    .wc-proceed-to-checkout a {
        font-size: 12px;
        padding: 0 15px;
    }
    .ship-different-title h3 label {
        font-size: 18px;
        margin-right: 5px;
    }
    .cart-main-area.wish-list .product-add-to-cart a {
        font-size: 13px;
        padding: 8px 15px;
        width: 160px;
    }
    .slider-activation .owl-dots {
        bottom: 20px;
    }
    .popup_wrapper {
        display: none;
    }
    /*== media query margin ==*/
    .mb-all-15 {
        margin-bottom: 15px;
    }
    .mb-all-30 {
        margin-bottom: 30px;
    }
    .mb-all-40 {
        margin-bottom: 40px;
    }
    .mt-all-30 {
        margin-top: 30px;
    }
    .mt-all-40 {
        margin-top: 40px;
    }
    .pt-all-30 {
        padding-top: 30px;
    }
}

/*=============== Small (sm) Device ===============*/

@media (max-width: 767px) {
    .logo {
        float: left;
    }
    .cart-box {
        float: right;
    }
    .slider-style-two .slider-content {
        margin: 0;
        max-width: 100%;
        text-align: center;
        width: 100%;
        z-index: 5;
    }
    .slider-style-two .slide:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .slider-style-two .slider-content h6,
    .slider-style-two .slider-content h1 {
        color: #fff;
    }
    .pro-tabs-area li a {
        font-size: 16px;
        line-height: 35px;
        padding: 0 20px;
    }
    .toolbar-sorter label {
        margin-bottom: 5px;
        margin-right: 0;
    }
    .single-hot-deal {
        padding: 80px 30px 45px;
    }
    .sldier-right-img {
      margin: 0 auto 40px;
      max-width: 270px;
      width: 100%;
    }
    .deal-text h2 {
        font-size: 22px;
        font-weight: 400;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .deal-text h6 {
        font-size: 15px;
    }
    .bg-image-1 {
        background-position: left center;
    }
    .small-btn {
        margin-top: 25px;
    }
    .error-text h1 {
        font-size: 130px;
        line-height: 100px;
    }

    .error-text h2 {
        font-size: 22px;
        line-height: 22px;
    }
    .error-text > p {
        font-size: 14px;
        line-height: 24px;
    }
    .slider-style-two .slider-content h6 {
        font-size: 16px;
    }
    .slider-style-two .slider-content h1 {
        font-size: 22px;
        margin-top: 5px;
    }
    .reply-comment {
        margin-left: 0;
    }
    .riview-field input,
    .riview-field textarea {
        width: 100%;
    }
    .cat-content a {
        padding: 15px 33px;
    }
    .footer-bottom .row {
        display: block;
        text-align: center;
    }

    #list-view .pro-add-cart a {
        font-size: 12px;
        line-height: 34px;
        padding: 0 20px;
    }
    #list-view .single-elomous-product {
        display: block;
    }
    #list-view .single-elomous-product .pro-img {
        padding-right: 0;
    }
    #list-view .single-elomous-product .pro-content {
        padding-left: 0;
    }
    .single-footer .recent-img {
      margin-right: 20px;
      width: 60px;
    }
    .single-footer .recent-desc h6 a {
      font-size: 16px;
      line-height: 25px;
    }
    .footer-list li, .footer-list li a {
      font-size: 17px;
    }
    .footer-list li, .footer-list li a {
      font-size: 17px;
    }
    .footer-title {
      margin-bottom: 30px;
    }
    /*== small device margin ==*/
    .mb-sm-40 {
        margin-bottom: 40px;
    }
    .mt-sm-40 {
        margin-top: 40px;
    }
    .mt-sm-15 {
        margin-top: 10px;
    }
    .mt-sm-30 {
        margin-top: 30px;
    }
    .mt-sm-35 {
        margin-top: 35px;
    }
    .mb-sm-30 {
        margin-bottom: 30px;
    }
    .mb-sm-15 {
        margin-bottom: 15px;
    }

}

/*=============== Tablet Device ===============*/

@media (max-width: 575px) {
    .header-top-right > ul > li > a {
        font-size: 13px;
    }
    .section-title h2 {
        font-size: 25px;
        text-transform: capitalize;
    }
    .main-watch-content {
        padding: 40px 15px;
    }
    .watch-content h2 {
        font-size: 25px;
    }

    .social-icon li a {
        font-size: 13px;
        padding-right: 6px;
    }
    .deal-pro-content h4 a {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .deal-pro-content .price {
        font-size: 16px;
        margin: 0;
    }
    .discount-price {
        font-size: 17px;
        line-height: 36px;
    }
    .cart-box-width {
        max-height: 250px;
        overflow-y: auto;
        right: 20px;
        width: 270px;
    }
    .slider-style-three .slider-content {
        left: 0px;
    }
    .testmonial-content > p {
        margin: auto auto 25px;
    }
    .login-header {
        font-size: 25px;
    }
    .social-title {
        font-size: 16px;
    }
    .blog-dtl-header {
        line-height: 1.4;
    }
    .blog-dtl-header {
        font-size: 23px;
    }
    .show-items {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    .grid-list-top span {
        margin-bottom: 0;
    }
    #list-view .single-ponno-product {
        display: block;
    }
    #list-view .single-ponno-product .pro-img {
        padding-right: 0;
    }
    .watch-content .countdown .count:not(:last-child) {
        margin-right: 10px;
    }
    /*== mobile device margin ==*/
    .mb-xsm-40 {
        margin-bottom: 40px;
    }
    .mb-xsm-30 {
        margin-bottom: 30px;
    }
    .mb-xsm-10 {
        margin-bottom: 10px;
    }
}

/*=============== Mobile Device ===============*/

@media (max-width: 420px) {
    #list-view .single-ponno-product {
        padding: 15px;
    }
    .buy-now {
        margin-top: 10px;
    }
    #list-view .single-ponno-product .pro-content {
        padding-left: 0;
    }
    .review-list li label {
        display: block;
        left: 0;
        line-height: 30px;
    }
    .slider-style-two .slide {
        height: auto;
        position: relative;
        padding: 100px 0;
    }
    .nav.tabs-area.pro-tabs-area::before {
        display: none;
    }
    .nav.tabs-area.pro-tabs-area {
        display: inline-block;
        text-align: center;
    }
    .main-product-tab-area {
        text-align: center;
    }
    .deal-text p {
        padding-right: 0;
    }
    .owl-nav div {
        display: none;
    }
    .small-btn a {
        font-size: 16px;
        padding: 10px 25px;
    }
    .countdown .count {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    .single-hot-deal {
        padding: 40px 15px 15px;
    }
    .countdown .count:not(:last-child) {
        margin-right: 0;
    }
    .slider-content h1,
    .about-title h3 {
        font-size: 25px;
    }
    .count span,
    .count p {
        font-size: 20px;
    }
    .countdown {
        margin-top: 30px;
    }
    .categorie-tabs-area li:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 5px;
    }
    .quantity-pro {
        margin-left: 0;
    }
    .shop-area #grid-view [class*="col-"] {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .our-team .row [class*="col-"] {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .tab-content.thumb-content {
        padding: 30px 15px;
    }
    #search-form {
        width: 100%;
    }
    .toolbar-sorter {
        width: 100%;
    }
    .error-text h1 {
        font-size: 90px;
        line-height: 60px;
    }
    .footer-logo p {
        max-width: 100%;
    }
    .error-text h2 {
        font-size: 18px;
        line-height: 18px;
    }
    .author .single-comment {
        padding: 15px;
    }
    .your-order {
        padding: 30px 15px 45px;
    }
    .ship-different-title h3 label {
        font-size: 16px;
        margin-right: 2px;
    }
    .grid-list-view span {
        padding-left: 20px;
    }
    .review-title {
        font-size: 16px;
    }
    .buttons-cart input {
        margin-bottom: 20px;
    }
    .social-share-list li a {
        height: 35px;
        line-height: 35px;
        width: 35px;
        font-size: 14px;
    }
    .horizontal-content {
        display: block;
        text-align: center;
        overflow: hidden;
    }
    .horizontal-content .categorie-tabs-list li a {
        margin-left: 0;
        margin: 0 8px;
    }
    .horizontal-content .semi-title {
        margin-bottom: 15px;
    }
    .horizontal-content ul.nav {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .cart-box > ul > li:not(:first-child) {
        margin-left: 20px;
    }
    .cart-box > ul > li > a span + span.total-pro {
        font-size: 11px;
        height: 14px;
        left: 10px;
        line-height: 14px;
        top: 14px;
        width: 14px;
    }
    #list-view .single-elomous-product {
        padding: 15px;
    }
    #list-view .single-elomous-product .pro-actions-link a {
        height: 35px;
        line-height: 35px;
        margin-right: 5px;
        width: 35px;
    }
    #list-view .single-elomous-product .pro-actions-link {
        margin-left: 5px;
    }
    #list-view .pro-add-cart a {
        font-size: 11px;
        line-height: 32px;
        padding: 0 17px;
    }
    #list-view .single-elomous-product .pro-actions {
        margin-top: 20px;
    }
    .blogquote.blockquote {
        padding: 25px;
    }
    .sldier-right-img {
      max-width: 190px;
    }
    .fullscreen {
        padding: 80px 0;
    }
    .rating-summary li {
      line-height: 25px;
    }
    .logo img {
      max-width: 125px;
    }
    .cart-box .total-pro::before {
      font-size: 22px;
    }
    /*== very xtra small mobile device margin ==*/
    .mb-xxs-30 {
        margin-bottom: 30px;
    }

}