// main: style.scss

/*--------------------------------------------------------------
# Buy Tickets Section
--------------------------------------------------------------*/
#buy-tickets {
  padding: 60px 0;

  .card {
    border: none;
    border-radius: 5px;
    transition: all  0.3s ease-in-out;
    box-shadow: 0 10px 25px 0 rgba($heading-color, 0.1);

    &:hover {
      //transform: scale(1.05);
      // margin-top: -15px;
      // margin-bottom: 15px;
      box-shadow: 0 10px 35px 0 rgba($heading-color, .20);
    }

    hr {
      margin: 25px 0;
    }
    
    .card-title {
      margin: 10px 0;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: bold;
    }
    
    .card-price {
      font-size: 48px;
      margin: 0;
    }
  
    ul li {
      margin-bottom: 20px;
    }
    
    .text-muted {
      opacity: 0.7;
    }
    
    .btn {
      font-size: 15px;
      border-radius: 50px;
      padding: 10px 40px;
      transition: all 0.2s;
      background-color: $accent-color;
      border: 0;
      color: #fff;
      &:hover {
        background-color: darken($accent-color, 10%);
      }
    }
  }

  #buy-ticket-modal {

    input, select {
      border-radius: 0;
    }

    .btn {
      font-size: 15px;
      border-radius: 50px;
      padding: 10px 40px;
      transition: all 0.2s;
      background-color: $accent-color;
      border: 0;
      color: #fff;
      &:hover {
        background-color: darken($accent-color, 10%);
      }
    }

  }

}
