// main: style.scss

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
#contact {
  padding: 60px 0;

  .contact-info {
    margin-bottom: 20px;
    text-align: center;
    i {
      font-size: 48px;
      display: inline-block;
      margin-bottom: 10px;
      color: $accent-color;
    }

    address, p {
      margin-bottom: 0;
      color: lighten($heading-color,15%);
    }

    h3 {
      font-size: 18px;
      margin-bottom: 15px;
      font-weight: bold;
      text-transform: uppercase;
      color: lighten($heading-color,15%);
    }

    a {
      color: lighten($heading-color,50%);
      &:hover {
        color: $accent-color;
      }
    }
  }

  .contact-address, .contact-phone, .contact-email {
    margin-bottom: 20px;
    @media (min-width: 768px) {
      padding: 20px 0;
    }
  }

  @media (min-width: 768px) {
    .contact-phone {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }

  .form {

    #sendmessage {
      color: $accent-color;
      border:1px solid $accent-color;
      display:none;
      text-align:center;
      padding:15px;
      font-weight:600;
      margin-bottom:15px;
    }

    #errormessage {
      color: red;
      display:none;
      border:1px solid red;
      text-align:center;
      padding:15px;
      font-weight:600;
      margin-bottom:15px;
    }

    #sendmessage.show, #errormessage.show, .show {
      display:block;
    }

    .validation {
      color: red;
      display:none;
      margin: 0 0 20px;
      font-weight:400;
      font-size:13px;
    }

    input, textarea {
      padding: 10px 14px;
      border-radius: 0;
      box-shadow: none;
      font-size: 15px;
    }

    button[type="submit"] {
      background: $accent-color;
      border: 0;
      padding: 10px 40px;
      color: #fff;
      transition: 0.4s;
      border-radius: 50px;
      cursor: pointer;
      &:hover {
        background: darken($accent-color, 10%);
      }
    }
  }
}
