// main: style.scss

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/

#gallery {
  padding: 60px;
  overflow: hidden;
  
  .owl-nav, .owl-dots {
    margin-top: 25px;
    text-align: center;
  }

  .owl-item {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }

  .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }

  .owl-dot.active {
    background-color: $accent-color;
  }

  .gallery-carousel {

    .owl-stage-outer {
      overflow: visible;
    }

    .center  {
      border: 6px solid $accent-color;
      margin: -10px;
      box-sizing: content-box;
      padding: 4px;
      background: #fff;
      z-index: 1;
    }
  }

}
