// main: style.scss

/*--------------------------------------------------------------
# Hotels Section
--------------------------------------------------------------*/

#hotels {
  padding: 60px 0;

  .hotel {
    border: 1px solid lighten($heading-color, 85%);
    background: #fff;
    margin-bottom: 30px;
    &:hover {
      .hotel-img img {
        transform: scale(1.1);
      }
    }
  }

  .hotel-img {
    overflow: hidden;
    margin-bottom: 15px;
    img {
      transition: 0.3s ease-in-out;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 20px;
  }

  a {
    color: lighten($heading-color, 20%); 
    &:hover {
      color: $accent-color;
    }
  }

  .stars {
    padding: 0 20px;
    margin-bottom: 5px;

    i {
      color: rgb(255, 195, 29);
    }
  }

  p {
    padding: 0 20px;
    margin-bottom: 20px;
    color: $heading-color;
    font-style: italic;
    font-size: 15px;
  }
}
