// main: style.scss

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 100vh;
  background: url(../img/intro-bg.jpg) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  @media (min-width: 1024px) {
    background-attachment: fixed;
  }
 
  &:before {
    content: "";
    background: rgba($heading-color, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
    @media (max-width: 991px) {
      top: 70px;
    }
  }

  h1 {
    color: #fff;
    font-family: $accent-font;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
    
    span {
      color: $accent-color;
    }
    @media (max-width: 991px) {
      font-size: 34px;
    }
  }

  p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }

  .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient( $accent-color 50%, rgba(101, 111, 150, 0.15) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
  }

  .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .play-btn:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(163, 163, 163, 0.4);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  .play-btn:hover::after {
    border-left: 15px solid $accent-color;
    transform: scale(20);
  }

  .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
  }


  .about-btn {
    font-family: $heading-font;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    animation-delay: 0.8s;
    border: 2px solid $accent-color;

    &:hover {
      background: $accent-color;
      color: #fff;
    }
  }

}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1
  }
  100% {
    transform: scale(1, 1);
    opacity: 0
  }
}
