// main: style.scss

/*--------------------------------------------------------------
# supporters Section
--------------------------------------------------------------*/

#supporters {
  padding: 60px 0;

  .supporters-wrap {
    border-top: 1px solid lighten($heading-color, 85%);
    border-left: 1px solid lighten($heading-color, 85%);
    margin-bottom: 30px;
  }

  .supporter-logo {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lighten($heading-color, 85%);
    border-bottom: 1px solid lighten($heading-color, 85%);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    height: 160px;
    &:hover img {
      transform: scale(1.2);
    }
  }

  img {
    transition: all 0.4s ease-in-out;
  }
}
