// main: style.scss

/*--------------------------------------------------------------
# Subscribe Section
--------------------------------------------------------------*/

#subscribe {
  padding: 60px;
  background: url(../img/subscribe-bg.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    background:rgba($heading-color, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: 1024px) {
    background-attachment: fixed;
  }


  .section-header h2, p {
    color: #fff;
  } 

  input {
    background: #fff;
    color: $heading-color;
    border: 0;
    outline: none;
    margin: 0;
    padding: 9px 20px;
    border-radius: 50px;
    font-size: 14px;
    @media (min-width: 767px) {
      min-width: 400px;
    }
  }
  
  button {
    border: 0;
    padding: 9px 25px;
    cursor: pointer;
    background: $accent-color;
    color: #fff;
    transition: all 0.3s ease;
    outline: none;
    font-size: 14px;
    border-radius: 50px;
    &:hover {
      background: darken($accent-color, 10%);
    }

    @media (max-width: 460px) {
      margin-top: 10px;
    }
  }
  
}
