// main: style.scss
/// Default color variables

$accent-color: #f82249;
$heading-color: #060c22;
$text-color: #2f3138;

/// Fonts Variables
$accent-font: 'Raleway', sans-serif;
$heading-font: 'Raleway', sans-serif;
$text-font: 'Open Sans', sans-serif;
