// main: style.scss

/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/

#venue {
  padding: 60px 0;

  .container-fluid {
  
    margin-bottom: 3px;
  }

  .venue-map {
    iframe {
      width: 100%;
      height: 100%;
      min-height: 300px;
    }
  }

  .venue-info {
    background: url('../img/venue-info-bg.jpg') top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;

    &:before {
      content: "";
      background:rgba(#0d1429, 0.8);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }

    h3 {
      font-size: 36px;
      font-weight: 700;
      color: #fff;
      @media (max-width: 574px) {
        font-size: 24px;
      }
      
    }

    p {
      color: #fff;
      margin-bottom: 0;
    }
  }

  .venue-gallery-container {
    padding-right: 12px;
  } 

  .venue-gallery {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;

    img {
      transition: all ease-in-out 0.4s;
    }

    &:hover img {
      transform: scale(1.1);
    }

  }
}
