<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Header Eight - Medical Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="css/custom.css">


    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start of Header Top Area -->
        <header id="header-8" class="header-style-8">
            <!-- Start of Header Top Area -->
            <div class="header-top bg-theme">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="header-top-left">
                                <ul class="hotline-address">
                                    <li><a href="#"><i class="zmdi zmdi-phone"></i><span>Hotline  (+123) 45 67 89 21</span></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-phone"></i><span>Hotline  (+123) 45 67 89 21</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Header Top Area -->
            <!-- Start of Header Area -->
            <div id="sticky-header-with-topbar" class="ml-header ml-header-top hidden-xs bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="header-content clearfix">
                            <div class="col-md-2 col-sm-12 col-lg-2">
                                <div class="logo sm-center">
                                    <a href="index.html">
                                        <img src="images/logo/medilearn-html-templete.png" alt="logo image">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-12 col-lg-10">
                                <nav class="mainmenu-container">
                                    <ul class="main-menu">
                                        <li class="drop"><a href="index.html">Home</a> 
                                            <ul class="dropdown">
                                                <li><a href="index-animation-text-1.html">home animated text 1</a></li>
                                                <li><a href="index-animation-text-2.html">home animated text 2</a></li>
                                                <li><a href="index-animation-text-3.html">home animated text 3</a></li>
                                                <li><a href="index-animation-text-4.html">home animated text 4</a></li>
                                                <li><a href="index-video-bg.html">home video bg</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About</a></li>
                                        <li class="drop"><a href="popular-courses.html">Courses</a>
                                            <ul class="dropdown">
                                                <li><a href="popular-courses-two-column.html">courses two column</a></li>
                                                <li><a href="popular-courses-three-column.html">courses three column</a></li>
                                            </ul>
                                        </li>
                                        <li class="drop"><a href="medical-service.html">Services</a>
                                            <ul class="dropdown">
                                                <li><a href="medical-service-two-column.html">service two column</a></li>
                                                <li><a href="medical-service-three-column.html">service three column</a></li>
                                                <li><a href="medical-service-four-column.html">service four column</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="our-events-page.html">Events</a>
                                        </li>
                                        <li class="drop"><a href="blog.html">News</a>
                                            <ul class="dropdown">
                                                <li><a href="blog-two-column.html">Blog two column</a></li>
                                                <li><a href="blog-three-column.html">Blog three column</a></li>
                                                <li><a href="blog-four-column.html">Blog four column</a></li>
                                            </ul>
                                        </li>
                                        <li class="drop"><a href="#">Pages</a>
                                            <ul class="dropdown">
                                                <li class="drop"><a href="#">Header</a>
                                                    <ul class="dropdown smright">
                                                        <li><a href="header-one.html">header one</a></li>
                                                        <li><a href="header-two.html">header two</a></li>
                                                        <li><a href="header-three.html">header three</a></li>
                                                        <li><a href="header-four.html">header four</a></li>
                                                        <li><a href="header-five.html">header five</a></li>
                                                        <li><a href="header-six.html">header six</a></li>
                                                        <li><a href="header-seven.html">header seven</a></li>
                                                        <li><a href="header-eight.html">header eight</a></li>
                                                        <li><a href="header-nine.html">header nine</a></li>
                                                        <li><a href="header-ten.html">header ten</a></li>
                                                    </ul>
                                                </li>
                                                <li class="drop"><a href="#">Footer</a>
                                                    <ul class="dropdown smright">
                                                        <li><a href="footer-one.html">footer one</a></li>
                                                        <li><a href="footer-two.html">footer two</a></li>
                                                        <li><a href="footer-three.html">footer three</a></li>
                                                        <li><a href="footer-four.html">footer four</a></li>
                                                        <li><a href="footer-five.html">footer five</a></li>
                                                        <li><a href="footer-six.html">footer six</a></li>
                                                        <li><a href="footer-seven.html">footer seven</a></li>
                                                        <li><a href="footer-eight.html">footer eight</a></li>
                                                        <li><a href="footer-nine.html">footer nine</a></li>
                                                        <li><a href="footer-ten.html">footer ten</a></li>
                                                    </ul>
                                                </li>
                                                <li class="drop"><a href="blog-details.html">blog details</a>
                                                    <ul class="dropdown smright">
                                                        <li><a href="blog-details-both-sidebar.html">Blog both sidebar</a></li>
                                                        <li><a href="blog-details-no-sidebar.html">Blog details full width</a></li>
                                                        <li><a href="blog-details-left-sidebar.html">Blog left sidebar</a></li>
                                                        <li><a href="blog-details-right-sidebar.html">Blog right sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="drop"><a href="service-details.html">Service Details</a>
                                                    <ul class="dropdown smright">
                                                        <li><a href="service-details-both-sidebar.html">Service both sidebar</a></li>
                                                        <li><a href="service-details-full-width.html">Service details full width</a></li>
                                                        <li><a href="service-details-left-sidebar.html">Service left sidebar</a></li>
                                                        <li><a href="service-details-right-sidebar.html">Service right sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="courses-details.html">Courses Details</a></li>
                                                <li><a href="event-details.html">Event Details</a></li>
                                                <li><a href="register.html">Register page</a></li>
                                                <li><a href="our-testimonial.html">Testimonial page</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-page.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <!-- End of Header Area -->
            <!-- Mobile-menu-area start -->
            <div class="mobile-menu-area hidden-md hidden-lg hidden-sm">
                <div class="fluid-container mobile-menu-container">
                    <div class="mobile-logo"><a href="index.html"><img src="images/logo/2.png" alt="Mobile logo"></a></div>
                    <div class="mobile-menu clearfix">
                        <nav id="mobile_dropdown">
                            <ul>
                                <li><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index-animation-text-1.html">home animated text 1</a></li>
                                        <li><a href="index-animation-text-2.html">home animated text 2</a></li>
                                        <li><a href="index-animation-text-3.html">home animated text 3</a></li>
                                        <li><a href="index-animation-text-4.html">home animated text 4</a></li>
                                        <li><a href="index-video-bg.html">home video bg</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="#">blog</a>
                                    <ul>
                                        <li><a href="blog.html">blog pages</a>
                                            <ul>
                                                <li><a href="blog-two-column.html">Blog two column</a></li>
                                                <li><a href="blog-three-column.html">Blog three column</a></li>
                                                <li><a href="blog-four-column.html">Blog four column</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog-details.html">blog details</a>
                                            <ul>
                                                <li><a href="blog-details-both-sidebar.html">Blog both sidebar</a></li>
                                                <li><a href="blog-details-no-sidebar.html">Blog details full width</a></li>
                                                <li><a href="blog-details-left-sidebar.html">Blog left sidebar</a></li>
                                                <li><a href="blog-details-right-sidebar.html">Blog right sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="popular-courses.html">Courses</a>
                                    <ul>
                                        <li><a href="popular-courses-two-column.html">courses two column</a></li>
                                        <li><a href="popular-courses-three-column.html">courses three column</a></li>
                                    </ul>
                                </li>
                                <li><a href="medical-service.html">Services</a>
                                    <ul>
                                        <li><a href="medical-service-two-column.html">service two column</a></li>
                                        <li><a href="medical-service-three-column.html">service three column</a></li>
                                        <li><a href="medical-service-four-column.html">service four column</a></li>
                                    </ul>
                                </li>
                                <li><a href="our-events-page.html">Events</a></li>
                                <li><a href="#">Structure</a>
                                    <ul>
                                        <li><a href="#">Header</a>
                                            <ul>
                                                <li><a href="header-one.html">header one</a></li>
                                                <li><a href="header-two.html">header two</a></li>
                                                <li><a href="header-three.html">header three</a></li>
                                                <li><a href="header-four.html">header four</a></li>
                                                <li><a href="header-five.html">header five</a></li>
                                                <li><a href="header-six.html">header six</a></li>
                                                <li><a href="header-seven.html">header seven</a></li>
                                                <li><a href="header-eight.html">header eight</a></li>
                                                <li><a href="header-nine.html">header nine</a></li>
                                                <li><a href="header-ten.html">header ten</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Footer</a>
                                            <ul>
                                                <li><a href="footer-one.html">footer one</a></li>
                                                <li><a href="footer-two.html">footer two</a></li>
                                                <li><a href="footer-three.html">footer three</a></li>
                                                <li><a href="footer-four.html">footer four</a></li>
                                                <li><a href="footer-five.html">footer five</a></li>
                                                <li><a href="footer-six.html">footer six</a></li>
                                                <li><a href="footer-seven.html">footer seven</a></li>
                                                <li><a href="footer-eight.html">footer eight</a></li>
                                                <li><a href="footer-nine.html">footer nine</a></li>
                                                <li><a href="footer-ten.html">footer ten</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="blog-details.html">blog details</a>
                                            <ul>
                                                <li><a href="blog-details-both-sidebar.html">Blog both sidebar</a></li>
                                                <li><a href="blog-details-no-sidebar.html">Blog details full width</a></li>
                                                <li><a href="blog-details-left-sidebar.html">Blog left sidebar</a></li>
                                                <li><a href="blog-details-right-sidebar.html">Blog right sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="service-details.html">Service Details</a>
                                            <ul>
                                                <li><a href="service-details-both-sidebar.html">Service both sidebar</a></li>
                                                <li><a href="service-details-full-width.html">Service details full width</a></li>
                                                <li><a href="service-details-left-sidebar.html">Service left sidebar</a></li>
                                                <li><a href="service-details-right-sidebar.html">Service right sidebar</a></li>
                                            </ul>
                                        </li>   
                                        <li><a href="courses-details.html">Courses Details</a></li>
                                        <li><a href="event-details.html">Event Details</a></li>
                                        <li><a href="register.html">Register page</a></li>
                                        <li><a href="our-testimonial.html">Testimonial page</a></li>
                                    </ul>
                                </li>
                                <li><a href="portfolio.html">Portfolio</a>
                                </li>
                                <li><a href="contact-page.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>  
                </div>
            </div>
            <!-- Mobile-menu-area end --> 
        </header>
        <!-- End of Header Top Area -->
        <!-- Start Bradcaump area -->
        <div class="ml-bradcaump-area ml-bradcaump-8 bg-3 ptb-100 smpb-50 xspt-60" data-black-overlay="5">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bradcaump-wrap text-center">
                            <h2 class="bradcaump-title">Header Eight</h2>
                            <nav class="bradcaump-inner">
                              <a class="breadcrumb-item" href="index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb-item active">Header Eight</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <div class="demo-content bg-white pt-90 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12 mb-30">
                        <p>It is a long established fact that a reader will be distracted by the readaible is an content of the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                        <p>It is a long established fact that a reader will be distracted by the readaible is an content of the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                        <p>It is a long established fact that a reader will be distracted by the readaible is an content of the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 mb-30">
                        <p>It is a long established fact that a reader will be distracted by the readaible is an content of the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                        <p>It is a long established fact that a reader will be distracted by the readaible is an content of the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                        <p>It is a long established fact that a reader will be distracted by the readaible is an content of the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 mb-30">
                        <p>It is a long established fact that a reader will be distracted by the readaible is an content of the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                        <p>It is a long established fact that a reader will be distracted by the readaible is an content of the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                        <p>It is a long established fact that a reader will be distracted by the readaible is an content of the page when looking at its layout. The point of using Lorem Ipsum is that it has a more less normal.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Area -->
        <footer id="ml-footer">
            <div class="footer-top">
                <div class="ml-footer-area ptb-100 ftr-bg ftr-bg-1 smptb-60 xsptb-40"> 
                    <div class="container">
                        <div class="row">
                            <div class="ml-footer-container">
                                <!--Start Single Footer wrap -->
                                <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
                                    <div class="ml-single-footer-widget">
                                        <div class="footer-logo">
                                            <img src="images/logo/2.png" alt="Footer logo">
                                        </div>
                                        <p class="footer-pra">Lorem ipsum dolor sit amet, consectetur adi elit, sed do eiusmod tempor incididunt ut lab et dolore magna aliqua. 
                                        </p>
                                        <div class="ml-footer-details">
                                            <!--Start Single Footer address -->
                                            <div class="single-footer-address">
                                                <div class="ml-footer-icon">
                                                    <i class="zmdi zmdi-pin"></i>
                                                </div>
                                                <div class="ml-footer-address">
                                                    <p>123 West Street,Melbourne Victoria 2000 Australia</p>
                                                </div>
                                            </div>
                                            <!--End Single Footer address -->
                                            <!--Start Single Footer address -->
                                            <div class="single-footer-address">
                                                <div class="ml-footer-icon">
                                                    <i class="zmdi zmdi-email"></i>
                                                </div>
                                                <div class="ml-footer-address">
                                                    <p><a href="mailto:www.yourmail.com">www.devitems@gmail.com</a></p>
                                                   <p>Fax:+ (123) 123 321 345</p>
                                                </div>
                                            </div>
                                            <!--End Single Footer address -->
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Footer wrap -->
                                <!--Start Single Footer wrap -->
                                <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
                                    <div class="ml-single-footer-widget latest-news">
                                        <h2 class="ml-footer-title">Latest News</h2>
                                        <!-- Start latest post -->
                                        <div class="ml-leatest-post">
                                            <div class="ml-single-ft-post clearfix">
                                                <div class="ft-post-thumb">
                                                    <img src="images/blog/sm-img/1.jpg" alt="latest images">
                                                </div>
                                                <div class="ft-post-details clearfix">
                                                    <h4 class="ft-post-title"><a href="#">Diabetes and Endocrino</a></h4>
                                                    <p class="ft-post-pra">Lorem ipsum dolor sit amet, consectetu adipisicing elit</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End latest post -->
                                        <!-- Start latest post -->
                                        <div class="ml-leatest-post">
                                            <div class="ml-single-ft-post clearfix">
                                                <div class="ft-post-thumb">
                                                    <img src="images/blog/sm-img/1.jpg" alt="latest images">
                                                </div>
                                                <div class="ft-post-details clearfix">
                                                    <h4 class="ft-post-title"><a href="#">Diabetes and Endocrino</a></h4>
                                                    <p class="ft-post-pra">Lorem ipsum dolor sit amet, consectetu adipisicing elit</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End latest post -->
                                        <!-- Start latest post -->
                                        <div class="ml-leatest-post">
                                            <div class="ml-single-ft-post clearfix">
                                                <div class="ft-post-thumb">
                                                    <img src="images/blog/sm-img/1.jpg" alt="latest images">
                                                </div>
                                                <div class="ft-post-details clearfix">
                                                    <h4 class="ft-post-title"><a href="#">Diabetes and Endocrino</a></h4>
                                                    <p class="ft-post-pra">Lorem ipsum dolor sit amet, consectetu adipisicing elit</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End latest post -->
                                    </div>
                                </div>
                                <!--End Single Footer wrap -->
                                <!--Start Single Footer wrap -->
                                <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
                                    <div class="ml-single-footer-widget our-course">
                                        <h2 class="ml-footer-title">Our Courses</h2>
                                        <ul class="ml-footer-menu">
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Diabetes And Endocrinology</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Laryngological</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Ophthalmology</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Pediatric Clinic</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Output Rehabilitation</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Output Surgery</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--End Single Footer wrap -->
                                <!--Start Single Footer wrap -->
                                <div class="col-md-4 hidden-lg hidden-sm hidden-xs">
                                    <div class="ml-single-footer-widget our-course">
                                        <h2 class="ml-footer-title">Our Courses</h2>
                                        <ul class="ml-footer-menu">
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Diabetes And Endocrinology</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Laryngological</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Ophthalmology</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Pediatric Clinic</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Output Rehabilitation</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Output Surgery</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--End Single Footer wrap -->
                                <!--Start Single Footer wrap -->
                                <div class="col-md-4 hidden-lg hidden-sm hidden-xs">
                                    <div class="ml-single-footer-widget our-course">
                                        <h2 class="ml-footer-title">Our Courses</h2>
                                        <ul class="ml-footer-menu">
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Diabetes And Endocrinology</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Laryngological</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Ophthalmology</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Pediatric Clinic</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Output Rehabilitation</a></li>
                                            <li><a href="#"><i class="zmdi zmdi-caret-right"></i>Output Surgery</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--End Single Footer wrap -->
                                <!--Start Single Footer wrap -->
                                <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
                                    <div class="ml-single-footer-widget">
                                        <h2 class="ml-footer-title">Subscribe</h2>
                                        <div class="ft-social-icon-area">
                                            <p class="ft-pra">Lorem ipsum dolor sit amet, consectetur adi elit, sed do eiusmod tempor incididunt</p>
                                            <div class="input-box">
                                                <input type="email" name="mail" placeholder="Mail*">
                                                <button class="send-btn"><i class="zmdi zmdi-mail-send"></i></button>
                                            </div>
                                        </div>
                                        <!-- Start Social icon -->
                                        <ul class="ml-social-icon">
                                            <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-skype"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                        </ul>
                                        <!-- End Social icon -->
                                    </div>
                                </div>
                                <!--End Single Footer wrap -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="footer-bottom-area bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ml-footer-bootem">
                                    <div class="ft-btm-inner">
                                        <p>Copyright © 2017 <a href="https://devitems.com">Devitems</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="js/plugins.js"></script>
    <script src="js/slick.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="js/main.js"></script>

</body>

</html>