<!doctype html>
<html class="no-js" lang="">
    <head>
		<!-- Basic page needs
		============================================ -->	
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Checkout | Jessica</title>
        <meta name="description" content="">
		<!-- Mobile specific metas
		============================================ -->		
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google font CSS
		============================================ -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
		<!-- Favicon
		============================================ -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
		<!-- All CSS FilE -->
		<!-- sidr mobile menu CSS
		============================================ -->
        <link rel="stylesheet" href="css/jquery.sidr.light.css">
		<!-- Bootstrap CSS
		============================================ -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- animate css -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- jquery-ui CSS
		============================================ -->
        <link rel="stylesheet" href="css/jquery-ui.css">
		<!-- fancybox CSS
		============================================ -->
        <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css">	
		<!--bxslider CSS
		============================================ -->
        <link rel="stylesheet" href="css/jquery.bxslider.min.css">	
		<!-- font-awesome CSS
		============================================ -->
        <link rel="stylesheet" href="css/font-awesome.min.css">	
		<!-- nivo-slider css
        ============================================ -->
        <link rel="stylesheet" href="lib/css/nivo-slider.css">	
		<!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="css/owl.carousel.css">
		<!-- normalize CSS
		============================================ -->		
        <link rel="stylesheet" href="css/normalize.css">
		<!-- main CSS
		============================================ -->		
        <link rel="stylesheet" href="css/main.css">
		<!-- style CSS
		============================================ -->			
        <link rel="stylesheet" href="style.css">
		<!-- responsive CSS
		============================================ -->			
        <link rel="stylesheet" href="css/responsive.css">
		<!-- modernizr js
		============================================ -->		
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<!-- ADD YOUR SITE OR APPLICATION CONTENT HERE -->
			
	<!-- Preloader -->
	<div id="preloader">
	</div>	
	<!--START HEADER TOP AREA  -->
	<div class="header_top_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 ">
					<div class="header_top">
						<div class="header_top_left pull-left ">
							<p>Default welcome msg!</p>
						</div>
						<div class="header_top_right_menu pull-right ">
							<ul>
								<li><a href="">Blog</a></li>
								<li><a href="">Shop</a></li>
								<li><a href="">Contact Us</a></li>
								<li><a href="">Login</a></li>
							</ul>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
	<!--END HEADER TOP AREA  -->
	
	<!--START HEADER TOP AREA  -->
	<div class="header_area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3 ">
						<div class="phone_area">
							<p><i class="fa fa-phone"></i> 
								<a href="tel:"> <b>Call Us Free </b> (+80) 123 456 789 </a> 
							</p>
						</div>		
					</div>
					<div class="col-lg-3 col-md-3 col-sm-2 ">
						<div class="logo">
							<!--MOBILE MENU TRIGER-->
								<div class="mobilemenu_icone">
									<a id="mobile-menu" href="#sidr"><i class="fa fa-bars"></i></a>
								</div>
							<!--MOBILE MENU TRIGER-->
							<a href="index.html"><img src="img/logo.png" alt="" /></a>
						</div>			
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 ">
						<div class="top_cat">
							<div class="Category">
								<p>Category</p>
								<div class="sub_cat">
									<ul>
										<li><a href="">Accessories</a></li>
										<li><a href="">Boys</a></li>
										<li><a href="">Dresses</a></li>
										<li><a href="">Gift</a></li>
										<li><a href="">Girls</a></li>
										<li><a href="">Jewellery</a></li>
										<li><a href="">Men</a></li>
										<li><a href="">&nbsp;&nbsp;&nbsp;Shirts</a></li>
										<li><a href="">Mobile</a></li>
										<li><a href="">Women</a></li>
										<li><a href="">&nbsp;&nbsp;&nbsp;Tops</a></li>
									</ul>
								</div>
							</div>
							<div class="search">
								<input type="text" placeholder="Search…" />
								<button type="submit">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>		
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 ">
						<div class="cart-wishlist">
							<ul>
								<li>
									<a href="#">
										<div class="wishlist">
											<div class="wish-list-inner">
												<i class="fa fa-heart"></i>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="wishlist cart-inner">
											<div class="cart-icon">
												<i class="fa fa-shopping-cart"> </i>
												<div class="cart-count text-center">
														<strong>2</strong>
												</div>
											</div>
										</div>	
									</a>		
									<div class="cart-sub">
										<div class="all_carts_item">
											<div class="row mini-cart-item ">
													<a href="#" class="cart_list_product_img">
														<img class="attachment-shop_thumbnail" src="img/cart/1.jpg" alt="04" />
													</a> 
													<div class="mini-cart-info">
														<a href="#" class="cart_list_product_title">Floral Print Buttoned</a>
														<div class="cart_list_product_quantity">2 x <span class="amount">$25.00</span></div> 
													</div>
													<a title="Remove this item" class="remove" href="#"><i class="fa fa-trash-o"></i></a> 
											</div>
											<div class="row mini-cart-item ">
													<a href="#" class="cart_list_product_img">
														<img class="attachment-shop_thumbnail" src="img/cart/2.jpg" alt="04"  />
													</a> 
													<div class="mini-cart-info">
														<a href="#" class="cart_list_product_title">Night Sky Print</a>
														<div class="cart_list_product_quantity">2 x <span class="amount">$40.00</span></div> 
													</div>
													<a title="Remove this item" class="remove" href="#"><i class="fa fa-trash-o"></i></a> 
											</div>
										 </div>
										<div class="minicart_total_checkout">                                        
											Subtotal<span><span class="amount">$80.00</span></span>                                   
										</div>
										<div class="btn-mini-cart inline-lists">
											<a class="button btn-viewcart" href="shopping-cart.html">View Cart</a>
											<a title="Checkout" class="button btn-checkout" href="checkout.html">Checkout</a>
										</div>
									</div>
								</li>
							</ul>
						</div>		
					</div>
				</div>
			</div>
		</div>
	<!--END HEADER TOP AREA  -->
	
	<!--MOBILE MENU START -->
	<div id="sidr">
		<nav>
			<ul>
				<li>
					<a href="index.html">HOME <i class="fa fa-angle-down"></i> </a>
					<!-- for drop down menu -->
					<ul class="nav-dropdown">
						<li><a href="index-2.html"> Home 2</a></li>
						<li><a href="index-3.html"> Home 3</a></li>
						<li><a href="index-4.html"> Home Lookbook</a></li>
					</ul>
				</li>
				<li>
					<a href="">Women <i class="fa fa-angle-down"> </i></a>
					<ul class="nav-dropdown">
						<li><a href="shop-left-sidebar-list.html">CLOTHING <i class="fa fa-angle-down"> </i></a></li>
						<li><a href="shop-left-sidebar-list.html">Boots</a></li>
						<li><a href="shop-left-sidebar-list.html">Bottoms</a></li>
						<li><a href="shop-left-sidebar-list.html">T-Shirts</a></li>
						<li><a href="shop-left-sidebar-list.html">Accessories</a></li>
					
						<li><a href="shop-left-sidebar-list.html">DRESSES <i class="fa fa-angle-down"> </i></a></li>
						<li><a href="shop-left-sidebar-list.html">Boots</a></li>
						<li><a href="shop-left-sidebar-list.html">Bottoms</a></li>
						<li><a href="shop-left-sidebar-list.html">T-Shirts</a></li>
						<li><a href="shop-left-sidebar-list.html">Accessories</a></li>
					
						<li><a href="shop-left-sidebar-list.html">SNEAKERS<i class="fa fa-angle-down"> </i></a></li>
						<li><a href="shop-left-sidebar-list.html">Boots</a></li>
						<li><a href="shop-left-sidebar-list.html">Bottoms</a></li>
						<li><a href="shop-left-sidebar-list.html">T-Shirts</a></li>
						<li><a href="shop-left-sidebar-list.html">Accessories</a></li>
					</ul>
				</li>
				<li>
					<a href="shop-left-sidebar-list.html">Men</a>
				</li>

				<li>
					<a href="contact.html">Contact</a>
				</li>

				<li>
					<a href="">Pages <i class="fa fa-angle-down"></i></a>
					<!-- for drop down menu -->
					<ul class="nav-dropdown">
						<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
						<li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
						<li><a href="blog-lists-style.html"> Blog List Style</a></li>
						<li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
						<li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
						<li><a href="product-left-sidebar.html">Product Left Sidebar</a></li>
						<li><a href="product-right-sidebar.html">Product Right Sidebar</a></li>
						<li><a href="product-no-sidebar.html">Product No Sidebar</a></li>
						<li><a href="shopping-cart.html">shopping cart page</a></li>
						<li><a href="checkout.html">checkout page</a></li>
						<li><a href="404.html">404 Page</a></li>
					</ul>
				</li>
			</ul>						
		</nav>
	</div>
	<!--MOBILE MENU END -->
	
	<!--MAIN MENU AREA  START-->
	<div class="main_menu_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 ">
				<!--DESKTOP MENU START -->
					<div class="mainmenu">
						<nav>
							<ul id="nav">
								<li>
									<a href="index.html">HOME <i class="fa fa-angle-down"></i> </a>
									<!-- for drop down menu -->
									<ul class="nav-dropdown">
										<li><a href="index-2.html"><i class="fa fa-caret-right"></i> Home 2</a></li>
										<li><a href="index-3.html"> <i class="fa fa-caret-right"></i> Home 3</a></li>
										<li><a href="index-4.html"> <i class="fa fa-caret-right"></i> Home Lookbook</a></li>
									</ul>
								</li>
								<li>
									<a href="">Women <i class="fa fa-angle-down"> </i></a>
										<div class="mega-menu">
											<span>
												<a class="mega_title" href="#">CLOTHING</a>
												<a href="shop-left-sidebar-list.html">Floral Print Buttoned</a>
												<a href="shop-left-sidebar-list.html">Boots</a>
												<a href="shop-left-sidebar-list.html">Bottoms</a>
												<a href="shop-left-sidebar-list.html">T-Shirts</a>
												<a href="shop-left-sidebar-list.html">T-Shirts</a>
												<a href="shop-left-sidebar-list.html">Accessories</a>
											</span>
											<span>		
												<a class="mega_title" href="shop-left-sidebar-list.html">CLOTHING</a>
												<a href="shop-left-sidebar-list.html">Dresses</a>
												<a href="shop-left-sidebar-list.html">T-Shirts</a>
												<a href="shop-left-sidebar-list.html">Hats</a>
												<a href="shop-left-sidebar-list.html">Jeans</a>
												<a href="shop-left-sidebar-list.html">Bags</a>
												<a href="shop-left-sidebar-list.html">Jackets</a>
											</span>
											<span>		
												<a class="mega_title" href="#">CLOTHING</a>
												<a href="shop-left-sidebar-list.html">Jeans</a>
												<a href="shop-left-sidebar-list.html">Sneakers</a>
												<a href="shop-left-sidebar-list.html">Bottoms</a>
												<a href="shop-left-sidebar-list.html">Accessories</a>
												<a href="shop-left-sidebar-list.html">T-Shirts</a>
												<a href="shop-left-sidebar-list.html">Accessories</a>
											</span>
											<span>											
												<a class="mega_title " href="#"> <img src="img/custom-image.jpg" alt="" /> </a>
											</span>
										</div>	
								</li>
								<li>
									<a href="shop-left-sidebar-list.html">Men</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
								<li >
									<a href="">Pages <i class="fa fa-angle-down"></i></a>
									<!-- for drop down menu -->
									<ul class="nav-dropdown">
										<li><a href="blog-right-sidebar.html"><i class="fa fa-caret-right"></i>Blog Right Sidebar</a></li>
										<li><a href="blog-fullwidth.html"> <i class="fa fa-caret-right"></i> Blog Fullwidth</a></li>
										<li><a href="blog-lists-style.html"> <i class="fa fa-caret-right"></i> Blog List Style</a></li>
										<li><a href="shop-left-sidebar.html"> <i class="fa fa-caret-right"></i> Shop Left Sidebar</a></li>
										<li><a href="shop-right-sidebar.html"> <i class="fa fa-caret-right"></i> Shop Right Sidebar</a></li>
										<li><a href="product-left-sidebar.html"> <i class="fa fa-caret-right"></i> Product Left Sidebar</a></li>
										<li><a href="product-right-sidebar.html"> <i class="fa fa-caret-right"></i>Product Right Sidebar</a></li>
										<li><a href="product-no-sidebar.html"> <i class="fa fa-caret-right"></i>Product No Sidebar</a></li>
										<li><a href="shopping-cart.html"><i class="fa fa-caret-right"></i>shopping cart page</a></li>
										<li><a href="checkout.html"><i class="fa fa-caret-right"></i>checkout page</a></li>
										<li><a href="404.html"> <i class="fa fa-caret-right"></i>404 Page</a></li>
										
									</ul>
								</li>
							</ul>						
						</nav>
					</div>
				<!--DESKTOP MENU END -->
				</div>
			</div>
		</div>
	</div>
	<!--MAIN MENU AREA  END-->
		
	<!--BREADCRUMB AREA START -->
	<div class="breadcrumb_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">	
					<div class="breadcrumb-row">
                         <h3 class="breadcrumb"><a href="#" class="home">Home</a><span>/</span>Checkout</h3>
                     </div>
				</div>
			</div>
		</div>
	</div>
	<!--BREADCRUMB AREA END -->
	
	<!--PAGE-CHECKOUT-DETAIL AREA START -->
	<div class="page-checkout_area checkout-detail ">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="checkout-breadcrumb">
						<a href="#">
							<div class="title-cart">
								<span>1</span>
								<p>Shopping Cart</p>
							</div>
						</a>
						<a href="#">
							<div class="title-checkout title-cart">
								<span>2</span>
								<p>Checkout details</p>
							</div>
						</a>
						<div class="title-thankyou">
							<span>3</span>
							<p>Order Complete</p>
						</div>
					</div>
					<div class="login_area">
						<p class="login-info lost_password">Returning customer? <span class="showlogin" id="showlogin">Click here to login</span></p>
						<form id="login" class="login">
							<p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing &amp; Shipping section.</p>

							<p class="form-row form-row-first">
								<label class="level_flot">Username or email <span class="required">*</span></label>
								<input type="text" id="username" name="username" class="input-text" >
							</p>
							<p class="form-row-last">
								<label class="level_flot">Password <span class="required">*</span></label>
								<input type="password" id="password" name="password" class="input-text" >
							</p>
							<p class="rows">
								<input type="submit" value="Login" name="login" class="button"/>
							</p>
							<label class="rember_chack"><input type="checkbox" id="rememberme" name="rememberme"/> Remember me </label>
							<p class="lost_password">
								<a href="#">Lost your password?</a>
							</p>
		
						</form>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="Billing_Details_area">
								<h2>Billing Details</h2>
								<div class="beling_info">
									<div class="row">
										    <div class="col-lg-12 col-md-12 col-sm-12">
												<div class="level">
													Country <span class="required" title="required">*</span>
												</div>
												<div class=" shipping-wrapper">
												  <select class="country_to_states">
													<option value="">Bangladesh</option>
													<option value="ZW">Barbados</option>		
													<option value="ZW">Zimbabwe</option>		
													<option value="ZW">Afghanistan</option>		
													<option value="ZW">Angola</option>		
													<option value="ZW">Aruba</option>		
													<option value="ZW">Bahamas</option>		
													<option value="ZW">Barbados</option>		
													<option value="ZW">Bouvet Island</option>		
												  </select>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="bell_ditl_s">
													<div class="level">
														First Name <span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="Type Your First Name" />
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="bell_ditl_s">
													<div class="level">
														Last Name <span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="Type Your Last Name" />
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														Company Name 
													</div>
													<input type="text" placeholder="Type Your Company Name " />
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														Address <span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="Type Your Street address " />
													<input class="opsonal" type="text" placeholder="Apartment, suite, unit etc. (optional) " />
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														Town / City<span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="Town / City" />
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														State / County <span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="State / County" />
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														Postcode / Zip <span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="Postcode / Zip" />
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="bell_ditl_s">
													<div class="level">
														Email Address <span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="Type Your First Name" />
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="bell_ditl_s">
													<div class="level">
														Phone <span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="Type Your Last Name" />
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="bell_ditl_s">
													<input id="cbox" class="input-checkbox" type="checkbox"/>
													<label class="checkbox">Create an account?</label>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="cbox_info">
													<p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
													<div class="bell_ditl_s">
														<div class="level">
															Account password  <span class="required" title="required">*</span>
														</div>
														<input type="text" placeholder="password " />
													</div>
												</div>
											</div>
									    </div>
										
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
						   	 <div class="Billing_Details_area">
								<div class="bell_ditl_ss">
									<label class="checkboxs"><span>Ship to a different address?</span> </label>
									<input id="cboxss" class="input-checkbox" type="checkbox"/>
								</div>
								<div id="other_adderss"  class="beling_info">
									<div class="row">
										<div id="anotheraddress">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="level">
													Country <span class="required" title="required">*</span>
												</div>
												<div class=" shipping-wrapper">
												  <select class="country_to_states">
													<option value="">Bangladesh</option>
													<option value="ZW">Barbados</option>		
													<option value="ZW">Zimbabwe</option>		
													<option value="ZW">Afghanistan</option>		
													<option value="ZW">Angola</option>		
													<option value="ZW">Aruba</option>		
													<option value="ZW">Bahamas</option>		
													<option value="ZW">Barbados</option>		
													<option value="ZW">Bouvet Island</option>		
												  </select>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														First Name <span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="Type Your First Name" />
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														Last Name <span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="Type Your Last Name" />
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														Company Name 
													</div>
													<input type="text" placeholder="Type Your Company Name " />
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														Address <span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="Type Your Street address " />
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														City<span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="City" />
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														County <span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="County" />
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="bell_ditl_s">
													<div class="level">
														Postcode<span class="required" title="required">*</span>
													</div>
													<input type="text" placeholder="Postcode" />
												</div>
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="bell_ditl_s hhf">
												<div class="level">
													Order Notes<span class="required" title="required">*</span>
												</div>												
												<textarea name="#"  id="#" cols="30" rows="10" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
											</div>
										</div>
										
									</div>
								</div>	
							 </div>
						    </div>
						</div>
						
					<div class="janina">
						<div class="Your_order">
							<h2>Your order</h2>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="last-order">
									<table id="order_review" class="shop_table">
										<thead>
											<tr>
												<th class="product-name">Product</th>
												<th class="product-total">Total</th>
											</tr>
										</thead>
										<tfoot>
											<tr class="cart-subtotal">
												<th>Cart Subtotal</th>
												<td><span class="amount">$80.00</span></td>
											</tr>
											<tr class="shipping">
												<th>Shipping</th>
												<td>Free Shipping</td>
											</tr>
											<tr class="order-total">
												<th>Order Total</th>
												<td><strong><span class="amount">$80.00</span></strong> </td>
											</tr>
										</tfoot>
										<tbody>
											<tr class="cart_item">
												<td class="product-name">
													Floral Print Buttoned<strong class="product-quantity">× 2</strong>
												</td>
												<td class="product-total">
													<span class="amount">$50.00</span>								
												</td>
											</tr>
											<tr class="cart_item">
												<td class="product-name">
													Night Sky Print<strong class="product-quantity">× 1</strong>	
												</td>
												<td class="product-total">
													<span class="amount">$30.00</span>								
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>	
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="card_area calcul">
									<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									  <div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
										  <h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											  Direct Bank Transfer 
											</a>
										  </h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										  <div class="panel-body">
											Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.
										  </div>
										</div>
									  </div>
									  
									  <div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
										  <h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											  Cheque Payment 
											</a>
										  </h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										  <div class="panel-body">
											Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
										  </div>
										</div>
									  </div>
									  <div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
										  <h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											  PayPal <img src="img/AM_mc_vs_ms_ae_UK.png" alt="AM_mc_vs_ms_ae_UK.png" />
											</a>
										  </h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										  <div class="panel-body">
											Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.
										  </div>
										</div>
									  </div>
									</div>
								</div>
								<input type="submit" value="Place order"  name="#" class="buttons"/>
							</div>	
						</div>
					</div>	
				</div>
					
			</div>
		</div>
	</div>
	<!--PAGE-CHECKOUT-DETAIL AREA END -->
	
	<!--FOOTER TOP AREA START -->
	<div class="top_footer_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 ">	
					<div class="ft_widget">
						<h2 class="ft_widget_title">ABOUT US</h2>
						<p>Quisque eget elit purus. Vivamus dictum rutrum ipsum, quist ornare lorem iaculis nec. Sed volutpat tincdunt justo eget lob ortis. Phasellus molestie rutrum lorem sit. Quisque eget elit purus. Vivamus dictum rutrum ipsumi.</p>
						<div class="social_icons"> 
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-envelope-o"></i></a>
							<a href="#"><i class="fa fa-pinterest"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-3 ">	
					<div class="ft_widget tweets ">
						<h2 class="ft_widget_title">Recent Tweets</h2>
						<ul>
							<li>
								<i class="twit fa fa-twitter"></i> 
								<p>DevItems Demo - Rosette <span>
									<a href="#">http://t.co/d3fygierpX</a></span>
								</p> 
								<span class="twt_time"><a href="">19 days ago</a></span>
							</li>
							<li>
								<i class="twit fa fa-twitter"></i>
								<p>Awesome freebie! MacBook Air Mockup <span> 
								<a href="#">http://t.co/d3fygierpX</a></span>
								</p>
								<span class="twt_time"><a href="">222 days ago</a></span>
							</li>
						</ul>
						
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-5 ">	
					<div class="ft_widget">
						<h2 class="ft_widget_title">Photos from Flickr</h2>
						<div class="flickr_img">
							<a href="#"><img src="img/flicker/1.jpg" alt="" /></a>
							<a href="#"><img src="img/flicker/2.jpg" alt="" /></a>
							<a href="#"><img src="img/flicker/3.jpg" alt="" /></a>
							<a href="#"><img src="img/flicker/4.jpg" alt="" /></a>
							<a href="#"><img src="img/flicker/5.jpg" alt="" /></a>
							<a href="#"><img src="img/flicker/6.jpg" alt="" /></a>
							<a href="#"><img src="img/flicker/7.jpg" alt="" /></a>
							<a href="#"><img src="img/flicker/8.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>	
		</div>		
	</div>
	<!--FOOTER TOP AREA END -->	
	
	<!--FOOTER AREA START -->
	<div class="footer_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">	
					<div class="address">
						<a href="#"><img src="img/logo-footer.png" alt="" /></a>
						<ul>
							<li> 
							<i class="fa fa-paper-plane"></i>
							<div class="contact-text">
								<span>868 Bechole Road, Victory Lorem Ispuse, New York</span>
							</div>
							</li>
							<li> 
							<i class="fa fa-phone"></i>
							<div class="contact-text">
								<span>Phone: (+80) 123 456 Fax: (+80) 123 456 789</span>
							</div>
							</li>
							<li class="flast"> 
							<i class="fa fa-envelope"></i>
							<div class="contact-text">
								<span>Email: Contact@DevItems.us Website: www.DevItems.us</span>
							</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">	
					<div class="block">
						<h2 class="ft_widget_title">CUSTOM BLOCK</h2>
						<ul>
							<li><a href="">About us</a></li>
							<li><a href="">Privacy Policy</a></li>
							<li><a href="">Terms &amp; Condition</a></li>
							<li><a href="">Best Seller</a></li>
							<li><a href="">Manufactures</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 hidden-sm col-xs-12">	
					<div class="block">
						<h2 class="ft_widget_title">INFORMATION</h2>
						<ul>
							<li><a href="">Delivery Information</a></li>
							<li><a href="">Privacy Policy</a></li>
							<li><a href="">Terms &amp; Condition</a></li>
							<li><a href="">Search Terms</a></li>
							<li><a href="">Order &amp; Return</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 ">	
					<div class="block">
						<h2 class="ft_widget_title">OPENNING TIME</h2>
						<div class="open_time">
							<ul class="openning-time">
								<li><div class="inner"><i class="fa fa-caret-right"></i>Monday - Friday<span>8.00 AM - 8.00 PM</span></div></li>
								<li><div class="inner"><i class="fa fa-caret-right"></i>Saturday<span>9.00 AM - 9.00 PM</span></div></li>
								<li><div class="inner"><i class="fa fa-caret-right"></i>Sunday<span>10.00 AM - 6.00 PM</span></div></li>
							</ul>
							<ul class="payment-img text-center">
								<li><img alt="" src="img/payment.png"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>	
		</div>		
	</div>
	<!--FOOTER AREA END -->
	
	<!--COPY RIGHT AREA START -->
	<div class="copy_right_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">	
					<div class="copy_text ">
						<p>Copyright &copy; 2016 <a href="#">DevItems</a>. All Right Reserved.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 hidden-sm hidden-xs ">	
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">	
					<div class="copy_menu">
						<ul>
							<li><a href="">Blog</a></li>
							<li><a href="">Shop</a></li>
							<li><a href="">Contact Us</a></li>
							<li><a href="">Login</a></li>
						</ul>
					</div>
				</div>
			</div>	
		</div>		
	</div>
	<!--COPY RIGHT AREA END -->
	
    <!-- ALL JS FILES -->
	<!-- jquery js -->
	<script src="js/vendor/jquery-1.12.0.min.js"></script>
	<!-- jquery easytabs js -->
	<script src="js/jquery.easytabs.js"></script>
	<!-- jquery scrollUp js -->
	<script src="js/jquery.scrollUp.min.js"></script>
	<!-- bootstrap js -->
	<script src="js/bootstrap.min.js"></script>
	<!-- owl.carousel.min js -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- FancyBox -->
	<script src="js/jquery.fancybox.pack.js"></script>
	<!-- jquery.easing js -->
	<script src="js/jquery.easing.1.3.min.js"></script>	
	<!-- bxslider js -->
	<script src="js/jquery.bxslider.min.js"></script>		
    <!-- nivo.slider js -->
    <script src="lib/js/jquery.nivo.slider.pack.js"></script>		
    <script src="lib/js/nivo-active.js"></script>
	<!-- wow js -->
	<script src="js/wow.min.js"></script>		
	<!-- plugins js -->
	<script src="js/plugins.js"></script>
	<!-- main js -->
	<script src="js/main.js"></script>
    </body>
</html>
