/*--
   13. Contact Area Css
-------------------------*/

.contact-area {
    margin-bottom: -170px;
    margin-top: -375px;
    @media #{$desktop-device}{
        margin-bottom: -162px;
        margin-top: -391px;
    }
    @media #{$tablet-device}{
        margin-top: 80px;
    }
    @media #{$large-mobile}{
        margin-top: 70px;
    }
    @media #{$small-mobile}{
        margin-top: 60px;
    }
}
.contact-info-container {
    background: #fff;
    padding: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
    border-radius: 5px;
    @media #{$tablet-device}{
        
    }
    @media #{$large-mobile}{
        padding: 30px 20px;
    }
}
.form-control {
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 12px 12px;
    border-radius: 5px;
}
input:focus {
    outline: none;
}
.form-control:focus {
    outline: none;
    box-shadow:none;
    border-color: $theme-color;
}
.contact-form-area {
    & input {
        color: #333;
    }
    & textarea {
        height: 150px;
    }
    & .submit-form {
        margin-bottom: 0;
        & .button {
            border: none;
            padding: 12px 40px;
            text-transform: uppercase;
            font-weight: 600;
            background: #333;
            color: #fff;
            border-radius: 30px;
            &:hover {
                background: $theme-color;
                color: #fff;
            }
        } 
    }
}
.contact-address {
    & ul {
        & li {
            margin-bottom: 20px;
            display: flex;
            align-items:center;
            font-size: 16px;
            @media #{$small-mobile}{
                flex-direction: column;
                align-items:flex-start;
            }
            & i {
                border: 2px solid #444;
                border-radius: 50%;
                display: inline-block;
                height: 48px;
                line-height: 44px;
                margin-right: 15px;
                text-align: center;
                width: 48px;
                @media #{$small-mobile}{
                   margin-bottom: 15px;
                }
            }
        }
    }
}
.contact-area-two {
    & .contact-info-container {
        padding: 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0,0.0);
        
    }    
    & .form-control {
        border-radius: 25px;
        padding: 12px 20px;
    }
    & textarea {
        border-radius: 25px;
    }
    & .submit-form {
        & .button {
            background: #863F51;
            &:hover {
                background: #222;
            }
        } 
    }
    
}
.form-messege {
    margin-bottom: 0;
    margin-top: 3px;
    &.error {
        color: red;
        font-style: italic;
    }
    &.success {
        color: #008000;
        font-style: italic;
    }  
}
/*--
    - Download Area Css
------------------------*/
.download-area {
    padding: 100px 0 478px;
    @media #{$tablet-device}{
        padding: 80px 0 65px;
    }
    @media #{$large-mobile}{
        padding: 70px 0 55px;
    }
    @media #{$small-mobile}{
        padding: 60px 0 45px;
    }
}
.download-bg {
    background: url(../images/bg/03.jpg);
}
.download-buttons {
    & .button {
        background: #fff none repeat scroll 0 0;
        border-color: #fff;
        color: #222;
        margin: 0 15px;
        padding: 15px 30px;
        position: relative;
        display: inline-block;
        border-radius: 30px;
        font-weight: 600;
        font-size: 16px;
        align-content: center;
        transition: all 0.4s ease-in-out;
        & i {
            font-size: 18px;
            color: $theme-color;
            margin-right: 10px;
            transition: all 0.4s ease-in-out;
        }
        &:hover {
            background: #222;
            border-color: #222;
            color: #fff;
            & i {
                color: #fff;
            }
        }
        @media #{$large-mobile}{
            margin: 0 15px 15px 0;
        }
        @media #{$small-mobile}{
            margin: 0 0 15px 0;
        }
    }
}