/*--
    14. Fotter Area Css
-------------------------------*/
.footer-content-area {
    background: #222;
    padding-top: 170px;
    &.fotter-content-two {
        padding-top: 0;
        background: #863F51;
    }
}
.footer-content {
    text-align: center;
    padding: 40px 0 50px;
    color: #fff;
    & p {
        margin: 15px 0;
    }
    & .social-link {
        & a {
            color: #fff;
            border: 2px solid #fff;
            width: 40px;
            text-align: center;
            height: 40px;
            line-height: 36px;
            display: inline-block;
            border-radius: 50%;
            margin: 0 3px;
            &:hover {
                background: $theme-color;
                color: $white;
                border: 2px solid $theme-color;
            }
        }
    }
}
