/*--
    11. Team  Area Css
------------------------*/
.single-team {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px 5px rgba(15, 9, 128, 0.035), 5px 12px 30px 5px rgba(15, 9, 128, 0.05);
    & .team-imgae {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.1) linear-gradient(to bottom, rgba(133, 63, 65, 0.3) 0%, #4D3543 100%) repeat scroll 0 0;;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: all 0.4s ease-in-out;
        }
        & .social-link {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            color: #fff;
            transition: all 0.3s ease-in-out;
            width: 100%;
            opacity: 0;
            & a {
                font-size: 14px;
                margin: 0 5px;
                border: 1px solid #fff;
                width: 34px;
                border-radius: 50%;
                height: 34px;
                line-height: 34px;
                &:hover {
                    &.facebook:hover {
                        background: #3B5998;
                        border: 1px solid #3B5998;
                        color: #fff;
                    }
                    &.twitter:hover {
                        background: #00ACEE;
                        border: 1px solid #00ACEE;
                        color: #fff;
                    }
                    &.google-plus:hover {
                        background: #DD4C48;
                        border: 1px solid #DD4C48;
                        color: #fff;
                    }
                    &.vimeo:hover {
                        background: #1AB7EA;
                        border: 1px solid #1AB7EA;
                        color: #fff;
                    }
                    &.dribbble:hover {
                        background: #E2324D;
                        border: 1px solid #E2324D;
                        color: #fff;
                    }
                }
            }
        }
    }
    & .team-info {
        background: #fff;
        text-align: center;
        padding: 10px 0;
        & h3 {
            font-weight: 500;
            font-size: 20px;
            margin: 0  0 5px 0;
        }
        & p {
            font-size: 14px;
            margin-bottom: 4px;
            line-height: 20px;
            text-transform: capitalize;
        }
    }
    &:hover {
        & .team-imgae {
            &::before {
                opacity: 1;
            }
        }
        & .social-link {
            bottom: 20px;
            opacity: 1;
        }
        
    }
}

// tema two css

.team {
    margin-bottom: 30px;
    ul {
        &.social-network {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: center;
        }
    }
    .thumb {
        position: relative;
        overflow: hidden;
    }
}
.team-5{
    text-align: center;
    .thumb{
        display: inline-block;
    }
    .team-hover-action {
        position:  absolute;
        top:  0;
        left:  0;
        width:  100%;
        height:  100%;
        border-radius: 100%;
        text-align:  center;
        &::before {
            position:  absolute;
            content:  "";
            background:  rgba(134, 63, 81,0.5);
            width: auto;
            height: auto;
            border-radius: 100%;
            left: 10px;
            top: 10px;
            bottom:  10px;
            right: 10px;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }
        .hover-action {
            position:  absolute;
            top:  50%;
            transform: translateY(-50%);
            width:  100%;
            text-align:  center;
            h4 {
                font-size:  16px;
                margin-bottom: 13px;
                font-weight:  500;
                text-transform: uppercase;
                -webkit-transform: translateX(100%);
                -moz-transform: translateX(100%);
                -ms-transform: translateX(100%);
                -o-transform: translateX(100%);
                transform: translateX(100%);
                -webkit-transition: all 0.35s ease-in-out;
                -moz-transition: all 0.35s ease-in-out;
                transition: all 0.35s ease-in-out;
                a {
                    color:  #ffffff;
                    font-size: 16px;
                }
            }

            ul{
                &.social-network{
                    -webkit-transform: translateX(-100%);
                    -moz-transform: translateX(-100%);
                    -ms-transform: translateX(-100%);
                    -o-transform: translateX(-100%);
                    transform: translateX(-100%);
                    -webkit-transition: all 0.35s ease-in-out;
                    -moz-transition: all 0.35s ease-in-out;
                    transition: all 0.35s ease-in-out;
                }
            }
        }
    }
    &:hover .team-hover-action::before{
        opacity: 1;
    }
    &:hover .team-hover-action .hover-action h4{
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    &:hover .team-hover-action .hover-action ul.social-network{
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
/*-
    Social Service Style One
-----------------------------*/
.social-net-1 {
    margin-bottom: 8px;
    li {
        margin: 0 10px;
        a {
            color: #fff;
            font-size: 14px;
            display: block;
            background: transparent;
            &.facebook:hover {
                color: #3B5998;
                background: transparent;
            }
            &.twitter:hover {
                color: #00ACEE;
                background: transparent;
            }
            &.google-plus:hover {
                color: #DD4C48;
                background: transparent;
            }
            &.vimeo:hover {
                color: #1AB7EA;
                background: transparent;
            }
            &.dribbble:hover {
                color: #E2324D;
                background: transparent;
            }
        }
    }
}




