<!doctype html>
<html class="no-js" lang="ar" dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>الصفحة الرئيسية اثنين || التعليم</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
		<!-- favicon
		============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
		
		<!-- Google Fonts
		============================================ -->		
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800' rel='stylesheet' type='text/css'>
	   
		<!-- Bootstrap CSS
		============================================ -->		
        <link rel="stylesheet" href="css/bootstrap.min.css">
        
		<!-- Fontawsome CSS
		============================================ -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        
		<!-- Owl Carousel CSS
		============================================ -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        
		<!-- jquery-ui CSS
		============================================ -->
        <link rel="stylesheet" href="css/jquery-ui.css">
        
		<!-- Meanmenu CSS
		============================================ -->
        <link rel="stylesheet" href="css/meanmenu.min.css">
        
		<!-- Animate CSS
		============================================ -->
        <link rel="stylesheet" href="css/animate.css">
        
        <!-- Nivo slider CSS
		============================================ -->
		<link rel="stylesheet" href="lib/nivo-slider/css/nivo-slider.css" type="text/css" />
		<link rel="stylesheet" href="lib/nivo-slider/css/preview.css" type="text/css" media="screen" />
        
		<!-- Metarial Iconic Font CSS
		============================================ -->
        <link rel="stylesheet" href="css/material-design-iconic-font.css">
        <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
        
		<!-- Slick CSS
		============================================ -->
        <link rel="stylesheet" href="css/slick.css">
        
		<!-- Style CSS
		============================================ -->
        <link rel="stylesheet" href="style.css">
        
		<!-- Responsive CSS
		============================================ -->
        <link rel="stylesheet" href="css/responsive.css">
        
		<!-- Modernizr JS
		============================================ -->		
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!--Header Area Start-->
        <header class="header-two">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                            <div class="header-top-right">
                                <span>الهاتف: +85 4856 5478</span>
                                <span>البريد الإلكتروني: devitems@email.com</span>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-5 hidden-xs">
                            <span>لديك أي سؤال؟ +968 547856 254</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-logo-menu sticker">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 hidden-sm hidden-xs">
                            <div class="mainmenu-area">
                                <div class="mainmenu">
                                    <nav>
                                        <ul id="nav">
                                            <li class="current"><a href="index.html">الصفحة الرئيسية</a>
                                                <ul class="sub-menu">
                                                    <li><a href="index-2.html">صفحة 2 الصفحة الرئيسية</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html">حول</a></li>
                                            <li><a href="courses.html">الدورات</a>
                                                <ul class="sub-menu">
                                                    <li><a href="courses-details.html">تفاصيل الدورات</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="index.html">الصفحات</a>
                                                <ul class="sub-menu">
                                                    <li><a href="about.html">معلومات عنا</a></li>
                                                    <li><a href="courses.html">الدورات الصفحة</a></li>
                                                    <li><a href="courses-details.html">تفاصيل الدورة الصفحة</a></li>
                                                    <li><a href="event.html">حدث الصفحة</a></li>
                                                    <li><a href="event-details.html">تفاصيل الحدث الصفحة</a></li>
                                                    <li><a href="latest-news.html">آخر أخبار الصفحة</a></li>
                                                    <li><a href="news-details.html">تفاصيل صفحة الأخبار</a></li>
                                                    <li><a href="shop-grid.html">متجر الصفحة</a></li>
                                                    <li><a href="product-details.html">تفاصيل المنتج الصفحة</a></li>
                                                    <li><a href="contact.html">اتصال</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="shop-grid.html">متجر</a>
                                                <ul class="sub-menu">
                                                    <li><a href="product-details.html">تفاصيل المنتج</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="index.html">رمز قصير</a>
                                                <ul class="sub-menu">
                                                    <li><a href="shortcode-alerts.html">التنبيهات</a></li>
                                                    <li><a href="shortcode-breadcrumbs.html">التفصيلي</a></li>
                                                    <li><a href="shortcode-button.html">زر</a></li>
                                                    <li><a href="shortcode-course.html">الدورات</a></li>
                                                    <li><a href="shortcode-dropdown.html">اسقاط</a></li>
                                                    <li><a href="shortcode-event.html">حدث</a></li>
                                                    <li><a href="shortcode-latest-news.html">أحدث الأخبار</a></li>
                                                    <li><a href="shortcode-pagination.html">ترقيم الصفحات</a></li>
                                                    <li><a href="shortcode-product.html">المنتج</a></li>
                                                    <li><a href="shortcode-facts.html">حقائق</a></li>
                                                    <li><a href="shortcode-map.html">رسم خريطة</a></li>
                                                    <li><a href="shortcode-contact-form.html">نموذج الاتصال</a></li>
                                                    <li><a href="shortcode-progressbar.html">شريط التقدم</a></li>
                                                    <li><a href="shortcode-testimonial.html">شهادة</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">اتصال</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <ul class="header-search">
                                    <li class="search-menu">
                                        <i id="toggle-search" class="zmdi zmdi-search-for"></i>
                                    </li>
                                </ul>
                                <!--Search Form-->
                                <div class="search">
                                    <div class="search-form">
                                        <form id="search-form" action="#">
                                            <input type="search" placeholder="ابحث هنا..." name="search" />
                                            <button type="submit">
                                                <span><i class="fa fa-search"></i></span>
                                            </button>
                                        </form>                                
                                    </div>
                                </div>
                                <!--End of Search Form-->
                            </div> 
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="logo">
                                <a href="index.html"><img src="img/logo/logo.png" alt="EDUCAT"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <!-- Mobile Menu Area start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li><a href="index.html">الصفحة الرئيسية</a>
                                            <ul>
                                                <li><a href="index-2.html">صفحة 2 الصفحة الرئيسية</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">معلومات عنا</a></li>
                                        <li><a href="courses.html">الدورات</a>
                                            <ul class="sub-menu">
                                                <li><a href="courses-details.html">تفاصيل الدورات</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop-grid.html">متجر</a>
                                            <ul class="sub-menu">
                                                <li><a href="product-details.html">تفاصيل المنتج</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="event.html">حدث</a>
                                            <ul class="sub-menu">
                                                <li><a href="event-details.html">تفاصيل الحدث</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html">رمز قصير</a>
                                            <ul class="sub-menu">
                                                <li><a href="shortcode-alerts.html">التنبيهات</a></li>
                                                <li><a href="shortcode-breadcrumbs.html">التفصيلي</a></li>
                                                <li><a href="shortcode-button.html">زر</a></li>
                                                <li><a href="shortcode-course.html">الدورات</a></li>
                                                <li><a href="shortcode-dropdown.html">اسقاط</a></li>
                                                <li><a href="shortcode-event.html">حدث</a></li>
                                                <li><a href="shortcode-latest-news.html">أحدث الأخبار</a></li>
                                                <li><a href="shortcode-pagination.html">ترقيم الصفحات</a></li>
                                                <li><a href="shortcode-product.html">المنتج</a></li>
                                                <li><a href="shortcode-facts.html">حقائق</a></li>
                                                <li><a href="shortcode-map.html">رسم خريطة</a></li>
                                                <li><a href="shortcode-contact-form.html">نموذج الاتصال</a></li>
                                                <li><a href="shortcode-progressbar.html">شريط التقدم</a></li>
                                                <li><a href="shortcode-testimonial.html">شهادة</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="latest-news.html">أحدث الأخبار</a>
                                            <ul class="sub-menu">
                                                <li><a href="news-details.html">تفاصيل الخبر</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">اتصل بنا</a></li>
                                    </ul>
                                </nav>
                            </div>					
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area end -->   
        </header>
        <!--End of Header Area-->
        <!--Slider Area Start-->
        <div class="slider-area slider-two">
            <div class="preview-2">
                <div id="nivoslider" class="slides">	
                    <img src="img/slider/3.jpg" alt="" title="#slider-1-caption1"/>
                    <img src="img/slider/4.jpg" alt="" title="#slider-1-caption2"/>
                </div> 
                <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                    <div class="banner-content slider-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-content-wrapper">
                                        <div class="text-content">
                                            <h1 class="title1">الاحتياجات التعليمية<br>
                                            الحل الكامل</h1>
                                            <p class="sub-title hidden-sm hidden-xs"> هناك العديد من الاختلافات من مقاطع من أبجد هوز المتاحة، ولكن الغالبية لديها<br>
                                            الكلمات عانى تغيير في شكل ما، من خلال النكتة حقن، أو العشوائية التي<br>
                                            لا تبدو حتى تصديق قليلا.</p>
                                            <div class="banner-readmore">
                                                <a class="button-default" href="#">عرض الدورات</a>	                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
                <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
                    <div class="banner-content slider-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-content-wrapper">
                                        <div class="text-content slide-2">
                                            <h1 class="title1">الاحتياجات التعليمية<br>
                                            الحل الكامل</h1>
                                            <p class="sub-title hidden-sm hidden-xs"> هناك العديد من الاختلافات من مقاطع من أبجد هوز المتاحة، ولكن الغالبية لديها<br>
                                            الكلمات عانى تغيير في شكل ما، من خلال النكتة حقن، أو العشوائية التي<br>
                                            لا تبدو حتى تصديق قليلا.</p>
                                            <div class="banner-readmore">
                                                <a class="button-default" href="#">عرض الدورات</a>	                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	 
            </div>
        </div>
        <!--End of Slider Area-->
        <!--Course Area Start-->
        <div class="course-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title-wrapper">
                            <div class="section-title">
                                <h3>الدورات الشهيرة</h3>
                                <p>هناك العديد من الاختلافات من مقاطع من أبجد هوز</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-item">
                            <div class="single-item-image overlay-effect">
                                <a href="#"><img src="img/course/1.jpg" alt=""></a>
                            </div>
                            <div class="single-item-text">
                                <h4><a href="#">فوتوشوب سي سي 2016</a></h4>
                                <div class="single-item-text-info">
                                    <span><span>20.5.15</span> تاريخ:</span>
                                    <span><span>أول من تسعة</span> كتب:</span>
                                </div>
                                <p>هناك  هناك العديد من الاختلافات من حكماء أبجد هوز المتاحة، ولكن عانت تغيير في شكل ما، من خلال اور حقن، وهناك الكثيالعديد من الاختلافات من حكماء أبجد هوز المتاحة، ولكن عانت تغيير في شكل ما، من خلال اور  حقن، وهناك الكثير ولكن عانى التصوير بالرنين المغناطيسي تغيير في بعض</p>
                                <div class="single-item-content">
                                   <div class="single-item-rating">
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star-half"></i>
                                   </div>
                                   <div class="single-item-comment-view">
                                       <span>19<i class="zmdi zmdi-comments"></i></span>
                                       <span>59<i class="zmdi zmdi-eye"></i></span>
                                   </div>
                                </div>   
                            </div>
                            <div class="button-bottom">
                                <a href="#" class="button-default">أعرف أكثر</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-item">
                            <div class="single-item-image overlay-effect">
                                <a href="#"><img src="img/course/2.jpg" alt=""></a>
                            </div>
                            <div class="single-item-text">
                                <h4><a href="#">فوتوشوب سي سي 2016</a></h4>
                                <div class="single-item-text-info">
                                    <span><span>20.5.15</span> تاريخ:</span>
                                    <span><span>أول من تسعة</span> كتب:</span>
                                </div>
                                <p>هناك  هناك العديد من الاختلافات من حكماء أبجد هوز المتاحة، ولكن عانت تغيير في شكل ما، من خلال اور حقن، وهناك الكثيالعديد من الاختلافات من حكماء أبجد هوز المتاحة، ولكن عانت تغيير في شكل ما، من خلال اور  حقن، وهناك الكثير ولكن عانى التصوير بالرنين المغناطيسي تغيير في بعض</p>
                                <div class="single-item-content">
                                   <div class="single-item-rating">
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star-half"></i>
                                   </div>
                                   <div class="single-item-comment-view">
                                       <span>19<i class="zmdi zmdi-comments"></i></span>
                                       <span>59<i class="zmdi zmdi-eye"></i></span>
                                   </div>
                                </div>   
                            </div>
                            <div class="button-bottom">
                                <a href="#" class="button-default">أعرف أكثر</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm">
                        <div class="single-item">
                            <div class="single-item-image overlay-effect">
                                <a href="#"><img src="img/course/3.jpg" alt=""></a>
                            </div>
                            <div class="single-item-text">
                                <h4><a href="#">فوتوشوب سي سي 2016</a></h4>
                                <div class="single-item-text-info">
                                    <span><span>20.5.15</span> تاريخ:</span>
                                    <span><span>أول من تسعة</span> كتب:</span>
                                </div>
                                <p>هناك  هناك العديد من الاختلافات من حكماء أبجد هوز المتاحة، ولكن عانت تغيير في شكل ما، من خلال اور حقن، وهناك الكثيالعديد من الاختلافات من حكماء أبجد هوز المتاحة، ولكن عانت تغيير في شكل ما، من خلال اور  حقن، وهناك الكثير ولكن عانى التصوير بالرنين المغناطيسي تغيير في بعض</p>
                                <div class="single-item-content">
                                   <div class="single-item-rating">
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star"></i>
                                       <i class="zmdi zmdi-star-half"></i>
                                   </div>
                                   <div class="single-item-comment-view">
                                       <span>19<i class="zmdi zmdi-comments"></i></span>
                                       <span>59<i class="zmdi zmdi-eye"></i></span>
                                   </div>
                                </div>   
                            </div>
                            <div class="button-bottom">
                                <a href="#" class="button-default">أعرف أكثر</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 text-center">
                        <a href="#" class="button-default button-large">تصفح جميع الدورات <i class="zmdi zmdi-chevron-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Course Area-->
        <!--Fun Factor Area Start-->
        <div class="fun-factor-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title-wrapper white">
                            <div class="section-title">
                                <h3>حقائق مهمة</h3>
                                <p>هناك العديد من الاختلافات من مقاطع من أبجد هوز</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="single-fun-factor">
                            <h4>معلمون</h4>
                            <h2><span class="counter">79</span>+</h2>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-fun-factor">
                            <h4>أعضاء</h4>
                            <h2><span class="counter">120</span>+</h2>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-fun-factor">
                            <h4>الدورات</h4>
                            <h2><span class="counter">36</span>+</h2>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-fun-factor">
                            <h4>بلدان</h4>
                            <h2><span class="counter">20</span>+</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Fun Factor Area-->   
        <!--Latest News Area Start--> 
        <div class="latest-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title-wrapper">
                            <div class="section-title">
                                <h3>أحدث الأخبار</h3>
                                <p>هناك العديد من الاختلافات من مقاطع</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-latest-item">
                            <div class="single-latest-image">
                                <a href="#"><img src="img/latest/1.jpg" alt=""></a>
                            </div>
                            <div class="single-latest-text">
                                <h3><a href="#">تعلم اللغة الإنجليزية فة</a></h3>
                                <div class="single-item-comment-view">
                                   <span><i class="zmdi zmdi-calendar-check"></i>25 يونيو 2050</span>
                                   <span><i class="zmdi zmdi-eye"></i>59</span>
                                   <span><i class="zmdi zmdi-comments"></i>19</span>
                               </div>
                               <p>هناك العديد من الاختلافات من مقاطع م>هناك العديد من الهناك العديعض الفكاهة حقن،هناك العديد من الاختلافات من م</p>
                               <a href="#" class="button-default">أعرف أكثر</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-latest-item">
                            <div class="single-latest-image">
                                <a href="#"><img src="img/latest/2.jpg" alt=""></a>
                            </div>
                            <div class="single-latest-text">
                                <h3><a href="#">تعلم اللغة الإنجليزية فة</a></h3>
                                <div class="single-item-comment-view">
                                   <span><i class="zmdi zmdi-calendar-check"></i>25 يونيو 2050</span>
                                   <span><i class="zmdi zmdi-eye"></i>59</span>
                                   <span><i class="zmdi zmdi-comments"></i>19</span>
                               </div>
                               <p>هناك العديد من الاختلافات من مقاطع م>هناك العديد من الهناك العديعض الفكاهة حقن،هناك العديد من الاختلافات من م</p>
                               <a href="#" class="button-default">أعرف أكثر</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-latest-item">
                            <div class="single-latest-image">
                                <a href="#"><img src="img/latest/3.jpg" alt=""></a>
                            </div>
                            <div class="single-latest-text">
                                <h3><a href="#">تعلم اللغة الإنجليزية فة</a></h3>
                                <div class="single-item-comment-view">
                                   <span><i class="zmdi zmdi-calendar-check"></i>25 يونيو 2050</span>
                                   <span><i class="zmdi zmdi-eye"></i>59</span>
                                   <span><i class="zmdi zmdi-comments"></i>19</span>
                               </div>
                               <p>هناك العديد من الاختلافات من مقاطع م>هناك العديد من الهناك العديعض الفكاهة حقن،هناك العديد من الاختلافات من م</p>
                               <a href="#" class="button-default">أعرف أكثر</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-latest-item">
                            <div class="single-latest-image">
                                <a href="#"><img src="img/latest/4.jpg" alt=""></a>
                            </div>
                            <div class="single-latest-text">
                                <h3><a href="#">تعلم اللغة الإنجليزية فة</a></h3>
                                <div class="single-item-comment-view">
                                   <span><i class="zmdi zmdi-calendar-check"></i>25 يونيو 2050</span>
                                   <span><i class="zmdi zmdi-eye"></i>59</span>
                                   <span><i class="zmdi zmdi-comments"></i>19</span>
                               </div>
                               <p>هناك العديد من الاختلافات من مقاطع م>هناك العديد من الهناك العديعض الفكاهة حقن،هناك العديد من الاختلافات من م</p>
                               <a href="#" class="button-default">أعرف أكثر</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Latest News Area--> 
        <!--Testimonial Area Start-->
        <div class="testimonial-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                                <div class="testimonial-image-slider text-center">
                                    <div class="sin-testiImage">
                                        <img src="img/testimonial/1.jpg" alt="testimonial 1" />
                                    </div>
                                    <div class="sin-testiImage">
                                        <img src="img/testimonial/2.jpg" alt="testimonial 2" />
                                    </div>
                                    <div class="sin-testiImage">
                                        <img src="img/testimonial/3.jpg" alt="testimonial 3" />
                                    </div>
                                    <div class="sin-testiImage">
                                        <img src="img/testimonial/1.jpg" alt="testimonial 1" />
                                    </div>
                                    <div class="sin-testiImage">
                                        <img src="img/testimonial/2.jpg" alt="testimonial 2" />
                                    </div>
                                    <div class="sin-testiImage">
                                        <img src="img/testimonial/3.jpg" alt="testimonial 3" />
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="testimonial-text-slider text-center">
                            <div class="sin-testiText">
                                <h2>محمد نواز </h2>
                                <p>هناك العديد من الاختلافات من مقاطع من أبجد هوز المتاحة، ولكن الغالبية عانت تغيير في شكل ما، من خلال النكتة حقن، أو العشوائية الكلمات ولكن الأغلبية عانت تغيير في شكل ما الذي لا تبدو حتى تصديق قليلا.</p>
                            </div>
                            <div class="sin-testiText">
                                <h2>تشوتشيلا ماديرا</h2>
                                <p>نام غير المصنفة في موضع تخبرنا أوديو هذا أبجد هو الإصدار فوتوشوب من أبجد هوز. حامل؛ حبلى فيل الفاعل. أبجد، هوز احترازيا إيليت حامل؛ حبلى. هناك العديد من الاختلافات من مقاطع</p>
                            </div>
                            <div class="sin-testiText">
                                <h2>محمد نواز </h2>
                                <p>هناك العديد من الاختلافات من مقاطع من أبجد هوز المتاحة، ولكن الغالبية عانت تغيير في شكل ما، من خلال النكتة حقن، أو العشوائية الكلمات ولكن الأغلبية عانت تغيير في شكل ما الذي لا تبدو حتى تصديق قليلا.</p>
                            </div>
                            <div class="sin-testiText">
                                <h2>تشوتشيلا ماديرا</h2>
                                <p>نام غير المصنفة في موضع تخبرنا أوديو هذا أبجد هو الإصدار فوتوشوب من أبجد هوز. حامل؛ حبلى فيل الفاعل. أبجد، هوز احترازيا إيليت حامل؛ حبلى. هناك العديد من الاختلافات من مقاطع</p>
                            </div>
                            <div class="sin-testiText">
                                <h2>محمد نواز </h2>
                                <p>هناك العديد من الاختلافات من مقاطع من أبجد هوز المتاحة، ولكن الغالبية عانت تغيير في شكل ما، من خلال النكتة حقن، أو العشوائية الكلمات ولكن الأغلبية عانت تغيير في شكل ما الذي لا تبدو حتى تصديق قليلا.</p>
                            </div>
                            <div class="sin-testiText">
                                <h2>تشوتشيلا ماديرا</h2>
                                <p>نام غير المصنفة في موضع تخبرنا أوديو هذا أبجد هو الإصدار فوتوشوب من أبجد هوز. حامل؛ حبلى فيل الفاعل. أبجد، هوز احترازيا إيليت حامل؛ حبلى. هناك العديد من الاختلافات من مقاطع</p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <!--End of Testimonial Area-->
        <!--Event Area Start-->
        <div class="event-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title-wrapper">
                            <div class="section-title">
                                <h3>فعالياتنا</h3>
                                <p>هناك العديد من الاختلافات من مقاطع</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-event-item">
                            <div class="single-event-image">
                                <a href="#">
                                    <img src="img/event/1.jpg" alt="">
                                    <span><span>15</span>يونيو</span>
                                </a>
                            </div>
                            <div class="single-event-text">
                                <h3><a href="#">تعلم اللغة الإنجليزية في </a></h3>
                                <div class="single-item-comment-view">
                                   <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                   <span><i class="zmdi zmdi-pin"></i>دكا، بنغلاديش</span>
                                </div>
                                <p>هناك العديد من الاختلافات من مقاطع من أبجد حيث، في الناعمة النكتة حقن، عمرو الدين ساراتا هناك اختلافات من باشا من هناك نص صغير، صغير جدا من ذلك بكثير ....</p>
                                <a href="#" class="button-default">أعرف أكثر</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-event-item">
                            <div class="single-event-image">
                                <a href="#">
                                    <img src="img/event/2.jpg" alt="">
                                    <span><span>15</span>يونيو</span>
                                </a>
                            </div>
                            <div class="single-event-text">
                                <h3><a href="#">تعلم اللغة الإنجليزية في </a></h3>
                                <div class="single-item-comment-view">
                                   <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                   <span><i class="zmdi zmdi-pin"></i>دكا، بنغلاديش</span>
                                </div>
                                <p>هناك العديد من الاختلافات من مقاطع من أبجد حيث، في الناعمة النكتة حقن، عمرو الدين ساراتا هناك اختلافات من باشا من هناك نص صغير، صغير جدا من ذلك بكثير ....</p>
                                <a href="#" class="button-default">أعرف أكثر</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm">
                        <div class="single-event-item">
                            <div class="single-event-image">
                                <a href="#">
                                    <img src="img/event/3.jpg" alt="">
                                    <span><span>15</span>يونيو</span>
                                </a>
                            </div>
                            <div class="single-event-text">
                                <h3><a href="#">تعلم اللغة الإنجليزية في </a></h3>
                                <div class="single-item-comment-view">
                                   <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                   <span><i class="zmdi zmdi-pin"></i>دكا، بنغلاديش</span>
                                </div>
                                <p>هناك العديد من الاختلافات من مقاطع من أبجد حيث، في الناعمة النكتة حقن، عمرو الدين ساراتا هناك اختلافات من باشا من هناك نص صغير، صغير جدا من ذلك بكثير ....</p>
                                <a href="#" class="button-default">أعرف أكثر</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Event Area-->
        <!--Newsletter Area Start-->
        <div class="newsletter-area newsletter-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <div class="newsletter-form">
                            <form action="#">
                                <div class="subscribe-form">
                                    <input type="email" name="email" placeholder="أدخل عنوان بريدك الإلكتروني ...">
                                    <button type="submit">الاشتراك</button>
                                </div>    
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="newsletter-content">
                            <h3>الاشتراك</h3>
                            <h2>في النشرة الإخبارية</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Newsletter Area-->
        <!--Footer Widget Area Start-->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="single-footer-widget">
                            <h3>إنستاجرام</h3>
                            <div class="instagram-image">
                                <div class="footer-img">
                                    <a href="#"><img src="img/footer/1.jpg" alt=""></a>
                                </div>
                                <div class="footer-img">
                                    <a href="#"><img src="img/footer/2.jpg" alt=""></a>
                                </div>
                                <div class="footer-img">
                                    <a href="#"><img src="img/footer/3.jpg" alt=""></a>
                                </div>
                                <div class="footer-img">
                                    <a href="#"><img src="img/footer/4.jpg" alt=""></a>
                                </div>
                                <div class="footer-img">
                                    <a href="#"><img src="img/footer/5.jpg" alt=""></a>
                                </div>
                                <div class="footer-img">
                                    <a href="#"><img src="img/footer/6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm">
                        <div class="single-footer-widget">
                            <h3>روابط مفيدة</h3>
                            <ul class="footer-list">
                                <li><a href="#">المعلمين والموظفين</a></li>
                                <li><a href="#">دوراتنا</a></li>
                                <li><a href="#">دورات الفئات</a></li>
                                <li><a href="#">الدعم</a></li>
                                <li><a href="#">البنود و الظروف</a></li>
                                <li><a href="#">سياسة الخصوصية</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="single-footer-widget">
                            <h3>الحصول على اتصال</h3>
                            <span><i class="fa fa-phone"></i>+88 018 785 4589</span>
                            <span><i class="fa fa-envelope"></i>devitems@email.com</span>
                            <span><i class="fa fa-globe"></i>www.devitems.com</span>
                            <span><i class="fa fa-map-marker"></i>عنوان يذهب هنا، الشارع.</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="single-footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="img/logo/footer.png" alt=""></a>
                            </div>
                            <p>هناك العديد من الاختلافات من مقاطع من أبجد هوز متاح، ولكن الغالبية عانت تغيير،هناك العديد من الاختلافات من مقاطع من أبجد هوز متاح، ولكن الغالبية عانت تغيير،</p>
                            <div class="social-icons">
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                                <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                <a href="#"><i class="zmdi zmdi-rss"></i></a>
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Footer Widget Area-->
        <!--Footer Area Start-->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-5">
                        <div class="column-right">
                            <span>سياسة الخصوصية وشروط والاحكام</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-7">
                        <span> حق النشر &copy; التعليم 2016. جميع الحقوق محفوظة. التي أنشأتها<a href="#">Devitems</a></span>
                    </div>
                </div>
            </div>
        </footer>
        <!--End of Footer Area-->
        
        
		<!-- jquery
		============================================ -->		
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        
		<!-- bootstrap JS
		============================================ -->		
        <script src="js/bootstrap.min.js"></script>
        
        <!-- nivo slider js
		============================================ -->       
		<script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
		<script src="lib/nivo-slider/home.js" type="text/javascript"></script>
        
		<!-- meanmenu JS
		============================================ -->		
        <script src="js/jquery.meanmenu.js"></script>
		
		<!-- wow JS
		============================================ -->		
        <script src="js/wow.min.js"></script>
        
		<!-- owl.carousel JS
		============================================ -->		
        <script src="js/owl.carousel.min.js"></script>
        
		<!-- scrollUp JS
		============================================ -->		
        <script src="js/jquery.scrollUp.min.js"></script>
        
		<!-- Waypoints JS
		============================================ -->		
        <script src="js/waypoints.min.js"></script>
        
		<!-- Counterup JS
		============================================ -->		
        <script src="js/jquery.counterup.min.js"></script>
        
		<!-- Slick JS
		============================================ -->		
        <script src="js/slick.min.js"></script>
        
		<!-- plugins JS
		============================================ -->		
        <script src="js/plugins.js"></script>
        
		<!-- main JS
		============================================ -->		
        <script src="js/main.js"></script>
    </body>
</html>