<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Text Style One || Expu</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- favicon
        ============================================ -->		
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
        
        <!-- All css files are included here
        ============================================ -->  		
        <link rel="stylesheet" href="css/bootstrap.min.css"> 
        <link rel="stylesheet" href="css/core.css">   
        <link rel="stylesheet" href="css/shortcode/shortcodes.css">  
        <link rel="stylesheet" href="css/plugins/hover.css">   
        <link rel="stylesheet" href="css/plugins/jquery.mb.YTPlayer.css">  
        <link rel="stylesheet" href="css/plugins/animated-headlines.css">  
        <link rel="stylesheet" href="css/plugins/reset.css">  
        <link rel="stylesheet" href="css/plugins/owl.carousel.css">  
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">  
        <link rel="stylesheet" href="css/style-customizer.css">
    	<link href="#" data-style="styles" rel="stylesheet"> 
        
        <!-- Modernizr JS -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>    
    </head>  
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->  

        <!--Main Wrapper Start-->
        <div class="wrapper bg-white fix">
            <!--Bg White Start-->
            <div class="bg-white">
                <!--Header Area Start-->
                <header class="header-area header-position sticker" id="topnav">
                    <div class="header-wrapper header-padding">
						<div class="container-fluid">
                            <div class="header-bg header-sub-padding">
                                <div class="logo">
                                    <a href="index.html"><img src="images/logo/logo.png" alt="expu" /></a>
                                </div>
                                <div class="menu-area">
                                    <div class="search-menu-wrapper">
                                        <!--Search Form Start-->
                                        <div class="search-btn">
                                            <ul data-toggle="dropdown" class="header-search search-toggle">
                                                <li class="search-menu">
                                                    <i class="zmdi zmdi-search"></i>
                                                </li>
                                            </ul>
                                            <div class="search">
                                                <div class="search-form">
                                                    <form id="search-form" action="#">
                                                        <input type="search" placeholder="Search here..." name="search" />
                                                        <button type="submit">
                                                            <span><i class="fa fa-search"></i></span>
                                                        </button>
                                                    </form>                                
                                                </div>
                                            </div>
                                        </div>	
                                        <!--End of Search Form-->
                                        <div class="menu-item">
                                    <!-- Mobile menu toggle-->
                                        <a class="navbar-toggle">
                                            <div class="lines">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </a>
                                    <!-- End mobile menu toggle-->
                                    </div>
                                    </div>				
                                    <div id="navigation" class="main-menu">
                                        <nav>
                                            <ul class="navigation-menu">
                                                <li><a href="#">home <i class="fa fa-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="index.html">Home Default Style</a></li>
                                                        <li><a href="homepage-animated-bg.html">home Animated Background</a></li>
                                                        <li><a href="homepage-parallax-bg.html">home Parallax Background</a></li>
                                                        <li><a href="homepage-video-bg.html">home Video Background</a></li>
                                                        <li><a href="homepage-text-style-one.html">home text style one</a></li>
                                                        <li><a href="homepage-text-style-two.html">home text style two</a></li>
                                                        <li><a href="homepage-text-style-three.html">home text style three</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Shortcodes <i class="fa fa-angle-down"></i></a>
                                                    <ul class="submenu megamenu">
                                                        <li><a href="#">Shortcode List</a>
                                                            <ul>
                                                                <li><a href="shortcode-about.html">shortcode about</a></li>
                                                                <li><a href="shortcode-alert.html">shortcode alert</a></li>
                                                                <li><a href="shortcode-breadcrumb.html">shortcode breadcrumb</a></li>
                                                                <li><a href="shortcode-business.html">shortcode business</a></li>
                                                                <li><a href="shortcode-button.html">shortcode button</a></li>
                                                                <li><a href="shortcode-case.html">shortcode case</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Shortcode List</a>
                                                            <ul>
                                                                <li><a href="shortcode-contact.html">shortcode contact</a></li>
                                                                <li><a href="shortcode-form.html">shortcode form</a></li>
                                                                <li><a href="shortcode-feature.html">shortcode feature</a></li>
                                                                <li><a href="shortcode-map.html">shortcode map</a></li>
                                                                <li><a href="shortcode-news.html">shortcode news</a></li>
                                                                <li><a href="shortcode-pagination.html">shortcode pagination</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Shortcode List</a>
                                                            <ul>
                                                                <li><a href="shortcode-pricing.html">shortcode pricing</a></li>
                                                                <li><a href="shortcode-progressbar.html">shortcode progressbar</a></li>
                                                                <li><a href="shortcode-services.html">shortcode services</a></li>
                                                                <li><a href="shortcode-solution.html">shortcode solution</a></li>
                                                                <li><a href="shortcode-team.html">shortcode team</a></li>
                                                                <li><a href="shortcode-testimonial.html">shortcode testimonial</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>							
                                                </li>
                                                <li><a href="#">feature <i class="fa fa-angle-down"></i></a>
                                                    <ul class="submenu megamenu two">
                                                        <li><a href="#">Background</a>
                                                            <ul>
                                                                <li><a href="animated-bg.html">animated bg</a></li>
                                                                <li><a href="parallax-bg.html">parallax bg</a></li>
                                                                <li><a href="video-bg.html">video bg</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Text Style</a>
                                                            <ul>
                                                                <li><a href="text-style-one.html">text style one</a></li>
                                                                <li><a href="text-style-two.html">text style two</a></li>
                                                                <li><a href="text-style-three.html">text style three</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Title</a>
                                                            <ul>
                                                                <li><a href="title-one.html">title one</a></li>
                                                                <li><a href="title-two.html">title two</a></li>
                                                                <li><a href="title-three.html">title three</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Header</a>
                                                            <ul>
                                                                <li><a href="header-one.html">header one</a></li>
                                                                <li><a href="header-two.html">header two</a></li>
                                                                <li><a href="header-three.html">header three</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Footer</a>
                                                            <ul>
                                                                <li><a href="footer-one.html">footer one</a></li>
                                                                <li><a href="footer-two.html">footer two</a></li>
                                                                <li><a href="footer-three.html">footer three</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="hidden-sm"><a href="#">news <i class="fa fa-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="latest-news.html">latest news 1</a></li>
                                                        <li><a href="latest-news-two.html">latest news 2</a></li>
                                                        <li><a href="news-details.html">news details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">page <i class="fa fa-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="faq.html">FAQ</a></li>
                                                        <li><a href="team-member.html">Team</a></li>
                                                        <li><a href="about.html">About</a></li>
                                                        <li><a href="services.html">Services</a></li>
                                                        <li><a href="case-study.html">case study</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>			
                                </div>
                            </div>
                        </div>        
                    </div>      
                </header>
                <!-- End of Header Area -->		   
                <!-- Text Style Area start -->
                <div class="banner-image-wrap default">
                    <div class="banner-content-area">    
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="home-banner-content dis-table">  
                                        <div class="dis-table-cell text-left"> 
                                            <div class="slide-content slider-padding">
                                                <h1 class="cd-headline letters type">
                                                    Expo for your
                                                    <span class="cd-words-wrapper">
                                                        <b class="is-visible text-capitalize">great</b>
                                                        <b class="text-capitalize">Best</b>
                                                    </span>
                                                </h1> 
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injectedhumour, randomised wordswhich don't look eve.</p>
                                                <a href="#" class="btn btn-cor btn-borders hidden-xs">Contact us</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <!-- Text Style Area end -->
                <!-- common start -->
                <div class="common-area ptb-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="common-para">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus aut officiis magnam adipisci animi laudantium molestiae tempora, illo iure placeat quaerat error atque temporibus, doloribus, nihil ipsam rem ducimus quidem. Perspiciatis mollitia porro, maiores.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="common-para">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus aut officiis magnam adipisci animi laudantium molestiae tempora, illo iure placeat quaerat error atque temporibus, doloribus, nihil ipsam rem ducimus quidem. Perspiciatis mollitia porro, maiores.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="common-para">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus aut officiis magnam adipisci animi laudantium molestiae tempora, illo iure placeat quaerat error atque temporibus, doloribus, nihil ipsam rem ducimus quidem. Perspiciatis mollitia porro, maiores..</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae ipsum magnam cum quam, aliquid expedita est reiciendis voluptate quibusdam voluptas saepe ad tempore nobis. Eos odio, rem quia atque aspernatur est corrupti numquam aliquid unde recusandae ex, consequuntur, repellendus consequatur nihil ad! Incidunt provident nihil possimus mollitia perspiciatis at quos.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae ipsum magnam cum quam, aliquid expedita est reiciendis voluptate quibusdam voluptas saepe ad tempore nobis. Eos odio, rem quia atque aspernatur est corrupti numquam aliquid unde recusandae ex, consequuntur, repellendus consequatur nihil ad! Incidunt provident nihil possimus mollitia perspiciatis at quos.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- common end --> 
                <!--Start of New Business Area-->
                <div class="new-business-area pt-85 pb-72">
                	<div class="container">
                		<div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="business-content">
                                    <h2>You start new business with us!</h2>
                                    <p>Expound the actual teachings of the great explorer of the truth, the master</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="business-button mt-15 pull-right">
                                    <a href="contact.html" class="hvr-bounce-to-right">contact us</a>
                                </div>
                            </div>
                		</div>
                	</div>
                </div>
                <!--End of New Business Area-->
                <!-- Start of Footer area -->
                <footer class="footer-area">
                    <div class="main-footer pt-98 pb-95">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="footer-widget">
                                        <a class="logo" href="index.html"><img src="images/logo/logo.png" alt="Expu"></a>
                                        <p>There are many variations of pof em Ipsum avalable, but the majority haveatime form, binjected humour, or romised scvono dos nai..but tha mojat man.</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="footer-widget">
                                        <h3>contact <span>us</span></h3>
                                        <img src="images/icons/3.png" alt="footer">
                                        <p>ur address goes here,stree Crossroad123.</p>
                                        <ul>
                                            <li>P: 99 55 66 88 526</li>
                                            <li>F: 55 44 77 62</li>
                                            <li>E: expu@email.com</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-2 hidden-sm col-xs-12">
                                    <div class="footer-widget">
                                        <h3>quick <span>link</span></h3>
                                        <img src="images/icons/3.png" alt="footer">
                                        <ul>
                                            <li>our services</li>
                                            <li>our company</li>
                                            <li>vission &amp; mission</li>
                                            <li>our product</li>
                                            <li>our client</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="footer-widget">
                                        <h3>newsletter <span>now</span></h3>
                                        <img src="images/icons/3.png" alt="footer">
                                        <p>There are many variations ofof reavalable, but the majority </p>
                                        <form action="#" id="mc-form" class="mc-form fix">
                                            <div class="subscribe-form">
                                                <input id="mc-email" type="email" name="email" placeholder="Email for Newsletter">
                                                <button id="mc-submit" type="submit"><i class="zmdi zmdi-mail-send"></i></button>
                                            </div>    
                                        </form>
                                        <!-- mailchimp-alerts Start -->
                                        <div class="mailchimp-alerts text-centre fix text-small">
                                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                            <div class="mailchimp-success"></div>
                                            <!-- mailchimp-success end -->
                                            <div class="footer-icons">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="footer-bottom pt-11 pb-14">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p class="pull-left">Copyright© <a href="https://themeforest.net/user/devitems/portfolio" target="_blank">Devitems</a> 2017.All right reserved</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p class="pull-right">created by devitems</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </footer>
                <!-- End of Footer area -->
            </div>   
            <!--End of Bg White--> 
            
			<!--Start of Add Property Modal-->
			<div id="quickview-login">
				<!-- Modal -->
				<div class="modal fade" id="propertyModal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="sub-title">Add property</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
							</div>
                			<div class="single-post-area">
								<form action="#" method="post">
									<div class="row">
										<div class="col-md-6">
											<h4 class="details-title text-small mb-12">Property Title</h4>
											<input type="text" name="m-title" placeholder="Enter your title here" class="mb-28">
										</div>
										<div class="col-md-6">
											<h4 class="details-title text-small mb-12">Price</h4>
											<input type="text" name="m-price" placeholder="Price $" class="mb-32">
										</div>
										<div class="col-md-12">
											<h4 class="details-title text-small mb-12">Property Description</h4>
											<textarea name="m-post-comment" cols="30" rows="10" placeholder="Write here" class="mb-12 bg-light"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<h4 class="details-title text-small mb-12">Location</h4>
											<div class="select pb-12">
												<select name="m-location">
													<option>Location here</option>
													<option>Dhaka</option>
													<option>Shylet</option>
													<option>Khulna</option>
													<option>Barishal</option>
													<option>Chittagong</option>
												</select>
											</div>
											<h4 class="details-title text-small mb-12">No. of Bedroom</h4>
											<div class="select">
												<select name="m-bedrooms">
													<option>No. of Bedroom</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<h4 class="details-title text-small mb-12">No. of Bathroom</h4>
											<div class="select pb-12">
												<select name="m-bathrooms">
													<option>No. of Bathroom</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
												</select>
											</div>
											<h4 class="details-title text-small mb-12">No. of Garage</h4>
											<div class="select">
												<select name="m-garage">
													<option>No. of Garage</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
												</select>
											</div>
										</div>
									</div>
									<div class="text-center">
										<button class="button text-white text-uppercase lemon mt-25">ADD Property</button>
									</div>
								</form>
                			</div>
						</div>	
					</div>
				</div>
			</div>
			<!--End of Add Property Modal-->
        </div>    
        <!--End of Main Wrapper Area--> 
       
        
        <!-- jquery latest version
		========================================================= -->	
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        
        <!-- Bootstrap framework js
		========================================================= -->			
        <script src="js/bootstrap.min.js"></script>
        
        <!-- Owl Carousel js
		========================================================= -->		
        <script src="js/owl.carousel.min.js"></script>
        
        <!-- Waypoint Js
		========================================================= -->	
        <script src="js/waypoints.min.js"></script>
        
		<!-- Video Player JS
		========================================================= -->			
        <script src="js/jquery.mb.YTPlayer.js"></script>
        
		<!-- AJax Mail JS
		========================================================= -->			
        <script src="js/ajax-mail.js"></script>
        
		<!-- Mail Chimp JS
		========================================================= -->			
        <script src="js/jquery.ajaxchimp.min.js"></script>
        
        <!-- Plugin Js
		========================================================= -->	
        <script src="js/plugins.js"></script>  
        
        <!-- animated headline js
		============================================ -->         
        <script src="js/animate-heading.js"></script>    
             
        <!--particles js-->
        <script src="js/particles.min.js"></script>   
        
        <!-- Main js file contents all jQuery plugins activation
		========================================================= -->		
        <script src="js/main.js"></script>
        
    </body>
</html>