/*-----------------
 * Banner
----------------------*/

.slider_area {
    .slide_fixed_height {
        height: 860px;

        @media #{$laptop-device} {
            height: 750px;
        }
        @media #{$lg-layout} {
            height: 750px;
        }
        @media #{$md-layout} {
            height: 700px;
        }
        @media #{$sm-layout} {
            height: auto;
            padding: 100px 0;
        }
    }
    .slide_text {
        position: relative;
        background-attachment: scroll;
        background-position: left center;
        background-repeat: no-repeat;
        padding: 110px 0 110px 75px;
        background-image: url(img/icons/shape.png);
        @media #{$laptop-device} {
            padding: 110px 0 110px 113px;
        }
        @media #{$lg-layout} {
            padding: 110px 0 110px 105px;
        }
        @media #{$md-layout} {
            padding: 42px 0 27px 75px;
        }
        @media #{$sm-layout} {
            padding: 42px 0 46px 83px;
            background-image: none;
        }
        @media #{$small-mobile} {
            padding: 0px 0 0px 62px;
            background-image: inherit;
        }
        h3 {
            color: #d8d8d8;
            font-size: 36px;
            font-weight: 300;
            margin-bottom: 10px;
            margin-top: 0;
            @media #{$lg-layout} {
                font-size: 30px;
                margin-bottom: 7px;
            }
            @media #{$md-layout} {}
            @media #{$sm-layout} {
                font-size: 24px;
                margin-bottom: 4px;
            }
        }
        h1 {
            color: #d8d8d8;
            font-size: 72px;
            font-weight: 600;
            line-height: 85px;
            margin-bottom: 8px;
            margin-top: 0;
            text-transform: uppercase;
            @media #{$lg-layout} {
                font-size: 50px;
                line-height: 70px;
            }
            @media #{$md-layout} {
                font-size: 45px;
                line-height: 62px;
            }
            @media #{$sm-layout} {
                font-size: 44px;
                line-height: 59px;
            }
            @media #{$small-mobile} {
                font-size: 24px;
                line-height: 38px;
            }
        }
        a {
            border-bottom: 1px solid #d8d8d8;
            color: #d8d8d8;
            display: inline-block;
            font-family: $heading-font;
            font-size: 36px;
            font-weight: 500;
            line-height: 1;
            padding-bottom: 3px;
            text-transform: capitalize;
            @media #{$lg-layout} {}
            @media #{$md-layout} {}
            @media #{$sm-layout} {
                font-size: 24px;
            }
        }
    }
    .rotate_titlE {
        left: -15%;
        position: absolute;
        top: 50%;
        transform: rotate(-90deg) translateY(50%);
        @media #{$laptop-device} {
            left: -71px;
        }
        @media #{$lg-layout} {
            left: -8.5%;
        }
        @media #{$md-layout} {
            left: -9.5%;
        }
        @media #{$sm-layout} {
            left: -6.5%;
        }
        @media #{$small-mobile} {
            left: -18.5%;
        }
        h2 {
            color: #5f5f5f;
            font-size: 36px;
            font-weight: 300;
            margin: 0;
            word-spacing: 1px;
            span {
                color: #d8d8d8;
                font-weight: 700;
            }
            @media #{$md-layout} {
                font-size: 29px;
            }
            @media #{$sm-layout} {
                font-size: 23px;
            }
        }
    }
}



.slide{
    z-index: 1;
    @media #{$sm-layout} {
        position: relative;
        &::before {
            position: absolute;
            background: #000;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            content: "";
            z-index: -1;
            opacity: 0.5;
        
        } 
    }

}





.slider--two{
    .slide_text{
        padding: 110px 0 110px 52px;

        @media #{$sm-layout} {
            padding: 0px 0px 0 52px;
        }

    }
    .rotate_titlE{
        left: -29%;

        @media #{$lg-layout} {
            left: -35%;
        }

        @media #{$md-layout} {
            left: -35%;
        }

        @media #{$sm-layout} {
            left: -19%;
        }

    }

    .slide{
        z-index: 1;
        @media #{$sm-layout} {
            position: relative;
            &::before {
                position: absolute;
                background: #000;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                content: "";
                z-index: -1;
                opacity: 0.6;
            
            } 
        }
    }




}


 






// Banner Area
.banner {
    @media #{$md-layout} {
        margin-top: 4px;
    }
    @media #{$sm-layout} {
        margin-top: 4px;
    }
    .thumb {
        a {
            overflow: hidden;
            position: relative;
            display: block;
            img {
                width: 100%;
            }
            &::before {
                background: #ffffff none repeat scroll 0 0;
                content: "";
                height: 0;
                left: 0;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                top: 0;
                transition: all 0.5s ease 0s;
                width: 0;
            }
            &:hover::before {
                height: 100%;
                opacity: 0.3;
                width: 100%;
            }
            &::after {
                background: #ffffff none repeat scroll 0 0;
                bottom: 0;
                content: "";
                height: 0;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                right: 0;
                transition: all 0.5s ease 0s;
                width: 0;
            }
            &:hover::after {
                height: 100%;
                opacity: 0.3;
                width: 100%;
            }
        }
    }
}

.box_layout {
    .slider_area {
        .rotate_titlE {
            left: -14.5%;
            @media #{$laptop-device} {
                left: -6.5%;
            }
            @media #{$lg-layout} {
                left: -8.5%;
            }
            @media #{$md-layout} {
                left: -8.5%;
            }
            @media #{$sm-layout} {
                left: -8.5%;
            }
            @media #{$small-mobile} {
                left: -17.5%;
            }
        }
    }
}