// Testimonial Area
.testimonial {
    text-align: center;
    p {
        color: #252525;
        font-size: 16px;
        line-height: 30px;
        margin-top: 30px;
        padding: 0 16%;
        @media #{$md-layout} {
            padding: 0 5%;
        }
        @media #{$sm-layout} {
            margin-top: 17px;
            padding: 0;
            font-size: 14px;
            line-height: 25px;
        }
    }
    h4 {
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 10px;
        text-transform: capitalize;
    }
    span {
        font-size: 14px;
    }
}

.testimonial_activation {
    .slick-slide {
        img {
            display: inherit;
        }
    }
}