.couple-social ul li:hover a{
    color: #4FC2C7;
}
.footer-social ul li:hover i{
    background: #4FC2C7;
}
.footer-bottom a{
    color: #4FC2C7;
}
.footer-contents.text-center > h1 {
    color: #4FC2C7;
}
.footer-bottom.two{background: #4FC2C7}
.footer-social.two ul li i {
  background: #4FC2C7 none repeat scroll 0 0;
}
.footer-social.two ul li:hover i {
  color: #4FC2C7;
}
.footer-social.three ul li:hover i{
    color: #4FC2C7;
}
.footer-area.four{
   background: #4FC2C7;
}
.portfolio-hover {
    background: rgba(79, 194, 199, 0.7);
}
.portfolio-hover i{
    color: #4FC2C7;
}
.portfolio-menu button:hover {
    color: #4FC2C7;
}
.testimonial-content i{
    color: #4FC2C7;
}
.testimonial-content h5{
    color: #4FC2C7;
}
.attending-button button {
    background: #4FC2C7;
}
.bride-img h2, .photo-hover h2{
    background: rgba(79, 194, 199, 0.6);
}
.bride-img i, .photo-hover i{
    background: #4FC2C7;
}
.blog-image span{
    background: #4FC2C7;
}
.blog-content > h3:hover > a {
    color: #4FC2C7;
}
.blog-wrapper > a {
    color: #4FC2C7;
}
.blog-wid ul li i{
    color: #4FC2C7;
}
.blog-details-contents h2 span{
    background: #4FC2C7;
}
blockquote {
    border-top: 1px solid #4FC2C7;
}
.com-reply > a {
    color: #4FC2C7;
}
.com-reply > a:hover{
    background: #4FC2C7;
}
.attending-button.text-center > button:hover{
    color: #4FC2C7;
}
.single-gift img.hover {
    border: 1px solid #4FC2C7;
}
.two .main-menu ul li:hover > a {
  color: #4FC2C7;
}
.main-menu ul li:hover a {
    background: #4FC2C7;
}
.main-menu ul li ul.submenu.megamenu ul li:hover > a, .main-menu ul li ul.submenu li:hover > a{
    background: #4FC2C7;
}
.menu-right-top ul li:hover a{
    color: #4FC2C7;
}
.three .menu-top-area{
    background: #4FC2C7;
}
.menu-logo-area.three .main-menu ul li:hover > a {
  color: #4FC2C7;
}
.single-story-content h4{
    background: #4FC2C7;
}
#scrollUp {
  background: #4FC2C7 none repeat scroll 0 0;
}
.testimonial-owl .owl-dot.active {
  color: #4FC2C7;
}